[2017-02-15 18:32] ajtritt opened #1 "Implement ImageSeries"
Originally reported by: **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**

----------------------------------------

Create the base ImageSeries class

----------------------------------------
- Bitbucket: https://bitbucket.org/lblneuro/pynwb/issue/1

[2017-02-15 18:33] ajtritt opened #2 "Integrate Spec with write functionality"
Originally reported by: **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**

----------------------------------------

* Need to be able to read in YAML specs
* Need to modify GroupBuilder class to take in Links as other Builder objects -- NOT the path to point to

----------------------------------------
- Bitbucket: https://bitbuc

[2017-02-15 19:25] ajtritt opened #3 "Convert Bouchard Lab data to NWB"
Originally reported by: **Oliver Ruebel (Bitbucket: [oruebel](https://bitbucket.org/oruebel), GitHub: [oruebel](https://github.com/oruebel))**

----------------------------------------

Create data convert scripts (and/or notebook) to convert Kris's data we used in the BRAINformat paper to convert it to NWB.

----------------------------------------
- Bitbucket: https://bitbucket.org/lblneuro/pynw

[2017-02-21 23:34] ajtritt commented on #1
*Original comment by* **dcamp_lbl (Bitbucket: [dcamp_lbl](https://bitbucket.org/dcamp_lbl), GitHub: Unknown)**:

----------------------------------------

ImageSeries basic class is done and basic test case.

Need save and load functions.

[2017-02-21 23:36] ajtritt opened #4 "Implement IndexSeries"
Originally reported by: **dcamp_lbl (Bitbucket: [dcamp_lbl](https://bitbucket.org/dcamp_lbl), GitHub: Unknown)**

----------------------------------------

Create the base ImageSeries class

----------------------------------------
- Bitbucket: https://bitbucket.org/lblneuro/pynwb/issue/4

[2017-02-21 23:37] ajtritt commented on #4
*Original comment by* **dcamp_lbl (Bitbucket: [dcamp_lbl](https://bitbucket.org/dcamp_lbl), GitHub: Unknown)**:

----------------------------------------

IndexSeries basic class is done and basic test case.

Need save and load functions.

[2017-02-21 23:39] ajtritt opened #5 "Implement ImageMaskSeries"
Originally reported by: **dcamp_lbl (Bitbucket: [dcamp_lbl](https://bitbucket.org/dcamp_lbl), GitHub: Unknown)**

----------------------------------------

Create the base ImageMaskSeries class

----------------------------------------
- Bitbucket: https://bitbucket.org/lblneuro/pynwb/issue/5

[2017-02-21 23:39] ajtritt commented on #5
*Original comment by* **dcamp_lbl (Bitbucket: [dcamp_lbl](https://bitbucket.org/dcamp_lbl), GitHub: Unknown)**:

----------------------------------------

ImageMaskSeries basic class is done and basic test case.

Need save and load functions.

[2017-02-21 23:40] ajtritt opened #6 "Implement OpticalSeries"
Originally reported by: **dcamp_lbl (Bitbucket: [dcamp_lbl](https://bitbucket.org/dcamp_lbl), GitHub: Unknown)**

----------------------------------------

Create the base OpticalSeriesclass

----------------------------------------
- Bitbucket: https://bitbucket.org/lblneuro/pynwb/issue/6

[2017-02-21 23:41] ajtritt commented on #6
*Original comment by* **dcamp_lbl (Bitbucket: [dcamp_lbl](https://bitbucket.org/dcamp_lbl), GitHub: Unknown)**:

----------------------------------------

ImageSeries basic class is done and basic test case.

Need save and load functions.

[2017-02-21 23:41] ajtritt opened #7 "Implement RoiResponseSeries"
Originally reported by: **dcamp_lbl (Bitbucket: [dcamp_lbl](https://bitbucket.org/dcamp_lbl), GitHub: Unknown)**

----------------------------------------

Create the base RoiResponseSeries class

----------------------------------------
- Bitbucket: https://bitbucket.org/lblneuro/pynwb/issue/7

[2017-02-21 23:42] ajtritt commented on #7
*Original comment by* **dcamp_lbl (Bitbucket: [dcamp_lbl](https://bitbucket.org/dcamp_lbl), GitHub: Unknown)**:

----------------------------------------

RoiResponseSeries basic class is done and basic test case.

Need save and load functions.

[2017-03-09 18:41] ajtritt opened #8 "Read/Write Custom Data"
Originally reported by: **Oliver Ruebel (Bitbucket: [oruebel](https://bitbucket.org/oruebel), GitHub: [oruebel](https://github.com/oruebel))**

----------------------------------------

A user should be able to specify additional datasets, pynwb.objects, (and possibly groups and attributes) that should be stored in addition to objects defined in the API and spec.

A user should then also have stan

[2017-03-09 18:44] ajtritt opened #9 "Signal decomposition"
Originally reported by: **Oliver Ruebel (Bitbucket: [oruebel](https://bitbucket.org/oruebel), GitHub: [oruebel](https://github.com/oruebel))**

----------------------------------------

A typical analysis is to perform a frequency decomposition (or other form of decomposition of signals), e.g,. of electrical recordings of the brain. This kind of analysis results in a timeseries with an additional

[2017-03-09 18:46] ajtritt opened #10 "Matrix factorization"
Originally reported by: **Oliver Ruebel (Bitbucket: [oruebel](https://bitbucket.org/oruebel), GitHub: [oruebel](https://github.com/oruebel))**

----------------------------------------

A common analysis is the factorization of timeseries matrizes via PCA, NMF, SVD, CUR etc. matrix factorizations. These decompositions often result in the creation of typically 2-3 matrices, one for row-space, colum

[2017-03-09 19:36] ajtritt commented on #8
*Original comment by* **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**:

----------------------------------------

Users will need to either extend an existing type to include the additional data. Or, the mechanism for adding additional data will require the user to provide documentation about this additional data.

[2017-03-09 19:38] ajtritt opened #11 "Identify Interfaces that should be TimeSeries"
Originally reported by: **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**

----------------------------------------

For example, the FeatureExtraction Interface stores time series data, and might fit better as a TimeSeries type. Are there other Interfaces where this is appropriate.

----------------------------------------
- Bitb

[2017-03-10 00:16] ajtritt opened #12 "Evaluate the need for Interface base type"
Originally reported by: **Oliver Ruebel (Bitbucket: [oruebel](https://bitbucket.org/oruebel), GitHub: [oruebel](https://github.com/oruebel))**

----------------------------------------

It is unclear what the Interface base type adds right now. Also, it is unclear why Modules are restricted to store only interfaces but do not allow TimeSeries data.

----------------------------------------
- Bitbu

[2017-03-16 00:41] ajtritt commented on #2
*Original comment by* **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**:

----------------------------------------

The pynwb.io subpackage can now read in specification YAML files.

[2017-03-18 03:05] ajtritt opened #13 "String datatype in HDF5"
Originally reported by: **Oliver Ruebel (Bitbucket: [oruebel](https://bitbucket.org/oruebel), GitHub: [oruebel](https://github.com/oruebel))**

----------------------------------------

pynwb.io.h5tools .__get_type specifies  _h5py.special_dtype(vlen=bytes) as datatype for string objects. It looks like this implies: 1) one cannot store non-ASCII characters, and 2) when loading the string dataset w

[2017-03-18 16:47] ajtritt commented on #13
*Original comment by* **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**:

----------------------------------------

I think that was a hack to get strings as datasets/attributes to validate with the original NWB API. The validator is in Python2, where reading in Unicode is not default.

You are correct on the implications. Yes, Py

[2017-03-20 04:53] ajtritt commented on #13
*Original comment by* **Oliver Ruebel (Bitbucket: [oruebel](https://bitbucket.org/oruebel), GitHub: [oruebel](https://github.com/oruebel))**:

----------------------------------------

I guess bug may be the wrong classification for this item. I ran into this issue while writing a test case for the iterative data write where I stored a unicode string and then the assert that compared the original

[2017-03-20 07:30] ajtritt opened #14 "Iterative data write"
Originally reported by: **Oliver Ruebel (Bitbucket: [oruebel](https://bitbucket.org/oruebel), GitHub: [oruebel](https://github.com/oruebel))**

----------------------------------------

# Problem: Iterative Write #
While working on the iterative write for the BouchardLab data I came across a couple of gotchas. This ticket is primarily to track things to look out for and to spawn a discussion on ho

[2017-03-20 10:19] ajtritt commented on #14
*Original comment by* **Oliver Ruebel (Bitbucket: [oruebel](https://bitbucket.org/oruebel), GitHub: [oruebel](https://github.com/oruebel))**:

----------------------------------------

Just to avoid confusion, you may have noticed that I created a branch "streamingwrite" (from "dev") in which I have reworked the iterative write. The primary purpose of the changes on that branch, however, is to all

[2017-03-21 19:46] ajtritt commented on #14
*Original comment by* **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**:

----------------------------------------

Re 1,3: These are mistakes/bugs that resulted from hastily written code.

Re 2: Dimension checking should be possible for all but one dimension.

Re 4: Because we are reading data that exists on disk, in NWB format,

[2017-03-21 21:20] ajtritt commented on #14
*Original comment by* **Oliver Ruebel (Bitbucket: [oruebel](https://bitbucket.org/oruebel), GitHub: [oruebel](https://github.com/oruebel))**:

----------------------------------------

Re 1,3: Lets bring this up during our next meeting to make sure this is also on Dave's radar when he writes classes.

Re 2: For streaming data, dimension checking may not be possible at all, at least as long as we r

[2017-03-21 21:48] ajtritt commented on #14
*Original comment by* **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**:

----------------------------------------

Re 2: Yes, if you are talking about dimension checking at the time the constructor is called, we cannot

Re 5: I see what you are saying. As long as the write class/routine can take in a GroupBuilder object and a use

[2017-03-23 18:58] ajtritt opened #15 "Add ontology support"
Originally reported by: **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**

----------------------------------------

Spec objects should support adding ontology and ontology id

----------------------------------------
- Bitbucket: https://bitbucket.org/lblneuro/pynwb/issue/15

[2017-03-24 19:04] ajtritt opened #16 "Add functionality for writing from other languages"
Originally reported by: **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**

----------------------------------------

As a step in the direction of allowing individuals to stream into NWB files, provide some functionality to create an NWB file with empty datasets, which can then be written to by other APIs used in acquisition syste

[2017-03-24 19:05] ajtritt opened #17 "Add functionality to reformat old NWB files"
Originally reported by: **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**

----------------------------------------

Existing NWB users will need a way to reformat their old files to comply with new schema and layout.

----------------------------------------
- Bitbucket: https://bitbucket.org/lblneuro/pynwb/issue/17

[2017-03-24 19:10] ajtritt opened #18 "Add ability to write from multiple data streams concurrently"
Originally reported by: **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**

----------------------------------------

In the event that multiple datasets are written from data iterators, we will need to support writing from multiple data iterators simultaneously.

----------------------------------------
- Bitbucket: https://bitbuc

[2017-03-28 06:11] ajtritt opened #19 "Import errors for pynwb.io.base"
Originally reported by: **Oliver Ruebel (Bitbucket: [oruebel](https://bitbucket.org/oruebel), GitHub: [oruebel](https://github.com/oruebel))**

----------------------------------------

pynwb.io.base.py imports the

from .tools.map import H5Builder
from . import type_map

I believe the import for type_map should probably be something like:

from pynwb.io.build.map import TypeMap as type_map

I'm n

[2017-03-30 03:06] ajtritt opened #20 "Python 3to2 conversion notes"
Originally reported by: **Oliver Ruebel (Bitbucket: [oruebel](https://bitbucket.org/oruebel), GitHub: [oruebel](https://github.com/oruebel))**

----------------------------------------

When using 3to2 to convert pynwb from Python 3 to2 we see the following issues in the unit tests:

# test_io.TestNested.test_register #

This test seems to fail for several reasons. 1) 3to2 somehow removes the "@se

[2017-04-04 18:23] ajtritt opened #21 "add ability to specify namespace"
Originally reported by: **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**

----------------------------------------

1. Namespace needs to be stored as an attribute alongside neurodata_type
    * Unspecified for core neurodata_types
2. Specify namespace in master spec file

----------------------------------------
- Bitbucket: htt

[2017-04-04 18:30] ajtritt opened #22 "ability to specify conditions under which certain datasets/attributes are present"
Originally reported by: **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**

----------------------------------------

Examples
* TimeSeries.timestamps or TimeSeries.starting_time present, but not both
* control and control_description must both be present

----------------------------------------
- Bitbucket: https://bitbucket.org/

[2017-04-05 20:59] ajtritt opened #23 "Relationship encoding"
Originally reported by: **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**

----------------------------------------

1. Need to be able to link data and timestamps between TimeSeries

----------------------------------------
- Bitbucket: https://bitbucket.org/lblneuro/pynwb/issue/23

[2017-04-06 05:39] ajtritt opened #24 "Add more rigorous verification to Spec classes"
Originally reported by: **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**

----------------------------------------

Create verification exception classes

----------------------------------------
- Bitbucket: https://bitbucket.org/lblneuro/pynwb/issue/24

[2017-04-07 20:22] ajtritt commented on #3
*Original comment by* **Oliver Ruebel (Bitbucket: [oruebel](https://bitbucket.org/oruebel), GitHub: [oruebel](https://github.com/oruebel))**:

----------------------------------------

Converted TIMIT, DMR, and Tone data

[2017-04-07 20:26] ajtritt commented on #22
*Original comment by* **Oliver Ruebel (Bitbucket: [oruebel](https://bitbucket.org/oruebel), GitHub: [oruebel](https://github.com/oruebel))**:

----------------------------------------

In the previous version of the NWB specification language this was implemented by the ```_required```.

[2017-04-15 01:47] ajtritt opened #25 "determine how to handle NWBContainer subclasses with the same name"
Originally reported by: **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**

----------------------------------------

When NWBContainer derived classes have the same name, the ObjectMapper ambiguous choses a type, since it is simply using a dict with a mapping of class name to class.

We will need to determine how to handle this. D

[2017-04-25 22:23] ajtritt opened #26 "fix ruamel import problem with using Conda"
Originally reported by: **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**

----------------------------------------

ruamel.yaml doesn't load properly when using conda. Loren had to change 'ruamel.yaml' to 'ruamel_yaml'

----------------------------------------
- Bitbucket: https://bitbucket.org/lblneuro/pynwb/issue/26

[2017-05-04 03:48] ajtritt opened #27 "Unable to create some NWB objects and documentation / call mismatch"
Originally reported by: **Loren Frank (Bitbucket: [lmfrnk](https://bitbucket.org/lmfrnk), GitHub: Unknown)**

----------------------------------------

The call to create an interval series now requires a data element, but the documentation only specifies a name and a source.

In addition, with a data element specified, I now get the following error:

TypeError: either 'timestamps' or 'starting_ti

[2017-05-07 22:33] ajtritt commented on #27
*Original comment by* **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**:

----------------------------------------

Hi Loren,

Please pull from dev to get the latest changes, and see the most recent documentation for IntervalSeries. Things should work as they used to, but please make sure your calls are in accordance with the curr

[2017-05-07 22:53] ajtritt commented on #27
*Original comment by* **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**:

----------------------------------------

Loren,

The ElectrodeGroup has changed in accordance with changes we had to make to the spec.

http://pynwb.readthedocs.io/en/latest/pynwb.ecephys.html#pynwb.ecephys.ElectrodeGroup

We had to modify the Electrode Gro

[2017-05-08 04:16] ajtritt commented on #27
*Original comment by* **Loren Frank (Bitbucket: [lmfrnk](https://bitbucket.org/lmfrnk), GitHub: Unknown)**:

----------------------------------------

Unfortunately I still get an error message, although I've checked the order of the calls carefully.  The error is

raceback (most recent call last):
  File "/Applications/PyCharm CE.app/Contents/helpers/pydev/pydevd.py", line 1578, in <module>
    g

[2017-05-08 05:59] ajtritt commented on #27
*Original comment by* **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**:

----------------------------------------

Hey Loren,

I hadn't updated the helper function on NWBFile. I just did that, and pushed it to dev.  Please pull from dev and try again.

Thanks,
Andrew

[2017-05-08 14:55] ajtritt commented on #27
*Original comment by* **Loren Frank (Bitbucket: [lmfrnk](https://bitbucket.org/lmfrnk), GitHub: Unknown)**:

----------------------------------------

Got it.  One last bug:

TypeError: incorrect type for 'device' (got 'str', expected 'Device')

Loren
--
Loren M. Frank

Professor
Howard Hughes Medical Institute
Kavli Institute for Fundamental Neuroscience
Department of Physiology
University of Cal

[2017-05-08 16:55] ajtritt commented on #27
*Original comment by* **Loren Frank (Bitbucket: [lmfrnk](https://bitbucket.org/lmfrnk), GitHub: Unknown)**:

----------------------------------------

I figured out that it needed to be a Device, but now I get:

Traceback (most recent call last):
  File "/Users/loren/Src/NWB/franklab/convert_nspike.py", line 356, in <module>
    recording_device)
  File "/Users/loren/Src/NWB/pynwb/src/form/utils.p

[2017-05-09 03:37] ajtritt commented on #27
*Original comment by* **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**:

----------------------------------------

Hey Loren,

I fixed the error and merged to dev. Please update and let me know if you have any other problems

Andrew

[2017-05-09 17:56] ajtritt commented on #27
*Original comment by* **Loren Frank (Bitbucket: [lmfrnk](https://bitbucket.org/lmfrnk), GitHub: Unknown)**:

----------------------------------------

This now works; thanks much.

[2017-05-09 18:57] ajtritt commented on #27
*Original comment by* **Loren Frank (Bitbucket: [lmfrnk](https://bitbucket.org/lmfrnk), GitHub: Unknown)**:

----------------------------------------

But ... the following fails:
[code]
with an error

Traceback (most recent call last):
  File "/Users/loren/Src/NWB/franklabnwb/convert_nspike.py", line 464, in <module>
    description = '%sspikes day %d tetrode %d cell %d data' % (prefix, day, tet_

[2017-05-09 22:55] ajtritt commented on #27
*Original comment by* **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**:

----------------------------------------

Update and try again.

Andrew

[2017-05-09 23:05] ajtritt commented on #27
*Original comment by* **Loren Frank (Bitbucket: [lmfrnk](https://bitbucket.org/lmfrnk), GitHub: Unknown)**:

----------------------------------------

Perfect.

thanks,

Loren
--
Loren M. Frank

Professor
Howard Hughes Medical Institute
Kavli Institute for Fundamental Neuroscience
Department of Physiology
University of California, San Francisco
Office Phone: 415-502-7357

[2017-05-11 20:44] ajtritt commented on #26
*Original comment by* **Loren Frank (Bitbucket: [lmfrnk](https://bitbucket.org/lmfrnk), GitHub: Unknown)**:

----------------------------------------

Just a note: I still have to change ruamel.yaml to ruamel_yamel in
src/form/spec/namespace.py

[2017-05-12 03:05] ajtritt opened #28 "NWBLinkSpec"
Originally reported by: **Oliver Ruebel (Bitbucket: [oruebel](https://bitbucket.org/oruebel), GitHub: [oruebel](https://github.com/oruebel))**

----------------------------------------

For consistency, should pynwb.spec not also have a NWBLinkSpec that would redefine LinkSpec.data_type_inc ot be LinkSpec.neurodata_type?

----------------------------------------
- Bitbucket: https://bitbucket.org/

[2017-05-12 03:24] ajtritt commented on #26
*Original comment by* **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**:

----------------------------------------

Loren, can you try uninstalling ruamel_yaml, and re-installing ruamel.yaml?

[code]

[2017-05-12 04:00] ajtritt opened #29 "Unexpectted value for neurodata_type_inc"
Originally reported by: **Oliver Ruebel (Bitbucket: [oruebel](https://bitbucket.org/oruebel), GitHub: [oruebel](https://github.com/oruebel))**

----------------------------------------

It looks like NWBGroupSpec.neurodata_type_inc returns the value of the neurodata_type in cases where a Group is a base type that does not inherit from anything. E.g., when I do th following:

```print(rt_spec.neuro

[2017-05-12 18:18] ajtritt commented on #29
*Original comment by* **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**:

----------------------------------------

fixed neurodata_type_inc bug (see Issue #29))

[2017-05-12 18:21] ajtritt commented on #29
*Original comment by* **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**:

----------------------------------------

* removed data_type and neurodata_type from Spec objects.
* fixed neurodata_type_inc flattening, and added tests

[2017-05-15 18:34] ajtritt commented on #19
*Original comment by* **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**:

----------------------------------------

This should be irrelevant now that builders and TypeMap have been pulled out into a separate package

[2017-05-18 20:18] ajtritt opened #30 "allow positional arguments to be passed as keywords"
Originally reported by: **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**

----------------------------------------

update docval to allow positional arguments to be passed in with keyword notation

----------------------------------------
- Bitbucket: https://bitbucket.org/lblneuro/pynwb/issue/30

[2017-05-18 20:38] ajtritt opened #31 "add check for existing file"
Originally reported by: **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**

----------------------------------------

form.backend.FORMIO should check for an existing file before writing

----------------------------------------
- Bitbucket: https://bitbucket.org/lblneuro/pynwb/issue/31

[2017-05-19 23:17] ajtritt opened #32 "h5ools.__list_fill__ fails on empty lists"
Originally reported by: **Oliver Ruebel (Bitbucket: [oruebel](https://bitbucket.org/oruebel), GitHub: [oruebel](https://github.com/oruebel))**

----------------------------------------

Currently h5ools.__list_fill__ fails on empty lists. This bug was triggered because the default value for file_create_date in NWBFile is an empty list. The reason why the code fails is that ```__get_type(...)``` ca

[2017-05-22 22:41] ajtritt opened #33 "NWBNamespaceBuilder fails"
Originally reported by: **Loren Frank (Bitbucket: [lmfrnk](https://bitbucket.org/lmfrnk), GitHub: Unknown)**

----------------------------------------

[code]

fails with the following error:

Users/loren/anaconda3/bin/python /Users/loren/Src/NWB/franklabnwb/fl_extensions.py
Traceback (most recent call last):
  File "/Users/loren/Src/NWB/franklabnwb/fl_extensions.py", line 4, in <module>
    ns_bu

[2017-06-02 22:47] ajtritt opened #34 "writing nwb file with position data fails"
Originally reported by: **Loren Frank (Bitbucket: [lmfrnk](https://bitbucket.org/lmfrnk), GitHub: Unknown)**

----------------------------------------

Traceback (most recent call last):
  File "/Users/loren/Src/NWB/pynwb/src/form/backends/hdf5/h5tools.py", line 280, in __scalar_fill__
    dset = parent.require_dataset(name, data=data, shape=None, dtype=dtype)
  File "/Users/loren/anaconda3/lib/py

[2017-06-07 00:16] ajtritt commented on #33
*Original comment by* **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**:

----------------------------------------

Merged in ns_builder_fix (pull request #62)

Fix Issue #33

[2017-06-07 00:18] ajtritt commented on #28
*Original comment by* **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**:

----------------------------------------

NWBLinkSpec exists

[2017-06-07 00:19] ajtritt commented on #21
*Original comment by* **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**:

----------------------------------------

Namespace stuff worked out

[2017-06-13 23:49] ajtritt commented on #34
*Original comment by* **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**:

----------------------------------------

Hi Loren,

This looks like a problem when trying to create a file that already exists. I added some logic to deal with this. Please update and let me know if you still get this error.

Andrew

[2017-06-13 23:55] ajtritt commented on #34
*Original comment by* **Loren Frank (Bitbucket: [lmfrnk](https://bitbucket.org/lmfrnk), GitHub: Unknown)**:

----------------------------------------

Great; I’ll test it out as soon as I can and get back to you…

Loren
--
Loren M. Frank

Professor
Howard Hughes Medical Institute
Kavli Institute for Fundamental Neuroscience
Department of Physiology
University of California, San Francisco
Office Ph

[2017-06-22 15:07] ajtritt opened #35 "Example code does not create required dataset in TimeSeries"
Originally reported by: **jeffteeters (Bitbucket: [jeffteeters](https://bitbucket.org/jeffteeters), GitHub: [jeffteeters](https://github.com/jeffteeters))**

----------------------------------------

I tried implementing the example code on this page:
http://pynwb.readthedocs.io/en/latest/example.html#creating-and-writing-nwb-files
(under section “Write an NWBFile”) to create a TimeSeries.
This ge

[2017-06-22 15:35] ajtritt opened #36 "Change history in documentation does not include TimeSeries ancestry attribute or neurodata_type"
Originally reported by: **jeffteeters (Bitbucket: [jeffteeters](https://bitbucket.org/jeffteeters), GitHub: [jeffteeters](https://github.com/jeffteeters))**

----------------------------------------

The change history on:
http://nwb-schema.readthedocs.io/en/latest/format.html#a-may-2017

Does not include the change made to the TimeSeries "ancestry" and "neurodata_type" attributes.  In the previou

[2017-06-22 23:46] ajtritt commented on #34
*Original comment by* **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**:

----------------------------------------

From Loren:

Traceback (most recent call last):
  File "/Users/loren/Src/NWB/pynwb/src/form/backends/hdf5/h5tools.py", line 327, in __list_fill__
    data_dtype = __get_type(data)
  File "/Users/loren/Src/NWB/pynwb/s

[2017-06-23 17:08] ajtritt opened #37 "add ability handle dtype for empty datasets"
Originally reported by: **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**

----------------------------------------

In form.backends.hdf5.h5tools, data type is automatically determined by __get_type, but raises an exception when a dataset is empty.

We need to determine how to handle the case when an empty dataset needs to be cre

[2017-06-23 21:38] ajtritt opened #38 "add functionality for analyzing data streams"
Originally reported by: **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**

----------------------------------------

Within the specification, there are fields that can be determined from other datasets that might be written from a DataChunkIterator. For example, the field <TimeSeries>.num_samples can be determined from <TimeSerie

[2017-06-28 19:28] ajtritt commented on #34
*Original comment by* **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**:

----------------------------------------

Merged in issue_34 (pull request #67)

fixing issue #34 and issue #35

[2017-06-28 19:28] ajtritt commented on #35
*Original comment by* **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**:

----------------------------------------

Merged in issue_34 (pull request #67)

fixing issue #34 and issue #35

[2017-06-28 19:29] ajtritt commented on #37
*Original comment by* **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**:

----------------------------------------

resolved by pull request 67

Merged in issue_34 (pull request #67)

fixing issue #34 and issue #35

[2017-06-28 22:37] ajtritt opened #39 "Create Generic NWBContainer class"
Originally reported by: **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**

----------------------------------------

We need a generic NWBContainer class that users can use to read and write extensions without defining a new NWBContainer subclass.

We might need a generic TimeSeries class and a generic Interface class.

----------

[2017-06-29 19:38] ajtritt opened #40 "Cannot get PyNWB version using pkg_resources when using conda"
Originally reported by: **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**

----------------------------------------

[code]

produces the following:

[code]

from Nicholas Cain:

"The pynwb module is definitely in the python path, but pkg_resources can't find it
setuptools v27.2.0, python 3.6.1 (anaconda)"

-----------------------

[2017-06-29 22:16] ajtritt commented on #25
*Original comment by* **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**:

----------------------------------------

should be cleared up with Namespace and NamespaceCatalog

[2017-07-04 02:15] ajtritt opened #41 "Overview page on documentation full of broken links"
Originally reported by: **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**

----------------------------------------

The links to the API docs on the Overview page of the documentation are broken.

The links in docs/source/overview.rst need to be updated to reflect the new package locations.

--------------------------------------

[2017-07-05 17:38] ajtritt commented on #41
*Original comment by* **Oliver Ruebel (Bitbucket: [oruebel](https://bitbucket.org/oruebel), GitHub: [oruebel](https://github.com/oruebel))**:

----------------------------------------

Fixed links on overview.rst page. Resolve Issue #41

[2017-07-05 17:42] ajtritt commented on #41
*Original comment by* **Oliver Ruebel (Bitbucket: [oruebel](https://bitbucket.org/oruebel), GitHub: [oruebel](https://github.com/oruebel))**:

----------------------------------------

Merged in fixoverviewdocs (pull request #70)

Fixed links on overview.rst page. Resolve Issue #41

Approved-by: Oliver Ruebel <oruebel@lbl.gov>

[2017-07-21 20:58] ajtritt commented on #30
*Original comment by* **nicholasc@alleninstitute.org (Bitbucket: [nicholashcain](https://bitbucket.org/nicholashcain), GitHub: Unknown)**:

----------------------------------------

Hopefully this will work for both TimeSeries and NWBAttributeSpec

[2017-07-21 20:59] ajtritt opened #42 "NWBAttributeSpec required arg seems to not be enforced"
Originally reported by: **nicholasc@alleninstitute.org (Bitbucket: [nicholashcain](https://bitbucket.org/nicholashcain), GitHub: Unknown)**

----------------------------------------

Gist to reproduce the issue, and test against:

https://gist.github.com/nicain/be598d5b7be5f2ffe1fd7e8d27c87ec3

----------------------------------------
- Bitbucket: https://bitbucket.org/lblneuro/pynwb/issue/42

[2017-07-22 05:37] ajtritt commented on #30
*Original comment by* **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**:

----------------------------------------

Merged in docfix (pull request #76)

resolve Issue #30

[2017-07-22 06:54] ajtritt commented on #42
*Original comment by* **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**:

----------------------------------------

Merged in generic_container (pull request #77)

Fix Issue #42

[2017-07-27 23:55] ajtritt opened #43 "Ensure objects are registered when assigning them to other objects"
Originally reported by: **Oliver Ruebel (Bitbucket: [oruebel](https://bitbucket.org/oruebel), GitHub: [oruebel](https://github.com/oruebel))**

----------------------------------------

The problem this ticket describes is the following. In serveral cases, NWBContainers are closely tied to the parent container E.g, SpikeUnit to UnitTimes, Device to NWBFile etc. In these cases, the API often provid

[2017-07-28 00:06] ajtritt opened #44 "Write/use format specification data to NWB files"
Originally reported by: **Oliver Ruebel (Bitbucket: [oruebel](https://bitbucket.org/oruebel), GitHub: [oruebel](https://github.com/oruebel))**

----------------------------------------

NWB files contain a currently freeform area in /general/specifications for storing specifications. To ease use of the specification data it would be useful to:

- [x] Assign a neurodata_type to /general/specificati

[2017-07-28 00:12] ajtritt opened #45 "Managing /general/subject"
Originally reported by: **Oliver Ruebel (Bitbucket: [oruebel](https://bitbucket.org/oruebel), GitHub: [oruebel](https://github.com/oruebel))**

----------------------------------------

To ease use/management of subject metadata in /general/subject we should (similar to the other groups in /general):

* assign a neurodata_type to /general/stimulus and
* create a corresponding NWBContainer class fo

[2017-07-28 00:15] ajtritt commented on #1
*Original comment by* **Oliver Ruebel (Bitbucket: [oruebel](https://bitbucket.org/oruebel), GitHub: [oruebel](https://github.com/oruebel))**:

----------------------------------------

The base implementation of ImageSeries is done.

[2017-07-28 00:17] ajtritt commented on #36
*Original comment by* **Oliver Ruebel (Bitbucket: [oruebel](https://bitbucket.org/oruebel), GitHub: [oruebel](https://github.com/oruebel))**:

----------------------------------------

Added description of change to ancestry to the documentation: http://nwb-schema.readthedocs.io/en/latest/format.html#ancestry

[2017-07-28 00:21] ajtritt commented on #8
*Original comment by* **Oliver Ruebel (Bitbucket: [oruebel](https://bitbucket.org/oruebel), GitHub: [oruebel](https://github.com/oruebel))**:

----------------------------------------

With the added support for custom extensions via dynamic classes this is now possible.

[2017-07-28 09:35] ajtritt opened #46 "Complete Epoch.links()"
Originally reported by: **Oliver Ruebel (Bitbucket: [oruebel](https://bitbucket.org/oruebel), GitHub: [oruebel](https://github.com/oruebel))**

----------------------------------------

Need to complete the implementation of Epoch.links function in pynwb.epoch.py. The function should return a list of strings of the form  “’ <TimeSeries_X> is path_to_TimeSeries ‘” (see http://nwb-schema.readthedocs

[2017-08-01 21:30] ajtritt opened #47 "Timeseries: Using starting_time and rate parameters."
Originally reported by: **maxdougherty (Bitbucket: [maxdougherty](https://bitbucket.org/maxdougherty), GitHub: [maxdougherty](https://github.com/maxdougherty))**

----------------------------------------

Currently a TimeSeries requires the **timestamps** parameter to be specified, even if a **start_time** and **rate** have been specified. This contradicts [the example](http://pynwb.readthedocs.io

[2017-08-02 04:48] ajtritt opened #48 "Dynamic class still buggy"
Originally reported by: **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**

----------------------------------------

So far, this issue exists:

https://gist.github.com/nicain/8965460ebcab2075fb478839843cad9f

----------------------------------------
- Bitbucket: https://bitbucket.org/lblneuro/pynwb/issue/48

[2017-08-02 20:28] ajtritt opened #49 "Migrate repos to NeurodataWithoutBorders GitHub"
Originally reported by: **Oliver Ruebel (Bitbucket: [oruebel](https://bitbucket.org/oruebel), GitHub: [oruebel](https://github.com/oruebel))**

----------------------------------------

[Hackathon] All source repos should be migrated to common GitHub

* Chris Martin will organize the GitHub team
* Kitware will help with the migration
* Need to coordinate on when to migrate once the place and names

[2017-08-03 19:41] ajtritt opened #50 "extension module no specs found"
Originally reported by: **nicholasc@alleninstitute.org (Bitbucket: [nicholashcain](https://bitbucket.org/nicholashcain), GitHub: Unknown)**

----------------------------------------

MRE at gist:

https://gist.github.com/nicain/65dd4758590641af1f612827a4b467a2

----------------------------------------
- Bitbucket: https://bitbucket.org/lblneuro/pynwb/issue/50

[2017-08-03 19:51] ajtritt commented on #50
*Original comment by* **Oliver Ruebel (Bitbucket: [oruebel](https://bitbucket.org/oruebel), GitHub: [oruebel](https://github.com/oruebel))**:

----------------------------------------

In your script, please replace NWBDatasetSpec with  NWBGroupSpec. You are creating an extension that inherits from TimeSeries which is a specification of a group, not a dataset. I gave it a quick test, and once I re

[2017-08-03 19:53] ajtritt commented on #50
*Original comment by* **nicholasc@alleninstitute.org (Bitbucket: [nicholashcain](https://bitbucket.org/nicholashcain), GitHub: Unknown)**:

----------------------------------------

Thanks Oliver, Im following through on your suggestion now.

[2017-08-03 19:55] ajtritt opened #51 "Check neurodata_type_inc type when creating new specs"
Originally reported by: **Oliver Ruebel (Bitbucket: [oruebel](https://bitbucket.org/oruebel), GitHub: [oruebel](https://github.com/oruebel))**

----------------------------------------

We should check that the neurodata_type_inc type matches the type (ie.., Group or Dataset) when creating a new spec to avoid that DatasetSpecs can be defined that inherit from GroupSepcs and vice versa.

----------

[2017-08-03 20:13] ajtritt commented on #50
*Original comment by* **nicholasc@alleninstitute.org (Bitbucket: [nicholashcain](https://bitbucket.org/nicholashcain), GitHub: Unknown)**:

----------------------------------------

OK, I tried your suggestion, and hit a different snag:

https://gist.github.com/nicain/9f03154823678fc74fed674913fb08ee

Before I make an issue, can you confirm that I am not doing something silly?  "data" was defined

[2017-08-03 21:06] ajtritt commented on #50
*Original comment by* **Andrew Tritt (Bitbucket: [ajtritt](https://bitbucket.org/ajtritt), GitHub: [ajtritt](https://github.com/ajtritt))**:

----------------------------------------

@nicholashcain Are you trying to add an attribute to the 'data' dataset? Or, are you trying to add an attribute to your new type? If you are trying to do the former you should do something like this:

[code]

[2017-08-03 22:26] #1 closed, assigned to nobody

[2017-08-03 22:26] #3 closed, assigned to nobody

[2017-08-03 22:27] #19 closed, assigned to nobody

[2017-08-03 22:27] #21 closed, assigned to nobody

[2017-08-03 22:27] #25 closed, assigned to nobody

[2017-08-03 22:28] #27 closed, assigned to nobody

[2017-08-03 22:28] #28 closed, assigned to nobody

[2017-08-03 22:28] #29 closed, assigned to nobody

[2017-08-03 22:28] #30 closed, assigned to nobody

[2017-08-03 22:28] #33 closed, assigned to nobody

[2017-08-03 22:28] #34 closed, assigned to nobody

[2017-08-03 22:28] #35 closed, assigned to nobody

[2017-08-03 22:28] #36 closed, assigned to nobody

[2017-08-03 22:28] #37 closed, assigned to nobody

[2017-08-03 22:28] #41 closed, assigned to nobody

[2017-08-03 22:28] #42 closed, assigned to nobody

[2017-08-03 22:29] #50 closed, assigned to nobody

[2017-08-04 05:14] oruebel commented on #39
This issue has been resolved by the addition of support to dynamically create classes for extensions.

[2017-08-04 05:14] #39 closed, assigned to nobody

[2017-08-04 05:19] #8 closed, assigned to nobody

[2017-08-04 05:22] #2 closed, assigned to nobody

[2017-08-04 07:04] oruebel commented on #49
Completed base migration of PyNWB and nwb-schema repos (including issue tracker and ReadTheDocs) to GitHub.

Contacted Kitware team for help with remaining migration issues (e.g., setup of CI etc.)

[2017-08-04 07:04] #49 closed, assigned to nobody

[2017-08-04 07:06] oruebel opened #52 "Setup CI"
Setup continuous integration (CI) for PyNWB on GitHub (used to be done via BitBucket pipelines and needs to be setup on GitHub repos after the move)

[2017-08-04 07:31] oruebel commented on #11
It appears that this issue might be Ok to address after the planed first release, given the number of other open changes.

[2017-08-04 07:47] oruebel commented on #7
Save and load handled by default mapping. Need integration tests.

[2017-08-04 07:47] #7 closed, assigned to nobody

[2017-08-04 07:48] oruebel commented on #6
Save and load should be handled by default mapping. Need integration tests.

[2017-08-04 07:48] #6 closed, assigned to nobody

[2017-08-04 07:49] oruebel commented on #5
Save and load should be handled by default mapping.

[2017-08-04 07:49] #5 closed, assigned to nobody

[2017-08-04 07:49] oruebel commented on #4
Save and load should be handled by default mapping.

[2017-08-04 07:49] #4 closed, assigned to nobody

[2017-08-04 08:03] oruebel opened #53 "Support region references"
To implement the proposed reorg of ElectrodeGroup we need to support the definition, write, and read of region references to ChannelTables.

[2017-08-07 19:55] ajtritt opened #54 "Standardize how strings get written to HDF5"
Strings are written to HDF5 by setting the type as follows:
[code]
This results in h5py writing strings to disk as ASCII when running Python 2 and as UTF-8 when running Python3.

We need to determine a consistent encoding, and update h5ools to ensure the decided-upon encoding always gets used.

[2017-08-07 20:59] oruebel commented on #46
Epoch.links has been removed now as part of the removal of autogen datasets and should, therefore, also be removed from the API, rather than completing the implementation of the property.

[2017-08-07 21:04] oruebel opened #55 "Remove autogen properties from PyNWB API"
The following autogen datasets/attributes have been removed from the format spec and should also be removed from the API. Need to check which of these are exposed in PyNWB and if so they should be removed. As approbriate, custom get functions may be added to the corresponding container class to compute the corresponding property on request as needed.

* NWBFile/epochs.tags
* NWBFile/epochs/epoch_X

[2017-08-07 21:59] nicain opened #56 "Bug: unittest test_standard_iterator_unbuffered seems buggy"
Subtle bug, but here it goes:

On test_standard_iterator_unbuffered (tests/unit/form_tests/utils_test/test_core_DataChunkIterator), line 57 and 59, we have
dci = DataChunkIterator(data=range(10), buffer_size=1)
self.assertTupleEqual(dci.max_shape, (None,))

I claim it should read:
self.assertTupleEqual(dci.max_shape, (10,))

This is because in the constructor of DataChunkIterator we have:

[code]

[2017-08-07 22:39] oruebel commented on #56
Ok, I'll take a look. I think this is a valid change.  I guess a more general check may be to check if ```len``` is supported to also try to determine the shape for other generators one might come up with. I believe ```ShapeValidator.get_data_shape``` should already support this, however, for generators it will need to load the first generated value to determine the shape, which may be problematic

[2017-08-07 22:42] nicain commented on #56
Sounds good to me.  I have been walking through (with andrew's help) using six to get cross compatibility.  If you can get this test working as intended, Ill can push ahead with cross-compat that passes all the tests (were so close!  this is actually the last test!).  six.moves.range in the test is what was working.

[2017-08-07 22:46] oruebel commented on #56
Ok. I'll take a look tonight at fixing the code.

[2017-08-08 07:40] oruebel commented on #56
Ok, I've create the branch datachunkiter_max_shape_iter_fix with the bug fix.

@ajtritt can you please review the pull request and approve the changes. Feel free to just merge and close the datachunkiter_max_shape_iter_fix branch if that is simpler, otherwise I can do the merge.

[2017-08-08 08:45] oruebel opened #58 "Add tutorial on iterative data write"
Add tutorial to describe how to use DataChunkIterator to implement iterative data write using PyNWB.

[2017-08-08 08:56] oruebel commented on #13
@ajtritt this issue seems to overlap with issue #54 . Should those issues be merged (or one of them closed)?

[2017-08-08 19:55] nicain commented on #56
Thanks Oliver @ajtritt any chance you can merge this today?

[2017-08-08 20:16] #56 closed, assigned to oruebel

[2017-08-09 00:49] nicain opened #59 "python2 and python3 cross-compatibility"
I have been working on using six to gain cross-compatibility.  New dependencies include:

requests (replaces urllib in setup.py; cross-compat is rough in this library)
six
unittest2 (a python2 backwards-compatible substitute for unittest)

I also added some docker files building under 2 and 3 (and a script that drives them), to verify that all tests are passing.  ill point my PR to this issue to s

[2017-08-09 20:01] ajtritt commented on #55
Solved with GH-61

[2017-08-09 20:01] #55 closed, assigned to ajtritt

[2017-08-09 20:02] ajtritt commented on #12
Resolved with GH-61

[2017-08-09 20:02] #12 closed, assigned to nobody

[2017-08-09 21:40] oruebel opened #63 "Tutorial convert links"
Change links in convert tutorial to point to the notebooks in GitHub rather than Bitbucket

[2017-08-09 21:49] #63 closed, assigned to nobody

[2017-08-10 00:07] ajtritt opened #65 "evaluate use if __prepare__"
Right now, form.build.DecExtenderMeta uses __prepare__ to populate the namespace of ObjectMapper with a decorator. We need to evaluate whether the solution of calling the decorator from the ObjectMapper class (`@ObjectMapper.constructor_arg` vs `@constructor_arg`) is sustainable.

see src/form/build/map.py

This relates to #59

[2017-08-10 02:32] nicain commented on #65
Agreed. I'll hold off on https://github.com/NeurodataWithoutBorders/pynwb/issues/59 until I hear about this. Thanks!

[2017-08-10 16:56] oruebel opened #66 "Export of Extension: File not written problem"
I'm trying to run the the below code from the MeiterLab example notebook to create an extension. For some reason, only the namespace.yaml but not the extension.yaml gets written on export so that the load of the namespace fails due to missing file.

[code]

I tried to just copy the YAML files from previous runs into the folder but loading those did not work (maybe because the format has changed)

[2017-08-10 17:13] ajtritt opened #67 "Update tutorial to reflect changes made to NamespaceBuilder"
NamespaceBuilder.export now has a second but optional argument to specify the output directory. All spec source files should be relative to the namespace file, but the namespace file path passed to `export` should not have a directory. The output directory is specified with the second, optional argument `outdir`.

For an example of how this works, see pynwb/tests/unit/pynwb_tests/test_extension.py

[2017-08-10 17:15] ajtritt commented on #66
This is not working because you are incorrectly using NWB`NamespaceBuilder.export`. It has been updated to take `outdir` as an argument. All spec source files should be relative to the namespace file, but the namespace file path should not contain the output directory.

The example should be modified to reflect this. I have created a ticket for this: #67

[2017-08-10 17:26] oruebel commented on #66
Ok, I'll give it a try.

[2017-08-10 17:26] #66 closed, assigned to oruebel

[2017-08-10 17:29] oruebel opened #68 "Tutorial: Update crcns-ret1 notebooks"
Update the crcns-ret1 notebooks to work with the changes to NWB in response to the Hackathon:

E.g.,

- Update export of Namespace to set the dir as second argument rather than giving the full path as one argument
- Add source to the various containers
- Rename Module to ProcessingModule
- Rename add_interface to add_container

etc.

[2017-08-10 18:15] nicain commented on #65
@ajtritt I thought about several options last night, and the only one I came up with that is not terrible is illustrated in https://github.com/nicain/pynwb/tree/issue/constructor_arg

Basically the decorator contructor_arg gets special treatment, and moved out of the metaclassing in DecExtenderMeta (not illustrated in the branch, but pulled out of __prepare__ and made a function at module level).

[2017-08-10 19:21] nicain commented on #65
I just updated https://github.com/nicain/pynwb/tree/issue/constructor_arg, removing "__prepare__" and making sure to have constructor_arg functionality available to the classes that need it.  This branch passes all the tests.

[2017-08-10 22:18] nicain opened #70 "Docs still point to bitbucket repo"
Some of the docs still point to the pre-migration bitbucket repository

Here is a screen cap listing some of the locations, there might be more:
![image](https://user-images.githubusercontent.com/113055/29194539-eb1fb9b4-7dde-11e7-88d8-f4d3609aff55.png)

@jhyearsley, do you want to take a stab at correcting these, and submitting a PR?

[2017-08-11 01:05] nicain commented on #59
Hello @ajtritt @oruebel @dyf @mgrauer; I have been working on sketching out what would be required to implement python2/python3 cross-compatible pynwb.  I have created PR https://github.com/NeurodataWithoutBorders/pynwb/pull/60 that passes all of the current unit tests in both python2 and python3, using six and unittest2.

Mostly this was smooth sailing, however on PR review Andrew pointed out in

[2017-08-11 01:16] jhyearsley commented on #70
Definitely, I will look into this tomorrow.

[2017-08-11 17:06] oruebel commented on #59
@nicain thanks for exploring this issue. I'll have a look at your branch. Currently my feeling is that a) having Python 2 support is a significant benefit but also b) maintaining Python 2 and 3 simultaneously requires significant effort. Essentially it seems that we have two main options:

1) Maintain Python 2/3 compliant codes
----------------------------------------
**+** No separate versions an

[2017-08-12 01:13] jhyearsley commented on #70
I've changed the simple links from the screen shot that can just be pointed directly to github, but there are other links referencing content on bitbucket that I don't have access to (or doesn't exist).

For instance in the `setup.py` file, the source of the nwb schema is downloaded from a bitbucket link in a `downloads` folder hosted on bitbucket, and I'm not sure where the `nwb_core.tar` file li

[2017-08-14 21:31] neuromusic commented on #59
Yes, Python 2 is scheduled to die in 2020, but if this project doesn't support Python 2, I fear it will die in 2017. For Python developers at large, 2.x is still dominant.

https://www.jetbrains.com/pycharm/python-developers-survey-2016/

Among scientist-developers (our primary target users), who generally lag behind developers at large, it is probably far larger than 70%.  My biggest concern with

[2017-08-14 23:11] oruebel commented on #59
@neuromusic just to clarify, in my opinion this discussion is not about Python 3 vs. 2 but on how we can best support both. @nicain has done a really nice job in getting Python 2 support going, and the question to me is not if we should support Py2 but what is the best strategy for doing so. I'll setup a videocon on this topic to discuss options so that we can hopefully decide on a clean strategy

[2017-08-14 23:17] ajtritt opened #77 "Allow compound data type specification in DatasetSpec"
To allow table datasets, the *DatasetSpec* class will need to be modified to allow specification of compound types.

The argument *dtype* should be modified to allow a list of DataTypeSpec objects. A DataTypeSpec should hold the data type, label, and documentation about the column.

The following is an example usage of specifying a compound data type

[code]

**Note:** *NWBDatasetSpec* will also n

[2017-08-14 23:22] oruebel commented on #20
Superseded by issue #59

[2017-08-14 23:22] #20 closed, assigned to nobody

[2017-08-14 23:30] oruebel commented on #18
Currently data streams will be written sequentially, e.g.,., all data from one DataChunkIterator will be written before the next dataset gets written. This means, while multiple data streams are supported, the write happens in sequence, one stream after the other. This is fine in situation where the full stream is available (e.g., when converting data) but in particular for situations where data i

[2017-08-14 23:32] oruebel commented on #18
See also Issue #14

[2017-08-14 23:34] neuromusic commented on #59
Happy to be in a videocon.

"Right now my inclination is that at least until SfN we might want to do this via separate forks to reduce the risk of not being able to complete the features we want for the release."

I think this makes sense. I'm game for the easiest way to have Py2 support for the SfN release.

[2017-08-14 23:35] ajtritt opened #78 "update HDF5IO to allow writing of compound data types"
Update `form.backends.hdf5.h5tools.write_dataset` to allow writing of compound data types.

The *default_dtype* argument should take a list of dictionaries. Each dictionary will have the keys *dtype* and *label*.

[2017-08-14 23:37] ajtritt opened #79 "Enable write of compound data types with FORM"
Users would like to specify, read, and write compound data types.

The following subtasks will be needed to accomplish this.

- [x] #77
- [x] #78

[2017-08-14 23:42] #46 closed, assigned to nobody

[2017-08-14 23:46] ajtritt commented on #24
See src/form/validate/errors.py.

[2017-08-14 23:46] #24 closed, assigned to nobody

[2017-08-15 01:33] arokem commented on #59
From the peanut gallery: I think that having Python 3 support is important, and from my own experience maintaining 2/3 compatibility is not terrible (although admittedly a bit harder if your focus is file IO...).

I believe that maintaining two forks would make your life harder than supporting 2/3 in parallel (for example, how do you make sure that fixes on one fork make it into the other fork?).

[2017-08-15 01:49] oruebel commented on #59
@arokem thanks for the feedback! These are good points, and we will certainly consider them in our discussions.

I agree that testing and CI are very important. Before the recent move of repos to GitHub we used to have CI implemented via Bitbucket pipelines. Our friends from Kitware will be working on setting up CI (and other items related to testing) on the GitHub repos. If you would like to help

[2017-08-15 13:58] mgrauer commented on #59
/cc @jcfr @kotfic @danlamanna

@arokem We would welcome working with you on the python 2/3 CI.  Please contact me through @oruebel , or contact me in the NWB slack channel and we can coordinate.

I wish there was a way to do a direct message in GitHub...

[2017-08-15 14:32] jonc125 commented on #18
Regarding issue 1 (fragmentation) I think this reflects that writing multiple datasets simultaneously is actually the wrong solution for the problem of storing data directly from acquisition systems into NWB stored in HDF5. It means breaking how HDF5 is designed to work well.

A better approach might be to store all raw acquisition data streamed into a single large dataset, so that chunking etc wo

[2017-08-15 15:26] ajtritt commented on #18
@jonc125 thanks for the suggestion. Do you mean writing individual datasets to individual files? I'm just not sure how we would deal with writing datasets of different dimension to a single dataset. A separate data structure would need to be maintained to know the layout of the monolithic dataset. I am also confused about what you mean when you say "naturally and efficiently". Does HDF5 chunk bett

[2017-08-15 15:45] jonc125 commented on #18
I guess it does get more complicated when you have data coming from multiple instruments and hence multiple sampling rates (potentially). I'd been envisioning that you could define an n-d array containing all the data having a common time reference, and this would avoid the problem. Unfortunately I'm not an expert on what HDF5 does internally when writing datasets to disk. I'd expect that if you c

[2017-08-15 16:16] neuromusic commented on #18
Do we actually have any candidate acquisition systems that *want* to write directly to HDF5? IME, acquisition systems prefer to use their own format optimized to the throughput constraints of the acquisition system? I'm 100% with @jonc125 that we should treat NWB as an exchange format. this sounds like feature creep to me & I fear that a lot of time would be spent developing something that never g

[2017-08-15 16:46] nicain commented on #59
@arokem @mgrauer FYI the dev branch has a Dockerfile for testing, and the Makefile has a rule "test_docker"; the python2 branch https://github.com/NeurodataWithoutBorders/pynwb/pull/60 has a similar Dockerfile for running the same tests under python2

[2017-08-15 17:01] nicain commented on #59
@oruebel RE: writing python2/3 compatible codes: I think having some concrete information about the current code base would help in the discussion about the parallel vs compliant codes decision.

I have found the following types of changes necessary in pynwb to gain python2 compatibility:
1) Using requests instead of urllib.request in setup.py
2) Using six.raise_from to overcome “raise Exception f

[2017-08-15 17:48] oruebel commented on #18
Thanks for the comments. I view this ticket as an item for discussion of a possible future enhancement, i.e., I don't think this is on the critical path for the first release. I mainly added a comment to the ticket yesterday because I was triaging tickets and thought the ticket needed a bit more clarification.

In some sense the question is, whether this kind of mode of operation (i.e., simultaneo

[2017-08-15 18:03] oruebel commented on #59
@nicain thanks for this helpful summary.

[2017-08-15 18:09] neuromusic commented on #18
Yeah, I like the plan for 1 & 2.

I'd also add that were we to "solve" this before we have support for a non-HDF5 backend, we'd probably need to reinvent the solution anyway.

[2017-08-15 18:12] neuromusic commented on #59
to be clear, I also think that python 3 support is important

[2017-08-15 18:17] oruebel opened #81 "Docs: Add discussion and examples for iterative/streaming write"
Add more details on iterative data write to the documentation and explicitly mention that the HDF5 write backend implemented in FORM currently handles multiple data streams by writing them sequentially. We could even add a brief discussion on why this is the case right now and describe possible alternatives (i.e., stream to separate files). This is to address issue #18

Add tutorial to describe ho

[2017-08-15 20:23] oruebel commented on #18
I'm closing this ticket for now. I've filed ticket #81 to address part 1 and we can reopen this ticket if/when 2 comes up.

[2017-08-15 20:23] #18 closed, assigned to nobody

[2017-08-15 22:07] oruebel commented on #70
I've fixed the references in the current notebooks. I've searched through both the pynwb and nwb-schema repo, and it looks like the only relevant instance that still requires fixing is in the function ```CustomBuild``` in ```setup.py``` which references a tar file on bitbucket. @ajtritt can you check whether that link needs to be updated.

[2017-08-15 22:10] ajtritt commented on #70
@oruebel that link does not need to be updated. That class can be removed from setup.py

[2017-08-15 22:11] oruebel commented on #70
@ajtritt thanks for the quick response. I'll remove the class and close this ticket.

[2017-08-15 22:14] #70 closed, assigned to nobody

[2017-08-15 23:41] nicain commented on #79
First cut at this in: https://github.com/nicain/pynwb/tree/feature/table_writer

Try with this sample code:

[code]

[2017-08-16 00:22] oruebel commented on #79
A couple of quick questions and comments for discussion:

* Based on the discussion in https://github.com/NeurodataWithoutBorders/nwb-schema/issues/13 I believe we also want to add a 'doc' key for each component of the data type
* Instead of using str and list to define dtypes, I think it would be useful to add a new NWBDataTypeSpec class for handling specifications of dtypes, to make the concept

[2017-08-16 01:30] oruebel commented on #81
I started the following branch for this issue, but it still needs more work.

https://github.com/NeurodataWithoutBorders/pynwb/compare/iter_write_tutorial?expand=1

[2017-08-16 03:50] ajtritt commented on #79
Thanks for the feedback Oliver. Here are my thoughts to the issues you have raised (in the same order)

* I agree, we should require documentation for each column.
* I have had the same thought about creating a spec class for compound data types, but I think it needs to be done in FORM, and therefore called something like DataTypeSpec. We can add NWBDataTypeSpec to pynwb.spec after that the genera

[2017-08-16 03:50] neuromusic commented on #59
thanks to @arokem's input & @nicain's outline of necessary steps to move forward on @oruebel's proposed strategy 1: "Maintain Python 2/3 compliant codes", this sounds like the right approach to me.

I'm not sure that a videocon is necessary. This forum should be sufficient to consider the merits of different approaches & establishes a good precedent for open development of this community project.

[2017-08-16 04:36] arokem commented on #59
I've added a very simple Travis configuration file on #84.

For a sense of what that would look like (once you flip Travis on), check out this PR against my fork:

https://github.com/arokem/pynwb/pull/1

It's passing on Python 3:

https://travis-ci.org/arokem/pynwb/jobs/265004881

but failing on Python2:

https://travis-ci.org/arokem/pynwb/jobs/265004880

because of urllib.requests (mentioned abov

[2017-08-16 05:20] arokem commented on #59
And here is my branch with the Travis configuration with all the changes implemented in #60:

https://github.com/arokem/pynwb/pull/2

[2017-08-16 05:31] arokem commented on #59
FWIW, looks like if you merge #84, and then rebase #60 on top of `dev`, the tests should all pass.

[2017-08-16 18:46] nicain commented on #59
I agree with @neuromusic, we don't need a videocon to make a decision here.  To that end:

@oruebel @ajtritt Having developed almost all of the code here, your perspective is critical here.  Are there any design considerations (besides the use of __prepare__ in DecExtenderMeta) that are both 1) not python2 backwards compatible, and 2) are not easily fixable by six, unittest2, etc?  Having a list o

[2017-08-16 20:02] oruebel commented on #59
@nicain @neuromusic this is a major decision that has broad implications, that is why I think having a videocon on this will be useful and much more efficient in terms of time. I'll send out an invite soon.

Given the amount of work left before the release, my preference right now is to at least until the SfN release to maintain Python 2 in a separate fork.

[2017-08-16 21:12] ajtritt commented on #59
I agree with @oruebel on this issue... I appreciate the enthusiasm to charge ahead, but this decision has major implications for development, so we really need to take the time to flush out the options.

Here are my thoughts on the issues that have been raised thus far:

1. As simple as writing 2/3 compatible code might seem, the minimal up-front costs comes with a significant trade-off. Writing c

[2017-08-16 22:10] lfrank opened #89 "Move toward more efficient metadata storage"
One challenge with working with large files of any sort is the time required to parse through them to find the data that are needed.  Typically users will want particular parts of the data and do a search through the metadata to identify those chunks.  If the file structure can be changed to make those searches more efficient, that would be useful.  One option already suggested by Andrew and Olive

[2017-08-16 22:53] ajtritt commented on #89
@lfrank  Thanks for putting this up. To get a better idea of what we want to do, I am going to start a list of such example queries. Please correct them as you see fit to better clarify what we want to do.

* Get all voltage traces from brain region 'CA1'
* Get spike trains for all cells during sleep epochs

[2017-08-17 01:20] nicain commented on #59
I see a middle path forward.  Given the following constraints:

1) The core developers prefer to develop in python3, because they have the vision for the long-term stability, maintenance, and adoption of the code.
2) The strong majority of the end-users will require fully featured support for python2 in the short term.  The Allen Institute requires this support as soon as possible, and cannot use

[2017-08-17 12:28] mgrauer commented on #59
It sounds like there is already a calendar related to release that I'm unaware of.  Can someone point me to that or can we discuss it on the video call?  What I'm interested in is whatever promises or expectations have been set for any releases, along with release versions, as well as adherence to semantic versioning or other means of providing contracts around the API surface and backwards compat

[2017-08-18 01:51] nicain opened #90 "Example (docs) references NWBFile.create_timeseries(); doesn't exist"
http://pynwb.readthedocs.io/en/latest/example.html?highlight=create_timeseries
http://pynwb.readthedocs.io/en/latest/pynwb.base.html?highlight=create_timeseries
http://pynwb.readthedocs.io/en/latest/pynwb.misc.html?highlight=create_timeseries

[2017-08-18 13:49] #90 closed, assigned to nobody

[2017-08-18 19:15] nicain commented on #59
Thanks all for the great videocon today.  FWIW, I just updated the branch for PR https://github.com/NeurodataWithoutBorders/pynwb/pull/60 to be downstream of the current neurodatawithoutborders/dev, and it was very easy (took 1 minute).  THe only human change was a super() to super(BaseStorageSpec, self).

[2017-08-19 18:37] oruebel commented on #59
Thanks @nicain. I'll post the summary of our discussion here once we have finalized the google doc.

[2017-08-22 19:55] nicain opened #91 "Minor documentation issues:"
1) In the Creating TimeSeries section, after the ephys_ts line, there is:
    f.add_raw_timeseries(ts, [ep1, ep2])
I think it should be this to match:
    f.add_raw_timeseries(ephys_ts, [ep1, ep2])

2) Typo in “Using Extensions” section:
    exentsion
@wbwakeman

[2017-08-22 19:55] nicain commented on #91
@jhyearsley Since you have a good workflow for taking down doc bugs, can you squash this?

[2017-08-22 21:05] jhyearsley commented on #91
Sure thing.

[2017-08-28 23:14] oruebel commented on #9
This issue should be discussed on the nwb-schema issue tracker. I've created a new issue here:
 https://github.com/NeurodataWithoutBorders/nwb-schema/issues/46

[2017-08-28 23:14] #9 closed, assigned to nobody

[2017-08-28 23:25] oruebel commented on #10
Moved this issue to the nwb-schema issue tracker: https://github.com/NeurodataWithoutBorders/nwb-schema/issues/47

[2017-08-28 23:25] #10 closed, assigned to nobody

[2017-08-30 11:27] t-b commented on #54
h5py has some problems with writing string arrays encoded in utf-8. See https://github.com/h5py/h5py/issues/624.

[2017-08-30 16:11] oruebel commented on #54
Writing either ASCII or Unicode from both Python 2 and 3 works with h5py. The bug you are refering to  seems to be specific to the case when you use the create_dataset method without specifying a data type, however, the following variants for writing strings work fine:

[code]

or:

[code]

The issue is that the following has different behaviors in Python 2/3:

[code]

Similarly

[code]
To ensure

[2017-09-05 19:33] #91 closed, assigned to nobody

[2017-09-11 23:16] neuromusic opened #99 "add documentation for validating NWB files"
raised by https://github.com/NeurodataWithoutBorders/nwb-schema/issues/52

I'm not sure whether this should live under "Examples" or "Tutorials"

In fact, I'm not sure of the difference between the two.

[2017-09-11 23:48] neuromusic opened #100 "specify required dependencies in setup.py"
currently, setup.py does not have `install_requires` & the user must `$ pip install -r requirements.txt` to install dependencies.

- `setup.py` should specify minimal dependencies so that `pip` can install pynwb and its dependencies
- `requirements.txt` should specify the precise environment that the package is tested against

[2017-09-12 00:03] neuromusic opened #101 "TypeError: missing argument 'source'"
error on initializing an NWBFile object:

[code]

checking the NWBFile docstring, I see that source is a required argument...

[code]

however, I don't see "source" in the nwb-schema documentation:
http://nwb-schema.readthedocs.io/en/latest/format.html#main-data-file

what is this argument and why is it required?

[2017-09-12 00:13] neuromusic opened #102 "[documentation] example no longer works"
[code]

throws an error due to changes in required arguments

[code]

[2017-09-12 00:18] neuromusic opened #103 "make manager optional argument in HDF5IO"
current use
[code]

this includes two lines that look like boilerplate:

[code]

this should be simplified to

[code]

while allowing the user to specify a different build manager if they want it

[2017-09-12 00:22] neuromusic opened #104 "support writing nwb files using context manager"
e.g.

[code]

or, with #103 implemented...

[code]

[2017-09-12 00:25] neuromusic opened #105 "`filename` required for BOTH NWBFile and HDF5IO?"
if HDF5IO handles file read/write, why does NWBFile need the filename argument?

[2017-09-12 00:27] neuromusic opened #106 "rename `NWBFile` -> `NWBSession`"
the object which abstracts the NWB data model from the backend implementation should be agnostic to the backend

NWBFile presumes that the session is a single file... it should be renamed to something more abstract, like "NWBSession"

[2017-09-12 00:35] oruebel commented on #101
```source``` is inherited from ```NWBContainer``` and is defined as a string describing the source of the data in the container.

One main change to the format as a result of the last hackathon at Janelia  was that "Interface" was renamed to "NWBContainer" and "NWBContainer" was moved up the inheritance hierarchy to be a basic common type. This change was made 1) to avoid confusion as the term Int

[2017-09-12 00:42] oruebel commented on #106
The class NWBFile represents the type NWBFile defined in the spec. The concept of an NWBSession I think would probably exists alongside or live above NWBFile rather than replacing it. I think this is an item we should probably revisit once we get into actually implementing non-file backends for NWB.

[2017-09-12 04:29] neuromusic commented on #101
I see.

Is there a reason that the documentation isn't getting updated along with the changes to the schema and pynwb?

[2017-09-12 04:33] neuromusic commented on #106
well @nicain is already getting into implementing non-file backends so the time is now :)

[2017-09-12 04:33] #106 closed, assigned to nobody

[2017-09-12 05:20] neuromusic commented on #89
this is basically the infrastructure that @dyf et all have implemented in the allensdk, by computing various features of each NWB file and storing them in a pandas dataframe that can queried to ID relevant NWB files https://github.com/AllenInstitute/allensdk

it's missing the API where you go straight to e.g. traces

I'll add my dream query:

- from BOTH ophys & ephys NWB files, get mean responses

[2017-09-12 05:30] neuromusic commented on #89
note: another backend (say PostgreSQL) along with a concept in the schema that groups together sessions (say NWBSessionSet) would make this much easier, as you could run such queries at the NWBSessionSet level.

This approach is similar to what I implemented in grad school: https://github.com/gentnerlab/django-broab

Basically, each data object (say each spike train and each behavioral event) gets

[2017-09-12 05:39] neuromusic commented on #89
I'd be so bold as to say "If you want performance querying data across files/sessions/experiments, HDF5 is simply a bad solution."

HDF5 was selected for NWB due to it's utility as an **exchange** format... any of the other backends that improve performance will undermine this priority.

[2017-09-12 17:03] oruebel commented on #89
@neuromusic I agree that if you want fast query performance across large collections of files then we'll likely need some form of acceleration structure, whether it be a database index or some other form of query structure if only because the time to simply open files will kill performance. However, I would say that this is not really a problem of HDF5 but rather file-based solutions in general. D

[2017-09-12 17:18] oruebel commented on #101
I updated the docs on an nwb-schema branch but it has not been rolled out yet. Generating the format docs from the schema requires running the generateFormatDocs.py script first to general the sources for the Sphinx docs. Currently ReadTheDocs only takes care of the build of the docs but not the generation of the source files for the docs. I need to check whether we can just call the generateForma

[2017-09-12 17:29] oruebel commented on #101
Here the ticket I generate for this: https://github.com/NeurodataWithoutBorders/nwb-schema/issues/55

[2017-09-12 17:29] #101 closed, assigned to nobody

[2017-09-12 19:44] oruebel commented on #101
Here the new ticket for the proposal to make source optional on NWBContainer: https://github.com/NeurodataWithoutBorders/nwb-schema/issues/56

[2017-09-12 19:55] ajtritt commented on #105
This is a hold over from the start of development. I'll deal with it as we do some general clean up.

[2017-09-12 21:18] neuromusic commented on #89
"My feeling right now is that this probably something we want to explore but it may not be something we want NWB to "officially" standardize at this point."

agreed.

" what would be needed are ways to write some parts of an NWBContainer to different locations. "

We've done this with ainwb in a somewhat hacked way.

1. write a large NWB file w/ only LFP data (I'll call it *lfp.nwb*)
2. write a sm

[2017-09-12 22:59] oruebel commented on #89
Just on a side-note, the following notebook also shows a "hacked" way for doing this:

https://github.com/NeurodataWithoutBorders/pynwb/blob/dev/docs/notebooks/convert-crcns-ret-1-meisterlab.ipynb

In  the notebook I used h5py to write stimulus data to external HDF5 files and then used PyNWB API to create external links to those files. This really just a workaround and I agree that having a formal

[2017-09-13 04:04] ajtritt commented on #105
The fix is on dev6 and can be closed when #98 is merged

[2017-09-13 05:12] ajtritt commented on #103
resolved in 7bdcd324a5ffde35b50b62886935e2f6694ebe93.

can close when PR-#98 merged

[2017-09-13 05:13] ajtritt commented on #104
resolved in e2bb52987c991e2f82712e4707b9e6b016f5cd87

can close when PR-#98 is merged

[2017-09-13 05:51] ajtritt commented on #99
Resolved on dev6.

can be closed when PR-#98 is merged

[2017-09-14 23:47] #99 closed, assigned to nobody

[2017-09-14 23:47] #105 closed, assigned to nobody

[2017-09-14 23:48] nicain opened #107 "nwb version hard coded in file.py"
Version is stated as 1.0.6 here:

https://github.com/NeurodataWithoutBorders/pynwb/blob/b0f263c2c6456d576c438ed3a5a9ccc6de7d5ad1/src/pynwb/file.py#L36

I think this is an old reference to a schema version, but this should be handled differently, (possibly loading from nwb.namespace.yaml?).

Looks like API version is stored in setup.py; can this be programmatically accessed instead (i.e. from pynwb

[2017-09-14 23:49] #104 closed, assigned to nobody

[2017-09-14 23:49] ajtritt commented on #103
should have automatically been closed, but I wrote the wrong thing in my commit message

[2017-09-14 23:49] #103 closed, assigned to nobody

[2017-09-15 00:08] ajtritt commented on #79
Example use of table/compound data type from @nicain  https://github.com/nicain/example_nwb

[2017-09-15 05:17] ajtritt opened #108 "Save specs in NWB file"
When an NWBFile gets written, the specifications used to generate that file should be written to the file to ensure that the file is readable on its own.

- [x] write specs to file
- [x] read specs from file

[2017-09-15 05:53] ajtritt commented on #59
resolved by PR #98

[2017-09-15 05:53] #59 closed, assigned to nobody

[2017-09-15 05:54] ajtritt commented on #65
resolved in PR #98

[2017-09-15 05:54] #65 closed, assigned to nobody

[2017-09-15 05:55] ajtritt commented on #107
resolved by #109

[2017-09-15 05:55] #107 closed, assigned to nobody

[2017-09-15 05:56] ajtritt commented on #102
resolved by #109

[2017-09-15 05:56] #102 closed, assigned to nobody

[2017-09-15 06:37] ajtritt opened #112 "Create integration tests for all types"
The following submodules need integration tests for their classes

- [ ] pynwb.ecephys
- [x] pynwb.icephys
- [ ] pynwb.ophys
- [ ] pynwb.ogen
- [ ] pynwb.behavior
- [ ] pynwb.image
- [ ] pynwb.misc
- [ ] pynwb.retinotopy

Integration tests are added by extending the class `TestMapRoundTrip` found in tests/integration/uiwrite/base.py. A subclass of `TestMapRoundTrip` should be created for all Conta

[2017-09-15 13:53] neuromusic opened #113 "[documentation] candidate processing suite examples"
To help the most users understand how to get their data into NWB, I propose that we target a handful of dominant preprocessing pipelines (that is, spike sorting & calcium segmentation/ trace extraction) & give examples of getting that data into NWB.

- One of the pain points of getting data into NWB is accounting for provenance information related to a processing pipeline (i.e. saving the ROI and

[2017-09-15 16:22] oruebel commented on #113
I think that's a good idea. The more usable examples we have the better. For spike sorting other candidates may be: 1) KlustaKwik http://klusta.readthedocs.io/en/latest/  and 2) MountainSort. @neuromusic do you already have someone in mind that could help with putting these examples together?

[2017-09-15 16:40] oruebel commented on #108
I believe this issue is contained in #44, although we might want to update #44 (or break it up) to be more specific tasks.

[2017-09-15 18:12] ajtritt commented on #108
duplicate of #44

[2017-09-15 18:13] ajtritt commented on #108
duplicate of #44

[2017-09-15 18:13] #108 closed, assigned to ajtritt

[2017-09-15 18:53] neuromusic commented on #113
klustakwik is a good candidate, too... that would be the KwikGUI version of phy.

**klusta(kwik) / phy KwikGUI**
This is the dominant spike sorting software for <100ch silicon ephys recordings.

- **modality**: ephys
- **output files**: Kwik format (HDF5)
- **docs on outputs**: https://github.com/klusta-team/kwiklib/wiki/Kwik-format
- **developers**: @kwikteam

I have experience with Kwik format,

[2017-09-15 18:54] neuromusic commented on #113
I think a lot of folks use plexon for e.g. tetrode recording.

[2017-09-15 19:21] neuromusic commented on #113
**Plexon Offline Spike Sorter**
This is probably the most popular spike sorting software, especially for <32ch.

- **modality**: ephys
- **output files**: plx
- **docs on outputs**: might be best to use Neo IO here http://neo.readthedocs.io/en/0.5.0/io.html#neo.io.PlexonIO
- **developers**: Plexon
- **note**: using the Neo IO here would effectively provide a general use case for ALL ephys formats

[2017-09-15 22:15] nicain opened #114 "No default TypeMap specified"
when running a little hellow world writer:

https://gist.github.com/nicain/ae3d5280d86843971db8bd6dd0137948

And then in a separate script trying to read the file:

[code]

I get:

[code]

[2017-09-15 23:11] nicain commented on #114
When I run:
from pynwb import NWBFile
from form.backends.hdf5 import HDF5IO
io2 = HDF5IO('tmp.nwb', mode='r')

There are no problems

[2017-09-15 23:46] ajtritt commented on #114
This isn't really a bug. It's part of the current design of the system. Without loading _pynwb_, _form_ has no idea what it is supposed to read. Loading _pynwb_ registers the NWB specs with _form_. Until we have the specifications dumped to file during write (see #44), you will have to load _pynwb_ to register the NWB specs with _form_.

[2017-09-16 00:14] neuromusic commented on #114
in that case, might need to make the error more clear

feel free to adjust the milestone as you see necessary @ajtritt

[2017-09-16 00:29] ajtritt opened #115 "Read capability for NWB 1.x"
Starting a list of items that will be needed to support reading of NWB 1.x files.

- [ ] Extend TypeMap to override the get_cls method. This is needed to determine the neurodata_type for GroupBuilders that don't have 2.x neurodata_type and namespace attributes.
- [ ] Create ObjectMappers for the TimeSeries and Interfaces from 1.x. These ObjectMappers should be registered with the TypeMap extension

[2017-09-16 06:13] neuromusic commented on #114
thinking about this more...
"Loading pynwb registers the NWB specs with form."

This happens behind the scenes? via the pynwb import setting some global variables or something, I presume?

In general, that is going to be super confusing for users, as it was for @nicain. PEP 20: "Explicit is better than implicit."

While #44 is a good solution, it does not address the case where one might want to l

[2017-09-16 14:42] neuromusic opened #117 "saving with "to_X()" methods on NWBFile"
idea for discussion:

I really like the way that pandas handles saving & converting data to various formats. Basically, any target format, whether that's saving to disk or converting to another python data format, uses the same syntax: methods on the object of the format "to_X" where X is the target format.

[code]

this simplifies file saving for the user... they don't need to understand anything

[2017-09-16 14:59] neuromusic opened #118 "'form' is pretty ambiguous when it comes to python packaging"
there are lots of existing python packages that call themselves "form" such that a pynwb user may experience some weird consequences if one of these packages is installed on their python path

we should consider renaming form to something more unique

[2017-09-16 16:20] neuromusic opened #119 "add FAQ to docs"
for this major release, it might be worth assembling an FAQ for anticipated questions & as a way to walk people through the major changes in the architecture of this release.

things like...

- What are the major updates in this new API? (separation of API, specification, & backend storage)
- Does the new API offer support? (yes)
- Have there been any changes to the schema? (yes: ElectrodeGroup, T

[2017-09-16 17:50] oruebel commented on #114
Maybe one way to satisfy all of the above concerns (i.e., 1. being explicit, 2. having FORM agnostic to the format, and 3. not requiring users to specify the schema when using NWB) we could maybe have a very light-weight I/O package in PyNWB itself which would essentially do nothing else but load the  I/O backend(s) from FORM and set the schema. In this way a user would also not need to go to FORM

[2017-09-16 18:03] oruebel commented on #119
Having an FAQ sounds like a good idea. Just a few thoughts, we probably want to have the high-level summary of the items you mentioned live on the nwb.org website and point to the docs for details. For the "what has changed" question, the following should hopefully be a good start: http://nwb.org/2017/09/06/what-is-new-in-nwbn-v2-0/ .

For details on what has changed in the format and specificatio

[2017-09-16 18:13] oruebel commented on #117
I like the idea, but I would probably make it part of a separate I/O package in PyNWB rather than adding I/O-specific functions directly to NWBFile, but that's just implementation details.

[2017-09-17 00:01] neuromusic commented on #117
To clarify, the proposal here is quite specifically to add these as method calls directly on the NWBFile instance.

[2017-09-17 00:34] neuromusic commented on #114
I think that's a great idea.

[2017-09-18 15:04] ajtritt commented on #114
Can someone provide an example what you would want the user to do?

[2017-09-18 15:43] neuromusic commented on #114
[code]

[code]

[2017-09-18 16:51] ajtritt commented on #114
what is `bells_and_whistles`?

I should also note that this feature would allow only the use of dynamically created classes.

[2017-09-18 17:00] neuromusic commented on #114
A specification which has more bells and whistles than the specification which the file was created with, but which the file would still validate against.

[2017-09-18 17:14] ajtritt commented on #114
By 'bells and whistles' do you mean extensions? Do you mean user defined classes that extend the existing pynwb classes?

[2017-09-18 17:17] nicain commented on #114
Exactly!  In general, having too much going on behind the scenes is bad design. Consider the case of a user loading two files, with two different specs, in the same python instance.  Holding any variables at global level makes this really confusing; how does the loader know which spec to use if it is defined at global scope?

Better to have a lightweight read object (created by a lightweight modul

[2017-09-18 17:25] oruebel commented on #114
Ok, what I was thinking of was the following:

```from pynwb.io import HDFIO```

where in pynwb.io would essentially do nothing else but to import FORM and set the spec that FORM should use?

[2017-09-18 17:41] neuromusic commented on #114
@ajtritt

yes. perhaps a better example is the inverse (or is it the converse?)

Let's say I have a file someone gave me that was created with an extended specification. We'll call this extended specification `bells_and_whistles` ... it has some extensions... perhaps it has some attributes that are marked as "required" that are optional is the core spec?

pynwb should handle this easily by default

[2017-09-18 17:43] neuromusic commented on #114
@oruebel

yes.

no. this should absolutely not be set globally on import, for precisely the reasons that @nicain mentioned and that my examples highlight.

if it is not discovered from the file, then it should be explicitly given by the user.

[2017-09-18 17:51] neuromusic commented on #114
@oruebel unless you mean that the pynwb.io.HDF5IO class uses the core pynwb spec as default? I'm OK with that.

[2017-09-18 17:52] nicain commented on #114
I ran into this type of issue working with the Brian simulator (this was several years ago, so this may have changed).  I would set some populations, settings, etc to be simulated and the simulator would auto-discover these things, throw them into the simulation time-loop, and run, which on its face seemed very nice.  Except when it came time to average the results of multiple simulations.  Instea

[2017-09-18 17:54] nicain commented on #114
@neuromusic

HDF5IO is a part of form. This would introduce a coupling between form and pynwb... not sure it that is the intended architecture.

[2017-09-18 17:58] neuromusic commented on #114
@nicain I corrected my comment: "the pynwb.io.HDF5IO class"

[code]

[2017-09-18 23:55] ajtritt commented on #114
Does this solution work? To be clear, the extensions in the namespaces are ANY extension of the core namespace. The only requirement here is that they are extensions of the CORE namespace.

[code]

We could do something similar with write, but I suspect writing datasets with two different extensions at the same time is less relevant of a use-case.

[2017-09-19 00:22] neuromusic commented on #114
yeah, though I also might want to do this...

[code]

I'm still wrapping my head around the namespace framework. What if I want to open a 2.0 file using the 2.1 specification? Or visa versa? How would that work?

[2017-09-19 00:25] ajtritt commented on #114
Can you give some explanation as to why you would want to do that? I ask becase, to me, that is the equivalent of saying "read from database X, but ignore X's schema, and use database Y's schema instead"

[2017-09-19 00:30] oruebel commented on #114
I don't know if this makes sense. If you write data with a given schema then it should always be read with that schema. The only use-case I could see is that when you want to convert data from schema A to schema B, but I think that use-case needs to be handled differently. In particular, how do you know which fields in schema A map to schema B and vice-versa without having additional information a

[2017-09-19 04:21] neuromusic commented on #114
not necessarily. let's say I have a visualization tool built for NWB 2.1 and I have an NWB 2.0 file that I want to load.  let's also say that the differences between the two schemas are in a module that the file may or may not implement.

the pythonic way to do this (EAFP) is to tell pynwb to open the file w/ the 2.1 schema regardless of what the file says it's schema is. if it works, it works. if

[2017-09-19 04:47] ajtritt commented on #114
With the way we've designed extensions in NWB, anything written as NWB 2.0 should be compatible with a NWB 2.1 specification. You are not allowed to remove anything from parent types i.e. you are not allowed to modify or replace types, only create additional, more-specific specifications of existing types through means of creating a new type. Any type that was used to create nwb_two_point_oh.nwb s

[2017-09-19 06:54] ajtritt commented on #114
I wrote up the I/O scenarios I could think of to help guide fixing this issue. I added some snippets (all in one script) demonstrating how read, write, and append scenarios would work with multiple extensions using the solution I have in mind.

https://gist.github.com/ajtritt/11f2bda4846a96eb67cd9e9a7e1b2bdc

Let me know if you think there are any that are missed any scenarios or limitations (by a

[2017-09-19 16:53] ajtritt commented on #52
see .travis.yaml

[2017-09-19 16:53] #52 closed, assigned to nobody

[2017-09-19 19:32] kotfic commented on #100
FWIW after adding:

[code]
to ```setup.py``` I was unable to install following the instructions (e.g.  ```python setup.py build```,  ```python setup.py install```). I received the following exception:

[code]

I was, however, able to successfully install with pip.   Python 3.6.2, pip 9.0.1.

I was going to put in a PR that added this change,  but i can't get it to work with out adding pip to the t

[2017-09-20 19:27] jcfr opened #120 "Create appveyor team to setup continuous integration"
In order to have a Appveyor organization named "NeurodataWithoutBorders",

Here are the steps to follow:

1. Create the following gmail account like this one:

[code]

2. Create an organizational Appveyor account associated with this email.

3. Add the "pynwb" project to it. Then the following URL will be valid:

   https://ci.appveyor.com/project/NeurodataWithoutBorders/pynwb

4. Add @dorukozturk

[2017-09-20 19:28] jcfr commented on #120
cc: @mgrauer

[2017-09-20 19:42] mgrauer commented on #120
Thanks @jcfr .

It is a bit unclear to me what is the next step here, is there something that someone else needs to continue with, or is this simply a record of what you have done, and the task is now complete?

[2017-09-20 19:46] jcfr commented on #120
Apologize for the confusion, I copied the text from a previous communication and omitted to update the tense. Changing to present tense should make things clearer.

Indeed, one of the core dev should go ahead and create the email and corresponding AppVeyor account.  The idea, is to share the credential to that email account with few others  ...

[2017-09-21 06:33] ajtritt commented on #117
Adding these method calls would require the NWBFile class to have a dependency on a backend implementation and the object-relational mapping layer. I'd prefer to keep these classes agnostic to these parts of form.

I added another scenario to the Gist demonstrating different I/O scenarios. This demonstrates what @oruebel suggested.
https://gist.github.com/ajtritt/11f2bda4846a96eb67cd9e9a7e1b2bdc#f

[2017-09-21 16:42] neuromusic commented on #117
Um... why?

1. pynwb already has a dependency on form
1. form has a handful of backends that it explicitly supports

I don't see any technical problem with adding backend-aware methods on the class, whereas the usability benefits of saving from a method directly on the data object are substantial.

[2017-09-21 16:54] ajtritt commented on #117
Um, because, apart from some basic utilities in form, NWBFile and other Container classes actually have almost no dependency on form. These are the classes that users interface with

[2017-09-21 17:21] ajtritt commented on #117
Um, because, apart from some utilities supplied by form, NWBFile and other Container classes (classes in the ecephys, icephys, ophys, ogen, image, behavior, and misc submodules)  actually have no dependency on the major components that make up form i.e. backend and object-relational mapping. These are the classes that users interface with. Keeping them separate from the intricacies of FORM ensure

[2017-09-21 17:53] nicain commented on #117
Sorry all, I am behind on this one.

I am having trouble finding the implementation of pynwb.to_hdf5 referenced in https://gist.github.com/ajtritt/11f2bda4846a96eb67cd9e9a7e1b2bdc#file-io_scenarios-py-L84.  Is this in dev, or some other branch i can take a look at?

[2017-09-21 18:41] ajtritt commented on #117
@nicain The code for those examples exists on enh/explicit_io, which isn't fully tested. I haven't added pynwb.to_hdf5 yet--I just added it to that script as a proposal for you guys to see.

[2017-09-21 19:19] nicain commented on #117
@ajtritt Got it, thanks!  My two cents is that this method deserves a different name.  By looking at your gist and guessing at what it does, it might be better to call it something like:

[code]

This might seem like a trivial thing (please don't take this wrong, only trying to be productive, not sniping!), but methods should be named according to what they do.  Also, this frees up the to_hdf5 met

[2017-09-21 20:20] neuromusic commented on #117
like I said, I don't see any technical problem with adding backend-aware methods on the class

[2017-09-21 20:34] neuromusic commented on #117
yes, I can.

there are two ways this can be implemented.

The first is for the pynwb community to make a decision about what backends are of sufficient popularity to merit file saving using to_X() methods. In this case, each can be implemented on its own, with it's own documentation.

However, if there are more than a handful of backends and we want to support ALL of them, this may become burdenso

[2017-09-21 20:36] ajtritt commented on #117
@nicain Thanks for the suggestion. Are you suggesting replacing `NWBHDF5IO` with `get_hdfio_serializer` ?

[2017-09-21 21:17] ajtritt commented on #117
@neuromusic Can you explain what the value add is here? From my perspective, #121 creates a significant dependency for pynwb on the form.backends subpackage. In addition, because it is dynamically adding methods to NWBFile it is setting NWBFile up to be unstable, which our design is intended to prevent. Finally, it implicitly adds methods to NWBFile... the rule is... the subpackage name becomes th

[2017-09-21 22:33] neuromusic commented on #117
It is a common, intuitive syntax for saving files and converting data structures that pynwb users will likely be familiar with.

There are over 65,000 hits for files on github that have "df.to_csv" in them: https://github.com/search?q=%22df.to_csv%22&type=Code&utf8=%E2%9C%93 & other packages that use the syntax

**pandas**
- `to_csv`,`to_excel`,`to_json`,`to_xarray` etc
- https://pandas.pydata.org

[2017-09-21 23:48] oruebel commented on #117
As far as I can tell, the main point of discussion is whether the to_*** functions should live on NWBFile or not. I understand why the to_*** syntax helps makes things feel familiar and it sounds like there is agreement that we want to have those functions. However, I'm not quite sure why those functions would need to live on NWBFile compared to a dedicated io package. Numpy, e.g., also does not h

[2017-09-21 23:57] neuromusic commented on #117
**numpy**
- `tolist`,`tostring`,`tobytes`,`tofile`
- https://docs.scipy.org/doc/numpy/reference/arrays.ndarray.html

[2017-09-22 00:01] oruebel commented on #117
The ```tolist``` etc. functions are for in-memory conversion not for I/O. I believe for all non-numpy-specific I/O, e.g., for read/write of csv, flat binary etc. the functions live only on numpy and not the array.

[2017-09-22 00:07] ajtritt commented on #117
Is this convenient feature worth putting the code in a state that sacrifices flexibility and maintainability? Is the alternative (leaving these as functions on the package) so confusing to users that we should create a rats nest of dynamically created instance methods and implicit naming conventions?

[2017-09-22 00:25] neuromusic commented on #117
@oruebel see "tofile" as I listed above
https://docs.scipy.org/doc/numpy/reference/generated/numpy.ndarray.tofile.html#numpy.ndarray.tofile

[2017-09-22 03:49] ajtritt commented on #117
@nicain I just realized I made a copy-paste mistake in the Gist. The module function `to_hdf5` should not return an object that users have to make subsequent calls with. I changed it to reflect what I meant.

https://gist.github.com/ajtritt/11f2bda4846a96eb67cd9e9a7e1b2bdc#file-io_scenarios-py-L84

[2017-09-22 04:30] ajtritt commented on #117
I made another revision to simplify the  calls to NWBHDF5IO. The following lines should demonstrate the `pynwb.to_hdf5` function...

https://gist.github.com/ajtritt/11f2bda4846a96eb67cd9e9a7e1b2bdc#file-io_scenarios-py-L53
https://gist.github.com/ajtritt/11f2bda4846a96eb67cd9e9a7e1b2bdc#file-io_scenarios-py-L69

[2017-09-22 04:34] neuromusic commented on #117
fantastic. this/these will be even easier/cleaner to wrap with NWBFile method(s) than my PR.

[2017-09-22 18:27] oruebel commented on #120
@dorukozturk @jcfr I've create the email and AppVeyor account. Can you send me your email addresses that I should use so that I can add to the AppVeyor

[2017-09-22 18:30] jcfr commented on #120
Thanks @oruebel , the email associated with my appveyor account email is my kitware one.

[2017-09-22 18:34] oruebel commented on #120
@jcfr you are now an admin on the AppVeyor. For some reason I'm having trouble adding PyNWB to account. Can you take it from here?

[2017-09-22 18:46] jcfr commented on #120
@oruebel  I confirm I can now log to AppVeyor selecting `NeurodataWithoutBorders`.

That said, I can not  add the project. Which is strange because the following is mentioned:

[code]

For @nwb-bot **GitHub** account, could you check that:
* it has access to https://github.com/NeurodataWithoutBorders/pynwb   (write access should do it)
* the account has been verified
* the https://github.com/setti

[2017-09-22 18:49] jcfr commented on #120
You could either add the @nwb-bot user to `NWBdev` team or create a dedicated team with access to a subset of the repo.

[2017-09-22 18:53] oruebel commented on #120
@jcfr I assume AppVeyor only needs read access, correct? @ajtritt wouldn't adding @nwb-bot to NWBdev give the bot user unwanted write access to the repo?

[2017-09-22 18:57] jcfr commented on #120
That would be ideal, we can try this first.  In that case, you could create a `NBWbot` team

[2017-09-22 19:09] oruebel commented on #120
Ok nwb-bot is now in NWBdev. The repos are now visible in AppVeyor.

[2017-09-22 21:12] jcfr commented on #120
Great. I was able to add the project.

[2017-09-22 21:12] #120 closed, assigned to oruebel

[2017-09-22 21:39] neuromusic opened #123 "TypeError: missing argument 'unit', missing argument 'format' in ophys.ROI"
I'm trying to create ROIs.

[code]

however, this throws an error...

[code]

this is despite the fact that the help gives no indication that these arguments are necessary or what they even are...

[code]

[2017-09-22 21:44] neuromusic commented on #123
gah. wrong object. error is on my ImageSeries.

[2017-09-22 21:44] #123 closed, assigned to nobody

[2017-09-22 22:01] neuromusic opened #124 "cannot create an ROI with a timeless ImageSeries"
I'm trying to create ROIs with `pynwb.ophys.ROI` & there is a required attribute `reference_images`

`pynwb.ophys.ROI` describes this required attribute...

[code]

So it looks like I have to specify an ImageSeries and that this can be a "one element stack".

I have a numpy array called `max_projection` which I want to use as the reference_image. However, when I try to create the image series...

[2017-09-22 22:06] neuromusic opened #125 "clarification on ImageSegmentation argument"
`pynwb.ophys.ImageSegmentation` has a required attribute named "plane_segmentation"

The documentation says that this needs to be of the type "PlaneSegmentation" but describes it as "ImagePlane class"

[code]

passing in an object of the `pynwb.ophys.ImagePlane` type fails.

Is this a documentation error?

[2017-09-22 22:27] ajtritt commented on #117
Does this make an append method easier, too?

[2017-09-22 22:35] nicain commented on #117
This looks awesome to me!

[2017-09-22 22:40] neuromusic opened #126 "typo in ophys.RoiResponseSeries attributes"
"segmenttation_series" should be "segmentation_series"

[2017-09-22 23:07] neuromusic opened #127 "error validating nwb file"
using the example from the docs...

[code]

[2017-09-23 00:07] oruebel commented on #125
The type you need to use is ```pynwb.ophys.PlaneSegmentation```.

I'll update the docs to avoid confusion.

Just for clarification, in the documentation the type that is required is always listed in round brackets after the name of the parameter. In this case with ```plane_segmentation (PlaneSegmentation) – ImagePlane class.```

- ```plane_segmentation``` is the name of the parameter
- ```PlaneSeg

[2017-09-23 00:19] #125 closed, assigned to nobody

[2017-09-23 00:41] oruebel commented on #124
I think the issue is that what you are trying to do is not what ROI was designed to do. ImageSeries is a TimeSeries and as such either 'timestamps' or 'starting_time' are always required. Based on this, my guess is that ROI was intended to always be based on some actual recording of an image series. This is just my guess, as this all comes from NWB 1.x.

[2017-09-23 00:55] neuromusic commented on #124
Thanks Oliver. I'll close this issue and open one on nwb-schema

[2017-09-23 00:55] #124 closed, assigned to nobody

[2017-09-23 00:57] ajtritt commented on #124
Looking over the original spec, I think we may have made a mistake when we converted the old schema to the new format. NWB 1.0 had reference_images as members of the group that we have assigned the type _PlaneSegmentation_ to. I'm guessing that got carried over into the API when David wrote up these classes.

[2017-09-25 16:27] neuromusic commented on #117
@ajtritt an append method?

[2017-09-25 19:00] neuromusic commented on #127
a different error on 3.6 with a clean install of the dev branch

[code]

[2017-09-25 19:24] neuromusic opened #129 "pynwb mangles names with "/""
on Python 2.7

I created an RoiResponseSeries and named it "dF/F"

https://gist.github.com/neuromusic/b44fa185f03b7e588af7f5e7ccb52bdd#file-ophys_example-py-L82

I can't validate the created NWB file because of #127, however, when opening with h5py, the object gets split into a hierarchy of groups "dF" & "F"

![image](https://user-images.githubusercontent.com/1245615/30826851-dace6542-a1ec-11e7-83

[2017-09-29 00:19] CellAssembly opened #131 "pip install error"
Hello,

I tried "pip install nwb" and got the error below regarding the license.txt file.

Thank you,

Yazan

---------------------------------------------------------------------------------------------------------------------
[code]

[2017-09-29 00:27] nicain commented on #131
pip install nwb or pip install pynwb?

[2017-09-29 00:30] CellAssembly commented on #131
pip install pynwb... sorry about that

[2017-09-29 01:24] jcfr commented on #131
Thanks for the report.

We ll address this shortly.

Jc

On Sep 28, 2017 8:30 PM, "CellAssembly" <notifications@github.com> wrote:

[2017-09-29 04:48] neuromusic commented on #131
btw, congrats on your first issue @CellAssembly 🎉 😄

[2017-09-29 18:17] jcfr opened #132 "CI: Add support for reporting coverage"
* [x] Add `codecov`, `coverage` and `pytest-cov` as dev dependencies
* [x] Update `pytest.ini` (for example, see [here](https://github.com/scikit-build/scikit-build/blob/b40067617883bf1128924df70ab0d6eb8f955c9e/pytest.ini#L3))
* [x] Add `.coveragerc` (for example, see [here](https://github.com/scikit-build/scikit-build/blob/master/.coveragerc))
* [x] submit to codecov.io (for example, see [here](h

[2017-09-29 18:20] jcfr opened #133 "CI: Add support for building source and binary distributions"
* [x] add command to build source distribution and wheels on all CIs. See [here](https://github.com/scikit-build/scikit-build/blob/b40067617883bf1128924df70ab0d6eb8f955c9e/scikit-ci.yml#L38-L39)
* [x] add tests for installing them.  For an example of test trying to install source distribution and wheel. See [here](https://github.com/scikit-build/scikit-build/blob/b40067617883bf1128924df70ab0d6eb8f

[2017-09-29 18:21] jcfr commented on #133
xref #131

[2017-09-29 18:28] jcfr opened #134 "CI/AppVeyor: Setup testing using official python"
Currently AppVeyor relies on miniconda to test the project. This is relevant to confirm that the conda-forge package we will setup will work as expected (See #135).

In addition, tests using the "official" python distribution should also be added. For example, see [here](https://github.com/scikit-build/cmake-python-distributions/blob/758e4d26e88fc4575f3f26415932231acf9a37c0/appveyor.yml#L11-L60).

[2017-09-29 18:34] jcfr opened #135 "CI: Add conda-forge recipe"
* [ ] Follow instructions at https://conda-forge.org/#add_recipe . This process will lead to the creation of the repository `conda-forge/pynwb-feedstock`, similar to https://github.com/conda-forge/scikit-build-feedstock that we have for scikit-build.
* [ ] Update badges in readme.rst (see [here](https://github.com/scikit-build/scikit-build/blob/master/README.rst) for example)
* [ ] Update pywnb re

[2017-09-29 18:38] jcfr opened #136 "CI/Circle: Upload source and binary distributions as "latest" release on Github"
* [ ] Use [publish-github-release-py add-on](http://scikit-ci-addons.readthedocs.io/en/latest/addons.html#publish-github-release-py) to upload the packages.
* [ ] Also add `How to make a release` section to the documentation. For example, see [here](https://github.com/scikit-build/scikit-build/blob/master/docs/make_a_release.rst). Note that the example is missing the submission of PR to the conda-

[2017-09-29 19:01] jcfr opened #137 "CI: Support automatic versioning using versioneer"
Currently the version is hard-coded in setup.py, the idea use [python-versioneer](https://github.com/warner/python-versioneer)

It allows to:

* have a unique version number based on the latest tag (if no tag is present, version starts with `0`)

* automatically integrate version number in source distribution

* properly label development (or nightly) release

* simplify the release process reduci

[2017-09-29 19:03] jcfr commented on #137
@oruebel  After dev is merged to master and a release is created, we will have to tag the repository. Options are to use strings like `0.2.0` or `v0.2.0`. Which one do you prefer ?

[2017-09-29 23:03] nicain opened #138 "Rename get_raw_timeseries"
I just checked in an example extension that writes and then reads back out a population spike train:

https://github.com/nicain/population_spike_train

I use get_raw_timeseries for the read, but this is confusing. I think this should be get_acquisition (and the add_raw_timeseries should be changed to add_acquisition).  This reflects the fields in the h5 file.

[2017-10-01 22:36] umayaml opened #140 "Adding TimeSeries with Epochs using add_raw_timeseries produces error on write out"
Added TimeSeries and array populated with epochs:
f.add_raw_timeseries(lt_L_ts,lickLEpochs)

On NWB write out, it produces this error:
  File "convert2pynwb.py", line 253, in <module>
    io.write(f)
  File "/home/umayaml/miniconda3/envs/run_pynwb_git2/lib/python3.6/site-packages/pynwb-0.1-py3.6.egg/form/utils.py", line 275, in func_call
  File "/home/umayaml/miniconda3/envs/run_pynwb_git2/lib/pyt

[2017-10-02 04:07] oruebel commented on #137
I'm ok with either format. My vote is for the variant with the `v` but either way is fine. The bigger question for me is, what version number we should use for the SfN release. For the NWB format it will be something like 2.0.0beta but I'm not sure which version we should use for PyNWB. We should discuss this during our next telecon. @ajtritt any thoughts?

[2017-10-02 15:56] jcfr opened #142 "CI: Improve layout of badges in readme file"
Improve layout of badges in readme.rst (see [here](https://github.com/scikit-build/scikit-build/blob/master/README.rst) for example)

[2017-10-02 20:37] neuromusic opened #146 "pynwb does not enforce class dependencies on file write"
I'm writing an NWB file using the script here:
https://gist.github.com/neuromusic/28742cbd858fa874a99864e24667401c

importantly for this issue, I only register ONE of the containers with the NWBfile object... the final RoiResponseSeries

The file saves with no problems.

I can't validate the created file because #127

However, pynwb cannot load this file because it throws a generic Exception, 32 l

[2017-10-02 21:32] neuromusic opened #147 "ophys.ROI does not save "name" attribute"
![image](https://user-images.githubusercontent.com/1245615/31100436-3ded35ae-a77e-11e7-96ec-d1c8087b6816.png)

This bug prevents writing ROIs to an NWB file, which, in turn, prevents writing dF/F traces to a valid NWB file, since these objects are a dependency in the DfOverF dependency chain (see https://github.com/NeurodataWithoutBorders/nwb-schema/issues/61)

[2017-10-02 21:43] neuromusic opened #148 "cannot edit attributes of created object"
I've created an object and I want to change an attribute, but I get an error that the attribute is set and cannot be edited.

![image](https://user-images.githubusercontent.com/1245615/31100878-ff5ce4cc-a77f-11e7-9af1-1e6922f32e70.png)

Is this functionality not supported? Is there a method or function hidden somewhere that I'm missing?

[2017-10-02 23:08] neuromusic opened #149 "clarification on creating TimeSeries"
I'm trying to create a TimeSeries.

However, the docstring for the TimeSeries object in `pynwb.base` indicates the following:

[code]

It's not clear what "NWB" here refers to, but the example in the documentation says that this is a method on the NWBFile object:
http://pynwb.readthedocs.io/en/latest/example.html#creating-timeseries

However, my NWBFile object has no such method:
[code]

Are these

[2017-10-03 14:27] neuromusic commented on #149
@nicain tells me that I need to create an extension and define a new type of TimeSeries if my type isn't represented in the ophys/ecephys/etc modules

[2017-10-03 18:16] umayaml opened #150 "API to add datasets to NWB analysis"
This is a request for an api call to add datasets (TimeSeries, etc.) to analysis structure in the pynwb generated file. I have an example generated in NWB 1.0 if it would be helpful in coming up with parameters for the api.

- [ ] Update NWBFile schema to allow zero-or-more NWBContainer and zore-or-more NWBData in /analysis
- [ ] Update NWBFile Python class to read/write componenets of analysis

[2017-10-03 18:21] ajtritt commented on #150
I think the best way for us to deal with this it to require that /analysis contain NWBContainer extensions. This would mean that /analysis can no longer be free-form--users would have to define extensions for the data that they are storing in /analysis.

[2017-10-03 18:26] oruebel commented on #150
@ajtritt I agree, that makes the most sense.

[2017-10-03 18:38] neuromusic commented on #150
on first blush, I like the idea of enforcing extensions for /analysis... what are our use-cases for /analysis? are there any uses that could not be supported by NWBContainer extensions?

[2017-10-03 19:15] ajtritt commented on #148
Yeah, attributes that are specified by the specification can be written only once. Is there a reason you need to overwrite data?

[2017-10-03 19:18] ajtritt commented on #150
Technically, datasets, but I've created a general neurodata_type called "NWBData". So, /analysis would be allowed to contain zero or more NWBContainer, and zero or more NWBData.

NWBData will be available when I finish the Restructuring of ElectrodeGroup

[2017-10-03 19:30] nicain commented on #149
@neuromusic This is my understanding, correct.  This also means that TimeSeries should not be instantiated directly; @ajtritt is this still the intended construction?

[2017-10-03 19:42] ajtritt commented on #149
Well, this is a little embarrassing. That's an outdated docstring. You should be instantiating TimeSeries classes directly, and using something like
[code]

[2017-10-03 20:14] ajtritt commented on #117
Yes, append, meaning writing additional data to an existing file. I have had requests for the ability to write analysis results back the file from which the input data came. How does `NWBFile.to_hdf5` instance method do this? Also, with read/write as methods on NWBFile, how would you handle reading? Create a `NWBFile.from_hdf5` class method?

[2017-10-03 20:34] nicain commented on #149
OK! Sorry to add the confusion!  Thanks!

[2017-10-03 20:36] ajtritt commented on #149
No worries. Lets leave this open so I remember to fix this.

[2017-10-03 21:16] neuromusic commented on #149
cool.

So my default here should be to use TimeSeries directly. At what point should I elect to create an extension instead? When I need more arguments? When I need to constrain TimeSeries? Or if I have another class that needs to refer to this object but not general TimeSeries objects?

To give a concrete example, I have two TimeSeries I want to save: an analog signal, which is the raw voltage re

[2017-10-03 22:58] umayaml opened #151 "HDF5IO flag when adding new datasets"
I'll leave it up to debate whether turning on compression should be global or not but having the option to use a compression filter when adding datasets will be really helpful in keeping the final nwb file size down to a manageable level. Thanks again for all the hard work!

[2017-10-03 23:05] nicain commented on #150
Is NWBData a neurotype in dev?  I am having trouble finding any mention of it in the spec files... should I be looking somewhere else?

[2017-10-03 23:14] oruebel commented on #151
@umayaml allowing users to define I/O parameters (e.g., chunking, compression etc.) for datasets is useful. This will have to be on a per-dataset basis.  Enabling compression globally is not a good idea. Compression in HDF5 depends also on enabling chunking on data. Both compression and chunking can have severe impact on read/write speeds and enabling them blindly for everything is going to lead t

[2017-10-03 23:34] nicain commented on #138
Also, in add_raw_timeseries https://github.com/NeurodataWithoutBorders/pynwb/blob/fbe5ef1c8582b2eb10aca562a0a58ad9dc0db8e0/src/pynwb/file.py#L279 should TimeSeries be changed to NWBContainer to allow users to add data extended from NWBContainer?

[2017-10-03 23:40] ajtritt commented on #138
@nicain that would not be schema compliant. Right now, only TimeSeries are allowed in /acquisition. I don't see why it should be that way, but this would require modifying the schema.

[2017-10-03 23:40] nicain commented on #138
OK, got it.

[2017-10-03 23:52] neuromusic commented on #151
cc @dyf

[2017-10-04 00:13] dyf commented on #151
Agreed that this doesn't need to be a requirement for the SfN release.

Some context for my use case for this feature.  Uncompressed our ephys. NWB files can be multiple gigabytes each, which becomes a usability issue for people downloading our data when we have thousands of files.  Also a nontrivial internal storage cost issue.

Either a dataset-level or global-level flag for enabling compression

[2017-10-04 00:16] jeffteeters commented on #138
@ajtritt you wrote:

This does not match the schema doc because images are allowed in /acquisition, specifically in /acquisition/images.  Did you mean to write that only TimeSeries are allowed in /acquisition/timeseries?

[2017-10-04 02:10] ajtritt commented on #138
@jeffteeters You are correct. I forgot about /acquisition/images. With that said, I would augment NWBFile.add_raw_timeseries to take a TimeSeries or an Image.

[2017-10-04 16:25] neuromusic commented on #138
I would second @nicain 's request that this method be changed to `add_acquisition`, especially if it will accept an Image as well.

- "raw" is confusing, as there is nothing else in the spec named "raw"
- a method called "add_raw_timeseries" that accepts non-timeseries things is confusing

[2017-10-04 16:42] #142 closed, assigned to dorukozturk

[2017-10-04 16:59] #132 closed, assigned to dorukozturk

[2017-10-04 17:35] jcfr opened #152 "No coverage form/monitor.py, pynwb/validate.py and pynwb/io/epoch.py"
* https://codecov.io/gh/NeurodataWithoutBorders/pynwb/src/dev/src/form/monitor.py

* https://codecov.io/gh/NeurodataWithoutBorders/pynwb/src/dev/src/pynwb/validate.py

* https://codecov.io/gh/NeurodataWithoutBorders/pynwb/src/dev/src/pynwb/io/epoch.py

[2017-10-04 17:38] nicain commented on #152
This code coverage report looks amazing!

[2017-10-04 17:45] jcfr commented on #152
Thanks @nicain

Indeed, thanks to @dorukozturk , we now have consolidated coverage report across Linux, macOS and Windows.

Before adding coverage exceptions and improving existing tests, what is the status on these three files ?

Should the file be removed ?

I suggest we:

* move clis like this one under a `src/pynwb/cli`  or `src/pynwb/tool`

* update `setup.py` to declare entry points. For exa

[2017-10-04 17:50] jcfr commented on #127
xref #152

[2017-10-04 17:57] jcfr commented on #118
Agreed.

@oruebel @mgrauer @nicain

* What do you think ? What is the relationship of the `form` module with [nwb-schema](https://github.com/NeurodataWithoutBorders/nwb-schema) ?

* Should we relocate `src/form` to `src/pynwb/format` ? Or move the code to its own repo  ?

Cc: @dorukozturk

[2017-10-04 18:09] neuromusic commented on #152
+1 for entry points

[2017-10-04 18:10] mgrauer commented on #118
I agree that this collision is best avoided.

I had had some previous confusion as to the name, if I remember the conversation correctly, I was told that the 'orm' in 'form' stood for "object relational mapper" but that it isn't actually an object relational mapper, such as in the common usage like sqlalchemy. If this is true, avoiding this kind of confusion also suggests a renaming.

/cc @kotfic

[2017-10-04 18:36] neuromusic commented on #117
You don't have an example of appending with the `pynwb.to_hdf` function... So I assume that appending would need to happen using the HDF5IO class, as in your example.

I'm not proposing a read method on NWBFile. Exposing this as a class method would be confusing for most users, I think. One would read with `pynwb.NWBHDF5IO` then `io.read()` as in your example (or by combining these into `nwbfile =

[2017-10-04 20:16] ajtritt commented on #118
I always considered it an ORM, because it maps data stored in HDF5 to a data model defined using base classes from FORM. But if it's confusing, we should just ditch that concept.

I have no feelings on what it gets named. I doubt it has any utility outside of PyNWB, so it might just make the most sense to move it to a subpackage of PyNWB that's hidden from the public.

[2017-10-04 21:30] oruebel commented on #118
I like the separation of the two packages, if only because it makes the separation of front-end data classes and underlying infrastructure explicit. Which helps also in communicating the process.

With regard to names. I'd suggest we start a google doc to collect suggestions and then we can pick a new name. I'll send out a doc later and add it to the agenda for our next telecon.

[2017-10-05 14:50] neuromusic commented on #148
It hasn't been written.

I just want to be able to instantiate the object, then update it's attributes (or data) before I write it to the file.

[2017-10-05 16:39] CellAssembly commented on #138
I also agree with @nicain. We are trying to save simulation data using
https://github.com/nicain/population_spike_train
And given our needs, it would be much better if we are not forced in the realm of TimeSeries (or Images) in acquisition but were given the flexibility to extend directly from NWBcontainer.

[2017-10-18 12:29] #133 closed, assigned to dorukozturk

[2017-10-18 19:25] jcfr opened #154 "setup.py: Add classifiers and keywords"
For example:

https://github.com/InsightSoftwareConsortium/ITKPythonPackage/blob/232e8efa089614a69a8276b7acf73beecab17dc2/setup.py#L45-L65

[2017-10-18 19:35] jcfr opened #155 "docs: Update architecture.rst to document overall CI and software process"
Proposed sections:

[code]

[2017-10-18 19:35] jcfr commented on #155
Cc: @mgrauer @dorukozturk @oruebel

Is `architecture.rst` the right place ? Or should we create a `software_process.rst` doc ?

[2017-10-18 20:01] jcfr opened #156 "Relocate src/form to src/pynwb/form"
xref https://github.com/NeurodataWithoutBorders/pynwb/issues/118#issuecomment-334242656

[2017-10-18 20:02] jcfr commented on #156
@ajtritt  Which refactoring branch(es) were you referring to ?

[2017-10-18 20:07] jcfr commented on #156
The idea is to rebase this branch on top of `dev` after the relocation is done. See https://github.com/NeurodataWithoutBorders/pynwb/tree/enh/tables

[2017-10-18 20:18] mgrauer commented on #155
I'd prefer `software_process.rst`, or it could be in contributing. Contributing should refer to this at least.

[2017-10-18 21:37] oruebel commented on #155
Adding a new ``software_process.rst`` is fine.

[2017-10-19 19:02] nicain opened #158 "Broken Exception Message in __resolve_dtype__ (h5tools.py)"
https://github.com/NeurodataWithoutBorders/pynwb/blob/be7470b944eb23e3a1d4688a525f6ad3261ad9d2/src/form/backends/hdf5/h5tools.py#L163

[code]

name and parent.name are not in scope, so this message is not behaving as intended.  Probably the result of a refactor,  but should be cleaned up to provide a helpful message

[2017-10-19 19:04] nicain commented on #158
@ajtritt I mentioned this to you a few days ago.  I am going to take it out of my current changes, so that we can address it in a bug branch with a simpler merge when there is less time pressure.

[2017-10-20 04:50] jcfr opened #159 "CI/coverage: Associate form, pynwb and integration tests with a different flag"
From @ajtritt

It is indeed possible. See https://docs.codecov.io/docs/flags

I suggest we run the test driver three times:

1.  with `--form` , associating the coverage flag `form`

2.  with `--pynwb`, associating the coverage flag `pynwb`

3.  with `--integration`, associating the coverage flag `integration`

[2017-10-23 18:41] #149 closed, assigned to nobody

[2017-10-23 18:42] #147 closed, assigned to nobody

[2017-10-23 18:45] #138 closed, assigned to ajtritt

[2017-10-23 18:57] oruebel commented on #118
Form will be moved into pynwb as pynwb/form as indicated in #156.

[2017-10-23 19:03] oruebel commented on #58
This ticket is a duplicate with #81. Closing this one.

[2017-10-23 19:03] #58 closed, assigned to oruebel

[2017-10-23 19:06] oruebel commented on #43
@ajtritt should this issue be closed?

[2017-10-23 19:13] oruebel commented on #54
See #13 for some further discussion on string data in HDF5. I closed #13 it seems to largely be a duplicate of this ticket.

[2017-10-23 19:13] oruebel commented on #13
Duplicate with #54.

[2017-10-23 19:13] #13 closed, assigned to nobody

[2017-10-23 19:27] #43 closed, assigned to nobody

[2017-10-23 19:32] #67 closed, assigned to ajtritt, oruebel

[2017-10-23 19:55] ajtritt opened #162 "create docval macros for acceptable data types"
When specifying a type for an argument in docval, we must list out (in a tuple) all acceptable types for the argument. For example, the `data` argument to `TimeSeries` takes three types.

[code]

to make it easier to maintain, we should be able to use something like this:

[code]

and docval will know `'array'` translates to `(Iterable, DataChunkIterator)`

[2017-10-25 04:48] #156 closed, assigned to dorukozturk

[2017-10-25 05:47] oruebel commented on #53
Completed in pull request #161

[2017-10-25 05:47] #53 closed, assigned to nobody

[2017-10-25 05:50] oruebel commented on #78
Completed in https://github.com/NeurodataWithoutBorders/pynwb/pull/161/files

[2017-10-25 05:50] #78 closed, assigned to nobody

[2017-10-25 05:51] oruebel commented on #79
@ajtritt I assume this issue can be closed as well?

[2017-10-25 21:15] oruebel commented on #118
Pull request #167 resolves this issue.

[2017-10-25 21:15] #118 closed, assigned to jcfr, ajtritt

[2017-10-26 13:59] #154 closed, assigned to dorukozturk

[2017-10-26 14:02] #136 closed, assigned to dorukozturk

[2017-10-26 14:03] #100 closed, assigned to dorukozturk

[2017-10-26 14:05] #134 closed, assigned to dorukozturk

[2017-10-26 14:06] jcfr commented on #155
* [ ] Explain how to update `requirements.txt`

[2017-10-26 15:23] dorukozturk opened #168 "Reconsider usage of scipy"
From what I can tell it is only used here https://github.com/NeurodataWithoutBorders/pynwb/blob/17699d46b6bc3902b8fa47fb24f4f376b1b7ddc0/tests/build_fake_data.py#L58
Can we replace that line without bringing scipy and all of it's dependencies?

[2017-10-26 15:38] neuromusic commented on #168
`spatial_data = np.cumsum(np.random.normal(size=(2,len(spatial_timestamps))), axis=-1).T`

[2017-10-26 17:50] nicain commented on #168
I have always stayed away from random number generation in unit tests, because if it does pop, you don't know how to reporoduce the state that caused the error.  IMO At the very least we should use numpy and seed with a known seed to generate consistent testing values, that can be recapitulated in case the test fails and needs to be debugged

[2017-10-26 18:07] #168 closed, assigned to nobody

[2017-10-26 18:09] nicain commented on #168
2 hour ticket closure, damn good work team!  Way to go CI/CD :)

[2017-10-30 14:37] #137 closed, assigned to dorukozturk

[2017-10-31 14:26] jcfr opened #173 "Removing master branch"
Keeping the `master` branch around is confusing (there is only 4 commits), unless there is plan to merge `dev` into master I suggest we remove it.

[2017-10-31 14:26] jcfr commented on #173
Cc: @dorukozturk @oruebel @mgrauer

[2017-10-31 14:28] jcfr opened #174 "Disabling direct push on dev branch"
All contributions should go through the "PR-CI-Integrate" cycle.

If CI doesn't make sense for a given commit (e.g typo in a License file, ...), it could be skipped adding the comment `[ci skip]`.

Cc: @dorukozturk @mgrauer @oruebel

[2017-10-31 14:33] dorukozturk commented on #174
I suggest we make dev as a protected branch like specified [here](https://github.com/blog/2051-protected-branches-and-required-status-checks). I can set this up if there are no objections.

[2017-10-31 14:56] ajtritt commented on #173
We can remove it. I created it early on, per a convention I have used in previous projects. Since releases will be cut from dev, I don’t see a purpose for master.

[2017-10-31 15:00] jcfr commented on #173
Great. `master` branch has been removed.

[2017-10-31 15:00] #173 closed, assigned to nobody

[2017-10-31 15:03] ajtritt commented on #174
This has been the policy since the beginning. dev is protected, and @oruebel and myself are the only ones that can override CI checks by exercising admin privileges.

[2017-10-31 15:22] dorukozturk commented on #174
@ajtritt my bad, I should have been more clear. I saw that dev is already a protected branch. The thing we propose is: we only change dev through pull requests where all the tests pass on all CIs. If we activate status checks on the repo for dev branch, even if we are admins, unless the tests are passing we won't be able to merge. This will ensure dev is always stable and reliable, since we will b

[2017-10-31 15:44] ajtritt commented on #174
Got it. That sounds reasonable to me. Does this make reviewers obsolete then?

[2017-10-31 16:03] dorukozturk commented on #174
No, still reviewer's approval will be required.

[2017-10-31 16:47] #174 closed, assigned to nobody

[2017-11-01 13:46] jcfr opened #176 "CI: Upload to pypi"
@ajtritt  While we are finalizing the process, would be great if you could add @dorukozturk and myself as package maintainer on pypi. See https://pypi.python.org/pypi/pynwb

My pypi username is `jcfr`

[2017-11-01 13:46] jcfr commented on #176
Cc: @mgrauer @oruebel

[2017-11-01 13:48] dorukozturk commented on #176
My pypi username is "dorukozturk"

[2017-11-01 14:11] ajtritt commented on #176
Done

[2017-11-01 14:11] #176 closed, assigned to ajtritt

[2017-11-01 19:21] dorukozturk opened #178 "Style pynwb according to pep8"
For standardized styling projects should follow [pep8](https://www.python.org/dev/peps/pep-0008/).

[2017-11-01 19:21] dorukozturk opened #179 "Add flake8 checks to circleci"
Automate flake8 checks so that the PRs are styled according to pep8.

[2017-11-01 19:52] dorukozturk opened #180 "Potential typo"
https://github.com/NeurodataWithoutBorders/pynwb/blob/dev/src/pynwb/io/core.py#L14 Should this line be def carg_data?

[2017-11-01 20:07] nicain commented on #180
Yes! Nice catch

[2017-11-01 20:27] ajtritt commented on #180
Yes, it should be, but it doesn't matter, the name of the methods decorated with `ObjectMapper.constructor_arg` and `ObjectMapper.obj_attr` does not matter.

[2017-11-02 18:55] #68 closed, assigned to oruebel

[2017-11-02 19:53] umayaml commented on #151
I just wanted to update this that we have a preliminary implementation of this on enh/compress branch. You have the option to wrap your data in a wrapper class and then provide a flag to have that data compressed in h5py on write out. Example:

[code]

It will use gzip to compress the data you put into a DataIO object. Tested it out and it looks like it works.

[2017-11-03 14:45] dorukozturk opened #191 "Some functions have high cyclomatic complexity"
[This](https://en.wikipedia.org/wiki/Cyclomatic_complexity) is a nice complexity check for functions. This is optional but I believe it is good practice to have lower numbers. Here is a list of complex functions in pynwb currently:

- ./src/pynwb/form/utils.py:10:1: C901 '__type_okay' is too complex (13)
- ./src/pynwb/form/utils.py:82:1: C901 '__parse_args' is too complex (16)
- ./src/pynwb/form/b

[2017-11-03 20:25] ajtritt opened #192 "Clean up repo organization"
In the interest of keeping the repository clean, move all CI/CD config and other files into a subdirectory.

If this breaks CI/CD platforms or causes too many problems, we can close it out.

[2017-11-05 22:49] lfrank opened #194 "Additional flexibility within electrode_table"
As it is currently defined, electrode table requires a unique ID (which, I'm assuming, would be the experimenter defined electrode number), a location in the brain and various coordinates.  This is fine for fixed electrodes, but many experiments involve electrodes that are moved across some period of time, and it would be helpful/important to be able to associate a given dataset with a specific el

[2017-11-06 00:52] lfrank opened #195 "Unclear how to add electrodes / bug in nwbf.add_electrode"
First, the current documentation doesn't really explain how to add electrodes (presumably one uses the add_electrode function of NWBFile).

Second, calling that function returns the following
[code]

[2017-11-06 00:53] oruebel commented on #194
@lfrank using the current electrode table design, I can see a couple of options here:

1. The simplest solution may be to just add a new entry (i.e., row) to the electrode table for each unique position of the electrode (while keeping the ID for the electrode the same). Since the location and other metadata of the electrode changes this approach seems reasonable. This would allow you to reference

[2017-11-06 01:08] oruebel commented on #195
@lfrank the refactoring of the organization of the electrode metadata via the ElectrodeTable was added very recently so the documentation may still be a bit behind on this.

@ajtritt can you take a look at the bug.

[2017-11-06 05:05] lfrank commented on #194
@oruebel Thanks, those are both great suggestions.  I prefer #1 for simplicity and flexibility, and we can work on creating that extension with additional epoch information for each entry in the electrode table.

[2017-11-06 17:00] lfrank commented on #194
One additional comment: This is also related to issue 3 in the nwb-schema repo.

[2017-11-06 20:31] oruebel opened #196 "Update install instructions on getting_started page"
Once PyNWB is available on PIP / CONDA, the install instructions in docs/source/getting_started.rst should be updated. Also, the requirements on that page need to be updated (e.g., currently it still lists Python 3 only). @dorukozturk would you be able to do this before SfN?

[2017-11-07 13:13] dorukozturk commented on #192
The CI/CD services have standard locations. I think it is not impossible to move them, but by convention keeping them is a better idea. Almost all big projects have appveyor, travis, circle or tox files in their repository. Here are few examples ([numpy](https://github.com/numpy/numpy), [scipy](https://github.com/scipy/scipy), [jupyter](https://github.com/jupyter/notebook),  etc.)

[2017-11-07 13:18] dorukozturk commented on #196
I think updating the docs is doable. One thing that I am not sure about is the conda-forge recipe. Once we submit it, we will wait for someone from their end to review and approve. The following will be the command. But first it has to be published on conda-forge.
[code]
This might not be ready for sfn.

[2017-11-07 14:05] neuromusic commented on #196
the channel could still be created on anaconda cloud and installed with

[code]

see e.g. this random channel hosting seaborn builds: https://anaconda.org/mutirri/seaborn

once/if it gets approved on conda-forge, then it's just one line to change in the docs

[2017-11-07 14:38] dorukozturk commented on #196
@neuromusic thanks. Then the answer is yes. We can create our own channel and see how it goes.

[2017-11-07 15:02] #192 closed, assigned to jcfr, dorukozturk

[2017-11-07 15:47] #178 closed, assigned to dorukozturk

[2017-11-07 15:49] #180 closed, assigned to nobody

[2017-11-07 16:24] #179 closed, assigned to dorukozturk

[2017-11-07 17:13] lfrank opened #201 "warnings package not imported (OS X / anaconda)"
Trying to create an extension to ElectrodeGroup that adds an Epoch datatype:
`FL_ElectrodeGroup_ext = NWBGroupSpec('Frank Lab Electrode Group',
								 groups=[NWBGroupSpec('valid_times', 'time range over which this electrode group is defined', 'Epoch')],
								 neurodata_type_inc='ElectrodeGroup',
								 neurodata_type_def='FL_ElectrodeGroup')
`
produces

`/Users/loren/anaconda3/lib/python3.

[2017-11-07 17:40] #201 closed, assigned to nobody

[2017-11-07 17:41] dorukozturk commented on #201
@lfrank Thank you. I was able to reproduce the error and pushed a fix. Can you try now?

[2017-11-07 17:57] lfrank commented on #201
@dorukozturk That did it; thanks...

[2017-11-07 18:58] ajtritt opened #203 "remove get_build_manager dependency from validator"
pynwb/validate.py still calls get_build_manager. This code needs to be updated to call pynwb.get_manager

[2017-11-07 19:02] oruebel commented on #203
Pull request #187 I believe fixes that part

[2017-11-07 19:43] jcfr commented on #203
Closing, This is fixed in https://github.com/NeurodataWithoutBorders/pynwb/commit/f2d12e6bd155cb52331c1f11b58e4737317d4adc

[2017-11-07 19:43] #203 closed, assigned to nobody

[2017-11-07 19:52] oruebel commented on #17
@ajtritt is this in part addressed by the legacy data read (i.e., at least for the Allen data)?

[2017-11-07 19:52] oruebel commented on #77
@ajtritt can this issue be closed?

[2017-11-07 20:22] lfrank commented on #194
@oruebel @ajtritt Oliver and Andrew - when you have time:

It is not clear to me how to define an extension that includes a link to an Epoch.  I've tried various things, including

								 groups=[NWBGroupSpec('time range over which this electrode group is defined',
													  'valid_times',
													  default_name=None,
													  groups=[],
													  datasets=[],

[2017-11-07 21:13] oruebel opened #206 "Add I/O Gist to examples/tutorials"
Add the I/O Gist from #171

https://gist.github.com/ajtritt/11f2bda4846a96eb67cd9e9a7e1b2bdc

As part of an I/O tutorial for PyNWB

[2017-11-07 23:03] ajtritt opened #207 "fix missing FORM documentation link"
When form was moved to a subpackage of pynwb, this broke the links on the [API documentation](http://pynwb.readthedocs.io/en/latest/api_docs.html). docs/source/api_docs.rst just needs to be updated to point to the right location of FORM

[2017-11-08 03:15] jcfr opened #208 "testing: Add test trying to run validate CLI"
See https://github.com/NeurodataWithoutBorders/pynwb/pull/205#issuecomment-342605950

[2017-11-08 07:54] jcfr commented on #115
xref #209

[2017-11-08 18:33] #207 closed, assigned to dorukozturk

[2017-11-08 18:34] jcfr opened #211 "ci: pre-release packages fail to be uploaded"
pre-release packages fail to be uploaded.

It fails with the following message:

[code]

Source: https://circleci.com/gh/NeurodataWithoutBorders/pynwb/359

### Steps to Reproduce
[code]
### Environment
Please describe your environment according to the following bullet points.
- **Python Executable:** Any
- **Python Version:** Any
- **Operating System:**  NA
- **Pynwb Version:** dev

[2017-11-08 18:40] jcfr commented on #211
@dorukozturk I am looking at this

[2017-11-08 18:40] jcfr commented on #211
@dorukozturk I am looking at this

[2017-11-09 00:23] jcfr commented on #211
There is now a [new release](https://pypi.python.org/pypi/githubrelease/1.5.7) of github-release.

Issues has been identified, script [publish-github-release-py](http://scikit-ci-addons.readthedocs.io/en/latest/addons.html#publish-github-release-py) is being updated, tests added and a release of `scikit-ci-addons` will be out shortly.

[2017-11-09 00:31] dorukozturk commented on #211
@jcfr What was the issue?

[2017-11-09 00:38] jcfr commented on #211
Two things:

* the Exception was not informative. The new version of scikit-ci-addons will address that by ensuring an informative message is reported. In a nutshell, it was raised because the integration branch was incorrect and the default of `master` is not good. Specifying ``--prerelease-sha dev`` fixes this.

* specifying the `--prerelease-packages-clear-pattern` and `--prerelease-packages-ke

[2017-11-09 15:35] dorukozturk opened #214 "Versioneer does not like "latest" tag"
## 1) Bug

When using the tag "latest", versioneer takes that and procudes a version string for the package. The problem is pip does not like the format of that string (see [this](https://circleci.com/gh/NeurodataWithoutBorders/pynwb/372?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link)). This issue is mentioned in #213.
### Steps to Reproduce
[code]
### Environme

[2017-11-09 17:00] dorukozturk commented on #214
Fixed by #213.

[2017-11-09 17:00] #214 closed, assigned to dorukozturk

[2017-11-09 17:46] jcfr opened #215 "docs: Update "Getting Started""
See https://github.com/NeurodataWithoutBorders/pynwb/blob/dev/docs/source/getting_started.rst

* [ ] prerequisites are also incorrect
* [ ] since we will have package available on pypi, pip should be used

* [ ] To install the latest dev version, the following should be documented:

[code]

Installing the dev package is pending resolution of #216

[2017-11-09 18:00] dorukozturk commented on #211
@jcfr Should we close this now?

[2017-11-09 18:33] jcfr opened #216 "ci: Update versioneer to use not including a "+" sign. Not support by GitHub"
Since GitHub will change the "+" into a "." when package are uploaded, we can not use the "pep440-post" style.

Available options are documented here: https://github.com/warner/python-versioneer/blob/master/details.md#how-do-i-select-a-version-style

May be the `pep440`

[2017-11-09 18:36] jcfr opened #217 "docs: Include link to readthedocs from description presented on pypi"
The information presented on pypi is derived from the metadata associated with the package in `setup.py`.

since it currently read the readme file to set the description, I suggest to include link to the documentation in the readme.

[2017-11-09 18:39] jcfr opened #218 "ci: Add requirements-doc.txt"
Requirement to build the documentation should be listed in a dedicated requirements file, this will facilitate building of the documentation locally.

For example: https://github.com/scikit-build/cmake-python-distributions/blob/master/docs/requirements-docs.txt

[2017-11-09 18:40] jcfr opened #219 "docs: Ensure documentation build locally match readthedocs theme."
Ensure documentation build locally match readthedocs theme.

For example:

https://github.com/scikit-build/cmake-python-distributions/blob/a6ed3f1c89a88c3968792d167313716dbb96b33b/docs/conf.py#L343-L351

[2017-11-09 18:47] jcfr opened #220 "docs: Fix documentation warnings"
[code]

[code]

[2017-11-09 18:51] jcfr opened #221 "ci: Consolidate Makefile and make.bat"
Since Makefile are not supported across platform and we would like to support developer on windows.

I suggest to:

* remove the top level Makefile
* use only docs/Makefile or docs/make.bat for documentation generation

[2017-11-09 19:22] #211 closed, assigned to jcfr

[2017-11-09 19:23] jcfr opened #222 "ci: Update scikit-ci-addons to ensure the "Latest" release date is always current"
## 1) Bug

### Steps to Reproduce

Each time a PR is merged to master, the associated packages are uploaded to the "latest" release but the release date is not updated.

[2017-11-09 19:24] jcfr commented on #211
xref #222

[2017-11-09 19:34] jcfr opened #224 "docs: Use consistent keywords/tags/topics associated with GitHub, readthedocs and setup.py"
So far, we have:

* [x] readthedocs:  ~pynwb, nwb, python~
  * **Updated**: See https://readthedocs.org/projects/pynwb/
* [x] setup.py: PyNWB NWB Neuroscience HDF NeurodataWithoutBorders
  * **Updated:**: See https://github.com/NeurodataWithoutBorders/pynwb/pull/225
* [x] github: ~None~
  * **Updated**: See https://github.com/NeurodataWithoutBorders/pynwb

~I plan to update the list to:~

**Update

[2017-11-09 19:44] ajtritt commented on #224
Please add `HDF5`, too

[2017-11-09 19:50] oruebel commented on #224
Please add ``NWB:N`` as well

[2017-11-09 19:57] jcfr commented on #224
Updated list:
[code]

[2017-11-09 20:00] jcfr commented on #224
Since on github:
* the ":" is not allows in topic name: is `NWB-N` ok ? We can also omit it there.
* lower case is the convention. Would `neurodata-without-borders` work instead of `neurodatawithoutborders` ?

For Github, the list would then be:

[code]

[2017-11-09 20:01] #155 closed, assigned to jcfr

[2017-11-09 20:24] jcfr commented on #216
As pointed out by @dorukozturk , `pep440` includes a '+' in the standard case.

I then suggest to look at `pep440-pre`, which make sense as the packages are "pre-release"

We would update the instruction to use `--pre` and also the the keep pattern in circleci config

[2017-11-09 20:43] oruebel commented on #221
@jcfr I personally find the makefile very useful from a developer perspective because it provides shorthands for many calls that I otherwise might forget. My personal vote is to keep it or at least have an alternative for it.

[2017-11-09 21:18] jcfr commented on #224
`reproducible-science` -> `reproducible-research`

[2017-11-09 21:18] jcfr commented on #224
* GitHub:

![pynwb-github-project](https://user-images.githubusercontent.com/219043/32630159-a4ae1386-c569-11e7-8975-a3112fb11263.png)

[2017-11-09 21:23] jcfr commented on #224
* ReadTheDocs:

![pynwb-rtd-tags-v2](https://user-images.githubusercontent.com/219043/32631180-6ef51600-c56d-11e7-8063-253b6b2de1d5.png)

[2017-11-09 21:24] nicain commented on #221
I've been bitten several times by the make file; my vote is to use a platform independent alternative.

[2017-11-09 21:27] jcfr commented on #221
Thanks for the feedback, I will think about our options and try to propose something accommodating both of you and minimizing inconsistencies.

[2017-11-09 22:18] oruebel commented on #221
Since the Makefile is mainly a collection of convenient shorthands for other command-line calls a possible solution may be to just turn it into a Python script instead. @ajtritt do you have any preferences on this?

[2017-11-09 22:32] #224 closed, assigned to jcfr

[2017-11-09 23:41] oruebel opened #230 "Evaluate Zarr as a possible alternate array data / storage backend"
##  Possible Future Enhancement
This ticket is mainly as a note for a possible future enhancement, i.e., something to possibly look at in the future. I just came across the Zarr library http://zarr.readthedocs.io/en/latest/index.html  The library implements an interface that looks similar to h5py but is designed more generally for chunked, compressed, N-dimensional arrays with the ability to seria

[2017-11-10 02:16] #217 closed, assigned to dorukozturk

[2017-11-10 02:26] dorukozturk commented on #219
@jcfr Can you clarify this issue a little bit more.

[2017-11-10 04:49] jcfr commented on #219
I originally posted this because I didn't see the "usual" construct I am used to at the end of the conf file.

This used to be the recommendation: https://pypi.python.org/pypi/sphinx_rtd_theme/0.2.4#using-this-theme-locally-then-building-on-read-the-docs

But is not anymore in the latest version: https://pypi.python.org/pypi/sphinx_rtd_theme/0.2.5b1#via-package

It became easier to integrate with

[2017-11-10 04:49] #219 closed, assigned to dorukozturk

[2017-11-10 13:21] #215 closed, assigned to dorukozturk

[2017-11-10 13:22] dorukozturk commented on #215
Fixed by #223

[2017-11-10 13:59] #218 closed, assigned to dorukozturk

[2017-11-10 14:00] #196 closed, assigned to ajtritt, dorukozturk

[2017-11-10 19:47] #220 closed, assigned to dorukozturk

[2017-11-10 20:04] jcfr opened #235 "docs: Re-organize sections"
Current:

[code]

Suggested:

[code]

[2017-11-10 20:07] dorukozturk commented on #235
If this looks good to @oruebel and @ajtritt I can do it. It looks good to me.

[2017-11-10 20:09] jcfr opened #236 "docs: Remove hardcoded version number from "conf.py""
https://github.com/NeurodataWithoutBorders/pynwb/blob/f20eb8e4065bec36f55e4564047ed5936aad7d5e/docs/source/conf.py#L62-L64

Here is what I do in an other project :

https://github.com/scikit-build/cmake-python-distributions/blob/a6ed3f1c89a88c3968792d167313716dbb96b33b/docs/conf.py#L62-L65

[2017-11-10 21:08] jcfr commented on #235
cc: @mgrauer

[2017-11-10 21:21] jcfr opened #238 "docs: Locally use "readme" package to validate rendering of setup.py description"
See https://pypi.python.org/pypi/readme

[2017-11-10 21:21] jcfr commented on #238
@mgrauer Could you also look at this ?

[2017-11-10 21:50] mgrauer commented on #235
Generally the suggested structure LGTM.

I have the following suggestions and questions:

 * [x] change "Maintainer" to "Maintenance" or "For Maintainers"
 * [x] Tutorials/Convert, change "Convert" to "Converting data to NWB"
 * [x] How to make a release/Convention, change "Convention" to "Documentation conventions"

@jcfr what does "Update Requirements" mean, or what should go in that section?

[2017-11-10 21:55] jcfr commented on #235
Thanks for the review

"Update Requirement" should instead be "How to update `requirements[-dev|-doc].txt` files"

[2017-11-10 22:04] mgrauer commented on #235
ok, or as a shorter title, maybe "How to Update Requirements Files"

[2017-11-10 23:34] ajtritt opened #240 "Fix CodeCov environment to match one of the test environments"
## 1) Bug

When CircleCI runs codecov, it seems to be running with a different environment. Unit tests for both Py2 and Py3 pass, but codecov fails when running the same code.

See [this build](https://circleci.com/gh/NeurodataWithoutBorders/pynwb/414?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link)

## 2) Feature Request
Ensure that codecov runs the in the same

[2017-11-11 06:27] #236 closed, assigned to dorukozturk

[2017-11-11 06:35] #238 closed, assigned to nobody

[2017-11-11 10:38] #216 closed, assigned to dorukozturk

[2017-11-11 10:38] #222 closed, assigned to jcfr

[2017-11-11 11:57] #235 closed, assigned to dorukozturk

[2017-11-11 13:18] jcfr opened #244 "NWB website improperly served from https"
## Bug

### Steps to Reproduce

Go to https://www.nwb.org/

Here is a screenshot:

![https-nwb-broken](https://user-images.githubusercontent.com/219043/32689799-ed200764-c6b8-11e7-9dc0-a2190dd8cfe9.png)

Cc: @oruebel

[2017-11-11 14:49] jcfr commented on #79
Based on most recent comment. Closing.

Please, re-open if this is a mistake.

[2017-11-11 14:49] #79 closed, assigned to nobody

[2017-11-11 15:21] cmartin-kavlifoundation commented on #244
I get the same issue when going to https://www.nwb.org but _not_ if I go to https://live-nwb.pantheonsite.io/ which is the direct link to the web hosting site.  So there is something weird going on with https.  This may take a bit of sleuthing to track down.  I'm distracted by another event at SfN at the moment, so I'm going to have to defer working this until later in the afternoon.  In the inter

[2017-11-11 15:44] mgrauer commented on #244
The issue is that the sites are https, but some of the nwb.org resources are being requested as http, resulting in browser console errors like

Looking at a link for the same resource across the two sites in the page, nwb.org is requesting http but pantheonsite is requesting https:

    https://live-nwb.pantheonsite.io/wp-content/themes/Total/assets/js/wpex.min.js?ver=4.4.1
    http://www.nwb.org/

[2017-11-11 16:21] dorukozturk commented on #131
This is fixed now

[2017-11-11 16:21] #131 closed, assigned to jcfr

[2017-11-11 16:31] cmartin-kavlifoundation commented on #244
I just made some changes to the DNS entry for nwb.org that seemed to have solved the problem with https.  It may take a few hours for the new DNS details to propagate, but once they have I will check again and close this ticket.  If you still see problems let me know.

[2017-11-11 16:36] jcfr commented on #244
I confirm that the layout is now correct using: https://nwb.org  👍

But there is still the issue of mixed content that @mgrauer described above.

![nwb-mixed-content](https://user-images.githubusercontent.com/219043/32691371-9d54b448-c6d4-11e7-94d0-2cdaf68e5f94.png)

[2017-11-11 16:38] cmartin-kavlifoundation commented on #244
Thanks for the confirmation, now that the urgent piece is fixed (the formatting with https), I'll address the secondary issue of the mixed http and https content.

[2017-11-11 16:39] mgrauer commented on #244
The website works for me now.

Almost all the resources are now being served via https, there is one remaining http resource, though the browser is issuing a warning rather than an error and allowing this image through for me.

    http://live-nwb.pantheon.io/wp-content/uploads/2015/08/brain.png

[2017-11-11 16:43] jcfr commented on #244
To put things in context and clearly indicate where in the source code to update:

![brain-png-source](https://user-images.githubusercontent.com/219043/32691426-5910e54e-c6d5-11e7-9082-d1e761e542e0.png)

![brain-mng-downloaded-from-http](https://user-images.githubusercontent.com/219043/32691425-58f64e3c-c6d5-11e7-9a13-c3e4fbb8532d.png)

[2017-11-11 16:50] jcfr commented on #240
Closing. Superseded by #245

[2017-11-11 16:50] #240 closed, assigned to jcfr, dorukozturk

[2017-11-11 17:00] cmartin-kavlifoundation commented on #244
Fixed, this was an old link that had snuck in somehow.  https now gives me no warnings and the page is rendering properly, so I'm going to mark this closed later this afternoon.
Prophylatically, I'm looking through the lower level pages to make sure they don't have any http: images that have snuck through and cause https warnings.  Please feel free to comment if you spot anything else.

[2017-11-11 17:12] jcfr commented on #244
Thanks 👍

These pages have mixed content:

* https://www.nwb.org/2015/11/20/identifying-the-brains-essential-elements/
  * Easy to fix - served from nwb.org

![http-1](https://user-images.githubusercontent.com/219043/32691681-5fb9234e-c6d9-11e7-9153-1190753e2922.png)

* https://www.nwb.org/2014/09/07/feature-breaking-down-the-data-barriers-in-neuroscience/

  * corresponding https url is now worki

[2017-11-11 20:18] jcfr opened #247 "test_write_cache_spec failure on python 3.5 following integration of #242"
## 1) Bug

### Steps to Reproduce
[code]

[code]

### Environment
Please describe your environment according to the following bullet points.
- **Python Executable:** Python
- **Python Version:** Python 3.5
- **Operating System:**  Linux
- **Pynwb Version:**  https://github.com/NeurodataWithoutBorders/pynwb/commit/4220402eb6564e9257c0164f9004f42d1449cced

[2017-11-11 20:47] nicain commented on #247
I think I know what’s going on here @ajtritt you have this one? I fixed up similar errors with “decode”

[2017-11-11 21:05] jcfr commented on #247
I have a fix. Pushing now

[2017-11-11 21:09] jcfr commented on #247
xref https://github.com/NeurodataWithoutBorders/pynwb/pull/248

[2017-11-11 23:54] jcfr commented on #44
Closing. This is addressed by #242

Please, re-open or create a more specific issue if it should not have been closed.

[2017-11-11 23:54] #44 closed, assigned to nobody

[2017-11-11 23:58] jcfr commented on #126
Closing. This was fixed in 8e2d7ca84a80cda2699e7db530de09bf10d3f902

[2017-11-11 23:58] #126 closed, assigned to nobody

[2017-11-12 00:01] jcfr commented on #114
Closing, use case reported by @nicain is now working:

[code]

[2017-11-12 00:01] #114 closed, assigned to nobody

[2017-11-12 00:43] cmartin-kavlifoundation commented on #244
All of the https issues with formatting and mixed content have been cleaned up, closing ticket.

[2017-11-12 00:43] #244 closed, assigned to cmartin-kavlifoundation

[2017-11-12 00:44] jcfr commented on #244
Thanks @cmartin-kavlifoundation

[2017-11-12 01:27] jcfr commented on #247
Fixed in https://github.com/NeurodataWithoutBorders/pynwb/commit/50fa07482f2c0d1efaec05338194b3b2d86737ee

[2017-11-12 01:27] #247 closed, assigned to ajtritt

[2017-11-12 07:23] nicain commented on #114
Yup from my perspective this is resolved completed. Thanks!

[2017-11-12 16:51] jcfr opened #250 "ci: Upstream customization of python-versioneer"
## 2) Feature Request

### Problem/Use Case

We currently use a locally modified of `python-versioneer`. See https://github.com/NeurodataWithoutBorders/pynwb/commit/03408642ee51c47e2302bbd76d01b477f0b9b9f2

[code]
The idea is to submit a PR against the upstream project https://github.com/warner/python-versioneer and with the maintainers to get the functionality integrated.

## Checklist

- [ ] Hav

[2017-11-12 18:12] jcfr opened #251 "read-Allen-Brain-Oservatory.ipynb: Explicitly select a matplotlib style"
It would be great to have a cell like this one at the top:

[code]

Failing to do so, make it harder for other to contribute improvements.

Here were the available style in the docker container I am using:

[code]

[2017-11-13 03:28] jcfr opened #253 "Update read-Allen-Brain-Oservatory notebook"
As notebook are usually considered a great source of examples, researchers will often copy snippet as a starting point.

Here are few suggestions to improve them:

* [x] add a cell briefly explaining the different between NWB 1.0 and NWB 2.0. And reference documentation
* [x] select a style. See #251
* [x] re-organize import. See below
* [x] Use print as a function. ``print(foo)`` instead of ``pri

[2017-11-13 03:35] nicain commented on #253
Consolidating feedback from @neuromusic for my own reference here:

- [x] Reduce complexity of this component.

- [x] Refactor example to only consider session_b (less to download and cache too...)

defining the legacy type map
creating the IO instance
using the IO instance to read the file

How bad is it to let the warnings show here?

And if you do this, do you really need all of the space up ab

[2017-11-13 04:04] nicain commented on #253
xref https://github.com/NeurodataWithoutBorders/pynwb/pull/252

- [x] add ! pip install pynwb and allensdk to first cell in jupyter notebook

[2017-11-13 21:23] nicain opened #258 "Legacy get_builder_dt can return None"
https://github.com/NeurodataWithoutBorders/pynwb/blob/d2a53149cef95ce0f6f70552301cfc6c647f30c7/src/pynwb/legacy/map.py#L75

If no legacy datatypes are caught by the cases, fallthrough is a None; this results in an Exception in construct (map.py), but this should raise an Exception earlier, before returngin from function and with a meaningful message (NotImplementedError).

[2017-11-14 18:38] #253 closed, assigned to nicain

[2017-11-15 00:58] lfrank opened #260 "Cannot write NWB file"
Using either my own code or code directly cut and pasted from the Example on the documentation website produces an error upon trying to execute

`io.write(nwbf)`

  File "/Users/loren/Src/NWB/franklabnwb/convert_nspike.py", line 551, in <module>
    io.write(nwbf)
  File "/Users/loren/anaconda3/lib/python3.6/site-packages/pynwb-0.2.0.post0.dev14-py3.6.egg/pynwb/form/utils.py", line 306, in func_ca

[2017-11-15 01:05] jcfr commented on #260
Hi Loren,

Do you experience issue using the release of pynwb ?

It looks like you are installing the project from the current GitHub source.

pip uninstall pynwb
pip install pynwb==0.2.0

[2017-11-15 01:06] lfrank opened #261 "Documentation error"
On http://pynwb.readthedocs.io/en/latest/example.html
`from form.backends.hdf5 import HDF5IO`

should be

`from pynwb.form.backends.hdf5 import HDF5IO`

[2017-11-15 01:06] lfrank commented on #261
And as a follow-up: it would be great if someone could go through and try executing all of the example code to make sure it all works. I think there may be other typos / errors as well.

[2017-11-15 01:12] lfrank commented on #260
Thanks for checking, and indeed I was using it from the GitHub source, but I just installed using pip and I get the same error.   The code that replicates it is below (taken from the website, but with one error fixed; see my other recently posted documentation issue).

[code]

[2017-11-15 01:21] jcfr opened #262 "Update example.rst to include code from tested scripts"
Example should then be documented using syntax similar to this one:

[code]

Reported by @lfrank

[2017-11-15 01:22] jcfr commented on #260
Thanks for pointing this out. We will soon have all examples tested. See #262

[2017-11-15 08:35] jcfr opened #263 "docs: Update AnnotationSeries and AbstractFeatureSeries docstrings: Remove reference to create_timeseries"
This function has been removed in 9f07c23c3119d8b0a8bb49b3e0eaac8fcf787bab

[2017-11-15 08:51] jcfr commented on #135
* [ ] Check that issue #26 is addressed
* [ ] Check that issue #40 is addressed

[2017-11-15 14:33] jcfr opened #267 "docs: Fix ReadTheDocs so that it includes API documentation"
## 1) Bug

### Steps to Reproduce

See https://pynwb.readthedocs.io/en/latest/api_docs.html

### Suggested changes

Two approaches:

* ensure `make apidocs` is called on the readthedocs worked

* commit generated API rst files  (look if we could be added to and include from `docs/source/api`)

[2017-11-15 15:10] jcfr opened #268 "docs: Consolidate "Extending NWB files" examples"
Section "Creating and Writing NWB files / Using Extensions" should be moved under "Extending NWB" just after "Creating new Extensions"

[2017-11-15 16:05] jcfr opened #269 "coverage: Investigate why coverage is reported to be 0%"
## 1) Bug

### Steps to Reproduce

See See https://codecov.io/gh/NeurodataWithoutBorders/pynwb

[2017-11-15 16:12] jcfr commented on #221
Thanks for the feedback. Closing for now.

To have a cross platform convenient way, an approach could be to:

* introduce dependency on `ninja`. See https://pypi.python.org/pypi/ninja, replace Makefile and make.bat. with a `build.ninja`

this would avoid to have to maintain multiple "build" files.
[code]

[2017-11-15 16:12] #221 closed, assigned to jcfr

[2017-11-15 17:46] jcfr opened #270 "ci/test: Improve example testing harness"
* [ ] Change the test file names so that they are importable
* [ ] Moving creating-and-writing-nwbfile-2.py and creating-and-writing-nwbfile.py under tests/integration
* [ ] Importing them when needed rather than "load_source"ing them.
* [ ] Adding some assertions as opposed to just creating files and removing them? It might be better to make sure we check the integrity of the files(without testin

[2017-11-15 19:02] jcfr commented on #262
Closing. Fixed in https://github.com/NeurodataWithoutBorders/pynwb/commit/3a03d4ae63d81d3eb25c1d78d091756db919c659

[2017-11-15 19:02] #262 closed, assigned to nobody

[2017-11-15 19:04] jcfr commented on #260
Closing. Fixed in https://github.com/NeurodataWithoutBorders/pynwb/commit/3a03d4ae63d81d3eb25c1d78d091756db919c659

@lfrank  Examples related to Creating and Writing Nwb files have been updated to following the current NWB convention are now tested.

Note that examples associated with Extending and validating  NWB files still need to go through the same process.

[2017-11-15 19:05] jcfr commented on #261
Closing. Fixed in https://github.com/NeurodataWithoutBorders/pynwb/commit/3a03d4ae63d81d3eb25c1d78d091756db919c659

@neuromusic  @lfrank  See https://github.com/NeurodataWithoutBorders/pynwb/issues/260#issuecomment-344694677

[2017-11-15 19:05] #261 closed, assigned to nobody

[2017-11-15 19:05] jcfr commented on #195
Closing. Fixed in https://github.com/NeurodataWithoutBorders/pynwb/commit/3a03d4ae63d81d3eb25c1d78d091756db919c659

Cc: @neuromusic  @lfrank @oruebel @ajtritt

See also https://github.com/NeurodataWithoutBorders/pynwb/issues/260#issuecomment-344694677

[2017-11-15 19:05] #195 closed, assigned to nobody

[2017-11-16 01:28] jcfr opened #272 "ci: Avoid running wheel test and coverage twice."
Update circleci config so that there is two variables `TEST_TOX_ENV`, `COVERAGE_TOX_ENV`.

If I understand properly currently both envs are executed twice (once in `Run the tests` and once in `Test installation from a wheel`)

[2017-11-16 14:09] jcfr opened #273 "ci: Add comments in tox.ini"
There is  few configurations implemented in `tox.ini`. A comment indicating what each one  (or group) is used for would be helpful

[2017-11-16 19:26] #269 closed, assigned to dorukozturk

[2017-11-16 19:30] dorukozturk commented on #272
This is fixed by #271

[2017-11-16 19:30] #272 closed, assigned to dorukozturk

[2017-11-16 19:31] dorukozturk commented on #273
@jcfr I tried to clean up the tox file by restructuring it little bit and adding comments. You think it is in good shape now?

[2017-11-16 19:40] jcfr commented on #273
Indeed. Well done 👍

[2017-11-16 19:40] #273 closed, assigned to dorukozturk

[2017-11-16 19:41] jcfr opened #274 "ci: Address remaining issue related to wheel publishing on GitHub"
See https://circleci.com/gh/NeurodataWithoutBorders/pynwb/840

[code]

[2017-11-16 19:42] jcfr commented on #274
Cc: @dorukozturk

[2017-11-16 19:48] dorukozturk commented on #274
@jcfr Yes, I realized that. Did i mess up the tagging?

[2017-11-16 19:55] dorukozturk commented on #26
We published pynwb on conda-forge. I am still working on adding docs but here is the simplest way to get up and running on conda:
[code]
The tests worked for me after I installed with this command on conda.

On conda-forge ruamel.yaml is the correct name for that package (see [here](https://github.com/conda-forge/ruamel.yaml-feedstockl)). Also we are depending on that package in our feedstock whic

[2017-11-16 19:58] dorukozturk commented on #40
[code]

[2017-11-16 20:01] nicain commented on #263
Possibly related: on http://pynwb.readthedocs.io/en/latest/overview.html, the bullet points under "The following TimeSeries objects are provided by the API and NWB specification:" used to be clickable, but appear to no longer be links.  If resolving #263 doesn't cure this too, this will need its own issue.

[2017-11-16 20:03] dorukozturk commented on #40
[code]
This produced:
[code]
When I installed it with:
[code]
@nicain Can you try to install again with the above method?

[2017-11-16 20:04] nicain commented on #251
Resolved by https://github.com/NeurodataWithoutBorders/pynwb/pull/254

[2017-11-16 20:04] #251 closed, assigned to nicain

[2017-11-16 20:10] nicain opened #275 "Reading Allen Cell Types files"
### Problem/Use Case
Implement backwards-compatible read capability for Allen Cell Types Database files:

[code]

## Checklist

- [x] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues/) ?
- [x] Have you included a brief and descriptive title?
- [x] Have you included a clear description of the problem you are trying to solve?
-

[2017-11-16 20:11] nicain commented on #275
@ajtritt Ill take a first-pass at this, and let you know where I get stuck

[2017-11-17 17:14] dorukozturk commented on #26
I believe using the above installation fixes this issue. Closing it. Feel free to open if the error persists.

[2017-11-17 17:14] #26 closed, assigned to dorukozturk

[2017-11-17 17:15] dorukozturk commented on #40
I think this is fixed. Feel free to reopen if problem occurs again.

[2017-11-17 17:15] #40 closed, assigned to nobody

[2017-11-17 19:07] #135 closed, assigned to dorukozturk

[2017-11-17 19:09] jcfr commented on #268
xref https://github.com/NeurodataWithoutBorders/pynwb/issues/206

[2017-11-17 19:15] dorukozturk opened #277 "Fixing flake8 warnings"
## 1) Bug

### Steps to Reproduce
Remove the #noqa comments and run:
[code]
### Environment
Please describe your environment according to the following bullet points.
- **Python Executable:** All
- **Python Version:** All
- **Operating System:** All
- **Pynwb Version:** All

### Problem/Use Case
Flake8 does not just check styling of the code, but also does static code analysis. I suggest we go thr

[2017-11-17 19:34] nicain commented on #267
I am trying to implement some backwards compatibility for a different type of file (xref https://github.com/NeurodataWithoutBorders/pynwb/issues/275) and having the module documentation is really helpful

[2017-11-18 01:44] nicain opened #281 "Consistent branding across project"
It would be great if the logo on the pynwb read-the-docs and nwb.org were unified.

@cmartin-kavlifoundation How was the branding for nwb.org constructed?  Is there any way to unify across the moving parts?

## Checklist

- [x] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues/) ?
- [x] Have you included a brief and descriptiv

[2017-11-18 02:16] #267 closed, assigned to jcfr

[2017-11-20 14:49] mgrauer commented on #119
These questions were asked on the NWB Slack channel, so they have a count of at least 1.

1) What is the difference between pynwb, nwb-schema and api-python? I intend to write a GUI to convert the experiments carried out at our group to NWB format. Do I need all of them?
2) How do I install pynwb? I can't find installation instructions in the repo. I have already installed api-python - will they c

[2017-11-20 18:17] neuromusic commented on #119
to prevent confusion for our users, I just added "DEPRECATED" to the descriptions for the following repositories:

- api-python
- api-matlab
- specification
- visualization

We should probably update their READMEs to point to the corresponding 2.0 repos.

[2017-11-21 06:14] bendichter opened #282 "request: microphone data type"
I'm trying to import the Chang lab data into NWB, and I can't find any audio data types.  It would be useful to have this type as it would help distinguish between auditory stimuli presented with a speaker, microphone behavioral recording, and other analog recordings such as button presses.

I can of course use the generic type `pynwb.behavior.BehavioralTimeSeries` or extend it to create my own ty

[2017-11-21 15:19] neuromusic commented on #282
Hi Ben,

I don't know what the formal process is for adding to the schema, but there are a number of proposed changes at the nwb-schema repo:
https://github.com/NeurodataWithoutBorders/nwb-schema/issues

For example see the conversation about running speed here:
https://github.com/NeurodataWithoutBorders/nwb-schema/issues/97

For now, I think that creating your own extension & proposing a change o

[2017-11-21 15:21] bendichter commented on #282
got it, thanks!

[2017-11-21 15:22] #282 closed, assigned to nobody

[2017-11-21 23:38] nicain commented on #258
@ajtritt can you confirm this change Is compatible with current design?

[2017-11-22 13:16] nicain opened #283 "Builder instead of link for read-then-write use case"
Feature Request

Currently Brain Observatory files can be read by using a legacy type map, and written back out as 2.0 compliant files by creating a second NWBHDF5IO object.  However, the file that is generated a collection of external links, and doesn't move the data over.  Implementing a copy option would allow the use of this read/write functionality as a 1.x to 2.0 migration too.

Code snippet

[2017-11-22 14:57] neuromusic commented on #283
So the code snippet you have above currently will dump a bunch of external links into `tmp.nwb`? Is that right?

[2017-11-22 18:44] nicain commented on #283
@neuromusic Thats correct.
 In https://github.com/NeurodataWithoutBorders/pynwb/blob/dev/src/pynwb/form/backends/hdf5/h5tools.py :: write_dataset, execution follows:

[code]

isinstance(data, Dataset) is True, so links are created

[2017-11-22 18:54] neuromusic commented on #283
that is super un-intuitive.

my preferred behavior would be that what you did copied all of the data to the new file.

if the user wants external links to existing data, they should turn "copy" off with a flag when they create the writer. e.g.

[code]

I'm open to other semantics. `link_existing_data=True` etc

[2017-11-22 18:58] nicain commented on #283
I tried to take a shot at this this morning, but started to write every copy of the timestamps to disk, without respecting the fact that they are internal softlinks.  @ajtritt is there a clever/simple way to avoid doing this?

[2017-11-22 18:59] oruebel commented on #283
Essentially this is a result of the lazy load. Here a couple of options:

1) we could add a mechanism that forces all data to be loaded into memory before write, e.g., via a flag on the ``.read()``. This would be fine for small files but problematic for large files. I.e., the default should be lazy load.
2) we could add a mechanism to force copy of the data on write, e.g., via a flag on the ``.wri

[2017-11-22 19:00] neuromusic commented on #283
I suspect that this isn't the only place that the hard association between the NWBFile object that is loaded and the backend might bite a user.

I could also imagine a "copy" method on NWBFile that loads the full file into memory and breaks any existing association with the source file. This gives you a "clean" object, like you just created it from scratch & writing it anew works as expected.

[2017-11-22 19:04] neuromusic commented on #283
jinx! thanks @oruebel

now that I read your comment, a general purpose `.copy()` could be leveraged to support both 1 & 2

[2017-11-22 19:10] oruebel commented on #283
@neuromusic I think the ``.copy()`` method you mentioned would be variant 1. My guess is we may ultimately end up needing options for 1,2, and 3, but let's see if can't get @ncain problem solved with one of them. @ncain, just to clarify, if I understand your comment correctly, ``...write every copy of the timestamps to disk, without respecting the fact that they are internal softlinks...`` then yo

[2017-11-22 19:23] nicain commented on #283
Thanks all, ill try and summarize:

Issue to be dealt with is that writing-after-reading has no options other than creating external links to the original data.  I would like to have the option (which could potentially be the default option) of copying data from the source, breaking the dependence on keeping the old file.  This would allow a read/write to act as an adapter that could update a file

[2017-11-22 20:22] neuromusic commented on #283
+1

@oruebel I mean that if there is a general purpose `.copy()` it could be called within `.write()` or `.read()` or anywhere else it is needed.

e.g. in https://github.com/NeurodataWithoutBorders/pynwb/blob/dev/src/pynwb/form/backends/io.py#L35

[code]

or wherever else it would be best to apply such a method.

[2017-11-22 20:35] nicain commented on #283
@neuromusic this could be tricky; I think we would want to copy the data associated with the container, but perhaps not loose the association of the container with its parent; if it loses this association, it will be really difficult to not duplicate data on write.

[2017-11-22 20:39] oruebel commented on #283
Another complication is that a ``.copy()`` on the container would load all data into memory at once. This is fine if a users calls the method explicitly (because they'll know what is going on), but we should avoid doing it in the background in the I/O backend. Here we should ideally only load the data incrementally as arrays are being written to avoid running out of memory when dealing with large

[2017-11-22 20:45] neuromusic commented on #283
all fair points.

"copy-on-write, default on" <- this is the important piece, however you want to implement it. I could see broad utility in a `.copy()` method, but that's not critical at this point.

[2017-11-27 15:22] bendichter opened #285 "demo code causes error: unresolved reference on 0.2.0 and on current dev branch"
I'm new to the project so sorry if this is a known issue. I'm trying to get up and running but the demo code is giving me an error. I get the same error working with my own data.

### Steps to Reproduce
The following is taken from https://pynwb.readthedocs.io/en/latest/example.html:
[code]

It produces the error:
[code]

in pynwb 0.2.0 the error message is a little more straightforward:
[code]

Th

[2017-11-27 17:12] nicain commented on #285
@bendichter Hi Ben, thanks for submitting the report, it is really appreciated!  Response on this may be a little slow as the team gets up-and-running again after the holiday break, but we will def. address this.

I have reproduced the exception on my environment (Ubuntu 16.04.2).  @ajtritt I am assigning this to you, but I will poke at it and see if I can find something going on; feel free to ass

[2017-11-27 18:17] nicain commented on #285
Looks like the builder parent is not getting set to acquisition. Still working on figuring out why...

[2017-11-28 02:56] cmartin-kavlifoundation commented on #281
@nicain Unifying the branding is a discussion that will probably involve more people than just me, but I'm happy to give it a start and see what other people think.

1) The NWB logo (on nwb.org) is something we are happy to stay with since it represents NWB as a whole with NWB:N and in turn PyNWB as important sub-projects.
2) As a first step, we would be happy to put the PyNWB logo on the nwb.org

[2017-11-28 04:43] neuromusic commented on #281
Thanks for the input Chris! Agreed that we don't need to do hasty changes... I completely agree with number 1: the NWB branding should take precedence and whatever PyNWB uses should conform to the NWB brand. As such, I'd push for dropping the current pynwb logo and either drop in the NWB logo (which should be sufficient for the pynwb documentation, etc) or develop a pynwb logo which is consistent

[2017-11-28 07:23] bendichter commented on #285
Thanks for looking into this! Would it be possible to add the demo code as a test to avoid this in the future?

[2017-11-28 13:39] dorukozturk commented on #285
:+1: for that idea. I think it is a good idea to add tests for the bugs that we encounter.

[2017-11-28 20:04] nicain commented on #275
It looks like the biggest stumbling block to reading these files is the use of "Custom" neurodata_type in the files, in unexpected places.  For example, in /stimulus/templates, the "gain" dataset in the CurrentClampStimulusSeries has this Custom neurodata_type, triggering the construction of a builder.

[2017-11-29 01:13] lfrank commented on #194
@oruebel  Oliver - another question on this: it doesn't seem to be possible to create a custom electrode table extension that might allow for additional fields, presumably because it is not an NWBContainer.  Is that right?

[2017-11-30 04:49] lfrank commented on #260
@ajtritt @oruebel Andrew and Oliver - sorry to bother you with this, but the documentation for the extensions is still incorrect.  An an example,

should be (I believe)

I'm not sure which other parts of the documentation are problematic, but a single pass through should be enough to find the errors and fix them, I think...

[2017-11-30 04:49] lfrank opened #289 "Error when creating extensions with 'str' datatype"
The following code:

[code]

Produces

Note the (None) datatype for name.  As a result, attempting to save an NWBFile with this object in it fails.

I think this means that the 'str' datatype isn't properly assigned when the extension is created.

[2017-11-30 16:58] lfrank opened #290 "Errors in documentation for extensions"
As far as I can tell, the documentation for the extensions is still incorrect. An an example,

`spec = NWBAttributeSpec('bar', 'float', 'a value for bar')`

should be

`spec = NWBAttributeSpec('bar', 'a value for bar', 'float')`

As otherwise the description and dtype variables are backwards.

I'm not sure which other parts of the documentation are problematic, but a single pass through should be

[2017-11-30 17:02] lfrank opened #291 "Clarification of extension inheritance"
Based on my experimentation, it's important that custom NWB datatypes inherent NWBContainer, as otherwise they cannot be included as links in other custom types.

It would be very helpful if that could be clarified in the documentation to indicate that
`neurodata_type_inc=NWBContainer` or some other subclass of NWBContainer should be the norm.

[2017-11-30 21:24] neuromusic commented on #290
should this have been fixed in #262? or is a similar approach needed for the extension docs?

[2017-11-30 21:44] oruebel commented on #22
CC @nclack since this issue came up during discussion of MatNWB.

It might make sense to describe these conditions that relate to the quantity of datasets/groups directly as part of the ``quantity`` flag. Currently the ``quantity`` flag is just a single value, but it could potentially be a list, where each value has a condition. For example, for the example of TimeSeries mentioned above, TimeSerie

[2017-12-01 08:59] hluetck opened #293 "Cannot import name NWBNamespaceBuilder"
Hello,
I am following the tutorial at http://pynwb.readthedocs.io/en/stable/tutorials.html. I installed pynwb with pip (`pip install -U pynwb`) in a Conda virtual env. When running the following from the tutotorial:
`from pynwb import NWBNamespaceBuilder, NWBGroupSpec, NWBAttributeSpec`

I receive an import error:
ImportError                               Traceback (most recent call last)
<ipython

[2017-12-01 21:54] oruebel commented on #293
@hluetck you should be able to simply do:

``from pynwb.spec import NWBNamespaceBuilder, NWBGroupSpec, NWBAttributeSpec``

i.e., import the classes directly from the ``pynwb.spec`` module where they are defined.

 @dorukozturk @ajtritt  it looks like in https://github.com/NeurodataWithoutBorders/pynwb/commit/436c444471650d812102dcbe71e1042f094b8fed NWBNamespaceBuilder was removed as import in the

[2017-12-02 07:58] bendichter commented on #285
I'm still seeing this error when I run the demo code:

[code]

[code]

[2017-12-02 09:19] hluetck commented on #293
@oruebel  this works. thanks!

[2017-12-04 13:37] dorukozturk commented on #293
@oruebel I think updating the docs is better for the sake of explicity. pep8 recommends explicit imports instead of implicit ones (unless there are namespace restrictions).

[2017-12-04 19:54] jcfr opened #294 "circle config: Rename PUBLISH_RELEASE variable"
See https://github.com/NeurodataWithoutBorders/pynwb/pull/292#pullrequestreview-80945409

[2017-12-04 21:06] #258 closed, assigned to nicain

[2017-12-05 14:15] #294 closed, assigned to jcfr

[2017-12-07 06:55] bendichter commented on #285
@ajtritt can you confirm that it's fixed in your version? Then I'll see if I can fix mine.

[2017-12-08 09:59] bendichter opened #298 "demo code fails on h5 write"
This is a repeat of #285. The issue was closed but as far as I can tell the bug was not resolved.

I'm still seeing this error when I run the demo code on the current dev branch:

[code]

[code]

Maybe I have something wrong in my installation. Can someone run this code and let me know if they are getting the same error?

[2017-12-08 14:49] neuromusic commented on #285
re-opening issue. I get the same error on f2054ac4ca2e01ba341c5a9c1fac06d2c41f1e3b

[2017-12-08 14:51] neuromusic commented on #298
closing to re-open #285

[2017-12-08 14:51] #298 closed, assigned to nobody

[2017-12-08 14:56] neuromusic commented on #285
oh wait, I see.

it looks like @ajtritt's fix was to update the documentation, which is where the bug is. this is why your script is failing @bendichter.

when I update @bendichter's script with the changes that @ajtritt made at https://github.com/NeurodataWithoutBorders/pynwb/commit/9b6ebd31246cf8ea767f203d91d3a79cd51cbb41, I don't get any errors

[2017-12-08 14:59] #285 closed, assigned to ajtritt

[2017-12-08 15:00] bendichter commented on #285
ah! I see that now. Thanks, @ajtritt and @neuromusic

[2017-12-11 22:16] #77 closed, assigned to nobody

[2017-12-12 00:01] ajtritt opened #300 "Support for flat-binary backend"
Some users would like to read/write data to/from flat-binary files. To support this, an extension of [FORMIO](http://pynwb.readthedocs.io/en/latest/pynwb.form.backends.io.html#pynwb.form.backends.io.FORMIO) must be created. Before doing this, details on how data gets stored need to be flushed out. As a first pass, I propose the following specification:

1) HDF5 datasets are stored as flat-binary f

[2017-12-12 00:31] oruebel commented on #300
See also #230 . Ultimately this may or may not be relevant, but it looks like Zarr might be similar enough to h5py that one could drop it in to test how this could work.

[2017-12-12 00:41] jeffteeters commented on #300
Another project that might be useful for this is exdir:
http://exdir.readthedocs.io

[2017-12-13 18:44] oruebel commented on #300
@kdharris101 also suggested ALF https://github.com/cortex-lab/alf2neuroscope#what-is-alf as a relevant standard for structuring storage of flat binary files. Here also a related issue ticket on the nwb-schema repo: https://github.com/NeurodataWithoutBorders/nwb-schema/issues/57

[2017-12-13 19:00] oruebel commented on #291
@ajtritt can you confirm if this true? My understanding of this is as following:

- In order for data to be defined as a link in a spec it needs to have a unique type, i.e., ``neurodata_type_spec`` needs to be set. However, it does not necessarily have to inherit from ``NWBContatiner``
- Inheriting from ``neurodata_type_inc=NWBContainer`` should however be mentioned in the docs as a best practice

[2017-12-13 22:15] nicain commented on #300
exdir just came across my radar; @jeffteeters do you have any experience with it?  Looks great!

[2017-12-13 22:17] jeffteeters commented on #300
I don't have any experience with it.  I only recently learned about it.

[2017-12-14 08:25] t-b commented on #300
This will not work on a typical windows.

[2017-12-15 19:08] nicain opened #301 "KeyError: 'pupil_size_index' in legacy file"
## 1) Bug
Legacy file from demo won't open, likely because of https://github.com/NeurodataWithoutBorders/pynwb/pull/288

### Steps to Reproduce
[code]

## Checklist

- [x] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues/) ?
- [x] Have you included a brief and descriptive title?
- [x] Have you included a clear description of

[2017-12-15 20:38] #301 closed, assigned to nicain

[2017-12-18 19:14] ajtritt opened #303 "CodeCov not running some tests"
## 1) Bug

CodeCov might not be accurately calculating coverage. For example, it is showing that the [HDF5IO class never gets constructed:](https://codecov.io/gh/NeurodataWithoutBorders/pynwb/src/dev/src/pynwb/form/backends/hdf5/h5tools.py#L24)

But, [this test](https://github.com/NeurodataWithoutBorders/pynwb/blob/4c450bb9d6470cd79ddcec16555d640008e3f1f0/tests/unit/form_tests/test_io_hdf5.py#L201

[2017-12-18 19:23] ajtritt opened #304 "CodeCov not pulling in all code"
## 1) Bug

Looking at the most recent build, some of the PyNWB modules are missing from the tested source.
The following source files are missing from src/pynwb and src/pynwb/io (except spec.py)
- base.py
- behavior.py
- core.py
- ecephys.py
- epoch.py
- file.py
- icephys.py
- image.py
- misc.py
- ogen.py
- ophys.py
- retinotopy.py
- spec.py (only src/pynwb)

## Checklist

- [ ] Have you ensured t

[2017-12-18 23:47] nicain commented on #281
@cmartin-kavlifoundation

Awesome, can you please send me the graphic file to play around with? One of the members of our communications team has agreed to help out, and can make a first pass.

[2017-12-20 05:40] neuromusic commented on #260
Running into this issue myself, after installing from pip.

I'm reopening this issue because according to this PR https://github.com/NeurodataWithoutBorders/pynwb/pull/171 the code snippet @lfrank shared should work. The user shouldn't have to load get_manager then call it just to save the file. The documentation isn't the only problem here.

see https://gist.github.com/ajtritt/11f2bda4846a96eb67c

[2017-12-20 05:50] neuromusic commented on #260
to clarify, here's the snippet that fails for me:

[code]
according to the PR I linked to above, this should be supported.

looking more closely at the commit where @ajtritt implemented the feature, it looks like the feature works on a class called `NWBHDF5IO` that is a subclass of `HDF5IO`
https://github.com/NeurodataWithoutBorders/pynwb/pull/171/commits/540ff6a260f9d87fdabf3e6912b3cfe885a5845d#d

[2017-12-20 05:50] #260 closed, assigned to nobody

[2017-12-20 06:06] neuromusic commented on #127
bumping this issue. It would be really nice to have a clean way to validate these files.

now getting other errors:
[code]

[2017-12-20 07:04] neuromusic opened #306 "Where should pynwb validate schema relationships?"
I'm currently working on getting a bunch of calcium imaging data into pynwb. I've got additional behavior data streams and stimulus streams, but currently, I'm just trying to build out a minimal file with calcium traces.

My short term problem is that I have no clean way to check whether I'm writing files correctly.

But I feel like this problem highlights broader issues with when and where pynwb

[2017-12-20 18:29] neuromusic opened #307 "'ROI' object has no attribute 'reference_images'"
### Steps to Reproduce
[code]
### Environment
Please describe your environment according to the following bullet points.
- **Python Executable:** Conda
- **Python Version:** Python 2.7
- **Operating System:** CentOS
- **Pynwb Version:** 0.2.0

## Checklist

- [x] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues/) ?
- [x] Have

[2017-12-20 18:48] neuromusic commented on #307
looking more closely at the ROI object...
https://github.com/NeurodataWithoutBorders/pynwb/blob/936c4383415d335ef2f901f040c02e843ca8c2a8/src/pynwb/ophys.py#L165

- docval requires `reference_images`
- but it doesn't get added as an attribute of the ROI instance
- and it isn't specified in `__nwbfields__` which seems important (cc @nicain)

so the immediate fix here seems pretty clear, however...

[2017-12-20 20:23] ajtritt commented on #306
@neuromusic Can you be more specific wrt the "chain of dependencies" you refer to?

It might help to give a little background on the architecture of PyNWB objects. Every PyNWB object is an instance of an [NWBBaseType](http://pynwb.readthedocs.io/en/latest/pynwb.core.html#pynwb.core.NWBBaseType), which has the attribute `parent`. This attribute, which can only be set once i.e. you can't move around

[2017-12-20 20:25] ajtritt commented on #303
fixed by #305

[2017-12-20 20:26] ajtritt commented on #303
fixed by #305

[2017-12-20 20:26] #303 closed, assigned to jcfr, dorukozturk

[2017-12-20 20:27] ajtritt commented on #304
These submodules are still not showing up: https://codecov.io/gh/NeurodataWithoutBorders/pynwb/tree/dev/src/pynwb

[2017-12-20 20:27] matham opened #309 "Docs about updating or adding data"
I'm looking at pynwb and how I can use it in our pipeline, but it's not exactly clear to me some of the data manipulation aspects as a user:

* Can I make use of the fact that we're dealing with hdf5 files and directly manipulate the file, or do I always have to go through the pywnb wrapper.
* Specifically, the docs show how to create a file and add data, but how do I stream live data to the file?

[2017-12-20 21:33] ajtritt commented on #309
In the order that you asked your questions:

- Yes. PyNWB is just writing HDF5 files... there is nothing about these files that prevents you from opening them up with h5py or any other HDF5 bindings.
- There is some support for writing streams. Unfortunately the documentation is a bit lacking. The key data structure is the [DataChunkIterator](http://pynwb.readthedocs.io/en/latest/pynwb.form.data_u

[2017-12-20 21:59] neuromusic commented on #306
"I have decided that pynwb should allow writing invalid files."

I wholly disagree on this decision.

I wouldn't use Excel if I didn't have confidence that a spreadsheet I saved could be loaded back up in Excel. This is one of the most fundamental things that a package designed to write files according to a standard should do: write files according to the standard.

[2017-12-20 22:04] neuromusic commented on #306
re the "chain of dependencies"...

- `DfoverF` depends on `RoiResponseSeries`
- `RoiResposneSeries` depends on `ImageSegmentation`
- `ImageSegementation` depends on `PlaneSegmentation`
- `PlaneSegmentation` depends on
  - a list of `ROI`s
  - an `ImagingPlane`
  - an `ImageSeries`
- each ROI requires an `ImageSeries`
- an `ImagingPlane` requires an `OpticalChannel`

[2017-12-20 23:24] neuromusic commented on #306
This is exactly the issue I'm having. It does not break. See #146

[2017-12-20 23:25] neuromusic commented on #146
I'll try to get a minimal example here shortly.

[2017-12-20 23:34] neuromusic commented on #146
https://gist.github.com/neuromusic/020dbd4c11ad1fadaea1d5c90f39ad54

[code]

I get the following error on read:

[code]

[2017-12-20 23:44] neuromusic commented on #146
Note: it looks like only a few of the ophys objects are getting round-trip tested. Adding all of these objects would have caught this error.

https://github.com/NeurodataWithoutBorders/pynwb/blob/dev/tests/integration/ui_write/test_ophys.py

cc @nicain @jcfr

[2017-12-21 01:19] neuromusic commented on #306
Note that the "chain of dependencies" also means that we cannot actually perform "true" unit tests on any objects that have other objects as required attributes, since they can't be created until the "upstream" object is created, and it can't be created until it's upstream object is created, etc, etc.

For example, the current unit test for DfOverF creates the following just to test the DfOverF cl

[2017-12-21 15:58] neuromusic commented on #307
so #308 fixes this for creating the object, but I can't read it back out after writing to file.

[code]

[2017-12-21 23:52] oruebel commented on #309
I have not done any particular performance tests with streaming data yet, so please let us know in case you run into any issues with using the DataChunkIterator.

Re @ajtritt comment regarding multiple streams. While you can have multiple DataChunkIterators, currently they are processed on the backend one-at-a-time, i.e., you cannot yet have multiple simultaneous data streams into a single file. D

[2017-12-22 02:49] matham commented on #309
Thanks for the answers.

* First, regarding data editing after the fact, that is not as important as I can do the data linking as mentioned (although I'm not sure if linking requires that all attrs match?).
* Regarding calling `io.write(f)` multiple times. I tried with `HDF5IO` mode `w` and it just overwrote it each time as far as I can tell. With mode `a`, it complained on the second write that `

[2017-12-26 21:59] neuromusic commented on #300
I've been looking more closely at exdir & I'll add a +1 to @jeffteeters's suggestion.

They seem to have done most of the hard work here & the api is meant to be a drop-in for h5py, so it should be fairly easy to port the backend.

There isn't currently support for links but there is an open issue on their repo: https://github.com/CINPLA/exdir/issues/1

[2017-12-29 22:03] BCJongbloets opened #311 "Request: include data field to OptogeneticStimulusSite (ogen.py)"
Problem/Use Case:
In case of laser scanning photostimulation (in and ex vivo) the location of the photostimulation ('OptogeneticStimulusSite' in 'ogen.py') is variable (XYZ and time). At the moment there is only the field 'Location' which allows for a string input. This suffices for a fixed stimulation location only.

To allow for description of variable locations it would be helpful to have a dat

[2018-01-02 18:59] neuromusic commented on #311
Hi @BCJongbloets thanks for the feedback.

Since this is a proposed change to the core NWB schema, the behavior is specified here https://github.com/NeurodataWithoutBorders/nwb-schema/blob/dev/core/nwb.ogen.yaml#L32

I've created an issue there for discussion: https://github.com/NeurodataWithoutBorders/nwb-schema/issues/101

I would not expect any major changes to the core schema in the near futur

[2018-01-02 18:59] #311 closed, assigned to nobody

[2018-01-02 19:02] nicain commented on #311
@BCJongbloets If you make a cut at this, and have questions, I am happy to offer a little feedback and help (as time permits).

[2018-01-02 19:43] ajtritt commented on #306
@neuromusic Thanks for the information.

Assuming #146 were addressed, can you suggest some modifications that would satisfy your requirements for making the ophys stuff easier to use? The structure of the ophys classes is a naive translation of how things were structured in NWB 1.x. As someone that has a better understanding of optophysiology data workflows, I would appreciate your input on this.

[2018-01-02 20:03] BCJongbloets commented on #311
Great thanks @nicain @neuromusic! @mtv2101 The stimulus (in your case expressed in voltage) itself is described in "OptogeneticSeries" and can hold any given value (voltage/wattage) at user-supplied time-interval. So I don't think addition of the voltage parameter is necessary, if I understand you correctly.

To review my request, we could/should leave out time in the "data" field (so XYZ instead

[2018-01-02 20:18] nicain commented on #306
CC @mtv2101; Matt is another opto scientist (and he graciously shares his cubicle with me at AIBS)

[2018-01-02 20:33] neuromusic commented on #306
I'd be happy to. I've expressed my grievances with this aspect of the schema here https://github.com/NeurodataWithoutBorders/nwb-schema/issues/61, but I think there are ways pynwb can alleviate the pain for users.

A key feature that will make the "chain of dependencies" easier is to allow users to create individual objects in memory before their "upstream" objects have been created.

Specifically