[2021-05-18 17:50] #1357 closed, assigned to nobody

[2021-05-19 17:53] #1359 closed, assigned to rly

[2021-05-19 17:53] #1322 closed, assigned to nobody

[2021-05-19 19:52] yarikoptic commented on #1322
thank you -- I think so too ;-)
If only I had more time/help to push its (`duecredit`) development forward. And I do like to use it occasionally to even just quickly figure out what versions of what I am actually using ;-)   For PyNWB it would be in particular of interest for extensions especially if they are imported/used on demand: might be worth adding duecredit stub into extensions template: m

[2021-05-19 20:22] oruebel commented on #1322
Added issue https://github.com/nwb-extensions/ndx-template/issues/55 for this

[2021-06-01 19:32] rly opened #1364 "Create tool that reduces file size for sharing and debugging"
If there is an error with reading or validating an NWB/HDMF file and the file is large (>1 GB), sharing that file is burdensome, and rarely is the error due to the size of the datasets. It would be useful to create a _simple_ tool to reduce the size of large (>1k elements) datasets and repack the new file to make it easier for sharing. Then when a user has a large file that cannot be read or valid

[2021-06-01 21:54] oruebel commented on #1364
I don't think the ``h5repack`` utility https://support.hdfgroup.org/HDF5/doc/RM/Tools.html#Tools-Repack can quite do this out-of-the-box, but I think it can still be useful here. I think a simple solution would be to:
1. Copy the file
2. Shrink all large datasets (e.g., using ``h5py.visititems`` with ``h5py.resize``)
3. Call ``h5repack``

[2021-06-09 19:34] oruebel opened #1367 "Create short tutorial on data streaming with ros3"
It would be useful to create a short tutorial to illustrate how one can stream data from S3 using the latest HDMF/PyNWB.

DANDI example code (from Ben Dichter)

[code]

**Additional context**
Related also to #1319

## Checklist

- [X] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues)?
- [X] Have you included a brief and descr

[2021-06-12 21:04] jmdelahanty commented on #230
Hello! I just learned about the Zarr library and it looks pretty neat! I was wondering how I might help work on something like this. Are there any active branches looking into Zarr?

[2021-06-13 05:22] oruebel commented on #230
@jmdelahanty PR https://github.com/hdmf-dev/hdmf/pull/98 on HDMF implements a Zarr backend  and this  https://github.com/NeurodataWithoutBorders/pynwb/pull/1018 is the corresponding PR on PyNWB to setup the Zarr backend for NWB. The PRs are a bit stale but since they mostly add new functionality, I don't think syncing them with the current dev branches should be too hard. The latest state (before

[2021-06-13 11:32] oruebel opened #1368 "Decribe use of MotionCorrection in Ophys tutorial"
The Ophys tutorial https://pynwb.readthedocs.io/en/stable/tutorials/domain/ophys.html#sphx-glr-tutorials-domain-ophys-py currently does not describe the use of the ``MotionCorrection`` and ``CorrectedImageStack`` types and how they integrate with the other types. It would be useful to add this to the tutorial.

## Checklist

- [X] Have you ensured the feature or change was not already [reported](h

[2021-06-17 07:45] oruebel opened #1369 "Update extension tutorial to focus on reading/writing extension data"
#1350 added detailed docs for creating extensions. There is currently l substantial overlap between the new extensions docs and the extension tutorial  in the sphinx gallery. Since the docs focus on creating extensions the tutorial should be updated to just focus on using extensions for reading/writing data and link to the extension docs for users interested in creating extensions.

## Checklist

[2021-06-17 08:06] oruebel opened #1371 "Add docs on sharing extension"
It would be great to  add a section ``7_sharing_extensions`` to the extension docs at https://github.com/NeurodataWithoutBorders/pynwb/blob/dev/docs/source/extensions_tutorial/extensions_tutorial_home.rst to discuss publishing the extension in the NDX catalog. In the spirit of the extension tutorial, this can focus on the actual process of sharing extensions but we should also link to the docs on

[2021-06-18 19:55] bendichter opened #1373 "MotionCorrection not working"
The init requires arg named "`corrected_images_stacks`", but this is not correctly mapped on write:

[code]

the arg name should be `corrected_image_stacks`

[2021-06-21 20:14] #1373 closed, assigned to nobody

[2021-06-22 16:41] bendichter commented on #1368
pending #1373

[2021-06-25 00:57] #1342 closed, assigned to nobody

[2021-06-25 23:01] #1305 closed, assigned to nobody

[2021-07-07 21:32] oruebel opened #1378 "Update or remove tutorial_source/convert.rst"
## Description

The page https://pynwb.readthedocs.io/en/stable/tutorial_source/convert.html should be removed or updated. The information is outdated and it looks like the page may also not be linked in the page index, at least according to Sphinx:

[code]

## Checklist

- [X] Have you ensured the bug was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues)?
- [X] Have

[2021-07-07 22:04] rly commented on #1378
Yeah, it looks like that page and the linked notebooks use functionality that has been removed or changed in PyNWB, e.g.,

[code]

[2021-07-07 22:23] bendichter commented on #1378
I say we remove it

[2021-07-08 16:46] oruebel opened #1379 "Docs build warnings"
## Description

Currently the following warnings are generated when building the docs.

.../pynwb/docs/source/extensions_tutorial/3_spec_api.rst:2: WARNING: Duplicate explicit target name: "here".
.../pynwb/src/pynwb/validate.py:docstring of pynwb.validate:1: WARNING: duplicate object description of pynwb.validate, other instance in pynwb, use :noindex: for one of them
.../pynwb/docs/source/tutori

[2021-07-08 18:49] #1378 closed, assigned to oruebel

[2021-07-08 18:49] #1379 closed, assigned to oruebel

[2021-07-09 10:40] jcolomb opened #1381 "Edit on github link not working [docs]"
## Description

Pushing the "edit on github" button in the doc, does not link to the right page.
It is probably a very minor problem but I do not know where the information is.

[2021-07-09 21:03] oruebel commented on #1381
@jcolomb can you point to the page that has this issue. As far as I can tell, the link appears to work for all pages that have direct rst sources in the repo. For a number of pages the sources are autogenerated so that there isn't really a valid way to do a "Edit on GitHub" link. In particular
1. Any pages that are under the API-docs at https://pynwb.readthedocs.io/en/stable/api_docs.html are auto

[2021-07-19 18:01] rly commented on #1304
I believe this is now fixed. You can use `cls.get_fields_conf`. Please reopen if this is still an issue.

[2021-07-19 18:01] #1304 closed, assigned to rly, ajtritt, oruebel

[2021-07-19 20:34] rly commented on #1269
This has been resolved.

[2021-07-19 20:34] #1269 closed, assigned to nobody

[2021-07-20 16:56] rly commented on #1193
You can use this syntax:
[code]

You can also use `DynamicTableRegion.table` to get the target table:
[code]

We can add the suggested enhancement in HDMF though. I opened an issue in HDMF.

[2021-07-21 00:46] anbhimi commented on #1239
@lfrank,
I am facing the same issue while saving the NWB file. Please let me know if you found a way out.
Thank You

[2021-07-21 03:02] oruebel opened #1384 "IntracellularRecordingsTable stimulus/response require metadata even if the stimulus/response is missing"
This issue was originally reported by @lvsltz in https://github.com/oruebel/ndx-icephys-meta/issues/66. This issue has been copied here since it will need to be addressed in PyNWB.

The stimuli table (`IntracellularStimuliTable`) (and co.) requires `stimulus_metadata` to be passed even if the `stimulus` argument itself is `None`.
I understand why this is happening, but it doesn't seem like an expe

[2021-07-21 03:08] oruebel commented on #1384
Implementing this feature will require:

- When setting data one will need to automatically determine appropriate "None" values for all columns of the corresponding table to fill in the row. Depending on the type of column this may be tricky to do automatically in all cases. For common types, e.g., int, str, float etc. this can be done, but for more complex types this may not be possible to do aut

[2021-07-30 21:33] oruebel opened #1385 "Numpy intersphinx broken in docs"
## Description

When building the docs we get the error:

```intersphinx inventory 'https://numpy.org/doc/stable/objects.inv/objects.inv'```

This is likely due to a bad setting in ``docs/source/conf.py``

## Checklist

- [X] Have you ensured the bug was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues)?
- [X] Have you included a brief and descriptive title?
- [X] Hav

[2021-08-02 15:16] oruebel commented on #1385
Fixed in #1386

[2021-08-02 15:16] #1385 closed, assigned to oruebel

[2021-08-09 19:57] tsgouvea opened #1389 "Method to_dataframe() does not work with pynwb.misc.Units"
## Description

Method to_dataframe() does not work with pynwb.misc.Units

Given popularity of Pandas dataframes, I believe it is desirable that this method functions.

## Steps to Reproduce
Download `https://api.dandiarchive.org/api/dandisets/000017/versions/draft/assets/3722e6b8-d47f-4feb-a9ae-9c368e41166b/` to `path_nwb`
[code]

## Environment

    Python Executable: Conda
    Python Version: P

[2021-08-09 20:01] bendichter commented on #1389
Interesting, thanks for the report, @tsgouvea. This appears to be due to indexing an h5py dataset with unordered indices. e.g. doing `dataset[3,2,1]` on an `h5py.Dataset` object. I'm not exactly sure where this is arising in PyNWB but I'll have a look. Perhaps the ids of the Units table are non-ordered? They are allowed to be, but I would believe that such a case might not be tested.

[2021-08-10 22:55] rly commented on #1389
@tsgouvea Could you please try updating to the latest PyNWB? We have fixed a number of issues since the 1.2.1 release. Using the latest PyNWB 1.5.1 release, I can load the units as a pandas dataframe without error.

[2021-08-11 18:59] rly opened #1392 "Add tests for ROS3 streaming support"
## Description

PyNWB 2.0 supports streaming with the HDF5 ROS3 driver. We should test this in CI.

## Checklist

- [x] Have you ensured the bug was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues)?
- [x] Have you included a brief and descriptive title?
- [x] Have you included a clear description of the problem you are trying to solve?
- [x] Have you included a minim

[2021-08-13 03:24] #1392 closed, assigned to nobody

[2021-08-13 17:22] rly opened #1396 "Remove broken option to validate against namespace file"
## Description

The validation docs at https://pynwb.readthedocs.io/en/stable/validation.html say that some validation is “CURRENTLY BROKEN”. Based on https://github.com/NeurodataWithoutBorders/pynwb/pull/1164/files and some tests, I believe validation against a namespace file is broken. See also #1058.

[code]

Steps to resolve:
- [ ] Remove the -p option for now
- [ ] Update the documentation

A

[2021-08-13 20:41] #1396 closed, assigned to nobody

[2021-08-19 03:01] #1301 closed, assigned to nobody

[2021-08-19 03:05] oruebel commented on #1346
@t-b  sorry, I just noticed that we seemed to have missed this issue. Is this still a problem?

[2021-08-20 09:36] t-b commented on #1346
Thanks for pinging. Indeed this is fixed with pynwb
5fcd364d (Add environment-ros3.yml to MANIFEST.in (#1398), 2021-08-13), hdmf b3437314 (Remove regex test for setting an unsettable property (#664), 2021-08-16) and h5py 3.3.

[2021-08-20 09:36] #1346 closed, assigned to nobody

[2021-08-20 18:33] oruebel commented on #1341
@yarikoptic  can this issue be closed?

[2021-08-20 18:36] oruebel commented on #1358
This has been fixed in PyNWB 2.0

[2021-08-20 18:36] #1358 closed, assigned to rly, oruebel

[2021-08-20 18:56] oruebel commented on #1381
This looks like it may provide a path for the api_docs part https://github.com/theislab/scanpy/issues/36

[2021-08-20 20:01] oruebel opened #1401 "Enhance index of the documentation"
Currently the documentation is divided into sections as shown below. This organization could be updated and improved to ease navigation:

* Items intended for developers should be moved to a dedicated "For Developers" section  (e.g., "Software Process",  "How ot make tests" etc.)
*  "Getting started" currently mixes instructions for developers and users. Developers instructions should be appear in

[2021-08-20 20:02] oruebel commented on #1401
I'm working on a PR for this

[2021-08-26 05:38] tsgouvea commented on #1389
I have updated to 1.5.1 and Units.to_dataframe() works as expected.

[2021-08-26 05:38] #1389 closed, assigned to nobody

[2021-08-31 16:57] bendichter opened #1405 "warning when user write data in the wrong orientation"
Briefly describe the needed feature as well as the reasoning behind it

The most common mistake people make when writing NWB files is that they write a time series with time in the second dimension instead of the first. This isn't always possible to detect, but there are a few give-aways.

1. If they use `timestamps`, the length of `timestamps` should match the first dimension.
2. If they are writ

[2021-08-31 16:57] bendichter commented on #1405
cc @CodyCBakerPhD

[2021-08-31 19:51] rly commented on #1405
This is a good idea. Yes, `ImageSeries` will need to be handled specially.

[2021-08-31 20:24] bendichter commented on #1405
So if we want to handle ImageSeries separately, then we'll need to control whether this is validated. Can we make this a flag of `TimeSeries`? Then we can have that flag control whether `data_shape_validation` is called where `data_shape_validation` is something like

[code]

For `ElectricalSeries`, we can also have something like

[code]

[2021-08-31 20:24] oruebel commented on #1405
Just a few thoughts. I think validation of this sort of thing may appear at there different stages in PyNWB:

1. When creating a container class (or modifying attributes of the container)
2. On read/write during the object mapping
3. In the validator when validating files

Yes, dimension scales should make this much easier to do in a formal way, where we can define more rigorous checks because the

[2021-09-03 16:32] oruebel commented on #1405
A related issue is https://github.com/NeurodataWithoutBorders/matnwb/issues/305 Checking that ``colnames`` in ``DynamicTable`` matches the names of the ``VectorData`` columns. PyNWB autogenerates this dataset so this should not be an issue when creating a file with PyNWB but when reading and existing file that may have been modified, this should be checked.

[2021-09-10 23:02] oruebel commented on #1180
@bendichter @rly has this issue been resolved?

[2021-09-10 23:12] oruebel commented on #1367
Fixed in #1393

[2021-09-10 23:12] #1367 closed, assigned to oruebel

[2021-09-10 23:15] oruebel commented on #655
@ajtritt @rly  can this issue be closed or if not should this be moved to HDMF?

[2021-09-10 23:21] oruebel commented on #15
Related issues:

- NWB Schema: https://github.com/NeurodataWithoutBorders/nwb-schema/issues/1
- PyNWB issue with discussion from previous hackathon: https://github.com/NeurodataWithoutBorders/pynwb/issues/513
- Related use case: https://github.com/NeurodataWithoutBorders/nwb-schema/issues/477

A solution for this is currently being developed in HDMF:
- https://hdmf.readthedocs.io/en/stable/tutoria

[2021-09-10 23:23] oruebel commented on #513
Closing this issue in favor of #15 . Also,  a solution for this is currently being developed in HDMF:
- https://hdmf.readthedocs.io/en/stable/tutorials/External_Resources.html#sphx-glr-tutorials-external-resources-py

[2021-09-10 23:23] #513 closed, assigned to bendichter, ajtritt, iraikov, neurosutras

[2021-09-10 23:24] oruebel commented on #446
@ajtritt is this still an issue or can this be closed?

[2021-09-10 23:25] #445 closed, assigned to ajtritt

[2021-09-10 23:27] #11 closed, assigned to nobody

[2021-09-10 23:29] oruebel commented on #23
Related to https://github.com/hdmf-dev/hdmf/pull/192

[2021-09-10 23:33] oruebel commented on #390
Is this addressed by the ``EnumData`` type in HDMF? https://github.com/hdmf-dev/hdmf/blob/ae1c99bbd220bcb6bdaad0bfcb6273db53cc6458/src/hdmf/common/table.py#L1341-L1342

[2021-09-10 23:37] oruebel commented on #420
@rly I believe you had addresses this issue; can this be closed?

[2021-09-10 23:51] #390 closed, assigned to nobody

[2021-09-10 23:57] bendichter commented on #1180
yes, this has been resolved

[2021-09-10 23:57] #1180 closed, assigned to rly, bendichter

[2021-09-11 00:03] ajtritt commented on #446
Yes, I think this is no longer an issue. @rly can you confirm?

[2021-09-17 03:38] oruebel opened #1406 "Describe using custom compressors in tutorials"
It would be useful to illustrate in the [advanced I/O tutorial on H5DataIO](https://github.com/NeurodataWithoutBorders/pynwb/blob/dev/docs/gallery/advanced_io/h5dataio.py)  how users can use custom other compression filters (e.g., provided by https://pypi.org/project/hdf5plugin/)

## Checklist

- [X] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWith

[2021-09-21 23:39] kir0ul opened #1408 "Static typing"
**Is your feature request related to a problem? Please describe.**
I'm trying to get a fulling working type checking pipeline on my codebase with [Mypy](https://mypy.readthedocs.io/en/stable/) and I'm getting the following kind of errors:
[code]

**Describe the solution you'd like**
Not a top priority but I was wondering if you would consider adding static typing or stub files at some point?

**De

[2021-09-22 00:07] oruebel commented on #1408
PyNWB uses the [docval](https://hdmf.readthedocs.io/en/stable/hdmf.utils.html?highlight=docval#hdmf.utils.docval) decorator from HDMF for type checking. Using docval allows us to enforce types and standardize documentation of types (also type hints didn't exist in Python at that time). This will require some further investigation, but all the type information is already in the docval definitions f

[2021-09-22 12:51] luiztauffer opened #1409 "add_intracellular_recording fails with IZeroClampSeries"
## Description

`nwbfile.add_intracellular_recording()` fails when adding intracellular recordings for IZeroClampSeries.

## Steps to Reproduce

[code]

This yields:
[code]

## Environment

- Python Executable: Conda environment, Jupyter Notebook
- Python Version: Python 3.8.11
- Operating System: Linux
- HDMF Version: 3.1.1
- PyNWB Version: 2.0.0

## Checklist

- [x] Have you ensured the bug was

[2021-09-22 15:16] oruebel commented on #1409
Thanks for the report. Looking at the code I think the following error check https://github.com/NeurodataWithoutBorders/pynwb/blob/9f58cb457639fa87a150c78c97ed2d2520bf2492/src/pynwb/icephys.py#L529-L531 , while appropriate, appears too late in the function. If the ``stimulus`` is None (as in the case here) it is set here https://github.com/NeurodataWithoutBorders/pynwb/blob/9f58cb457639fa87a150c78

[2021-09-22 15:43] oruebel commented on #1409
#1410 should fix this issue. If you can't use PyNWB from the dev branch and need a quick workaround, then the I believe a workaround would be to call ``add_row`` directly, which should bypass all the error checks, but requires the user to  setup all the dicts properly. In your case,  I believe this should look something like this:

[code]

I have not tested this workaround, but I think this should

[2021-09-22 21:41] #1409 closed, assigned to oruebel, luiztauffer

[2021-09-23 19:06] rly commented on #446
This is still an issue, and has been raised by the DANDI developers. Loading an extension at one point will keep that extension loaded within the same Python execution (e.g., within a test suite or in a script that loops through dandisets and loads files). We have discussed resolving this in several ways in https://docs.google.com/document/d/1DB1dg6PEDW40Iafj-kX-y_OZJsqyne7Edah82n17zoo/edit

[2021-09-23 20:04] bendichter commented on #446
Maybe if the namespace is loaded using `NWBHDF5IO` as a context, then whatever namespaces were loaded during `__enter__` and be removed during `__exit__`?

[2021-09-23 20:59] rly commented on #446
Actually, (I had to check this because I really did not know), this is already partially the case! `NWBHDF5IO(..., load_namespaces=True)` loads the extension namespaces in a type map that is local to the IO object. It does not influence future loads.

However, `NWBHDF5IO(..., load_namespaces=True)` will not load an older version of NWB core or hdmf-common into the local type map. That can be chang

[2021-09-29 16:45] oruebel opened #1411 "Check that the nwb-schema is available"
When cloning PyNWB from git, users sometimes forget to include the ``--recurse-submodules`` parameter on check-out. This in turn leads to a ``KeyError: "'core' not a namespace"`` in HDMF because the core namespace for NWB is missing. It would be nice to catch this problem and issue a more informative message to indicate that the schema files for the NWB core namespace are missing so that the error

[2021-10-01 09:32] TheChymera opened #1412 "Is there a “nice” way to selectively disable tests which require network access?"
## Description

The test suite passes fine, but as it is run in a sandbox for the system-wide install, it fails for tests requiring network access: https://ppb.chymera.eu/069f03.log
Is there any way to easily blacklist these tests?

Just as an aside, hdf5/h5py ROS3 support is enabled.
I know some other people had issues with this, and it's the same 2 tests I'm talking about, but ROS3 is **not** th

[2021-10-01 14:34] bendichter opened #1413 "problem reading older icephys file"
## Description

PyNWB no longer is able to open the file in [dandiset 25](https://gui.dandiarchive.org/#/dandiset/000025), which uses the old style of icephys.

## Steps to Reproduce

[code]

[code]

## Environment

    Python Executable: Conda
    Python Version: Python 3.9
    Operating System: macOS
    HDMF Version: 3.1.1
    PyNWB Version: 2.0.0

## Checklist

- [x] Have you ensured the bug w

[2021-10-01 18:16] oruebel commented on #1413
Ok, that should not happen.  I'll take a look.  I opened an icephys files from dandiset 20 yesterday without an issue. I'm wondering whether something strange is happening where things might be colliding with an extension in the file.

[2021-10-05 07:46] oruebel commented on #1412
For this particular case, I think it would makes sense to just automatically skip the test if DANDI is unavailable or if ROS3 is not installed. I've implemented this here https://github.com/NeurodataWithoutBorders/pynwb/pull/1414/files#diff-b66333a7080e84bd92657719668cd9fcdbe0d26b919e05d00a5bcd7acb823c54. Will this work for your case? In general, I would like to avoid adding complex configurations

[2021-10-05 18:48] #1412 closed, assigned to nobody

[2021-10-06 08:42] TheChymera commented on #1412
@oruebel both DANDI and ROS3 support in hdf5 are available (which is why I explicitly mentioned that this is **not** related to ros3, since I see many people have difficulties getting support for this). It's just that external network connectivity is not available.

I asked since many packages have either a ~NO_NETWORK (or similar naming) environment variable, or test function definition which mak

[2021-10-07 17:29] gouwens opened #1415 "Cannot use cached namespaces from NWB file instead of default"
## Description

At the Allen Institute, we have some NWB2 files that can't be read by the latest versions of pynwb because of a namespace problem. These NWB files use the "Index" data type which was [removed in hdmf-common version 1.2.0](https://hdmf-common-schema.readthedocs.io/en/latest/format_release_notes.html#july-10-2020).

When I try to load the file, it ignores the hdmf-common namespace ve

[2021-10-07 18:11] rly commented on #1415
@gouwens Thanks for the bug report. As we look into potential solutions, could you share one of these files? Thanks.

[2021-10-07 18:16] gouwens commented on #1415
Sure thing. I've attached an example file in a ZIP archive.

[Ctgf-T2A-dgCre;Ai14-533670.04.02.02.nwb.zip](https://github.com/NeurodataWithoutBorders/pynwb/files/7306059/Ctgf-T2A-dgCre.Ai14-533670.04.02.02.nwb.zip)

[2021-10-08 22:55] chrisroat opened #1416 "Linking Subject from one nwb file to another"
## Description

I have a 2 nwb files, the first one with a Subject and the second one without a Subject.  I'd like to copy over the Subject from the first file to the second file, possibly using an external link.  The example below attempts to use a BuildManager, but it is not successful.  What is the correct way to do this?

## Steps to Reproduce

[code]

## Environment

    Python Executable: Py

[2021-10-12 15:45] bendichter commented on #1416
Hi @chrisroat

Just so I am clear, why would you prefer to use an external link here rather than just storing the subject in two different places?

Here's code that does what you are trying to do:

[code]

[2021-10-12 17:38] chrisroat commented on #1416
I would want an external link so that if I modified data about my `Subject`, any file referencing it would automatically pick up those details.  (Imagine if 1000s of files referenced this subject.)

Thanks for your example on creating a new file with an existing `Subject`.  The use case I have has two existing files, and trying to copy `Subject` from one to the other (an append operation).  This i

[2021-10-13 09:48] t-b commented on #1413
Validation output:
[code]

[2021-10-13 18:49] oruebel commented on #1413
@t-b thanks for the additional case. Could you provide a link to the file. As far as I can tell the issue is somehow related to the use of extensions in the file. Loading existing (i.e., v2.3 and earlier) ICEphys files appears to work if the file doesn't use an extension, i.e., it seems that loading the extension from file triggers an edge-case we missed in the tests.

[2021-10-15 17:48] t-b commented on #1413
@oruebel This is just the file from the dandi link.

[2021-10-15 18:01] oruebel commented on #1413
@t-b thanks for the clarification. Interesting that the validator fails differently than the normal read here. In particular, it seems that in the log output you provided for the validator, the error occurs already in the ``load_namespaces`` function during read. In contrast  in the log output that Ben reported for reading the file, the error appears to happen much later in the ObjectMapper, even

[2021-10-20 02:52] jmdelahanty commented on #1416
Hey @chrisroat! The way that I'm trying to work on this with our lab's use is to have a subject metadata file that contains what we need for the experiment to run properly and, at the end of the experiment, to write out a "base" NWB file that has the subject information built into it as well as any other metadata I can throw in there at the end of a given session. It builds NWB imaging planes out

[2021-10-20 02:58] chrisroat commented on #1416
The DANDI archive requires a subject_id, so if you are planning to upload to DANDI you will need to include it.  It would be fine to have that information come from a metadata file or from a database.  It sounds like you will have a "base" NWB file with all the necessary information, and that is what you'd read into Suite2p.

What I'm proposing is on the other side of things, when Suite2p writes a

[2021-10-20 03:04] jmdelahanty commented on #1416
Ah I see, got it. I do believe that's something the lab is looking to do once we have our experiments finished up.

I see, that makes sense. It definitely should do that, that's what [this issue](https://github.com/MouseLand/suite2p/issues/746#issuecomment-946086242) is about correct? It would be really cool to try and help work on that if you'd have me! I'm in the middle of getting stimulations g

[2021-10-27 22:45] chrisroat commented on #1416
We should probably keep discussions on the pertinent issues.

As far as this issue, we are still awaiting feedback.  @bendichter , is the use case above not expected -- where an entity like a `Subject` needs to be duplicated across NWB files?  Should it be that the upstream code should modify the original NWB file?  (I think this could work, so long as multiple processes aren't trying to do the mo

[2021-10-27 23:14] bendichter commented on #1416
What do you mean by "upstream"?

[2021-10-27 23:28] bendichter commented on #1416
CatalystNeuro has a way of adding metadata from the suite2p default output format:

[code]

So you would write in the default output format and then convert to NWB. That function should allow you to create a new NWB file or append to an existing file. It's not as smooth as outputting to NWB directly, but it should work. I agree it would be better if suite2p had a way of adding metadata while writi

[2021-10-27 23:47] chrisroat commented on #1416
Its too bad that CatalystNeuro rolls their own solutions, especially one that is simply reading an old format and writing a new one.   This might be an indication of a deeper problem here.  It's also a pity that updating 1000s of files seems like a possible solution to a problem.  I'd rather we figure out a way to update Suite2p so everyone can benefit, unless it seems way too difficult.

I mean t

[2021-10-28 00:09] bendichter commented on #1416
OK well these are IMO two separate issues.

**suite2p conversion:** We try to develop reusable NWB conversion tools for data formats and several labs we have worked with have given us the default suite2p output, so we built a converter for it. We "read and old format and write a new one" all the time, reading from a myriad different formats and writing to NWB. It's something we specialize in, and

[2021-10-28 02:30] chrisroat commented on #1416
I will update Suite2p to write the output directly to the incoming NWB.  I already have an issue open with them, and asked if this would be an acceptable change.

Suite2p does not have a straight-to-NWB approach -- their code writes data in their own format, and then rewrites it into NWB.  It's missing the Subject info, hence why I sought advice on how to do this.

And yes, I have encountered the

[2021-11-30 23:18] ajuavinett commented on #1335
Hi all, circling back to this -- it seems like this is resolved on other threads, but I'm still hitting the namespace issue with pynwb == 2.0.0. Is there some fix I'm missing?

[2021-12-01 16:47] bendichter commented on #1335
@oruebel, the following on DANDI Hub gives me an error:

[code]
<details>
    <summary>traceback</summary>
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
/tmp/ipykernel_421/1586567983.py in <module>
      6
      7 io = NWBHDF5IO(s3_url, mode='r', load_namespaces=True, driver='ros3')
----> 8 nw

[2021-12-01 17:02] yarikoptic commented on #1335
BTW is this a dup of https://github.com/NeurodataWithoutBorders/pynwb/issues/1413 ?

[2021-12-01 17:33] lvsltz commented on #1335
Hi @bendichter and all
Would it be possible to replace dataset 25 with a version compliant with pynwb 2?
I admit that for debugging purposes it's useful to understand why reading this file fails with the current pynwb/hdmf versions, but a working version should also be available for the general public.
If you think it's a good idea, can we agree over slack how to update this file?

[2021-12-01 17:35] bendichter commented on #1335
@lvsltz yes, good idea. This extension has been integrated with core NWB and read now definitely works. I don't think it would be difficult to update a conversion script to use the new types that are now in the core. @oruebel would know how to do that. Do you have a public conversion script you can point me to? If so, I might be able to help with this as well.

[2021-12-01 17:36] bendichter commented on #1335
@yarikoptic yes, this looks like a duplicate. I don't want to close until @ajuavinett confirm that she can git past her current error to this error.

[2021-12-01 17:42] lvsltz commented on #1335
I was thinking the simplest would be if I just provide the new NWB file and/or be given co-ownership to the DANDI dataset 0025 so that I add it myself. This file is now ready and can be sent to you at any time.

[2021-12-01 17:45] bendichter commented on #1335
@lvsltz you are now an owner of this dandiset. Feel free to update to the new NWB file.

[2021-12-01 19:50] ajuavinett commented on #1335
Yep, I get the same `ObjectMapper.map_spec` error now.

[2021-12-01 21:37] #1335 closed, assigned to nobody

[2021-12-08 21:23] rly commented on #1405
This feature request also comes up from @lfrank where his lab found data where the length of `electrodes` of an `ElectricalSeries` did not match the second dimension of `data`. It would be great to add these checks in.

[2021-12-22 15:08] bendichter opened #1419 "better shape check error in validator"
see NeurodataWithoutBorders/helpdesk#16

[2021-12-24 05:05] Ahad-Allen opened #1420 "Error when adding a list of lists to the trials colums of an nwb file"
## Description
When using the add_trial_column functionality to add a list of lists, I receive the following error message when exporting the generated NWB file:
[code]

## Steps to Reproduce

To give more context for the error:
I am adding the list of lists to the file using the following code:
[code]
Each element in the list is a set of values represented as a string within a csv file as follows

[2021-12-24 13:53] bendichter commented on #1420
@Ahad-Allen I would like to help but I can't quite understand what you are trying to accomplish. It would really help us if the code to reproduce the error is entirely self-contained, i.e. it does not depend on any external CSV files so that I can run the exact code you provide and get the same error. Could you hard-code a few values in the code so that we do not rely on this external CSV file? Co

[2022-01-03 17:54] Ahad-Allen commented on #1420
Thanks for the response Ben! Apologies for the delay in getting back to you, I was previously off for the holidays. I'll work on creating a self contained version of the code to help clarify the code for you.

[2022-01-04 21:52] bendichter opened #1421 "Don't allow creation of NWBGroups or NWBDatasets with spaces in the name"

[2022-01-04 23:39] t-b commented on #1421
Why? There might be already files around with spaces in the name and so I would say this ship has sailed.

[2022-01-05 00:27] bendichter commented on #1421
There is a potential issue in MatNWB, but only if a name is defined in a schema or extension. For instance, if you want to access the `start_time` of the `TimeIntervals` trials table, the syntax is `trials.start_time`. In this case, having a space would present a problem. But for custom columns, the syntax would be e.g. `trials.vectordata.get('correct')`. There, having a space would not be a probl

[2022-01-11 17:30] rly opened #1423 "Install nwbinspector"
Like for the validator, it would be nice to have the [best practices inspector](https://github.com/NeurodataWithoutBorders/nwbinspector
) installed when a user installs PyNWB.

## Checklist

- [x] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues)?
- [x] Have you included a brief and descriptive title?
- [x] Have you included

[2022-01-31 06:44] TheChymera opened #1425 "6 tests fail with `FileNotFoundError` on `2.0.0_p0`"
Thanks for having addressed the previous network issue (reported [here](https://github.com/NeurodataWithoutBorders/pynwb/issues/1412)).
Unfortunately, in the mean time, 6 other tests started failing, and I'm not entirely sure why.
This is the [full build and test log](https://ppb.chymera.eu/f2564d.log), and below is the summary:

[code]

[2022-01-31 16:54] oruebel commented on #1425
I think this is likely a different problem, since the files for these tests are not being downloaded from DANDI but are actually included in the PyNWB repo itself here https://github.com/NeurodataWithoutBorders/pynwb/tree/dev/tests/back_compat. However, these tests use relative paths when calling the validator, e.g,. ``"python -m pynwb.validate tests/back_compat/1.1.2_nwbfile.nwb"``, i.e., I belie

[2022-02-03 08:44] oruebel opened #1429 "Update software architecure docs"
The description of the software architecture as part of [overview_software_architecture.rst](https://github.com/NeurodataWithoutBorders/pynwb/blob/dev/docs/source/overview_software_architecture.rst) is outdated. Most of the current text refers to details of HDMF. The page should be updated to discuss the architecture details of PyNWB and refer to the [HDMF software architecture docs](https://hdmf.

[2022-02-03 09:05] #1401 closed, assigned to oruebel

[2022-02-11 18:14] jsiegle opened #1430 "Slow loading of time intervals"
## Description

In the Allen Institute Neuropixels NWB files, information about visual stimulus presentations (trials) is stored as time intervals. I've noticed that loading the time interval data from the file can be quite slow, resulting in delays of up to a minute when querying the file for stimulus information. Fortunately this is cached by the AllenSDK `EcephysSession` object, so it only has

[2022-02-11 23:50] oruebel commented on #1430
@jsiegle thanks for creating this issue and all the helpful details. I'll take a look at this during the hackathon next week.

[2022-02-18 19:16] oruebel opened #1431 "Support validation against cached namespace via flag on pynwb.validate"
The pynwb.validate function currently validates by default against the core namespace, whereas the command line validator by default uses the cached namespace. The functionality to use cached namespaces should be moved/ported to the validate function.

This is related to the following DANDI issue https://github.com/dandi/dandi-cli/issues/917

## Checklist

- [X] Have you ensured the feature or cha

[2022-02-23 09:24] Saksham20 opened #1433 "list of starting_times for external_files in ImageSeries"
Currently, for an `ImageSeries` if `external_files` is specified as a list of videos, there is no way to specify a list of `starting_times` corresponding to each of the videos.
@CodyCBakerPhD had brought this issue up #1318

**Describe the solution you'd like**
 I think, with `format="external"`  we should allow a list of either `starting_times` or `timestamps` (list of arrays).

**Code**:
[code]

[2022-02-23 20:04] bendichter commented on #1420
Would you maybe be able to upload one of these CSV files?

[2022-02-23 22:56] oruebel commented on #1430
@jsiegle I did some initial testing to evaluate the performance for generating the dataframes: 1) using the function you provided, 2) using the ``DynamicTable.to_dataframe`` method from PyNWB/HDMF, and 3) loading the tables from a CSV file.

1. Using the function you provided I was able to confirm that I see similar performance on my MacBook of **~18.3s**
2. Using ``DynamicTable.to_dataframe``  pe

[2022-02-23 23:10] oruebel commented on #1430
@jsiegle ok, I think I found the the main source of the performance issue in your function. By changing the following line ```presentations[col.name].extend(col.data)``` to ```presentations[col.name].extend(col.data[:])``` performance on my system improves to ```0.232s``` for your function. That is still slower than using the ```DynamicTable.to_dataframe``` approach but still much faster than the

[2022-02-23 23:51] jsiegle commented on #1430
Thanks so much for the detailed response! I can confirm that that small change dramatically decreases the loading time.

Not sure why we missed `DynamicTable.to_dataframe` when we were writing this code, that would have been a much simpler solution.

In any case, I will open a pull request to the AllenSDK to get this fixed.

[2022-02-23 23:51] #1430 closed, assigned to oruebel

[2022-03-08 19:13] oruebel commented on #1433
@Saksham20 please correct me if I missed anything. Based on our discussions I believe we decided that:

1. For the case where users have multiple non-consecutive movies that are distinct recordings, creating separate ImageSeries for the movies is approbriate
2. For the case where a single recording is broken down into consecutive movies (i.e., where movie 2 starts right when movie 1 ends), having

[2022-03-09 12:45] Saksham20 commented on #1433
Yes, that is correct. For trialized videos, the user can specify the timestamps reflecting the times of each frame in every video. The length of the timestamps should be the sum of frame count of all videos specified in `external_files`.

Currently, we are working on a helper function (to visualise using widgets in a Jupiter notebook) using [NWBWidgets](https://github.com/NeurodataWithoutBorders/n

[2022-03-16 13:48] CodyCBakerPhD opened #1439 "[Documentation]: specify order of RGB axes in ImageSeries"
related to [#504](https://github.com/NeurodataWithoutBorders/nwb-schema/issues/504)

Noticed that the PyNWB documentation for ImageSeries makes no explicit mention of the color channel order (which ought to be RGB). This is somewhat important as we just discovered that OpenCV (fairly standard open-access cross-format video reader) does not do this by default.

[2022-03-17 13:56] bendichter opened #1440 "[Documentation]: Background: basic concepts is duplicated"
### What would you like changed or added to the documentation and why?

https://pynwb.readthedocs.io/en/stable/tutorials/general/file.html#background-basic-concepts is duplicated

### Do you have any interest in helping write or edit the documentation?

Yes.

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/NeurodataWithoutBorders/pynwb/blob/dev/.git

[2022-03-17 15:51] bendichter opened #1441 "[Documentation]: cannot build documentation locally"
### What would you like changed or added to the documentation and why?

[code]

[code]

[code]

### Do you have any interest in helping write or edit the documentation?

Yes, but I would need guidance.

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/NeurodataWithoutBorders/pynwb/blob/dev/.github/CODE_OF_CONDUCT.rst)
- [X] Have you checked the [Cont

[2022-03-17 15:51] bendichter commented on #1441
@rly , could you help with this? Is it a sphinx version issue?

[2022-03-19 01:21] miketrumpis commented on #1239
The procedure @lfrank described to make sequential writes on a shallow-copy file is still raising an exception for me. Here are the relevant versions

[code]

Here's a gist that abstracts the procedure: https://gist.github.com/miketrumpis/1779483dd9fa43e06cc86bc43952611c

The exception now is from h5py

[code]

And the relevant point in the traceback, the "name" of the link is the name "raw_acq" o

[2022-03-22 17:10] h-mayorquin opened #1442 "Remove most required properties from `add_electrode`"
This is linked to https://github.com/NeurodataWithoutBorders/nwb-schema/issues/505.

The idea is to remove all the required properties but group and location from the `add_electrode` function:

- x
- y
- z
- imp
- location
- filtering
- group

The logic and background of the request is described in the linked issue above.

[2022-03-23 02:03] bendichter commented on #1441
running `sphinx-build -a source build` from within the docs directory worked

[2022-03-23 02:03] #1441 closed, assigned to nobody

[2022-03-24 07:30] rly commented on #1239
@miketrumpis Thank you for the detailed bug report on this issue. It looks like this is similar to the original issue but not exactly the same. The PR https://github.com/hdmf-dev/hdmf/pull/709 should fix the issue. Either now or once merged into the dev branch of HDMF, could you please test it out? Otherwise I can let you know when we make a new release with the bugfix.

[2022-03-24 07:33] rly commented on #1239
The original issue appears to still exist somewhat, but a different error results than originally described.

On read of the test file in append mode, the following error results. Strangely, reading in read mode does not result in an error.
[code]

[2022-03-24 08:41] #1239 closed, assigned to nobody

[2022-03-24 08:47] rly commented on #1239
The `ConstructError` that I mention above is a Windows-specific error that should be fixed with https://github.com/hdmf-dev/hdmf/pull/710.

The code described in the original bug report works correctly with the latest versions of PyNWB and HDMF.

[2022-03-24 08:56] rly commented on #1239
The code described in @lfrank 's second comment, specifically:
[code]
Will result in an error because `nwbf_new` was read by one IO object and is written using a different IO object. A better code flow would be:
[code]

[2022-03-24 08:58] rly commented on #1239
I believe these appending issues are resolved, but please feel free to reopen or create a new issue ticket if not.

[2022-03-24 17:16] h-mayorquin opened #1444 "[Documentation]: function docstrings not rendering properly for `pynwb.file module`"
### What would you like changed or added to the documentation and why?

There seems to be some problem as the docstrings are not rendered properly:
https://pynwb.readthedocs.io/en/stable/pynwb.file.html#pynwb.file.NWBFile.add_unit_column

The documentation seems to break at the description of index:

![Untitled drawing (1)](https://user-images.githubusercontent.com/6429509/159972812-7cd3cc0d-4c85-

[2022-03-24 18:25] oruebel commented on #1444
Looking at code, I believe this is actually a problem inherited from HDMF ``DynamicaTable.add_column``. I'll open a corresponding issue on HDMF and close this one in favor of that one.

[2022-03-24 18:29] oruebel commented on #1444
I've created a new issue for this on the HDMF repo since this issue needs to be fixed in HDMF. The new issue is here https://github.com/hdmf-dev/hdmf/issues/711 I'm closing this issue for now as this will get fixed automatically once that issue is complete.

[2022-03-24 18:29] #1444 closed, assigned to nobody

[2022-03-27 13:59] vilim opened #1445 "[Bug]: "ValueError: No specification for" on creating a new extension"
### What happened?

I am trying to follow the tutorial on creating new NWB extensions [here](https://pynwb.readthedocs.io/en/stable/extensions_tutorial/4_auto_api.html) however I am stuck after auto-generating the spec and creating the python module. When I try to import the module, the `load_namespaces` function fails to load the new type that I defined in `create_extension_spec` and that generat

[2022-03-27 19:30] rly commented on #1445
Hi @vilim ,

In your `ndx-zebrafish.namespace.yaml` file, you have written that `ZebrafishBehavior` is a neurodata type to include from the NWB `core` namespace. However, this is a type that you define in your extension; it does not exist in the `core` namespace.

To fix this, remove this line:
https://github.com/nwb-zebrafish/ndx-zebrafish/blob/2f8b373b6cc93822ec71de651df11dc00c0bd530/src/spec/cr

[2022-03-28 13:00] #1440 closed, assigned to nobody

[2022-04-05 16:24] rly commented on #1189
We decided today to move forward with raising a warning if a user uses positional arguments for constructors, and also `add_electrode` and other methods that use arguments based on the schema.

[2022-04-05 16:32] rly opened #1446 "[Documentation]:"
### What would you like changed or added to the documentation and why?

The documentation https://pynwb.readthedocs.io/en/stable/pynwb.file.html#pynwb.file.NWBFile.add_electrode_column :
[code]
has a broken link for `add_column`. Other links are broken on that page too.

This is probably because the intersphinx link for
[code]
does not work. I think it should be:
[code]

### Do you have any intere

[2022-04-05 19:22] fcavarretta-ualr opened #1447 "[Bug]: Slow IO"
### What happened?

In creating a big nwb files, ~9-10 GBs, the process get increasingly slow until it freezes my computer.
To override the issue, I save the file, then re-load it.
Similarly, in reading this file, at some point the process get frozen, and I re-load the file, to override the issue and accomplish the processing successfully.

### Steps to Reproduce

[code]

### Traceback

_No respon

[2022-04-05 19:51] bendichter commented on #1447
@FrancescoCavarretta thanks for the issue. PyNWB is built to handle very large datasets so 9-10 GB should not be a problem. When you write the file, how are you doing it? Are you using a [DataChunkIterator](https://pynwb.readthedocs.io/en/stable/tutorials/advanced_io/iterative_write.html), or are you just loading a large array into memory all at once? Similarly for reading: are you using lazy data

[2022-04-06 17:55] miketrumpis commented on #1239
I hope I have set up the environment right, but I still see a similar result with this version combo:

[code]

[code]

The TB has shifted somewhat to a different point

[code]

[2022-04-06 20:38] fcavarretta-ualr commented on #1447
Thanks for the answer. I am not using the DataChunkIterator but I will try it. Meanwhile, just looked into the page with its examples and I was wondering if DataChunkIterator would also help with input from big nwb files, which has been also problematic.
________________________________
From: Ben Dichter ***@***.***>
Sent: Tuesday, April 5, 2022 15:51
To: NeurodataWithoutBorders/pynwb ***@***.***>

[2022-04-06 21:34] oruebel commented on #1447
DataChunkIterator is designed for write. Onr read, large datasets are returned as ``h5py.Dataset`` objects which are read lazily, i.e., only the parts of a dataset that you are requesting will be read into main memory. To iterate over a dataset on read you can use the standard methods supported by ``h5py``, e.g., ``for v in dataset``  will iterate over the first dimension of the dataset (similar t

[2022-04-06 23:44] rly commented on #1239
@miketrumpis could you share the code that you used that resulted in the above error? The top-level code snippet from the TB does not match the code in [gist.github.com/miketrumpis/1779483dd9fa43e06cc86bc43952611c](https://gist.github.com/miketrumpis/1779483dd9fa43e06cc86bc43952611c)

[2022-04-07 00:03] miketrumpis commented on #1239
I'm sorry, that was a false alarm. I can run the gist demo with the HDMF dev branch.

I had made a small change to my notebook as an attempted work-around. Nice 👀 work!

[2022-04-07 14:07] TomDonoghue opened #1449 "[Bug]: EpochTags"
### What happened?

In the `NWBFile.add_epoch` method, the description notes that the `tags` input can be str, list or tuple.

Tags description:

tags (:py:class:`~str` or :py:class:`~list` or :py:class:`~tuple`): user-defined tags used throughout time intervals

However, if one actually passes a str, then the `epoch_tags` attribute doesn't preserve this as a string, but splits it up into individu

[2022-04-07 15:55] bendichter commented on #1449
@TomDonoghue thanks for reporting this. It's a bug and we'll fix it, but getting that released could take some time. As a work-around, does it work for you to just enter something like `tags=('label1',)`?

[2022-04-07 16:03] TomDonoghue commented on #1449
@bendichter - yeh, I should have mentioned, passing in either `tags=['label1']` or` tags=('label1',)` works properly for passing in a single tag, so in that sense there is an easy work-around such that this is not a super critical bug, so while this would be nice to fix, I don't think it's an issue if it takes a bit of time before it's in a new release.

[2022-04-07 16:39] TomDonoghue opened #1450 "[Documentation]: Guidance on how to use epoch definitions"
### What would you like changed or added to the documentation and why?

This is perhaps something of a combination of a documentation suggestions, and maybe something of a "how do I do this" question - but one that I think should probably be noted in the documentation, and that I haven't found any clear answers to.

Specifically, I'm trying to use the `epochs` information, but having trouble figur

[2022-04-08 16:49] bendichter commented on #1450
@TomDonoghue it seems like what you want to do is something like:

[code]

is that right?

[2022-04-10 16:35] TomDonoghue opened #1451 "[Documentation]: Difference between `source_script` and `source_script_file_name`?"
### What would you like changed or added to the documentation and why?

What is supposed to be the difference between `source_script` and `source_script_file_name`?

The descriptions of these fields are currently:
- `source_script (:py:class:`~str`): Script file used to create this NWB file.`
- `source_script_file_name (:py:class:`~str`): Name of the source_script file`

In addition, it seems you

[2022-04-10 17:21] TomDonoghue commented on #1450
@bendichter - yeh, that approach would definitely work - I guess I was mostly wondering if that's the expected way to use epoch definitions, since it doesn't feel like that is the easiest way to use this info.

By comparison, at least for my use cases, I find either of the following are potentially easier to use:

### Using Trial Info
Note: this only works for intervals defined within the overall

[2022-04-10 19:22] bendichter commented on #1450
Epochs are for stages of an experiment e.g. training vs. testing. For trials-like times I'd use trials or another custom TimeIntervals table

[2022-04-11 13:00] bendichter commented on #1451
Good question. Honestly I don't remember, but my guess would be that `source_script` should be the github repo, and ideally the git hash, e.g. `https://github.com/catalystneuro/giocomo-lab-to-nwb.git@f9934247464de1cfbfc5f2354b311c26efb11d48`, and `source_script_file_name` would be the file that you run to do the actual conversion, like `run_conversion.py`. So something like

[code]

would run the

[2022-04-12 21:27] bendichter opened #1452 "[Feature]: neurodata object factories"
### What would you like to see added to PyNWB?

When building tests for downstream libraries (nwb widgets, nwbinspector, etc.) we spend a lot of lines of code building NWB objects to use in these test.

### Is your feature request related to a problem?

_No response_

### What solution would you like?

I propose a module , e.g.`pynwb.testing.factories.ecephys` that contains code to automate the pr

[2022-04-12 22:30] bendichter commented on #1452
any thoughts on the syntax pattern? Whatever pattern we choose will be propagated through all of the neurodata types and maybe even extensions

[2022-04-12 22:31] bendichter commented on #1452
Are there any similar projects we can build off of? [FactoryBoy](https://factoryboy.readthedocs.io/en/stable/) comes to mind, but it's a bit different in scope since it is for working with SQL databases.

[2022-04-19 22:51] bendichter opened #1456 "[Documentation]: add advanced behavior tutorial"
### What would you like changed or added to the documentation and why?

Covering:

* SpatialSeries
* BehavioralEpochs
* BehavioralEvents
* BehavioralTimeSeries
* PupilTracking
* EyeTracking
* CompassDirection
* Position

### Do you have any interest in helping write or edit the documentation?

No.

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/Neu

[2022-04-20 14:20] weiglszonja opened #1457 "[Documentation]: add advanced read tutorial"
#1453 introduces a basic read tutorial, but a more advanced version is needed where we can add more coverage of ``Container`` base class features

_Originally posted by @oruebel in https://github.com/NeurodataWithoutBorders/pynwb/pull/1453#discussion_r851513536_

[2022-04-20 16:56] weiglszonja opened #1458 "[Documentation]: add copy button to code blocks"
### What would you like changed or added to the documentation and why?

We could add a "copy" button to the code blocks in the tutorials with [Sphinx-copybutton ](https://sphinx-copybutton.readthedocs.io/en/latest/).

It would be nice if this copy button would appear right next to the code blocks that were added like this:

[code]

### Do you have any interest in helping write or edit the document

[2022-04-21 17:23] #1458 closed, assigned to nobody

[2022-04-25 12:08] luiztauffer commented on #833
This is still an Issue on `pynwb==2.0.1`, it can be reproduced with:
[code]

error:
[code]

[2022-04-27 00:25] oruebel commented on #833
This feature request would need to be addressed in HDMF since this is ultimately a feature of ``DynamicTable.add_column`` rather than a feature that is specific for ``TimeIntervals``.

**Approach 1:**
I've implemented a possible solution in the following PR: https://github.com/hdmf-dev/hdmf/pull/728. Here, I've implemented this as functionality of ``DynamicTable.add_column`` (i.e., we have the API

[2022-04-27 02:30] oruebel commented on #833
While Approach 1 adds some complexity in ``DynamicTable.add_column``, I think this is probably the more intuitive approach. https://github.com/hdmf-dev/hdmf/pull/728 should fix this issue

[2022-04-29 18:25] bendichter opened #1465 "[Bug]: offset object mapper bug"
### What happened?

It looks like these is some problem with the object mapper for offset

### Steps to Reproduce

[code]

### Traceback

[code]

### Operating System

macOS

### Python Executable

Python

### Python Version

3.9

### Package Versions

_No response_

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/NeurodataWithoutBorders/pynwb/blob/

[2022-04-29 20:59] rly commented on #1465
I will take a look

[2022-04-29 23:33] rly commented on #1465
I cannot reproduce this with the latest dev branch. However I can reproduce this if I do not update the nwb-schema submodule. Please run `git submodule update` on pynwb and rerun this and let me know if the issue persists.

[2022-04-29 23:48] bendichter commented on #1465
That fixed it, thanks. Oddly, the problem persisted when I uninstalled pynwb and hdmf and then reinstalled them, but the git submodule update did indeed work

[2022-04-29 23:48] #1465 closed, assigned to rly

[2022-05-02 18:06] rly opened #1467 "[Documentation]: Icephys tutorial output is confusing"
### What would you like changed or added to the documentation and why?

In the icephys tutorial on readthedocs, the output of `icephys_meta_df.iloc[[0, 1, 18, 19]].transpose()` does not look right, but maybe I am misreading it.

https://pynwb.readthedocs.io/en/stable/tutorials/domain/plot_icephys_pandas.html#sphx-glr-tutorials-domain-plot-icephys-pandas-py

![image](https://user-images.githubuserc

[2022-05-02 20:07] CodyCBakerPhD opened #1468 "[Feature]: if a file passes pynwb.validate, it should be readable"
### What would you like to see added to PyNWB?

Hey all,

This came up originally in https://github.com/dandi/helpdesk/discussions/71 that the NWBInspector failed to run on a certain NWBFile. Turns out that NWBFile had some problems (leading to https://github.com/NeurodataWithoutBorders/helpdesk/discussions/28), but on our side of things the source failure point came down to the call to `io.read`

[2022-05-02 20:25] oruebel commented on #1468
@CodyCBakerPhD the traceback doesn't seem to include the call to validate itself so just to clarify. You are calling:

https://github.com/NeurodataWithoutBorders/pynwb/blob/2973aeb5bd72c2cda85ac87eddbabed7d2da54e8/src/pynwb/__init__.py#L189-L198

1. If understand your request correctly, then you would like to see the following call wrapped in a try/except block and have it return a validation_erro

[2022-05-02 20:47] CodyCBakerPhD commented on #1468
@oruebel Oh, sorry - I've modified the post for clarity surrounding our understanding of the issue.

Upon double checking, `pynwb.validate(io)` works fine and returns empty. But `io.read()` fails with the traceback. I would like `validate` to inform me if the file is readable or not.

Essentially, but as this relates to the further specified issue, it ought to be something related to builders/cons

[2022-05-02 21:32] oruebel commented on #1468
Thanks for the clarification. I see, `pynwb.validate` preforms validation based on the builders and does not go through the process of constructing the containers. It's strange though that the missing description does not result in a validation error as well. Is the description for that DynamicTable actually missing in the file or is there something else going on?

To catch this in validate, I thi

[2022-05-02 22:04] CodyCBakerPhD commented on #1468
I think 'just an additional validation error' would be sufficient

[2022-05-02 22:13] oruebel commented on #1467
Can you clarify what seems to be wrong with the table?  As far as I can tell the table looks correct to me.

As mentioned in the comment, the table is shown transposed to fit within the readthedocs layout, and maybe it just looks a bit strange with the multi-index on the columns. The table without transposing it would look as follows:

![Screen Shot 2022-05-02 at 3 07 42 PM](https://user-images.gi

[2022-05-02 22:17] oruebel commented on #1468
@CodyCBakerPhD can you provide an example of how to test the behavior you are seeing, i.e., how does the file look that passes validation but fails the build process? The main reason I am asking is: a) I would like to be able to have a unittest for this, and b) I'm curious because this seems to indicate that there may be something important that we don't catch during validation.

[2022-05-02 22:21] #833 closed, assigned to nobody

[2022-05-02 22:23] oruebel commented on #833
@luiztauffer the HDMF PR has been merged, i.e., if you use the dev version of HDMF then this should work now. Otherwise, this issue will be resolved with the next release of PyNWB when we update HDMF versions.

[2022-05-02 23:11] rly commented on #1467
It definitely looks strange and unintuitive when transposed in the way that it is. Especially with the row shading.

Can we just show an image of the non-transposed table, kind of like what we see here on this GitHub issue, where the viewer can click the image to see it in full width? The table text does not need to be selectable. The downside is that if the code changes, the image of the table ne

[2022-05-03 00:19] oruebel commented on #1467
We could potentially also use https://pypi.org/project/dataframe-image/ to render the table as PNG directly from the notebook

[2022-05-03 20:21] #1456 closed, assigned to weiglszonja

[2022-05-05 02:39] #1467 closed, assigned to oruebel

[2022-05-05 05:42] oruebel opened #1471 "[Documentation]: Broken link to conda-forge best practice"
### What would you like changed or added to the documentation and why?

The following link to conda-forge is broken. It looks like the page may have been removed, but I'm not sure what the appropriate new link would be.

https://github.com/NeurodataWithoutBorders/pynwb/blob/70c9bdb92e4ddcfc23af331d597aa50fecf67421/docs/source/make_a_release.rst?plain=1#L179

### Do you have any interest in helping

[2022-05-09 19:47] CodyCBakerPhD commented on #1468
@oruebel OK after a lot of investigating and playing around, here is the  'most minimal' reproducible code I could make that reproduces the exact issue without needing an external file

Three-step process. Step 1 is Ophys tutorial down to `RoiResponseSeries` level and everything it needs along the way. Step 2 is `h5py` modification to break schema in the way the original problem file did. Step 3 i

[2022-05-09 20:36] nmarkowitz opened #1474 "[Feature]: Autoload TimeSeries data with offset, conversion and channel conversion"
### What would you like to see added to PyNWB?

Hi,

As pynwb gets has more properties to `TimeSeries` data added it would be convenient if the load function automatically applies the the conversion if required.

### Is your feature request related to a problem?

_No response_

### What solution would you like?

For a typical `TimeSeries` this could look something like

[code]

This example isn't

[2022-05-09 22:18] oruebel commented on #1474
I would need to take a closer look, but I don't think ``TimeSeries`` has a ``__getitem__`` function defined right now. If so, then an alternate solution would be to implement the conversion as part of ``TimeSeries.__getitem__`` such that slicing with ``ts.data[0:10]`` would remain as is and return raw values and ``ts[0:10]`` would return converted values. Another interesting functionality this wou

[2022-05-09 22:31] oruebel commented on #1468
@CodyCBakerPhD thanks for the helpful example. Looking at the schema and the modifications you make in the script, it looks like the required attributes for ``description`` and ``table`` are missing from the ``DynamicTableRegion``. Based on this, I think we would see the same issue any time a named attribute is missing.

Rather than an error with the read, this seems to indicate that there is some

[2022-05-09 22:36] oruebel opened #1475 "[Bug]: Validator does not raise error on missing ``DynamicTableRegion.table/description`` attributes"
### What happened?

In https://github.com/NeurodataWithoutBorders/pynwb/issues/1468#issuecomment-1121507931 @CodyCBakerPhD shows a case where the required attributes ``table`` and ``description`` are being omitted/removed from a ``DynamicTableRegion``. This (not surprisingly) causes the file to fail on read, however, validation still passes.  This seems to indicate that there is some sort of bug o

[2022-05-09 23:26] nmarkowitz commented on #1474
@oruebel implementing a `__getitem__` function sounds like a good idea. If you'll be loading timestamps as well then it would make sense also load the `control` values as well if they are defined (maybe any field that has a single value per sample).

For timestamps, that could work but is also conditional in that `rate` and not `timestamps` is used to define time. When `timestamps` are used I try

[2022-05-09 23:57] oruebel commented on #1474
Good point. I think maybe the behavior of which fields to load may need to be configurable in some form for ``TimeIntervals.__getitem__`` (not sure yet).

My thinking here was that this is basically is the same issue as with the conversion of ``data``. I.e., ``TimeSeries.__getitem__`` would similarly always return full timestamps that match the selection, i.e., if ``starting_time`` and ``rate`` ar

[2022-05-10 00:31] nmarkowitz commented on #1474
Thanks for sharing those links. I may not have known about the `InvalidTimesTable` object and wish I did sooner before converting some data. I'll refer to these links going forward.

Going back to the `TimeIntervals.__getitem__` method one thought is that maybe it can just iterate over all fields in a `TimeSeries` and check if that fields contains a piece of data per sample to accomodate extension

[2022-05-10 01:56] DaveOC90 commented on #1301
Hi,

Sorry to dredge this up, but I recently ran into this error, and am unsure how to proceed. For the record, I replicated what @kir0ul [kir0ul](https://github.com/kir0ul) did at the top of the thread, without issue.

However the error was raised for when I tried to iterate over a list of images, load the data, and add the data to an nwb file. I am using newer versions of pynwb and hdmf than spe

[2022-05-10 07:27] oruebel commented on #1474
I agree that some form of configurability will be required to define which fields to use and that extending the function to more specific TimeSeries types should be supported as well. In addition to slicing in time, the function will likely also need to support other fields.  E.g., for ``ElectricalSeries`` one would probably want to not just slice the time dimension but also the electrodes dimensi

[2022-05-10 16:46] bendichter commented on #1301
[code]

I am not sure if this is what is causing your error (if it is we need to fix the error message) but I would expect this code to fail. HDF5 is like a file system. In a file system you can't have two folders with the same name in the same folder. Similarly with HDF5, you can't have two or more Groups called "onePhotonSeries" in the `/acquisitions` Group. You have the same problem for the nam

[2022-05-10 21:28] DaveOC90 commented on #1301
Hi Ben,

Thanks for your response. I added in an iterative variable to update the two photon series name, but still got the error. I then updated the imaging_plane line to reference the imaging_plane from the newly loaded nwb object. That is:

[code]

Either the latter or both of these changes fixed the problem. I am still getting to grips with nwb/hdf5 but what you say makes sense, and thanks aga

[2022-05-12 19:42] luiztauffer opened #1476 "[Bug]: Instructions for ROS3 driver installation might not work on Linux"
### What happened?

Following the instructions [here](https://pynwb.readthedocs.io/en/stable/tutorials/advanced_io/streaming.html) for installing h5py with ros3 driver do not seem to work on linux machines in some circumstances. I couldn't figure out what exactly is causing conda to install h5py without ros3 in that case, I cleaned all cache from both conda and pip, tried always in clean new envir

[2022-05-12 21:59] oruebel commented on #1476
@luiztauffer sounds reasonable. I would make this a note box (possibly at the end of the S3 tutorials, depending on length) to describe the issue, how to check for it, and the instructions how to fix it. Feel free to suggest the changes in a PR if you have time.

[2022-05-13 13:49] bendichter commented on #1474
We've been maintaining some functions for common `TimeSeries` operations [here](https://github.com/NeurodataWithoutBorders/nwb-jupyter-widgets/blob/master/nwbwidgets/utils/timeseries.py#L7)

I think several of these could be refactored into methods of `TimeSeries` within pynwb:
* get_timeseries_tt
* get_timeseries_maxt
* get_timeseries_mint
* get_timeseries_in_units
* timeseries_time_to_ind

using

[2022-05-17 22:08] rly opened #1477 "[Feature]: Add support for overhauled IndexSeries and Images type for NWB 2.5.0"
### What would you like to see added to PyNWB?

NWB 2.5.0 which will be released soon made changes to `IndexSeries` and `Images`: https://github.com/NeurodataWithoutBorders/nwb-schema/pull/459

### Is your feature request related to a problem?

_No response_

### What solution would you like?

Corresponding changes need to be made in PyNWB before the schema submodule can be updated.

### Do you ha

[2022-05-18 14:42] CodyCBakerPhD opened #1478 "[Documentation]: Doc versions?"
### What would you like changed or added to the documentation and why?

Just noticed that the public-facing docs https://pynwb.readthedocs.io/en/stable/ and https://pynwb.readthedocs.io/en/latest/ do not match the recent progress (especially new tutorials) on https://pynwb.readthedocs.io/en/dev/

Is this intended?

### Do you have any interest in helping write or edit the documentation?

Yes, but

[2022-05-18 22:29] rly opened #1479 "[Bug]: Cannot read file with SpatialSeries with >3 columns"
### What happened?

An existing NWB file has four columns in its `SpatialSeries` objects. They represent (x1, y1, x2, y2) according to the description. This is technically valid according to NWB 2.0-2.4 but is invalid according to the upcoming NWB 2.5 and dev branch of pynwb.

### Steps to Reproduce

[code]

### Traceback

[code]

### Operating System

Windows

### Python Executable

Conda

### Py

[2022-05-19 00:37] bendichter commented on #1479
OK, but these files won't pass validation

[2022-05-19 05:32] rly commented on #1479
Right. The files won't pass validation with the new schema. Based on what we have laid out right now in the [compatibility policy](https://www.nwb.org/versioning-and-compatibility/), we would have to push PyNWB to 3.0 if it cannot read files written by PyNWB 2. Ideally, PyNWB can read all files written with NWB schema 2+. With previous breaking changes, we could convert the non-compliant data to a

[2022-05-19 18:56] oruebel commented on #1479
@rly I'm not sure if this is easily possible, but I think if we could: 1) raise a warning when reading a file (so that files remain readable) but 2) raise an error when a user creates a new SpatialSeries (to prevent creation of new bad data, then that would solve both issues (maintaining readability of old files while enforcing compliance with the updated schema). I'm not sure what the right way t

[2022-05-19 19:00] #1479 closed, assigned to nobody

[2022-05-19 22:12] rly opened #1481 "[Feature]: Raise error for `SpatialSeries` created by user with >3 columns"
### What would you like to see added to PyNWB?

See #1479. It is currently difficult to raise this error without making older files that contain a `SpatialSeries` with >3 columns unreadable, so a stopgap was implemented in #1480.

### Is your feature request related to a problem?

_No response_

### What solution would you like?

1. Raise a warning when reading a file (so that files remain readabl

[2022-05-19 23:14] oruebel commented on #1481
One solution may be to:
- Have a flag ``__warn_on_invalid_data`` on the ``SpatialSeries.__init__`` with the default being set to ``False``
- Have the ObjectMapper for ``SpatialSeries`` return ``True`` for the  ``__warn_on_invalid_data``
- Have  ``SpatialSeries.__init__`` issue a warning if ``__warn_on_invalid_data`` is True and otherwise raise and exception

In this way, the default behavior for t

[2022-05-20 05:11] sneakers-the-rat opened #1482 "[Documentation]: Structure of docs considered harmful to a project that i love!"
### What would you like changed or added to the documentation and why?

Meta-context: looking at the most recent (i think?) version of the docs here: https://pynwb.readthedocs.io/en/dev/index.html according to https://github.com/NeurodataWithoutBorders/pynwb/issues/1478

I am here with love to raise a conversation that I feel is one that must have been being had internally but externally feels ove

[2022-05-20 05:20] sneakers-the-rat commented on #1482
updated the title to better reflect my intention

[2022-05-20 08:30] oruebel commented on #1482
@sneakers-the-rat thanks for describing your experience with the documentation and suggestions for improvements. Creating good documentation is hard and we continuously strive to make our documentation better. Thank you also for your willingness to contribute and help makes things better. Having this issue as a point for discussion is useful, but I think it will be useful if we can start to create

[2022-05-20 14:52] bendichter commented on #1482
Thanks @sneakers-the-rat. You bring up some good points. Let's start with the tutorials order.

There is some order, as you indicate. The NWB Basics tutorial really should be first. But on the other hand I like that some of them are unordered- the domain-specific tutorials really should not have an order within that category and should be treated more a la carte.

I think the best solution here wo

[2022-05-20 23:23] sneakers-the-rat commented on #1482
Fabulous!

To be clear, completely agree and definitely am not doc shaming. having to imagine what other people might or might not understand is extremely hard!

Also agree. I'll try and sketch some below and then if they sound good I'll open them and can try my hand at some PRs.

Yes! Agree! This tutorial is helpful. Understanding it's new, I think it could be worth going through the other tutori

[2022-05-26 16:44] #1189 closed, assigned to nobody

[2022-05-28 02:14] cboulay opened #1485 "[Feature]: Rapid iterative reads of short windows of multi-channel spikes"
### What would you like to see added to PyNWB?

Using a DANDI dataset (000121) with a "Units" table, I would like to very quickly retrieve only the spike times that occurred within a specified short time window. The current method of (i) opening the file, (ii) iterating over each channel, and (iii) grabbing ALL spike times and (iv) keeping those that meet some criteria is too slow.

### Is your fe

[2022-05-28 05:39] cboulay commented on #1485
Just to be a bit more explicit about the problem: If I try to create an ElectricalSeries with a sparse matrix ...

`sparse_series = ElectricalSeries(name='SparseSpikes', data=sparse_mat, starting_time=0., rate=1000.)`

... I'm met with the following error:

[code]

[2022-05-28 10:33] oruebel commented on #1485
Looking at the order of operations, one issue may be that your code may be doing a lot of small I/O requests by reading spike times from the Units table one row at a time. If you need all spike times, I would suggest simply loading the full column via something like ``spiketimes = nwbfile.units['spike_times'][:]`` first. In this way, iterating over the elements should be faster since the data is a

[2022-05-29 04:08] cboulay commented on #1485
Thank you for the prompt reply.

Unfortunately, this is exactly what I'm trying to avoid.

Perhaps I'm misunderstanding Ray but, AFAICT, the processing of the `ReadTask`s is stateless; I need to load the full column once for each ReadTask -- currently there are 2000 of them.

A more direct fix might be to load the full spike data into memory before generating the task callbacks then include it in

[2022-05-29 05:58] cboulay commented on #1485
I'm still struggling with this. I guessed that the "scratch" data was the most permissive. It tried `nwbfile.add_sratch(CSRMatrix(...))` or even `ScratchData(CSRMatrix(...))`. The latter raises:

`TypeError: ScratchData.__init__: incorrect type for 'data' (got 'CSRMatrix', expected 'str, int, float, bytes, bool, ndarray, list, tuple, Dataset, Array, StrDataset, HDMFDataset, AbstractDataChunkIterat

[2022-05-29 06:16] cboulay commented on #1485
It just occurred to me that, unlike ndarrays, I can't load a sparse array lazily. Even if I manage to store the csr_matrix in the NWB file, I still have to load the whole thing into memory before I can slice it. My test-file's spikes as a sparse array occupies 80 MB (indices.nbytes + indptr.nbytes + data.nbytes) vs 127 MB for `nwbfile.units.spike_times[:].nbytes`, so there's still some benefit to

[2022-05-30 16:57] bendichter commented on #1485
1. > For now I'm plugging my ears and covering my eyes to suggestions that the file opening is my bottleneck

This is likely a bottleneck. Opening in pynwb is rather expensive, as it parses all the groups and attributes for the entire NWB file into builder objects. A faster way would be to read via h5py, but I think the best solution might be to just pass the entire spike train matrixes `spike_tim

[2022-05-30 18:24] cboulay commented on #1485
Thanks for the tip that `NWBHDF5IO` might be slow; I'll try with `h5py`.

I don't think I can pass my data structures as arguments to each node. I didn't mention it previously, but I'll also be slicing LFPs, behavioural data (cursor position), and trial events. This adds quite a bit of bloat to my serialized data blob that I'd be transmitting to each node and then residing in RAM. I'll keep toilin

[2022-05-31 18:46] #1485 closed, assigned to nobody

[2022-06-03 17:29] ahwillia opened #1487 "import pynwb is slow"
Importing `pynwb` is surprisingly slow on my machine. Is this typical for others?

[code]

I think all my other packages are loading reasonably fast. For example, `h5py` loads in ~400 ms.

[code]

[2022-06-03 18:23] oruebel commented on #1487
@mavaylon1 it would be helpful to run this through a profiler to see where the time is being spent. I assume the issue is likely that HDMF has to construct the TypeMap from the schema on import, but it will be good as a first step to get a clear understanding of where time is being spent so we can see what may be feasible to do to improve time for importing pynwb.

[2022-06-03 20:20] ahwillia commented on #1487
Yes I think importing HDMF accounts for a good chunk of this. Thanks for looking into it.

[2022-06-07 10:01] #1442 closed, assigned to nobody

[2022-06-09 10:47] seankmartin commented on #1223
Hi @rly, I was wondering if there is a known workaround for this?

I'm running into the same issue when trying to follow a similar process to [the tutorial to add analysis data to NWB](https://pynwb.readthedocs.io/en/stable/tutorials/general/scratch.html#sphx-glr-tutorials-general-scratch-py).

I instead directly append to the original file and that seems to have worked.
I was just wondering if th

[2022-06-10 14:55] seankmartin commented on #1223
It would seem I answered my own question, by using the [export feature](https://pynwb.readthedocs.io/en/stable/tutorials/general/add_remove_containers.html?highlight=remove#adding-removing-containers-from-an-nwb-file).
It appears that this duplicates the raw data, so probably isn't feasible for very large files.

But anyway, for reference, in case it helps someone else;
Instead of opening the nwbf

[2022-06-21 22:40] mavaylon1 commented on #1487
Running this through a profiler, hdmf accounts for roughly 46-50% of the time for importing pynwb. Within the time spent for hdmf, a very small portion is spent on backend, i.e objectmapper, builders, and manager.

Using a more detailed profiler seems to point to loading the namespaces as a large factor in cumulative time spent.

![Screen Shot 2022-06-21 at 3 25 43 PM](https://user-images.githubus

[2022-06-23 22:59] rly commented on #1487
Related to https://github.com/NeurodataWithoutBorders/pynwb/pull/1050 and new issue https://github.com/NeurodataWithoutBorders/pynwb/issues/1255 . Initially, the problem with the linked approach of pickling the TypeMap is that it was not compatible with loading NWB extensions from a file. But I think this is not a completely blocking -- I think we can still pickle the TypeMap for the core namespac

[2022-06-25 01:10] rly commented on #1476
@luiztauffer Could you please post **the exact steps** that you used to create the environment where the h5py ROS3 driver installation failed? I can try to debug a bit.

If I test your steps as the following:
[code]
OR
[code]
on my Ubuntu on Windows, then the streaming code works. The CircleCI check for this test also runs fine on normal Ubuntu.

[2022-06-26 10:21] anhknguyen96 commented on #1179
Hi, I would appreciate it if this feature is added. @pgleeson and I are working on a GSoC project and one of the goals is to test NWB files' compatibility with NWBExplorer, thus having the validator's logs will be useful for debugging purposes.

[2022-06-26 14:46] bendichter commented on #1179
Check out NWB inspector. It calls validation and has this json output feature

[2022-06-27 08:10] anhknguyen96 commented on #1179
NWB inspector calls validation via this [method](https://github.com/NeurodataWithoutBorders/nwbinspector/blob/7a4481ff62caa9d177f890b27cee6a3bb63a71c0/nwbinspector/nwbinspector.py#L48l)?

The NWB inspector documentation/README file says "This inspector is meant as a companion to the pynwb validator, which checks for strict schema compliance. In contrast, this tool attempts to apply some common sen

[2022-06-27 12:54] bendichter commented on #1179
nwb inspector has its own check and calls the validator and returns any errors, so you don't need to call both.

[2022-06-27 13:01] bendichter commented on #1476
yes, I think it's the OSX and Windows distros that are a problem.

This line [from dandi hub](https://github.com/dandi/dandi-hub/blob/dandi/docker/Dockerfile#L39)

conda install -c conda-forge "h5py>=3.4=mpi*"

works for me on OSX.

[2022-06-27 13:47] CodyCBakerPhD commented on #1476
The NWB Inspector CI tests the original non-`mpi*` version on all platforms: https://github.com/NeurodataWithoutBorders/nwbinspector/blob/dev/.github/workflows/testing.yml#L34-L35  (latest images of each)

and I've used that method with success on all personal devices over the 3 platforms.

I suspect it is something else about @luiztauffer's linux setup that causes the issue - perhaps it's an olde

[2022-06-27 14:23] luiztauffer commented on #1476
yeah, I presume it is something more specific, but I couldn't figure out what that might be (I cleaned caches for both conda and pip, tried different installations orders, etc...). But not too specific, since we reproduced the problem with @h-mayorquin
both are Ubuntu machines

[2022-06-28 15:01] anhknguyen96 commented on #1179
great, thanks!

[2022-06-29 17:16] tmchartrand commented on #1415
I'm running into this too, now affecting validating files for upload to DANDI. seems like it's maybe also related to https://github.com/NeurodataWithoutBorders/pynwb/issues/1289 ?

[2022-06-29 17:39] tmchartrand opened #1489 "[Feature]: method to report currently loaded namespace versions"
### What would you like to see added to PyNWB?

It would be great to have an easy method to report the currently active namespaces and their versions. Tracking down this info is currently pretty challenging (although I may be missing an easy solution), and gets even worse with possible mismatches between HDMF and nwb-schema versions. I'm not sure I fully understand the mechanics of loading core na

[2022-06-29 20:26] tmchartrand commented on #1489
just realized this would maybe belong in hdmf instead?

[2022-06-30 00:20] rly opened #1490 "[Bug]: Warning raised in RoiResponseSeries when data second dimension correctly matches length of rois"
### What happened?

This warning is raised from RoiResponseSeries: `The second dimension of data does not match the length of rois. Your data may be transposed.` when data has more than one dimension, e.g., `np.ones((6, 2))`, and rois has more than one element, e.g., `[0, 1]`. This is correct and should not result in a warning.

All of the tests currently test RoiResponseSeries where data has one

[2022-06-30 03:51] #1490 closed, assigned to rly

[2022-06-30 18:24] yarikoptic commented on #1341
I don't know -- could you load that file now?

well, I have tried now, had to recover that file from backup since it was replaced with a "fixed up" version.  Both are opening ok now with the script I provided and h5py: 3.6.0; hdmf: 3.1.1;  pynwb: 2.0.0 even though validation still fails.

We also just got reported similar validation errors from another user in https://github.com/dandi/helpdesk/dis

[2022-07-07 21:33] CodyCBakerPhD opened #1497 "[Bug]: v2.1.0 ElectrodeTable cols"
### What happened?

Just ran across this in the NWBInspector CI.

### Steps to Reproduce

[code]

### Traceback

[code]

### Operating System

Windows

### Python Executable

Python

### Python Version

3.9

### Package Versions

[environment_for_issue.txt](https://github.com/NeurodataWithoutBorders/pynwb/files/9067466/environment_for_issue.txt)

### Code of Conduct

- [X] I agree to follow this p

[2022-07-07 21:38] CodyCBakerPhD commented on #1497
Or is this now intended behavior, and you're supposed to add such things as columns only (not by-row?)

[2022-07-07 22:09] rly commented on #1497
This is a bug and not intended behavior. I'll take a look.

[2022-07-08 00:27] rly commented on #1497
As an aside, because currently `ElectrodeTable` is not its own neurodata_type (yet), in PyNWB, `ElectrodeTable` is not its own class and is not meant to be initialized on its own. But I can see how that is not obvious. And since we plan to make `ElectrodeTable` its own class, this behavior will need to work anyway.

[2022-07-13 16:39] bendichter opened #1501 "[Bug]: Units.waveform_mean.sampling_rate"
### What happened?

These lines:

https://github.com/NeurodataWithoutBorders/pynwb/blob/b881c7b93b04a9d629c04f74a0e82305db1f0df4/src/pynwb/io/core.py#L74-L84

are not covered by tests [according to codecov](https://app.codecov.io/gh/NeurodataWithoutBorders/pynwb/blob/dev/src/pynwb/io/core.py). It looks like what they are trying to do is make it so that you can get the sampling rate of waveform `Ve

[2022-07-13 16:40] bendichter commented on #1501
@rly it looks like you added these lines 2 years ago: https://github.com/NeurodataWithoutBorders/pynwb/pull/1146

if this helps track down the intended behavior

[2022-07-15 06:51] anhknguyen96 commented on #1322
Hi, I'm interested in extracting the pynwb version that a dandiset/nwb file was created with, and my initial impression was that duecredit helps extracting this information. However, I tested 5 files that were created/uploaded on dandiarchive at different times (from March 2020 to April 2022, approximately), and the pynwb version was all 2.0.0, which I don't think quite reflect the pynwb release t

[2022-07-15 14:52] yarikoptic commented on #1322
duecredit doesn't store anything in nwb files, and not even enabled by default.  Indeed storing provenance of pynwb (or matnwb or any other library which produced that file) in nwb would be nice and relates to provenance issue (might link here later).

[2022-07-15 23:52] oruebel commented on #1318
Looking at the schema, I believe that is indeed the correct approach.

When using ``external_file`` I believe you should always also supply the ``starting_frame`` parameter, which is missing in the example above. The ``starting_frame``  serves as an index to indicate which frames each file contains, to facilitate random access.  See the here for details on how to us it: https://github.com/Neurodat

[2022-07-18 11:07] anhknguyen96 commented on #1322
thanks for the reply. So as of now it's not possible to retrieve the information on provenance of pynwb? Also, to rephrase my other question, is there a way to know the the range of nwb-schema versions that a pynwb version support, or vice versa, interpolate a pynwb version that was used to create an nwb file from a nwb-schema version?

[2022-07-18 13:08] oruebel commented on #1322
Currently, only the schema version and schema are stored, but not the provenance of PyNWB, MatNWB, or other software that created the file.

All version of PyNWB support read of NWB >= 2.0 as minimal version. The latest schema version supported by a particular version of PyNWB is typically described as part of the changelog https://github.com/NeurodataWithoutBorders/pynwb/blob/dev/CHANGELOG.md For

[2022-07-18 13:42] weiglszonja opened #1510 "[Feature]: `ImageSeries`: check `starting_frame` when `external_file` is used"
### What would you like to see added to PyNWB?

Related to #1318 and #1470, when  `external_file` is used in `ImageSeries` a new check should be added which ensures that
a) `starting_frame` is provided if `external_file` `is` used,
b) `starting_frame` has the same length as `external_file`.

Currently `starting_frame` is set to `[0]` by default, which is fine for a single external file but is inco

[2022-07-18 13:43] weiglszonja commented on #1318
@oruebel, I can take on this task, also created an issue for it.

[2022-07-18 13:51] CodyCBakerPhD commented on #1318
@oruebel Thanks for the clarification!

@weiglszonja has raised fix #1510 to ensure that `starting_frame` structure is indeed followed.

[2022-07-18 13:51] #1318 closed, assigned to nobody

[2022-07-18 16:51] oruebel commented on #1318
Thanks @weiglszonja for your help with addressing this issue

[2022-07-19 15:28] oruebel opened #1514 "[Documentation]: Update parallel I/O and iterative write tutorial"
### What would you like changed or added to the documentation and why?

Once https://github.com/hdmf-dev/hdmf/pull/747 has been released in HDMF, we should update the parallel I/O tutorial accordingly to:

1) avoid having to create an empty DataChunkIterator and use H5DataIO instead
2) avoid having to close and reopen the file
3) Show how this pattern can be used to customize write in the serial c

[2022-07-19 19:29] oruebel opened #1515 "[Feature]: Add standard mechanism to get units for attributes"
### What would you like to see added to PyNWB?

While reviewing https://github.com/NeurodataWithoutBorders/nwb-schema/pull/523 to propose a new type for OnePhotonSeries, it occurred to me that for attributes the units of the values that are being stored are specified only in the doc-string for the attribute but we don't have an explicit way in the API to programmatically get the unit for those val

[2022-07-19 19:30] oruebel commented on #1515
@rly @bendichter @CodyCBakerPhD thoughts?

[2022-07-19 22:30] weiglszonja commented on #1510
Actually, there is a default value of `[0]` for `starting_frame`:
https://github.com/NeurodataWithoutBorders/pynwb/blob/6505d8631169befe9225e472788c8a8d9f5e0af3/src/pynwb/image.py#L46-L49
that gets overwritten when external file is not used:
https://github.com/NeurodataWithoutBorders/pynwb/blob/6505d8631169befe9225e472788c8a8d9f5e0af3/src/pynwb/image.py#L77-L78

therefore a) is silently taken care

[2022-07-19 22:49] oruebel commented on #1510
In principle I think it should be sufficient in this case to just add the check to enforce that ``starting_frame`` has the same length as ``external_file``.

On a separate note though, from a user perspective, I find this current behavior a bit confusing. I would have expected the behavior to be reversed. I.e.:

1.  Have the default value for ``starting_frame`` as ``None``
2. Set ``starting_frame`

[2022-07-19 23:00] weiglszonja commented on #1510
I completely agree, I would change it to `None` as well.

[2022-07-19 23:39] oruebel commented on #1510
Sounds good. In this case, I would suggest we:

1. Add the check to ensure that ``starting_frame`` has the same length as ``external_file``
2. Change the default value for ``starting_frame`` to ``None``
3. Set ``starting_frame`` to ``[0,]`` in ``__init__`` if ``external_file`` has length ``1``

Item (3) is mainly for backwards compatibility as it ensures that the behavior of the API doesn't change

[2022-07-25 17:25] TomDonoghue commented on #1273
Just a quick note (since I was looking for / through issues related to the docstrings, etc) - that I believe this issue has now been updated / resolved in the code, and so presumably can be closed.

[2022-07-25 18:35] #1273 closed, assigned to nobody

[2022-07-26 20:03] TomDonoghue opened #1522 "[Bug]: issue with the version number (I think)"
### What happened?

There appears to be some kind of quirk going on with the version number that `pynwb` gets when installing a local copy.

Long story short (details below), I installed a local copy of current dev branch, and get the following version number: 2.0.1.post.dev36

This version number seems like it must be wrong, in that the main release on PYPI is 2.1.0, and presumably the current de

[2022-07-27 09:12] rly commented on #1522
In your fork, can you run `git tag -l` and paste it here? If 2.1.0 is not the third from the bottom, then please try `git fetch --tags upstream` (replace upstream with the name of the remote for the source repo, or replace it with the git URL of the source repo).

[2022-07-27 11:47] TomDonoghue commented on #1522
When I first ran `git tag -l`, the last few entries I saw are:
[code]

After running `git fetch --tags https://github.com/NeurodataWithoutBorders/pynwb`, then it was updated and the third from the last became `2.1.0`, as it seems it should be.

So I guess my fork was somehow lagging behind on the tags. I don't remember exactly when I forked this - it might have been before the newest release, whic

[2022-08-02 14:57] yarikoptic opened #1525 "[Feature]: support fsspec / opening from a file object"
### What would you like to see added to PyNWB?

ROS3 driver provides a nice way to stream data without downloading file in full, [as shown in this example](https://pynwb.readthedocs.io/en/stable/tutorials/advanced_io/streaming.html).  But it is S3 specific.

### Is your feature request related to a problem?

somewhat. AFAIK ros3 driver doesn't provide ability for local sparse caching etc.

### Wha

[2022-08-02 17:22] oruebel commented on #1525
#1499 shows what you are describing for S3fs. ``NWBHDF5IO`` already supports passing of an h5py.File handle

https://github.com/NeurodataWithoutBorders/pynwb/blob/11d5850215c236b609a7a4ddd96147f57d39be45/src/pynwb/__init__.py#L213

I honestly don't know if this would work out-of-the-box or not, but it would be interesting to try. @yarikoptic could you test if this is working, and if it does we cou

[2022-08-04 15:19] yarikoptic commented on #1525
oh nice -- thanks @bendichter for that one -- s3fs is fsspec based so we are "all set" and it is indeed just a matter of documentation and investigation of "efficiency"!

NB AFAIK needs not yet released version of pynwb/hdmf so I had to install them from git repos.

Here is @bendichter code snippet adjusted to use caching filesystem and access via https url directly (could be any http, not necessa

[2022-08-04 15:24] yarikoptic commented on #1525
backreferencing some of the fsspec issues which might be "useful" if there would be desire to implement some solution based on fsspec:
- https://github.com/fsspec/filesystem_spec/issues/555
- https://github.com/fsspec/filesystem_spec/issues/556
- https://github.com/fsspec/filesystem_spec/issues/633

[2022-08-04 15:29] bendichter commented on #1525
Oh wow, this would allow use to do lazy read from gdrive, dropbox, and ssh? That's exciting! fsspec is indeed quite powerful! I could see lots of labs using this for internal stuff.

It seems like the `CachingFileSystem` would be a good thing to add to the PyNWB tutorial on data streaming.

[2022-08-04 15:30] bendichter commented on #1525
@yarikoptic, since I am new to fsspec, maybe I can write something up and you can take a look to ensure it is following best practices.

[2022-08-04 16:14] oruebel commented on #1525
Thanks @yarikoptic for investigating fsspec. This looks very useful and having the option to also read from GDrive, Dropbox etc. would be very nice to have indeed.

[2022-08-04 18:17] yarikoptic commented on #1525
I am not expert in it either, but I would be happy to have a look and adjust if needed. We could even run it by fsspec folks!  They were typically quite responsive.

;) it might be indeed nice to inspect other filesystems support on how well it would work out -- haven't tried any other yet... will do now for `ssh` and will report back.

[2022-08-04 18:49] yarikoptic commented on #1525
to cool things down a bit: TL;DR: sparse caching would not work for SSH (at the moment at least -- I do not think that anything forbids implementing that support. Filed https://github.com/fsspec/filesystem_spec/issues/1012)

<details>
<summary>Meanwhile here is adjusted script which can be fed up with ssh:// URLs only to crash</summary>

[code]
</details>

[2022-08-08 06:26] oruebel opened #1530 "[Documentation]: Link to NWBInspector from the validator"
### What would you like changed or added to the documentation and why?

The PyNWB validator checks for structural compliance of NWB files. In practice, however, most users should validate both structural compliance  with the NWB schema as well as compliance of the data itself with NWB best practice. Users should, hence, be pointed to the [NWBInspector](https://github.com/NeurodataWithoutBorders/nw

[2022-08-08 07:05] oruebel opened #1532 "[Documentation]: Refocus the Extension Tutorial"
### What would you like changed or added to the documentation and why?

Participants at the 2022 NWB User Days suggested that it will be useful to further consolidate the [PyNWB extension tutorial](https://pynwb.readthedocs.io/en/stable/tutorials/general/extensions.html#sphx-glr-tutorials-general-extensions-py) and the [extension tutorial on the nwb overview website ](https://nwb-overview.readthed

[2022-08-08 07:20] oruebel opened #1533 "[Documentation]: Improve documentation of idx_start and count in IntracellularRecordingsTable"
### What would you like changed or added to the documentation and why?

Participants at the 2022 NWB User Days indicated that documentation for the fields ``idx_start`` and ``count`` could be improved in the context of intracellular electrophysiology. To address this issue I suggest:

- Add a brief discussion and example of how to use``idx_start`` and ``count`` to the [Adding an intracellular reco

[2022-08-10 19:50] oruebel opened #1534 "[Bug]: validation tests fail due to subprocesses running from missing dir"
### What happened?

When running ``python test.py`` from the main directory, I get errors from the validation test suite because it seems to try and run subprocesses from a subdirectory ``coverage`` that doesn't exist (see trace below)

### Steps to Reproduce

[code]

### Traceback

[code]
[code]

[2022-08-10 20:57] #1510 closed, assigned to weiglszonja

[2022-08-11 15:25] #1525 closed, assigned to nobody

[2022-08-11 18:45] jonahpearl opened #1536 "[Bug]: Timeseries can have timestamps + data that don't match in length"
### What happened?

I use the convenient timeseries pointer feature, where you can just store timestamps in one timeseries and have many others point to them. This saves a lot of memory! However, I just fixed a bug that arose because some data I stored in a timeseries didn't have the same length as the timeseries (due to a processing mistake). Then I went and checked, and it turns out that timeser

[2022-08-11 18:58] CodyCBakerPhD commented on #1536
Hey there,

When running the latest version of PyNWB, (v2.1.0 - try `pip install -U pynwb` to update), you should see a warning along the lines of

[code]

whenever such a size mismatch occurs.

As for why it's only a warning instead of an error, I believe the reasoning was to not break back-compatibility (is that right @lry @bendichter @oruebel?) or otherwise be too strict, as it can be a commonl

[2022-08-11 19:23] jonahpearl opened #1537 "[Feature]: Allow `overwrite_ok` argument to all add_X methods"
### What would you like to see added to PyNWB?

When creating a new processing pipeline, one often iteratively runs through it, fixing bugs as one goes. Since NWB's cannot be overwritten in-place, this means you either have to 1) delete the NWB each time (slow), or 2) write each step so that it checks if the step has already been completed, and skips it if so. However, this will still fail in the

[2022-08-11 19:27] oruebel commented on #1536
Yes, that is correct. If we had made it an error then read of files that have this issue would not work due to the ValueError being triggered on read.

However, as of the most recent HDMF release, we now have the ability to detect in ``__init__`` of Container classe (e.g,. ``TimeSeries``) whether we are in construct mode (i.e., automatic construction during read) or not. This was implemented in ht

[2022-08-11 20:34] jonahpearl commented on #1536
Got it, thank you both! I will update my version to get my desired behavior as a warning for now, which will at least alert me to it.

[2022-08-11 21:16] weiglszonja commented on #1536
Thank you for raising this, I started working on a PR that should fix this behavior.

[2022-08-11 21:53] rly commented on #1537
Thank you @jonahpearl . This a great idea. Many of the `add_x` (and `create_x`) functions come from `hdmf.container.MultiContainerInterface`:
https://github.com/hdmf-dev/hdmf/blob/dev/src/hdmf/container.py#L730
https://github.com/hdmf-dev/hdmf/blob/dev/src/hdmf/container.py#L761

It would be great if you could submit a pull request to suggest changes to that code in HDMF (which is then used in PyN

[2022-08-11 22:05] oruebel commented on #1537
For this sort of iterative approach, where you need to repeatedly update or remove data, I think a more modular approach to storing the data from your pipeline could help(see https://pynwb.readthedocs.io/en/stable/tutorials/advanced_io/linking_data.html). I.e,. instead of writing Step 1, 2, 3 etc. of your pipeline to a single NWB file, you could write each step to a separate NWB file and then to m

[2022-08-11 22:23] rly commented on #1537
I think I misunderstood the original issue. @jonahpearl are you creating / loading an NWB file and then adding to it / updating it for each step of processing? Or are you creating an `NWBFile` in-memory, adding to it / updating it for each step of processing, and then writing it once to disk? If the former, then yes, this can get pretty complicated to do for the reasons that @oruebel mentions.

In

[2022-08-11 22:44] jonahpearl commented on #1537
Yeah, it's the former. @oruebel's suggestion is good in general, but I don't really want to have a separate NWB file for each analysis function in my data! `skip_duplicates=False` I've basically implemented manually by checking, in each analysis function, whether the data exists. The issue is, if I've already generated `my_results_from_analysis_3`, and I need to re-generate them because they were

[2022-08-11 23:08] oruebel commented on #1537
No that is not the case. The attributes depend on the schema and how they are mapped to class attributes. E.g., a ``DynamicTable`` type will typically not have a .data attribute (i.e., unless in the specific case that it contains a column that is named ``data``).

I'd be interested in hearing more about what your concerns with a more modular organization are? I'm just curious, because I would like

[2022-08-12 02:21] jonahpearl commented on #1537
Thank you for your detailed response. This helps me understand the pitfalls of overwriting data in HDMF.

Agreed -- I'll write a check into the utility function to check that the size / type of the data aren't changing.

For now, practically, I'm concerned it will take some time to implement, and add another layer of abstraction to what is already a fairly complex system. On principle, I am amenab

[2022-08-15 21:25] bendichter opened #1541 "[Bug]: validation from cli results in error"
### What happened?

I ran into an error when trying to run validation from command line on a small NWB test file.

### Steps to Reproduce

[code]

### Traceback

[code]

### Operating System

macOS

### Python Executable

Python

### Python Version

3.9

### Package Versions

absl-py==0.14.1
aiobotocore==1.3.3
aiohttp==3.7.4.post0
aioitertools==0.8.0
alabaster==0.7.12
amqp==5.1.1
annexremote==1.5.

[2022-08-15 22:17] rly commented on #1541
I'll look into it. Initial investigation shows:
![image](https://user-images.githubusercontent.com/310197/184727318-177f54a0-364e-4d6b-8e8e-abccb0f84b99.png)

1. [hdmf-common schema 1.3.0](https://github.com/hdmf-dev/hdmf-common-schema/releases) included ExternalResources but ExternalResources was moved out of hdmf-common namespace and into the new hdmf-experimental namespace in hdmf-common schema

[2022-08-15 23:14] bendichter commented on #1541
It could have been that these types were never properly removed from the MatNWB namespace. I'll do a fresh install.

[2022-08-15 23:19] bendichter commented on #1541
@rly yup, that was the problem. We need to find a better way to clean the namespace of MatNWB for these types of changes. At any rate, the error was not with pynwb.validate. Closing.

[2022-08-15 23:19] #1541 closed, assigned to rly

[2022-08-25 19:07] TomDonoghue opened #1542 "[Documentation]: guidance on how to use LabMetaData"
### What would you like changed or added to the documentation and why?

I've been looking for some documentation on how to use the `LabMetaData` object to potentially add some extra notes and pieces of information to our data files, but I'm having trouble finding clear documentation and examples for how to do so. On the pynwb documentation website, for example, the API listing doesn't really make

[2022-08-25 19:22] bendichter commented on #1542
@TomDonoghue you are exactly right about how to use the class. It's essentially a base (aka abstract) class that you can inherit from in an extension to put metadata in the /general section on an NWB file. Let me see if I can find some good examples

[2022-08-25 19:24] bendichter commented on #1542
@TomDonoghue

[Here](https://github.com/catalystneuro/ndx-dandi-icephys) is a good example of proper usage (though this is no longer the recommended way to add `cell_id`, as this field has been added in `IntracellularElectrode`.

[2022-08-26 17:11] oruebel commented on #1542
I've added a note about this to this issue https://github.com/NeurodataWithoutBorders/nwb-overview/issues/54

[2022-08-26 17:11] oruebel commented on #1542
Good idea

[2022-08-26 23:53] oruebel commented on #1542
``add_lab_meta_data`` is an auto-generated function. I've created https://github.com/hdmf-dev/hdmf/pull/758 on HDMF to clarify the docstring for this type of function. With this PR, the doc string for ``add_lab_meta_changes`` to:

[code]

I hope this helps clarify the function. I'll create a separate PR on PyNWB to also update the docstring of the ``LabMetaData`` class to clarify how it is intende

[2022-08-27 00:12] oruebel commented on #1542
I also now added #1546 to further address this issue. I believe this should resolve this issue on the PyNWB side. And https://github.com/NeurodataWithoutBorders/nwb-overview/issues/54 should then further address this as part of the extension tutorial.

[2022-08-31 00:03] ZeitgeberH opened #1547 "[Feature]: support higher version of numpy"
### What would you like to see added to PyNWB?

Hi,
the current numpy version supported by PvNWB is 1.21.5, which triggers a dependency alert:
"Incomplete string comparison in the numpy.core component in NumPy1.9.x, which allows attackers to fail the APIs via constructing specific string objects."  It is suggested to upgrade it to version 1.22 or later.

### Is your feature request related to a pr

[2022-08-31 05:52] rly commented on #1547
Thanks for the bug report. I will push a bugfix release asap.

[2022-09-01 05:45] rly opened #1551 "[Feature]: Use GitHub Actions for all CI"
### What would you like to see added to PyNWB?

Maintaining CI across GitHub Actions, CircleCI, and Azure is difficult. In HDMF, we have already moved all CI to GitHub Actions and it works well. We can do the same in PyNWB now. See https://github.com/hdmf-dev/hdmf/tree/dev/.github/workflows for reference.

### Is your feature request related to a problem?

_No response_

### What solution would yo

[2022-09-01 05:51] rly opened #1552 "[Bug]: Fix docs captions for Sphinx 6.0"
### What happened?

The current documentation build has the following warnings:
[code]

### Steps to Reproduce

[code]

### Traceback

_No response_

### Operating System

Linux

### Python Executable

Python

### Python Version

3.9

### Package Versions

_No response_

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/NeurodataWithoutBorders/pynwb/b

[2022-09-01 14:45] #1542 closed, assigned to oruebel

[2022-09-01 21:54] #1547 closed, assigned to rly

[2022-09-06 13:08] bendichter opened #1554 "[Feature]: subject.age should accept a timedelta object"
### What would you like to see added to PyNWB?

subject.age should accept a timedelta object

### Is your feature request related to a problem?

_No response_

### What solution would you like?

subject.age should accept a timedelta object

### Do you have any interest in helping implement the feature?

Yes.

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://git

[2022-09-12 15:35] CodyCBakerPhD commented on #1534
I need a resolution to this for finishing #1511 - any guidance?

[2022-09-12 16:19] rly commented on #1534
Is the `coverage` tool installed on your system? It should be installed from `requirements-dev.txt`

[2022-09-12 22:03] oruebel commented on #1534
On my system it was indeed that the ``coverage`` tool was not installed. Thanks for the help.

[2022-09-12 22:03] #1534 closed, assigned to nobody

[2022-09-16 04:36] #1452 closed, assigned to nobody

[2022-09-22 22:41] rly opened #1555 "[Bug]: Remove len(warnings) checks in tests"
### What happened?

If future versions of upstream libraries introduce warnings, e.g., `PendingDeprecationWarning`, then any test that checks that exactly X warnings were raised from calling a particular line of code will fail.

The tests should simply test that a particular expected warning or warnings were raised and let the non-checked warnings pass through.

ref: https://github.com/conda-forge

[2022-09-23 05:18] oruebel opened #1556 "[Bug]: mock_NWBFile default identifier fails"
### What happened?

When trying to create a ``mock_NWBFile()`` I get the following error:

[code]

The issue seems to be that in

https://github.com/NeurodataWithoutBorders/pynwb/blob/41335849e6f2b10c22495dbbf92949589888a3dd/src/pynwb/testing/mock/file.py#L17

A UUID object is assigned to the identifier. The UUID should be converted to a string frist.

### Steps to Reproduce

[code]

### Traceback

[2022-09-23 17:29] #1556 closed, assigned to oruebel

[2022-09-27 07:17] rly opened #1558 "[Bug]: pynwb 2.1.1 did not get released"
### What happened?

@CBroz1 wrote:

It turns out that the allowed range of numpy versions was increase by #1550. This should have been in the 2.1.1 release, but only the 2.1.1 tag was created; a 2.1.1 release was not created. That is because the CircleCI workflow for making releases requires that the miniconda37 test passes but it failed: https://app.circleci.com/pipelines/github/NeurodataWithoutB

[2022-09-27 14:15] CBroz1 commented on #1558
Thanks for the update!

[2022-10-03 18:05] rly opened #1561 "[Bug]: Read tutorial should say how to install pynwb and matplotlib"
### What happened?

The [read tutorial](https://pynwb.readthedocs.io/en/stable/tutorials/general/read_basics.html#sphx-glr-tutorials-general-read-basics-py) cannot be run without having first installed pynwb and matplotlib.

### Steps to Reproduce

[code]

### Traceback

_No response_

### Operating System

macOS

### Python Executable

Python

### Python Version

3.9

### Package Versions

_No re

[2022-10-03 23:54] rly opened #1562 "[Documentation]: All docs should load namespaces"
### What would you like changed or added to the documentation and why?

Until we make `load_namespaces=True` the default setting, all docs should demonstrate `load_namespaces=True` by default.

I cannot see a *common* use case where we would not want to load namespaces.

### Do you have any interest in helping write or edit the documentation?

Yes.

### Code of Conduct

- [X] I agree to follow thi

[2022-10-04 16:02] #1551 closed, assigned to mavaylon1

[2022-10-04 21:33] rcpeene opened #1563 "[Bug]: 'Core' not a namespace"
### What happened?

I attempted to run PyNWB.NWBHDF5IO in a Jupyter notebook while remotely accessing nwb files from DANDI.
The code that yields an error is code from the [docs](https://pynwb.readthedocs.io/en/stable/tutorials/advanced_io/streaming.html#streaming). This snippet below
[code]
And then I received an error; 'core not a namespace'

### Steps to Reproduce

1. Clone and and install PyNWB

[2022-10-04 21:43] rly commented on #1563
To confirm, is this error from using the same dandiset described in the docs?

[2022-10-04 22:10] rcpeene commented on #1563
Ah, no its not! I neglected to include that.
It's dandiset_id 000004 and file sub-P18HMH/sub-P18HMH_ses-20080601_ecephys+image.nwb.
Will edit my instruction snippet to include this.

[2022-10-04 22:20] bendichter commented on #1563
@rcpeene

Can you please install pynwb using [these instructions](https://pynwb.readthedocs.io/en/stable/install_developers.html#install-from-git-repository)? You need to do a special command that includes submodules. It should work once you do that

[2022-10-04 22:22] bendichter opened #1564 "[Feature]: better error message when you don't recurse submodules"
### What would you like to see added to PyNWB?

It's common for developers to try to use the latest branch of pynwb but not know they need to recurse submodules. Right now the error is not very instructive. It would improve user experience immensely if we offered a better error message

See for example: https://github.com/NeurodataWithoutBorders/pynwb/issues/1563

### Is your feature request relat

[2022-10-04 22:44] rcpeene commented on #1563
Excellent. I _think_ that fixed this issue, but I can't say verify this for certain because I am getting a new error now with the same code. Here's the traceback.

[code]

Is this me misusing the example code or a bug with the package?

[2022-10-04 22:49] bendichter commented on #1563
Did you do this?

[code]

[2022-10-04 22:50] oruebel commented on #1563
I think you may need to update the version of HDMF you are using

[2022-10-04 22:56] rcpeene commented on #1563
I think the install step was interrupted for some reason and I missed it. These fixed the problem. Thanks!

[2022-10-04 22:58] rcpeene commented on #1563
As a point of curiosity, is installing via the github repo the only way to prevent this error? Are there resulting packaging issues when installing via pip? This is relevant for my usage of this tool in a Jupyter notebook where I'd like to try and make it's usage environment-agnostic.

[2022-10-04 23:45] oruebel commented on #1563
Installing via pip is fine

[2022-10-04 23:53] rcpeene commented on #1563
Seems as though the `NWBHDF5IO.__init__: missing argument 'path'` arises again when testing it from a pip installation.

[2022-10-05 04:46] oruebel commented on #1563
Can you try again. There is a new release of HDMF which I believe includes the fix for this

[2022-10-05 05:14] rly commented on #1563
The new HDMF release does not fix this. But the latest dev branch of PyNWB does fix this. You have to install pynwb from source using the git clone command that @bendichter included above.

[2022-10-05 23:54] rcpeene opened #1565 "[Bug]: ModuleNotFoundError: No module named 'h5py'"
### What happened?

I am running pynwb code in a Jupyter notebook locally to test file streaming with ros3. I ran the commands listed [here](https://pynwb.readthedocs.io/en/stable/tutorials/advanced_io/streaming.html#sphx-glr-download-tutorials-advanced-io-streaming-py) to install the correct versionf of h5py. Within the notebook, `pip show h5py` shows that h5py version 3.7 is present. However, wh

[2022-10-06 03:16] rly commented on #1565
Instead of opening a jupyter notebook, can you run just `python -c "import h5py"` in the command line in the same conda environment where you ran step 1? This will help determine whether it is due to an environment issue or a jupyter issue or something else.

[2022-10-06 17:49] rcpeene commented on #1565
This seems like an error that may be unrelated. Here is the output from the above command;
[code]

[2022-10-06 18:41] rly commented on #1565
@rcpeene something in your environment seems to be broken. Can you try recreating the environment from scratch?

[code]

[2022-10-06 23:00] rcpeene commented on #1565
Unfortunately, no dice! After running those commands, it may have fixed the secondary error but the original one persists.
Outside the notebook `python -c "import h5py"` works and within the notebook `pip show h5py` still shows the installation of h5py 3.7.0 yet `from pynwb import NWBHDF5IO` still yields the same traceback;
[code]

[2022-10-06 23:02] rcpeene commented on #1565
```python -c "from pynwb import NWBHDF5IO"``` also appears to work via command line

[2022-10-06 23:05] rly commented on #1565
From where are you starting jupyter? Can you try closing all jupyter instances and then in the same terminal and environment where `python -c "import h5py"` works, run `jupyter lab` or `jupyter notebook` (run `pip install jupyterlab` if jupyter is not installed), and from there create a new notebook where you run `import h5py`?

[2022-10-06 23:21] rcpeene commented on #1565
I've been running `jupyter notebook` from the same miniconda terminal as the other commands.

[2022-10-06 23:25] rcpeene commented on #1565
Good news, I have a different error. I ran `pip install jupyter` and `pip install notebook` within the conda environment and then ran the notebook. The new traceback when running `from pynwb import NWBHDFIO` is as follows;
[code]

[2022-10-06 23:29] rcpeene commented on #1565
Perhaps installing dandi via pip and not via conda commands is causing an issue?

[2022-10-07 00:01] rcpeene commented on #1565
Sometimes (I can't tell under what circumstances) the line `conda install -c conda-forge "h5py>=3.2"` doesn't actually install h5py yet claims it succeeded.

[2022-10-07 00:44] rly commented on #1565
I'm glad that h5py got installed correctly under one configuration.

This should be NWBHDF5IO

If you're still running into errors, let's find a time to chat and debug in real time. I *think* this is an environment & jupyter issue. Tomorrow I'm free 9-11 and 3-5 PT. Would sometime then work for you? We can also coordinate meeting over the NWB slack.

[2022-10-07 00:54] rcpeene commented on #1565
Yeah that was a typo above but it was not a typo on my machine.
I think it is fixed. The series of commands I ran were as follows;
[code]
It must be some problem with running a jupyter notebook whose environment was outside of my conda environment. After installing jupyter _within_ the conda environment the import error no longer arose. I would think that if this was actually the case, we would se

[2022-10-07 02:46] CodyCBakerPhD commented on #1565
`curl` issues like this can and do occur when streaming with the `ros3` driver. We ran into this frequently with the [NWB Inspector streaming functionality](https://github.com/NeurodataWithoutBorders/nwbinspector/issues/197), and our fix was to implement the [Amazon recommendation for iteratively retrying the command](https://docs.aws.amazon.com/general/latest/gr/api-retries.html) in [this PR](htt

[2022-10-07 19:23] bendichter commented on #1565
@CodyCBakerPhD fsspec is not working with the latest release of pynwb. We're working on that right now.

[2022-10-07 20:33] rcpeene commented on #1565
Thanks! I did get my code from that tutorial. I was attempting to get both methods working on my end but ran into different problems with each, I think with accessing embargoed dandisets on dandi, so the automatic retry probably won't resolve that.

[2022-10-11 07:40] jonahpearl commented on #1537
Ah cool, I’d be happy to try. Do all HDMF containers have a .data attribute? Feels like it would almost be too abstract to just add what I wrote above into that very high-level function factory, but I can certainly give it a try. Do you have a dummy implementation of creating a class with the HDMF docval, so that I can easily test it? Or is there a function / script somewhere in the NWB library th

[2022-10-17 16:29] CodyCBakerPhD commented on #1478
Fixed at some point, thanks!

[2022-10-17 16:29] #1478 closed, assigned to nobody

[2022-10-18 06:26] rly opened #1567 "[Feature]: Update GitHub Actions CI to use Node 16"
### What would you like to see added to PyNWB?

Many GitHub Actions workflows are reporting this warning:
[macos-gallery-python3.7-minimum](https://github.com/NeurodataWithoutBorders/pynwb/actions/runs/3270838030/jobs/5379922737)
[code]

### Is your feature request related to a problem?

_No response_

### What solution would you like?

Version 0.11.0 of [styfle/cancel-workflow-action](https://git

[2022-10-18 06:27] rly commented on #1567
@mavaylon1 Can you take on this task? It should be relatively straightforward. Can you also open an issue ticket in HDMF and resolve the issue there as well? Thanks.

[2022-10-18 07:04] rly opened #1568 "[Bug]: Validator does not raise error if data missing from TimeSeries"
### What happened?

The validator should return a validation error for NWB files with a TimeSeries that is missing data when validating against the latest schema version, but it does not.

### Steps to Reproduce

[code]

### Traceback

[code]

### Operating System

macOS

### Python Executable

Conda

### Python Version

3.9

### Package Versions

_No response_

### Code of Conduct

- [X] I agree

[2022-10-18 10:44] dervinism opened #1569 "[Bug]: pynwb.validate gives IndexError: Index (0) out of range for empty dimension"
### What happened?

I get the following error when attempting to validate any NWB file no matter the data that I save or don't save inside the file:
[code]
You can download the file using this [link](https://drive.google.com/file/d/1SuBSLjv6QheArbDcYsj9SDIQbUeXknWK/view?usp=sharing).

### Steps to Reproduce

[code]

### Traceback

[code]

### Operating System

Linux

### Python Executable

Python

[2022-10-18 17:09] h-mayorquin opened #1570 "[Bug] PlaneSegmentation can be initialized without image, pixel or voxel masks"
The following code does not throw an error:

[code]
But the following does:

[code]
Trace:
[code]
My understanding is that the first block of code should also thrown an error. Something else to do here is to add clear documentation to `add_roi` to indicate that at least one of 'image_mask', 'pixel_mask' or 'voxel_mask' is to be stored:
https://pynwb.readthedocs.io/en/stable/pynwb.ophys.html#pynwb.

[2022-10-18 19:22] CodyCBakerPhD commented on #1569
Looks to me like it's because the `related_publications` field in the `general` file information is specified, but empty. If I manually remove this from the file (attached) it passes validation without issue.

I'd say this message could be way more informative however, though I'm unsure about the right level at which to try to fix this (PyNWB? HDMF?): to those more knowledgeable @oruebel @rly, it'

[2022-10-18 19:34] oruebel commented on #1569
@rly what do you think, should this be fixed in HDMF or PyNWB?

[2022-10-18 20:59] dervinism commented on #1569
That worked. Thanks!

[2022-10-18 22:34] rly commented on #1569
@CodyCBakerPhD @oruebel this is an HDMF issue. I started an issue ticket. @CodyCBakerPhD if you have some bandwidth, it would be great if you could look into it!

[2022-10-18 22:44] oruebel commented on #1569
Closing this issue here since this issue will be addressed in HDMF https://github.com/hdmf-dev/hdmf/issues/775

[2022-10-18 22:44] #1569 closed, assigned to nobody

[2022-10-19 00:46] #1431 closed, assigned to oruebel

[2022-10-24 06:40] oruebel opened #1577 "[Documentation]: Create Pyodide example for running PyNWB in the browser"
### What would you like changed or added to the documentation and why?

It would be nice if we could create a short tutorial to show how one could run PyNWB in the browser with [Pyodide](https://pyodide.org/). The example below shows that we can at least install PyNWB with Pyodide.

**Basic example for installing PyNWB with Pyodide**

[code]

**Example of the above HTML running in Firefox**
<img w

[2022-10-24 07:31] oruebel commented on #1577
Just to show that it is indeed possible to read an NWB in the browser with PyNWB in pyodided, here a slightly expanded example, which includes downloading a small file from DANDI and then opening it with PyNWB in browser. I'm not sure this is actually the best way to download/access data from DANDI, but I was mainly curious to see whether opening an actual NWB file would work. This uses ``runPytho

[2022-10-24 14:49] bendichter commented on #1577
I don't think this is a huge deal anymore since I'd prefer to encourage the use of fsspec instead

[2022-10-24 15:02] bendichter commented on #1577
@oruebel This is really cool! I'd love to try out a demo using the dandi API to select a file and using fsspec to stream it. How do I test out this code? I tried putting it into an html file and opening it chrome, but that didn't work.

[2022-10-24 17:20] oruebel commented on #1577
That is how this example works. There are no actual page elements, the code in this example is being executed when the page is loaded. To see what is happening you will have to open the developer console in the browser and reload the page to the output log.

I don't think Pyodide supports sockets yet, i.e., the requests and urlib packages are probably not working. It's worth a try, but that may be

[2022-10-24 18:31] bendichter commented on #1577
it works!

![image](https://user-images.githubusercontent.com/844306/197599357-50949a5b-ba95-47c4-9bc2-6e8b810dee7d.png)

[2022-10-25 01:20] rly opened #1578 "[Feature]: Add API class for OnePhotonSeries"
### What would you like to see added to PyNWB?

The upcoming NWB 2.6.0 release contains a new neurodata_type: `OnePhotonSeries`:
https://github.com/NeurodataWithoutBorders/nwb-schema/pull/523

### Is your feature request related to a problem?

_No response_

### What solution would you like?

We should add a PyNWB API class for it.

### Do you have any interest in helping implement the feature?

Y

[2022-10-25 01:22] rly commented on #1578
@CodyCBakerPhD would you be able to add and test an API class for `OnePhotonSeries` to PyNWB? It might be as simple as adding `OnePhotonSeries = get_class("OnePhotonSeries", namespace="core")` in `ophys.py` and adding unit tests and roundtrip tests.

[2022-10-25 07:01] oruebel commented on #1577
https://jupyterlite.readthedocs.io/en/latest/ would also be of interest here (although this should probably be treated as a separate issue)

[2022-11-01 00:11] oruebel opened #1579 "[Documentation]: Add indexed column example to icephys tutorial"
### What would you like changed or added to the documentation and why?

The question has come up on Slack about how to add ragged/indexed columns to the intracellular tables. To illustrate this it would be useful to update one of the examples in the ICEPhys tutorial https://pynwb.readthedocs.io/en/stable/tutorials/domain/plot_icephys.html to show how ragged columns (e.g.,. a variable length list o

[2022-11-02 18:52] TheChymera opened #1580 "[Bug]: Test failures on `2.2.0` — probably coverage related"
### What happened?

I get 18 test failures (21 if coverage is not installed) for `=pynwb-2.2.0`, even though I attempt to disable coverage: https://ppb.chymera.eu/4db145.log

### Steps to Reproduce

This is the pytest invocation command (also seen in the log, everything, including the build is in the log linked above):

[code]

### Traceback

This is one of the error tracebacks, all others are in

[2022-11-02 19:56] oruebel commented on #1580
@mavaylon1 could you take a look at this?

[2022-11-02 21:17] TheChymera commented on #1580
[Deselected the failing tests for the time being on the Gentoo package](https://gitweb.gentoo.org/proj/sci.git/tree/dev-python/pynwb/pynwb-2.2.0.ebuild#n34), though it would really be best if they either (a) pass, or (b) — in case they are incompatible with the isolated testing (i.e. network) sandboxing — can be deselected dynamically. The problem with a static blacklist is it is bound to change f

[2022-11-09 01:22] bendichter opened #1585 "[Documentation]: TestMapRoundTrip outdated"
### What would you like changed or added to the documentation and why?

This page: http://localhost:63342/pynwb/docs/_build/html/testing/make_roundtrip_test.html#testmaproundtrip describes the `TestMapRoundTrip` class, but I can't find it in pynwb nor hdmf. Has this been replaced with [`NWBH5IOMixin`](https://github.com/NeurodataWithoutBorders/pynwb/blob/c0ad3e717a1cd268ed91d75a26d97e14ccda46ee/sr

[2022-11-09 01:23] bendichter commented on #1585
Yes, it looks like it was: https://github.com/NeurodataWithoutBorders/pynwb/blob/c0ad3e717a1cd268ed91d75a26d97e14ccda46ee/src/pynwb/testing/testh5io.py#L31

[2022-11-09 14:10] bendichter commented on #1585
@rly

[2022-11-09 17:39] oruebel commented on #1585
Digging through the history, I believe this was changed in https://github.com/NeurodataWithoutBorders/pynwb/pull/1117

[2022-11-09 18:18] bendichter commented on #1585
OK I'll take a stab at updating it

[2022-11-10 01:47] #1585 closed, assigned to nobody

[2022-11-10 15:07] bendichter opened #1589 "[Documentation]: dev installation instructions not working"
### What would you like changed or added to the documentation and why?

When I follow the instructions [here](https://pynwb.readthedocs.io/en/stable/install_developers.html#install-from-git-repository) and run

[code]

I get

[code]

Changing this line to

[code]

works for me.

Can we change this over to http? Are there advantages to using git@github I don't know about?

### Do you have any inter

[2022-11-10 16:09] bendichter commented on #1565
@rcpeene fsspec is now working. Can we close this issue?

[2022-11-10 16:11] bendichter commented on #1570
@rly what do you think? Should we allow for now roi mask? @h-mayorquin has a use-case where no segmentation was done.

[2022-11-10 16:56] bendichter commented on #1319
@oruebel , @rly this can be closed, right?

[2022-11-10 17:44] #1446 closed, assigned to nobody

[2022-11-10 17:45] rly commented on #1319
Yes

[2022-11-10 17:45] #1319 closed, assigned to nobody

[2022-11-10 18:10] #281 closed, assigned to nicain, cmartin-kavlifoundation

[2022-11-10 18:11] #14 closed, assigned to nobody

[2022-11-10 18:16] #964 closed, assigned to nobody

[2022-11-10 18:17] #1339 closed, assigned to nobody

[2022-11-10 18:17] bendichter commented on #1339
solved with `testing.mock`

[2022-11-10 18:21] bendichter commented on #1419
this is really an hdmf issue

[2022-11-10 19:07] #1565 closed, assigned to nobody

[2022-11-10 19:37] #1563 closed, assigned to nobody

[2022-11-10 19:37] #1564 closed, assigned to nobody

[2022-11-10 19:45] #1315 closed, assigned to rly

[2022-11-10 20:00] #1174 closed, assigned to nobody

[2022-11-10 20:03] #1406 closed, assigned to nobody

[2022-11-10 20:03] #1405 closed, assigned to nobody

[2022-11-10 20:39] #1554 closed, assigned to nobody

[2022-11-10 20:44] bendichter commented on #1002
This bug no longer occurs, but instead you get this:
[code]

`keywords` is saved as an empty dataset. Is this the behavior we want, or would we prefer to catch this and replace it with `None` so nothing is written?

[2022-11-10 20:44] #1002 closed, assigned to rly

[2022-11-10 20:45] bendichter commented on #1558
@rly close?

[2022-11-10 20:49] rly commented on #1558
Yes. Thanks for going through these! 2.2.0 has been released with the fixes from 2.1.1.

[2022-11-10 20:49] #1558 closed, assigned to nobody

[2022-11-10 20:53] rly commented on #1002
I think we can leave this as is; however, I think we should add in the inspector a check that datasets are not empty, similar to the check that strings are not empty.

[2022-11-10 22:26] oruebel commented on #1589
Changing the line to https is I think fine. The main difference is that ``git@github.com`` uses ssh and the other uses ``https``. Using ssh has the advantage that you don't need to authenticate every time one wants to write. For the ssh variant you'll  need to setup keys https://docs.github.com/en/authentication/connecting-to-github-with-ssh

[2022-11-10 22:50] rly commented on #1589
I agree; this is fine. I'll make the change.

[2022-11-11 17:26] bendichter commented on #300
I feel like this is handled by Zarr. @oruebel , good to close?

[2022-11-11 19:12] oruebel commented on #300
Yes, this is being addressed by https://github.com/hdmf-dev/hdmf-zarr

[2022-11-11 19:12] #300 closed, assigned to ajtritt, oruebel

[2022-11-11 19:13] oruebel commented on #230
This is being addressed in https://github.com/hdmf-dev/hdmf-zarr

[2022-11-11 19:13] #230 closed, assigned to oruebel

[2022-11-11 19:58] jmdelahanty commented on #230
I somehow never saw your reply to me so I'm sorry I missed out on seeing this come to fruition, but congratulations!! Very cool!

[2022-11-11 20:00] jmdelahanty commented on #230
I somehow never saw your reply to me so I'm sorry I missed out on seeing this come to fruition, but congratulations!! Very cool!

[2022-11-11 20:55] bendichter commented on #418
You can now specify either img_mask or pix_mask

[2022-11-11 20:55] #418 closed, assigned to nobody

[2022-11-12 15:26] bendichter commented on #1300
Can confirm, the following runs without error:

[code]

[2022-11-12 16:38] bendichter opened #1597 "[Bug]: IntracellularElectrodeTable.add_recording should not require electrode"
### What happened?

`IntracellularElectrodeTable.add_recording` currently requires an `electrode` argument, but this is redundant because the stimulus and/or response objects have an electrode field and the electrode can be easily inferred from those.

### Steps to Reproduce

[code]

### Traceback

_No response_

### Operating System

macOS

### Python Executable

Python

### Python Version

3.7

[2022-11-17 17:25] rly commented on #1570
@h-mayorquin Could you describe the use case further? I don't totally see the use of adding an ROI without any image mask, pixel mask, or voxel mask. Is the ROI defined using custom columns? Third-party tools already have to fork their behavior based on whether an image, pixel, or voxel mask is provided. So, if the ROI is defined in some other way using custom columns, I think it would probably be

[2022-11-17 19:53] CodyCBakerPhD commented on #1570
It's an edge case where a single 'ROI' is defined by the experimenter and is essentially an `image_mask` that is equal to an array of equal weight at every pixel

[2022-11-17 19:54] CodyCBakerPhD commented on #1570
I.e., the related `RoiResponseSeries` is simply the summed activity of all the pixels in the `TwoPhotonSeries` over time

[2022-11-17 21:51] tuanpham96 opened #1599 "[Documentation]: Clarification on attribute constant `value`"
### What would you like changed or added to the documentation and why?

I hope to have some clarification on the usage of `value` in `NWBAttributeSpec`. In the [schema](https://schema-language.readthedocs.io/en/latest/description.html#value), it says that:

So if I create an extension to have an object that has an attribute defined as, for example:

[code]

then when I load the extension in, is th

[2022-11-17 22:06] oruebel commented on #1599
It means that if `value` is not specified then the default value is `None`, which means that the value for the attribute must be defined by the user. When you set `value=3.14` it indicates that the value for the Attribute is fixed to that value and cannot be changed by the user. If you want to provide a default value for the attribute but still allow the user to modify the value of the attribute t

[2022-11-18 16:47] tuanpham96 commented on #1599
Thanks for your clarification. When I was trying to use `value=3.14` it only sets `my_pi_const` to `3.14`. Here's an example

1. Script to create extension

[code]

2. Use extension in another file

[code]

When creating the objects, `const_pi` is not automatically set to `3.14`

[code]

When reading the file back, `const_pi` is set correctly but not before.

[code]

[2022-11-23 00:33] rly commented on #1570
I see - so the ROI is the entire image. I think that should be explicitly defined, and it is OK to have an `image_mask` with an array of equal weight at every pixel. Alternatively, we could:

1. add to the documentation that if none of `image_mask`, `pixel_mask`, or `voxel_mask` are provided, then the ROI is the entire image
2. add a boolean column `"entire_image"` to the table (or just to the met

[2022-11-23 04:28] CodyCBakerPhD commented on #1570
I'm perfectly fine with this, too. It'll maintain compatibility with other more standard interpretations without adding any special conditions (this seems like a fairly rare case)

[2022-11-23 06:47] oruebel commented on #1570
I agree.  I like that this is a very explicit solution and maintains compatibility without introducing special cases.

[2022-11-29 18:01] bendichter opened #1601 "[Documentation]: Add tutorial on using IndexSeries with Images"
### What would you like changed or added to the documentation and why?

Images and IndexSeries were recently enhanced to work together, but there currently isn't a good tutorial for how to do this. We should add a section to the existing Images tutorial in PyNWB

### Do you have any interest in helping write or edit the documentation?

Yes.

### Code of Conduct

- [X] I agree to follow this projec

[2022-11-29 19:06] #1477 closed, assigned to rly

[2022-11-29 21:52] #1601 closed, assigned to nobody

[2022-11-30 06:55] #1567 closed, assigned to mavaylon1

[2022-11-30 06:55] #1589 closed, assigned to rly