[2019-09-03 19:45] oruebel commented on #1056
Option (a), (b) seem to optimize orthogonal access patterns. Option 1 allows you to easily iterate over units while option 2 allows you to iterate over spike times. The question is, which of the two access patterns is more common? I agree that the problem with both (a) and (b) is that it is up to the user to determine which assignment to actually use based on the probabilities. In that sense, I th

[2019-09-05 13:15] lvsltz opened #1058 "validator fails for the extensions tutorial when namespace file provided"
## Bug

### Steps to Reproduce
The code I am running is the extensions tutorial found here: [https://pynwb.readthedocs.io/en/stable/tutorials/general/extensions.html#sphx-glr-tutorials-general-extensions-py](url)

When I try to validate against the specifications referenced in the namespace file (which is created by the tutorial), the validation fails:
```python -m pynwb.validate cache_spec_exampl

[2019-09-05 16:42] bendichter commented on #1058
@lvsltz thanks for the report. It looks like something has gone wrong with our validation of extensions. @ajtritt, do you know what might be going on here?

[2019-09-05 16:51] bendichter commented on #1058
It looks like this was caused by #944. I am having trouble validating any file that does not contain the specification. Does #944 *require* that the schema is stored for validation?

[2019-09-05 17:04] oruebel commented on #1058
Adding @t-b , I believe he was leading #944

[2019-09-09 07:45] luiztauffer opened #1059 "Cannot add epochs to file which already contains epochs"
## 1) Bug
Cannot add epochs to file which already contains epochs.

### Steps to Reproduce
[code]

This raises the following error:
[code]

## Checklist

- [x] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues/) ?
- [x] Have you included a brief and descriptive title?
- [x] Have you included a clear description of the problem

[2019-09-09 09:44] bendichter commented on #1059
Underlying problem is #918. @rly, any progress on this?

[2019-09-09 18:50] luiztauffer opened #1060 "Added unit_columns items are saved as strings"
## 1) Bug
Added unit_columns items are saved as strings, when they're actually lists.
In the code below, notice the printing values: the items should be lists, and are added correctly to the nwb object. But once saved, the become strings.

### Steps to Reproduce
[code]

This prints:

[code]

## Checklist

- [x] Have you ensured the feature or change was not already [reported](https://github.com/Ne

[2019-09-09 19:02] bendichter commented on #1060
@ajtritt do you think you could help with this one?

[2019-09-09 21:15] t-b commented on #1058
I think I never tried validating adainst a passed namepace file. I'll have a look.

[2019-09-09 21:42] ajtritt commented on #1060
At this point, I think the only solution to getting the behavior that you are expecting would be for us to inspect the data you pass in under the hood, and then make an assumption that the ragged nature of the passed in data means you want to index it. Not that I'm necessarily opposed to that, just mentioning what I think it would take. If we want to implement that feature, we should probably soli

[2019-09-10 06:03] luiztauffer commented on #1060
thanks @ajtritt it works with that work around!

[2019-09-10 06:06] bendichter commented on #1060
@ajtriit thanks for the workaround! That's certainly lifts the immediate block.

I think ultimately though it is a bug for a list of strings to be automatically turned into a string of that list. Inspecting to see if an array is ragged and treating it accordingly seems like a good idea to me.

[2019-09-10 16:43] ajtritt commented on #1060
@bendichter Yeah, this lies somewhere in the gray area between bug and undocumented gotcha. I think the original code only works because of how h5py handles strings. If you change the data to integers, you get a broadcast error.

Full inspection is a costly operation, and I would like to avoid doing that every time only to support this edge case. If a user wants to pass in data like this, they wil

[2019-09-11 06:41] luiztauffer commented on #1060
I think that ragged data will not be uncommon, the case in point is unit spike features (attributing a value for each spike from every unit), units will most of the times have different spike counts.
I think that indexing as you suggested is quite straightforward for the user to deal with, but perhaps those particular cases should be better described at [add_unit_column doc](https://pynwb.readthed

[2019-09-11 07:22] oruebel commented on #1060
I agree. I think requiring that a user set ``index=True`` when adding a ragged column is fine.

Agreed

[2019-09-11 13:00] bendichter opened #1062 "IO error for OpticalSeries"
Cannot read an OpticalSeries object because docval dtype for data does not include Dataset type

[2019-09-13 10:58] bendichter opened #1064 "conversion_factor per channel"
## Feature Request
We are running into a suboptimal situation storing neuropixel data from a SpikeGLX acquisition system. The system stores a conversion factor *per channel*. We can get this data into NWB by just multiplying the conversion factors across the channels and storing floats in Volts, but then we are dramatically increasing the file size. Neuropixel data is very big, so this is really n

[2019-09-13 16:44] ajtritt commented on #1064
@bendichter what are they currently stored as?

[2019-09-13 17:41] bendichter commented on #1064
@ajtritt it is currently stored as a float that is used for all of the channels

[2019-09-13 17:41] #1062 closed, assigned to nobody

[2019-09-13 17:51] oruebel commented on #1064
@bendichter I assume the data itself is then stored as ints (rather than floats)?

Could you clarify the reason for the per-channel conversion factor? Is the variability between channels so large that they have to be scaled independently, or could the factors be harmonized?

I think to properly represent conversion_factor on a per-channel basis would require an update to the schema to allow conver

[2019-09-13 17:53] bendichter commented on #1064
@oruebel

I don't know why they store the conversion factors this way. It's uncommon, but it may be due to very different ranges. I suppose it may be possible to re-digitize the values on a uniform scale.

[2019-09-13 17:54] rly commented on #1064
If a conversion factor is used, then the data is usually stored as ints.

The variability between channels can be quite large depending on which amplifiers are used for each electrode and where the electrodes are. Some acquisition systems allow for per-channel conversion factors or gains. I've used this before on one of the newer systems in my grad school lab.

That is what I'm thinking too.

[cod

[2019-09-13 18:02] bendichter commented on #1064
So would this be overloading the current conversion attribute? Will that break backwards compatibility?

[2019-09-13 18:18] oruebel commented on #1064
We definitely don't want to break backward compatibility for this (in particular since this is on the base TimeSeries type). The idea  I think would be to either allow a single float (as is right now) that would apply to all channels, or an array that would then be on a per-channel basis.

[2019-09-13 23:38] oruebel opened #1066 "Add support for reading external ImageSeries"
## 2) Feature Request

``ImageSeries`` allows specification of data via external_file image stacks. It would be useful to enhance the ImageSeries Container class in PyNWB to support reading of ImageSeries from these external image stacks. Currently this is up to the user. Specifically we should

* Improve documentation of ``external_file`` and ``starting_frame`` to clarify the use and meaning of t

[2019-09-16 19:45] rly opened #1067 "Make all DynamicTables chunked and resizable by default"
## Feature Request

It has often been requested that a table can be appended to, e.g. the units table, epochs table, invalid time intervals tables, etc. over the course of data processing and analysis. In order to allow this, DynamicTables need to be chunked and resizable by default. See also #918 and #920 and #1059

[2019-09-17 07:13] rly opened #1068 "Invalid times not being saved"
## 1) Bug

Similar to #1046, due to the removal of automatic mapping of NWBFile "intervals" group "invalid_times" to NWBFile.invalid_times in hdmf-dev/hdmf#130, the invalid_times are not written to disk.

[2019-09-17 10:01] bendichter commented on #1068
@rly thanks for spotting this!

[2019-09-17 17:40] #1068 closed, assigned to nobody

[2019-09-17 18:06] #777 closed, assigned to oruebel

[2019-09-18 08:52] lvsltz opened #1071 "add custom column in the sweep_table before adding sweeps"
I propose this feature following a discussion with @t-b on the icephys channel on slack. I think this feature can be useful to group sweeps in various categories.

**Context:**
The sweep_table allows adding custom columns with add_column, but only **after** the sweeps have been added.
The trials table instead allows defining the column beforehand with add_trial_column and then the new column can b

[2019-09-18 13:43] bendichter commented on #1056
Thanks for the thoughtful reply, Oliver! For **a-v2** I don't think a `VectorIndex` could pull out the right values because it would need to select discontinuous regions of `all_spike_times`. **d** sounds interesting but I'm not sure I follow entirely. In other places we have discussed getting around a doubly ragged array by using table references. Is that the idea here?

[2019-09-21 00:22] rly commented on #1064
@oruebel , @ajtritt , and I were debating this today. Here is our tentative idea: Add a dataset called `conversion_factor` on `ElectricalSeries` with an attribute called `axis` fixed to 1 (to correspond to the second dimension of `data`). To get the actual data in Volts, you have to multiply your `data` dataset by both the global `conversion` attribute on `data` and the dataset `conversion_factor`

[2019-09-21 00:41] rly commented on #1071
Hi @lvsltz , thanks for the issue ticket.

I think I understand, but could you please clarify this last point? Are you looking for the following syntax?

[code]

where after a new column X is defined on the sweep table, you can create a new PatchClampSeries with the argument X=x?

[2019-09-21 08:23] bendichter commented on #1064
The axis attribute sounds like a good idea. I think it's a bit silly to multiply twice, but if it is important for backwards compatibility then it's a workable solution. I'd rather name the dataset something like `channel_conversion` to make it more clear how they are different.

[2019-09-23 07:20] lvsltz commented on #1071
Yes, that's exactly what I meant.

[2019-09-23 17:00] oruebel commented on #1064
That sounds like a reasonable name.

I agree, but creating a special case where folks would need to ignore the conversion factor from TimeSeries if ``channel_conversion`` is present gets unfortunately even messier. In most cases, I don't think it will make a difference, because if you have ``channel_conversion`` than the scalar conversion factor will in most cases be set to ``1`` anyways.

Part of

[2019-09-23 18:26] rly commented on #1071
Thanks. On the implementation side, that case is not analogous to adding rows with custom columns to a DynamicTable and so it would be tricky to implement. The more analogous example would be something like:
[code]

Would this work as well?

The difference is that the `CurrentClampStimulusSeries` object does not store the value of that new column; the value is associated with the object only via t

[2019-09-23 18:31] bendichter commented on #1064
Yeah that all makes sense. I think this solution is reasonable and will solve the current problem.

[2019-09-24 07:41] lvsltz commented on #1071
I see. I think what you proposed can work very well. It's still way better than adding the additional column in one go after all sweeps.

(Please note though that this feature will be useful only after some guidelines on how to use the `SweepTable` become available, to see for example what features can be saved in the additional columns. I have started a discussion on this with @oruebel.)

[2019-09-25 09:23] #1064 closed, assigned to nobody

[2019-09-25 09:51] bendichter opened #1073 "indexing H5DataIO"
`H5DataIO[slice]` currently throws an error. I would like it instead to call `H5DataIO.data[slice]`.

Motivations
1. This is clearly the intention.
2. It will help with tests. I am running into an issue with the unit tests when trying to implement #1067 the unit tests break because several of them try to index `data` without checking if it's an `H5DataIO` object. With the proposed change, we can s

[2019-09-25 16:45] oruebel commented on #1073
This should be implemented in HDMF on the DataIO base class. The following PR on HDMF should fix this issue:

https://github.com/hdmf-dev/hdmf/pull/141

[2019-09-26 13:15] bendichter commented on #1056
@oruebel

Yes, for sure that matrix would often be sparse. In many of these cases you have multiple tetrodes, each with 2-5 possible clusters, but a cell picked by one tetrode can only possibly be in that tetrode's clusters (this is the case for the Buffalo Lab). With neuropixels you have many densely packed electrodes tiling the space, so the clusters tile the space as well, and while most of the

[2019-09-26 13:41] bendichter commented on #1056
So in that case you could have a column of the table be "cluster_probabilities" and have the first dim be ragged #unit_spike_times and the second be non-ragged #all_clusters. Something like

unit  |  spike_times  |  probability
-|-|-
0 |  [2.2, 5.0] | [[0.5, 0.5, 0, 0, 0], [0.9, .1, 0, 0, 0]]
1 | [1.1, 3.3, 4.4] | [0, 0.9, 0.1, 0, 0], [0, 0.9, 0.1, 0, 0], [0.1, 0.6, 0.1, 0.2, 0]]

which on disk wo

[2019-09-28 14:04] bendichter opened #1074 "cannot read Buzsaki data"
When I try to read data from [this archive](https://buzsakilab.nyumc.org/datasets/NWB/), I get the following error:

[code]

[code]

    Python Executable: Conda
    Python Version: 3.7
    Operating System: macOS
    HDMF Version: 1.3.2
    Version of PyNWB used:

## Checklist

- [x] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb

[2019-09-28 14:16] bendichter commented on #1074
same problem for Anne Churchland's data from [here](http://labshare.cshl.edu/shares/library/repository/37693/)

[2019-09-28 16:39] yarikoptic opened #1075 "Cannot print/repr an NWBFile -- ValueError: Not a dataset (not a dataset). (keywords?)"
## Description

helper script:
[code]

## Steps to Reproduce

- wget/curl (or you could use datalad to install and get that or any other file within https://github.com/dandi/najafi-2018-nwb) the [file](http://datasets.datalad.org/labs/churchland/najafi-2018-nwb/.git/annex/objects/WV/xx/MD5E-s302896324--2a6346977e9584c3820fb1dc3e07c353.nwb/MD5E-s302896324--2a6346977e9584c3820fb1dc3e07c353.nwb)
- ru

[2019-09-28 16:44] yarikoptic opened #1076 "fail to `import pywnb` upon `pip install -e` in a virtualenv"
#  Description

To troubleshoot #1075 I thought to try current `dev` (1.0.3-29-g6a76a7a7) and followed typical/standard virtualenv/pip -e route to get me going, but then pynwb is not importable:

[code]
## Environment

    Python Executable: Python
    Python Version:  3.7
    Operating System: Linux
    HDMF Version: Version of PyNWB used is `dev`, hdmf whatever installed by pip see above

## Che

[2019-09-28 16:52] yarikoptic opened #1077 "Provide dedicated "Cannot load NWB 1.0" Exception/Error instead of an arbitrary crash"
I think I have ran into the now closed https://github.com/NeurodataWithoutBorders/pynwb/issues/1051 while trying to read an example file from exp2nwb: https://github.com/NeurodataWithoutBorders/exp2nwb/blob/master/example/Example.nwb?raw=true

[code]

If that is the best way to determine that the file is NWB 1.0 not 2.0, please consider catching it around `h5tools.py", line 246, in read` and rerai

[2019-09-29 06:42] rly commented on #1074
@bendichter I cannot reproduce this for some reason. I get the following output for the same file 'YutaMouse23-140805.nwb', and it looks right to me:
[code]

I have tried using the dev version of pynwb with both the released version of hdmf 1.3.2 and a local copy of the hdmf repo. Can you please run `pip list` and confirm which versions of PyNWB and HDMF you are using?

[2019-09-29 06:45] rly commented on #1074
Ah, wait, it looks like you might be using the released version of PyNWB 1.1.0 from over a week ago. That is not compatible with HDMF 1.3.2.

[code]

`NWBBaseType` does not exist in the current PyNWB dev branch.

[2019-09-29 06:57] rly commented on #1075
@yarikoptic Thanks for the bug report. I can reproduce the bug with PyNWB 1.0.3 and HDMF 1.1.2.  Could you try this with PyNWB 1.1.0 installed or the dev branch of PyNWB installed? Your MWE runs fine using the dev branch of PyNWB on my machine.

[2019-09-29 07:00] rly commented on #1076
Please update to the latest `dev` branch of PyNWB. It looks like you are running 1.0.3, which is not compatible with the latest version of HDMF, 1.3.2. The latest PyNWB version is two commits past 1.1.0.

[2019-09-29 18:38] #1074 closed, assigned to rly

[2019-09-30 12:50] yarikoptic commented on #1076
<details>
<summary>The same story with 1.1.0-2-gb7cc9530</summary>

[code]
</details>

<details>
<summary>and here is a full oneliner example to demonstrate "as of now"</summary>

[code]
</details>

[2019-09-30 15:09] t-b commented on #908
@bendichter Could you retry with latest dev?

[2019-09-30 15:12] bendichter commented on #908
@t-b thanks for the nudge. I'm working on this now.

[2019-09-30 15:12] t-b commented on #115
Closed via  936c438.

[2019-09-30 15:12] #115 closed, assigned to nicain, ajtritt

[2019-09-30 15:16] t-b commented on #908
Isn't that here the same as what I complained about in #942?

[2019-09-30 15:46] bendichter commented on #908
Looks like it

[2019-09-30 15:48] t-b commented on #908
Good, closing as duplicate of #942.

[2019-09-30 15:48] #908 closed, assigned to nobody

[2019-09-30 23:22] rly commented on #1076
@yarikoptic I found the problem. The submodule needs to be initialized and synced.

From the pynwb folder, please run: `git submodule update --init --recursive`

In your one-liner, instead of `git clone -b dev http://github.com/NeurodataWithoutBorders/pynwb`
please run `git clone --recurse-submodules -b dev http://github.com/NeurodataWithoutBorders/pynwb`

These need to be added to the documentati

[2019-09-30 23:44] yarikoptic commented on #1076
Ah, I will try

In the longer run I think this is one of those cases where git subtree would be a better mechanism to include that repo here (and I am not scared by git submodules... eg look at this beast http://datasets.datalad.org, you can clone it), primarily since it always needs to be initialized if I get it right

See eg https://www.atlassian.com/git/tutorials/git-subtree for the reasoning/h

[2019-10-01 01:14] rly commented on #1067
@ajtritt now that `DynamicTable` is in HDMF, how should we go about making `DynamicTable` chunked and resizable by default in PyNWB and not in HDMF as you had suggested? Do we need to subclass DynamicTable or is there a better way?

[2019-10-01 01:14] rly commented on #1073
@bendichter I believe this has been resolved. Please close if so.

[2019-10-01 01:18] #1073 closed, assigned to nobody

[2019-10-01 11:54] luiztauffer opened #1080 "Can't change container_source once set"
`hdmf==1.3.2.post0.dev3`
`pynwb==1.1.0.post0.dev2`

I’m getting errors when trying to link files.
Code:

[code]

Error:
[code]

The problem is not solved if manager is created with `manager = get_manager()` and explicitly passed in both with context managers.

## Checklist

- [x ] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/iss

[2019-10-01 11:56] bendichter commented on #1080
The last release of pynwb requires hdmf 1.2

On Tue, Oct 1, 2019, 7:54 AM Luiz Tauffer <notifications@github.com> wrote:

[2019-10-01 12:04] luiztauffer commented on #1080
with `hdmf==1.2.0` this happens:

[code]

[2019-10-01 16:20] ajtritt commented on #1067
No, you would need to subclass [DynamicTableMap](https://hdmf.readthedocs.io/en/latest/hdmf.common.io.table.html#hdmf.common.io.table.DynamicTableMap) and extend [get_attr_value](https://hdmf.readthedocs.io/en/latest/hdmf.build.map.html#hdmf.build.map.ObjectMapper.get_attr_value)

[2019-10-01 16:41] luiztauffer commented on #1080
did `git submodule sync` and `git submodule update --init` under my cloned hdmf and pynwb repos and also fixed the `electrodes` argument when creating my LFP and now it works

[2019-10-01 16:41] #1080 closed, assigned to nobody

[2019-10-02 19:28] bendichter commented on #1056
@ajtritt what would be the best way to send instructions to a particular `DynamicTable` column to be stored sparsely in HDF5?

[2019-10-02 20:03] ajtritt commented on #1056
Can you clarify what you mean by “sparsely”?

[2019-10-02 20:08] bendichter commented on #1056
@ajtritt I expect there to be a lot of 0s in the probability array, and it would be nice if there were a way to not store them and use a `fillvalue` of 0 instead.

[2019-10-02 20:41] rly commented on #1015
h5py 2.10 was released with a fix for this issue.

[2019-10-02 20:41] #1015 closed, assigned to nobody

[2019-10-02 20:43] ajtritt commented on #1056
Yeah, you can just pass `fillvalue=0` through the same mechanism I suggested [here](https://github.com/NeurodataWithoutBorders/pynwb/issues/1067#issuecomment-537114178) and you implemented [here](https://github.com/hdmf-dev/hdmf/pull/159#issuecomment-537154952)

[2019-10-02 20:53] bendichter commented on #1056
I could add this as the default behavior of columns in dynamic tables, but how would I tell HDF5 to use the fill value and not write every datapoint in the array?

[2019-10-02 21:12] ajtritt commented on #1056
Ah, I see what you're asking. You would need to use an [AbstractDataChunkIterator](https://hdmf.readthedocs.io/en/latest/hdmf.data_utils.html#hdmf.data_utils.AbstractDataChunkIterator) to return just the chunks you want to write. My understanding that HDF5 only writes the fillvalue when it writes a chunk.

[2019-10-03 13:23] luiztauffer commented on #1074
@rly would you mind telling which pynwb/hdmf versions you managed to open this file with?

[2019-10-03 15:02] t-b commented on #1074
@rly Could we add support for versioning checking? So that pynwb can check the hdmf version and give a helpful error message in case it is not the expected one?

[2019-10-04 11:49] lvsltz commented on #1071
The example code in my first post above doesn't seem to work anymore with the latest release (1.1.0): add_trial_column requires a non-empty data argument. Perhaps then the requested feature doesn't make sense anymore.

[code]
Error:
[code]

[2019-10-04 14:17] t-b opened #1082 "Manual NWB file validation fails"
## Steps to Reproduce

hdmf: 9a5e2e71 (add append and extend for Datasets in Data objects (#161), 2019-10-02)
pynwb: 5c6c2028 (Added new case to the iterative write tutorial (#1029), 2019-10-02)

[code]

I thought to have prevented errors like this, by having added

https://github.com/NeurodataWithoutBorders/pynwb/blob/5c6c20283bdd5beb6582007dac9c5deca41b580e/test.py#L77-L107

but that seems to be

[2019-10-04 14:32] bendichter commented on #1082
@t-b I think this is a git submodule issue. Would you mind running:

[code]
and
[code]

[2019-10-04 14:42] t-b commented on #1082
@bendichter

Thanks,
yes some of them were missing.

I did

[code]

and now get a different error message

[code]

[2019-10-04 14:48] bendichter commented on #1082
@t-b you need to run it for hdmf and for pynwb

[2019-10-04 14:54] t-b commented on #1082
I did that of course.

[2019-10-04 14:55] t-b commented on #1082
Does the file [example_file_path.zip](https://github.com/NeurodataWithoutBorders/pynwb/files/3691053/example_file_path.zip) validate on your end?

[2019-10-04 16:13] bendichter commented on #1082
[code]

`[]`

from `pip list`:
[code]

[2019-10-07 06:56] rly commented on #1071
I believe this error is due to an unfortunate issue where the latest version of PyNWB (1.1.0) is not compatible with the latest version of one of its dependencies, HDMF, currently at 1.3.2. I will release PyNWB 1.1.1 tomorrow to resolve this, hopefully.

[2019-10-07 17:40] t-b commented on #1082
@bendichter If I do it with you example it works but using it just from the CLI does fail:

[code]

[code]

[2019-10-07 17:55] bendichter commented on #1082
@t-b that's strange, I would have thought they would act the same. Could it be that your paths are different in these two cases?

[2019-10-07 18:46] t-b commented on #1082
And I get the exact same error on linux as well.

[2019-10-07 18:51] bendichter commented on #1082
ok thanks for checking that, looks like this needs some investigation

[2019-10-07 20:37] yarikoptic commented on #1075
eh, apparently the file url was butchered.  I have adjusted it -- should be downloadable now.

With 1.1.1 -- the same.

<details>
<summary>with 1.1.0 -- even "worse"</summary>

[code]
</details>

[2019-10-07 20:39] yarikoptic commented on #1076
I will leave it to the developers to decide on how to deal with submodules/subtrees (it seems that every new potential contributor runs into them), but as the need for submodules update --init is documented, I guess there is no immediate action to be done, so I will close this one.
Cheers!

[2019-10-07 20:39] #1076 closed, assigned to nobody

[2019-10-07 20:40] bendichter opened #1084 "validation error checking shape"
## Description

For [this file](https://drive.google.com/file/d/1QIq2Gnah49NZUV02ZH5d_rF-N4sCnw8I/view?usp=sharing), validation throws error and it's not clear what is wrong with the file.

## Steps to Reproduce

[code]

[code]
## Environment

[code]

## Checklist

- [x] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues)?
- [x

[2019-10-07 21:30] rly commented on #1075
@yarikoptic In your MWE, please move your `print(nwbfile)` statement to be within the `with` file context manager. The file needs to be open because the contents are read lazily.

Doing that made your code work for me with PyNWB 1.1.1.

[2019-10-07 21:45] yarikoptic commented on #1077
<details>
<summary>One more example where I was told that file is probably NWB 1.0</summary>

[code]
</details>
but the exception (`KeyError: "'electrode_name' already exists as attributes in membrane_potential...`) had no hint on that

[2019-10-07 21:48] rly commented on #1084
@bendichter I got as far as figuring out that in `/processing/ecephys/` the `PSTH` table has a column `trial_id` that consists of object references to the root of the file. When validating the shape of the data, the object reference pointer cannot resolve because the root of the file has not yet been built. Why are the object references pointing to the root of the file?

[2019-10-07 21:57] bendichter commented on #1084
Thanks for hunting that down, @rly. That's probably a mistake- I'll bring that up to DJ. But let's also make our validation program robust enough to say which dataset is causing the problem.

[2019-10-07 22:10] yarikoptic commented on #1077
aha -- nwb-schema talks about `/specifications/<namespace-name>/<version>/...`,

<details>
<summary>and my sample NWB 2.0 file does carry a core/2.0.1 group</summary>

[code]
</details>

<details>
<summary>while a sample file in ssc-7 dataset has none:</summary>

[code]
</details>

from glancing over that docs/storage/source/storage_hdf5.rst it is not 100% clear to me if that is a feature of NWB:N

[2019-10-07 22:17] bendichter commented on #1077
@yarikoptic can we take this over to slack? I'm happy to help you sort these issues out and open this file in pynwb. It looks like this file is in 2.0 after all, so not relevant to this issue.

[2019-10-07 22:22] rly commented on #1082
The difference is that in `validate.main`, the file is validated against _all_ namespaces cached within the file, whereas calling just the `validate` function imported from pynwb validates the file against only the core namespace.

https://github.com/NeurodataWithoutBorders/pynwb/blob/c6ec626117af813449342ac0954e70d8117829b1/src/pynwb/validate.py#L108-L111

I don't know why that throws an error.

[2019-10-07 22:41] rly commented on #1071
@lvsltz Please try again with PyNWB 1.1.1 and let me know how it goes. Thanks!

[2019-10-07 23:15] yarikoptic commented on #1077
and we did (in jitsi), summary: me
- being pointed to an obvious `nwb_version` field at the top level (so it could be used to decide to throw an informative exception, and @bendichter promising to propose a PR for this, while I add it to extracted metadata on dandi-cli side)
- clarifying that ssc-7 dataset is coming from CRCNS portal.  DataLad "copy" is available from http://datasets.datalad.org/?

[2019-10-07 23:23] yarikoptic commented on #1075
@rly THANKS!  confirming -- works for me too!
Having said that, `repr` shouldn't fail either within or outside of the context handler.
Since `repr` here is not really a "string representation of an object" here anyways, I would recommend to fix this issue but making `repr` not crash even if file is no longer open (outside of the context manager) by adding `N/A - closed file` to those fields value

[2019-10-08 00:54] yarikoptic opened #1085 "nwb_version is neither populated, nor validation causes any error"
Looking at the schema:
[code]
it doesn't suggest that it is optional ([fix is submitted for the example version](https://github.com/NeurodataWithoutBorders/nwb-schema/pull/318)) , so I assume that it is mandatory (is it?);
and within #1077 it came as the one to be used as a decision point either a given file NWB 2.0 or not.

While looking at a sample file from https://github.com/dandi/najafi-2018-

[2019-10-08 00:57] yarikoptic commented on #1085
<details>
<summary>oh, forgot to include detail that validation using pynwb also does not cause any error (here I am using `dandi ls` which merely prints output from `pynwb.validate`</summary>

[code]
</details>

[2019-10-08 01:58] yarikoptic opened #1087 "a collection of .nwb files of small sizes with various "features""
ATM there is already a  good wild range of .nwb files which could be found in the wild.  They differ in version of nwb, and data types they contain etc.  For demonstration and testing purposes it would be nice to collate a collection of sample .nwb files, including the ones representing NWB 1.0 flavors (possibly with conversion scripts from 1.0 to 2.0), and modern NWB files.
Unfortunately all of t

[2019-10-08 03:57] oruebel commented on #1087
It will be hard to support all flavors of NWB 1.0 as the flavors are just too different, and most files I have encountered are also only NWB 1.0 in spirit.

For testing you could just strip out the bulk data, i.e., replace the large arrays that store the majority of the data with smaller version .

Currently we create test files from the integration test suite. I think a good way may be to have tu

[2019-10-08 14:44] bendichter commented on #1087
We have created something like this already. Maybe it will fit your needs. Near the bottom of https://www.nwb.org/example-datasets/ you'll find

The download link leads to [this google drive folder](https://drive.google.com/drive/u/1/folders/1g1CpnoMd9s9L-sHBWVyklp3-xJcLGeFt), which has NWB files generated from previous versions of pynwb. The idea is to cache them in the CI and use them to ensure

[2019-10-08 14:57] bendichter opened #1088 "SpikeEventSeries shape check"
## Description

For `SpikeEventSeries`, if you try to write `data` using a `DataChunkIterator` and `timestamps` without a `DataChunkIterator`, you run into this error:

https://github.com/NeurodataWithoutBorders/pynwb/blob/c6ec626117af813449342ac0954e70d8117829b1/src/pynwb/ecephys.py#L97-L99

[2019-10-08 15:17] yarikoptic commented on #1087
Yes! Thank you @bendichter - that sounds exactly what I desire! Adding nwb 1 file there to use in a test would be great!

[2019-10-08 15:17] #1087 closed, assigned to nobody

[2019-10-08 15:19] yarikoptic commented on #1087
And thank you @oruebel for your feedback! I might get back to desire of getting a utility to strip bulk data from the files - might be useful to be about to share minimized versions of files found in the wild for troubleshooting purposes

[2019-10-08 20:28] bendichter commented on #1085
The version is still populated. In NWB 1 it's a dataset and in 2 it's an attribute.

[code]

[code]

I don't know how to read this using pynwb though

[2019-10-08 21:04] bendichter opened #1090 "validator erroneously catches non-vector experimenter and related_publications"
## Description

We recently changed the schema to accept a vector for experimenter and for related_publications. Our pynwb io maps were changed to accept either form, but our validator is based entirely on the schema and will output validation errors for older files that use strings instead of vectors of strings for these fields.

## Steps to Reproduce

[code]
## Environment

    Python Executable

[2019-10-08 21:13] t-b commented on #1090
Yes and that is how it is supposed to be or? The schema is the reference.

[2019-10-08 21:23] bendichter commented on #1090
Yes, I was half explaining the divergent behavior for others and half wondering what everyone thought about this. It seems non-ideal to throw validation errors for older files that were according to spec when they were created and can be read perfectly well in pynwb and matnwb.

[2019-10-08 21:49] yarikoptic opened #1091 "validation must be NWB version (of the file) specific"
I believe that since a few versions back of pynwb I have mentioned that some fields, such as `experimenter` and `related_publications`, started to be returned back as tuples whenever before they were returned as a simple string.

Current `experimenter` schema definition is
[code]
as of  currently used nwb-schema 2.1.0-4-g3939e35 . (I will not discuss inconsistency of having a single "experimenter"

[2019-10-08 21:56] bendichter commented on #1091
related to #1090. I think we should leave this one because it provides important additional info. Maybe close mine.

[2019-10-08 22:45] #1088 closed, assigned to nobody

[2019-10-08 23:00] yarikoptic commented on #1085
xo xo @bendichter -- thank you!  I will never trust h5ls now and will resort to h5dump!   It even confirmed that those sample .nwb files you pointed to, do not have a stored version to match the version of the directory they are under, e.g.
[code]
but that would be a separate issue!  Thanks again, I am tuning up `dandi ls` now to try both to gather the version

[2019-10-08 23:00] #1085 closed, assigned to nobody

[2019-10-09 00:23] oruebel commented on #1090
We should be careful here not to mix backward compatibility of the API with backward compatibility of the schema. Testing whether the API can open a file or whether it is compliant with the latest schema are two separate questions.

For the validator, I think we have to take the schema as ground truth for validation. If we have a 2.1 file, then we should validate against the 2.1 schema. In that se

[2019-10-09 00:37] yarikoptic commented on #1087
FWIW, I posted that google folder directly to git repo (top level .zip still under annex, larger than 100kb, I decided not to bother providing its content extracted since not sure if of benefit) to https://github.com/dandi-datasets/nwb_test_data

[2019-10-09 08:01] lvsltz commented on #1071
It's working as before now, thanks!

[2019-10-09 15:55] bendichter commented on #1090
@oruebel I agree these are two separate issues. While we aim for the API to support all NWB 2.0+ data, it could be important for a user to know precisely which version of the schema their file is valid against. I could see tool support for NWB where a tool would specify what versions of the NWB schema it supports (like pip versions). In that case, I could imagine a user wanting to know the validit

[2019-10-09 18:52] t-b commented on #1090
@bendichter @oruebel

Just to help me understand our support:
IIRC we agreed on the last hackathon at Janelia that we strive to include the schema into the NWB file when writing. And that got implemented in https://github.com/hdmf-dev/hdmf/pull/84.

So every NWB file created after that should have the schema it was written with by default. And the validation tool uses the shipped schema if present

[2019-10-09 19:06] oruebel commented on #1090
Correct and MatNWB also implements this now.

Correct.

I'm not sure what the default behavior of the validator is right now, i.e., whether it uses the schema form the file or from the version installed with PyNWB, but I agree that the default behavior should be to validate against the schema in the file.

Yes. One minor detail, PyNWB and the schema are versioned separately. I.e, PyNWB 1.x will be

[2019-10-09 19:10] bendichter commented on #1090
Yes, we cache the schema by default, and recommend that users keep that default, but do not require it, so unless we want to make that required we'll need to handle the case that the schema is not cached. We also need to account for files that were written before caching the schema as an option.

[2019-10-09 19:14] t-b commented on #1090
@oruebel

[code]

I did that change with the Andrew's help.

[2019-10-09 19:16] oruebel commented on #1090
Currently, I believe the approach for this would be that the user would have to check out the appropriate version of the schema from the nwb-schema repo (if the schema is not cached) to use for validation (or install the corresponding version of PyNWB). Alternatively, we'd need to ship all releases of the schema with PyNWB.

[2019-10-09 19:17] t-b commented on #1090
@oruebel How does the user know which schema version to fetch?

[2019-10-09 19:18] oruebel commented on #1090
That is in the nwb_version attribute of the file

[2019-10-09 19:21] bendichter commented on #1090
We can access that using h5py or potentially h5dump, but I couldn't find a way to access nwb_version using pynwb

[2019-10-09 19:22] t-b commented on #1090
@oruebel Good. So in principle we could add support for the validator to fetch the appropriate schema from github and use that for validation. I'm not volunteering though ;)

[2019-10-09 19:25] oruebel commented on #1090
Yes, I believe that is true. Although it may be simpler to ship the different versions of the schema as package data with PyNWB directly, rather than fetching them from remote . @ajtritt @rly

[2019-10-11 18:36] yarikoptic commented on #1090
FWIW that was my non-verbalized in #1091 idea on how to deal with multiple version of a schema.  Since they are largely identical text files, adding them directly into git should compress them nicely.  I don't think you would want to breed submodules per each version.

[2019-10-11 19:07] oruebel commented on #1090
The submodule is used for active development, i.e., to develop the schema and API in conjunction. Prior versions of the schema that have been released are not changing as part of the active development. Another question is, what do we need prior versions of the schema for?  Currently the focus in this issue is squarely on validation (which is probably the main use-case for this).

But I think we a

[2019-10-17 16:58] ajtritt opened #1095 "Add new logo to docs"
I'm not sure who has this, but I think you'll just need to replace these files:

- docs/source/neuron-180x180.png
- docs/source/neuron.png

[2019-10-18 00:04] #1095 closed, assigned to rly, bendichter

[2019-10-19 00:04] rly commented on #1090
I am in favor of shipping prior versions of the schema with the API, even though it is only useful for validation. Doing so prevents the need for a validation tool to connect to the internet and for us to write tools to handle download and file management. The cost is that the file sizes would be slightly larger. The current schema is 82 KB (nwb.core) + 5 KB (hdmf.common).

[2019-10-19 00:07] oruebel commented on #1090
I think that's fine. I think it would be good to have that as part of either the setup or packaging process rather than as direct copies in the git repo.

[2019-10-19 01:48] yarikoptic commented on #1090
My 1c from an outsider: I would vote for the opposite (just to keep copies of different versions in git) since git would compress them efficiently and setup/packaging won't need to be unnecessarily overcomplicated and thus possibly more fragile.

[2019-10-20 00:56] yarikoptic commented on #1090
FWIW, for `dandi validate` I worked around as in https://github.com/dandi/dandi-cli/commit/9f2178f7005484da32412e638b75d33ac23dc4c1#diff-7e2d602e456be540d8ee58ead9ac917dR101

[2019-10-24 20:41] bendichter opened #1097 "issue writing units table with electrodes defined"
Steps to Reproduce

[code]

[code]

## Environment
     hdmf==1.3.3.post0.dev9 (latest dev)
     pynwb==1.1.2.post0.dev5 (latest dev)

[2019-10-29 18:39] sarmishta commented on #621
@INF-Rene  I am facing the same issue, please could you tell me how did you solve it? Thank you.

[2019-10-29 21:39] rly commented on #621
Hi @sarmishta Just to be clear, which file from the Allen Institute are you having trouble loading? If this is an intracellular recording stored in NWB 1.0, you can use the resources below:

This tutorial may be useful for reading the NWB 1.0 data: https://smackesey.github.io/nwb_tutorial/assets/tutorial.html

There is also documentation about the NWB 1.0 format at:
https://github.com/NeurodataWit

[2019-10-30 11:25] INF-Rene commented on #621
Hi @sarmishta

Unfortunately NWB files generated by allen institute or by their acquisition software (see https://github.com/AllenInstitute/MIES) are NWB v1 and as far as I know still not working in either pynwb or matnwb.

It's really a pity since me and many electrophysiologists around me are switching to MIES for acquisition.

Currently I am recovering the data using my own scripts in MATLAB, w

[2019-10-30 16:46] t-b commented on #621
@INF-Rene We are already working on the NWBv2 support. Feel free to subscribe to https://github.com/AllenInstitute/MIES/issues/22 to get notified when its done.

[2019-10-30 19:21] sgratiy opened #1099 "get a DeprecationWarning("add child is deprecated...") when adding device and electrode to file"
## Description

When creating a minimal nwb file adding a device and electrode to file produces
DeprecationWarning("add child is deprecated...") from hdmf when running tests with pytest.

## Steps to Reproduce

[code]

## Environment

    Python Executable: Conda
    Python Version:  3.6
    Operating System: Linux
    HDMF Version: 1.1.2 of PyNWB version 1.0.2

## Checklist

- [x] Have you ensure

[2019-11-06 13:44] bendichter opened #1101 "pynwb.core.DynamicTable"
## Description

Since we moved `DynamicTable` over to `hdmf.common`, this line throws an error: `from pynwb.core import DynamicTable`. In order to insulate users from hdmf and to maintain the backwards compatibility of the API, I suggest we put `from hdmf.common import DynamicTable` in `pynwb.core`. This will also probably require that we tell flake8 to ignore this line as a style violation.

## S

[2019-11-14 20:14] rly opened #1107 "Create testing module for test utility functions"
Requested by @bendichter and me:
It would be helpful for extension developers to be able to access some of the tests and test utility functions in the pynwb unit/integration tests, e.g., the functions for doing round-trip tests.

Numpy and xarray both have modules [numpy.testing](https://docs.scipy.org/doc/numpy/reference/routines.testing.html) and `xarray.testing` that provide basic test support.

[2019-11-14 21:19] bendichter commented on #1107
I think this would be really useful. This would reduce code redundancy in matnwb [here](https://github.com/NeurodataWithoutBorders/matnwb/blob/master/%2Btests/%2Bsystem/PyNWBIOTest.py) and would make it easier to write round trip tests for extensions. As it is right now, writing good round trip tests for extensions requires copy/pasting a lot of test infrastructure code

[2019-11-15 00:48] oruebel commented on #1107
Having a pynwb.testing module sounds reasonable.

[2019-11-15 23:00] neuromusic commented on #129
fixed in #478

[2019-11-15 23:00] #129 closed, assigned to nobody

[2019-11-16 00:04] rly commented on #954
Proposed solution from @oruebel @ajtritt @bendichter : change the schema to make `identifier` optional, and do not change the API until the next major version of the NWB schema & PyNWB. For now, in PyNWB, if `identifier` is empty string, do not populate the `identifier` dataset.

[2019-11-21 00:35] rly opened #1108 "PlaneSegmentation.reference_images is not mapped"
When `DynamicTable` was extracted from PyNWB to HDMF, the `__nwbfields__` field in `DynamicTable` became `__fields__` . `NWBContainer` defines `_fieldsname = '__nwbfields__'`, but `PlaneSegmentation` inherits from `DynamicTable` rather than `NWBContainer` so it does not define `_fieldsname = '__nwbfields__'`; it still has it set to `__fields__`. As a result, `PlaneSegmentation.__nwbfields__` is ne

[2019-11-21 23:39] rly opened #1110 "TimeSeries.data and TimeSeries.unit should be required as per schema"
The `data` and `unit` arguments for the `TimeSeries` constructor are currently optional, but the schema says they are required.

https://github.com/NeurodataWithoutBorders/pynwb/blob/dev/src/pynwb/base.py#L104-L107

This is allowed: `ts = TimeSeries('name', timestamps=[1, 2, 3, 4])`

This is allowed: `ts = TimeSeries('name', data=[1, 2, 3, 4], timestamps=[1, 2, 3, 4])` but generates a warning: `Mi

[2019-11-23 00:17] #1108 closed, assigned to rly

[2019-11-23 00:20] rly opened #1111 "Throw errors for critical warnings in roundtrip tests"
The warnings `MissingRequiredWarning` and `OrphanContainerWarning` thrown by hdmf should be caught by unit tests and an error should be thrown.

See also:
https://github.com/NeurodataWithoutBorders/pynwb/pull/1109

[2019-11-25 04:53] luiztauffer opened #1113 "VectorData for TimeSeries `data`"
I am trying to make a NWBGroupSpec that would extend `TimeSeries`, the main thing being it would accept indexed data with `VectorData` and `VectorIndex` types. [Here’s](https://github.com/ben-dichter-consulting/ndx-pointcloudseries) the repo for reference.
I would like it to override the `data` field, so I do:
[code]
The new group can be imported but when when I try to set:
[code]

I get:
[code]

[2019-11-25 06:08] oruebel commented on #1113
As a first test, what I would suggest to try is to add VectorData as an allowed type for the ``data`` attribute of the constructor of ``TimeSeries`` here:

https://github.com/NeurodataWithoutBorders/pynwb/blob/eeef0eb8ff4119b1a69bd172db1e98827299b278/src/pynwb/base.py#L104

If this works, then this would at least tell us that the read/write can work in principle. I'm not sure about other functiona

[2019-11-27 00:07] rly opened #1114 "Possible to create electrodes table without required columns"
By passing a `DynamicTable` in to the `NWBFile` constructor, it is possible to add an electrodes table with none of the required columns.

[code]

[2019-11-27 00:18] rly opened #1115 "Validator does not catch missing required columns in electrodes table"
The validator does not catch missing required columns in electrodes table. I think this has to do with the fact that in the `NWBFile` spec, when defining the electrodes table, datasets are added to the `DynamicTable` spec without defining a new neurodata_type. The `DecompositionSeries` table named `'bands'` has the same issue.

I think those are the only two groups/datasets that have a `neurodata_

[2019-11-27 00:50] rly commented on #1115
@oruebel says that we should do both options, and @ajtritt and I should discuss whether to disallow inheriting from a neurodata_type and adding groups/datasets/attributes to it without defining a new neurodata_type.

[2019-11-28 09:37] luiztauffer commented on #1113
thanks for the explanation @oruebel !
I added VectorData as an allowed type as suggested on line 104 and now I can construct the `PointCloudSeries` object:
[code]

gives:
[code]

now the error happens when trying to write to file:
[code]

gives:
[code]

Any ideas?

**update**
the `data` in error `KeyError: "Unable to open object (object 'data' doesn't exist)"` is the name given to the VectorData o

[2019-12-02 21:00] t-b opened #1116 "SweepTable: Should store TimeSeries"
The current SweepTable implementation suffers from a design flaw. It should not require PatchClampSeries objects but plain TimeSeries.

The reason is that we have quite often unassociated channels, aka stimulus/response not linked to a electrode, and these can currently not be added to the SweepTable.

For this the `TimeSeries` constructor will need to learn about the sweep number as well.

[2019-12-03 01:44] oruebel commented on #1113
I'm wondering whether there may be an issue with the ObjectMapping here, but I have not had the chance to dig deeper. @ajtritt do you have any idea?

[2019-12-03 18:29] ajtritt commented on #1113
@oruebel you are correct. ObjectMapping is choking on having a Container passed as a concrete dataset.

The only way around this would be to change the TimeSeries.data spec to be a VectorData. I'm open to such a change, but it would probably be disruptive, so we should discuss that further.

Going the route of defining PointCloudSeries as a DynamicTable wold probably be easier though.

[2019-12-03 21:23] yarikoptic opened #1118 "Q: is there a way to speed up reading of small set of attributes from .nwb file"
NB Filing against pynwb since operating on its constructs, not against hdmf although it seems that all the time is spent by it

ATM a script like
[code]
would signal that it
[code]
<details>
<summary>whenever analogous code via direct use of h5py would take ~1 ms.</summary>

[code]
</details>

I wondered if there is anything what could be done on pynwb/hdmf side (may be there is some options, or m

[2019-12-03 22:27] rly commented on #1118
Loading the pynwb module is pretty slow at the moment. A lot of time is currently spent parsing the yaml schema files. @ajtritt has looked into ways of pickling the TypeMap to speed up the initial load. He may be able to offer some guidance.

[2019-12-03 22:31] rly commented on #1118
Actually, never mind. I see that you are timing just the file reading part of your sample code. Reading the file involves building all of the classes and objects behind the scenes. It might be nice to have a feature that reads a single attribute or dataset from an NWB file, e.g., `id = NWBHDF5IO(path, "r", path="/identifier")`. That seems tricky to do efficiently. I would probably use h5py for the

[2019-12-03 22:40] oruebel commented on #1118
I think for PyNWB it may make more sense to stick to the single-container (i.e., single neurodata_type) level if you are thinking about partial read.

[2019-12-03 22:48] rly commented on #1118
Unfortunately that does not resolve the MWE situation where the attribute is on `NWBFile`.

[2019-12-03 23:06] sarmishta commented on #621
@INF-Rene,@rly   Thank you so much for the reply. We were  looking at the Allen cell Type Database(https://celltypes.brain-map.org/experiment/electrophysiology/528706755 ) ,  to extract spike features from the AllenSDK   using CellTypesCache Class. We noticed that the threshold_t  spike feature does not match the cell response X-Aixis I.e time in seconds. Our guess is that, the start time of the s

[2019-12-05 00:46] oruebel commented on #1058
@t-b did you have a chance to check on this. I was just wondering, because I started going through isses on the ICEphys extension proposal and I think https://github.com/oruebel/ndx-icephys-meta/issues/21 is the actually the same issue

CC @ajtritt

[2019-12-05 14:21] t-b commented on #1058
@oruebel Not yet, sorry.

[2019-12-10 23:38] tbenst opened #1119 "cannot import name 'get_build_manager'"
## Description
I am trying to build 1.1.2 and am running into what appears to be https://github.com/NeurodataWithoutBorders/pynwb/issues/203.

[code]

I think https://github.com/NeurodataWithoutBorders/pynwb/blob/b783df5342456cba0b6fb1c6ae0eb07e4caf7f49/tests/build_fake_data.py#L3 should be `get_manager` instead. It seems like not all tests are running on CI?

[2019-12-10 23:42] rly commented on #1119
Thanks for the report @tbenst . You're correct - that is legacy dead code that will be removed in #1117. The only tests that run on CI are in `tests/unit/` and `tests/integration/` (and soon to exist `tests/back_compat/`)

[2019-12-10 23:47] tbenst commented on #1119
great thx! can confirm that tests succeed after `rm tests/build_fake_data.py tests/build_fake_extension.py`.

[2019-12-12 03:45] bendichter opened #1120 "null electrode"
The Chang Lab has an interesting use-case and I'm not sure quite how to handle it. The way they record, they need to interface between the hospital setup and their own recording system, so they will often have channels that are recorded, but they are not attached to any electrode. They are just recording air and not really meaningful, but the lab does not want to get rid of these channels, because

[2019-12-12 08:32] oruebel commented on #1120
I think that is probably the way to go.

[2019-12-12 20:02] rly commented on #1120
I agree with @oruebel here.

In the future, it may be worthwhile to have a mapping type in the implementation of dimension coordinates such that one dimension of a dataset can be arbitrarily mapped to a dimension of another dataset and the map is stored in a separate 1D dataset.

[2019-12-12 22:00] #1000 closed, assigned to nobody

[2019-12-13 16:13] t-b commented on #942
I think we need a CLI flag for the validation tool. If you want to us it in CI and want to fail on additional fields, the easiest thing is to use the return code instead of parsing the output.

[2019-12-13 21:58] bendichter commented on #1120
Seems like we have consensus. Thanks for the input, guys!

[2019-12-13 21:58] #1120 closed, assigned to rly

[2019-12-13 22:01] bendichter commented on #1120
fyi @jrliu95, @kristinksellers

[2019-12-15 00:20] kir0ul opened #1121 "TypeError using hdmf 1.4.0 when creating a NWB file"
## Description

I get a `TypeError: Expected at most 1 arguments, got 2` when I try to create an NWB file with `hdmf` version 1.4.0. But I don't get the error if I downgrade `hdmf` at version 1.3.3.
I get the following stack trace:
[code]

## Steps to Reproduce

Create an NWB file [as mentioned in the documentation](https://pynwb.readthedocs.io/en/stable/tutorials/domain/ophys.html#creating-and-wr

[2019-12-15 02:45] bendichter commented on #1121
@kir0ul yes, that's right. The current release of pynwb, 1.1.2, is pinned to hdmf version 1.3.3, and that specific version is specified in the pynwb requirements.

[2019-12-15 17:07] t-b commented on #1121
@bendichter But HEAD pynwb works with HEAD hdmf?

[2019-12-15 17:58] oruebel commented on #1121
PyNWB HEAD is currently pinned to ``hdmf==1.4.0``

Because changes in HDMF may require updates in PyNWB, we generally pin HDMF to a particular release of HDMF to make sure things are working and update to the current version of HDMF once all required updates in PyNWB have been completed. Usually, PyNWB HEAD is up-to-date with the latest release of HDMF but it may not always be up-to-date with the

[2019-12-16 23:07] bendichter opened #1122 "vector edges for ROIs"
During visualization and analysis it is sometimes preferable to have an edge-wise vector representation of each ROI. This would generalize to a triangular mesh for 3D ROIs. It would be great if we could compute these from the masks. ROIs are non-convex, so we can't simply use a convex hull method. I'm not sure if this falls within scope for pynwb.

[2019-12-16 23:53] oruebel commented on #1122
Do you mean a contour plot to show the boundaries of ROIs? I.e., something like [marching squares](https://scikit-image.org/docs/dev/auto_examples/edges/plot_marching_cubes.html) (for 2D) or [marching cubes](https://scikit-image.org/docs/dev/auto_examples/edges/plot_contours.html) (for 3D) (see the links for corresponding examples).

[2019-12-17 01:14] bendichter commented on #1122
Yes this is perfect! I got the solution I was looking for with:

[code]
Do you think we should include something like this in pynwb?

[2019-12-17 01:36] oruebel commented on #1122
That sounds reasonable. I think either as a separate function on the ophys module or on the corresponding container would make sense. I think I'd probably just do a function to get the geometry of the contours and leave the plotting up to the user. If you think we should include the plotting as well, then I think it would at least be useful to separate the computation of the geometry from the plot

[2019-12-18 08:18] kir0ul commented on #1121
@bendichter Oh I see, thanks. Sorry for the noise.

[2019-12-18 08:24] #1121 closed, assigned to nobody

[2019-12-23 20:47] bendichter opened #1125 "referencing unreleased schemas"
The nwb-schema 2.1.0 was released Sept 16. On Sep 26, there were some major changes to the schema, including refactoring of neurodata_types into hdmf-common. The latest release of pynwb f62f52e300a098b161ccca7c1c5fd598feef28e5 references this Sep 26 commit of the schema, even though the changes to the schema were unreleased and the version number is unchanged. This is a problem because we now have

[2019-12-23 21:13] bendichter commented on #1125
fyi @ln-vidrio

[2019-12-23 22:56] oruebel commented on #1125
@bendichter I agree that we need to make sure that when changes to the schema happen that we also update the version every time (independent of whether those changes have been officially released). @rly @ajtritt can you help fix the versions?

[2019-12-28 16:47] bendichter commented on #1122
I agree that the plotting should be left to the user. It's just a straightforward `plt.plot` call to get something reasonable, and we couldn't predict what they would want beyond that.

[2019-12-28 16:51] bendichter commented on #1059
update: error is now:

[code]

[2020-01-02 03:02] bendichter opened #1128 "gain doc for PatchClampSeries children"
https://github.com/NeurodataWithoutBorders/pynwb/blob/55cc08e541289a51288cacca8370cc24c1f40cac/src/pynwb/icephys.py#L108

The docval for `gain` of the children of `PatchClampSeries` is inherited from the `PatchClampSeries` class. In the abstract `PatchClampSeries` class, we do not know whether the gain will be for a current clamp or a voltage clamp, so "Units: Volt/Amp (v-clamp) or Volt/Volt (c-cl

[2020-01-02 03:19] bendichter opened #1130 "IZeroCurrentSeries stimulus description"
By definition, an [`IZeroCurrentSeries`](https://pynwb.readthedocs.io/en/stable/pynwb.icephys.html#pynwb.icephys.IZeroClampSeries) has no stimulus, so it should not allow for a "stimulus description"

[2020-01-02 22:32] #1128 closed, assigned to nobody

[2020-01-07 18:00] yarikoptic opened #1133 "Incompatible with HDMF 1.5.0 - fix here or in hdmf?"
## Description

Currently pynwb hardcodes
[code]
but there is 1.5.0 release of hdmf.  Apparently that release breaks compatibility with pynwb, e.g.

[code]
probably (didn't check) because of  https://github.com/hdmf-dev/hdmf/commit/15b8de5fbcd6f26b2877f926cd8b9888123671b6 .  I wondered to suggest compatibility import fix to hdmf, but before that decided to check here on what would be desired strat

[2020-01-07 18:25] rly commented on #1133
@yarikoptic A new release of pynwb that is compatible with nwb-schema 2.2.0 and hdmf 1.5.0 is pending and should be released later this week. Our current strategy is to pin each version of pynwb with a particular version of hdmf (as you noted) that we know is compatible, but we are open to other strategies as well.

[2020-01-07 20:48] yarikoptic commented on #1133
awesome, thanks!

Well, the only strategy I could recommend is to try to "not be special" ;) i.e., do the same as other projects/libraries do, e.g.

- with respect to semantic versioning - not break API without boosting major version.  Then dependent projects (e.g. `pynwb`) would just need to declare minimal required version (e.g. `hdmf>=1.4.0`) allowing for bug fix releases (e.g. `1.4.1`) and bac

[2020-01-07 22:09] oruebel commented on #1133
@yarikoptic I think the bottom line is that we should be more strict on the versioning. I think the main difference in how we have set version numbers so far is that for version X.Y.Z we have:

* Increment Z for bug fix releases that don't change the API
* Increment Y for releases that add new features or modify the API
* Increment X that make major changes

Part of the problem is that X would gro

[2020-01-07 22:09] #1133 closed, assigned to nobody

[2020-01-08 01:43] yarikoptic commented on #1133
so you need to keep updating the pinned version and everyone is doomed to upgrade pynwb if relevant fix in hdmf is submitted.

I also have a fear of big numbers (so we still have datalad at `0.`), but you must be braver than me! (you are already at `1.`!) (Composing this message in Chromium 76.0.3809.100 -- must be truly brave people).  In DataLad `0.12` would also be quite a "breaker" - but that

[2020-01-08 15:53] epnev opened #1134 "Import pynwb fails on new environment"
## Description

Importing pynwb fails on a new conda environment.

## Steps to Reproduce

[code]

## Environment

    Python Executable: Conda
    Python Version: Python 3.7
    Operating System: Windows, macOS and Linux (all operating systems)
    HDMF Version: 1.1.2 but also earlier versions

Complete conda environment below:

[code]

## Checklist

- [x] Have you ensured the feature or change wa

[2020-01-08 16:12] epnev commented on #1134
It appears that pinning the `hdmf` package to version 1.4 solves the problem. I'd appreciate if you make a note here when this bug is resolved so I can lift this pinning on the caiman package.

[2020-01-08 17:45] oruebel commented on #1134
How did you install HDMF and PyNWB in your conda environment, i.e., using pip, conda, or install via setup.py? It looks like HDMF is pinned to version 1.4 in the requirements.txt of PyNWB.

[2020-01-08 18:42] epnev commented on #1134
Yeah, I see that. Not sure what's going on, I used conda to install pynwb from the conda-forge channel.

[2020-01-09 19:48] MarcinAtNovela commented on #553
@ageorgou Hey, I found your post looking for an example of Data Structure like:
Extention of built-in object e.g. ElectrodeGroup which contains List of my own type: ABC(id, name, ....)
I was trying to use RefSpec(similar way as you did with devices) with no luck as at some point there is no such dtype as ABC acceptable for the nwb? Or maybe I am doing sth wrong? Appreciate your thoughts.

[2020-01-10 16:34] bburan commented on #1121
For what it's worth, installing pynwb 1.1.2 from conda-forge pulls in hdmf 1.4.0. Downgrading to 1.3.3 does the trick. Seems to be a packaging error if conda is pulling in the wrong version of hdmf.

[2020-01-11 02:27] rly commented on #1121
Thanks, everyone. The conda packaging error should be fixed now. See https://github.com/conda-forge/pynwb-feedstock/pull/22. pynwb 1.1.2 should pull hdmf 1.3.3 and not the latest hdmf.

[2020-01-11 02:34] rly commented on #1134
@epnev This should now be fixed once the conda-forge servers update (in 30 min to 2 hours). This was an issue with the PyNWB requirements not specifying the required version of HDMF in the conda configuration. Please retry `conda install pynwb -c conda-forge` and let me know if hdmf==1.3.3 is not installed.

[2020-01-11 15:42] epnev commented on #1134
It works, thanks!

[2020-01-11 15:42] #1134 closed, assigned to rly

[2020-01-15 00:57] yarikoptic commented on #1133
another observation is that with such strictly pinned versioning in pynwb, ATM  we cannot even just "pip install -e ." dandi-cli, which declares dependency on pynwb and demands some version of hdmf whic is not 1.1.2:
[code]
but as a result, we are getting hdmf 1.5.1 and pynwb 1.2.1 installed and pip only complaining that
[code]
see https://github.com/dandi/dandi-cli/pull/35/checks?check_run_id=389

[2020-01-15 01:34] rly commented on #1133
I've been running into the pip issue as well. `pip install pynwb` (recommended) will install the correct version of HDMF. `pip install pynwb hdmf` will result in an incompatibility error. It's frustrating that pip detects the incompatibility, but 1) doesn't fix it and 2) still exits with exit code 0. I recommend running a `pip check` after doing `pip install`, which will return a non-zero exit cod

[2020-01-15 03:44] yarikoptic commented on #1133
Sounds good to me besides

shouldn't be necessary for fixes in hdmf which do not break compatibility with pynwb.

[2020-01-16 20:17] #1111 closed, assigned to nobody

[2020-01-17 02:30] yarikoptic opened #1143 "Automagically load necessary Python modules for extensions registered in nwb-extensions"
It might be that it is already intended, but found no issue yet, thus decided to be the one to "report" since I found no mentioning of nwb-extensions among issues or in the code.

ATM, `NWBHDF5IO(...).read()` would fail with an exception like `'AIBS_ecephys' not a namespace"` leaving user baffled on "what have I done wrong?" or "how do I fix that?".  If registry (I am still not sure if it captures

[2020-01-17 02:36] yarikoptic opened #1144 "Define a dedicated Exception class to report missing neural datatypes"
ATM:
[code]
so it is a very generic `KeyError`, so until #1143 is implemented, for programmatic handling of such situations it requires regex matching of the exception message to decide that it is indeed the exception reporting missing type, and extracting the name.  Ideally it should be a dedicated exception with ease access to the name of missing type (e.g. via attribute of that exception).

[2020-01-17 21:13] rly opened #1147 "Set minimum dependency requirements in setup.py and release 1.2.0"
Currently, the latest version of PyNWB is incompatible with the latest version of HDMF. Doing `pip install pynwb hdmf` will fail.

Plan:
- [x] Add requirements-min.txt and make setup.py read from that
- [x] Add CI tests with the minimum requirements
- [x] Update documentation regarding the requirements files
- [ ] Make PyNWB release 1.2.0. To get compatibility between the latest PyNWB and the late

[2020-01-21 20:29] rly opened #1152 "Pytest cannot run abstract classes in new testing module"
The new `pynwb.testing` module includes the abstract classes `TestNWBH5IOMixin` and `TestAcquisitionH5IOMixin`. The `unittest` test runner works fine, but people who use `pytest` (including @bendichter) run into errors when running the new tests. The problem is that `pytest` automatically runs any test classes that start with 'Test*'.

Since there is no need for the abstract test class to start wi

[2020-01-22 04:56] rly commented on #1152
Fixed by #1153

[2020-01-22 04:56] #1152 closed, assigned to nobody

[2020-01-22 04:58] rly commented on #1147
Fixed by #1148

[2020-01-22 04:58] #1147 closed, assigned to nobody

[2020-01-22 06:05] rly commented on #1107
Fixed by #1117

[2020-01-22 06:05] #1107 closed, assigned to nobody

[2020-01-22 22:30] rly opened #1157 "NWB files without cached namespaces do not validate"
Example: The Allen Institute Visual Coding NWB files do not have cached specs.
[code]
Output:
[code]

It looks like when there are no cached specs, the validator tries to validate the file against the hdmf-common-schema, but the file uses the data type key `'neurodata_type'` instead of `'data_type'`.

[2020-01-22 22:34] rly commented on #1157
Using the default validate function, however, seems to work:
[code]
output:
[code]

[2020-01-22 22:36] t-b commented on #1157
@rly Does it work with https://github.com/NeurodataWithoutBorders/pynwb/pull/1094?

We should add some tests using the CLI validation tool as well into `test.py`. This seems to work too differently.

[2020-01-22 22:40] rly commented on #1157
@t-b No, it does not work with #1094. Testing #1094 led me here.

[2020-01-22 22:44] rly commented on #1119
The legacy file `tests/build_fake_data.py` and `tests/build_fake_extension.py` have been removed in #1117, so this is no longer an issue.

[2020-01-22 22:44] #1119 closed, assigned to nobody

[2020-01-27 11:00] t-b opened #1160 "Validator should check reserved attributes like `object_id`"
[...] but for ``object_id`` I think we probably need a separate check.

_Originally posted by @oruebel in https://github.com/NeurodataWithoutBorders/nwb-schema/issues/401#issuecomment-578693821_

[2020-01-28 00:54] rly commented on #1115
Note: the new `Units.spike_times.resolution`, `Units.waveform_mean.sampling_rate`, `Units.waveform_mean.unit`,  `Units.waveform_sd.sampling_rate`, `Units.waveform_sd.unit`, will soon also fall in this category.

[2020-01-29 12:24] t-b opened #1161 "Enhance validation documentation"
Looking at https://pynwb.readthedocs.io/en/stable/validation.html shows only a very short description. Enhance that broadly and also include hints for checking of the embedded schema.

[2020-01-29 12:29] t-b commented on #1091
NWB files should always store the schema which was used to create them in the file itself. With that validation using the embedded schema also passes with future pynwb versions.

This was the conclusion from a dicussion at the hackathon in may 2019 at HHMI. Maybe that is not documented properly? Caching the spec is nowadays also the default, see https://github.com/hdmf-dev/hdmf/commit/6554fa03.

h

[2020-01-29 12:33] t-b commented on #934
Closed via #1036.

[2020-01-29 12:33] #934 closed, assigned to nobody

[2020-01-29 12:35] t-b commented on #621
I'm closing this issue as read support for NWBv1 files is not planned to be part of pynwb.

Feel free to reopen if someone wants to work on that.

[2020-01-29 12:35] #621 closed, assigned to nicain

[2020-01-29 12:38] t-b commented on #881
@nicain Can you verify if this is fixed by https://github.com/hdmf-dev/hdmf/pull/107? If not please reopen.

[2020-01-29 12:38] #881 closed, assigned to nobody

[2020-01-29 12:44] t-b opened #1162 "Add tests for validating NWB files using the CLI interface"
As recent bug reports revealed using `python -m pynwb.validate` vs. the validate method https://github.com/NeurodataWithoutBorders/pynwb/blob/a41eaee7b75405f5aab5d4e6c07709a94feb28c8/src/pynwb/__init__.py#L194 has different behaviour depending on the state of the loaded namespaces.

As a first step it would be good to add some validation tests using [subprocess](https://docs.python.org/3.8/library

[2020-01-29 13:26] yarikoptic commented on #1091
an interesting idea.  do you know any other standard format which stores entire schema of the standard within the file fulfilling that format?

[2020-01-29 17:33] oruebel commented on #1091
Not sure. Most formats don't allow for extensions in the way NWB does, i.e., for most formats storing the version number is sufficient. However, once extensions are being used having the schema in the file is very useful.

[2020-01-30 14:12] t-b commented on #1082
Fixed by #1094. Please reopen if you disagree.

[2020-01-30 14:12] #1082 closed, assigned to nobody

[2020-01-30 14:21] t-b commented on #1058
Okay so I've starting looking into that.

Using  pynwb `a41eaee7 (Fix test runner double printing in non-verbose mode (#1158), 2020-01-27)` and hdmf `13721688 (hdmf/backends/hdf5/h5tools.py: Add mode property to access the file mode (#280), 2020-01-30)` I can still reproduce the issue

[code]

but this error has nothing to do with extensions as the following does fail as well

[code]

and also

[c

[2020-01-30 17:50] MarikeReimer opened #1166 "File Validation Error"
## Description
When I try to validate my NWB files, I get a value error for the namespace.

## Steps to Reproduce
1) Create NWB file in this tutorial:
https://pynwb.readthedocs.io/en/stable/tutorials/domain/ecephys.html#sphx-glr-tutorials-domain-ecephys-py

2) Attempt validation in Jupyter/command prompt.

3) Observe error:
ValueError: data type 'NWBFile' not found in namespace hdmf-common

Jupyte

[2020-01-30 17:52] bendichter commented on #1125
I think this is fixed, right? @rly, should we close?

[2020-01-30 17:53] t-b commented on #1166
Is that the same as https://github.com/NeurodataWithoutBorders/pynwb/issues/1157?

[2020-01-30 18:52] MarikeReimer commented on #1166
They are both validation problems, however the error messages are
different:

1166:

ValueError: builder for container 'root' must have data type defined
with attribute 'data_type'

1166:

ValueError: data type 'NWBFile' not found in namespace hdmf-common

On 2020/01/30 09:53, Thomas Braun wrote:

Links:
------
[1]
https://urldefense.com/v3/__https://github.com/NeurodataWithoutBorders/pynwb/issues

[2020-01-30 19:12] oruebel commented on #1166
From the errors it sounds like this may have to do with move of things from PyNWB to HDMF.

CC @rly @ajtritt f

[2020-01-30 19:28] t-b commented on #1166
I'm happy to (help) tackling that if I can get some pointers.

[2020-01-30 19:37] oruebel commented on #1166
Thanks @t-b  Luckily the hackathon is coming up next week, so if we can't get to it now, then just ping Andrew or Ryan there ;-)

[2020-01-30 19:41] t-b commented on #1090
EDIT: wrong issue.

[2020-01-30 19:44] t-b commented on #1091
@yarikoptic IIRC https://www.nexusformat.org/ does that as well.

[2020-01-30 19:47] rly commented on #1166
I believe this specific error will be fixed by this commit in #1167: https://github.com/NeurodataWithoutBorders/pynwb/pull/1167/commits/1e6a51304e598a1f2eca61c2feba9dd73e86864b

I believe the errors are different between this and #1157 because PyNWB 1.1.2 does not yet incorporate the recently merged PR https://github.com/NeurodataWithoutBorders/pynwb/pull/1094

[2020-02-04 16:26] t-b commented on #1058
So from some playing around I think we need to discuss first what we want to validate against if a namespace file is provided.

The error message states that the core namespace could not be found, this seems to be the case because https://github.com/hdmf-dev/hdmf/blob/594d45ad3094b9f6545a208943b02c22c580c91d/src/hdmf/spec/namespace.py#L436 does try to resolve parent namespaces by default.

Maybe t

[2020-02-04 17:30] #1161 closed, assigned to t-b

[2020-02-04 17:30] #1162 closed, assigned to t-b

[2020-02-04 17:30] #1166 closed, assigned to nobody

[2020-02-04 18:57] rly opened #1169 "Set load_namespaces = True by default?"
Should we set load_namespaces = True by default for `NWBHDF5IO`? I don't see why you would not want to load the cached specs that are usually necessary to read the file, but maybe I am not thinking of a use case.

[2020-02-04 19:00] t-b commented on #1169
The validator should be able to not use the cached spec or?

[2020-02-04 19:03] rly commented on #1169
Yes, but the validator can say load_namespaces=false explicitly and internally.

[2020-02-04 20:35] rly opened #1170 "Copy NWBFile with Subject raises warning"
Copying an `NWBFile` with a `Subject` raises a not very helpful warning about copying a `DynamicTable`:
[code]

[2020-02-04 20:49] t-b commented on #1169
In that case let's do it.

[2020-02-04 21:02] rly opened #1172 "Gallery/example validation tests take a long time"
With the merging of #1164, running the gallery/example test suite now runs validation CLI on the resulting files. This takes 12+ minutes, up from about 3 minutes, and significantly slows down CI, especially if we want to merge a few PRs in one sitting.

I suggest we do the full validation suite of:
[code]
on only one or two example files (particularly one with and without a cached namespace) rathe

[2020-02-04 21:15] t-b commented on #1172
@rly How about only doing the validation tests for the dev branch only?

[2020-02-04 21:24] rly commented on #1172
@t-b are you suggesting doing the validation tests as is only for the dev branch? Or a much smaller subset of validation tests as I suggest above only for the dev branch?

Running all the validation tests for the dev branch would still be slow and add 9 minutes (instead of add 18 minutes) between merges, compared to before #1164. Whenever I merge a PR, I would need to wait for 1) all the tests to

[2020-02-04 22:12] t-b commented on #1172
Use scheduled pipelines every night on the dev branch only.

[2020-02-04 22:53] #1170 closed, assigned to nobody

[2020-02-05 17:39] rly opened #1173 "Improve docs about what needs to be added to file for linkings"
Hackathon feedback:

If a user creates a `Device` using the `Device` constructor and links to it in when creating an `ImagingPlane`, but the user does not add the `Device` to the `NWBFile`, they will get a `BrokenLinkError`. The documentation should clearly state how `Device` objects should be created and added to a file. Same thing for `ElectrodeGroup`, `IntracellularElectrode`, and many other ty

[2020-02-05 17:57] rly opened #1174 "SpatialSeries should accept unit argument"
From the hackathon:

The `SpatialSeries` constructor does not accept a `'unit'` argument and fixes its value to `'meters'`. However, the spec says that the `'unit'` attribute is 1) optional and 2) has a default value of `'meters'`, not a fixed value.

[code]

`'SpatialSeries'` is the recommended type for storing angular data (i.e., where the unit needs to be set to 'radians' or 'degrees'), so it n

[2020-02-06 00:05] t-b commented on #1160
See also https://github.com/hdmf-dev/hdmf/issues/222.

[2020-02-06 18:48] t-b commented on #1157
This should be fixed with #1164.

[2020-02-06 18:48] #1157 closed, assigned to nobody

[2020-02-06 18:49] t-b commented on #1058
@yarikoptic Can you make a draft PR with the changes from yesterday.

[2020-02-06 18:51] t-b commented on #942
Related Issues:
https://github.com/hdmf-dev/hdmf/issues/222
https://github.com/hdmf-dev/hdmf/issues/287

[2020-02-06 21:13] t-b opened #1179 "validator should be able to output machine readable results"
Could be JSON using `--json` in a format like

[code]

[2020-02-07 00:00] bendichter opened #1180 "error opening neuropixel data"
## Description

Trying to read http://api.brain-map.org//api/v2/well_known_file_download/953132529 in pynwb

## Steps to Reproduce

[code]

[code]
## Environment

    conda hdmf-1.6.0 pynwb-1.2.1

## Checklist

- [ ] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues)?
- [ ] Have you included a brief and descriptive title?
- [

[2020-02-07 07:44] yarikoptic commented on #1058
There are some sad patches which are in a branch I won't even disclose here in public in my clones of hdmf and pynwb, and which I sent to @ajtritt  . I will leave their destiny in his trustworthy hands ;-)

[2020-02-07 13:06] t-b opened #1181 "Avoid using `ic` as abbreviation for icephys"
See https://github.com/oruebel/ndx-icephys-meta/issues/36.

We probably should also have `add_icephys_electrode` and show a warning for `add_ic_electrode` in pynwb. In addition the tutorials should use the the function call.

[2020-02-07 15:27] bendichter commented on #1180
Trying to open another file, I got that it couldn't open because the version was missing. I didn't think this through before. I realized that writing without a version would now cause an error, but did not fully appreciate that this would break read on existing Allen datasets. Can we adjust the object mapper to deal with this?

[2020-02-07 17:38] oruebel commented on #1181
@t-b sounds good. I'll address this as part of https://github.com/oruebel/ndx-icephys-meta/issues/36 Closing this issue in favor of the one on the icephys extension.

[2020-02-07 23:17] rly commented on #1180
The error `Could not construct TimeIntervals object due to Column name 'name' is not allowed because it is already an attribute` is because the `/processing/optotagging/optogenetic_stimuluation` `DynamicTable` has a column named `'name'` and the table already has an attribute `table.name` that is the table name, not the column 'name'. I guess this was not checked in an earlier version of PyNWB/HDM

[2020-02-07 23:20] oruebel commented on #1180
I think we should probably do both. I.e., fix the issue so that the files are usable as well as encourage Allen to change the column name in future releases. We probably should also add at least a warning in DynamicTable when such collisions happen.

[2020-02-08 02:03] bendichter opened #1183 "error when reading file with unversioned extension"
Trying to open another neuropixel file, I got that it couldn't open because the version was missing. I didn't think this through before when we decided to enforce this. I realized that writing without a version would cause an error, but did not fully appreciate that this would break read on existing Allen datasets. Can we adjust the object mapper to deal with this?

[2020-02-08 02:06] bendichter commented on #1183
@ajtritt , could you help out with this?

[2020-02-08 06:14] ajtritt commented on #1183
@bendichter  #1184 would demonstrate how to do this, but I'm not sure it's the right solution, since there is no _nwb_version_ argument to the _NWBFile_ constructor.

Can you share the error message?

[2020-02-08 10:06] bendichter commented on #1183
TBH I was pair programing with Matt and I don't remember what file he was opening. I'll ask and try to reproduce myself

[2020-02-08 19:09] t-b commented on #1183
EDIT: wrong thread

[2020-02-08 19:13] t-b commented on #1180
And also tell them to cache the specification:

[code]

using cb5527b6 (Fix copying files with Subject (#1171), 2020-02-04).

[2020-02-08 20:08] bendichter commented on #1180
Good point, @t-b. Those validation errors need to be addressed as well, but do not appear to be the error that is preventing this from being opened.

[2020-02-09 06:46] bendichter commented on #1183
@ajtritt did you catch that this is an issue with the extension version, not the nwb-schema version? This is from one of those files that provided a non-versioned AIBS_ecephys extension

[2020-02-09 08:30] rly commented on #1183
I think reading files with unversioned extensions should be handled in the load namespaces function of HDMF. Take a look at https://github.com/hdmf-dev/hdmf/pull/292 which should fix it.

[2020-02-09 19:03] bendichter commented on #422
It looks like I should not have closed this, because the solution really did not address the underlying problem, which has reappeared in new datasets. `Images` now is a collection, which allows it to contain individual image objects of different forms. It's essentially just a bag of images with no constraint about the forms of those images being the same. You can even put grayscale images next to

[2020-02-10 07:36] bendichter opened #1186 "backwards compatibility issues in ipfx"
When trying to update ipfx from pynwb==1.0.1 to pynwb==1.2.1, I run into this error:

[code]

The `unit` arg was removed because it is fixed in the schema. Could we put it back and include a warning that it will not be used?

[2020-02-10 07:45] bendichter commented on #1101
we also need DynamicTableRegion

[2020-02-10 18:47] #1183 closed, assigned to bendichter

[2020-02-10 22:29] rly commented on #1186
In PyNWB 1.1.0, we changed the function signature of `PatchClampSeries` subtypes to remove the `unit` argument, which became hardcoded to `'amperes'` or `'volts'` according to the updated schema. In retrospect, this was a serious mistake as it breaks backward compatibility with code that instantiates one of these objects _using positional arguments_.

I see two approaches moving forward here:
1) A

[2020-02-10 22:36] bendichter commented on #1186
I'm strongly in favor of 2. Getting people to change from a positional to kwarg will not be hard. Forcing them to include incorrect information will be confusing for everyone and will break compatibility for the current version

[2020-02-10 22:57] rly commented on #1186
To be clear, they would not be including incorrect information. Just extraneous information. e.g., `unit='volts'` would have to be passed in every time. But point taken. I now think 2 is better.

[2020-02-10 23:56] rly opened #1189 "Use keyword-only arguments in neurodata_type constructors"
**Problem**:
For the spec of a given neurodata_type, if we make a required group/dataset/attribute/link optional, then in the PyNWB API, the only way to make the field optional in the constructor is to add `'default': None` to the docval of the field. If the field has a required field following it in the docval list of fields, and if the user provides positional arguments, then the parsing of argu

[2020-02-11 00:29] #1186 closed, assigned to nobody

[2020-02-11 01:10] rly opened #1190 "Min requirements CI failing on Windows"
The Azure test for python 3.5 using the minimum requirements is failing due to the following error. It happens non-deterministically. It is probably a weird interaction between h5py, windows, and pandas.

[code]

[2020-02-13 00:24] bendichter opened #1192 "error reading ophys file with latest"
This error does not occur with the most recent release, just with the latest from dev branch:

[code]

[code]

[2020-02-13 20:31] rly commented on #1192
Which nwb-schema commit are you using?
[code]
The hash should start with 3939e35. If it starts with 571bfb0, then you are on the latest nwb-schema version, in which case, you should use the `enh/update_schema` branch from https://github.com/NeurodataWithoutBorders/pynwb/pull/1146 . The recent schema change to allow multiple optical channels has to be accompanied by this fix: https://github.com/Neu

[2020-02-17 23:13] bendichter opened #1193 "get column through `DynamicTableRegion`"
This works:
[code]
But you can't use the same syntax with a `DynamicTableRegion`, for instance when you get the `electrodes` field from an `ElectricalSeries`. This doesn't work:
[code]

I'd like for you to be able to get a specific column of a `DynamicTableRegion`. This would pull the specific column from the target table and would return the specific region that is defined within the `DynamicTabl

[2020-02-20 01:20] rly commented on #1190
This error is apparently resolved in h5py 2.10. It is due (again) to an h5py/Windows on Python 3.5 interaction where floating point values are read stochastically as `np.float128` (dtype code 'g') instead of `np.float64`, and pandas is not happy with that. See https://github.com/h5py/h5py/issues/1051 and https://github.com/h5py/h5py/pull/1134 for more information.

I cannot think of a clean way to

[2020-02-20 15:45] ajtritt commented on #1169
One thing to consider... The API is written to support the most current state of the specification. This might not play well with an old version of the spec.

[2020-02-20 21:27] #1172 closed, assigned to nobody

[2020-02-21 01:54] #1190 closed, assigned to nobody

[2020-02-24 06:02] luiztauffer opened #1198 "OptogeneticSeries.__init__: missing argument 'site'"
`pynwb==1.2.1` and `hdmf==1.6.0`

When reading from a file with `OptogeneticSeries` object, i get the following error:
[code]

Code to reproduce error:
[code]

Full error track:
[code]

[2020-02-24 08:35] luiztauffer commented on #1198
Ok, it was my mistake, jut needed to add:
`nwbfile.add_ogen_site(ogen_stim_site)`

But maybe would be a good idea to write this instruction on [ogen documentation](https://pynwb.readthedocs.io/en/stable/pynwb.ogen.html)?

[2020-02-24 08:35] #1198 closed, assigned to nobody

[2020-02-25 10:25] luiztauffer opened #1199 "Cannot iteratively write rois for PlaneSegmentation"
`pynwb==1.2.1` and `hdmf==1.6.0`

For a `PlaneSegmentation` object, when trying to `add_roi()` using a `DataChunkIterator` it raises the error:
`TypeError: 'DataChunk' object does not support indexing`

Here's a code for reproducing it:
[code]

The `TwoPhotonSeries` data uses `DataChunkIterator` and gets properly stored, if rois are not passed. Rois are properly stored not using `DataChunkIterator

[2020-02-28 22:38] #1101 closed, assigned to nobody

[2020-02-29 07:01] oruebel commented on #1181
This is actually hard to address in the subclass. I'm reopening this issue and will submit a PR to fix this in PyNWB directly

[2020-03-03 03:16] #1181 closed, assigned to nobody

[2020-03-05 01:07] pkollias opened #1203 "add_unit after write-close returns chunked datasets error"
Hi,
we are having some difficulties adding units to our nwb file. We are trying to add units in separate parts of our code. It seems that after writing and closing our file, upon reopening and adding again we get an error
`TypeError: Only chunked datasets can be resized`

I attach some simplified code that replicates the problem and is based upon the example code provided with the package:

[code]

[2020-03-05 09:22] bendichter commented on #1203
@pkollias Thanks for the good bug report! As the error suggests, HDF5 Datasets can only be resized (appended after write) if they were stored as "chunked." It is common that users want to do this for rows of a `DynamicTable`, but this is not the default behavior, and doing this isn't 100% straightforward, especially for indexed columns like spike times (which would actually require both spike_time

[2020-03-05 16:14] pkollias commented on #1203
Thanks Ben,
that makes sense. To answer your question we have structured our code modules and pipeline so that for large datasets we do the processing by electrodes or electrode groups
For now we have an easy work-around so that should not be a problem.

[2020-03-06 18:46] NileGraddis commented on #668
EDIT @rly

I am running into the same set of problems (container source, default linking) while attempting to carry out the same read -> modify -> write separately workflow. As a workaround, I can:
1. read the file into a BytesIO
2. make an h5py.File from the BytesIO
3. make an NWBDHF5IO from the h5py.File
4. read and modify the NWBFile
5. traverse the NWBFile, setting container_source to the repr

[2020-03-06 19:41] rly opened #1204 "Adding electrode column rel_x causes unintended behavior"
In PyNWB 1.3.0, `rel_x`, `rel_y`, `rel_z`, and `reference` were added as optional columns. However, existing code in SpikeInterface adds these columns and no longer works. See https://github.com/SpikeInterface/spikeextractors/issues/323

Adding a column that already exists in the electrodes table should raise an error. It does not do this because of a bug in how I initialized the electrodes table.

[2020-03-06 19:57] oruebel commented on #1204
If I understand the issue correctly, then the problem is that the users added a column that previously was custom but is now part of the spec. In general, I think there are two cases: 1) the custom column the users wants to add is compliant with the schema, in which case we could should add the data and raise a DeprecationWarning to let them know to change their code or 2) the custom column has th

[2020-03-06 20:02] oruebel commented on #668
@NileGraddis would this https://pynwb.readthedocs.io/en/stable/tutorials/general/scratch.html#copying-an-nwb-file workflow work for you?

[2020-03-06 20:15] NileGraddis commented on #668
@oruebel

Thanks for the quick reply! I think that is almost there, except that I would like the copy to be deep rather than shallow - we're using this in a processing pipeline which incrementally adds to an nwb file which ought then to stand alone.

[2020-03-06 20:29] rly commented on #1204
You got it.

I think this is dangerous, because we do not know whether what the user intends is exactly what the new column specifies. Also, practically, I don't think it is possible to specify a data type for a user-defined column. So it would be highly unlikely that a user-defined column would perfectly match the new specification of the same column (name, description, dtype, indexed), so if we

[2020-03-06 21:46] bendichter commented on #1204
Let's just throw a warning and stick with the core. Usually this occurs
when a package is anticipating a release and leading the change, so I think
the chances of it matching the new optional column are quite high.

On Sat, Mar 7, 2020, 9:29 AM Ryan Ly <notifications@github.com> wrote:

[2020-03-06 23:37] oruebel commented on #668
@NileGraddis if you want a full physical copy of the file, then you could just copy the file first and then open the copy. [HDF5IO.copy_file](https://hdmf.readthedocs.io/en/latest/hdmf.backends.hdf5.h5tools.html#hdmf.backends.hdf5.h5tools.HDF5IO.copy_file) can do this (which is useful if you need to resolve external links) or you could just do standard python

[code]

to copy the file.

[2020-03-08 19:39] bendichter commented on #1180
@t-b I take it back. When I delete the "names" column using h5py, the timestamps shape now prevents this file from being opened as well:

[code]

[2020-03-10 16:46] NileGraddis commented on #668
@oruebel

Copying the file is certainly another workaround, though it requires that the intended output is an h5 file on disk, which might not be true in the future!

I suppose that the main concern I have about my workaround is `container_source` - I'm not thrilled to rely on updating a private attribute, which might be changed in the future! I am also a bit confused about the purpose of containe

[2020-03-11 16:49] t-b opened #1206 "https://pynwb.readthedocs.io/en/latest/ is outdated"
At least the title is set to

[code]

which is not correct.

[2020-03-11 20:03] rly commented on #1206
@t-b I think that is correct. PyNWB - the software - is at version 1.3.0. The NWB schema is at 2.2.2.

[2020-03-11 20:07] t-b commented on #1206
@rly Dooh! Sorry for the noise.

[2020-03-11 20:07] #1206 closed, assigned to nobody

[2020-03-15 22:35] yarikoptic opened #1207 "Suggestion: Keep release notes in local CHANGELOG.md and not (only) on github releases"
I needed to know since which version of pynwb, use of `object_id` was introduced... and I could not find **any** changelog within pynwb.  Then I decided to look at https://github.com/NeurodataWithoutBorders/pynwb/releases where you have it (so only github has it). So it seems to be just a matter of adjusting a workflow.  Instead of preparing changelog on github releases, why not to keep it e.g. wi

[2020-03-17 08:04] rly commented on #1207
Yes, moving the release notes to CHANGELOG.md makes a lot of sense and we should have been doing that before -- it was just convenient to put it with the GitHub release tag. The release notes should also be included on the PyNWB readthedocs page.

Regarding tag text -- our workflow involves use of CI and a [third-party tool](https://pypi.org/project/githubrelease/) to make the release. Then I go i

[2020-03-18 17:59] rly opened #1208 "Device class does not set description or manufacturer"
The `Device` class does not set description or manufacturer.

Thanks @lvsltz for the bug report.

[2020-03-18 18:34] alessandrofelder opened #1210 "reading the internal dataset spec in a custom extension doesn't work as I expect it?"
Apologies if I am missing something here, but I am having a hard time getting NWBHDF5IO to read the specifications in a custom extension to the schema consistently. I have written minimal example code to show what I mean:

I created a custom extension to the NWB schema using this code (generate_dummy_schema.py)
[code]
Then I write a file using this extension (write_dummy_file.py)
[code]
The file l

[2020-03-18 19:01] #1208 closed, assigned to rly

[2020-03-18 19:50] ageorgou commented on #1210
Just to add that the `type 'Uknown'` in the error message refers to `DummyOptophysiology`, the group containing `DummyDataset`. This is unrelated to the main question, I only mention it in case it helps.
(if I remember right, the name isn't displayed because the code is looking for `data_type_def` but we only define `neurodata_type_def`)

[2020-03-18 21:01] bendichter commented on #1210
The line `attributes=[]` is a bit odd. You can just remove that line since you don't have any attributes. I doubt that's what is causing the error, though.

[2020-03-25 06:09] rly commented on #1210
@alessandrofelder @ageorgou Thank you for the detailed bug report and minimum working example. They were very helpful in tracking down the issue. I submitted a PR in HDMF to resolve it: https://github.com/hdmf-dev/hdmf/pull/322 .

[2020-03-25 09:40] alessandrofelder commented on #1210
Thanks a lot, @rly - have tested your changes on the more complex extensions that we are working on, too, and it works as expected 😄

[2020-03-25 11:15] luiztauffer commented on #1204
Maybe it's relevant to that:
when adding a second electrode to a table, if using any the new optionals `rel_x`, `rel_y`, `rel_z`, `reference`, an error occurs.

It manages to add the first electrode, but not the second:

[code]

error:
[code]

[2020-03-25 19:09] rly commented on #1210
@alessandrofelder As you build your extensions, I want to add that we recommend against defining new data types nested within other data type definitions.

In your example, you define the `neurodata_type_def 'DummyDataset'` within the definition of `neurodata_type_def 'DummyOptophysiology'`:
[code]
We recommend that you instead define `'DummyDataset'` independently and include it in your definitio

[2020-03-26 00:53] #1210 closed, assigned to rly

[2020-03-31 18:18] #1207 closed, assigned to rly

[2020-04-09 16:43] yarikoptic opened #1216 ".validate to also provide "warnings""
While accessing an .nwb file we get a number of warnings like
[code]
but those are not communicated if we are `.validate`'ing the file (well, there are other ones like "TimeSeries/data (processing/spikes/Sweep_10): argument missing").  I wonder if there could be a mode may be for `.validate` to not only return errors but also warnings which are issued otherwise?

[2020-04-09 19:55] tbenst opened #1217 "imaging_plane should not require imaging_rate"
Briefly describe the needed feature as well as the reasoning behind it
Currently, an `imaging_plane` requires an `imaging_rate`, which logically is not associated with a plane. A rate is associated with a time-series, so the natural place for this info is in say `TwoPhotonSeries` which indeed supports an optional `rate`.

This is an issue as the same `imaging_plane` could be associated with two di

[2020-04-09 20:14] tbenst opened #1218 "rate is not a property of starting_time"
When I pass `rate` to `TwoPhotonSeries`, it gets stored as an attribute of `acquisition/2p_name/starting_time`. The rate has nothing to do with the starting_time.

**Describe the solution you'd like / Describe alternatives you've considered**
Perhaps `starting_time` should be renamed to timing, or perhaps `rate` should be a property of `acquisition/2p_name/data` instead?

**Additional context**
co

[2020-04-10 00:07] rly opened #1220 "TimeSeries can be written without 'data' dataset"
## Description

The `TimeSeries/data` dataset is required in the NWB 2.0+ schema. However, in PyNWB, you can create a `TimeSeries` without data. This results in a validation error. This has come up before but I forget where. Credit to @yarikoptic for identifying the issue again.

## Steps to Reproduce

[code]
## Environment

    Python Executable: Python
    Python Version: Python 3.7
    Operatin

[2020-04-10 06:01] rly commented on #1220
Also worth noting is that in the NWB schema, the type `ImageSeries`, which extends `TimeSeries`, allows an empty 'data' dataset (`'quantity: ?'`) since the data may be stored as an external image file. So `ImageSeries` is an exceptional case where the child type is allowed to omit a required dataset of a parent type.

[2020-04-10 06:09] rly commented on #1220
This raises the question: should the API be changed so that `TimeSeries/data` is required or should the schema be changed so that `TimeSeries/data` is optional? @oruebel @ajtritt @bendichter thoughts?

[2020-04-10 14:50] ajtritt commented on #1220
If this behavior must be changed, I would prefer making TimeSeries.data required in the constructor, unless there is broad consensus that time-series data can  legitimately be time-series data there without data.

If you can always use the validator to determine if a dataset is fully schema compliant, I don’t see why this is a problem? Does the mere existence of non schema compliant data create a

[2020-04-11 15:09] yarikoptic opened #1222 "Centralize data migrations definitions and handling"
**Is your feature request related to a problem? Please describe.**

NWB is still evolving, quite frequently requiring data migrations. ATM migrations are coded in various places/data types, often with code duplication to handle them (see e.g. https://github.com/NeurodataWithoutBorders/pynwb/pull/1219).  For a user there is no way to discover what really would change in his existing file if he woul

[2020-04-15 03:52] rly opened #1223 "Cannot read file after nwbfile.copy() with Units"
## Description

When reading a file generated from a shallow copy `copy()` on an `NWBFile` with a `Units` table, I get the error:

[code]

## Steps to Reproduce

[code]
## Environment

    Python Executable: Python
    Python Version: Python 3.7
    Operating System: Windows
    HDMF Version: dev

## Checklist

- [x] Have you ensured the feature or change was not already [reported](https://github.

[2020-04-15 19:07] rly opened #1224 "`NWBFile.copy` causes broken link and unexpected referencing"
## Description

Using `NWBFile.copy` to do a shallow copy on an `NWBFile` with an electrodes table, an `ElectricalSeries`, and a `Device` object results in:

1. a broken link in the new file at `/general/devices/Device`
2. the `ElectricalSeries` in the new file (a link to the `ElectricalSeries` in the original file) references the electrodes table in the original file, which is not the same as the

[2020-04-15 19:55] rly commented on #1220
@ajtritt Sorry, I wasn't clear. I think making `TimeSeries.data` required in the constructor makes the most sense. The minor minor issue is that since `ImageSeries.data` makes data optional, 1) we would be allowing subtypes to remove required fields from parent types and 2) inheritance in PyNWB becomes a little wonky because in `ImageSeries.__init__`, I can't pass `data=None` to `super().__init__`

[2020-04-15 20:10] ajtritt commented on #1220
`TimeSeries.data` should be required. `ImageSeries.__init__` should pass `data=list()` if `external_file` has been specified.

[2020-04-15 22:21] yarikoptic commented on #1220
wouldn't this break backward compatibility (in code and ability to load previously saved .nwb files)?

[2020-04-15 22:35] ajtritt commented on #1220
Yup, but we'll bump the version accordingly. We can modify the [TimeSeries ObjectMapper](https://github.com/NeurodataWithoutBorders/pynwb/blob/78ded2eb46d47a8dc400172fbbf97e0be4dbf7aa/src/pynwb/io/base.py#L24) to fill in a default value when reading a data-less TimeSeries.

[2020-04-16 18:14] MarikeReimer opened #1225 "Documentation Bug for Calcium Imaging Data Tutorial"
## Description
I tried viewing the file created in the pynwb Calcium Imaging Data tutorial in a Jupyter notebook with NWB2Widgets.  When viewing the the image segmentation group, I got an error message.

## Steps to Reproduce

1) Go to:  https://pynwb.readthedocs.io/en/stable/tutorials/domain/ophys.html#sphx-glr-tutorials-domain-ophys-py

2) At the bottom of the page, select Download Jupyter noteb

[2020-04-16 18:32] bendichter commented on #1225
@MarikeReimer Thanks for the report. I'm not quite sure what to make of this, but it looks like it may be an error with nwbwidgets, not pynwb. I'm going to move this over there until we can figure out what the root cause is.

[2020-04-27 17:49] chrisroat commented on #230
I think this is a very interesting discussion.  While I've become a user of many of the tools people on this thread are developing, I'm not down in the trenches, so please forgive if my comments here are naive.

It has been pointed out that for full zarr<->NWB integration, zarr would need links and references.  If I take a step back, this feels like it's putting extra pressure and complexity on th

[2020-04-27 19:14] jakirkham commented on #230
If working with Zarr attributes would be sufficient, that seems like a good path forward for getting something working today. Suspect even if links were added in Zarr 3.0 it would be an extension protocol (so not guaranteed to be implemented). Whereas attributes already make sense to keep in Zarr 3.0. So there's a good chance an attribute based solution will work seamlessly between Zarr 2 and 3.

[2020-04-29 15:44] lvsltz commented on #833
Just to make sure, is this still the current behaviour, i.e. data in indexed columns has to be added iteratively?

[2020-04-29 18:37] bendichter commented on #833
@lvsltz I believe you can use `index=VectorIndex(data=[...], ...)` instead of `index=True`

[2020-04-30 06:42] lvsltz commented on #833
Thanks @bendichter for the tip! I'll give it a try

[2020-05-05 21:46] MatthewAitken opened #1228 "Error updating specification of older files during pynwb.NWBHDF5IO.write()"
## Description

When appending data to an NWB file that was written prior to the hdmf-common-schema 1.1.3, updating the specification causes a shape error. Prior to 1.1.3, shape was determined by h5py, but after 1.1.3 shape is set to (). When the specification updates, this error occurs (specifically when updating specifications/core/2.2.4/namespace). The old spec had the shape (1,), while the new

[2020-05-06 19:39] jakirkham commented on #230
@oruebel @chrisroat, I wonder if you could stop by the Zarr meeting in 2 weeks? This would be an interesting use case to discuss and timely as well since we are working on the Zarr v3 spec. Details in issue ( https://github.com/zarr-developers/community/issues/1 ). Please check the latest comment for agenda, call link, and meeting time.

cc @thewtex (who may be interested in this or know others wh

[2020-05-07 00:43] chrisroat commented on #230
Yeah, I could stop in.  It's on the calendar.  Tagging @bendichter from NWB.

I think MATLAB would be an important use case, from my brief time in neuro now.
https://github.com/zarr-developers/community/issues/16#issuecomment-610058976

[2020-05-07 16:03] t-b commented on #1228
I can't reproduce that here using only pynwb.

Things to check:
- Are using a previous NWB file not generated using pynwb? Maybe from MIES/IPNWB?
- If you are using a local git checkout are you sure you've updated the nwb-schema submodule to the correct version?

Here is what I did:

[code]

recipe.py:

[code]

Screenshot from silx view:
![grafik](https://user-images.githubusercontent.com/1185677/

[2020-05-07 20:44] t-b commented on #1228
So the problem is only there if the original file was written by MIES.

Here is the full stacktrace:
[code]

and an example file -> [HardwareTests-V2.zip](https://github.com/NeurodataWithoutBorders/pynwb/files/4595691/HardwareTests-V2.zip)

[2020-05-07 20:47] thewtex commented on #230
@jakirkham I will plan on attending the next meeting, too.

@mgrauer

[2020-05-08 18:48] t-b commented on #1058
@yarikoptic @ajtritt Any chance that these patches can be made publishable? I hate to write an extension and don't have it validated.

[2020-05-09 00:56] yarikoptic commented on #1058
I will stand my grounds of ignorance and blissfully point to @ajtritt ;-)

[2020-05-12 17:10] yarikoptic opened #1230 "user-central configuration defining experimenter, institution, lab, ... defaults"
An idea came up while watching @rly 's tutorial.  As those fields are optional, they could often be forgotten to be entered etc. And in many (not all) cases some or all of them would be common for many (if not all) produced .nwb files   .  So I thought, why similar to `git` having a configuration with user.name and user.email there couldn't be some `~/.nwbconfig` file with section `defaults` provi

[2020-05-12 21:40] oruebel commented on #1230
I agree that this could be a very useful feature.  I believe @bendichter is doing something like this in his conversion tools  https://github.com/catalystneuro/nwb-conversion-tools

[2020-05-13 13:49] yarikoptic commented on #1230
yes, it could be implemented in the tools above pynwb, and be ad-hoc to them. It is just because ATM majority of interaction with pynwb is happening directly at the user level (all the tutorials for data conversion etc use pynwb directly), I thought it might be worthwhile generally at pynwb level.

[2020-05-13 16:12] oruebel commented on #1230
I do agree with you that this is something that would be useful at the PyNWB level

[2020-05-14 20:35] rly opened #1231 "Improve documentation for MultiContainerInterface"
## Description

When a user creates a custom API class that extends `MultiContainerInterface` but they define their own constructor, then when a file is written with the extension and loaded back, the children `Container` objects of the custom `MultiContainerInterface` are not set as children.

This is because the constructor for `MultiContainerInterface` with docval arguments is not auto-generate

[2020-05-14 22:11] NileGraddis opened #1232 "load_namespaces assumes an h5 file on disk"
## Description

If an NWBHDFIO is constructed by passing an h5py.File to its file parameter, it should use that file for all of its IO operations, rather than opening a new one from the argued path. [`load_namespaces`](https://github.com/hdmf-dev/hdmf/blob/bd2b00541cd47b37ddb7bbbafd08059a8b875866/src/hdmf/backends/hdf5/h5tools.py#L91) tries to open `path` as a new h5 file, rather than using the pr

[2020-05-14 22:55] rly commented on #1232
Good point, and should be an easy fix. I'll take a look.

[2020-05-15 17:00] #1228 closed, assigned to nobody

[2020-05-15 17:51] #1232 closed, assigned to nobody

[2020-05-15 18:32] NileGraddis commented on #1232
@rly thanks for the rapid fix to hdmf! I think a companion change to [this line](https://github.com/NeurodataWithoutBorders/pynwb/blob/dad658a99e01d5edcd84b56c22e5dc26b4425a31/src/pynwb/__init__.py#L230) might be needed to get this working in pynwb

[2020-05-15 18:46] rly opened #1234 "Flake8 issues"
`flake8==3.8.1` catches a few new flake8 errors that are making CI tests fail:

[code]

[2020-05-15 20:42] #1234 closed, assigned to nobody

[2020-05-18 14:21] bendichter commented on #1204
@rly can you look at Luiz's code? It looks like you can't use `rel_x`, `rel_y`, `rel_z` at all in the latest version.

[2020-05-18 21:46] rly opened #1236 "Store the git hash of the nwb-schema submodule in the NWBFile"
## Description

In the event that the nwb-schema submodule of PyNWB is accidentally updated to a non-release version (the default git branches of nwb-schema and hdmf-common-schema contain the bleeding edge and not necessarily the latest release), then storing the git hash of the loaded submodule in the file would help decipher which unreleased version of the schema was used.

Note: the current wor

[2020-05-18 21:53] ajtritt commented on #1236
The NWBFile  will need a place to store this information.

I think adding an attribute is a logical place to do that.

https://github.com/NeurodataWithoutBorders/nwb-schema/blob/7931e59ad1e97433ce4a450fa5bc2dab81af6f8d/core/nwb.file.yaml#L7-L12

[2020-05-18 21:58] oruebel commented on #1236
Just for clarification do you envision this to be an attribute on the NWBFile (like nwb_version) or as an attribute on the group with the cached schema?

[2020-05-18 22:08] ajtritt commented on #1236
On the NWBFile

[2020-05-18 22:45] rly opened #1237 "Fix documentation for electrodes"
See https://github.com/AllenInstitute/AllenSDK/issues/1482#issuecomment-627491227

1. The description to `ElectrodeTable` should be `'Add an electrode to the electrodes table'` not `'Add a unit to the unit table'`
2. The `imp` documentation should specify units of 'ohms'. nwb-schema should also be updated.
3. The `filtering` documentation should specify that at least the name and frequency cutoffs

[2020-05-19 04:58] lfrank opened #1239 "Bug in appending to NWB file"
## Description

I'm getting errors when I try to open an NWB file for appending

## Steps to Reproduce

Download https://www.dropbox.com/s/gxdz6zbdp6ayxhu/beans20190718s1.nwb?dl=0

Run
[code]
## Environment

    Python Executable: Conda
    Python Version: Python  3.7
    Operating System:  macOS
    HDMF Version: 1.3.0

[outputfile.txt](https://github.com/NeurodataWithoutBorders/pynwb/files/46482

[2020-05-23 20:31] lfrank commented on #1239
Another effort that produces a different error. Let me know if this should be a separate bug report:

[code]
results in

[code]

[2020-05-29 08:09] rly opened #1244 "Add documentation on PRs and preparing a release"
Preparing a release is a many step process that should be published on the PyNWB read the docs. This is a draft that I have been working with and adding to.

TODO consult the most up-to-date software process for the schema repos and update this accordingly: https://hdmf-common-schema.readthedocs.io/en/latest/software_process.html

[2020-06-03 17:21] bendichter opened #1247 "add nwb-schema table to docs"
It would be nice if we had a table showing what version of nwb-schema is used by each pynwb release

[2020-06-03 23:48] #1204 closed, assigned to nobody

[2020-06-09 19:28] lfrank opened #1250 "Add device entry for each data acquisition object"
Many experiments involve collecting data from multiple sources simultaneously. In our case we have both the main data acquisition system and cameras which produce separate data streams. It would be helpful for data objects (e-series, imageseries, etc.) to have an optional Device field that would allow specification of the Device that was used. As new extensions that provide useful information abou

[2020-06-10 03:44] rly opened #1251 "Make `NWBFile.identifier` resetable before it is written"
From @yarikoptic via slack

When constructing an `NWBFile`, `identifier` is required (but see #954 which suggests making it optional), and once set, it cannot be changed. This means the following workflow will not work:

@yarikoptic would like to be able to construct an `NWBFile` with a dummy identifier and update it later before writing the `NWBFile`.

## Checklist

- [x] Have you ensured the fea

[2020-06-12 22:53] kir0ul commented on #668
Hi,
I have the same use case: I would like to copy a few data interfaces below I get in an NWB file from Suite2p to another _main_ NWB file.
[code]
As long as the NWB object is in memory, everything is fine, but when I try to write it on disk, I get the same error with the `container_source` referencing the old NWB file.
AIso the problem with [copying as suggested here](https://github.com/Neurodat

[2020-06-12 23:31] oruebel commented on #668
https://github.com/hdmf-dev/hdmf/pull/326 should address this issue

[2020-06-16 13:51] bendichter opened #1252 "allow lists of strings to be stored as fixed length"
Currently, pynwb saves all vectors of strings as a variable-length vector object. This object is very flexible, but often is not an optimal solution. Compared to the fixed-length counterpart, the variable-length object often is larger and takes longer to read and write. It is also less interoperable with, for instance, the Zarr backend. I would like to be able to instruct pynwb to write string dat

[2020-06-16 14:30] t-b commented on #1252
@bendichter What is your desired data type in HDF5 terms?

[2020-06-16 18:19] oruebel commented on #1252
@t-b this would amount essentially to a char array

@bendichter there are a couple of issues to consider here:
- Looking at the h5py docs, fixed length strings are ASCII only http://docs.h5py.org/en/stable/strings.html#fixed-length-ascii
- Using fixed length may lead to loss of data if one later wants to append elements to the dataset with strings that are longer than the chosen fixed type
- If th

[2020-06-16 18:53] bendichter commented on #1252
Yes, fixed length strings are a bit less flexible. This is why I'm not pushing for this type by default, but as a user option. That's why I proposed putting it in `HDF5IO`. I don't see how a user would change Builder behavior, so I would guess that changes to the Builder would change default behavior, which is not what I want, for the reasons you mentioned.

I am imagining some added flexibility i

[2020-06-16 19:23] oruebel commented on #1252
For this, as a test I would try to set the column to a numpy array with ``dtype='S10'``. I think since this is a custom column that dtype should probably be just passed through as is, i.e., I think this should already do what you want.

[2020-06-17 11:18] t-b commented on #1252
@oruebel Thanks for the explanation. I  think supporting a new string datatype which is ASCII-only is not the right direction.

[2020-06-17 15:33] bendichter commented on #1252
@oruebel I tried what you suggested and it's not working for me, though I may not be doing it right:

[code]

error for `np.array(['aa', 'bb'], dtype='S10')`:
[code]

and then for good measure I tried using the unicode type, which also did not work (but I don't think I should expect it to).

[2020-06-17 17:12] oruebel commented on #1252
@bendichter it looks like this may be a bug in how string data is handled. It looks like in the build process the data type on the DatasetBuilder is set to ``bytes`` in this  case. I.e., instead of trying to create the dataset with the ``'S10'`` data type, ``create_dataset`` is being called with ``dtype=np.bytes_`` and h5py does not seem to like that data type. I have not had a chance to dig any d

[2020-06-17 18:58] oruebel commented on #1252
@bendichter I've created a simple example with just HDMF and as suspected, it looks like this is an issue in HDMF. I've created the following bug report on HDMF https://github.com/hdmf-dev/hdmf/issues/386

[2020-06-18 02:36] oruebel commented on #1252
https://github.com/hdmf-dev/hdmf/pull/387

[2020-06-18 13:42] bendichter opened #1253 "trouble reading BBP file"
I am having trouble reading [this file](https://drive.google.com/file/d/1jMOkEDMfvuisuCzF48WhWISNLL6KsrDb/view?usp=sharing).

[code]

latest version of hdmf

[code]

[2020-06-18 18:09] bendichter commented on #1253
need to run `import ndx_icephys_meta` first

[2020-06-18 18:09] #1253 closed, assigned to rly

[2020-06-24 14:48] lvsltz opened #1254 "explicit icephys gain docs (stimulus)"
To complete #1128, explicit gain docs should be added to `CurrentClampStimulusSeries` and `VoltageClampStimulusSeries`as well.

So the units should be:
`CurrentClampStimulusSeries` : Volt/Ampere
`VoltageClampStimulusSeries` : Volt/Volt

I would also update the `PatchClampSeries` gain units from **Volt/Amp (v-clamp) or Volt/Volt (c-clamp)** to only **Volt/Ampere or Volt/Volt** because you have both

[2020-06-24 22:52] rly opened #1255 "Pickle the TypeMap for faster loading of PyNWB"
See earlier attempt to do this to speed up `import pynwb`: https://github.com/NeurodataWithoutBorders/pynwb/pull/1050

## Checklist

- [x] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues)?
- [x] Have you included a brief and descriptive title?
- [x] Have you included a clear description of the problem you are trying to solve

[2020-07-10 23:13] rly commented on #1220
Related: `TimeSeries` can also be written without the `TimeSeries.unit` field, which is required. We should make `unit` required in the constructor. As with `TimeSeries.data`, we will modify the `TimeSeries` ObjectMapper to fill in a default value when reading a unit-less TimeSeries.

[2020-07-11 01:46] lfrank opened #1259 "More informative deprecation messages"
Currently at least some deprecation messages do not make it clear what it is that is being depreciated, forcing the user to look into the code. It would be useful to add information about the command that is deprecated. See examples below

`Users/loren/opt/anaconda3/envs/nwbdj/lib/python3.7/site-packages/pynwb/file.py:404:` DeprecationWarning: replaced by NWBFile.processing
  warn("replaced by NWB

[2020-07-14 20:14] bendichter commented on #1250
Hi @lfrank, sorry for the delay. Yes, it's definitely important to associate `TimeSeries` objects with the `Device`s that recorded them. For `ElectricalSeries`, this referencing can be done via `ElectricalSeries.electrodes` -> reference `electrodes` table -> each row is associated with an `ElectrodeGroup` -> references a `Device`. You have something similar with `TwoPhotonSeries`. Do you think thi

[2020-07-15 18:36] rly commented on #1250
Hi @lfrank, as @bendichter mentioned above, many different acquisition data types already have `Device` objects associated with them, though the association is currently indirect. We can add a function for `ElectricalSeries` in PyNWB that returns a list of devices associated with each electrode, and similarly for `RoiResponseSeries`. Would this suit your needs?

[2020-07-15 19:00] bendichter commented on #1259
@lfrank is #1261 along the lines you were thinking?

[2020-07-15 20:24] rly commented on #1250
@lfrank I see that a generic `ImageSeries` does not have a way to link to a `Device` and that the novela extension added this. I created a PR in https://github.com/NeurodataWithoutBorders/nwb-schema/pull/454 to fix this in the core NWB.

[2020-07-16 07:57] amchagas opened #1262 "Add NeuroDataWithoutBorders to open-neuroscience.com"
Hello!

We are reaching out because we would love to have your project listed on [Open Neuroscience](<https://open-neuroscience.com>), and also share information about this project:

Open Neuroscience is a community run project, where we are curating and highlighting open source projects related to neurosciences!

Briefly, we have a website where short descritptions about projects are listed, with

[2020-07-16 13:37] bendichter commented on #1262
Thanks for reaching out. I submitted the form

[2020-07-16 13:37] #1262 closed, assigned to nobody

[2020-07-16 16:47] lfrank commented on #1259
@bendichter Yes, very much so. Thanks...

[2020-07-16 16:49] lfrank commented on #1250
@rly @bendichter Thanks to both of you, and I was mostly thinking of the image series, which, as you noted, didn't have a way to link to a device. I should add, though, that in a perfect world one could link back to a list of devices. We've used the electrode_group device to refer to the probe that was used, but of course  the headstage and data acquisition system that are also critical to actuall

[2020-07-17 15:32] #1259 closed, assigned to nobody

[2020-07-21 01:33] rly opened #1263 "If ImageSeries external_file is provided, starting_frame should be required"
## Description

In the NWB schema, `starting_frame` is a required attribute of `external_file` which is an optional dataset of `ImageSeries`. If `external_file` is provided, PyNWB should enforce that `starting_frame` is provided.

## Environment

    Python Executable: Conda or Python
    Python Version: Python 3.5, 3.6, or 3.7
    Operating System: Windows, macOS or Linux
    HDMF Version: Versio

[2020-07-21 05:22] bendichter commented on #1263
I think it should have a default value of 0

[2020-07-21 06:09] rly commented on #1263
Yeah, that makes more sense than requiring it. My guess is, 95% of the time, there will be one file and the starting frame will be 0. `starting_frame` is an array, so it would actually be a default value of [0].

[2020-07-23 00:12] rly opened #1266 "Inconsistency between APIs for NWBContainer, NWBData, and DynamicTable"
`NWBContainer` and `DynamicTable` represents groups and `NWBData` represents datasets. The `_fieldsname` property differs between the three of them and is confusing and unintuitive.

`NWBContainer._fieldsname` is `'__nwbfields__'`
`DynamicTable._fieldsname` is `'__fields__'`
`NWBData._fieldsname` is `'__fields__'`

This is because only `NWBContainer` redefines the `_fieldsname` attribute. The othe

[2020-07-23 00:16] rly commented on #1266
Alternatively, we could redefine `DynamicTable` within PyNWB and change the `_fieldsname` attribute to `__nwbfields__` and also set `NWBData._fieldsname` to `__nwbfields__`. This may be easier to implement, BUT then code that imports `hdmf.common.DynamicTable` would no longer be equivalent to code that imports `pynwb.core.DynamicTable`, which will probably break some other people's code and be gen

[2020-07-23 20:46] rly commented on #1266
Related to this, currently all `NWBData` subtypes define `__nwbfields__` but this is a big - the fields name needs to be `__fields__` for the getters and setters to be generated correctly. For example, the generated setter blocks resetting of attributes. So, the following code is possible when it should not be because the custom setter was not created:
[code]

[2020-07-24 00:42] #1263 closed, assigned to rly

[2020-07-28 17:47] bendichter opened #1268 "docval doc for the data field of all TimeSeries types should explicitly mention dimensions"
It is a common mistake for new users of PyNWB to write the data field of a TimeSeries object in the wrong orientation. While it is possible for them to see the correct orientation in the nwb-schema docs, or in the best practices page, they rarely check these, instead relying on the PyNWB API documentation. It would make the API more user-friendly if they docs for all the TimeSeries were explicit a

[2020-07-28 19:56] rly opened #1269 "Add sphinx-gallery testing for Python 3.8"
As of #1267, CI testing of sphinx-gallery is not performed on Python 3.8 because the latest version of allensdk does not support Python 3.8. When allensdk is updated to support Python 3.8, re-add CI testing of sphinx-gallery on Python 3.8.

## Checklist

- [x] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues)?
- [x] Have you

[2020-07-29 22:19] kir0ul commented on #668
It seems that this has been fixed, has it?
I can find an [export method in the HDMF docs](https://hdmf.readthedocs.io/en/latest/export.html) but I can't find any `NWBHDF5IO.export()` as written [here](https://github.com/hdmf-dev/hdmf/pull/326#issuecomment-613803790).

[2020-07-29 22:57] rly commented on #668
If you use the latest PyNWB with the latest HDMF, then you can call the export method on `NWBHDF5IO`. Technically conda and pypi will say that the latest PyNWB is not compatible with the latest HDMF. This will be fixed in the next release, so I'll close this issue then.

Removal of objects from an in-memory NWBFile before exporting is not supported in PyNWB yet, but will be supported in an upcomin

[2020-07-30 19:39] #1268 closed, assigned to nobody

[2020-07-30 20:06] #1237 closed, assigned to rly

[2020-07-31 18:09] rly opened #1273 "AnnotationSeries docstring refers to code that doesn't exist"
## Description

The docstring for AnnotationSeries says:
[code]

Of the four methods mentioned, only `add_annotation` exists.

## Environment

    Python Executable: Conda or Python
    Python Version: Python 3.5, 3.6, or 3.7
    Operating System: Windows, macOS or Linux
    HDMF Version: Version of PyNWB used

## Checklist

- [x] Have you ensured the feature or change was not already [reported](h

[2020-08-10 20:07] rly opened #1276 "Timestamps lookup is slow"
## Description

From @lfrank:

Question about lookups in datasets:
Following spike sorting I’m creating a units table. Each unit (from spikeinterface) is an array with the sample “frame” where that unit peaks, which corresponds to an index into the timestamps array:
[code]
where `raw_data_obj` is the electrical series with the raw data.

This for loop takes a very, very long time to run. For an ex

[2020-08-10 20:31] rly opened #1277 "scratch should allow storage of dicts"
From @lfrank. scratch allows storage of np.ndarray, list, tuple, pd.DataFrame, DynamicTable, NWBContainer, ScratchData but not dicts.

[2020-08-11 08:35] hummuscience opened #1278 "R Wrapper?"
Dear NWB Team,

I was wondering if there is an R wrapper for the python API? I looked around Github but could not find one. If that is the case, I will attempt to write one with the hope that some people (besides me) might find it useful.

Best wishes and thank you in advance!

Muad

[2020-08-11 09:21] oruebel commented on #1278
The RAVE team https://openwetware.org/wiki/RAVE was working on accessing NWB files from R as part of the RAVE tool, but I'm not sure what the exact status of that effort is and how complete their NWB R API is. You may want to check with them to see if that will server your needs. For basic data access, some general Python/R interface methods, e.g,. https://rstudio.github.io/reticulate/ , to call P

[2020-08-11 09:21] #1278 closed, assigned to nobody

[2020-08-11 16:37] Gittinator opened #1279 "Non-sequential unit IDs are allowed in file creation, but break a lot of functions."
## Description

Non-sequential unit IDs are allowed in file creation, but break a lot of functions. I am importing a file from KiloSort, where the unit ids are initially fully sequentially, but some are lost due to merging and manual acceptance/rejection of units. I initially just added the units with their KiloSort ID, but when I go to use the file. However, when I go to use the file, there is an

[2020-08-11 23:05] Gittinator commented on #1279
As I look at this further, it looks like the issue is actually only apparently after saving and reloading the data. Also, it appears to happen even with sequentially numbered units.

[2020-08-11 23:34] oruebel commented on #1279
This behavior (and based on the error message) I think this is likely due to h5py slicing syntax being less general than the standard numpy syntax. Before you write the data it is likely stored in a numpy array (or list) and after read it is stored in an h5py.Dataset.

[2020-08-12 16:29] Gittinator commented on #1279
Thanks for the insight, can you think of any way to get around it? I am adding units using "add_unit". The units data structure (after loading it) isn't usable at all since basic methods of iterating don't work.

[2020-08-12 18:57] bendichter commented on #1279
@Gittinator thanks for creating an issue. The following works for me:

[code]

If this does not capture your issue, could you put together a minimal example of the error?

I think the issue is that with that last call- `nwbfile.units.get_unit_spike_times(2)`, you expected it to return the unit that has id=2, not the second unit in the list. Fair enough, but for backwards compatibility this would b

[2020-08-12 19:05] rly commented on #1279
@Gittinator Thanks for the issue ticket. For use of `list(nwbfile.units)` and `for unit in nwbfile.units`, see my next comment.

To iterate over rows of the `Units` table, use the following:
[code]
You can also convert the Units table to a Pandas DataFrame if that is easier to use or visualize:
[code]
You can also access rows of the Units table by ID using the following:
[code]
This syntax returns

[2020-08-12 19:10] rly commented on #1279
Also, `list(nwbfile.units)` and `for unit in nwbfile.units` should behave the same, or at least similarly, for an unwritten `Units` table and for a `Units` table read from file. Currently the code works only for an unwritten table. This is a bug. I created an issue ticket for it here: https://github.com/hdmf-dev/hdmf/issues/417

[2020-08-14 22:33] chriski777 opened #1283 "Backwards compatibility issue: accessing roi_response_data in latest version"
Hello, after updating to the latest version of `pynwb`, we started running into an issue with accessing `roi_response_data`.

The following code block worked with v1.3.3:
[code]

With the new release (v1.4.0), we get the following error:
[code]

[2020-08-14 23:04] rly commented on #1283
@chriski777 thanks for the bug report. What is the name of the `RoiResponseSeries` object in the `Flourescence` object?

And what does `print(nwbfile.processing['ophys']['Fluorescence'])` print?

[2020-08-14 23:27] rly commented on #1283
These lines:
https://github.com/MouseLand/suite2p/blob/58c9036ee2d97fe80d5a822b4685a6d7e11ec428/suite2p/io/nwb.py#L253-L261

create an `RoiResponseSeries` object that is named one of {'Fluorescence', 'Neuropil', 'Deconvolved'} and adds that object to a `Fluorescence` container with the same name.

To access the `RoiResponseSeries` object with name 'x' from a `Fluorescence` variable called 'fl', us

[2020-08-14 23:32] ajtritt commented on #1283
I vote against this.

[2020-08-15 00:23] chriski777 commented on #1283
Got it, thanks a bunch @rly! We'll merge your PR into suite2p as soon as the tests pass.

[2020-08-17 00:22] #1283 closed, assigned to nobody

[2020-08-19 00:52] wbwakeman opened #1285 "Bump pynwb version to 2.0 to reflect breaking change in hdmf"
The HDMF package recently implemented breaking changes which were reflected by the version being increased to 2.0.  Since the PyNWB package is tightly integrated with HDMF, this is essentially a breaking change to PyNWB too.  This should be reflected by increasing the major version value of PyNWB to 2.0 also.

[2020-08-19 07:45] t-b commented on #1285
In which regard has hdmf breaking changes? Only API or schema level (aka on-disc format) as well?

[2020-08-19 15:00] oruebel commented on #1285
@t-b HDMF changes affect the API only. The on-disc format has not changed.

When we did the release, we did not do a major bump for PyNWB because HDMF are primarily "under-the-hood" changes for PyNWB users, rather than front-end changes.

As far as I understand it, the issue is that the allensdk pins both HDMF and PyNWB versions. Ideally, I think it would be best if the allensdk would only specify

[2020-08-19 15:11] wbwakeman commented on #1285
@oruebel Thanks for the response.  I will look into that possibility today

[2020-08-19 19:29] rly commented on #1285
I agree with @oruebel 's comments above.

For reference, more details about the failure case here: https://github.com/AllenInstitute/AllenSDK/issues/1689

[2020-08-22 20:06] dioptre opened #1286 "LSL <-> LabRecorder <-> NWB"
I'd like us to think about bringing LSL to NWB.

**Is your feature request related to a problem? Please describe.**
I'd like to better manage and run complex experiments.

**Describe the solution you'd like**
Support for the NWB format in https://github.com/labstreaminglayer/App-LabRecorder/issues/41 could be great esp if we expand beyond eclectrophysiological experiments.

**Describe alternatives

[2020-08-24 19:37] wbwakeman commented on #1285
Will address this in requirements.txt of ipfx and allensdk

[2020-08-24 19:37] #1285 closed, assigned to nobody

[2020-08-25 03:45] njmei commented on #1285
@rly @oruebel It looks like there is an explicit import of `hdmf` in AllenSDK.

https://github.com/AllenInstitute/AllenSDK/blob/5200c742645434c9a56518bda729b50238ee85f4/allensdk/brain_observatory/ecephys/write_nwb/__main__.py#L13

Wanted to double check with the pynwb/hdmf team that changing:

https://github.com/AllenInstitute/AllenSDK/blob/5200c742645434c9a56518bda729b50238ee85f4/allensdk/brain_o

[2020-08-25 16:42] oruebel commented on #1285
@njmei yes, that will remove the dependency but would also mean that the data would no longer be compressed. @rly I think it would be simplest if we imported H5DataIO in PyNWB main __init__.py so that users can access it directly from PyNWB without having to import it from HDMF. @njmei with regard to the gzip compression, in my experience using the maximum compression level of ``compression_opts=9

[2020-08-25 17:08] njmei commented on #1285
@oruebel Many thanks for the feedback! I'm also unsure why a compression level of 9 was used, but will investigate whether it is necessary. Let me know when `H5DataIO` can be imported from pynwb!

[2020-08-25 17:19] oruebel commented on #1285
@njmei BTW, in the meantime, since HDMF will always be installed with PyNWB, it should still be fine for you to import HDMF classes in the AllenSDK without having to list HDMF as a requirement (i.e., just listing PyNWB should be sufficient).

[2020-08-26 23:53] rly opened #1288 "Files should be validated on write"
Despite our best efforts, it is possible to use PyNWB to write a file that does not validate against the schema. Users should be aware that the file that they just wrote does not comply with the schema and therefore may not work with certain tools.

See also this old discussion: https://github.com/NeurodataWithoutBorders/pynwb/issues/306

Thoughts? @oruebel @ajtritt @bendichter

[2020-08-27 09:17] t-b commented on #1288
@rly I'm all for it! And not just a warning, maybe a flag like `writeInvalidFiles` which needs to be true in this case.

[2020-08-27 17:15] oruebel commented on #1288
Is it possible to run the validator on the builders before write? If so, that would allow us to save cost for having to write and then read the file again and also allow us to prevent any I/O from happening to avoid creating bad files.

[2020-08-27 17:33] rly commented on #1288
@oruebel That should be possible but I'm not sure how that would work with DataChunkIterators which will not have been written yet. Also before writing, the data would be in lists/tuples/numpy arrays instead of in H5Datasets. That _should_ not matter much, but I think it would be better to have the validator work exactly as it would if the validator were called on the data file. Point taken though

[2020-08-27 17:53] oruebel commented on #1288
@rly it may make sense to do both. I.e., validate builders before write to catch possible errors before write even happens and then validate after write again, to make sure the file is actually correct. I think a validate before write should be able to catch the vast majority of problems and should also be fairly cheap (at least compared to validation after write). Even when DataChunkIterators are

[2020-08-27 19:24] rly opened #1289 "nwb-schema and hdmf-common-schema compatibility"
Each release of the NWB schema is bundled with a particular release of the hdmf-common schema.
Each release of HDMF is bundled with a particular release of the hdmf-common schema.
Each release of PyNWB is bundled with a particular release of the NWB schema and is compatible with a range of releases of HDMF.
This can lead to a mismatch between the version of hdmf-common schema included in nwb-schem

[2020-08-27 19:35] oruebel commented on #1289
Sounds good. I believe (1) is already supported to allow specify namespace versions (but I don't think there is any error checking done yet).

[2020-08-27 19:55] oruebel commented on #1252
@bendichter is this working now that the HDMF PR has been merged?

[2020-08-27 20:02] bendichter commented on #1252
@oruebel I haven't gotten to testing this yet. We ended up writing the necessary code to read var length strings in Zarr, but I still think this is useful, as it takes up much less space than var-length strings.

[2020-08-27 20:25] rly commented on #1289
@oruebel unless I am not looking in the right place, I don't see (1) here: https://schema-language.readthedocs.io/en/latest/specification_language_description.html#schema

To be clear, I mean that this line
https://github.com/NeurodataWithoutBorders/nwb-schema/blob/dev/core/nwb.namespace.yaml#L20
should include a `version`

[2020-08-27 21:54] oruebel commented on #1289
I thought the spec classes in HDMF allow this already, but I may be wrong.

[2020-08-27 22:00] njmei opened #1290 "Encountering errors when running AllenSDK tests with pynwb 1.4.0"
## Description
As a part of resolving: https://github.com/NeurodataWithoutBorders/pynwb/issues/1285
I removed the `hdmf` dependency in AllenSDK `requirements.txt` and also tried running tests with the latest version of pynwb < 2.0.0.

Looks like the newest version of pynwb doesn't like something about how we're trying to access current source density (CSD) information:
https://github.com/AllenInst

[2020-08-27 22:13] rly commented on #1289
@oruebel I just read through `hdmf/spec/namespace.py` where other parts of `namespaces` > `schema` are parsed, and I see no reference to versions of dependent namespaces. I'll propose a change to the language and HDMF to account for this.

[2020-08-27 22:19] rly commented on #1290
@njmei There was a bug in previous versions of PyNWB and HDMF where if `__getitem__` is called on a `MultiContainerInterface` object such as a `ProcessingModule`, then if there is only one item in the `MultiContainerInterface`, then you could use any key between the square brackets to get that item. This was fixed in the latest PyNWB so that you now have to use the name of the item as the key to g

[2020-08-27 22:19] oruebel commented on #1289
Sounds good.

[2020-08-27 22:21] njmei commented on #1290
@rly Thanks for the fast response! ~~The problem I guess is that the NWB files that we've released were prior to this fix. Re-releasing new NWB files is not in the cards since it's a very involved and time consuming process...~~

Misread the response! I will try with the 'proper' key and see how this goes.

[2020-08-27 22:41] njmei commented on #1290
@rly Thanks, looks like that worked! I'll close this issue then.

[2020-08-27 22:41] #1290 closed, assigned to nobody

[2020-08-28 22:34] rly opened #1291 "Extensions doc page contains errors"
## Description

Bug report from the AQuA developers.

The [documentation for extensions](https://pynwb.readthedocs.io/en/stable/extensions.html) contains code that does not run.

[code]
The keyword `attribute` should be `attributes`. This happens more than once on the page.

The page is also outdated and should point users to the NWB Extensions Catalog and associated tools to create extensions.

[2020-08-28 23:57] oruebel commented on #1291
I would also add a link to the YouTube video of your talk ;-)

[2020-09-01 07:03] rly commented on #1289
Revision:
Instead of the above, if HDMF is updated to support a new version of hdmf-common-schema, then we increase the major version number in HDMF. This way, PyNWB can continue using a range within the major version number and users can continue to receive non-schema related bug fixes. Changes to hdmf-common-schema should be relatively low frequency now anyway.

We could also adopt a similar str

[2020-09-02 00:43] rly commented on #1276
@lfrank

Unfortunately, indexing an HDF5 dataset with a large (>1k) list of indices is really slow using h5py. The operation seems to be quadratic in the number of indices in the list.

See:
- https://docs.h5py.org/en/latest/high/dataset.html#fancy-indexing
- https://github.com/h5py/h5py/issues/293
- https://gist.github.com/rossant/7b4704e8caeb8f173084#gistcomment-1665072

You can work around that

[2020-09-02 19:04] bendichter commented on #1276
Thanks for bringing this to our attention, @lfrank and thanks for the great analysis @rly!

They do mention this in the docs:

I'm appalled that h5py performs so much worse at fancy indexing than it does at regular indexing. It's even more frustrating looking at that third of Ryan's references and seeing that Cyrille brought this up to them years ago. Though there is another approach that he tries

[2020-09-02 19:15] oruebel commented on #1276
Given that we are dealing with 1D arrays I think the solution to load the data and use numpy may be preferred, mainly because:
1) It's simple and less brittle
2) Because it's 1D data the memory cost should still be acceptable
3) We don't have to worry about chunking vs. no chunking
4) It's reasonably fast

One word of caution with the memap approach, in my experience it ends up pulling more data i

[2020-09-02 19:20] bendichter commented on #1276
Yes, if the dataset is not very large then loading it into memory might be a better solution. I know Loren is always thinking about scale, so it's nice to have the other option as well.

Good to know about memmap caching data. I didn't realize that. Still, it would probably be better than loading the entire dataset if it's very large.

[2020-09-02 19:31] oruebel commented on #1276
Yes, for very large datasets memmap will certainly be better. However, I think that will be more the case for multi-dimensional arrays. I.e.,
1) For small fancy selections using h5py is fine
2) For large fancy selection on 1D arrays, loading the data and then using numpy is probably best
3) For large fancy selection on large arrays, memmap is probably the way to go

[2020-09-02 21:52] bendichter opened #1294 "cannot add hdmf's MultiContainerInterface to NWB file"
## Description

We can now automatically generate `MultiContainerInterface` API classes in HDMF, but these new objects cannot be added to the processing module of an NWB file, because it is not one of the accepted types. The `pynwb` brand of `MultiContainerInterface` can be added to processing modules because it inherits from `NWBDataInterface`, but this new HDMF type does not.

Two possible ways

[2020-09-02 22:08] oruebel commented on #1294
Technically, I think this would be the correct solution to avoid possible issues down the road with non-compliance with the schema.

[2020-09-03 00:33] rly commented on #1294
@bendichter If you are making an extension for use in NWB, then you should use the `NWBGroupSpec` class and your new `MultiContainerInterface` subtype should inherit from `NWBDataInterface` using `neurodata_type_inc`. Similarly, any new group must inherit from `NWBDataInterface` or `NWBContainer` and any new dataset must inherit from `NWBData` for it to be used within other NWB types.

In your exa

[2020-09-03 01:29] bendichter commented on #1294
@rly oh, yes, thanks this is great! Somehow it slipped my mind that multiple inheritance would fix this.

I'll close this since the issue is fixed, but I do really like your suggestion of setting default values for `neurodata_type_inc` for the NWB spec API. If a user doesn't want those default types they can always use the hdmf versions of those functions

[2020-09-03 01:46] #1294 closed, assigned to nobody

[2020-09-11 15:54] bendichter opened #1296 "specify in the API class the a column is multi-indexed"
Now that we have double indexes working

https://github.com/hdmf-dev/hdmf/blob/535985ca4eafed6b5bdcd34ab3bc32000ee54a88/tests/unit/common/test_table.py#L1067-L1078

we can use this for specifying waveforms. But how do we specify this in the python API as an optional column? in `__columns__`, we can add `{'name': 'waveforms', 'description': 'snippet for each spike', 'index': True}`. That specifies

[2020-09-15 16:38] kir0ul opened #1297 "Unable to copy data containers from one NWB file to another already existing NWB file"
## Description

Hi,

I would like to copy some data containers from an NWB file to another _already existing_ NWB file, open in `r+` mode. But I'm unable to do that, the data containers from the first file don't get written in the second file.

## Steps to Reproduce

The following minimal working example should reproduce the problem. I would expect the latest print statements to match but they don

[2020-09-15 16:48] kir0ul commented on #1297
As a workaround, it works if I add the data containers to a **new** file. Indeed the latest print statements in the following minimal working example match.

[code]

[2020-09-17 00:50] rly commented on #1297
@kiroul We are doing some last minute preparations for the NWB workshop, so unfortunately, I do not have time right not to look at this issue in detail. I plan to get to this sometime next week. I'm glad you were able to find a workaround for the meantime.

[2020-09-17 02:19] kir0ul commented on #1297
Sure, thanks for letting me know :slightly_smiling_face:

[2020-09-19 14:12] blogeman commented on #275
Hi all, checking to see if there is support for NWB1.x files. Specifically I'd like to read the Allen Institute Cell Types Databases as mentioned above. Is there a way to do this?

[2020-09-19 14:49] bendichter commented on #275
@blogeman unfortunately we have not been able to keep up support for 1.x files. I'd suggest using h5py.

[2020-09-20 15:55] bendichter opened #1298 "problem validating bool"
Running validation on the Neuropixel file found [here](https://girder.dandiarchive.org/api/v1/item/5eda859399f25d97bd27985d/download) reveals an issue with the validator when validating a boolean value. It appears there is a confusion between `bool` and `bool_`.

[code]

[2020-09-21 10:08] t-b opened #1299 "get_class fails with recursive definition"
I'm trying to add some get_class defaults for ndx-MIES as requested by @rly in https://github.com/nwb-extensions/staged-extensions/pull/15.

But it fails on the recursive type definition:

https://github.com/t-b/ndx-MIES/blob/5e91258312b835aab87942d336081cec37192f86/src/spec/create_extension_spec.py#L55-L67

Versions:
pynwb 1.4.0
hdmf 2.2.0

Reproducable example:
[code]

Output:
[code]

Just to be

[2020-09-21 19:52] bendichter commented on #1296
Looks like the problem is here. Would be better if the `index` arg of `DynamicTable.add_column` could be of type `int`, which would create that many nested VectorIndex columns

https://github.com/hdmf-dev/hdmf/blob/f11185f6c899d7d7973f49dd54c918d2eb9c7e78/src/hdmf/common/table.py#L627-L636

[2020-09-21 21:52] bendichter commented on #1296
@ajtritt, what do you think about that change to DynamicTable.add_column?

[2020-09-22 00:45] ajtritt commented on #1296
@bendichter That seems like a reasonable solution.

[2020-09-22 07:39] rly opened #1300 "`PatchClampSeries.data` should be 1-dimensional"
## Description

The PatchClampSeries schema says:
[code]

The `PatchClampSeries` constructor should validate the shape of the `data` argument and enforce that it is 1-dimensional.

## Environment

    Python Executable: Python
    Python Version: Python 3.7
    Operating System: Windows
    HDMF Version: latest

## Checklist

- [x] Have you ensured the feature or change was not already [reported](

[2020-09-22 07:47] rly commented on #1300
It is also possible to write a 2D `PatchClampSeries` without error or warning. But the file does not validate.

[2020-09-22 18:56] bendichter commented on #1296
@CodyCBakerPhD can you take a stab at this?

you'll also need to add a test for this in hdmf

[2020-09-22 19:57] CodyCBakerPhD commented on #1296
@bendichter Sure thing, starting on it now

[2020-09-25 22:31] kir0ul opened #1301 "RecursionError when reading an exported NWB file"
## Description
Hi,

I get the following error from `h5py` when I try to read a previously exported NWB file: `RecursionError: maximum recursion depth exceeded while calling a Python object`. It seems the NWB file gets corrupted during the export.

## Steps to Reproduce

This is an example NWB file I got from Suite2p: [ophys.zip](https://github.com/NeurodataWithoutBorders/pynwb/files/5285608/ophys.

[2020-09-30 19:02] kir0ul commented on #1297
Any news on this issue? In the end the workaround didn't work on the real code, the data containers don't get written in the output NWB file :slightly_frowning_face:

[2020-10-01 14:50] bendichter commented on #1299
thanks @t-b. Unfortunately, I think this is a fundamental limitation of our current implementation of `get_class`. Would be interesting to discuss a solution to this for `get_class`, but for now you'll have to specify the API manually in these cases.

[2020-10-01 16:26] oruebel commented on #1299
BTW, eliminating nested definitions in the schema should not change it in an incompatible way as it typically just means placing the type definitions at the top level and then using ``neurodata_type_inc`` to include them in the proper places.

[2020-10-12 03:43] colleenjg opened #1302 "TimeSeries unit attribute present, but a MissingRequired warning is thrown."
## Description

When an NWB file object includes a TimeSeries with a non-accepted unit as an attribute (non SI units),
at the moment of writing the NWB file object to a file, the following warning is thrown:
`/home/user/anaconda3/envs/nwb/lib/python3.6/site-packages/hdmf/build/objectmapper.py:695: MissingRequiredWarning: attribute 'unit' for 'data' (TimeSeries)
  warnings.warn(msg, MissingRequired

[2020-10-13 16:33] #1296 closed, assigned to ajtritt

[2020-10-13 17:26] rly commented on #1302
Hi @colleenjg . Currently, PyNWB does not validate what value you enter for the `unit` attribute of a `TimeSeries` class, so providing a non-SI unit is accepted. However, a value should be supplied. In your example, the `RoiResponseSeries` has a `unit` attribute, so the warning is not coming from that object. I suspect there is another `TimeSeries` class or subclass that is missing the `unit` attr

[2020-10-13 17:54] colleenjg commented on #1302
Hi @rly, I see - you're correct. I thought I'd tested for this, but it seems I wasn't thorough.

[2020-10-13 22:58] kir0ul opened #1303 "Pathlib support in NWBHDF5IO"
It would be nice if the `NWBHDF5IO` class could support `pathlib.Path` objects instead strings as `path` argument.

**Describe the solution you'd like**
It would look like something like this:
[code]

**Describe alternatives you've considered**
A simple alternative is to convert the Path objects as strings when used with `NWBHDF5IO`.

## Checklist

- [X] Have you ensured the feature or change was

[2020-10-14 11:03] t-b commented on #1303
I don't think `instead` will work, but allowing the user to pass in `pathlib.Path` as an option sounds like a good idea. It is also present since python 3.4, so no problem on that side.

[2020-10-14 15:13] bendichter opened #1304 "determine if prop of pynwb cls is a child"
@luiztauffer and I would like to be able to determine if a member of `cls.__nwbfields__` is a `child` or not. For instance, looking at `pynwb.ophys.ImagingPlane`, we have:

[code]

however, when you call this programmatically, you get:

[code]

The information about `'optical_channel'` having `'child': True` is no longer accessible here. Why is this the case? Is there a way of recovering this info

[2020-10-14 15:28] rly commented on #1304
For context, what is the use case?

[2020-10-14 15:43] oruebel commented on #1303
Ideally, this issue should be addressed in HDMF. I opened a corresponding issue there https://github.com/hdmf-dev/hdmf/issues/439

[2020-10-14 16:59] bendichter commented on #1304
We are trying to create a form to help people populate metadata for creation of an NWB file. In this form we want to treat links differently from objects that are contained. If an object is contained, such as an OpticalChannel, we will create a hierarchical form. If the object is linked, we will allow the user to create the object in another section of the form and link to that object in this fiel

[2020-10-14 18:03] t-b commented on #1299
@bendichter I'm not sure I'll find time to write custom code for that.

@oruebel This is not the usual nested spec problem.

From the posted link above

[code]

which means that the group spec contains itself recursively. And `get_class` chokes on that. I don't see a way to rewrite that.

[2020-10-15 05:17] rly commented on #1299
If this were a simple recursion where type A can contain one instance of type A, then I have a solution that involves some changes in HDMF. However, this is more complicated in that type A can contain multiple instances of type A, which results in the automatic generation of a `MultiContainerInterface` subclass. I have tried a couple different approaches and it looks like changing `get_class` to h

[2020-10-15 05:46] rly opened #1305 "CorrectedImageStack should enforce required names for child objects"
## Description

The NWB schema for `CorrectedImageStack` requires that its child groups 'corrected' (ImageSeries) and 'xy_translation' (TimeSeries) have those names, but PyNWB does not enforce those names. This allows for the creation of files that do not validate:
(acquisition/CorrectedImageStack): missing data type TimeSeries

YAML:
[code]

## Environment

    Python Executable: Conda
    Python

[2020-10-15 06:22] rly commented on #1305
Note that this is a rare case in the schema where a neurodata_type has a named child neurodata_type rather than a collection of unnamed neurodata_type children or links to neurodata_types. Other cases include: NWBFile has a Units table that must be named 'Units', NWBFile has a DynamicTable for electrodes that must be named 'electrodes', and ElectricalSeries has a DynamicTableRegion named 'electrod

[2020-10-15 08:26] lvsltz opened #1307 "ScratchData notes passed as None instead of empty string in add_scratch"
## Description

If an `np.ndarray` is added in scratch with `nwbfile.add_scratch(ndarray,name='some_name'`) without a `notes` argument, `ScratchData` is created with `notes = None` and fails with
`TypeError: ScratchData.__init__: incorrect type for 'notes' (got 'NoneType', expected 'str')`

Adding something like this before https://github.com/NeurodataWithoutBorders/pynwb/blob/dev/src/pynwb/file.p

[2020-10-15 11:54] bendichter commented on #1305
Would it perhaps make more sense to relax this restriction? In the case of electrodes, it makes sense because that name is supplied by the pynwb API, but in the case of "corrected" it requires the user to use a rather unintuitive name

[2020-10-15 18:06] oruebel commented on #1305
For now, I think the correct approach is to enforce the name in the API.

[2020-10-16 20:24] bendichter commented on #1304
@rly is there any way to get this information programmatically from the API?

[2020-10-16 20:46] rly commented on #1304
Unfortunately, `__nwbfields__` is replaced with a tuple of field names before it is accessible. We can change that in HDMF, though. Could you open an issue in HDMF? I'll take a stab at it today.

[2020-10-16 20:58] bendichter commented on #1304
@rly ok, thanks. A minimal change might be to have a `cls.__ischild_list` prop that stores a list of all the args where `child==True`

[2020-10-17 04:28] rly commented on #1305
I know it is not the most user-friendly restriction, but I agree with Oliver here to resolve the core issue in a general way.

I see a couple options:
1) Remove the `name` key in the spec, so that any `ImageSeries` would work for the 'corrected' field (same for the 'xy_translation' `TimeSeries` field). I'm not 100% sure this would work, but I think this would break any extension/subclass of `Corre

[2020-10-17 11:13] oruebel commented on #1305
Option 4: Have a function on CorrectedImageStack ``create_corrected_image_series`` that would create a new ImageSeries with the name ``corrected`` already set. If this is a required input for the constructor of CorrectedImageStack then this would need to be a class-method otherwise it would be an object-method. This could also be combined with option 3 (i.e, enforce the name, e.g., by checking tha

[2020-11-02 16:44] #669 closed, assigned to nobody

[2020-11-02 22:41] bendichter commented on #1301
Thanks for the report, @kir0ul! I was able to reproduce your error. Thank you for supplying a full self-contained script. I was also able to reduce your code down to the following and get the same error:

[code]

@rly, you have been deep in this type of stuff. What is the proper way to alter a pre-existing file?

Also, we should try to put up a safe-guard to prevent this type of issue in the futur

[2020-11-02 22:47] bendichter commented on #1286
Hi @dioptre, this is a very cool idea! We are working on a similar project with Bonsai and Syntalos, both of which are data streaming software designed for neurophysiology experiments. I don't think we have the bandwidth to develop this internally, but if anyone want to take a stab at it we'd be happy to discuss what it would entail.

[2020-11-03 14:37] bendichter commented on #1307
Thank, @lvsltz! Looks like Ryan is on this.

[2020-11-03 14:40] bendichter commented on #1222
@yarikoptic Interesting idea. This could help us work cross-language as well. So are you suggesting that we add the concept of deprecation to the [HDMF schema language](https://hdmf-schema-language.readthedocs.io/en/latest/specification_language_description.html) or create a separate system for migration?

[2020-11-03 14:49] yarikoptic commented on #1222
I don't know hdmf vs pynwb separation well enough to provide an informed opinion. But if hdmf to be used for something else but pynwb, provisioning such migrations in hdmf itself could be a nice feature. Not sure how ready it would be to accomplish cross-language migration functionality besides choosing (instead of crafting a new one) a language and making it possible for other languages to use it

[2020-11-03 15:40] oruebel commented on #1222
I agree that this is a relevant need. I think there would likely be a split with common migration features in HDMF and some NWB-specific tooling in PyNWB. I'm honestly not sure right now what will be needed here, but I'd expect that this will require some significant effort.

[2020-11-03 16:57] bendichter commented on #1222
Looking more closely at @yarikoptic's original comment, he was referring to the unit of measurement enforcement across neurodata types as an example. This points to a need to migrate features of neurodata_types. The yaml that Yarik proposes IMO crosses into implementation. It doesn't define the functions, but it does say what functions to call and when, so technically yes this is declarative, but

[2020-11-03 18:20] bendichter commented on #1179
Thanks @t-b , this sounds like a useful feature!

[2020-11-03 18:31] bendichter commented on #1216
Thanks @yarikoptic. So my understanding is that `validate` works directly on the nwb-schema and doesn't touch the rest of pynwb. If we want these types of features, we'd need to add them to the nwb-schema, similar to what we are discussing in #1222

[2020-11-03 18:35] bendichter commented on #1199
@luiztauffer, `PlaneSegmentation` is a column that concatenates all of the individual rows into columnar data. We don't have a way to concatenate DataChunkIterators, so this won't work. I'd be surprised if someone needed to iterator over a single cell of a table like this, but if this is needed there are ways of doing it by adding the column data directly.

[2020-11-03 18:52] bendichter commented on #1116
Thanks @t-b, it looks like this is being handled in ndx-icephys-metadata

[2020-11-03 19:53] bendichter commented on #1144
@yarikoptic Do you mean something like this?

[code]

[2020-11-03 20:01] bendichter commented on #1143
@yarikoptic By way of background, one solution we are developing for this is the `load_namespaces` arg of `NWBHDF5IO`. This reads cached schemas and automatically tries to generate the API for any missing namespaces. This works well in simple cases, but it won't allow users to leverage any custom APIs they have developed. So how would we do that?

The registry should provide information about how

[2020-11-03 22:19] bendichter commented on #1239
@rly it looks like you were tackling this. Is this still a bug?

[2020-11-03 22:40] rly opened #1310 "Genotype ontology support"
Add support for genotype ontology

[2020-11-03 23:04] oruebel commented on #1143
I think for this specific error we should provide a few details on how to potentially resolve it, i.e., either use load_namespaces and or install the appropriate extensions.

I think the the first step is to actually use information from the file. I.e., we could check if an appropriate namespace is in the file and indicate this to user as part of the error message.

For the second part of checking

[2020-11-03 23:09] oruebel commented on #1144
I would suggest transferring this issue to HDMF and potentially merging it with https://github.com/hdmf-dev/hdmf/issues/340

At that point we should also add support to add additional details to the message to allow us to address https://github.com/NeurodataWithoutBorders/pynwb/issues/1143

[2020-11-03 23:16] oruebel commented on #1216
To be more specific, I believe validate works on the Builders but does not construct the front-end Containers. The warnings you mentioned are specific to the API, rather than being warnings from the file. The simplest thing would be to not just call validate, but to afterwards also read the file so that validate reports actual validation issues and the file open would give the API warnings.

[2020-11-04 00:10] #1307 closed, assigned to nobody

[2020-11-04 00:27] bendichter commented on #1144
Yes, I agree, but I don't think I have transfer permissions to that repo

[2020-11-04 00:34] rly commented on #1144
https://docs.github.com/en/free-pro-team@latest/github/managing-your-work-on-github/transferring-an-issue-to-another-repository

I will start a new issue in hdmf and link back to this.

[2020-11-04 00:35] rly commented on #1144
Scratch that. We can just add to https://github.com/hdmf-dev/hdmf/issues/340

[2020-11-04 00:36] #1144 closed, assigned to nobody

[2020-11-05 18:51] rly opened #1313 "PlaneSegmentation pixel mask weights are written as integers"
## Description

Pixel mask is stored as an array of ints instead of an array of compound (int, int, float). The root issue might lie in HDMF.

## Steps to Reproduce

[code]

The weight 0.9 is written as 0.

## Environment

    Python Executable: Python
    Python Version: Python 3.7
    Operating System: Windows
    HDMF Version: dev

## Checklist

- [x] Have you ensured the feature or change was

[2020-11-07 00:26] #1313 closed, assigned to nobody

[2020-11-10 17:31] bendichter opened #1315 "CompassDirection.spatialSeries.data.unit problem"
[`CompassDirection`](https://pynwb.readthedocs.io/en/stable/pynwb.behavior.html#pynwb.behavior.CompassDirection) is a `MultiContainerInterface` that takes `SpatialSeries` objects, and specifies that these objects should have units "degrees" or "radians". `SpatialSeries` in the nwb schema provides "meters" as a default value for data.units, but pynwb's implementation hard-codes that the units must

[2020-11-10 17:37] bendichter commented on #1315
@weiglszonja, would you be able to create a PR for this on this repo?

[2020-11-10 17:47] weiglszonja commented on #1315
@bendichter thanks for creating this issue. Yes, I will create one 👍

[2020-11-16 19:21] CodyCBakerPhD opened #1318 "Verification: ImageSeries with list of external files & its timestamps"
Hey all,

I'm trying to convert a list of `.mkv` files into `ImageSeries` without actually encoding the data, that is, via the `format=external` option. My concern, however, is dealing with the timestamps for each of these `.mkv` separately.

Attempting to do the intuitive thing, and pass timestamps as a list of arrays, each element of the list corresponding to the `.mkv `file, causes an error. Ob

[2020-11-19 03:38] satra opened #1319 "support h5py 3.x"
Briefly describe the needed feature as well as the reasoning behind it

**Is your feature request related to a problem? Please describe.**
currently, requirements.txt forces h5py to 2.10. so every package is forced to use this version. with the emergence of h5py 3.x makes it harder to install both pynwb and any 3.x dependent package in the same environment.

**Describe the solution you'd like**
su

[2020-11-19 19:48] rly commented on #1319
Adding support for h5py 3.x in HDMF is being tracked here: https://github.com/hdmf-dev/hdmf/issues/458 . I believe there are no h5py specific features in PyNWB proper.

Regarding requirements files, note that we are following the convention where `requirements.txt` specifies pinned requirements for a reproducible environment and `setup.py` specifies minimum requirements, e.g., `h5py>=2.9`.

Until

[2020-11-19 20:04] satra commented on #1319
@rly i was looking at this line: https://github.com/NeurodataWithoutBorders/pynwb/blob/dev/requirements.txt#L1

all of the lines there specify very specific versions.

[2020-11-19 20:14] rly commented on #1319
@satra From my understanding of the Python packaging convention, that file _should_ pin very specific versions so that users/developers can recreate a known working environment. Most users will not use `requirements.txt`, and instead use `pip install` which uses the minimum requirements specified in `setup.py` (which compute to, e.g., `h5py>=2.9`).

(As an aside, we should update `requirements.txt

[2020-11-19 20:16] satra commented on #1319
@rly  - that depends on how people are installing. one can also do `pip install -r requirements.txt` but yes, if they simply do a pip install it will use the constraints in setup.py.

[2020-11-19 20:19] satra commented on #1319
@rly - also this https://github.com/hdmf-dev/hdmf/blob/dev/requirements-min.txt#L3 , which is used in the hdmf setup.py and that pins things as well.

[2020-11-19 20:33] rly commented on #1319
@satra if a user installs using `pip install -r requirements.txt`, we assume that they want to reproduce a known working environment exactly as pinned by that file -- see use 1 here https://pip.pypa.io/en/stable/user_guide/#requirements-files which seems like the most common use case from my readings. If a user wants to use different versions of the requirements, then they should not use the above

[2020-11-19 20:36] satra commented on #1319
ah i hadn't seen the code closely enough.

[2020-11-20 05:48] dsleiter commented on #1174
@rly I'm looking through issues to resolve. It looks like this issue will be resolved with the PR for the following issue, do you agree? https://github.com/NeurodataWithoutBorders/pynwb/issues/1315

[2020-11-20 13:19] ConBke opened #1320 "I am trying to test the examples in the tutorials but encountered TypeError: No conversion path for dtype: dtype('<U10')"
I am trying the examples in the tutorial, but keep encountering the problem : TypeError: No conversion path for dtype: dtype('<U10') when writing files with NWBHDF5IO
<img width="1015" alt="截屏2020-11-20 21 17 49" src="https://user-images.githubusercontent.com/57983269/99804360-db93da00-2b75-11eb-8766-a0754b4fce85.png">

The version of the packages are:
<img width="1009" alt="截屏2020-11-20 21 18 42"

[2020-11-20 15:49] bendichter commented on #1320
@ConBke looks like you are probably using h5py 3.x, which is not supported. They just released a new version, which requires a few changes on our end. See https://github.com/hdmf-dev/hdmf/issues/458 for progress on updating our libraries to this new version of h5py.

In the meantime, you should be able to solve this with`pip install h5py==2.10.0`

Thanks for submitting this. I think a few others w

[2020-11-20 16:07] bendichter commented on #1174
@dsleiter yes, this has been fixed with https://github.com/NeurodataWithoutBorders/pynwb/pull/1316 and is pending review. @rly, can you take a look at it?

[2020-11-20 16:10] yarikoptic opened #1321 "or just a question on difference with invocation of pynwb.validate"
@t-b asked and provided a sample file on dandi slack channel, which seems to validate "fine" if

[code]
but errors are returned if

[code]

<details>
<summary>and that is the ones we consider to be errors and report by `dandi validate`</summary>

[code]

the last one is "dandi specific" since we do require subject_id value.
</details>

so why is such a difference and either we should somehow becom

[2020-11-20 18:03] t-b commented on #1321
You can also just tell the validation routine to not use the cached spec and the validation error can be reproduced:

[code]

[2020-11-20 18:10] t-b commented on #1321
The series_index validation issue was introduced in https://github.com/hdmf-dev/hdmf-common-schema/commit/2851b46ae0025ceac9a0b35e933649cce90ab40f. Changing from a signed to unsigned integer is strictly speaking a breaking change.

I would say that the files MIES creates are still valid as they use a cached schema. But of course I can be persuaded otherwise.

[2020-11-20 18:14] t-b commented on #1321
Another odd thing is that the old type (int32) can hold all values of uint8 so even when validating against the stock pynwb schema this should not give a warning. AFAIR we allow bigger types instead of smaller ones.

[2020-11-21 01:23] ConBke commented on #1320
Thank you for you reply!

[2020-11-21 02:18] #1320 closed, assigned to nobody

[2020-11-21 17:04] t-b commented on #1321
@yarikoptic

The validation error

[code]

is from dandi or?

Can you explain what is wrong here?

The HDF5 file type of `general/intracellular_ephys/electrode_0/description` is `text` according to the schema [1].
In the HDF5 file I'm storing that as

[code]

which is supported in all the other places where `text` is set as type.

[1]: https://nwb-schema.readthedocs.io/en/latest/format.html#intrac

[2020-11-21 17:05] t-b commented on #1321
Sample file: [HardwareTests-V2-MIES-187d9143.zip](https://github.com/NeurodataWithoutBorders/pynwb/files/5578038/HardwareTests-V2-MIES-187d9143.zip)

[2020-11-21 21:58] t-b commented on #1321
@yarikoptic I'm doing validation using pynwb with subprocess, see https://github.com/AllenInstitute/MIES/blob/bcb8f4ff185394729f99f5b31b3dfb9f18acbd59/tools/nwb-read-tests/nwbv2-read-test.py#L22. This at least avoids that pynwb loads the stock schema. The code might be brittle as I'm only using that in a docker container without real world users.

[2020-11-25 15:40] yarikoptic opened #1322 "Add duecredit support"
To be able to track for citation and versioning purposes: https://github.com/duecredit/duecredit/

Ref: https://github.com/dandi/dandi-cli/issues/57#issuecomment-733780222

So what would be the canonical citation for pynwb?

[2020-11-25 17:45] oruebel commented on #1322
Oliver Rübel, Andrew Tritt, Benjamin Dichter, Thomas Braun, Nicholas Cain, Nathan Clack, Thomas J. Davidson, Max Dougherty, Jean-Christophe Fillion-Robin, Nile Graddis, Michael Grauer, Justin T. Kiggins, Lawrence Niu, Doruk Ozturk, William Schroeder, Ivan Soltesz, Friedrich T. Sommer, Karel Svoboda, Ng Lydia, Loren M. Frank, Kristofer Bouchard, "NWB:N 2.0: An Accessible Data Standard for Neurophys

[2020-11-25 17:47] oruebel commented on #1322
We don't really have a paper for PyNWB itself yet. I think it is probably most appropriate to cite the NWB preprint in this case.

[2020-11-25 19:01] yarikoptic commented on #1322
FWIW, here is the one I just sent for dandi-cli, so you would just need to change doi and path I guess ;-)
https://github.com/dandi/dandi-cli/pull/285

[2020-11-25 19:02] yarikoptic commented on #1322
FYI: overall idea is that you could annotate individual code pieces which could have dedicated citations (algorithms, extensions etc) so you can go "wild" if you have something like that in pynwb

[2020-11-26 06:32] oruebel commented on #1322
Interesting approach to have the citations available in the code and tools to collect the relevant citations. For PyNWB and HDMF this currently mainly makes sense on the level of the package as a whole. However, as we have more working groups developing different parts of NWB, I think this is an interesting approach to provide credit.

[2020-11-26 20:11] t-b commented on #1321
@yarikoptic @rly How do we proceed here? Should the fix be in pynwb or in dandi?

[2020-11-30 23:13] rly commented on #1321
@t-b @yarikoptic To summarize, if I understand correctly, the file is valid against the schema that is cached, but the schema was updated and the file is not valid against the latest schema. `dandi validate` uses the `pynwb.validate(...)` function which loads the schema from the active PyNWB installation, which may or may not be the latest schema or the one cached by the file. `python -m pynwb.val

[2020-11-30 23:18] rly commented on #1321
This looks like an issue with compatibility with h5py 3.0 where strings are read as bytes instead of str. Which version of h5py was installed?

[2020-11-30 23:56] t-b commented on #1321
Yes this was a h5py issue indeed, going back to 2.10.0 solved it.

[2020-12-02 18:27] rly opened #1324 "Copy infrastructure changes from HDMF to PyNWB"
We recently updated HDMF with a number of infrastructure changes, e.g., CI, documentation. Many of these files are the same in PyNWB and should be updated here as well.

[2020-12-09 12:18] luiztauffer opened #1328 "pynwb.core.MultiContainerInterface.get_fields_conf() return an empty tuple."
the get_fields_conf() method returns an empty tuple for any subclass from pynwb.core.MultiContainerInterface
This affects classes such as Fluorescence, DfOverF, ImageSegmentation...

[2020-12-09 17:13] rly commented on #1328
Thanks for the report. I touched on this part of the code recently and will look into it.

[2020-12-09 17:19] rly commented on #1328
`MultiContainerInterface` uses `__clsconf__` in addition to `get_fields_conf()` when generating class attributes and methods. What are you trying to do with the fields conf and can it be done with the `__clsconf__`?

[2020-12-09 17:23] luiztauffer commented on #1328
I want to be able to tell if any fields of a class are `child=True`

[2020-12-09 17:32] rly commented on #1328
By default, when a `Container` called `container` is added to a `MultiContainerInterface` called `mci`, if `container` does not already have a parent, then it will be added to a child of `mci`. However, if `container` does have a parent, then it will be added as a link within `mci`.

So the short answer is for a given `MultiContainerInterface` class, the container classes listed in `__clsconf__` (

[2020-12-09 19:17] luiztauffer commented on #1328
that helps, thanks!

[2020-12-09 19:17] #1328 closed, assigned to rly

[2020-12-15 21:47] #1303 closed, assigned to nobody

[2020-12-21 05:02] dsleiter commented on #1084
@rly @bendichter I started looking into this issue a bit, but the linked file is either no longer available for download or not available for viewers to download.

1. Is this still a relevant improvement to make?
2. If so, do either of you have access to this file so that I can test the issue on the most recent pywnb and hdmf versions, and verify that any implementation resolves the issue?

[2020-12-21 07:12] dsleiter commented on #1298
@bendichter I looked into this, and here's what I believe is going on:

1. the spec for `EcephysElectrodeGroup` has a dtype of `bool` for attribute `has_lfp_data`

1. the type of the value for `has_lfp_data` in this file is `np.bool_`
1. it looks to me like `ObjectMapper` always converts `bool` to `np.bool_` when writing to the file (is this correct?)
1. In addition, the user could have explicitly

[2020-12-21 17:31] bendichter commented on #1298
@dsleiter thanks for tracking this down. I agree, it sounds like allowing `np.bool_` to count as a `bool` in `hdmf.validate.validator` would fix the problem.

[2021-01-04 08:11] tillea opened #1329 "Test suite error with Python3.9: AssertionError: UserWarning not triggered"
## Description

I tried to upgrade the Debian packaged pynwb to version 1.4 (in the hope that the test suite error of version 1.3 that is documented in a [Debian bug](https://bugs.debian.org/978257) might be fixed.  Unfortunately the same two failures occurre also with the latest version 1.4.

## Steps to Reproduce

Running the build time test suite with python3.9 results in

    =================

[2021-01-04 13:58] bendichter commented on #1329
@tillea thanks for the bug report. I don't think we support 3.9 yet. You can see what versions of python are supported [here](https://pypi.org/project/pynwb/) on the left panel. Would you be able to work with Python 3.8 instead?

[2021-01-04 14:15] tillea commented on #1329
On Mon, Jan 04, 2021 at 05:58:44AM -0800, Ben Dichter wrote:

No sorry, Debian 11 will be released with Python3.9 only.  It would be really great if you could sort this out.
Kind regards, Andreas.

[2021-01-04 14:18] bendichter commented on #1329
@tillea I've never used Debian, but would it be possible to use conda to create a Python 3.8 environment? If so, that's what I would recommend.

Last I checked some of our dependencies still hadn't made the update to Python 3.9 on all of our supported operating systems, and we can't make the update until they do. The situation may have changed now. We'll look into it.

[2021-01-04 15:56] tillea commented on #1329
On Mon, Jan 04, 2021 at 06:19:10AM -0800, Ben Dichter wrote:

Users surely can use Conda under Debian.  But if we are talking about a plain Debian package, no, that's not helpful.

Thanks a lot, Andreas.

[2021-01-06 00:59] rly commented on #1329
The two test failures are fixed in https://github.com/NeurodataWithoutBorders/pynwb/pull/1325 . We will make a new release of PyNWB that includes these changes soon (target: end of January).

[2021-01-07 13:33] tillea commented on #1329
On Tue, Jan 05, 2021 at 04:59:25PM -0800, Ryan Ly wrote:

Thanks a lot.  It would be great if you would ping me once such a release has happened.
Kind regards, Andreas.

[2021-01-08 05:03] oruebel opened #1332 "Enhance validator to warn on extra fields"
The validator should issue warnings for extra fields, i.e., datasets, attributes, groups etc. that are included in a file that are not governed by the schema or an extension (or are part of the backend) should be identified and warnings should be issued for those fields. This issue has come up as part of https://github.com/NeurodataWithoutBorders/matnwb/issues/245

## Checklist

- [X] Have you ens

[2021-01-14 03:15] dsleiter commented on #1298
A fix for this has been implemented here: https://github.com/hdmf-dev/hdmf/pull/505 , and should be available as of the next `hdmf` version (currently planned to be `2.4.0`).

[2021-01-14 03:33] #1298 closed, assigned to nobody

[2021-01-14 17:59] weiglszonja opened #1333 "ObjectMapper datetime override fails"
## Description

I'm trying to create an extension with a `datetime` attribute (see the snippet below), however when creating such extension with a datetime object raises an `ObjectMapper` error (see below). Tried extending `ObjectMapper` to override the default mapping for that attribute, but it still expects unicode or ascii string instead of a datetime object.
This is the error message:

Traceba

[2021-01-14 18:44] rly commented on #1333
Thanks @weiglszonja . I'll look into this.

[2021-01-19 13:59] t-b commented on #1332
This overlaps with https://github.com/NeurodataWithoutBorders/pynwb/issues/942.

[2021-01-22 22:06] carsen-stringer opened #1334 "unknown new formatting for imaging ROIs in v1.4.0"
## Description

Before pynwb==1.4.0, rois could be saved as 2D, now I write them as 2D but when I read them they are no longer 2D:
[code]

There is no mention of format change in the v1.4.0 release, this works fine in v1.3.3.

## Steps to Reproduce

[code]
## Environment

    Python Executable: Conda
    Python Version: Python 3.7
    Operating System: Linux
    HDMF Version: pynwb==1.4.0

## Chec

[2021-01-23 20:03] rly commented on #1334
Hi @carsen-stringer . Thanks for the bug report. What version of h5py do you have installed?

[2021-01-23 20:26] carsen-stringer commented on #1334
h5py                      2.10.0                   pypi_0    pypi
hdf5                      1.10.6          nompi_h6a2412b_1114    conda-forge
hdmf                      2.3.0                    pypi_0    pypi

[2021-01-27 18:52] ajuavinett opened #1335 "Dataset 000025 not importing correctly"
## Description

Tried to import [this dataset](https://gui.dandiarchive.org/#/dandiset/000025) but am receiving the error "KeyError: "'ndx-icephys-meta' not a namespace". I've been able to import other datasets just fine, which makes me wonder if it's something about how this dataset was prepared?

## Steps to Reproduce
[code]

gets you...

[code]

## Environment

    Python Executable: Conda

[2021-01-27 19:01] oruebel commented on #1335
Normally the extension should be cached in the file. I.e., you can try to do:

```io = NWBHDF5IO('000025/001_140709EXP_A1_ndx_v3.nwb', 'r', load_namespaces=True```

Otherwise, I'd try to install the missing extension directly https://github.com/oruebel/ndx-icephys-meta

[2021-01-27 19:15] ajuavinett commented on #1335
Thanks for the quick response! When I add `load_namespaces=True` I get `AttributeError: 'NWBGroupSpec' object has no attribute 'shape'`.

Installed ndx-icephys-meta directly, restarted the kernel, and I'm still getting that same error. Hmm.

[2021-01-27 20:34] oruebel commented on #1335
Is the file available somewhere. It sounds like there is either a bug in the extension or the file.

[2021-02-15 00:25] yarikoptic commented on #1329
@rly is release with all the goodness'es is coming?

[2021-02-15 16:56] yarikoptic commented on #849
FWIW, we are using [auto](https://github.com/intuit/auto) for dandi-cli .  https://github.com/dandi/dandi-cli/blob/master/DEVELOPMENT.md#releasing-with-github-actions-auto-and-pull-requests . Quite neat

[2021-02-17 20:12] rly commented on #849
@yarikoptic auto looks very useful. I'll do some testing.

[2021-02-17 20:33] yarikoptic opened #1337 "Unexpected exception when loading a file with extension not pre-imported and load_namespaces=True"
## Description

In dandi-cli [we try to automagically](https://github.com/dandi/dandi-cli/blob/ea86eeee974fc58fac03b0af86cf606baba06e97/dandi/metadata.py#L68) import needed extensions (from those which we know about) if we detect that there is a missing namespace.  We react on `KeyError` which has "not a namespace" in its message.  And I believe it was working ok across the dandisets we have.  But

[2021-02-17 20:36] yarikoptic commented on #1335
oh, just filed #1337 which sounds like related, if not the same issue(s).

[2021-02-17 20:44] yarikoptic commented on #1335
dataset was linked in the original message, but here is an explicit url: https://girder.dandiarchive.org/api/v1/item/5eed137c17a31a38dab09a67/download

<details>
<summary>reproduced: and here is a complete-ish traceback</summary>

[code]
</details>

<details>
<summary>and without pre-importing the extension</summary>

[code]
</details>

files likely were produced by pynwb (but https://github.com/N

[2021-02-17 21:05] yarikoptic opened #1338 "Wishlist/Recommendation: "Downstream testing" against NWB-Extensions"
NWB extensions have their lives, and NWB-schema/HDMF/PyNWB and those extensions as well, can progress forward while possibly missing the point whenever a change in any of those caused some files containing the extensions not even loadable (#1337, #1335).

To help (if not to eliminate) to identify and fix similar issues early in the process, and to make development of pynwb aligned with the ecosyst

[2021-02-17 21:25] oruebel commented on #1338
I agree that having testing infrastructure for extensions will be useful. I'm not sure, whether this will need to be part of the extension catalog, individual extensions, or PyNWB (probably some combination of things). I thin this would be a good topic for the upcoming hackathon to do some specification on.

[2021-02-18 17:58] rly commented on #1337
Thanks for the bug report. I'll look into this. It will likely result in a bug fix release in HDMF.

[2021-02-18 23:03] bendichter opened #1339 "test fixtures"
A great deal of time and lines of code are dedicated to creating dummy pynwb objects for testing purposes, both within the PyNWB codebase, and outside of this codebase in other repos that rely on PyNWB. I propose we create pynwb/testing/fixtures/[module].py files that contain test versions of objects, e.g. in pynwb/testing/fixtures/file.py we would have definitions like:

[code]

(this is just for

[2021-02-19 00:18] yarikoptic commented on #1339
yeap -- we do have already some fixtures like that in dandi-cli, although we just generate an .nwb file but it could be an instance and it could be produced once for entire session or per test.  See e.g. https://github.com/dandi/dandi-cli/blob/master/dandi/tests/fixtures.py#L51

[2021-02-19 17:56] lvsltz commented on #1335
That file was made with one of the commits ~~after~~ before 4 Feb 20 (most likley this one https://github.com/oruebel/ndx-icephys-meta/commit/923b0891f5a8198a024b419a01a6739b7310a031).
Indeed, loading with `load_namespaces=True` doesn't seem to work even with one of the most recent versions of pynwb or recent commits of the extension.
(I could recreate that nwb with more recent versions if needed.

[2021-02-20 01:17] oruebel commented on #1335
I am finally in the process of updating the extension and merging with NWB proper. Once this is part of the NWB core it may be useful to generate the data. This is a fairly large and complicated extension and unfortunately it has taken much longer than expected for me to find the time to port this to NWB. That being said, several projects are starting to depend on this being released and the goal

[2021-02-23 05:37] #1337 closed, assigned to nobody

[2021-02-23 14:17] yarikoptic commented on #1337
cool, thank you @rly -- I will give it a shot. Cheers

[2021-03-01 16:45] yarikoptic opened #1341 "Dandiset 000012 does not load properly with load_namespaces=True"
Might be just another reincarnation of #1335 but I have decided to file separately since error message is different

<details>
<summary>helper script</summary>

[code]
</details>

produces
[code]

[2021-03-01 17:52] bendichter commented on #888
fixed by hdmf#420

[2021-03-01 17:52] #888 closed, assigned to nobody

[2021-03-01 18:45] t-b commented on #1341
Does the file validate?
The error message `"Could not construct DandiIcephysMetadata object due to: TypeMap.__get_cls_dict.<locals>.__init__: missing argument 'help'"` suggests not.

[2021-03-01 19:45] yarikoptic commented on #1341
here is a clamp of nwb validation + then failure of us to load it:
[code]

FWIW: file(s) could be downloaded from https://gui.dandiarchive.org/#/dandiset/000012/draft/files?_id=5e739c1d368d3c79a80064a2&_modelType=folder  or with datalad from https://github.com/dandisets/000012

[2021-03-02 18:59] CodyCBakerPhD opened #1342 "add_electrode does not check uniquess of id"
## Description
While trying to solve [this issue on spikeextractors](https://github.com/SpikeInterface/spikeextractors/issues/587), I ran across this problem as a contributing factor. The docstring and overall schema treatment of electrode table IDs mandates they be unique, but we can set them arbitrarily through pynwb.

## Steps to Reproduce
[code]

This should throw an error letting the user kno

[2021-03-02 19:01] CodyCBakerPhD commented on #1342
I can try submitting a PR for this myself in the next couple days, if not already solved by then.

[2021-03-02 19:08] oruebel commented on #1342
``DynamicTable.add_row`` has a feature to enforce unique id's when adding items to a table https://hdmf.readthedocs.io/en/stable/hdmf.common.table.html#hdmf.common.table.DynamicTable.add_row  I'm not sure, but it may be as simple as setting this flag when updating the table to enforce the unique id's here.

[2021-03-02 19:10] CodyCBakerPhD commented on #1342
@oruebel That does look like a very simple solution, I'll try it out! Thanks

[2021-03-10 14:40] carsen-stringer commented on #1334
okay so I dug into this a little more and now the `rois` are tuples? is there any reason why they aren't np.ndarrays anymore?

[2021-03-10 14:43] carsen-stringer commented on #1334
I've fixed the accessing in suite2p and it should be backward compatible, but other imaging softwares may have similar issues

[2021-03-10 14:43] #1334 closed, assigned to nobody

[2021-03-10 22:14] rly opened #1343 "Release a new version of PyNWB on every HDMF release"
In investigating #1334, I realize that any bug fixes in HDMF may not propagate to user's installations of PyNWB because PyNWB allows a range of HDMF versions >=2.1.0, <3. One install of PyNWB 1.4.0 might have HDMF version 2.1.0 and another might have version 2.4.0. Some of these bug fixes may break previously working code that relied on a bug, and it is difficult for users to figure out which vers

[2021-03-10 23:05] bendichter commented on #1334
Thanks for tracking this down, @carsen-stringer!

[2021-03-10 23:54] rly commented on #1334
Hi @carsen-stringer . Sorry for not following up on this issue. The core machinery of PyNWB lives in HDMF, which we also maintain. We found that PyNWB 1.4.0 with HDMF 2.2.0 wrote pixel masks as a dataset of dtype int and shape (N, 3), when instead, based on the NWB spec, it should be written as a dataset of compound type (uint, uint, float) and shape (N, ) (see #1313). This was fixed in HDMF 2.3.0

[2021-03-11 14:59] carsen-stringer commented on #1334
Ah you're right it's an np.ndarray that's structured! Sorry I didn't realize that. You're right, one of those should work -- I was checking for an np.ndarray because I assumed the new format was a dictionary :) thanks so much for all the help. The way I've written it now should work for either case:
[code]

[2021-03-18 14:07] yarikoptic commented on #1335
FWIW: the issue persists in a sense of us running into it while using most recent hdmf+pynwb only to search back to this issue ;)

[2021-03-30 22:46] rly commented on #1297
@kir0ul Copying containers/groups is not yet supported by PyNWB, but copying datasets is. That is what the `link_data=False` flag allows. Here is another workaround based on that:
[code]

[2021-03-30 23:21] kir0ul commented on #1301
Update: this doesn't crash anymore with HDMF 2.4.0!

[2021-04-01 18:14] t-b opened #1346 "get_class creates class which can not read text data back"
pynwb: 1.4.0
hdfm: 2.1.0
python 3.7.4
h5py 2.10.0
Windows

Below is a MWE and the backtrace.

I'm a bit suprised I had to pass a list at

[code]

into UserCommentDevice.

I'd be glad to hear about workarounds.

MWE:
[code]

[code]

[2021-04-01 18:37] jeromelecoq opened #1347 "Improve the documentation for getting data "in NWB""
The pyNWB documentation is really well structured, convenient and easily usable.
The API documentation is also thorough at each individual function.

Still, it is a little challenging to convert data into NWB files without getting clarifications directly from the developer community (which is very supportive and always helpful). I feel like a little more detailed step by step examples of this conv

[2021-04-01 18:42] jeromelecoq opened #1348 "Improve the documentation for getting data "out of NWB" into publication figures"
The documentation for reading from NWB files could be strengthened with real-like application of creating scientific figures from NWB files.
Current documentation shows how to access individual items but shows minimal examples of scientific analysis performed from NWB files. Having those as part of the documentation and/or with linked notebooks will help further adoption by the community.

There a

[2021-04-02 12:54] t-b commented on #1343
Isn't the real issue that pynwb's version requirement on hdmf is too loose? Why not just require a fixed version of hdmf?

[2021-04-02 13:56] t-b commented on #1299
@rly Is it possible to write a custom class for StimulusSetReferencedFolder?

[2021-04-23 18:47] rly commented on #1343
Yes, I now realize that releasing a new version of PyNWB on every HDMF release does not actually solve the original issue. PyNWB would still have to pin a version of HDMF.

Since PyNWB is a library, in general, it is preferred / conventional to accept a range of dependencies, so that updates in required packages, e.g., numpy, scipy, pandas, h5py, can also be installed. See also discussion in https

[2021-04-23 19:03] oruebel commented on #1343
Unlike libraries, such as numpy, which is a requirement for many different libraries, the vast majority of users only need HDMF because they are using PyNWB. As such, pinning to a particular version of HDMF seems less problematic here, because version-conflicts where users need to use different versions of HDMF for different packages are much less likely. In general I would say:

* release PyNWB o

[2021-04-23 20:05] rly commented on #1343
Perhaps I am misunderstanding here. PyNWB does not know ahead of time what the next minor/patch version of HDMF will do, and I would say, most bug fixes and added features in HDMF do affect behavior in PyNWB. So it does not solve the issue of PyNWB==1.4.0 behaving differently for HDMF 2.2.0, 2.3.0, etc. - if HDMF is not pinned, users still need to track their HDMF version.

[2021-04-23 20:50] oruebel commented on #1343
If behavior is affected, fixing HDMF version in PyNWB seems reasonable to me.

[2021-04-24 07:10] rly opened #1357 "Validation errors on gallery files"
See nightly CI report: https://app.circleci.com/pipelines/github/NeurodataWithoutBorders/pynwb/1754/workflows/c7c1092b-19d0-4402-bcb1-9c59a2196d85/jobs/38586/parallel-runs/0/steps/0-105

[2021-04-24 15:31] yarikoptic commented on #1343
Pinning just would be a band aid with negative side effects. Making libraries adhere to semver properly (breakage of api/abi - boost of major) and then dependent libraries announcing what major version they need with announcing minimal version - is the way to go imho.
Can discuss more

[2021-04-24 15:33] yarikoptic commented on #1343
Or, if so tight of a relationship, and if hdmf isn't used by anything else - absorb it into pynwb and say that independent hdmf is no longer

[2021-04-28 16:49] rly commented on #1343
@yarikoptic Thanks for the feedback! HDMF is used by a couple other small projects of ours, so absorbing it is not preferable.

After further reading and thought, I agree with @yarikoptic and think we should 1) accept that PyNWB is a living software package and have PyNWB require a major version of HDMF with a minimal version, and 2) be super strict about bumping up HDMF major version numbers when

[2021-04-28 16:50] #1343 closed, assigned to nobody

[2021-04-30 02:19] oruebel opened #1358 "Error converting ICEphys tables to Pandas"
## Description

Error in Pandas when converting icephys metadata table to a DataFrame. This issue was originally reported by Liviu Soltuzu who also provided the example code to reproduce the error.

The following issue may be related: https://stackoverflow.com/questions/65026540/stopiteration-error-on-printer-prettyobj-when-dataframe-contains-nested-dict

This is in relation to https://github.com/

[2021-05-11 17:57] rly opened #1359 "Fix sphinx gallery issue"
## Description

See https://github.com/hdmf-dev/hdmf/pull/601 and https://github.com/hdmf-dev/hdmf/pull/600. The same unknown key error occurs for PyNWB as well with the recent release of sphinx-gallery.

## Checklist

- [x] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues)?
- [x] Have you included a brief and descriptive tit

[2021-05-11 23:15] rly commented on #1266
This bug hit me and @mavaylon today. Any class that subclasses `DynamicTable` has to use `__fields__` instead of `__nwbfields__`. We could get around that in a similar way to when we extracted `MultiContainerInterface` which is to redefine `DynamicTable` in pynwb where it inherits from `NWBDataInterface` or `NWBContainer` (which changes `__fields__` to `__nwbfields__`): https://github.com/Neurodat

[2021-05-11 23:25] oruebel commented on #1266
@ajtritt what are your thoughts on this? I’d be Ok with changing things to __fields__ in PyNWB if that doesn’t break extensions.

@rly I assume this would then also change ``NWBContainer`` to no longer define ``__nwbfields__`` or would ``NWBContainer`` simply merge ``__nwbfields__`` into ``__fields__`` to make sure extensions using ``__nwbfields__`` can keep using it?

[2021-05-12 00:15] ajtritt commented on #1266
Yeah, I would say change it so they're all ____fields____

[2021-05-13 01:10] rly commented on #1357
The root error is documented here: https://github.com/hdmf-dev/hdmf/issues/608

[2021-05-18 17:50] rly commented on #1357
This is resolved in #1245