[2018-10-08 19:38] oruebel commented on #657
@ajtritt is this possibly related to https://github.com/NeurodataWithoutBorders/pynwb/pull/634

[2018-10-08 19:59] ajtritt commented on #657
when did you last update? `electrode_description` should no longer be a column

[2018-10-08 20:08] bendichter commented on #657
HEAD is now at f671b8d Merge pull request #648 from NileGraddis/epochs_to_df_timeseries

same problems.

I added "electrode_description" as a field to try to get around the issues caused by description, but that resulted in a warning.

[2018-10-08 20:13] ajtritt commented on #657
Can you share the code that's creating this problem?

[2018-10-08 20:13] ajtritt commented on #657
Also, please move this to a new issue.

[2018-10-08 21:04] bendichter commented on #657
"imp (float) – the impedance of the electrode"

If the impedance is a float, we need to say what the measurement units should be

[2018-10-08 21:11] ajtritt opened #658 "Add support for dtype: bool to specification language"
## 2) Feature Request
Add the ability to specify dtype as a `bool` to the specification language.

See [here](https://schema-language.readthedocs.io/en/latest/specification_language_description.html#dtype) for available dtypes

Here are the following sections that need attention:
- [ ] [form.spec](https://github.com/NeurodataWithoutBorders/pynwb/blob/f671b8d7c8692e48fadd3e6314856ff3bd642421/src/py

[2018-10-08 21:19] bendichter commented on #657
@ajtritt I'm not able to replicate the warnings and errors with minimal examples so they are probably something I am doing wrong.

[2018-10-08 21:41] t-b commented on #658
h5py maps numpy's bool to HDF5 enums, see http://docs.h5py.org/en/stable/faq.html#what-datatypes-are-supported.

I've looked into Igor Pro and Matlab, both support reading and writing enums!

[2018-10-08 22:53] bendichter commented on #658
https://github.com/NeurodataWithoutBorders/nwb-schema/issues/175

[2018-10-08 23:25] bendichter commented on #658
Does anyone else find this strange? Doesn't HDF5 natively support boolean values? What could be the reason for not using them?

[2018-10-08 23:45] oruebel commented on #658
At least in older versions of HDF5 this is because the C programing language does not have a boolean data type. See https://support.hdfgroup.org/HDF5/hdf5-quest.html#bool

On a separate note, since there seems to have been some confusion in the other threads. A Boolean is usually 8bit long (not 1 bit)(otherwise it would not be addressable). Storing a bool and an 8bit int is from a storage/memory p

[2018-10-09 15:34] t-b commented on #658
And the reason to use a bool array instead of 8bit integer array is speed. The single bits might not be adressable, but having a bunch of them in a vector makes for a very compact and fast datastructure. See [here](https://isocpp.org/blog/2012/11/on-vectorbool) for some thoughts on that (requiring C++ though).

Unfortunately not everyone is using optimized algorithms for bools.

[code]
[code]

Her

[2018-10-09 16:51] oruebel commented on #658
@t-b just to avoid confusion in terms of terminology, when using single bits these are usually referred to as bitarrays (since bool  array usually refers to an array of bytes). While bitarrays are more compact, they require special data structures to deal with issues, e.g.: i) the need for padding if your array length is not divisible by 8, ii) require custom access and operator APIs etc.. Unfortu

[2018-10-09 23:14] VBaratham opened #662 "Can't write to an existing file"
## 1) Bug

pynwb throws an error when you append to an existing file that contains an electrode_group

### Steps to Reproduce
[code]
The error is:
[code]
### Environment
- **Python Executable:** Conda
- **Python Version:** Python 3.5.1
- **Operating System:** Linux (Ubuntu 18.04)
- **Pynwb Version:** pynwb 0.5.1

## Checklist

- [x] Have you ensured the feature or change was not already [reported]

[2018-10-10 03:20] ajtritt opened #663 "Make ROITable a DynamicTable"
### Problem/Use Case
ROITable is currently a compound-dtype table. This makes it hard to extend and inefficient for querying along a single feature. Additionally, it forces us to require pixel_mask *and* image_mask. Making ROITable a DynamicTable makes the code for requiring one or the other much simpler.

Additionally, pixel_mask will be replaced by the updated VectorIndex, which does not use Reg

[2018-10-10 03:28] ajtritt opened #664 "Make Epochs a DynamicTable"
### Problem/Use Case
The epoch table is currently a compound-dtype table. This makes it hard to extend and inefficient for querying along a single feature.

Part of this move of making Epochs a DynamicTable should also involve removing the use of RegionReferences for indexing into an array of TimeSeriesIndex. Removing this will make the schema less dependent on HDF5 primitives and make it easier t

[2018-10-10 03:31] ajtritt commented on #643
Closing this and using two separate issues.

[2018-10-10 03:31] #643 closed, assigned to ajtritt

[2018-10-10 09:05] #638 closed, assigned to nobody

[2018-10-10 11:18] ageorgou commented on #662
I've come across this as well. In my case, it was solved by updating the NWBFile after each write. I played around with this example, and noticed two things:

1. The first write has to be done in `w` mode, not `a`. This is the first problem here as well, since the error is caused at the first write (line 38), not the one marked with `# fails`.

2. Assuming you update the file after the first write

[2018-10-10 16:03] ageorgou opened #666 "Data and arguments evaluated lazily"
I came across something that (to me) seems unintuitive, and that I am not sure is intended behaviour. I'll start with a minimal example and then explain the real use case.

If I run the following code:
[code]
and then view the file, both timeseries have the same data. It appears that the timeseries are not created with the contents of their arguments, only a reference, and then the data is only ch

[2018-10-10 16:37] ajtritt commented on #666
@ageorgou If I understand you correctly, this is intentional, and not a PyNWB-specific issue. This is just the behavior of passing by reference. From what you are saying, it sounds like you're expecting PyNWB to behave as if passing by value, which, for the purposes of this discussion, we can say Python does not do. (This is issue is more nuanced than I am making it sound, so I suggest you look th

[2018-10-10 16:37] #666 closed, assigned to nobody

[2018-10-10 16:44] ageorgou commented on #666
Thanks for the clarification @ajtritt. I was indeed expecting PyNWB to copy the values or at least consume them directly (for example, creating an array if a list is passed). I will adjust accordingly.

[2018-10-10 16:47] oruebel commented on #666
If memory is an issue for you could potentially look at ``H5DataIO`` and /or``DataChunkIterator`` to create your manifold array on the fly when it is being written.

[2018-10-10 16:51] ageorgou commented on #666
@oruebel Thanks, I've looked into the iterative writing before. I'll keep that in mind when checking with the full datasets.

[2018-10-10 17:21] VBaratham commented on #662
Thank you @ageorgou this helps a lot. I'll talk to @ajtritt today and see if we can do anything about the electrode group

[2018-10-11 05:00] ajtritt opened #667 "Add integration test for appending"
The following snippet should be added to the integration test suite (tests/integration) for a test of appending behavior.

[code]

courtesy of @VBaratham

## Checklist

- [x] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues/) ?
- [x] Have you included a brief and descriptive title?
- [x] Have you included a clear description

[2018-10-11 05:27] ajtritt commented on #662
The error here was caused by the link created from the ElectrodeGroup to the Device. When this link was read, it wasn't being tracked as already being written. So, on the second write, it was trying to create it again, hence the error `Unable to create link (name already exists)`. I fixed this tracking and this issue should be resolved when #665 gets merged.

[2018-10-11 22:05] VBaratham opened #668 "Can't read from one file then save to another file"
## 1) Bug

Loading an NWBFile from one file, then saving it to another causes `ValueError: Can't change container_source once set` to be thrown

### Steps to Reproduce
[code]
### Environment
Please describe your environment according to the following bullet points.
- **Python Executable:** Conda
- **Python Version:** Python 2.7.15 and 3.5.1
- **Operating System:** Linux
- **Pynwb Version:** 0.5.1.

[2018-10-11 22:40] #662 closed, assigned to ajtritt

[2018-10-11 22:40] #663 closed, assigned to ajtritt

[2018-10-11 22:40] #657 closed, assigned to nobody

[2018-10-11 22:58] ajtritt opened #669 "Convert between pixel mask and image mask"
## Feature Request
Users are no longer required to provide both *pixel_mask* and *image_mask*--they can provide either or both.  To make it easier to work with files that use different mask types, supply PlaneSegmentation with a method that can convert from *pixel_mask* to *image_mask* and back.

Motivated by @bendichter [here](https://github.com/NeurodataWithoutBorders/pynwb/pull/665#issuecomment

[2018-10-11 23:43] ajtritt opened #670 "Cant append links to existing objects"
## 1) Bug
Links are not created to existing objects when attempting to reuse them.

### Steps to Reproduce
[code]
### Environment
Please describe your environment according to the following bullet points.
- **Python Executable:** Conda
- **Python Version:** Python 2.7, 3.5, 3.6
- **Operating System:**  macOS, Linux
- **Pynwb Version:** 44cfcac2a853059c98e3db8cf42055a8718eff19

## Checklist

- [X]

[2018-10-12 00:05] #670 closed, assigned to ajtritt

[2018-10-12 04:04] #623 closed, assigned to ajtritt

[2018-10-12 04:05] ajtritt commented on #623
addressed by #634

[2018-10-12 04:10] ajtritt opened #672 "Update Calcium imaging gallery"
### Problem/Use Case
The [calcium imaging gallery](https://pynwb.readthedocs.io/en/latest/tutorials/domain/ophys.html#sphx-glr-tutorials-domain-ophys-py) does not specify that *pixel_mask* and *image_mask* are not both required. The gallery should be updated to reflect the requirements when calling [PlaneSegmentation.add_roi](https://pynwb.readthedocs.io/en/latest/tutorials/domain/ophys.html#sphx-

[2018-10-12 10:56] t-b commented on #651
@ukos-git Solved in #652. Please reopen if not.

[2018-10-12 10:57] #651 closed, assigned to nobody

[2018-10-12 11:15] t-b commented on #645
After adding the conda-forge channel this works on windows with

[code]

[2018-10-12 11:17] t-b commented on #650
@ukos-git From the [numpy release notes](https://docs.scipy.org/doc/numpy/release.html#numpy-1-15-1-release-notes).

So I guess this can be closed. Please reopen if required.

[2018-10-12 11:17] #650 closed, assigned to nobody

[2018-10-12 15:06] mamelara commented on #645
conda-forge is on my channel config.

And I still get this:
[code]

[code]

[2018-10-12 15:30] t-b commented on #645
@mamelara Are you sure you are using the latest version? This is currently `ca60249f (Merge pull request #652 from ukos-git/bug/install_python3_numpy, 2018-10-11)`.

[2018-10-12 15:36] mamelara commented on #645
Ah thanks! Yes can confirm this works now. Will close this.

[2018-10-12 15:36] #645 closed, assigned to nobody

[2018-10-12 15:41] t-b commented on #608
@oruebel Since 3cc55d40 (Pin specific package versions in requirements, 2017-10-23) we are requiring h5py 2.7.1 in requirements.txt.

[2018-10-12 15:45] t-b commented on #629
@lepmik Is there a document which desribes the mapping between the HDF5 types and the exdir types? Or alternatively a list of what is not supported in exdir?

[2018-10-12 16:05] oruebel commented on #608
@t-b it might be worth trying to update to h5py 2.8 so see if that fixes the issue

[2018-10-12 21:21] #619 closed, assigned to bendichter, ajtritt

[2018-10-12 21:21] #653 closed, assigned to nobody

[2018-10-15 05:52] lepmik commented on #629
@t-b It's pretty much one to one, however there might be some slight differences in `Dataset` as can be seen [here](https://exdir.readthedocs.io/en/latest/dataset.html#datasets). You can find an overview of what's "missing" in terms of functionality with regards to h5py in the [issues](https://github.com/CINPLA/exdir/issues) section. Our goal is to support everything from h5py, or at least as much

[2018-10-15 06:38] ukos-git commented on #650
@t-b Thank you for digging into it. The size change is only minimal: ```Expected 96, got 88``` sounded like the a (true) binary -> string conversion. As it is suppressed in 15.1, let's assume the warning never existed.

[2018-10-15 14:55] ageorgou opened #673 "Indexing Dynamic Table"
I have a question on how DynamicTable rows are supposed to be retrieved when using non-default ids. Consider the following example which adds two rows with ids 1 and 2:

[code]

This gives an error when printing the second row:
[code]

Looking at [the source for DynamicTable](https://github.com/NeurodataWithoutBorders/pynwb/blob/dev/src/pynwb/core.py#L1103), I can see why this happens (the argumen

[2018-10-15 15:19] ajtritt commented on #673
This isn’t a bug, this is intentional. The point of letting users pass in IDs is override of the default autoincrementing behavior. Eventually, you should be able to query by ID, but right now, you can only index by row number.

[2018-10-15 15:48] ageorgou commented on #673
Thanks. Are there any thoughts on making tables themselves iterable, or should I just iterate over `table.id.data` to access each row?

[2018-10-15 17:07] bendichter commented on #673
@ageorgou you might like `table.to_dataframe()` Pandas dataframes are iterable (`df.iterrows()`) and have a lot of other handy features for manipulating tabular data

[2018-10-15 17:27] bendichter commented on #629
From the paper:

So it seems the bridges to build are the ones already mentioned: links, object references, and region references

Another difference that may come up:

HDF5 can do parallel operations on an individual dataset but not across datasets, so we've gone out of our way to design data structures accordingly, with data that could belong to multiple datasets concatenated into a single datas

[2018-10-15 17:34] ageorgou commented on #673
Thanks @bendichter. I was just looking for a more elegant way than how I'm currently iterating, so I don't think converting to a dataframe will be necessary.

I'll close this now, thanks for the clarifications.

[2018-10-15 17:34] #673 closed, assigned to nobody

[2018-10-15 21:08] ajtritt commented on #629
@bendichter
I'm fairly certain HDF5 can do parallel operations across multiple datasets--you just don't get the performance benefits of collective operations. The restriction here is that metadata operations (i.e. creation of datasets) gets done collectively. I would think that exdir would need to impose a similar constraint, since a metadata operation is a filesystem operation.

Also, to clarify

[2018-10-15 21:39] ajtritt opened #674 "Refactor unit/cluster data"
### Problem/Use Case
Spiking unit data/metadata is spread out across multiple locations/objects (UnitTimes, NWBFile.units, Clustering, ClusterWaveforms). These specifications  should be combined to make this feature simpler and easier to use.

- [x] Merge UnitTimes into NWBFile.units
    - [x] Make UnitTimes a DynamicTable
        - [x] Add NWBFile.units predefined columns to UnitTimes
    - [x] A

[2018-10-15 21:40] ajtritt commented on #674
@tjd2002 @bendichter @NileGraddis please provide any feedback

[2018-10-15 22:18] bendichter commented on #674
I like the idea of incorporating `UnitTimes` into the `units` table, especially now that you've made it possible to put region references in dynamic tables. This would solve some usability issues and bring everything together in a more cohesive framework. Though it would be redundant to keep "Unit" in the name if it's in the units table, so I would suggest calling the column "SpikeTimes" rather th

[2018-10-15 23:23] ajtritt commented on #674
@bendichter

This is one of the unmentioned motivations of making UnitTimes a DynamicTable. UnitTimes would contain optional columns for specifying which group or electrode a unit came from.

Given that there `Clustering` has some query/streaming capabilities that `UnitTimes` does not, it makes sense to keep it around.

With `ClusterWaveform` in `UnitTimes`, do you still see a reason to keep it ar

[2018-10-16 00:12] bendichter commented on #674
`ClusterWaveform` is fine to move to the units table since it's just mean and std of the waveform.

[2018-10-16 00:15] bendichter opened #675 "combine SpikeEventSeries and Clustering"
## 2) Feature Request

How would people feel about folding `Clustering` into `SpikeEventSeries` by removing `Clustering` and adding a `SpikeEventSeries.cluster` field of dtype `int`? We could make `data` optional, in case a user only wants to store the times and not the waveforms (this is pretty common).

This would:
1) Make the relationship between a spike time and the spike waveform more explici

[2018-10-16 00:16] bendichter commented on #674
see https://github.com/NeurodataWithoutBorders/pynwb/issues/675 for a proposal for dealing with `Clustering`

[2018-10-16 14:43] tjd2002 commented on #674
I think the reason we opted not to call the Unit table  the 'Spike table' in the first place was to account for use cases other than spikes. E.g. time of detected calcium transients. So I'd vote either for 'UnitTimes', 'timestamps', or 'Times'

[2018-10-18 14:50] t-b commented on #499
Well be working on this feature starting now.

[2018-10-18 16:24] oruebel commented on #499
@t-b you should consider using DynamicTable instead of compound type (at least if you want to enable users to dynamically add columns to the tables without having to create new extensions). DynamicTable did not exist yet when this issue was created but @ajtritt has been working on replacing most compound types with DynamicTable.

[2018-10-18 17:56] t-b commented on #499
@oruebel Thanks for the hint. Yes we want to use the DynamicTable instead of compounds. I've adapted the issue text already.

[2018-10-19 13:44] tjd2002 opened #677 "Do not install enum34 (from requirements-dev.txt) in Python>3.4"
## 1) Bug

`requirements-dev.txt` installs enum34 irrespective of the python version.

enum34 provides python 3.4-like enum functionality to earlier versions of python. If it is installed on python >3.4, it can actually break enums (https://bitbucket.org/stoneleaf/enum34/issues/19/enum34-isnt-compatible-with-python-36)

We don't seem to use any enums in pynwb, but flake8 depends on it.

Here are 2

[2018-10-19 14:45] t-b commented on #677
From my POV solution 2 sounds good.

[2018-10-19 16:12] oruebel commented on #677
Since this is a dependency of flake8 I think 2 is fine. @dorukozturk @jcfr thoughts?

[2018-10-19 16:18] dorukozturk commented on #677
2 sounds good to me.

[2018-10-21 04:47] tjd2002 opened #679 "An ElectrodeTableRegion with non-default 'name' causes error on read"
## Bug

By default an ElectrodeTableRegion (ETR) is created with a name of 'electrodes'. If any other name is specified in the`nwbfile.create_electrode_table_region` method, then an ElectricalTimeSeries referencing this ETR can be written to disk without error or warning, but causes an error on read. (`TypeError: missing argument 'electrodes'`; See repro code and error message below.)

**It would

[2018-10-21 12:41] tjd2002 commented on #679
Just realized this is a regression. Running the sample script using `git bisect`* identifies c55ff32e2abe1b0481668f5217d21f822639ea43 as the place where this bug was introduced. CC @ajtritt

[code]

*Man do I love git bisect!
[code]

[2018-10-22 18:30] tjd2002 commented on #677
A note for posterity: if _pynwb itself_ ever starts using python enums, then this approach will need to be revisited. The correct solution in that case would probably be to use solution (1) above in requirements.txt. However, since this is currently just a dependency of one of our dependencies it's ok to punt this, and rely on pip to install the package only when needed.

[2018-10-23 22:48] NileGraddis opened #680 "Allow NWBHDF5IO and HDF5IO to accept h5py.file objects"
These classes currently require a path and construct an `h5py.File` object at that path when their `open` method is called. It would be handy to have the option of passing in a pre-constructed `h5py.File` object (skipping the construction of a new one in `open`). This would not impact existing functionality, but would allow us to use h5py features for free without explicitly implementing support f

[2018-10-24 18:41] bendichter commented on #680
Hey @NileGraddis, sounds interesting. Could you expand on what features this would provide?

[2018-10-24 20:52] NileGraddis commented on #680
@bendichter This is an example of dependency injection - a pattern where an object is (in this case optionally) given the tools it needs rather than building them itself. You are probably familiar with this pattern from other Python packages - h5py actually [implements it for its File object](http://docs.h5py.org/en/latest/high/file.html#python-file-like-objects).

This is useful for testing (you

[2018-10-25 22:40] ajtritt commented on #679
@tjd2002 PR #682 includes a check for this. This fix is a bit of a work around rather than a general solution. A general solution to this should be addressed by issue #633

[2018-10-25 23:08] #679 closed, assigned to nobody

[2018-10-26 03:41] #680 closed, assigned to NileGraddis

[2018-10-26 20:11] ajtritt opened #683 "Allow users to specify other sets of time intervals"
### Problem/Use Case
Right now all time interval data is stored in either *epochs* or *trials*. This should be generalized so that users can arbitrary types of intervals and not be restricted to classifying them as epochs or trials.

- [ ] make a new top level group called *intervals*
- [ ] change named of neurodata_type *EpochTable* to something more general i.e. *TimeIntervals*
- [ ] make *trial

[2018-10-26 20:11] ajtritt commented on #683
@bendichter please provide feedback

[2018-10-27 18:21] bendichter commented on #683
I don't think this would cause an issue for me, but it's not solving an issue I have either. Is there a lab that needs this?

[2018-10-27 18:38] bendichter commented on #499
@t-b We're hoping to lock the core schema for 2.0 in pretty soon. Were you thinking this would be part of the core or would it be an extension?

[2018-10-28 07:18] t-b commented on #499
@bendichter I hope to have that in core. When is soon?

[2018-10-28 13:00] tjd2002 commented on #683
I like the idea of having a more general multicontainer of TimeIntervals available.

We are already saving pynwb.misc.IntervalSeries objects in a column of our Units table for clustered spikes (to indicate the valid periods, or 'observation intervals' for each clustered unit). This seems to work fine; would this still be the right way to do things after this proposed refactor?

[2018-10-28 21:38] bendichter commented on #499
@t-b our goal is SfN, but we can be much more flexible if you can make this a non-breaking change i.e. if previously written files pass the validator after the change. If you are only adding classes and not changing existing classes, this should be the case.

[2018-10-28 22:05] bendichter commented on #683
@tjd2002 That sounds like a good use of `IntervalSeries`. Let's make sure the proposed changes are the best way to meet your needs. Is there a specific type of data you were going to use this data structure for?

[2018-10-29 18:39] bendichter opened #685 "ophys tutorial presenting errors"
## 1) Bug

copy/paste of [this ophys tutorial](https://pynwb.readthedocs.io/en/latest/tutorials/domain/ophys.html#sphx-glr-tutorials-domain-ophys-py) throws the following errors:

[code]

The issue with 'pmt_gain' is confusing to me. It's listed as optional in the schema and there's a default arg of `None` in the docval, so I don't understand why an error is being thrown.

## Checklist

- [x] Have

[2018-10-29 18:40] bendichter commented on #685
@ajtritt can you take a look at this when you have a moment?

[2018-10-29 18:56] ajtritt commented on #685
Have you updated recently? I encountered this error myself sometime recently during the table refactorings. The issue is that empty lists don't get written to disk, so there's nothing to pass in to the constructor when it gets read back in. The tutorial should be changed, so updating should fix the exception

https://github.com/NeurodataWithoutBorders/pynwb/blob/ddb64f58807186093b0b3260506e97e6b1a

[2018-10-29 19:03] bendichter commented on #685
This was after a hard reset to remote dev branch, so I think the issue is still there.

[2018-10-29 19:44] ajtritt opened #686 "Change AttributeSpec quantity to required"
## 1) Bug

Change all AttributeSpec `quantity` keys to by `required`.

Right now `quantity` is being used to indicate whether or not an attribute is required. Since attributes are single, named entities, the concept of quantity doesn't fit, so `required` should be used. This is also the key the spec reader expects.

## Checklist

- [x] Have you ensured the feature or change was not already [report

[2018-10-30 12:53] t-b commented on #685
@bendichter Works here as well with `ddb64f58 (Merge pull request #681 from NileGraddis/680/hdf5io-accept-files, 2018-10-25)`. IIRC the tutorials are built during CI so we should never have the case that they don't build in dev.

[2018-10-30 14:44] bendichter commented on #685
The error was due to the browser cache on my end. Thanks @ajtritt and @t-b.

I'm going to leave this up because I'd also like to track down the erroneous warnings. It looks like #689 is relevant.

[2018-10-30 15:31] t-b commented on #499
@bendichter Thx. Originally the plan was to break existing files. But given the timeline I've reworked the design so that old files without these tables are still considered valid.

[2018-10-30 16:10] bendichter commented on #499
@t-b Thanks! We are trying to accommodate users who need new features as well as users who need a stable schema.  I appreciate your flexibility on this, and I'm glad you are able to find a working solution! If in the end it isn't possible to do what you need without breaking changes, you always have the option of making this an extension instead of a change to the core.

[2018-10-30 16:15] #686 closed, assigned to ajtritt, oruebel

[2018-10-30 18:14] #685 closed, assigned to nobody

[2018-10-30 20:08] #674 closed, assigned to ajtritt

[2018-10-31 17:01] ajtritt commented on #499
@t-b you might consider making Sweep Table a DynamicTableRegion if it is just storing indices into the Acquisition table. If you want the flexibility of adding other information to the Sweep Table, you can leave it as a DynamicTable and make ***Sweep number*** a DynamicTableRegion

[2018-10-31 17:38] t-b commented on #499
@ajtritt Thanks for the hints. I've cut down the original approach into https://github.com/t-b/ipfx/blob/feature/sweep_table/sweeptables.md. But I think you suggestions regarding DynamicTableRegion apply as well.

[2018-10-31 17:47] ajtritt commented on #499
@t-b Sounds good. I just have one comment...

If you're just going to add an attribute to PatchClampSeries, you can make it optional, and it will still be backwards compatible. Although, I support the table approach over this, since it makes it easier for users to add additional data, and makes querying a file for datasets much more efficient.

[2018-10-31 17:54] t-b commented on #499
@ajtritt My idea from the file was to combine both changes, I just splitted them up into the non-breaking changes and the breaking changes.

But maybe my idea of breaking vs non-breaking is wrong.

[2018-10-31 18:16] ajtritt commented on #499
@t-b Ah, my bad, I see that now. I still think you could do this without that component being a breaking change. You have specified that, if nothing is passed for *sweep_number*, it defaults to -1, suggesting to me that it's not necessarily required. If that is in fact the case, making it completely optional (i.e. instead of defaulting to -1, default to not even setting the attribute) would allow

[2018-10-31 18:17] t-b commented on #499
@ajtritt Okay, yeah I can make that an optional attribute. Thanks for the feedback.

[2018-11-01 03:02] #554 closed, assigned to bendichter

[2018-11-01 04:18] #658 closed, assigned to ajtritt

[2018-11-01 17:28] t-b opened #698 "Type promotion logic does not take into account the signedness for integer types"
Build the `icephys.py` example in docs/gallery/domain.

Look into the nwb file with `h5dump icephys_example.nwb  | grep -C 10 conversion`:

[code]

So the conversion attribute is stored as 64bit IEEE float little endian (aka double).
But the YAML file `nwb.base.yaml` says

[code]

So they both don't agree.

Where are the types in HDF5 decided? And from what data?

### Environment
Please describe y

[2018-11-01 17:32] t-b commented on #698
This case seems a bit academic but in my current case a 32bit signed integer is created where I specified a 64bit unsigned integer in the YAML file.

[2018-11-01 17:46] oruebel commented on #698
Currently the number of bits in the specification language defines a minimum number of bits,rather than the absolute. See the note box in this section https://schema-language.readthedocs.io/en/latest/specification_language_description.html#dtype . That being said, I'm not sure right now where this is being enforced in PyNWB. To force 32bit float my guess is that you would probably have to explicit

[2018-11-01 17:52] #683 closed, assigned to ajtritt

[2018-11-01 18:59] bendichter opened #699 "omitting tag in epochs causes error"
## 1) Bug

[code]

[code]

## Checklist

- [x] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues/) ?
- [x] Have you included a brief and descriptive title?
- [x] Have you included a clear description of the problem you are trying to solve?
- [x] Have you included a minimal code snippet that reproduces the issue you are encount

[2018-11-01 19:16] t-b commented on #698
@oruebel Thanks for the reply. The float was just for illustration. My real issue is for integers that the signedness is not respected.

Example:
- Repo: https://github.com/t-b/pynwb/tree/uint-yaml-issue-698
- Build `python docs/gallery/domain/icephys.py`
- Look into it with `h5dump icephys_example.nwb  | grep -A 5 sweep`

[code]

Sweep number is defined as

[code]

But a signed integer is written

[2018-11-01 19:28] oruebel commented on #698
It looks like uint64 is missing in the list of dtypes in h5tools https://github.com/NeurodataWithoutBorders/pynwb/blob/56c0ddabcfc1d0f10d2f0ee102d94abce76653ed/src/pynwb/form/backends/hdf5/h5tools.py#L446-L473 I'm not sure if that's the root of the issue but it may be since you are using uint64 in the schema.

[2018-11-02 13:50] #699 closed, assigned to ajtritt

[2018-11-02 17:32] ajtritt opened #702 "Document `__columns__` in DynamicTable"
### Problem/Use Case
DynamicTable comes with a feature for specifying columns and handling the boiler plate code for adding them. Unfortunately, as demonstrated in #701, this has yet to be documented for users.

## Checklist

- [X] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues/) ?
- [x] Have you included a brief and descri

[2018-11-02 20:08] bendichter commented on #664
@ajtritt close via #690?

[2018-11-02 20:17] ajtritt commented on #664
oops. close via #682

[2018-11-02 20:17] #664 closed, assigned to ajtritt

[2018-11-02 20:37] bendichter opened #704 "enforce shapes"
## 2) Feature Request
Now that the `docval` shape validator is working, let's use it! Ensuring that data fits shape specs will help us respect the schema, and in doing so will increase interoperability with matnwb and any other NWB tools

## Checklist

- [x] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues/) ?
- [x] Have you

[2018-11-03 14:06] t-b commented on #702
Can't we just drop `__columns__` if the class is defined in the YAML file?

[2018-11-03 21:48] t-b opened #708 "Add Builder tests for icephys"

[2018-11-05 17:39] #677 closed, assigned to dorukozturk

[2018-11-05 21:20] #499 closed, assigned to t-b

[2018-11-07 18:48] bendichter opened #712 "CI/AppVeyor is too slow!"
AppVeyor is causing us some headaches. It's way slower than the other CI test and it's holding back development. Would it be possible to speed it up or reduce the number down to a single test?

[2018-11-07 18:48] bendichter commented on #712
@ajtritt

[2018-11-07 19:18] bendichter opened #713 "reference error when writing units table"
## 1) Bug

I am having trouble referencing the electrodes table in the units table:

### Steps to Reproduce
[code]

[code]

## Checklist

- [x] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues/) ?
- [x] Have you included a brief and descriptive title?
- [x] Have you included a clear description of the problem you are trying t

[2018-11-07 21:11] dorukozturk commented on #712
@bendichter I think it is good to support different versions of python on windows,
assuming there are windows users of pynwb. When you say it is holding back development what do you mean?

In theory it should only delay merging a PR, not your development, unless you are relying on CI to run tests while developing. Is that the case?

I think a faster feedback loop for development would be to develo

[2018-11-07 22:38] bendichter commented on #712
What I mean is that it takes along time to merge more than one PR. We generally have a queue of PRs and when we merge one, the CI needs to start over for the next one. This isn't a problem for CircleCI because it's fast, but AppVeyor prevents us from going down the row and merging all of the PRs that are ready. We often don't get very far down the list in a single session and by the time we are at

[2018-11-07 22:56] bendichter opened #714 "icephys tutorial warning"
## Bug

running the icephys tutorial, I get the following warning:
[code]

which indicates that the tutorial is not creating a valid NWB file.

## Checklist

- [x] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues/) ?
- [x] Have you included a brief and descriptive title?
- [x] Have you included a clear description of the prob

[2018-11-07 23:53] t-b commented on #714
@bendichter I think the warning is BS.

If I look into the file with ` h5dump -H icephys_example.nwb  | grep -A 20 series_index`

I get

[code]

[2018-11-08 00:00] t-b commented on #712
Travis has nowadays also Windows support. Maybe they are faster. See https://blog.travis-ci.com/2018-10-11-windows-early-release.

[2018-11-08 00:03] t-b opened #715 "Validator broken"
Take one of the docs/gallery/general nwb files and call `python -m pynwb.validate basic_example.nwb` and you get

[code]

After this is fixed the validation tool should also be run as part of building the gallery files I guess.

[2018-11-08 00:09] bendichter commented on #191
@dorukozturk what tool did you use to compute cyclomatic complexity?

[2018-11-08 10:34] t-b commented on #191
@bendichter

[code]

[2018-11-08 14:12] dorukozturk commented on #191
@bendichter

There are other metrics such as [cognitive complexity](https://www.sonarsource.com/docs/CognitiveComplexity.pdf).

I have ran something called [codeclimate](https://codeclimate.com/) against pynwb repo and here are the results.

https://dorukozturk.github.io/pynwb-codeclimate/

I think following this blindly is not necessarily a good approach but at least fixing/refactoring the
high c

[2018-11-08 14:20] dorukozturk commented on #712
Good news for travis community. Though travis is slower than circleci so my guess would be slower windows builds just like Appveyor.

@bendichter For the macOS tests, we run them when the PR is merged only. So we always check the status of master as opposed to individual PRs. Do you feel comfortable doing the same for windows? If yes I can start investigating that and hopefully that could be a way

[2018-11-08 14:25] bendichter opened #718 "ophys.PlaneSegmentation.pixel_mask only supports 2D"
I was looking over the pixel mask specification in Plane Segmentation and I noticed 2 things:

1) It only supports 2D pixel masks
2) I appears to be the only remaining compound type in the spec, with all of the others having been replaced by a `DynamicTable`. Is this true?

https://github.com/NeurodataWithoutBorders/pynwb/blob/44b0d2a261cc48708e9e181281b529145a026126/src/pynwb/data/nwb.ophys.yaml#

[2018-11-08 14:49] bendichter commented on #712
How would you feel about a compromise where 1 windows test is run before
merge and the rest are run after?

On Thu, Nov 8, 2018, 9:20 AM Doruk Ozturk <notifications@github.com wrote:

[2018-11-08 15:05] ajtritt commented on #718
Yes. voxel_mask supports 3D ROIs.

Compound types were used because this data should always be provided together.

[2018-11-08 15:06] dorukozturk commented on #712
I don't think appveyor gives us that much freedom when it comes to adding logic.
I think embedding too much logic in CI configuration files is an anti-pattern and will be hard to maintain
if something breaks on the CI end.

If we run the tests only after a merge and if something is broken the badge will go red.
So I think it will be noticed and I feel safe about that approach.

The tradeoff here i

[2018-11-08 15:07] bendichter commented on #718
ah yes ok I forgot you created an extra type

[2018-11-08 15:11] ajtritt commented on #712
I think the problem is that AppVeyor runs the tests in serial. Can Travis run them in parallel like Circle? Or am I misunderstanding what Circle does?

I don’t think we should be merging after just one test passes on Windows. I have been bitten locally by differences between 3.5 and 2.7.

[2018-11-08 15:26] jcfr commented on #712
Paying for more worker node would help.

$99/month -> 2 concurrent job
$300/month -> unlimited concurrent job

You could conditionally run tox with a different env variable using logic like the following in each step:

[code]

[2018-11-08 16:02] bendichter commented on #718
@ajtritt

What is the best way to incorporate this into pynwb? Should we add a `voxel_mask` arg to `add_roi`?

https://github.com/NeurodataWithoutBorders/pynwb/blob/44b0d2a261cc48708e9e181281b529145a026126/src/pynwb/ophys.py#L247-L263

[2018-11-08 16:10] t-b commented on #712
I think the main issue here is workflow-issue. In gitlab I can say "merge PR once CI was successful", so I don't need to wait until its done.

[2018-11-08 17:51] t-b commented on #708
@ukos-git Could you look into that? It might be worth having a chat before you start ;)

[2018-11-08 22:11] mgrauer commented on #712
We could make changes here, but they do come with tradeoffs.

We could make it so the tests run post-merge or even nightly, then we will have to make sure somebody fixes any broken tests, and this might mean untangling multiple PRs that went in at the same time.

We could only run some tests before merge and then others after, but that becomes more difficult to maintain the CI, and also we have to

[2018-11-08 22:15] t-b commented on #712
How about getting some numbers on how slow appveyor really is?

[2018-11-08 22:48] oruebel commented on #712
Running the tests before merge is generally preferable.

Yes, it would be good to know how long it actually takes. Part of the problem I suspect is that we have a lot of PRs coming through right now due to the push to finalize the schema for 2.0 and release in general.

If moving to another CI service or paying for a subscription is the solution then we can certainly look if we can find someone to

[2018-11-08 23:01] jcfr commented on #712
Total time is ~25mins

![image](https://user-images.githubusercontent.com/219043/48232686-6c792d80-e380-11e8-8196-23d5f68936a1.png)

For comparison, the total time on CircleCI is ~6mins, and ~11mins on TravisCI  (see screenshot below)

I suggest to remove Python 3.5 test on Appveyor. It would then be ~33% faster to get feedback with a wait of 15mins per PR

### CircleCI

![image](https://user-imag

[2018-11-08 23:42] oruebel commented on #712
I think having Python 2.7 and 3.6 is essential. Removing Python 3.5 and only testing with 3.6 seems reasonable to me.

[2018-11-09 16:04] mgrauer commented on #712
This is now done, removing Python 3.5 from appveyor, but people need to merge dev into their PR branches to get the speed up.

[2018-11-09 16:04] #712 closed, assigned to jcfr, mgrauer, dorukozturk

[2018-11-09 16:19] bendichter commented on #712
Thanks guys!

[2018-11-09 23:03] #718 closed, assigned to bendichter

[2018-11-10 01:31] #713 closed, assigned to ajtritt

[2018-11-12 18:17] ageorgou opened #722 "Shape of TwoPhotonSeries data"
With the latest `dev` version (dea0722), attepting to create a `TwoPhotonSeries` with 2d data (512 x 512) gives an error:

[code]

According to #706 and the error, the shape should be either 3d or 4d, which seems surprising. I also see that #706 [changed the data used in a relevant test]( tests/integration/ui_write/test_ophys.py) from 2d to 4d, but I don't know whether this means that the previous

[2018-11-12 18:36] oruebel commented on #722
TwoPhotonSeries is a TimeSeries, i.e., the first dimension for should (if only for consistency) always be time. I.e., in your case of a single 2D image I think it should be (1 x 512 x 512).

[2018-11-12 18:56] bendichter commented on #722
@ageorgou thanks for the error report. I just pushed a pretty big change to pynwb. The schema has always specified shapes for dataset, and we just started enforcing these shapes in pynwb. Although I was careful to match the schema, it is possible that I have made mistakes. There might also be cases where the schema shape does not work for some users- which we can now identify. Please continue to b

[2018-11-12 19:33] ageorgou commented on #722
Thanks @bendichter, @oruebel. I see why I thought there was a mismatch now, since we only had a single frame.

@bendichter The shape checking is already helping catch errors in usage, so thanks! The only thing I noticed in addition to this is that the `timestamps` for `ImageSeries` and `TwoPhotonSeries` don't have a shape specified - in contrast to, say, `SpatialSeries`. Again, though, not sure if

[2018-11-12 21:10] NileGraddis opened #724 "vectorindex has redundant methods"
[see here](https://github.com/NeurodataWithoutBorders/pynwb/blob/dev/src/pynwb/core.py#L350)
[code]
Maybe these are for compatibility, and/or one ought to be deprecated?

[2018-11-12 21:32] bendichter commented on #722
@ageorgou good catch :-)

[2018-11-12 21:45] bendichter commented on #724
@NileGraddis thanks for pointing this out. The reason for this is that we previously had two types: `VectorData` and `TableColumn` which were essentially the same so we decided to combine them. Since the structure can be used outside of tables, we decided to keep `VectorData` and remove `TableColumn` altogether. This looks like a piece that is leftover from that. When `VectorData` is used as a col

[2018-11-12 21:48] bendichter commented on #724
@NileGraddis in case you didn't know, github has a nifty trick for linking to code. When you select the code you can use [shift] to select multiple lines, then you can select Permalink from the [...] menu. If you post that link bare to the thread, it shows the code and give you a link, like so:

https://github.com/NeurodataWithoutBorders/pynwb/blob/dea07228b48bde3441338f7b1e0a4b2021df96fe/src/pynw

[2018-11-12 21:51] bendichter commented on #704
fixed with #706

[2018-11-12 21:51] #704 closed, assigned to bendichter

[2018-11-12 22:54] #722 closed, assigned to nobody

[2018-11-13 20:28] NileGraddis opened #727 "NWBData append and extend behavior depends on underlying type"
Here is a script that replicates this issue (python 3.6, commit 32f3b037d4ce8771e68c0f091731462c65d3ae4c):
[code]
This produces:
[code]

This is odd because the second case here is a conventional representation of a 2D array, while the first is a representation of a 1D array, but the only distinction is whether the NWBData object was constructed with a list or a numpy array as its underlying data

[2018-11-13 21:08] bendichter commented on #727
Thanks for this @NileGraddis. It is pretty unintuitive that initializing the data as either a `np.ndarray` or `list` will change the behavior of `pynwb.core.nwb_data.append`. Just so we understand the urgency, are you able to get around this UI glitch? I think this is one of those situations where it could be a feature or a bug depending on how you look at it. The divergent behavior is a bit count

[2018-11-13 22:17] oruebel commented on #727
As far as I can tell he is using the existing ``NWBData.append ``and ``NWBData.extend`` methods here. I have not looked closely at this, but at first glance this looks like a bug in NWBData.append.

Currently we allow ``[np.ndarray, list, tuple, h5py.Dataset]`` as array data which is really what causes this issue. Converting list or tuple to numpy implicitly is problematic because it requires us t

[2018-11-14 00:35] NileGraddis opened #728 "adding units with spike times is slow"
I ran into some performance issues while attempting to write spike times for some of our extracellular ephys units. This manifested as a long runtime as well as high memory consumption.

In order to investigate further, I wrote [a script](https://gist.github.com/NileGraddis/96c70d1827c9b37333dafdcb2835703c) which generates and writes equivalent data using numpy and h5py.

Here are the results of c

[2018-11-14 03:56] oruebel commented on #728
I think it would be useful to nail down a bit more which specific part of the process is slow. Also, as far as I can tell in the profiling data the results from the two calls (with base h5py and NWB) are intermixed in the statistics, i.e., it would be useful to run these separately to get independent profiles.

If you do ls, I think you will also see that the files are most likely not exactly the

[2018-11-15 18:19] ageorgou opened #732 "Bits per pixel not respected"
When creating an `ImageSeries`, we always seem to end up with 8-bit data, even if that's not enough to store all values, which then corrupts our data. This happens even when explicitly setting the `bits_per_pixel` to a higher value.
Is that option supposed to be respected for I/O, or is it just metadata? Either way, is there a way to use more than 8 bits per pixel?

Steps to reproduce:

[code]

fo

[2018-11-15 18:38] bendichter commented on #732
@ageorgou This behavior is due to the specification of [`ImageSeries`](https://nwb-schema.readthedocs.io/en/latest/format.html?highlight=ImageSeries#imageseries) in the schema. It says here that `ImageSeries.data` is of type `int8`, which means it will be saved as `int8` no matter how you enter it. `bits_per_pixel` does not change this- this value is simply metadata for indicating I think the reso

[2018-11-15 18:41] tjd2002 commented on #732
In the meantime, should we add a check in the API that warns if any value larger than 8 is specified for `bits_per_pixel`?
[EDIT: I retract this suggestion, given that this is a bug, and the int8 type should just be seen as a suggestion]

[2018-11-15 18:49] oruebel commented on #732
CC @ajtritt . Usually ``int8`` should be interpreted as the minimum resolution so that, e.g., ``int16`` or ``int32`` should still be allowed. I think this may be a bug.

[2018-11-15 20:11] bendichter opened #733 "read error when extending Subject"
## 1) Bug

copy/pasted from https://github.com/bendichter/nwbext_ecog/issues/1

https://github.com/bendichter/nwbext_ecog/blob/67d342b9d49f51310acc6c0021938d1bba0d2f21/nwbext_ecog/test_ecog_manual.py#L33-L49

error:
[code]

## Checklist

- [x] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues/) ?
- [x] Have you included a brie

[2018-11-15 20:38] #733 closed, assigned to ajtritt

[2018-11-15 20:52] NileGraddis opened #734 "repr fails for many containers after read"
Here's a weird one. The `__repr__` method on NWBBaseType frequently fails for containers after round-trip. I ran into this using [this script](https://gist.github.com/NileGraddis/69cff02ab7753de331590ce54726eb10) (python 3.6, pynwb 033d2462b17a49dfcbab929f92717292b00d237d), but it can be seen more generally by inserting calls to `__repr__` [here](https://github.com/NeurodataWithoutBorders/pynwb/bl

[2018-11-15 21:20] ageorgou commented on #732
@bendichter My understanding of the [schema documentation](https://nwb-schema.readthedocs.io/en/latest/format_description.html#design-notes) is that the datatype given in the specification is just the suggested precision for integers, not the only one allowed:

and further up (in the section on [time values](https://nwb-schema.readthedocs.io/en/latest/format_description.html#storing-time-values)):

[2018-11-15 21:20] tjd2002 commented on #732
I agree with @bendichter that the best solution would be to convert this to 'numeric'.

Also, note that ImageSeries already has a 'resolution' field which seems redundant with 'bits_per_pixel', and is used for lots of other data types.

Given that 'bits_per_pixel' seems to be confusing, and redundant with 'resolution', and also will not be applicable once we switch to a generic 'numeric' type (it'

[2018-11-15 21:38] ageorgou commented on #732
I'm not sure that the `resolution` field makes sense for integer data, at least with the current description: the meaningful difference will always be 1. `bits_per_pixel` can indicate both range (for integers and floating-point numbers) and precision (for floats only).

[2018-11-15 22:12] bendichter commented on #734
@NileGraddis Thanks for this, I didn't think about how round trips would affect printing. I'll fix it.

[2018-11-15 22:22] tjd2002 commented on #732
Well, once the underlying bug you identified is fixed, then the number of bits per pixel, and the representation (signed/unsigned int, floating point) can be determined just by inspecting the type of the data that is returned. (I.e. int8 will be stored as int8, uint32 will be stored as uint32...). Allowing the user to specify that as metadata seems ill-advised (and is not something we do anywhere

[2018-11-16 01:15] VBaratham opened #737 "Can't read electrode table"
After writing a file containing a dataset with an 'electrodes' attribute, then reading the file back from disk, trying to do anything with the 'electrodes' attribute of the dataset throws an error:

[code]

### Steps to Reproduce
[code]
### Environment
- **Python Executable:** Conda
- **Python Version:** Python 3.5.1
- **Operating System:** Linux
- **Pynwb Version:** 033d2462b17a49dfcbab929f927172

[2018-11-16 01:24] bendichter commented on #737
Hey @VBaratham thanks for the the bug report. This is actually an issue with printing the table after reading it. We fixed the bug here https://github.com/NeurodataWithoutBorders/pynwb/pull/736 and I'll cut a new release as soon as it is incorporated.

[2018-11-16 01:25] bendichter commented on #737
duplicate of #734

[2018-11-16 02:57] tjd2002 commented on #732
I think the intended use of the 'bits_per_pixel' field is *not* as a hint about what dataype to use for storage, but rather to capture the fact that the stored data does not make use of the full bit depth of the representation. For example, if you have a camera that returns 12 bits-per-pixel data, but you are storing those frames as uint16, you'd like to know the maximum value.

The current descri

[2018-11-16 04:09] jakirkham commented on #230
Thanks for raising this issue. It would be great to discuss with you about your experiences trying Zarr. Opened issue ( https://github.com/zarr-developers/zarr/issues/333 ) to discuss any feedback and/or suggestions you may have.

[2018-11-16 04:30] jakirkham commented on #629
Had noted some discussion about using different backends here and noted Zarr came up, which we use and work on. As well as Exdir, which seems similar in some ways to Zarr. At the risk of bringing up a tangential discussion, am interested to discuss with Exdir about opportunities for our two communities to collaborate. Have raised issue ( https://github.com/zarr-developers/zarr/issues/334 ) for thi

[2018-11-16 16:49] oruebel commented on #230
@jakirkham I tested to drop in zarr as backend a while ago. Getting the base primitives to work (ie., Groups, Datasets, Attributes) is not too complicated because you can pretty much just copy the HDF5IO backend in FORM and replace h5py. The part that gets more tricky is how to deal with links and datasets of object- and region-references. As far as I can tell, those concepts are not supported by

[2018-11-16 23:51] #734 closed, assigned to bendichter

[2018-11-16 23:51] #737 closed, assigned to nobody

[2018-11-19 00:55] VBaratham opened #739 "Can't access 'group' column of electrodes table"
After writing a file containing a dataset with an 'electrodes' attribute, then reading the file back from disk, an error is thrown by calling `electrodes.table.to_dataframe()`:

[code]

Similar to #737 but probably a different issue

### Steps to Reproduce
[code]
### Environment
Please describe your environment according to the following bullet points.
- **Python Executable:** Conda
- **Python Ver

[2018-11-19 00:59] bendichter commented on #739
@VBaratham Thanks for the bug reports! I'll look into this right away.

edit: reproduced on osx

[2018-11-19 01:12] VBaratham commented on #739
Thanks @bendichter !

Not sure if you've discovered this already, but I've done a bit more digging and found that the error is caused by trying to access the 'group' column. If you change the last few lines of the MWE above to:

[code]

I think you'll see what I mean

[2018-11-19 01:23] bendichter commented on #739
@VBaratham yes, that is helpful, thank you.

Interestingly, there is no problem with accessing a single element:

[code]
runs as expected. The error occurs when reading multiple group elements at once.

[2018-11-19 03:09] bendichter commented on #739
@VBaratham fixed it in #740. We'll merge it into dev asap and cut a new release.

[2018-11-19 03:37] VBaratham commented on #739
Awesome, thanks for the quick fix!!

[2018-11-19 03:37] #739 closed, assigned to nobody

[2018-11-19 19:35] nicain commented on #728
@ajtritt @oruebel Can we prioritize this issue?  We are currently blocked on generating our NWB files by this slow write-time.  Do you need more information from @NileGraddis or @nicain to help get started on this?

[2018-11-20 01:25] oruebel commented on #728
I did some additional profiling based on the script that @NileGraddis provided and it looks like the culprit for the slow performance is``pynwb.form.build.map.ObjectMapper.__is_reftype``

https://github.com/NeurodataWithoutBorders/pynwb/blob/6683635cac7a0d4b6a08c97e6d485acebef194bd/src/pynwb/form/build/map.py#L659-L674

I basically ran Niles example as follows``with_nwb("temp2.nwb", 1129, 100000)`

[2018-11-20 14:36] t-b opened #741 "Prevent misuse of NWBHDF5IO vs HDF5IO"
### Steps to Reproduce
[code]

### Environment
Please describe your environment according to the following bullet points.
- **Python Executable:** Anaconda 4.2.0 (64-bit)|
- **Python Version:** Python 2.7.12 |
- **Operating System:** Windows 7  64bit
- **Pynwb Version:** 6683635c (add list comprehension for reading references in an array after file <E2><80><A6> (#740), 2018-11-19)

### Problem/Use

[2018-11-20 14:39] bendichter commented on #741
I agree. How would you recommend we rectify this?

[2018-11-20 14:40] t-b commented on #741
What is the purpose of the two classes? Can we integrate both classes functionality in `NWBHDF5IO`?

[2018-11-20 15:05] bendichter commented on #741
It looks like `NWBHDF5IO` is meant to be a more automatic version of `HDF5IO` that automatically loads a manager and (optionally) namespaces

https://github.com/NeurodataWithoutBorders/pynwb/blob/6683635cac7a0d4b6a08c97e6d485acebef194bd/src/pynwb/__init__.py#L189-L229

so I would infer that `HDF5IO` is meant for non-standard cases where these things need to be precisely controlled. Is that right,

[2018-11-20 18:09] oruebel commented on #741
I think it becomes a bit clearer if you think of FORM as a separate library (which we plan to make it in the not to distant future). With this in mind ``HDF5IO`` is a generic I/O backend that FORM provides. ``NWBHDF5IO`` is the NWB-specific HDF5 backend. In part this is also, to make sure end users should not have to import classes from FORM directly in order to read/write NWB files.

[2018-11-20 18:14] t-b commented on #741
Okay so once FORM is in a separate library that is a non-issue?

[2018-11-20 18:19] oruebel commented on #741
I think the answer is yes. However, I think we can take steps now to help along the path. E.g, can we remove HDF5IO from the pynwb namespace, so that ``pynwb.HDF5IO`` does not work but you actually have to do ``pynwb.form.io.backends.h5tools.HDF5IO``? Another part is to make sure that we are using NWBHDF5IO consistently in the galleries.

[2018-11-20 18:34] t-b commented on #741
Okay that sounds like a plan. I'll make a PR.

[2018-11-21 01:39] ajtritt commented on #728
@oruebel that seems like a reasonable fix for now. It might be worth adding a check for other types (i.e. int, bool, etc).

In the long term, this function should not get called. the dtype for `spike_times` is specified, so that information should be able to be passed through. #633 will address this.

[2018-11-21 02:30] oruebel commented on #728
Thanks @ajtritt for having a look at this. I just put in a corresponding PR.

[2018-11-21 19:39] #728 closed, assigned to nobody

[2018-11-21 20:37] #741 closed, assigned to t-b

[2018-11-27 17:17] #708 closed, assigned to t-b

[2018-11-29 12:13] pgleeson commented on #715
Would be great to get this fixed, as well as having more simple example NWB files (and scripts to generate them) which are compliant to best practices.

[2018-12-04 00:10] #724 closed, assigned to ajtritt

[2018-12-06 18:12] jakirkham commented on #230
Could you please explain a bit more about why those features are needed for NWB?

[2018-12-06 18:12] ajtritt opened #753 "document how to add compound dtype data"
### Problem/Use Case
Currently, it is not obvious how to add data that is specified as a compound dtype. Data must be passed in as a tuple or a list of tuples. Some users are trying to add the data as a list or list of lists.

See https://github.com/NeurodataWithoutBorders/pynwb/pull/752#issuecomment-444730415

## Checklist

- [X] Have you ensured the feature or change was not already [reported](h

[2018-12-06 18:53] oruebel commented on #230
NWB:N stores data from complex neurophysiology experiments. As such, there are large collections of different kinds of data and metadata that are related to each other. Links to other objects are critical to allow users to identify ,e.g., related metadata and avoid duplicate storage of the same data. Datasets of object references can serve a similar purpose but allow us to reference multiple objec

[2018-12-07 00:18] bendichter commented on #715
@t-b it looks like you've been making some great progress fixing the validator in #747, but I see that you removed yourself from this issue a week ago. Are you still working on the validator?

[2018-12-07 00:31] bendichter commented on #715
@pgleeson It's the validator that is broken. To the best of my knowledge the tutorials do give examples of best practices.

[2018-12-07 00:33] bendichter commented on #715
I changed the name because the validator is failing even on the simplest files. e.g.

[code]

[2018-12-07 09:27] t-b commented on #715
@bendichter Not at the moment. The next validation bugs I found are currently beyond my available time.

[2018-12-07 14:41] bendichter commented on #715
@t-b Ok thanks for letting us know

[2018-12-10 11:05] t-b opened #754 "Create new release"
The last release is from 11/16/2018 and it is misses one important fix 6683635c (add list comprehension for reading references in an array after file <E2><80><A6> (#740), 2018-11-19) to be able to use reference datasets which I'm using for the sweep tables.

[2018-12-10 16:39] bendichter commented on #754
@t-b thanks for the nudge. I just pushed a release, which should be active as soon as the CI tests pass

[2018-12-10 16:39] #754 closed, assigned to nobody

[2018-12-10 16:39] t-b commented on #754
@bendichter Thanks for the quick reaction. Very much appreciated.

[2018-12-11 00:38] tjd2002 commented on #602
Still an issue. Workarounds: enclose each list in a list; use a vectorData type

[2018-12-11 17:53] mamelara commented on #669
Hello!

Looking to be a new contributor to pyNWB and wanted to work on this issue. I am a bit confused as to the difference between pixel_mask and img_mask. To me, the only difference is that one is basically a list of lists and the other is a list of tuples (this is from my very beginner understanding of the two types.) Could you please elaborate on what is expected from this conversion? Thanks!

[2018-12-11 18:07] bendichter commented on #669
Hey @mamelara, welcome to the team! pixel_mask and img_mask are two different ways of specifying regions of an image. A pixel mask is a list where each element of the list describes a single pixel: (x, y, value). The size of a pixel mask is [any x 3]. For an image mask, the mask is the same size as the original image, and only the values in the region are non-zero. We would like to be able to conv

[2018-12-11 18:18] ageorgou commented on #669
I just thought I'd mention, since I don't see it here, that it may be useful to look at how [the old NWB  API](https://github.com/NeurodataWithoutBorders/api-python/blob/master/nwb/nwb_utils.py#L278) created a pixel mask from an image mask and vice versa. Some changes may be needed,  though, at least because the pixel mask now also contains the weights (which were a separate argument in the old AP

[2018-12-11 19:19] angevineMiller opened #756 "Select columns from DynamicTables using slice-indexing by column name"
### Feature Request
Select a column from a DynamicTable using slice-indexing by column name (e.g. `table['column_name']`).

### Problem
Currently, you have to use list-copy notation (e.g. `table['column_name'][:]`), which is non-intuitive for such a common operation.  Slicing by column name alone returns a VectorIndex or VectorData object, which the typical end user will likely not need to think a

[2018-12-11 19:40] tjd2002 commented on #756
I agree! This 'leakage' of the underlying DynamicTables VectorData internals was confusing to me, especially as compared to DynamicTables columns that are not of type VectorData (these just behave like columns of a table).

Only downside I can see is that I suppose there could be some performance penalty for constructing the return value for very large VectorData objects.

[2018-12-11 19:56] bendichter commented on #756
@angevineMiller I agree that the usability is not great here, but I also agree with the concern @tjd2002 raised -- If this means we read the entire column into memory for e.g. `table['column_name'][0]`, it would be too much of a performance hit. I like using `[:]` to read all data because it has precedence in h5py. Maybe we can change the behavior of `table['column_name']` to something more user-f

[2018-12-11 20:17] tjd2002 commented on #756
I don't think there's any reason to think we'd need read the whole column in just to access one row. Indexing into a single 'cell' already works well, and should continue to use the VectorData/VectorIndex lookup machinery.

If the list comprehension for the whole column's worth of data is only run when the user explicitly requests the entire column of data, then I think that is reasonable.

As the

[2018-12-11 23:47] bendichter opened #757 "cannot place CorrectedImageStack in processing module"
## 1) Bug

I am trying to use the `CorrectedImageStack` neurodata type. I think the most natural place to put it is in a processing module, but I am getting an error when I try to put it there:

[code]

[code]

## Checklist

- [x] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues/) ?
- [x] Have you included a brief and descrip

[2018-12-12 00:12] angevineMiller commented on #756
I agree with the concern over reading a huge column into memory, especially if this were to be done prior to every time you index a single element of a column.

We can also use `dt[:, 'column_name']` to access whole columns, which is syntactically similar to the Pandas-style`table.loc[:, 'column_name']`.  This approach seems intuitive to me, and it naturally extends to getting single elements with

[2018-12-12 00:58] tjd2002 commented on #756
Oh now I get Ben’s concern. Sorry I missed that. Yes, returning something like an iterable seems like a good solution

Sent from my phone

[2018-12-12 17:49] oruebel commented on #757
This looks like a bug in the schema. I think CorrectedImageStack should probably have NWBDataInterface as base type. This was probably an oversight when NWBDataInterface was added. You may want to check if other ``neurodata_type_inc: NWBContainer`` may need to be fixed as well, just be safe.

[2018-12-12 18:02] bendichter commented on #757
@oruebel ok that's what I thought. Thanks for confirming.

[2018-12-13 18:39] bendichter opened #761 "docs: describe observation interval"
Since observation interval will be a new concept to many users, I think it would be nice to add a paragraph in the docs explaining what they are. @tjd2002, I remember you showing me some figures that might be helpful here

[2018-12-13 20:18] tjd2002 commented on #761
Will do!

[2018-12-13 23:51] bendichter opened #763 "SpectralAnalysis fails round trip"
## 1) Bug

I tried to build the DynamicTable within the constructor. The writer works but the reader gets stuck. I'm going to have to re-work the object a bit, and when I do I will also add a round trip test.

### Steps to Reproduce
[code]
### Environment
Please describe your environment according to the following bullet points.
- **Python Executable:** Conda or Python
- **Python Version:** Python

[2018-12-14 20:17] bendichter commented on #756
Yes, I am happy with `dt[:, 'column_name']`, and I like that it matches pandas style. In the end I think `dt['column_name']` for indexed vectors should probably return an object that signals to the user that it's a lazy read object, like h5py does. Even better if we can make that an iterator.

[2018-12-17 16:39] bendichter commented on #263
looks like this as been fixed.

[2018-12-17 16:39] #263 closed, assigned to oruebel

[2018-12-17 16:42] #514 closed, assigned to nobody

[2018-12-17 16:42] #406 closed, assigned to nobody

[2018-12-17 16:44] bendichter commented on #274
@dorukozturk I'm going to close this. Please re-open if this is a mistake.

[2018-12-17 16:44] #274 closed, assigned to jcfr

[2018-12-18 02:06] #444 closed, assigned to dorukozturk

[2018-12-18 04:59] #667 closed, assigned to nobody

[2018-12-19 18:24] #757 closed, assigned to nobody

[2018-12-19 19:51] #763 closed, assigned to nobody

[2018-12-19 21:13] oruebel commented on #537
@dorukozturk @ajtritt  can this issue be closed?

[2018-12-19 21:16] oruebel commented on #550
@bendichter can this issue be closed?

[2018-12-19 21:17] oruebel commented on #553
@ageorgou can this issue be closed?

[2018-12-19 21:23] oruebel commented on #602
I believe units has changed quite a bit since this issue was opened. @bendichter can this issue be closed or is this still a problem?

[2018-12-19 21:51] #602 closed, assigned to nobody

[2018-12-20 12:35] dorukozturk commented on #537
The solution to this problem is trivial but it is kind of against python's packaging/requirement listing style. I lean more towards leaving it the way it is and closing this issue.

[2018-12-20 17:12] ageorgou commented on #553
@oruebel The underlying issue is described in #559, so happy to close.

[2018-12-20 17:13] #553 closed, assigned to nobody

[2018-12-20 17:15] #537 closed, assigned to jcfr, dorukozturk

[2018-12-20 17:17] ageorgou commented on #559
A small update: `LabMetaData` will possibly cover the reason why we needed to extend `NWBFile`. That said, the issue (if it is indeed a bug) remains. I have looked at it a bit and, if I remember right, tracked it down to what is considered an inherited type, but didn't manage to resolve it. There may be a simpler way e.g. by avoiding registration at a higher level.

[2018-12-20 17:23] bendichter commented on #559
@ageorgou yes I am hoping LabMetaData will cover your need for lab specific data. I think that would be better than extending NWBFile.

[2018-12-21 23:21] #533 closed, assigned to bendichter

[2018-12-22 00:41] bendichter commented on #715
@ajtritt could you take a look at this?

[2018-12-29 00:10] #550 closed, assigned to nobody

[2019-01-08 16:36] #559 closed, assigned to nobody

[2019-01-08 17:12] t-b commented on #559
@bendichter But the bug described here is still present or?

[2019-01-08 17:18] bendichter commented on #559
@t-b we created a different solution to the problem with `LabMetaData`, that seemed suitable for @ageorgou. I can't think of a situation where extending `NWBFile` would be preferable to extending `LabMetaData`, but if you have another problem that requires it we could re-open the issue. I tend to think allowing users to extend `NWBFile` gives them a bit too much power to run wild, but I could be c

[2019-01-08 17:22] t-b commented on #559
@bendichter Thanks for the explanation. Now I get it. No need to reopen.

[2019-01-08 19:04] jonc125 commented on #732
Any chance of getting the truncation at least fixed for NWB2.0 final, so we can store `int16` or `int32` data here?

[2019-01-08 19:51] #672 closed, assigned to nobody

[2019-01-08 19:53] #461 closed, assigned to nobody

[2019-01-08 20:14] ajtritt commented on #732
Todo:

- [x] deprecate bits_per_pixel
- [x] fix int16 -> int8 conversion bug

[2019-01-08 20:21] oruebel commented on #761
@tjd2002 can you work on this issue before the release?

[2019-01-08 20:22] #604 closed, assigned to nobody

[2019-01-08 20:23] #534 closed, assigned to nobody

[2019-01-08 20:29] #647 closed, assigned to nobody

[2019-01-08 21:40] bendichter opened #774 "py37 support"
## 2) Feature Request

Would it be possible to include CI tests for python 3.7? I tried to set up py37 with tox on my own computer, but was having issues getting tox to find my python 3.7 installation. Perhaps a CI guru can help out with this? It seems @ukos-git has already forged this path and made the necessary changes to the requirements.txt file in https://github.com/NeurodataWithoutBorders/py

[2019-01-08 23:39] tjd2002 commented on #761
Yes. Will do.

Sent from my phone

[2019-01-09 02:15] #459 closed, assigned to bendichter, oruebel

[2019-01-09 02:45] #425 closed, assigned to oruebel

[2019-01-09 02:55] oruebel opened #777 "GitHub community profile does not show code of conduct and issue template"
## 1) Enhancement

While we have an issue template and code of conduct doc, they no longer appear in the GitHub community profile due to changes in how GitHub is handling these docs (see https://github.com/NeurodataWithoutBorders/pynwb/community),

Proposed changes:

* Remove current issue template in docs/ISSUE_TEMPLATE and add separate issue templates (see https://help.github.com/articles/creati

[2019-01-10 20:40] #774 closed, assigned to jcfr, mgrauer, dorukozturk

[2019-01-11 01:02] ajtritt commented on #208
@t-b added functionality to test suite to run validation on all generated NWB files generated by the test suite. I have incorporated this in #775

[2019-01-11 01:09] ajtritt opened #781 "intermediate-representation integration tests have been deprecated"
### Problem/Use Case

Integration tests that check intermediate (`test_build` and `test_construct`)data representations have been deprecated (see commit 5da649514d7811b9754e2d2ff917ff66bbf83f1f). The offered very little in the way of debugging and generated more tests to be updated.

This issue has been created for discussion purposes.

Relates to #112.

## Checklist

- [X] Have you ensured the fe

[2019-01-11 15:56] #208 closed, assigned to ajtritt

[2019-01-11 15:56] #698 closed, assigned to ajtritt

[2019-01-11 17:05] ajtritt commented on #715
fixed by #775

[2019-01-11 17:05] #715 closed, assigned to ajtritt

[2019-01-11 17:13] ajtritt commented on #702
@t-b yes, we should be able to do that. There is other functionality, such as child containers in \_\_nwbfields\_\_ that could be added to classes based on what's defined in the spec. I would like to address all of these features together.

[2019-01-11 19:05] ajtritt commented on #732
relates to #698

[2019-01-12 22:03] jakirkham commented on #230
Thanks for the details. Have raised issue ( https://github.com/zarr-developers/zarr/issues/389 ). To discuss how best to implement this in Zarr. Feel free to chime in over there.

[2019-01-13 01:17] oruebel commented on #230
@jakirkham thanks for creating the zarr developer issue. If this can be done, then I think this would be a great opportunity to then also do a comparison of the different Zarr backends and HDF5 for different NWB:N use cases.

[2019-01-13 06:49] bendichter opened #783 "OptogeneticStimulusSite RT error"
[deleted]

[2019-01-13 09:35] bendichter commented on #783
Suspecting that this was due to changes in pynwb, I tried reading the file with an old commit, and got the same error. I'm now looking into doing the same with matnwb.

[2019-01-14 15:28] lawrence-mbf commented on #783
I'm running into this error now:
[code]
full log: https://gist.github.com/ln-vidrio/1de2561be635ac93d6d5409f56110364

From what I could tell, there's a deviation between how an OptogeneticStimuluSite stores its devices.  Pynwb expects a Device object while the schema expects text.  I've also been unable to save an simulus site into a test NWB file using pywnb.  I only get a file with just a Device

[2019-01-14 15:47] bendichter commented on #783
Hmm it's possible that the schema changed a bit. I'll look into it

[2019-01-14 19:17] bendichter commented on #783
confirmed. This:

[code]

does not create a file that has a stimulus site object

[2019-01-14 19:45] #783 closed, assigned to ajtritt

[2019-01-14 21:08] t-b commented on #781
But we do keep the roundtrip tests?

[2019-01-14 21:51] bendichter commented on #781
Yes

On Mon, Jan 14, 2019, 11:08 PM Thomas Braun <notifications@github.com wrote:

[2019-01-14 22:02] bendichter commented on #783
@ln-vidrio this fix should do it. However note the change: extraction_lambda is now a float, not a string. You will need to change this in your script as well

[2019-01-15 00:09] bendichter opened #786 "ascii datatype?"
What is going on here:

https://github.com/NeurodataWithoutBorders/pynwb/blob/fba833b2fe10f1cd60feb2b76dd218fe9c518476/src/pynwb/data/nwb.file.yaml#L360

"ascii" is not a supported datatype:

https://schema-language.readthedocs.io/en/latest/specification_language_description.html#dtype

[2019-01-15 00:22] #786 closed, assigned to ajtritt, oruebel

[2019-01-15 01:26] #732 closed, assigned to ajtritt

[2019-01-15 18:55] bendichter opened #787 "DecompositionSeries cannot be added to LFP"
## 1) Bug

`LFP.add_decomposition_series` does not work. The file created does not contain the `DecompositionSeries` object inside of `LFP`.

### Steps to Reproduce
[code]
### Environment
Please describe your environment according to the following bullet points.
- **Python Executable:** Conda or Python
- **Python Version:** Python 2.7 or Python 3.6
- **Operating System:** Windows, macOS or Linux
-

[2019-01-15 20:16] bendichter opened #789 "cannot compress timestamps"
## 1) Bug

pynwb throws an error when I try to compress `TimeSeries.timestamps`.

### Steps to Reproduce
[code]
Traceback:
[code]

## Checklist

- [x] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues/) ?
- [x] Have you included a brief and descriptive title?
- [x] Have you included a clear description of the problem you are t

[2019-01-15 22:11] oruebel commented on #789
I have not quite found the problem yet, but it looks like the data type is set wrong to "dtype=<class 'numpy.ndarray'>" instead of the dtype of the ndarray. I believe the logic for determining data types has mostly moved out of HDF5IO up to the ObjectMapper. My guess is something may be going wrong there. @ajtritt

[2019-01-15 23:01] oruebel commented on #789
I'm surprised this did not cause the tests or galleries to fail, i.e., I would have expected this bug to trigger any time H5DataIO was used. I've committed a fix in  #790 it's basically just two lines of code in ObjectMapper.convert_dtype to deal with DataIO objects.

[2019-01-16 07:24] #789 closed, assigned to ajtritt

[2019-01-16 19:18] #714 closed, assigned to ajtritt

[2019-01-16 22:39] tjd2002 commented on #761
It's already described in the API docs for [add_unit](https://github.com/NeurodataWithoutBorders/nwb-schema/blob/dev/docs/format/source/format_release_notes.rst)

And in the [nwb-schema release notes](https://github.com/NeurodataWithoutBorders/nwb-schema/blob/dev/docs/format/source/format_release_notes.rst).

The other place where 'Units' is described is in the NWB basics tutorial. We have added a

[2019-01-16 22:50] #761 closed, assigned to tjd2002, angevineMiller

[2019-01-16 23:35] #324 closed, assigned to oruebel

[2019-01-16 23:36] #32 closed, assigned to oruebel

[2019-01-16 23:36] #702 closed, assigned to ajtritt

[2019-01-17 00:00] tjd2002 opened #794 "Improve docs for use of new `Units` table to store spike times."
There are several places in the documentation where we still recommend users use the (potentially deprecated) 'Clustering' processing module to store spike times.

After we decide what the correct recommendations are regarding use of Units, we should fix all these:

* https://pynwb.readthedocs.io/en/latest/tutorials/general/file.html#processing-modules Mentions `Clustering`
* https://pynwb.readthe

[2019-01-17 01:41] VBaratham commented on #787
Hi @bendichter, just want to make sure I'm using nwb right. Currently I'm only using LFP to store the raw data (an "acquisition" in nwb terms). We consider frequency decomposition to be a processing step, so I think that means I'd want to put DecompositionSeries into a processing module, rather than store it alongside the raw dataset that it came from (there's still a reference to the raw dataset

[2019-01-17 03:17] bendichter commented on #787
@VBaratham There are a few different issues here. If you refer to what comes from the acquisition system as "LFP," then it belongs in acquisition. Some labs store what they call "raw" data at high sampling rate and then also have "LFP" data that is a downsampled and filtered version of the "raw" data. In this case, I would put the "raw" data in `/acquisition` and the "LFP" data in `/processing/ece

[2019-01-17 16:06] t-b opened #795 "Data type promotion favours always 64bit floats"
Using 29c2fb6b (Merge pull request #793 from NeurodataWithoutBorders/bug/final_cleanup, 2019-01-16)
I"m getting really large files as floats are always saved as 64bit ones. With an earlier version b10d8781 (Merge pull request #784 from NeurodataWithoutBorders/fix_opto_stim_site, 2019-01-14) I did not had that problem.

Screenshot (top is new, bottom is old):

![grafik](https://user-images.githubus

[2019-01-17 16:49] ajtritt commented on #795
This is part of the schema logic. The specified precision is a *minimum* precision. This means users can pass in a higher precision than what is specified. So, if you pass in a 64-bit float where a 32-bit float is specified, the API assumes you are requesting higher precision. I suspect you are now seeing this because we had not imposed this logic prior to eba93749a66ea2607a10029cac67b9d4e25a73a1.

[2019-01-17 16:50] t-b opened #796 "Stored spec is saved with ASCII encoding"
Python 3.6 on windows, commit: 29c2fb6b (Merge pull request #793 from NeurodataWithoutBorders/bug/final_cleanup, 2019-01-16)

Example:

[code]

Inspecting the file with `h5dump -pH basic_example.nwb | grep -A 40 specifications` gives

[code]

I think it is wrong to save the spec with ASCII encoding (CSET entry), we are saving other string entries as UTF8. See

[code]

Additionally it would be nice

[2019-01-17 16:57] t-b commented on #795
@ajtritt Thx. I'll investigate.

[2019-01-17 17:05] ajtritt commented on #796
I think I made the decision to store the spec as ASCII because I was not sure at the time if HDF5 objects could be named with UTF-8 characters. I don't think that is the case though, so I am fine with letting the specs contain UTF-8. I think the fix is as simple as changing this line:

https://github.com/NeurodataWithoutBorders/pynwb/blob/29c2fb6b1fa76e88d0ccabf693b7b49f6f2cdc22/src/pynwb/form/bac

[2019-01-17 19:50] t-b commented on #795
@ajtritt Got it.

No bug here I just was accustomed to the old behaviour.

For playing around I've used

[code]

and this gives

[code]

Sorry for the noise.

[2019-01-17 19:50] #795 closed, assigned to nobody

[2019-01-18 06:58] tjd2002 commented on #794
Clustering and ClusterWaveforms is also used extensively in the tutorial for creating an extension:

pynwb/docs/source/extensions.rst
https://pynwb.readthedocs.io/en/stable/extensions.html?highlight=Clustering

It's awkward/bad if we use a deprecated type in these examples. ~For now, I think we should yank it out, then replace it with another type later.~ Since this is just a generic placeholder f

[2019-01-18 07:46] tjd2002 commented on #794
If we decide to formally deprecate Clustering for 2.0, then #797 should be merged. If not, then we should just cherrypick some of the doc fixes in there, to at least make sure we don't steer people towards Clustering.

[2019-01-18 13:10] t-b commented on #796
I'm talking about the *contents* of the spec datasets which should have the same encoding as other strings written to NWB (which are encoded in UTF-8). I'm totally fine with the names being encoded in ASCII.

I'll look into the code line you posted.

[2019-01-18 15:11] bendichter opened #799 "schema/pynwb mismatch: ImagingPlane.reference_frame required"
## 1) Bug

The schema says `ImagingPlane.reference_frame` is required:

https://github.com/NeurodataWithoutBorders/pynwb/blob/29c2fb6b1fa76e88d0ccabf693b7b49f6f2cdc22/src/pynwb/data/nwb.ophys.yaml#L261-L267

But pynwb does not:

https://github.com/NeurodataWithoutBorders/pynwb/blob/29c2fb6b1fa76e88d0ccabf693b7b49f6f2cdc22/src/pynwb/ophys.py#L69-L71

[2019-01-18 15:29] bendichter opened #801 "schema/pynwb mismatch: timestamps_interval type"
## 1) Bug

The schema says `TimeSeries.timestamps.interval` should be an `int32`:

https://github.com/NeurodataWithoutBorders/pynwb/blob/29c2fb6b1fa76e88d0ccabf693b7b49f6f2cdc22/src/pynwb/data/nwb.base.yaml#L212-L215

However the schema writes it as a `float`:
https://github.com/NeurodataWithoutBorders/pynwb/blob/29c2fb6b1fa76e88d0ccabf693b7b49f6f2cdc22/src/pynwb/base.py#L164

I vote for float...

[2019-01-18 17:50] #801 closed, assigned to ajtritt

[2019-01-18 21:15] #799 closed, assigned to nobody

[2019-01-18 21:48] VBaratham commented on #787
Ah thanks, this does help. As long as I can use DecompositionSeries into a processing module, I'm happy!

[2019-01-18 21:58] #794 closed, assigned to tjd2002, angevineMiller

[2019-01-23 05:27] rgerkin commented on #275
@nicain This is still a problem right?  I tried reading an Allen Cell Types NWB file and it didn't work.  Allen Cell Types being the flagship example of an NWB file, I think it would be great if this library supported reading from those files (I'll keep using AllenSDK in the meantime).

FYI, this is related to some "lab" materials I am making for the class I'm teaching, working with NWB files and

[2019-01-23 17:50] nicain commented on #275
CC @sgratiy

[2019-01-26 15:14] dyf commented on #275
@rgerkin Agreed on all counts (would love to see your course materials, btw).  We're actually in the process of migrating Cell Types Database files over to NWB2 proper this year.

Time permitting we can look into supporting a pynwb adapter for our various NWB1.x files, although it's a challenging bit of work due to how the schema has evolved over the course of that project.  Should be much easier

[2019-01-29 21:49] t-b opened #806 "Bail out in @docval if a duplicated parameter name is used"
This would prevent problems like #805.

[2019-01-29 23:07] ajtritt commented on #806
this should move here: https://github.com/hdmf-dev/hdmf

[2019-01-30 19:42] nicain opened #807 "H5DataIO input arg type changes behavior of interface"
## 1) Bug

Related issue: https://github.com/NeurodataWithoutBorders/pynwb/issues/636
Cross-reference: https://github.com/AllenInstitute/AllenSDK/issues/342

### Steps to Reproduce
[code]
### Environment
Please describe your environment according to the following bullet points.
- **Python Executable:** Conda or Python
- **Python Version:** Python 2.7 or Python 3.6
- **Operating System:** Windows,

[2019-01-30 22:58] bendichter opened #808 "DynamicTable.to_dataframe cannot handle >1D data for np.ndarrays"
## 1) Bug

pynwb allows columns of a `DynamicTable` to be multi-dimensional. For example, `wavefore_mean` is of shape `[num_units x num_samples x num_electrodes]`. These values can be written and read in pynwb, but when you try to convert one of these columns to a pandas dataframe using `DynamicTable.to_dataframe`, if the data entered was an `np.ndarray`, or if it is after IO and the data is an h5

[2019-01-31 02:52] oruebel commented on #807
@nicain  thanks for the script. I have not fixed the issue yet, but here some additional details from my first look at this.

The short version is, the problem appears to be that ``np.isfinite`` fails on an ``H5DataIO`` object that wraps a list but succeeds on an ``H5DataIO`` object that wraps a numpy array. The slightly longer version is:

1. The problem is that the call to ``np.allclose(...)`` b

[2019-01-31 03:21] oruebel commented on #807
I think what is happening is the following:

1. ``DataIO`` is delegating via  the  [def __getattr__(self, attr)](https://github.com/NeurodataWithoutBorders/pynwb/blob/605d78d93f84328be54c6a09b301f86de3631658/src/pynwb/form/data_utils.py#L480) function the attributes from the data object it is wrapping.
2. A numpy array provides additional functions/attributes that the standard python list does not

[2019-01-31 04:00] oruebel commented on #807
Ok, one possible fix for this seems to be to update ``DataIO`` and define the ``__array__`` function. I added the following to ``DataIO`` and it seems to work:

[code]

Basically all the function does is that it calls ``DataIO.data.__array__()`` if possible (i.e., it delegates first) and if that does not work it converts ``DataIO.data`` to a numpy array and returns that instead.

@ajtritt

[2019-01-31 18:07] oruebel commented on #807
I have committed the fix on https://github.com/hdmf-dev/hdmf/pull/1 . This will come into PyNWB when the move of ``pynwb.form`` to ``hdmf`` is done. @nicain  if this is critical then in the meantime you can just add the ``__array`` function from my last comment to pynwb.form.data_utils.DataIO on your local install and once the refactoring is done it will be in PyNWB proper.

[2019-01-31 18:07] #807 closed, assigned to nobody

[2019-01-31 20:32] bendichter commented on #629
I just want to update the the exdir team on some developments that came out just before the NWB 2.0 release. Previously, we noted that there were 3 outstanding types of data structures that we use and would need to be somehow implemented by an alternative backend: links, object references, and region references. I want to let you know that we recently moved away from using region references. Previ

[2019-01-31 20:42] oruebel commented on #629
Just to avoid possible confusion, it is correct that the NWB:N 2.0 core schema does not use region references any more. However, region references are still supported, i.e., users can still use them in extensions. In short, to support NWB:N 2.0, region references are not critical (only links and object references) but for full support it will still be useful to support region references as well. S

[2019-01-31 20:43] oruebel commented on #230
See also #629

[2019-01-31 20:46] bendichter commented on #629
Yes thanks for the clarification. Region references have been removed from the core schema but have not been officially removed as a supported type, so they could be used by extensions (though I am not aware of any extensions that use them)

[2019-01-31 23:19] bendichter opened #810 "DynamicTable.to_dataframe cannot handle new DynamicTableRegion objects"
## 1) Bug

Running `to_dataframe` on a `DynamicTable` that contains a `DynamicTableRegion` no longer works due to the changes to `DynamicTableRegion`. This is a common practice on the Units table, which uses `DynamicTableRegion` to store electrodes (as illustrated below) so I expect many users will be affected by this bug.

### Steps to Reproduce
[code]

[code]

## Checklist

- [x] Have you ensure

[2019-02-01 18:34] bendichter commented on #810
This is due to a problem with `column[:]`

[2019-02-01 21:49] #810 closed, assigned to nobody

[2019-02-04 20:23] bendichter opened #812 "calling __str__ on a loaded `units` table takes a long time (~10 secs)"
I suspect `__str__` is loading data it does not need to load

[2019-02-07 17:51] bendichter commented on #808
fixed by #814

[2019-02-07 17:51] #808 closed, assigned to nobody

[2019-02-07 20:21] tjd2002 commented on #22
As we start to build query/analysis tools we are running into this need more explicitly.

Just as an example, for columnar TimeSeries data (like a [SpatialSeries](https://pynwb.readthedocs.io/en/stable/pynwb.behavior.html?highlight=spatial_series#pynwb.behavior.SpatialSeries)), it sure would be nice to refer to the data columns as ['pos_x'] and ['pos_y'] rather than [0] and [1].

Currently this or

[2019-02-07 20:22] tjd2002 commented on #626
As we start to build query/analysis tools we are running into this need more explicitly.

Just as an example, for columnar TimeSeries data (like a [SpatialSeries](https://pynwb.readthedocs.io/en/stable/pynwb.behavior.html?highlight=spatial_series#pynwb.behavior.SpatialSeries)), it sure would be nice to refer to the data columns as ['pos_x'] and ['pos_y'] rather than [0] and [1].

Currently this or

[2019-02-07 20:26] lawrence-mbf opened #815 "Round Trip Integration Tests Don't Check Array Contents."
### Steps to Reproduce
Note: This is all under `pynwb\tests\integration\ui_write\base.py` where pynwb is wherever the repository lives.
The environment was created following the tutorial for running tests in pynwb (https://pynwb.readthedocs.io/en/stable/getting_started.html#installation)

[Relevant MatNWB Issue](https://github.com/NeurodataWithoutBorders/matnwb/issues/106#issuecomment-461572136)
1

[2019-02-07 20:36] tjd2002 commented on #626
(Arguably, for tabular/columnar data, we should just use a pynwb.DynamicTable, which already captures a name and free-text description for each column...)

[2019-02-07 21:32] bendichter commented on #626
I don't know about the prolific use of DTs, but I agree explicit labels for dimensions in pynwb would be really nice. This would require changes to the schema, pynwb, and matnwb, so it's a decent chunk of work. Maybe we can add this to the HCK06 potential project list for developers.

[2019-02-07 22:36] tjd2002 commented on #626
@bendichter Agreed about this being a good hackathon project; good idea.

Let's be careful to distinguish 'labels for dimensions' (string dimension labels already exist in the spec, though they don't seem to get written into the .nwb file), from Oliver's proposal here, which is to provide 'dimension scales'

xarray calls these two concepts 'dims' and 'coords', respectively: http://xarray.pydata.or

[2019-02-07 22:37] tjd2002 opened #816 "dimension labels ('dims' field in spec) are not used by pynwb"
[WIP]

[2019-02-07 22:49] oruebel commented on #626
@tjd2002 good point. Yes, dimension labels we could already get from the current schema the information about scales unfortunately not yet. If you are just interested in the labels, then I think we should probably put that in a separate issue to avoid confusion in the discussions. I.e., use this issue for the scales and the other issue for labels.

[2019-02-07 23:26] tjd2002 commented on #626
I _think_ I disagree with moving it. The schema already describes the ‘dims’ field as labels on the dimensions of (nwb) datasets. The question is just how pymwb should expose it.

[2019-02-07 23:28] tjd2002 commented on #626
See issue #816 for dim labels

Sent from my phone

[2019-02-09 00:34] angevineMiller opened #817 "NWBFile does not represent units or epochs in repr or str"
### Issue
The `__repr__` or `__str__` for NWBFile do not display information about epochs or units. They are displayed as `None` even if they have content.

### Use Case
We want to be able to inspect the contents of an NWB file.

### Minimal example
Here is an example for epochs; units behaves similarly.
Create a basic NWBFile with an epoch:
[code]

Results:
[code]

After round-tripping the data,

[2019-02-09 00:40] bendichter commented on #817
thanks @angevineMiller I'll look into this

[2019-02-09 01:37] #817 closed, assigned to bendichter

[2019-02-09 01:37] bendichter commented on #817
@angevineMiller fixed!

[2019-02-10 14:01] t-b commented on #806
@ajtritt You can nowadays move issues in github. But I can't.

[2019-02-20 20:43] bendichter commented on #362
[code]

[code]

[2019-02-20 21:12] bendichter commented on #362
Using #831, I get the following error:

[code]

[2019-02-21 00:12] ajtritt opened #832 "Improve TimeSeries trializing functionality."
## Feature Request

Users need ability trialize TimeSeries through means other than supplying list of TimeSeries that apply to trials/epochs.

Currently users must do this like so:

[code]

Additional info can be found in the [NWB basics tutorial](https://pynwb.readthedocs.io/en/latest/tutorials/general/file.html#epochs) and the [API docs](https://pynwb.readthedocs.io/en/latest/pynwb.epoch.html?hi

[2019-02-21 01:29] bendichter commented on #832
another possible requirement: filter the trials by a certain condition

[2019-02-22 00:17] bendichter opened #833 "adding indexed column to `DynamicTable` as list of lists"
## 2) Feature Request
If you are requesting a feature please provide the following:

### Problem/Use Case
Currently it is easy to add an indexed column and then add data row-by-row, but you cannot add an indexed column without first supplying the index. I think it would be more convenient to have the option to enter a list of lists and have the API automatically create the index.

for example, `un

[2019-02-22 18:25] bendichter opened #834 "Units['electrode_group'] does not accept ElectrodeGroup objects"
## 1) Bug

### Steps to Reproduce
[code]

[code]

## Checklist

- [x] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues/) ?
- [x] Have you included a brief and descriptive title?
- [x] Have you included a clear description of the problem you are trying to solve?
- [x] Have you included a minimal code snippet that reproduces th

[2019-02-22 20:11] bendichter opened #835 "validator error messages"
Feature Request

The error messages in the pynwb validator could be more helpful. For instance, I am trying to validate a file right now and I am getting the error:

[code]

It would be nice if I knew which object is causing this error.

## Checklist

- [x] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues/) ?
- [x] Have you i

[2019-02-24 04:34] bendichter commented on #835
I am not generating this file myself, so I can't easily pare it down and isolate the issue. If you would like to work on this, let me know and I'll send the file.

[2019-02-24 07:59] oruebel commented on #835
Looking at the code, I think the ``received`` object when calling ``def check_shape(expected, received):`` must be ``None`` here (otherwise if ``expected`` would be ``None`` the function should have returned ``True`` already). This means in ``pynwb/form/validate/validator.py", line 372, in if not check_shape(self.spec.shape, shape):`` the variable ``shape`` which is computed by ``get_shape(data)``

[2019-02-25 19:42] #834 closed, assigned to nobody

[2019-02-27 19:30] t-b opened #836 "Add tests that ensure that NWB files created with 1.0.0 still validate using newer pynwb versions"

[2019-02-27 19:33] bendichter commented on #836
good idea! How would you suggest going about this?

[2019-03-01 10:55] filippomc opened #837 "Incorrect type for 'keywords' - saved as string"
Hi, I'm encountering this error while saving and reloading a simple file with the last pynwb dev.
`TypeError: incorrect type for 'keywords' (got 'str', expected 'ndarray, list, tuple, Dataset, AbstractDataChunkIterator or FORMDataset')`

The file has been created through this code snippet:

[code]

If I remove the 'keywords' specification i can load the file.
Looking at the debugger when loading t

[2019-03-01 11:18] bendichter commented on #837
Thanks for bringing this to our attention. I'll look into this asap

On Fri, Mar 1, 2019, 10:55 AM Filippo Ledda <notifications@github.com>
wrote:

[2019-03-01 17:23] ajtritt commented on #837
If we look at the specification, it says `keywords` should be written as a 1D dataset of text (i.e. unicode strings).
https://github.com/NeurodataWithoutBorders/pynwb/blob/0c1a8497889b18cda85926606a138621ed1f496c/src/pynwb/data/nwb.file.yaml#L164-L169

From the what is shown of the error message, it looks like the data is being passed to the constructor as a string. This suggests one of two proble

[2019-03-07 15:28] ajtritt opened #839 "Export extension specification YAML from structure of an NWB file"
## 2) Feature Request
If you are requesting a feature please provide the following:

### Problem/Use Case
Briefly describe the needed feature as well as the reasoning behind it

## Checklist

- [ ] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues/) ?
- [ ] Have you included a brief and descriptive title?
- [ ] Have you includ

[2019-03-07 15:46] #839 closed, assigned to nobody

[2019-03-07 15:46] ajtritt commented on #839
moved to HDMF repo

[2019-03-07 22:03] t-b commented on #836
@bendichter

- Create NWB files with 1.0.0 with and without embedded YAML files
- Store these NWB files somewhere
- Write tests using the validator on these files

[2019-03-07 23:05] angevineMiller opened #840 "MultiContainerInterface extensions with multiple sub-containers fails to round-trip"
@tjd2002

For representing our behavioral data, we would like to create MultiContainerInterface extensions with multiple sub-containers (i.e. a Graph that contains many nodes and edges).  In the example below, only one of the sub-containers is round-tripping its data contents. In particular, only the container which is listed **first** in the ```__clsconf__``` attribute of the MultiContainerInterf

[2019-03-10 19:40] bendichter opened #842 "issue indexing dynamic table region with slice"
## 1) Bug

There is currently a bug when using a `slice` to access a region of a `DynamicTableRegion`. The slice should index `self.data` which should then be used to index `self.target` (`DynamicTable`). Instead, the `slice` indexes `[0, 1, 2, ...]`.

(This was my mistake. I did something goofy and it looks like I didn't have a good understanding of slice indexing at the time. The fix is pretty s

[2019-03-12 06:13] VBaratham opened #844 "Cannot write empty trials table with added column"
### Steps to Reproduce
[code]

Produces this error:

[code]

### Environment
- **Python Executable:** Conda
- **Python Version:** Python 3.5.6
- **Operating System:** macOS
- **Pynwb Version:** 1.0.0

[2019-03-12 18:27] nicain opened #845 "file.analysis and file.get_analysis cannot access BehavioralTimeSeries"
## 1) Bug

Cannot access analysis (write works fine).

### Steps to Reproduce
[code]
### Environment
Please describe your environment according to the following bullet points.
- **Python Executable:** Conda
- **Python Version:** Python 3.6
- **Operating System:** Ubuntu
- **Pynwb Version:** HEAD as of 12 March 2019 (0c1a8497889b18cda85926606a138621ed1f496c)

## Checklist

- [x] Have you ensured th

[2019-03-12 18:30] bendichter commented on #845
reproduced

[2019-03-12 18:51] bendichter commented on #845
Thanks for the bug report, @nicain. I'll look into this.

[2019-03-13 15:36] #845 closed, assigned to nobody

[2019-03-13 16:21] bendichter commented on #840
@angevineMiller Thanks for report. I think this is the same underlying issue as #787. The fact that `__clsconf__` is a list would imply that `MultiContainerInterface`s can support containing more than one type, and I agree that it would be useful to do so. Also, it is problematic that this looks like it works, only to fail after round trip. We'll look into this. @ajtritt, do you have any ideas? Wo

[2019-03-13 16:46] ajtritt commented on #840
This code, which is responsible for making the constructor, sits inside a loop over `__clsconf__`:
https://github.com/NeurodataWithoutBorders/pynwb/blob/6bb2a01d9589d35ea5caf4b0620f862ca3e6162b/src/pynwb/core.py#L864-L868
It just needs to be moved out.

This hasn't been exposed yet since all the _MultiContainerInterface_ classes in PyNWB define their own constructors.

I suspect if you look direct

[2019-03-13 17:10] #842 closed, assigned to nobody

[2019-03-13 21:59] jcfr opened #848 "docs: Update conda package release instructions"
Since conda-forge now has an `Autoticking Bot` creating a PR on the [pynwb-feedstock](https://github.com/conda-forge/pynwb-feedstock/), the corresponding instructions [make_a_release.rst](
https://github.com/NeurodataWithoutBorders/pynwb/blob/dev/docs/source/make_a_release.rst) should be updated to mention a PR is expected.

That said, we should keep the details instructions in case the bot failed

[2019-03-13 21:59] ajtritt opened #849 "Look into rever for simplifying release process"
The software release process is still quite manual. There is a tool called _rever_ for standardizing and automating the process. Lets look into this to see if it can help simplify the process:
https://regro.github.io/rever-docs/

[2019-03-15 21:40] #840 closed, assigned to ajtritt

[2019-03-21 20:31] t-b commented on #836
I've just hand checked my recipe, without embedded spec files, and it still works with 01433748 (Merge pull request #854 from NeurodataWithoutBorders/core/docspecfiles, 2019-03-21).

Where would we like to store the NWB files?

They are a bit largish for a github repo

[code]

I of course have webspace but this might not be the best option.

[2019-03-21 23:05] oruebel commented on #836
@t-b we can use GDrive if you like to store the files. Since these are all non-sensitive files its OK to have these open for public read. I send you an invite for the GDrive folder and here also the public link for the GDrive folder: https://drive.google.com/drive/folders/1g1CpnoMd9s9L-sHBWVyklp3-xJcLGeFt?usp=sharing
The folder is read-only for the public. I created a subfolder v2.0.0 so that we c

[2019-03-21 23:22] oruebel commented on #836
@t-b for version 2.0.1 @bendichter added the files from the UI tests to the folder. 2.0.1 really doesn't make any changes to the actual specification of the format, all I did was add optional ``title`` and ``doc`` keys in the namespace to add documentation for the source files but nothing has changed in the actual format.

[2019-03-21 23:33] bendichter commented on #836
Yeah.. I can see how the 2.0.0 vs. 2.0.1 would be confusing. I'll add one for 2.0.0 as well so it's less confusing (though I expect the contents to be identical)

[2019-03-21 23:47] bendichter commented on #836
One way we could do this is just test that read works:
[code]

We'd just need to download and unzip the folder nwb_test_data. I'm not crazy about making our `tox` command dependent on having an internet connection. Maybe we could make a new bot that does this and incorporate in CI?

Another way might be to test equality against UI test for the current version, but we'd have to build in allowances

[2019-03-21 23:48] oruebel commented on #836
@bendichter  correct, for the data itself the files should be the same. What should chamge ``neurodata_namespace`` attribute will probably be different and for files where the schema is being cached that dataset would change as well.

[2019-03-21 23:53] oruebel commented on #836
Yes, that should be part of the CI, similar to how we run gallery tests probably. E.g., the allen gallery tests downloads/caches data on the CI as well, so we can probably replicate how those tests are being run. As a first order, simply ensuring that read does not raise an error will be good. Having additional more detailed tests data values will be good to. Another check would be to run the vali

[2019-03-22 16:20] t-b commented on #836
If I look at the diff
[code]
I can't really say that this breaks something, so testing should be the way to go.

I envisoned the tests to be:
- validate old files against current schema
- read old files using current pynwb

`python test.py --example` already requires an internet connection so I would say requiring access to the goggle drive for the tests is okay as well.
Of course these tests will

[2019-03-22 17:01] oruebel commented on #836
@t-b I was refering to https://github.com/NeurodataWithoutBorders/pynwb/pull/854/files . @bendichter did we merge the first commit (2ca17c4e832a395149c22334f2e8a4579e0d8fe2) that @t-b listed. If so, then we should at least update the release notes for 2.0.1 accordingly to catch up on the changes we made. @t-b  we are working on creating the rules for schema changes, as we make progress the process

[2019-03-27 02:58] bendichter opened #858 "NWBIO"
## Feature Request
I would like an `NWBIO` function that takes an NWB of any backend, automatically determines the backend, and calls the proper `NWB<backend>IO` class (currently only `NWBHDF5IO` is available. This would allow us to create backend-agnostic code for reading from a file path, i.e.

[code]

This came up as a need in our collaboration with CaImAn.

## Checklist

- [x] Have you ensured

[2019-03-28 05:05] maxdougherty opened #860 "AnalysisModule for storing NWBData or NWBContainer"
## Feature Request
I would like an `AnalysisModule` for storing both `NWBData` and `NWBContainer` objects. Ideally with a function analogous to `add_electrical_series` for storing arbitrary ndarrays in Analysis.

Currently, `NWBFile.add_analysis()` does not accept an `NWBData` object.
[code]

### Problem/Use Case
I would like to cache intermediate datasets used in several analysis pipelines to avo

[2019-03-28 14:10] bendichter commented on #860
Hey @maxdougherty,
Can you give a little more context as to what types of data you'd like to store? Would it be possible to create an NWB neurodata_type for this data? Without knowing the specific details, I'd be concerned about encouraging storage of plain arrays because you would not have any way to indicate what dimensions of the array mean.

[2019-03-28 17:51] nicain opened #861 "LabMetaData Extension doesn't round-trip"
## 1) Bug

I am trying to define a custom LabMetaData using the extension system.  Extensions work fine, and I have built my class according to the test example, and I can confirm that the attribute is written to the file.  However, the read_api is not able to find the lab_meta_data attribute on the read object.

### Steps to Reproduce
[code]
Traceback:
[code]

### Environment
Please describe your

[2019-03-28 18:44] nicain commented on #861
@bendichter @ajtritt

Also:
[code]
returns
[code]

[2019-03-28 19:20] bendichter commented on #861
fixed imports for the latest dev. Error still occurs.
[code]
error
[code]

[2019-03-28 20:57] maxdougherty commented on #860
Sure @bendichter,
One example is the baseline mean and standard deviation for `DecompositionSeries` data. Which would be a (channels, frequency_bin) sized array. This takes ~8 minutes to compute for a 192 channel 24 minute recording. Another example would be the computed receptive fields for each channel, a (channels,stim_param1, stim_param2,...) size array. And I may want to have several of these

[2019-03-29 16:52] bendichter opened #862 "using Images, RGBImage, GrayscaleImage, and RGBAImage causes warnings"
## 1) Bug

there are slight differences between the schema and pynwb in the help and description values that create warnings when saving `Images`, `RGBImage`, `RGBAImage`, and `GrayscaleImage`.

If you are reporting a bug please provide the following:
### Steps to Reproduce
[code]
### Environment
Please describe your environment according to the following bullet points.
- **Python Executable:** Co

[2019-03-29 18:41] #815 closed, assigned to ajtritt

[2019-03-29 18:42] bendichter commented on #815
Thanks @ajtritt!

@ln-vidrio this bug has been fixed in the latest dev.

[2019-03-30 19:21] bendichter commented on #861
@ajtritt I think this might be an hdmf issue

[2019-03-30 19:26] bendichter commented on #837
Looking at the data in HDFView, it's 1. `keywords` is being written as a scalar unicode dataset.

[2019-03-31 00:00] #861 closed, assigned to nobody

[2019-03-31 00:03] bendichter commented on #806
It looks like you can't move issues between organizations. I'll move this to hdmf manually

[2019-03-31 00:03] #806 closed, assigned to nobody

[2019-03-31 17:11] bendichter opened #868 "`get_class` not working for `LabMetaData`"
## 1) Bug

reported by @nicain

If you are reporting a bug please provide the following:
### Steps to Reproduce
[code]

[code]
### Environment
Please describe your environment according to the following bullet points.
- **Python Executable:** Conda or Python
- **Python Version:** Python 2.7 or Python 3.6
- **Operating System:** Windows, macOS or Linux
- **Pynwb Version:** Version of Pynwb used

##

[2019-03-31 17:58] bendichter opened #870 "get_class should not require help"
## 1) Bug

The help attribute should not be added to the docval of the constructor made by `get_class`

### Steps to Reproduce
[code]

[code]

### Environment
Please describe your environment according to the following bullet points.
- **Python Executable:** Conda or Python
- **Python Version:** Python 2.7 or Python 3.6
- **Operating System:** Windows, macOS or Linux
- **Pynwb Version:** Version o

[2019-03-31 19:02] #529 closed, assigned to bendichter, ajtritt

[2019-03-31 19:02] bendichter commented on #529
fixed

[2019-04-01 01:22] #614 closed, assigned to oruebel

[2019-04-01 16:45] #837 closed, assigned to nobody

[2019-04-01 18:02] bendichter commented on #422
We now have `GrayscaleImage`, `RGBImage`, and `RGBAImage`, which are all a subclass of `Image` and meant for storing static images.

[2019-04-01 22:16] #870 closed, assigned to nobody

[2019-04-02 12:29] bendichter opened #871 "__nwbfields__ to __fields__"
(from convo with @ajtritt)

As the next step of the migration of HDMF, we should rename `__nwbfields__` to something non-specific like `__fields__`. This would allow us to generalize the code to dynamically create nested classes from spec files (https://github.com/hdmf-dev/hdmf/pull/30).

## Checklist

- [x] Have you ensured the feature or change was not already [reported](https://github.com/Neuro

[2019-04-03 22:10] #868 closed, assigned to nobody

[2019-04-04 18:48] bendichter opened #875 "NWBFile.units should be of type Units"
## 1) Bug

The `docval` for `NWBFile` accepts any `DynamicTable`:

https://github.com/NeurodataWithoutBorders/pynwb/blob/8b609f5b4fe305e9b7ff490ce95b4cb81e27fd78/src/pynwb/file.py#L259

however the schema restricts the type of `'units'` to `Units`:

https://github.com/NeurodataWithoutBorders/pynwb/blob/8b609f5b4fe305e9b7ff490ce95b4cb81e27fd78/src/pynwb/data/nwb.file.yaml#L454-L457

This test:

htt

[2019-04-05 19:18] bendichter commented on #860
@maxdougherty So far the philosophy has been to have users either follow the prescribed data objects or specify their own with extensions. My worry is that if we allow undocumented data we'll open the gates for a whole lot of data to be stored this way and we'll be back where we started. I totally understand that the workflow for extensions is cumbersome during development. Would it be possible to

[2019-04-05 19:21] #812 closed, assigned to nobody

[2019-04-05 22:12] #875 closed, assigned to nobody

[2019-04-06 12:42] #862 closed, assigned to nobody

[2019-04-06 13:07] bendichter commented on #668
@VBaratham

You can write an external link to another object by using the `manager` argument of `NWBHDF5IO`. This writes an external link to a `TimeSeries` object in acquisition:

[code]

What you describe- linking an entire `NWBFile` object- would at its simplest look like this:

[code]

This would instruct pynwb to write the entire file as an external link to another file. You are correct that t

[2019-04-06 13:15] #646 closed, assigned to nobody

[2019-04-09 20:40] #520 closed, assigned to bendichter, ajtritt

[2019-04-10 00:19] VBaratham commented on #668
Hi @bendichter

I think I'm a bit lost. Here's what I want to do:

I have a file called test.nwb. I want to read that in, add some data or something, and then save it out to a file called test2.nwb so that I have two nwb files side by side, the first of which (test.nwb) is missing this added dataset. I don't want the second file to be a link to the first, I want it to have all the data replicated.

[2019-04-10 02:22] oruebel commented on #668
@VBaratham by default PyNWB will in this case create external links in ``test2.nwb`` to the containers that have previously been written to ``test.nwb``. If you want all the data from ``test.nwb`` to be copied to ``test2.nwb`` then simply set ``link_data=False`` on write which will change the default behavior to copy the data rather than link it. I.e,

[code]

[2019-04-10 04:50] bendichter commented on #668
Thanks for the clarification, Oliver. We should add that to the tutorials

[2019-04-10 05:22] oruebel commented on #668
@bendichter what do you think the best place for this is. Maybe in the modular storage tutorial:

https://pynwb.readthedocs.io/en/stable/tutorials/general/linking_data.html#sphx-glr-tutorials-general-linking-data-py

[2019-04-10 12:04] bendichter commented on #668
Yeah or maybe in advanced IO

[2019-04-11 21:32] nicain opened #880 "add_trial_column with empty data"
## 1) Bug

[code]

results in:

[code]

If you change data = [] to data=[None], you ge the desired behavior:

[code]

However, on write this little hack results in:

[code]

- [x] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues/) ?
- [x] Have you included a brief and descriptive title?
- [x] Have you included a clear descrip

[2019-04-11 22:15] nicain opened #881 "Cannot round-trip TimeSeries with empty timestamps"
[code]

[2019-04-11 23:15] nicain opened #882 "data in TimeSeries not required or TimeStamps object without data attribute"
## 2) Feature Request

Ability to create a TimeSeries object without a data attribute, and not throw MissingRequiredWarning.

### Problem/Use Case
Having a TimeSeries that just provides timestamps, that can be reused to associate timestamps between multiple other TimeSeries objects in the file is very useful.  I would like to make data a non-required arg in the base TimeSeries, or create a TimeSta

[2019-04-12 03:41] oruebel commented on #882
If I understand correctly, your goal is to reuse the timestamps arrays across multiple TimeSeries. However, it is not clear to me why you need to store those timestamps in a separate TimeSeries without data. To reuse timestamps, I think the proper solution would be to save the timestamps with one of the TimeSeries and to have links in the others.

[2019-04-12 17:22] nicain commented on #882
This would be fine for me, I just don't know how to do it.  Here is a snippet that summarizes what I tried:

[code]

This results in:

[code]

The problem here is that the size of f2.nwb and f3.nwb is the same, telling me that timestamps were not reused.  How do I get the link made?

[2019-04-12 17:33] bendichter commented on #882
you want

[code]

[2019-04-12 18:18] #882 closed, assigned to nobody

[2019-04-12 19:27] oruebel opened #883 "Create tutorial on linking data"
## 2) Feature Request

A couple of issues recently have asked about linking data. We have a tutorial on modular storage right now, we should extend it or add a new tutorial to describe some of the common questions we have seen on this.

E.g., https://github.com/NeurodataWithoutBorders/pynwb/issues/882 on linking timestaps:

[code]

Or default behavior for copy vs. linking data https://github.com/N

[2019-04-12 23:27] nicain commented on #881
Can anyone suggest a a work-around for this problem?

[2019-04-12 23:30] bendichter commented on #881
Timestamps are a required field so this is going to be tough. You could use
a np.nan to mark it as null but I know that's not ideal

On Fri, Apr 12, 2019, 7:27 PM nicain <notifications@github.com> wrote:

[2019-04-15 17:02] ajtritt commented on #881
Why are you trying to write empty timestamps?

[2019-04-16 14:30] bendichter opened #886 "'help' should be required for schema generator"
## 1) Bug

When using the schema generator API and generating a new neurodata type, the user needs to add 'help' as an attribute. If they do not, there is a warning, but not until data saved using the extension is read back using pynwb. I would like to either add a warning in the schema generator, or add a check to make 'help' required if `neurodata_type_def` or `neurodata_type_inc` is present.

I

[2019-04-16 14:35] bendichter commented on #871
fixed by #884

[2019-04-16 14:35] #871 closed, assigned to nobody

[2019-04-16 19:20] nicain commented on #881
For example, we record the licking events in a timeseries in  BehavioralEvents interface.  Sometimes, an animal doesn't lick, but that doesn't mean that we didn't record that signal; if I cannot add an empty timeseries, I cannot differentiate between "we looked for lick events, but didn't see any" and "we did not look for lick events".

[2019-04-16 20:34] #362 closed, assigned to ajtritt

[2019-04-16 21:30] #522 closed, assigned to bendichter, ajtritt

[2019-04-17 14:44] ajtritt commented on #881
Gotcha, that makes sense. I suspect the issue is that empty datasets don't get written. I just encountered this problem myself, and I'm in the middle of tracking it down.

[2019-04-17 14:57] t-b commented on #880
And here is a MWE

[code]

which gives

[code]

python version is 2.7.15 on Windows.

[2019-04-17 16:23] ajtritt commented on #880
@t-b Your MWE is a separate issue from the example that @nicain gave.

However, I think they are both sufficiently simple that they can be addressed together :)

[2019-04-17 17:41] t-b commented on #880
@ajtritt Thanks for your input, if there is something I can help with, ping me.

[2019-04-17 21:18] #880 closed, assigned to nobody

[2019-04-18 22:07] angevineMiller opened #888 "get_class not working for MultiContainerInterfaces"
We would like to create MultiContainerInterface extensions for the Frank Lab. We have gotten them working using the pattern described in the [Extensions tutorial](https://pynwb.readthedocs.io/en/latest/tutorials/general/extensions.html#creating-and-using-a-custom-multicontainerinterface), which utilizes nested NWBGroupSpecs. However, we would like to just call [get_class](https://pynwb.readthedocs

[2019-04-18 22:20] bendichter commented on #888
@angevineMiller

Thanks for raising this issue. In fact, this was next on my list! It would be trivial if `MultiContainerInterface` were a neurodata_type and you could automatically inherit from it by listing it as your `neurodata__type_inc`, however it is not a neurodata type, and it has been decided [here](https://github.com/NeurodataWithoutBorders/nwb-schema/issues/257) that it should not becom

[2019-04-18 23:07] bendichter commented on #888
Since the meat of `get_class` is in HDMF, I think this will require `MultiContainerInterface` to move over there or we'll get a circular import error (`self.__get_container_cls(namespace, 'MultiContainerInterface')` would only work if `MultiContainerInterface` were a ndtype). `MultiContainerInterface` currently inherits from `NWBDataInterface`, so a repo transfer will require a bit of reworking cl

[2019-04-19 17:52] angevineMiller commented on #888
Thanks for the response @bendichter.

I agree that if ```MultiContainerInterface``` is not going to become a neurodata_type, but rather is just viewed as different API functionality for the same underlying ```NWBDataInterface```, then we probably want ```get_class``` to infer whether it needs to return a ```MultiContainerInterface```.  As you suggested, perhaps we could do this by checking whether

[2019-04-19 17:58] nicain opened #889 "Upgrade Urllib3"
## 2) Enhancement
Upgrade Urllib3 dependency because of vulnerability warning:

https://github.com/NeurodataWithoutBorders/pynwb/network/alert/requirements.txt/urllib3/open

## Checklist
- [x] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues/) ?
- [x] Have you included a brief and descriptive title?
- [x] Have you included a

[2019-04-19 18:02] bendichter commented on #888
Good question! I had not thought of that. I don't think we have any such cases but it wouldn't be hard to track that functionality on the MultiContainerInterface

[2019-04-19 18:15] #889 closed, assigned to nobody

[2019-04-19 19:40] oruebel commented on #888
Moving the MultiContainerInterface class to HDMF I think makes sense. My guess is that there are probably also a couple of other general classes (ie., support classes that are not specific to NWB)  in core.py that would make sense to move (e.g, LabelledDict)

Having a simple logic in get_class that determines if MultiContainerInterface should be used makes sense. However, for this sort of customiz

[2019-04-19 21:34] angevineMiller opened #892 "get_class not working for extension subtypes"
We would like to use type inheritance within our extensions.  Generating pynwb classes with ```get_class``` is failing for subtypes that inherit from another of our extension types, throwing a RecursionError. In contrast, generating the classes by writing them ourselves works fine.

[code]

We can instantiate the top-level class.
[code]

But it fails on the subclass
[code]

However, we have no pro

[2019-04-19 21:36] bendichter commented on #892
Haha I love that my potato theme is catching on! I would have thought this would work. Thanks for bringing it to our attention.

[2019-04-23 22:47] rly opened #898 "Add metadata to Device"
To add information about a recording device, e.g. who was the manufacturer, what kind of amplifier, what version is it, what settings were used (or analogous information about an imaging microscope), then I would have to put that into the `name` field or into fields of the NWBFile like `data_collection`. It would be more intuitive to include this metadata information as part of the Device object,

[2019-04-24 15:42] bendichter opened #900 "create tutorial on parallel IO"
depends on #847

[2019-04-25 18:00] NileGraddis opened #901 "Having trouble linking timestamps across files"
I'm trying to take advantage of modular data storage to break up some large files, following [this tutorial](https://pynwb.readthedocs.io/en/stable/tutorials/general/linking_data.html#sphx-glr-tutorials-general-linking-data-py). This works great, except I keep getting errors when trying to link timestamps as well as data.

Reproduce: https://gist.github.com/NileGraddis/7c1b10442f8b053d6ad5e8d6e968

[2019-04-25 18:01] NileGraddis commented on #901
Also: the error seems to originate when parent is None here:
https://github.com/NeurodataWithoutBorders/pynwb/blob/2cbb72519c02ee77c0d2e4cdb14e9e178071b410/src/pynwb/io/base.py#L63

[2019-04-25 21:45] NileGraddis commented on #901
these test cases seem to work OK (including roundtrip array_equal) if in pynwb/io/base I change `timestamps_carg` to:
[code]
In fact, so does my actual use case. I suppose I don't find this entirely satisfying just due to my own ignorance of the role that timestamps_carg is meant to play.

[2019-05-01 18:26] NileGraddis opened #904 "dynamictableregion iteration fails after roundtrip"
its getitem needs to raise an IndexError on out-of-bounds access - h5py just throws valueerror.

EDIT: see integration test in pr #905 for reproduction.

[2019-05-01 19:46] #904 closed, assigned to NileGraddis

[2019-05-02 16:53] #900 closed, assigned to nobody

[2019-05-02 20:28] NileGraddis opened #907 ""lazy" modular storage"
Here is a use pattern that I'm interested in. I don't know whether it is currently supported by pynwb or whether there is a better way to accomplish the same goals, so I'll just lay it out here.

**Setting:**
The Allen Institute serves data over a public http API. The AllenSDK contains code for making these queries and caching the results locally. For our physiology projects, we are working on ser

[2019-05-02 20:33] bendichter commented on #907
adding @rly to the convo as well. He's new to the dev team and has already been very helpful with external link issues.

I'd say these are both jobs for external links. I'd like to build infrastructure around them so they work for you in both of these use-cases. Let's hone in on the precisely failure modes that are preventing you from using them in this way and see if we can resolve them for you.

[2019-05-02 20:40] bendichter opened #908 "validator erroneously passing files with extensions"
## Bug

### Steps to Reproduce
[code]
on [this file](https://drive.google.com/file/d/1Tj-beQb1_6hWalCYPXGYggCBdUFv0933/view?usp=sharing) should throw an violation because EC125.nwb contains a neurodata_type defined in the ecog NDX. It should require:

[code]

### Environment
Please describe your environment according to the following bullet points.
- **Python Executable:** Conda
- **Python Version

[2019-05-02 20:42] oruebel commented on #907
We should talk some more about this during the hackathon. I agree that 1 would be the least optimal option. 2 i think should be doable since the main problem is to have a work-around for dealing with broken external links in PyNWB. 3. is something that we have on the roadmap. The idea is support "foreign fields" (basically web-based external links). We have not started work on this yet, but we pla

[2019-05-02 20:51] NileGraddis commented on #907
@bendichter @oruebel Thank you for the swift response. I like the idea of fixing 2 soonish (hackathon time sounds good) and working on 3 longer-term. I will post an example file and some code in this thread.

@rly Hi!

[2019-05-02 21:13] bendichter opened #909 "validating extension requires all parent types be imported"
## Bug

### Steps to Reproduce
[code]
and then to validate:
[code]

you get the following error:
[code]

You can get rid of this error by including `'TimeSeries'`, `'NWBDataInterface'`, and `'NWBContainer'` to imported types. This is only an issue for the validator. pynwb writes and reads just fine with only the child imported.

### Environment
Please describe your environment according to the fol

[2019-05-02 22:14] bendichter opened #910 "validator fails to enforce required ProcessingModule"
## Feature Request

### Steps to Reproduce
[code]

[code]
yields no errors

test.extensions.yaml:
[code]

test.namespace.yaml:
[code]

When `some_file.nwb` is a file without a `ProcessingModule` named `not_present`, the validator should report an error.

## Checklist

- [x] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues/) ?

[2019-05-03 21:08] bendichter opened #911 "vector of strings should be passively read"
## Bug

### Steps to Reproduce
[code]

string is loaded and output is `['aa' 'bb']`. This should be changed to be passive so output should be `<HDF5 dataset "keywords": shape (2,), type "|O">`

## Checklist

- [x] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues/) ?
- [x] Have you included a brief and descriptive title?
- [x]

[2019-05-03 22:25] bendichter commented on #908
https://drive.google.com/file/d/1Tj-beQb1_6hWalCYPXGYggCBdUFv0933/view?usp=sharing

[2019-05-04 15:07] bendichter opened #912 "get_class for datasets"
## Bug

I am trying to build an extension that creates an object that derives from `NWBData`, and place it is analysis and/or acqisition.

`create_extension_spec.py`:
[code]

`single_dataset.namespace.yaml`:
[code]

`single_dataset.extensions.yaml`:
[code]
so far so good. Here's where I get a problem.

[code]
[code]

## Checklist

- [x] Have you ensured the feature or change was not already [repor

[2019-05-05 01:16] #912 closed, assigned to nobody

[2019-05-06 16:30] bendichter opened #913 "NWB files with cached extensions cannot be opened in matnwb"
## Bug

When a file is generated in pynwb with a cached spec, e.g
[code]

it cannot be read in matnwb:
[code]

[code]
There appears to be a mismatch between the schema and what is actually stored in the HDF5 file. I'm not really sure what the best solution is here, but we need to fix this so that nwb files with cached specs are interoperable between python and matlab. Would it be possible to eithe

[2019-05-06 18:24] #911 closed, assigned to bendichter

[2019-05-06 21:08] bendichter commented on #860
So this is a bit of a clunky solution but the best I can do right now is

1) Create an extension that defines a NWB container that contains a dataset
[code]

2) Auto-generate the class from the extension using `get_class`

[code]

3) Write the data to the file, making sure to cache the spec

[code]

4) Anyone should be able to read this data using the cached spec to auto-generate the python API

[

[2019-05-07 22:07] #892 closed, assigned to nobody

[2019-05-07 22:08] bendichter commented on #892
@angevineMiller this should be fixed with the latest version of hdmf

[2019-05-08 01:15] bendichter opened #916 "TimeIntervals.from_dataframe not workiing"
## 1) Bug

### Steps to Reproduce
[code]

eror:
[code]

## Checklist

- [x] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues/) ?
- [x] Have you included a brief and descriptive title?
- [x] Have you included a clear description of the problem you are trying to solve?
- [x] Have you included a minimal code snippet that reprodu

[2019-05-08 08:57] luiztauffer opened #918 "cannot change shape of dataset once written"
## Feature Request
According to the [documentation](https://pynwb.readthedocs.io/en/latest/pynwb.epoch.html), the **pynwb.epoch.TimeIntervals** class accepts several data formats (ndarray or list or tuple or Dataset or AbstractDataChunkIterator or HDMFDataset), but the methods to add new intervals only works for lists.

### Problem/Use Case
In an instance with invalid intervals values initiated fr

[2019-05-08 17:25] #916 closed, assigned to nobody

[2019-05-08 18:43] #901 closed, assigned to nobody

[2019-05-09 22:01] tjd2002 opened #921 "Incompatible pinned requirements"
Both requirements.txt and requirements-dev.txt include
requests=2.20.0
urllib=1.25.2

This leads to the following conflict:

[code]

Pip actually completes the install, but we should choose compatible pinned versions. Also, should add a call to `pip check` to CI so that we capture problems like this.

[2019-05-09 22:14] bendichter commented on #921
Thanks for the report, Tom. urllib3 was updated for security reasons. the requests library should support the new version of urllib3. They are aware of the issue and planning on rolling out an upgrade for urllib3 1.25 soon (https://github.com/kennethreitz/requests/issues/5065). I think the best move is to wait for them.

[2019-05-09 22:30] t-b commented on #921
How about we say that `-dev` is an addition to the normal requirements file only? In that way there is no duplication.

[2019-05-09 22:31] bendichter commented on #921
@t-b seems reasonable. @jcfr, thoughts?

[2019-05-09 22:37] tjd2002 commented on #921
I think we should add `pip check` to the tests to catch this situation in future.  pip is quite happy to install conflicting packages (it reports the error, but then returns successfully).

[2019-05-09 22:37] tjd2002 commented on #921
@t-b sure--I believe that's what is currently done with the requirements-doc.txt file

[2019-05-09 22:39] bendichter commented on #921
@tjd2002 yeah `pip check` sounds like a good idea

[2019-05-09 22:42] tjd2002 commented on #921
@bendichter upon reading your link more closely: it looks like the security fix was backported to urllib3==1.24.3, so I think that's what we should use until requests updates. I'll push a PR for that.

I'll also add pip check in a separate PR

[2019-05-10 00:49] #787 closed, assigned to nobody

[2019-05-10 04:02] tjd2002 commented on #921
Actually @t-b, adding in `-r requirements.txt` to the requirements-dev.txt file makes it so you can't pass that file into conda to create a new environment (as I like to do instead of using pip).

Also, the instructions for generating the requirements files currently recommend a nice method of just using pip freeze to capture all the pinned requirements.

Neither pip nor conda complains if there a

[2019-05-10 05:37] jcfr commented on #921
### suggested next step

Waiting requests is updated to work with the fixed version of urllib3, I suggest to revert https://github.com/NeurodataWithoutBorders/pynwb/pull/914

### pip check

Adding `pip check` makes sense, this page should also be updated. See https://pynwb.readthedocs.io/en/stable/update_requirements.html

### requirements files

The requirements files `requirements.txt`, `require

[2019-05-10 13:45] tjd2002 commented on #921
@jcfr

The security issue CVE-2019-9740 has been backported to the 1.24 series of urllib3 (see release notes section at https://pypi.org/project/urllib3/1.24.3/ ), so I think it is should be safe to use 1.24.3. This is what  I did in #923.

OK this is done in #925. Adds `pip check` to tox, and adds a recommendation to the docs to use `pip check` before updating the requirements.

[2019-05-13 13:19] t-b commented on #488
The code to look at is `__builddoc` in hdm/utils.py:

https://github.com/hdmf-dev/hdmf/blob/dev/src/hdmf/utils.py#L428

[2019-05-13 13:29] NileGraddis commented on #907
working on 2 now.

[2019-05-13 18:55] t-b opened #928 "Created NWB files during CI don't validate"
See #927.

The errors are

[code]

[2019-05-13 20:12] NileGraddis opened #929 "remove num_samples"
the num_samples field on TimeSeries is not in the spec:
https://github.com/NeurodataWithoutBorders/pynwb/blob/f236738e46b541162d2ff3df936f71a6919ec648/src/pynwb/data/nwb.base.yaml#L104-L233

but it is set on TimeSeries:
https://github.com/NeurodataWithoutBorders/pynwb/blob/f236738e46b541162d2ff3df936f71a6919ec648/src/pynwb/base.py#L140
with a bunch of custom logic.

per conversation with @ajtritt

[2019-05-13 21:31] #921 closed, assigned to nobody

[2019-05-14 13:32] NileGraddis opened #931 "Timeseries unit attribute ought to be property pointing at data"
In the spec unit (among others) is an attribute on the data of a timeseries, not on the timeseries itself:
https://github.com/NeurodataWithoutBorders/pynwb/blob/85ef17dc5d820deeaf1c40e5ed22e22336b691ec/src/pynwb/data/nwb.base.yaml#L146-L164

This gets cached on the timeseries object upon construction, which screws up lazy data access (and seems like unnecessary duplication). Instead, we ought to h

[2019-05-14 13:43] mgrauer opened #932 "Update contributing docs with current practices"
Based on some discussions at the 2019 Hackathon at Janelia, we want to update the contributing documentation to reflect the evolving development practices.

Points to update:

 * Running tests and flake8 locally, satisfy them before pushing PRs
 * Squashing commit messages
   * Removing trivial changes (running flake8 locally will help)
   * Having a cleaner git history
   * Pitfalls with QA when

[2019-05-14 13:46] mgrauer opened #933 "Remove support for Python 2"
This is a large feature request, and would have to be carefully considered.

Python 2 is coming to end of life this year, and with a show of hands at the 2019 Hackathon at Janelia, no one in the room is using Python 2. By removing support for Python 2, we can simplify the CI and packaging, and this opens the way to using Python 3 features.

[2019-05-14 13:46] NileGraddis commented on #931
OK, immediate problem: TimeSeries doesn't etl its data. ndarrays don't have a unit attribute. Should TimeSeries wrap its data?

[2019-05-14 13:53] NileGraddis commented on #931
and if so in what? TimeSeries.data has a name but not a type.

[2019-05-14 18:15] t-b opened #934 "Remove unit parameter of *ClampSeries and *StimulusSeries classes and hard code it"
## 1) Bug

From a scientific/physical POV it does not make sense to use diferent physical unit for a given `PatchClampSeries` derived type as it is completely defined by the class.

## 2) Proposal

- Remove the unit parameter of all `PatchClampSeries` derived types.
- Document the hardcoded unit in the schema.

[2019-05-14 18:29] t-b opened #935 "Make validation tool default to using the cached specification if present"
From private conversion with @ajtritt:

- [ ] The validation tool at https://github.com/NeurodataWithoutBorders/pynwb/blob/85ef17dc5d820deeaf1c40e5ed22e22336b691ec/src/pynwb/__init__.py#L174 does currently not use the cached specification but the one which ships with pynwb.

- [ ] From reading the code I would also say that present extensions in the file are not read and used for validation.

[2019-05-15 13:59] NileGraddis opened #936 "TimeIntervals.to_dataframe is a bit slow"
This is due to the timeseries column. As long as we don't read that column things are real snappy:
[code]
This works for everything that I want to do with time intervals but it is obviously dropping information.  One option would be to have on TimeIntervals:
[code]
or
[code]
where timeseries_format can be:
- object: default behavior
- name : just report the name of the series
- None : drop the ser

[2019-05-15 14:43] #929 closed, assigned to NileGraddis

[2019-05-15 18:45] bendichter commented on #913
Cached extensions are currently stored in JSON. What is the reason for this? Would it be possible to store them in YAML instead? As far as I understand this would make things much easier for @ln-vidrio

[2019-05-15 18:52] t-b commented on #913
@bendichter DIscussed yesterday already ;)

Reasons for JSON:
- Much easier to parse
- No newlines to handle
- Existing solution

[2019-05-16 12:45] lungsi opened #939 "`RuntimeError: Unable to resolve reference` with `NWBHDF5IO.write`"
## 1) Bug

`mynwbfile` looks like this
[code]
I can access data from `mynwbfile`.

Following `io = NWBHDF5IO("test.h5", mode="w")` doing `io.write(mynwbfile)` results in

[code]

### Environment
Please describe your environment according to the following bullet points.
- **Python Executable:** Python
- **Python Version:** Python 2.7
- **Operating System:** Linux
- **Pynwb Version:** 1.0.2

[2019-05-16 13:55] rly opened #940 "Do not print empty containers in string representation of NWBFile"
## 2) Feature Request

When printing an `NWBFile`, there are many fields that are not relevant to most users. This adds clutter. It can also be intimidating for users who are learning the format and regularly print objects to inspect them and debug.

I suggest not printing any empty containers. i.e. change the output of `print(nwbfile)` from:
[code]
to
[code]

We already do not print empty / defau

[2019-05-16 14:17] rly opened #941 "Improve docs and api names for processing modules and other containers"
## 2) Feature Request

"What is a processing module?"
"What is a data interface?"

These are terms that some users at the hackathon were confused and intimidated by. Either we should explain them more clearly and earlier in the tutorials or rename them to something more approachable to neuroscientists. For example, representing processing modules as folders is pretty intuitive and showing a pictor

[2019-05-16 14:18] #936 closed, assigned to NileGraddis

[2019-05-16 15:09] rly opened #942 "Validator should throw warning if there are extra fields"
As per hackathon discussion.

Should exit with zero status with warnings only.

[2019-05-16 18:40] bendichter commented on #939
@lungsi It's going to be hard to diagnose this without more information. Could you please include either a minimal script to generate the NWB file or a link to the file on google drive or similar?

[2019-05-16 20:40] t-b commented on #836
Some code I came up with

[code]

But it only makes sense to continue here if #944 and #927.

[2019-05-16 20:58] t-b commented on #668
[code]

[code]
[code]

This has nothing to do with external links.

[2019-05-16 21:20] #913 closed, assigned to nobody

[2019-05-17 01:55] rly commented on #668
@t-b in your example, you are opening the file in write mode but then reading from it, which is not allowed. We should check if that happens and throw a user-friendly error if so.

If you change `'w'` to `'r+'`, then you get the correct error:
[code]

[2019-05-17 02:18] t-b commented on #668
@rly Thanks, granted this was sloopy.

Next try:

[code]

[code]

[2019-05-17 07:20] lungsi commented on #939
I think I might have found out the cause for the error.

In `mynwbfile` above the `TimeSeries` objects for the `epochs` are not the same as those located in those available under `.acquisition`. Instead, the `TimeSeries` object I have associated with the `epochs` are a snippet.

When I try to write `mynwbfile` but pass the whole `TimeSeries` rather than its snippet, I don't get the above `RuntimeE

[2019-05-17 23:33] bendichter commented on #939
Yes, that's right. In fact, pynwb automatically forms a link from the epochs table to the `TimeSeries` objects it references instead of storing that `TimeSeries` object twice, so these is no need to store snippets.

[2019-05-17 23:33] #939 closed, assigned to nobody

[2019-05-17 23:34] bendichter commented on #941
I agree `nwbfile.processing['my_module_name'].add(my_elec_series)` is nicer.

[2019-05-18 00:23] ajtritt commented on #939
Also, the TimeSeries don't need to be `.acquisitions`, they can be from any part of the file.

[2019-05-18 14:46] rly commented on #933
The core team has discussed this and agreed to drop python 2.7 support at the next time we run into difficulty doing something just to support 2.7.

Numpy, scipy, and pandas have already dropped 2.7 support:
https://hub.packtpub.com/numpy-drops-python-2-support-now-you-need-python-3-5-or-later/
https://scipy.github.io/devdocs/release.1.3.0.html
https://hub.packtpub.com/pandas-will-drop-support-for

[2019-05-20 01:42] bendichter opened #946 "offer default ProcessingModules named "behavior", "ecephys", etc."
## Feature Request
In an effort to help usability and to encourage best practices, we should offer default processing modules. This will require the following:

* a (non-breaking) schema change adding optional `ProcessingModules` to `/processing`.
* helper API functions for easily accessing these `ProcessingModule` objects.

My preferred syntax for the API change would be that `nwb.processing.beha

[2019-05-20 22:55] bendichter opened #948 "DynamicTable.from_dataframe() detect indexed column"
Right now, `DynamicTable.from_dataframe` only works for ragged arrays when they are defined as indexed columns. It should look for size mismatches to detect if arrays are ragged.

## Checklist

- [x] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues/) ?
- [x] Have you included a brief and descriptive title?
- [x] Have you incl

[2019-05-20 23:10] NileGraddis commented on #907
@oruebel @ajtritt @rly

I made some progress on this during the hackathon, but mainly in the direction of running into more problems :P. Here is what I've tried (the overall goal is to store big lfp data in satellite files):
1. set the data and timestamps of an electricalseries as external links to arrays / timeseries in another file. Problem: timeseries has some attributes which are actually stor

[2019-05-22 14:27] luiztauffer opened #950 "extend AnnotationSeries class to incorporate other variables"
## 2) Feature Request
When storing annotations in the [AnnotationSeries](https://pynwb.readthedocs.io/en/stable/pynwb.misc.html#pynwb.misc.AnnotationSeries) class, besides the text the only available info to add is the time. It would be useful to be able to add user-defined info, e.g. channel number, for each annotation.
Perhaps it would be a good idea to make it a DynamicTable?

### Problem/Use C

[2019-05-22 16:09] oruebel commented on #950
@luiztauffer thanks for the suggestion. We'll need to take a closer at ``AnnotationSeries``. In the meantime,  if you need a DynamicTable to annotate time intervals an alternative may be for you to simply add your own TimeInterval table with ``NWBFile.create_time_intervals`` (or ``NWBFile.add_time_intervals``).

[2019-05-22 16:24] luiztauffer opened #951 "reading a file that contains a DecompositionSeries raises KeyError: 'source_timeseries'"
## 1) Bug
I believe this to be a bug. I’m trying to add a DecompositionSeries to a file and it seems to be saving it alright. When opening the updated file, however, it raises an error.

### Steps to Reproduce
[code]

This gives:
[code]

As you can see, the data seem to be stored (the file size increases proportionally also), but it creates a problem when reading the file. I’m sure the problem is

[2019-05-22 16:25] luiztauffer commented on #950
@oruebel thanks for the tip! I'll look into that

[2019-05-22 16:44] oruebel commented on #951
The bug seems to be due to a mismatch between the constructor of the ``DecompositionSeries`` container class and the spec yaml. ``DecompositionSeries`` specifies a the field ``source_timeseries`` which is required in the schema but the constructor of the container class specifies a default of ``None``. I.e., if you set the ``source_timeseries`` to the TimeSeries that the Decomposition applies to,

[2019-05-22 17:13] luiztauffer commented on #951
@oruebel
It worked, thanks!

[2019-05-22 19:56] rly opened #954 "Make NWBFile identifier optional"
## 2) Feature Request

As per our discussion at the hackathon re: `session_id` and `identifier` of `NWBFile`, `identifier` should no longer be required. `session_id` should be highly encouraged, but in order to maintain backwards compatibility, I think we should not make it required.

[2019-05-22 21:21] #948 closed, assigned to nobody

[2019-05-22 23:47] #951 closed, assigned to nobody

[2019-05-24 15:30] t-b opened #956 "Don't hardcode the nwb_version in multiple places in the yaml files"
Brought here from: https://github.com/NeurodataWithoutBorders/pynwb/pull/953#discussion_r286616836

We currently have two places for the `nwb_version`. One is in `nwb.file.yaml` and one is in `nwb.namespace.yaml`. These should be unified.

[2019-05-24 15:31] t-b opened #957 "Store the version of the namespaces in the cached specification"
Brought here from https://github.com/NeurodataWithoutBorders/pynwb/pull/953#discussion_r286616836.

[2019-05-24 16:16] oruebel commented on #957
@t-b to clarify, the version of the namespace is stored in the cached specification as part of both the JSON of the namespace and the path where the namespace is stored. What is missing is that we currently do not store a version key for the individual types. This is in so far not a problem in that we assume that a file is written with one version of a namespace, rather than mixing versions within

[2019-05-24 16:19] oruebel commented on #956
I think if we do #957, i.e., store the version key in addition to namespace name for each type, then we can just remove ``nwb_version``.  For now, what I would recommend is to not specify the value for nwb_version in the spec but to have the API automatically populate it based on the value that is in the namespace.

[2019-05-24 20:40] t-b commented on #908
This could be solved with my changes in #944.

[2019-05-28 14:29] bendichter opened #958 "custom `TimeIntervals` not being mapped"
## Bug

Due to an `io` discrepancy, custom intervals are not added to the NWBFile object.

### Steps to Reproduce
[code]

## Checklist

- [x] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues/) ?
- [x] Have you included a brief and descriptive title?
- [x] Have you included a clear description of the problem you are trying to

[2019-05-28 19:09] luiztauffer opened #960 "Enforce dimensions order of data for acquisition in pynwb.file.NWBFile()"
## 2) Feature Request
For TimeSeries added with `add_acquisition` method of `NWBFile()` class, users can store numpy arrays with any dimensions order, e.g. [num channels] [num times]. It would be interesting to enforce consistency here with, for example, ecephys.ElectricalSeries().

According to [documentation for ecephys.ElectricalSeries()](https://pynwb.readthedocs.io/en/stable/pynwb.ecephys.htm

[2019-05-28 19:52] #488 closed, assigned to jcfr

[2019-05-28 20:02] #958 closed, assigned to nobody

[2019-05-28 21:26] oruebel commented on #960
I agree that some warnings would be useful here, but I don't think we will be able to detect this issue in all cases, simply because we can at best figure out the shape but not the semantics of dimensions when we are handed a numpy array or list. E.g., when only a sampling rate and start time are given, we can't know how long the time dimension should be. That being said, if timestamps are given o

[2019-05-28 21:41] bendichter commented on #954
Is the idea to auto-generate `identifier` when it is not provided?

[2019-05-28 23:01] luiztauffer commented on #960
I was thinking that a cross-check with other fields, such as electrodes, could do the work. But of course, this would be limited to just some cases. Another option would be to have explicit input arguments such as numberBins, numberChannels, numberPixels, etc… I guess it’s along the lines of #626 , like you said! Indeed, the semantics of dimensions in data seems like too broad of a problem to be e

[2019-05-28 23:10] oruebel commented on #960
I agree that it is useful to check for and provide help avoid these errors. You mentioned also "Explicit orientation at the documentation..." Did you have any particular parts of the documentation in mind where it would be helpful to provide additional guidance on this?

[2019-05-29 10:38] luiztauffer commented on #960
Take, for instance, the example of [pynwb.ecephys.LFP.create_decomposition_series](https://pynwb.readthedocs.io/en/stable/pynwb.ecephys.html#pynwb.ecephys.LFP.create_decomposition_series). At the field `data` it is explicit the order of data dimensions. As someone not fluent in NWB, this definitely helped me structure my code.

I believe that if the same line *– dims: num_times * num_channels * nu

[2019-05-29 17:18] bendichter opened #964 "NWBFile.session_start_time is not in __nwbfields__"
I'm not quite sure why it is omitted from the `__nwbfields__` list. I also don't quite understand how it is written to disk without being a member of the list. Is this field somehow special?

## Checklist

- [ ] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues/) ?
- [ ] Have you included a brief and descriptive title?
- [ ] H

[2019-05-29 17:42] tjd2002 commented on #964
Possibly relevant issue: https://github.com/NeurodataWithoutBorders/nwb-schema/issues/49

There is some special handling of `session_start_time` / `timestamps_reference_time` in pynwb (i.e. default value of s_s_t is set to t_r_t if set, I think)

[2019-05-29 17:47] bendichter commented on #964
It's the other way around- t_r_t is set to s_s_t by default. This does touch those items but doesn't quite explain why s_s_t isn't in `__nwbfields__`. It wasn't removed in that PR.

[2019-05-29 17:49] tjd2002 commented on #964
Most likely it is just an oversight that it's not in that list.

I guess s_s_t is included because it's defined with the `@property` decorator. According to the docs on `__nwbfields__` (https://pynwb.readthedocs.io/en/stable/building_api.html#nwbfields), that is what that list is for (convenience function to define properties for you).

[2019-05-29 17:52] tjd2002 commented on #964
(here: https://github.com/NeurodataWithoutBorders/pynwb/blob/e9bf8d548dad6d6fa6046697e26d1b9eb1083be6/src/pynwb/file.py#L398-L400)

[2019-05-29 17:59] oruebel opened #965 "Add info about dimension ordering to docs"
## 2) Feature Request

Currently the ordering of dimensions described in the schema is in many cases not listed in the documentation. E.g., for ``ElectricalSeries.data`` we should add to the docval that the dimensions are ``num_time | num_channels``. This would help users avoid errors with ordering of dimensions.

This issue was motivated by #960

This issue is in part also related to #626

### Pr

[2019-05-29 18:02] oruebel commented on #960
@luiztauffer thanks for the suggestion. I created issue #965 for the documentation issue.

Do you think we can close this issue in favor of #626 and #965

[2019-05-29 18:25] luiztauffer commented on #960
Yes of course. Thanks for the feedback!

[2019-05-29 18:25] #960 closed, assigned to nobody

[2019-05-29 18:32] bendichter commented on #964
ah ok, that makes sense. It looks like an oversight then.

[2019-05-29 18:53] rly opened #966 "Validator fails to parse array of isodatetimes for file_create_date"
Related to https://github.com/NeurodataWithoutBorders/pynwb/issues/928

[code]

[2019-05-30 00:28] rly opened #967 "Always cache spec?"
Is there a reason why we would not want to cache the spec when writing a file?

Advantages of always caching spec: fewer complex use cases and interactions to handle and tests to make.

Parallel issue on hdmf: https://github.com/hdmf-dev/hdmf/issues/76

[2019-05-30 00:36] oruebel commented on #967
For NWB:N files I don't see a reason why you would not always want to cache the spec. The amount of data is minimal and it helps ensure that the file remains accessible.

The only use-case I could think of where you may not want to do this is if you want to write partial files, e.g., a single TimeSeries container, rather than a full NWB:N file. The question of partial files has come up in the cont

[2019-05-30 00:42] bendichter commented on #967
The tests are considerable slower when caching the spec

On Wed, May 29, 2019, 5:36 PM Oliver Ruebel <notifications@github.com>
wrote:

[2019-05-30 10:36] t-b commented on #967
Which just means that writing the spec to the file takes a lot of time or?

[2019-05-30 13:08] bendichter commented on #967
I'm not sure if it's writing or reading, just something I noticed. I think it would be worthwhile to profile this to see what the time penalty is.

[2019-05-30 21:17] #941 closed, assigned to nobody

[2019-05-31 13:03] t-b commented on #967
Related: https://github.com/NeurodataWithoutBorders/pynwb/issues/497

[2019-05-31 13:08] t-b commented on #158
Looking at the code https://github.com/hdmf-dev/hdmf/blob/8ddc8574123853215a4d6c43d27bd2aec908017d/src/hdmf/backends/hdf5/h5tools.py#L482 this is already fixed.

[2019-05-31 13:08] #158 closed, assigned to ajtritt

[2019-05-31 13:37] t-b opened #969 "Gallery tests are always failing on CI"
They pass here locally with b94a3238 (Merge pull request #963 from NeurodataWithoutBorders/update_authors, 2019-05-29) and 1.0.2 of hdmf.

[2019-05-31 16:39] oruebel commented on #969
The errors occurs in the allensdk with the import scipy.misc.imresize which has been removed in scipy https://docs.scipy.org/doc/scipy/reference/release.1.3.0.html?highlight=imresize#scipy-interpolate-changes This is being addressed in the AllenSDK I believe in  https://github.com/AllenInstitute/AllenSDK/issues/660 . Looking at the AllenSDK releases, it looks like they released 0.16.3 recently whi

[2019-05-31 16:43] oruebel commented on #969
I just made a pull request to update the AllenSDK version. Let's see if that fixes the issue.

[2019-05-31 17:26] #969 closed, assigned to nobody

[2019-06-04 13:11] ukos-git opened #972 "spec cache naming"
Current spec cache looks like this:

[code]

This approach implicitly allows more than one version specification. I would have expected an attribute with the version here to avoid two contrary specifications being added to the nwb file.

[2019-06-04 14:59] ukos-git commented on #972
i just realized that this is handled over at hdmf.

Also seems like the latest version is used to validate if more than one version is found. Not sure if this will use alphabetically sorted latest version or last added version.

https://github.com/hdmf-dev/hdmf/blob/8ddc8574123853215a4d6c43d27bd2aec908017d/src/hdmf/backends/hdf5/h5tools.py#L84-L92

[2019-06-04 15:29] t-b commented on #972
@ukos-git Looking at http://docs.h5py.org/en/stable/high/group.html gives

[code]

so there are edge cases where the current code fails with multiple namespaces present.

[2019-06-09 10:49] #972 closed, assigned to nobody

[2019-06-11 17:33] #796 closed, assigned to nobody

[2019-06-12 22:48] rly opened #973 "Make convenience functions for trialized time series"
We want to encourage users with trialized time series (e.g. segments of a continuous time series) to store their data as a single, continuous (untrialized) time series, albeit with segments of missing data. They would use `timestamps` to mark times with data.

To facilitate that, I suggest adding a convenience function to create a `TimeSeries` that takes a matrix of electrodes x trials x samples a

[2019-06-12 22:52] bendichter commented on #973
Can you give an example of what the syntax for this might be?

[2019-06-12 23:08] rly commented on #973
[code]

This basically just saves the user the hassle of doing `reshape` on their data and, if they have a fixed sampling rate, this also saves the user the hassle of generating vectors of timestamps per trial to input into the `TimeSeries` constructor.

[2019-06-12 23:13] rly commented on #973
A couple of the hackathon participants were lamenting the fact that they had to untrialize their data, which is an error-prone process, only for NWB to re-trialize their data for their analyses. This tries to make the process easier.

[2019-06-12 23:16] bendichter commented on #973
I see. I don't think going in that direction will be as common but if you think it will be useful then sure why not.

[2019-06-12 23:18] rly commented on #973
Yeah, it's not a priority, and certainly we want to encourage people to input all of their data into NWB, including outside trial boundaries. This just came to mind when you wrote the best practices text about what users should do when they have only the trialized data.

[2019-06-14 01:19] rly opened #974 "Ophys default values not used in pynwb"
`ImagingPlane` uses None as default values for `ImagingPlane.manifold.conversion` and `ImagingPlane.manifold.unit` when they should be `1.0` and `'Meter'`

## Bug

The schema says:
[code]

but `ImagingPlane` says:
[code]

PyNWB defaults should be updated.

[2019-06-14 06:52] rly opened #975 "[Windows] Linked-to file is locked after running validate() on linking file"
If NWB file 1 has an external link to data in NWB file 2, then when pynwb's `validate` is run on NWB file 1, then NWB file 2 is file locked. It cannot be truncated/overwritten and it cannot be removed. This appears to occur only on Windows.

It may have to do with h5py or some validator function not closing external links correctly, or something to do with memory maps, or who knows.

MWE:
[code]

[2019-06-14 07:09] rly commented on #975
One workaround, based on comments related to numpy memory mapping on Windows here: https://github.com/astropy/astropy/issues/7404 and http://docs.astropy.org/en/latest/io/fits/appendix/faq.html#i-m-opening-many-fits-files-in-a-loop-and-getting-oserror-too-many-open-files

After the context manager that does the validation, add:
[code]

It would be great to be able to build this functionality into

[2019-06-14 18:57] #928 closed, assigned to nobody

[2019-06-14 19:07] t-b commented on #966
Closed via https://github.com/hdmf-dev/hdmf/pull/74.

[2019-06-14 19:07] #966 closed, assigned to nobody

[2019-06-14 19:23] t-b commented on #975
@rly One way to debug that could be to check how h5py.File is called for the linked NWB file. Maybe this is called with `mode='w'` or not closed correctly.

[2019-06-14 22:10] rly opened #976 "Tests can fail on Azure and Azure will still report success"
CI on CircleCI works.

On Azure, tests can fail and say the following, but still report success...
[code]

[2019-06-16 14:45] luiztauffer commented on #668
@oruebel  @bendichter
The problem seems to persist, even with `link_data=False`. Here's a reproducible error:

[code]

`file_2.nwb` was created and apparently has something in the acquisition field. However, the file sizes are different and, when I delete `file_1.nwb`, reading from `file_2.nwb` raises and error.
[code]
[code]

[2019-06-18 08:06] #935 closed, assigned to nobody

[2019-06-18 18:17] rly commented on #946
I am in favor of default names, but we should be internally consistent. Within the `general` group, there are already the names `extracellular_ephys`, `intracellular_ephys`, etc. Whichever we pick, I think they should be consistent.

[2019-06-18 18:18] rly commented on #946
See related https://github.com/NeurodataWithoutBorders/nwb-schema/issues/249

[2019-06-19 04:49] #976 closed, assigned to nobody

[2019-06-20 00:42] rly commented on #967
Would there be any issues in loading namespaces by default on read? If specs are cached by default, they should be read by default, right?

i.e. make `load_namespaces=true` the default when calling `NWBHDF5IO(path, 'r', load_namespaces=true)`

https://github.com/NeurodataWithoutBorders/pynwb/blob/0eea97e520e3a9a728c017ee734e756799defcf3/src/pynwb/__init__.py#L188-L230

[2019-06-20 00:49] bendichter commented on #967
I think that would replace any custom classes that have already been imported and/or registered

[2019-06-25 16:15] luiztauffer opened #982 "'Cannot reassign parent to Container' error with current hdmf version"
## 1) Bug
With the current version of HDMF [on github](https://github.com/hdmf-dev/hdmf) an error `Cannot reassign parent to Container` is raised if I try to set the same electrodes `DynamicTableRegion` to more than one module. The following code runs without errors on current PyPi hdmf 1.0.4 version, but with the github version, it breaks:
(I wasn’t sure if it’s better to open this issues here or

[2019-06-25 16:43] rly commented on #982
Thanks for the report. While we sort out what the right behavior should be here, as a workaround, you can redefine `elecs_region` before you use it the second time.

[code]

[2019-06-25 17:38] luiztauffer commented on #982
@rly thanks, that solves for this example.
In the bigger project I'm working on, though, this workaround raises another error, at writing:
[code]
I still couldn't isolate the cause of it in order to give a simple  reproducible code, but maybe you get an idea of what might be? I'll update it here if I can figure it out.
Importantly, this only shows up with the github installation of hdmf, the versi

[2019-06-25 17:47] rly commented on #982
Oh. It might be because you have two electrode table regions with the same
name, and that is (currently) not allowed.

On Tue, Jun 25, 2019 at 10:38 AM Luiz Tauffer <notifications@github.com>
wrote:

--
Ryan Ly
Scientific Data Engineer
Lawrence Berkeley National Laboratory
1 Cyclotron Road
Mail Stop 59R4104
Berkeley, CA 94720
Email: rly@lbl.gov
Pronouns: he/him

[2019-06-25 18:48] luiztauffer commented on #982
Ok, so the problem seems to be incompatibility between NWB files created with previous versions of hdmf and the new one (github version).
I created a new NWB file with the same data as my old file (older hdmf) and this new file can be written just fine now.

[2019-06-27 06:53] rly commented on #982
I've updated hdmf to 1.0.5. That should fix the problem. Please re-open and comment if it does not.

[2019-06-27 14:51] bendichter commented on #918
Here is a demonstration of reshaping a dataset that has already been written. Note that `maxshape` must be set to `(None,)` for this to work.

[code]

[2019-06-28 23:05] roybens opened #984 "Parallel io from the docs"
## 1) Bug

If you are reporting a bug please provide the following:
### Steps to Reproduce
Trying to run the code from the docs for parallel io:
https://pynwb.readthedocs.io/en/latest/tutorials/general/advanced_hdf5_io.html?highlight=mpi#parallel-i-o-using-mpi

here is writenwb.py :
[code]

ranks are always 0
when reading getting similiar errors

Provide a minimal code snippet here to reproduce th

[2019-06-29 00:53] bendichter commented on #984
@roybens I think this is an issue with your installation of MPI.  Can you get mpi4py working at all? Have you tried their tutorials?

[2019-06-29 05:42] roybens commented on #984
When i run:
 mpiexec -n 5 python -m mpi4py.bench helloworld
it works all fine:
Hello, World! I am process 0 of 5 on nid00188.
Hello, World! I am process 1 of 5 on nid00188.
Hello, World! I am process 2 of 5 on nid00188.
Hello, World! I am process 3 of 5 on nid00188.
Hello, World! I am process 4 of 5 on nid00188.
Does this mean mpi4py works?

[2019-06-29 05:50] roybens commented on #984
when i do mpiexec instead of srun i get the following:

(.env) roybens@nid00188:~/tests> mpiexec -n 3 python -m writenwb.py

1
/global/homes/r/roybens/.conda/envs/.env/lib/python3.6/site-packages/h5py/__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  fr

[2019-06-29 23:25] lfrank opened #985 "Multiple experimenters request"
Feature request:

Right now the "experimenter" field is a single string. It would be useful to have a standard for multiple experimenters, either a list of names separated by some delimiter or perhaps an array of strings.

[2019-06-30 00:26] bendichter commented on #985
Yes, this would be helpful. This would allow datasets to be queried by experimenter more robustly and would help to ensure proper attribution of credit for data collection. I know the Chang Lab almost always has at least 2 experimenters per session, so this applies to other labs as well. The most straightforward thing to do would be to have a vector of strings, like we have for `keywords`, however

[2019-06-30 04:08] lfrank opened #986 "bug in reading in nwb file with date_of_birth field in Subject() set"
## 1) Bug

When setting the date_of_birth field in a subject object, the write of the nwb file works, but subsequently reading in the file gives the following error:

~/anaconda3/envs/default/lib/python3.6/site-packages/six.py in raise_from(value, from_value)

TypeError: incorrect type for 'date_of_birth' (got 'str', expected 'datetime')

### Steps to Reproduce
[code]
### Environment
Please descri

[2019-06-30 17:36] bendichter commented on #986
thanks for reporting this @lfrank, I'll get on this right away.

[2019-06-30 17:37] bendichter commented on #986
replicated.

[2019-06-30 17:57] bendichter commented on #986
The fix above should fix read and should work on files that have already been written. I'm working on a test now.

[2019-07-01 20:23] #986 closed, assigned to nobody

[2019-07-01 21:49] ajtritt opened #989 "add global object ID index to NWBFile"
## 2) Feature Request
Add ability to index NWBFile with Object IDs.

[code]

## Checklist

- [X] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues/) ?
- [X] Have you included a brief and descriptive title?
- [X] Have you included a clear description of the problem you are trying to solve?
- [X] Have you included a minimal code

[2019-07-01 21:50] rly opened #990 "Update file_create_date on write"
## Feature Request

Opening an NWB file in any mode except 'r' should add an entry with the current date and time to `NWBFile.file_create_date`. It would be better if this could be changed only upon modification to the file, but with how h5py works, this does not appear to be trackable. (One could just do `dataset[()] = some new data` without calling `io.write`).

If this is not doable, I suggest

[2019-07-02 00:56] ajtritt opened #992 "add NWBFile copy method"
## 2) Feature Request
Add ability to do a soft copy of an NWBFile. Any existing objects in the NWBFile should be linked to from the new copy.

## Checklist

- [X] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues/) ?
- [X] Have you included a brief and descriptive title?
- [X] Have you included a clear description of the probl

[2019-07-02 14:37] bendichter commented on #986
@lfrank this is now fixed in the dev branch

[2019-07-02 16:58] bendichter commented on #984
The mpiexec appears to be working correctly

[2019-07-02 17:42] bendichter opened #993 "parallel write bug"
## 1) Bug

It looks like we are having issues with parallel IO in the latest dev branch
### Steps to Reproduce
When I run the MPI demo:
[code]
It looks like a problem with vectors of strings. Did we add new vectors of strings recently? Can someone else with mpi4py up and running try to replicate this?

## Checklist

- [x] Have you ensured the feature or change was not already [reported](https://gi

[2019-07-02 17:42] bendichter commented on #984
In trying to replicate this I came across a different bug: #993

[2019-07-02 18:05] #967 closed, assigned to nobody

[2019-07-02 18:06] rly commented on #497
Implemented by #981

[2019-07-02 18:06] #497 closed, assigned to nobody

[2019-07-02 23:33] rly opened #996 "Clean up warnings"
Running the test suite with all warnings on results in a few warnings, including:
1. DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
2. DeprecationWarnings or PendingDeprecationWarnings that we generate (e.g. in ProcessingModule.get_container)
3. a pandas DeprecationWarning regarding testing whether

[2019-07-03 16:48] #996 closed, assigned to rly

[2019-07-04 04:08] lfrank commented on #985
I'm happy with the extension idea, and if you're okay writing it, that would be great.

[2019-07-04 04:19] lfrank opened #1000 "get_unit_spike_times enhancement request"
## Feature Request
For long datasets it would be very helpful to be able to select an observation interval to slice the spike times so that only the times in a specified interval were returned.

If that's possible, it would also be helpful to be able to specify a list of unit_id so that a single call could return a list of units with spike times in the given interval.

e.g.

unit_spike_times = nwb

[2019-07-04 07:10] bendichter commented on #1000
This seems pretty straightforward to implement

[2019-07-05 18:02] tjd2002 commented on #888
xref #556 ?

[2019-07-05 20:45] lfrank commented on #1000
Happy to hear that it would be straightforward. Is it something you'd feel comfortable doing or more of an Andrew / Oliver level change?

[2019-07-05 20:48] bendichter commented on #1000
I can do it

[2019-07-06 00:34] bendichter commented on #1000
I think the syntax change should be to add an argument `in_interval` to `nwbf.units.get_unit_spike_times` that can be:
* `None` (default): return all times
* `(Float, Float)`: return times only in this interval (start and stop in seconds)

we could also add an option:

* `[(Float, Float), (Float, Float), ... ]` return times in any of these intervals. This could be useful for things like trials, th

[2019-07-06 01:22] bendichter commented on #1000
OK, #1001 should do it. One consideration is the boundary case of when a spike time exactly equals either the lower or upper bound. I include the spikes in this case but it would be straightforward to exclude for the lower bound, the upper bound, or both.

[2019-07-06 14:03] stamatiad commented on #984
I can not reproduce that. How did you install the h5py? Did you build them yourself? As far as I know, you need to build the hdf5 lib with `--enable-parallel` and `--enable-shared` and the h5py with `--mpi.`

Can you also share the shared object dependencies for h5py? An example whould be:
1. Start python and import h5py, then check its location:
`>>> import h5py`
`>>> print(h5py.__file__)`
`'/use

[2019-07-06 14:11] stamatiad commented on #993
I can't reproduce that. I have the latest build: `pynwb==1.0.2.post0.dev75`. I built from source the mpich 3.2, the hdf5 1.10.5 and h5py with `python setup.py configure --mpi`, on CentOS (Docker VM). Maybe I'm using some newer lib than you?

[2019-07-06 20:03] rly opened #1002 "Cryptic error if keywords is an empty list"
## 1) Bug

If the `keywords` argument to `NWBFile` is an empty list, this confusing error message is returned:
`TypeError: incorrect type for 'dtype' (got 'function', expected 'type, dtype, str or list')`

Fix: make error message say something like "keywords argument cannot be an empty list"

### Steps to Reproduce
[code]
### Environment
Please describe your environment according to the following

[2019-07-06 20:04] rly commented on #1002
Other places where a list is accepted should also be checked for this. The change probably needs to happen in HDMF.

[2019-07-06 21:30] bendichter commented on #1002
Strange. Does the same occur with an empty tuple?

[2019-07-06 23:25] stamatiad commented on #1002
I can confirm that a git bisect places it right when HDMF was introduced #850, 2cbb725. Investigating...

[2019-07-07 17:48] bendichter commented on #985
EDIT: The ndx-experimenters isn't ready for use. It is causing a bug when using load_namespaces=True in NWBHDF5IO right now

I created this extension: https://github.com/bendichter/ndx-experimenters that allows you to do this:

[code]

I'm interested to hear others' thoughts on how I did this extension. Previously, (e.g. in [ndx-tasks](https://github.com/bendichter/ndx-task)) I added data to the `

[2019-07-07 20:18] bendichter opened #1003 "error when subject.date_of_birth is None"
## 1) Bug

read has error when `Subject.date_of_birth` is `None`

If you are reporting a bug please provide the following:
### Steps to Reproduce
[code]

[code]

### Environment
Please describe your environment according to the following bullet points.
- **Python Executable:** Conda or Python
- **Python Version:** Python 2.7 or Python 3.6
- **Operating System:** Windows, macOS or Linux
- **Pynwb V

[2019-07-07 20:46] bendichter opened #1005 "schema/api discrepancy: volts is default_value of ElectricalSeries.unit"
## 1) Bug

`'volts'` is `default_value` of `ElectricalSeries.unit`([here](https://github.com/NeurodataWithoutBorders/pynwb/blob/80043843d074942f1be286b7e5661457052636cf/src/pynwb/data/nwb.ecephys.yaml#L34)), but in API it is programmed as if it were `value`([here](https://github.com/NeurodataWithoutBorders/pynwb/blob/80043843d074942f1be286b7e5661457052636cf/src/pynwb/ecephys.py#L96)) with no way f

[2019-07-08 11:30] luiztauffer commented on #982
@rly  it dd not solve the problem here, getting the same error as before

[2019-07-08 17:06] oruebel commented on #984
@roybens is this an issue you see running at NERSC? If so, did you use the ``module load h5py-parallel`` module provided by NERSC or did you build your own h5py?  Building h5py with parallel enabled requires a few extra steps at NERSC because you need to make sure that both mpi4py and h5py use the Cray MPI provided by the system. https://docs.nersc.gov/programming/high-level-environments/python/

[2019-07-08 19:22] rly commented on #1005
Shouldn't ElectricalSeries always be in Volts? If so, the schema should be changed so that instead of `default_value: Volt`, it is `value: Volt`.

[2019-07-08 19:38] bendichter commented on #993
@stamatiad ok thanks I'll keep looking at this

[2019-07-08 19:53] bendichter commented on #1005
Yeah I'd be fine with going that way too, I just don't like discrepancies between the API and the spec.  I can't think of any reason why the unit wouldn't be volts. Technically that would be a schema breaking change, but I don't think it would matter much since the API has been enforcing that all along. However I think we should be consistent with whether we use the singular or the plural of SI te

[2019-07-08 19:54] #1003 closed, assigned to nobody

[2019-07-08 20:09] bendichter commented on #985
The ndx-experimenters isn't ready for use. It is causing a bug when using `load_namespaces=True` in `NWBHDF5IO` right now

[2019-07-08 20:18] rly commented on #1005
See also: https://github.com/NeurodataWithoutBorders/nwb-schema/issues/277

I would be fine with the plural form. Now that I'm revisiting it, it does feel more natural that way.

[2019-07-08 21:32] oruebel commented on #1005
Changing the behavior to always use ``Volts`` seems reasonable in this case (even though it is technically a breaking change, I don't think it actually breaks anything).

[2019-07-08 23:01] rly opened #1007 "Deprecate IntervalSeries"
The intervals table has taken over the role of the IntervalSeries. As far as we know, no one is using IntervalSeries in NWB 2.0. This can be marked for deprecation.

[2019-07-10 20:12] roybens commented on #984
Yes this was on Cori. I did something similar to this:
 conda install -n .env -c conda-forge -c clawpack h5py-parallel python=3
(according to Andrew's advise)
I can try that cray mpi next.

[2019-07-13 16:22] bendichter opened #1009 "`unload_namespace`"
## 2) Feature Request

Right now it is difficult to test the `load_namespaces` flag in `NWBHDF5IO` for reading a custom extension. If you create an extension and an API either from `get_class` or from manually writing a class, this requires you to call `load_namespace`. Then if you try to use the `load_namespaces` flag in `NWBHDF5IO` that namespace will be skipped since it has already been loaded.

[2019-07-13 17:21] t-b commented on #1009
This sounds a bit like a work around for the globals in

https://github.com/NeurodataWithoutBorders/pynwb/blob/92a0463108c6010811f377c3a02da5d95c959094/src/pynwb/__init__.py#L36-L42

or? Why do we need the globals anyway?

[2019-07-15 16:14] luiztauffer commented on #992
Hi, actually a 'hard copy' method would be highly desirable as well, without links, just copying the user requested groups

[2019-07-16 12:24] rlmv opened #1011 "Cannot iteratively write timestamps with DataChunkIterator"
## 1) Bug

I am unable to write the timestamps for a `TimeSeries` using `DataChunkIterator` and `AbstractDataChunkIterator`, which the documentation suggests should be possible. The same error is raised if I wrap the iterator in an `H5DataIO`.

For more context, I'm trying to create an NWB file from some (potentially large) existing data. I would like to stream both the data and timestamps in orde

[2019-07-16 15:04] bendichter commented on #1011
Hey @rlmv thanks for raising this. I'm looking into it now.

[2019-07-16 15:14] bendichter commented on #1011
reproduced. Using `DataChunkIterator` for `data` works:

[code]

but using `DataChunkIterator` for `timestamps` does not:

[code]

[code]

[2019-07-16 15:16] bendichter commented on #1011
@rlmv This is a bug and I'll see if I can fix it. I also wonder if you might be better off using `starting_time` and `rate` instead of `timestamps`. That's what we generally recommend if the sampling rate is constant.

[2019-07-16 15:51] bendichter commented on #1011
Iterative write works for `data` and not for `timestamps` because of the differences between their spec definition in `TimeSeries`: https://github.com/NeurodataWithoutBorders/pynwb/blob/92a0463108c6010811f377c3a02da5d95c959094/src/pynwb/data/nwb.base.yaml#L126-L255 `data` has no `dtype` and `timestamps` has `dtype:  float64`.  If you remove `dtype:  float64`, or change it to `dtype:  numeric`, the

[2019-07-16 16:38] oruebel commented on #1011
I'll have a look. I think the fix is probably to either add a case to ``convert_dtype`` to understand ``AbstractDataChunkIterator`` or to add it to the ``ObjectMapper.__no_convert``. I'm testing right now and will get back to you soon.

[2019-07-16 17:09] oruebel commented on #1011
Adding the following to the ``ObjectMapper`` class in HDMF fixes the error on write.  However, that is only part of the fix, we also need to make sure that the correct type is used on write. I'm looking at that now.

[code]

[2019-07-16 17:58] rlmv commented on #1011
@bendichter @oruebel Thanks for the quick response! I looked at using `rate` instead of timestamps but, while the data in the series does have a constant sampling rate, in some cases there are chunks without samples. In that case, do you still recommend setting a rate with `NaN` values for the missing data points? Or is it more conventional to write timestamps just for the readings that we do have

[2019-07-16 18:00] oruebel commented on #1011
I just committed the following changes to HDMF which I believe should fix the issue:

https://github.com/hdmf-dev/hdmf/commit/7c26e63947d659899191460b4e2b6b05055e5e19 fixes the problem of determining the correct dtype based on the spec or ``AbstractDataChunkIterator``

https://github.com/hdmf-dev/hdmf/commit/255ee0c512826b4b92468609fe286abe1cc1812c fixes a bug in ``H5DataIO`` to make sure the dtyp

[2019-07-16 18:03] oruebel commented on #1011
I'm closing the issue for now, since this is fixed with the latest HDMF now. Please reopen the issue in case you should still see the problem.

I believe in that case using timestamps is approbriate

[2019-07-16 18:03] #1011 closed, assigned to nobody

[2019-07-16 22:56] rly opened #1013 "Remove ability to set IZeroClampSeries.bias_current and other args, which should be 0"
The documentation for `IZeroClampSeries` says that all `CurrentClampSeries` fields such as `bias_current`, `bridge_balance`, and `capacitance_compensation` will be zero, but currently they can be passed in to override the default 0.0. It seems to me that these values should be fixed and not allowed as constructor args. i.e. remove the following docval entries on `IZeroClampSeries.__init__`:
https:

[2019-07-16 23:55] rly commented on #982
@luiztauffer sorry, can you clarify the current problem? Are you still getting a `RuntimeError: Unable to create link (name already exists)` ? I am trying to mock together something that reproduces your error based on what I see in https://github.com/luiztauffer/ecogVIS/blob/master/ecogvis/signal_processing/processing_data.py but have so far not been successful.

[2019-07-17 18:49] t-b commented on #1013
@rly Totally these should not be settable in the constructor.

[2019-07-17 21:42] rly opened #1015 "float64 != float causes tests to fail randomly on Windows"
Some tests will randomly fail because of errors like these:
[code]
despite the fact that np.float64 is equivalent to a Python float. Re-running the test will often resolve the issue. It is not clear why this happens, but I'm documenting it and its workaround here.

As far as I have seen, these failures happen only on Windows tests on Azure Pipelines.

[2019-07-17 21:44] #940 closed, assigned to nobody

[2019-07-17 22:06] bendichter commented on #1013
@t-b icephys isn't my field. Could you help by explaining a little more about these fields? Why do we have them if they are just set to zero? Do you think it's likely that another user might want to set these values to something other than zero?

[2019-07-17 22:19] rly opened #1016 "CircleCI miniconda27 tests fail"
Error message:
[code]

[2019-07-17 22:48] rly commented on #1016
I made a CircleCI forum post about it: https://discuss.circleci.com/t/cannot-load-libpython2-7-so-1-0/31415

[2019-07-18 21:05] #1016 closed, assigned to nobody

[2019-07-23 01:09] rly opened #1019 "Documentation fails"
## Bug

Readthedocs build of pynwb fails, most likely to a missing docstring in linking_data.py

[2019-07-23 01:17] #1019 closed, assigned to nobody

[2019-07-24 14:18] yarikoptic opened #1021 "__pycache__ sneaked into release tarballs uploaded to pypi"
[code]

[2019-07-25 01:51] rly commented on #1015
This issue is documented in h5py as a Windows Python 2 and Python <= 3.5 specific issue that happens randomly: https://github.com/h5py/h5py/issues/1051

It looks like it will be fixed in h5py 2.10. In the meantime, re-run the failed tests on Azure until the tests pass.

[2019-07-25 05:06] rly commented on #1015
The latest hdmf now checks for `np.float64` in addition to `float` for `'scalar_data'`. https://github.com/hdmf-dev/hdmf/pull/113

This will not cover all cases, though, e.g. the first example above, but hopefully most of them. I would rather not clutter the code with a workaround for all of those other cases unless this becomes a headache for people.

This PR will stay open until h5py pushes its

[2019-07-25 17:51] #1021 closed, assigned to rly

[2019-07-25 22:41] ajtritt opened #1024 "Add a scratch space to NWB file"
## 2) Feature Request
Add a scratch space for saving arbitrary datasets to an NWBFile.

### Problem/Use Case
NWB is cumbersome as a format for day-to-day work. There is a lot of overheard to save one-off analysis results to an NWB file. To save new dataset, a user has write an extension. This is a lot of work for a result that may just be tossed out.

By adding data to a place called something lik

[2019-07-26 01:10] rly commented on #668
re: @oruebel 's comment earlier about adding `link_data=False`. That flag applies only to datasets. We do not support copying selected containers just yet, so yes, @luiztauffer 's example fails because the 'test_timeseries' TimeSeries is a link which is broken after file 1 is deleted.

https://github.com/hdmf-dev/hdmf/pull/108 will be able to help with that, but this will take a little time to tac

[2019-07-26 18:14] bendichter opened #1025 "electrode_group/device inconsistency"
## 1) Bug

electrode_group/device is listed in the YAML as an optional link:
https://github.com/NeurodataWithoutBorders/pynwb/blob/0eea97e520e3a9a728c017ee734e756799defcf3/src/pynwb/data/nwb.ecephys.yaml#L348-L352

However in the pynwb API it is not optional:
https://github.com/NeurodataWithoutBorders/pynwb/blob/2cd77132b53f6739db16ea96a29ea6a0d24335ae/src/pynwb/ecephys.py#L16-L28

Was there a rea

[2019-07-26 18:26] rly commented on #1025
Good catch. I prefer 1.

We should generate template classes from the schema and diff them with the API to check for other mismatches. I found a few mismatches on my last read through of the schema but probably did not catch them all.

[2019-07-30 01:38] rly commented on #1025
@oruebel @ajtritt thoughts on option 1 vs 2?

[2019-07-30 18:24] oruebel commented on #1025
I agree, Option 1 (make Device required in the schema) seems the best solution in this case. While technically breaking, I don't think in reality it breaks anything and can be done as bug-fix release.

I created https://github.com/NeurodataWithoutBorders/nwb-schema/issues/287 to make sure we add this to the release notes.

[2019-07-30 18:36] #1025 closed, assigned to nobody

[2019-07-30 20:53] rly commented on #933
The latest numpy (1.17.0) and pandas (0.25.0) packages on PyPI do not provide wheels for Python 2.7 as they have officially dropped support for Python 2.7. Should we also drop support or wait until the end of the year?

[2019-07-30 22:01] #989 closed, assigned to rly, ajtritt

[2019-07-31 00:13] #992 closed, assigned to rly

[2019-07-31 01:00] rly opened #1031 "Add documentation for NWBFile.copy()"
In support of #992 and #994, we should add documentation and examples for usage of `NWBFile.copy`.

[2019-07-31 16:37] #985 closed, assigned to nobody

[2019-07-31 17:22] rly commented on #933
Based on discussions with @oruebel and @ajtritt, we will drop support for Python 2.7 in the next minor release (PyNWB 1.1) in the next week or two.

@bendichter are you aware of any tools that still use Python 2.7 that we should check in with regarding this change?

[2019-07-31 17:27] bendichter commented on #933
If the core packages are dropping Python 2 I'm happy with following them. I don't know of any essential packages that are still in Python 2.

[2019-07-31 17:32] rly commented on #933
@bendichter I mean, do you know of any tools built on top of PyNWB that
support only Python 2.7?

On Wed, Jul 31, 2019 at 10:27 AM Ben Dichter <notifications@github.com>
wrote:

--
Ryan Ly
Scientific Data Engineer
Lawrence Berkeley National Laboratory
1 Cyclotron Road
Mail Stop 59R4104
Berkeley, CA 94720
Email: rly@lbl.gov
Pronouns: he/him

[2019-07-31 17:35] bendichter commented on #933
Yeah I know what you mean. Nothing important.

[2019-08-01 17:20] rly commented on #860
See issue #1024 and PR #1027 for new implementation of scratch space for storing arbitrary ndarrays and other NWBData

[2019-08-05 16:39] #933 closed, assigned to nobody

[2019-08-05 18:38] rly commented on #1013
@bendichter IIRC, the IZeroClampSeries is a special case of CurrentClampSeries that represents a CurrentClampSeries when the recording is off. Kind of like a Triangle class could extend a Polygon class and have num_sides fixed to 3.

This change was pushed through in #999.

[2019-08-05 18:38] #1013 closed, assigned to t-b

[2019-08-05 18:39] #1005 closed, assigned to nobody

[2019-08-05 22:18] #1024 closed, assigned to nobody

[2019-08-05 22:33] rly opened #1034 "Reading NWB file with single experimenter causes error"
[code]

[2019-08-06 01:56] #860 closed, assigned to nobody

[2019-08-06 16:59] oruebel commented on #1034
@rly, looking at it, I think the fix is simply to change ```ret = (builder.data,)``` to ```ret = (exp_bldr.data,)``` in:

https://github.com/NeurodataWithoutBorders/pynwb/blob/6b2a628f4af18417a66f3daacb3770ce6131ae9a/src/pynwb/io/file.py#L113-L122

[2019-08-06 17:47] luiztauffer opened #1037 "Units incorrect when created with add_unit() method"
## 1) Bug
When using `add_unit` method, the created `pynwb.misc.Units` seems to be incorrect. Only one column is created and spike_times_index do not get the indexes right. Here's some code:

[code]

This prints:

[code]

## Checklist

- [ x] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues/) ?
- [ x] Have you included a brie

[2019-08-06 17:51] bendichter commented on #1037
It's right, it's just a different syntax for retrieving spike times:

[code]

[code]

[2019-08-06 17:51] #1037 closed, assigned to nobody

[2019-08-06 17:54] rly commented on #1034
Already got it ;) https://github.com/NeurodataWithoutBorders/pynwb/pull/1035

[2019-08-06 20:22] #1034 closed, assigned to nobody

[2019-08-08 19:23] rly commented on #954
An `NWBFile` (and all other neurodata_types) now have practically unique object IDs, which can serve the purpose of identifying an NWBFile and its contents*. As such, I think we can make `identifier` optional now and not auto-generate it.

[2019-08-08 19:48] oruebel commented on #954
Making identifier optional is fine. I think we may want to update the doc for the identifier field as well. Currently the doc discusses an example on how to construct the identifier. Instead, I think we should just say that is should be unique, and use DOI as an example.

[2019-08-09 16:12] #974 closed, assigned to rly

[2019-08-09 16:21] rly commented on #954
Note that making `identifier` optional in the API will break backwards compatibility of the API. i.e. calls such as:
[code]
will no longer work. Because `identifier` will have a default value and `session_start_time` does not, the positional arguments of `__init__` will be parsed as: `session_description`, `session_start_time` and then `identifier` (if I just make `identifier` the first keyword ar

[2019-08-09 21:10] bendichter commented on #954
@rly I'm more concerned about backwards compatibility of data than conversion scripts. Would there be any change to the schema? If we rename `NWBFile` to `Session` I'm pretty sure we'll cause issues for data that is already written. If not, then there will be a pretty big difference between the API and the schema.

[2019-08-09 21:45] rly commented on #954
Hm. I see your point. Yes, it would be pretty confusing to have the API and schema refer to different names for the NWBFile/Session. Ok, never mind.

[2019-08-19 17:53] sgratiy opened #1041 "Object_id is not unique to object data"
## 1) Bug
Object id are not unique to the object data. If two object with the same data are created, the object_ids will be different.

## Steps to Reproduce
[code]

### Environment
Please describe your environment according to the following bullet points.
- **Python Executable:** Conda
- **Python Version:** Python  3.6
- **Operating System:**  Linux
- **PyNWB Version:**  1.0.3

## 2) Feature Requ

[2019-08-19 18:18] oruebel commented on #1041
See some suggestion here: https://github.com/NeurodataWithoutBorders/pynwb/pull/991#issuecomment-522685575

[2019-08-19 18:24] #1041 closed, assigned to nobody

[2019-08-20 21:20] rly opened #1046 "NWBFile properties not being saved"
Properties of `NWBFile` are not being saved to disk.
We also need a roundtrip test on this.

[code]

[2019-08-20 21:28] rly commented on #1046
This is due to the removal of automatic mapping of NWBFile group "general" dataset x to `NWBFile.x`.
https://github.com/hdmf-dev/hdmf/pull/130

[2019-08-20 22:11] rly opened #1047 "Encode a list of multiple related publications rather than a string"
See https://github.com/NeurodataWithoutBorders/nwb-schema/issues/299

[2019-08-20 22:33] #1046 closed, assigned to rly

[2019-08-20 22:33] #1047 closed, assigned to nobody

[2019-08-21 23:29] rly commented on #880
@nicain What was the purpose of this code? Did you just want to store trial start and stop times without data?

[2019-08-25 05:36] KimUyen opened #1051 "Can't read indy_20160622_01.nwb in https://zenodo.org/record/1488441"
## 1) Bug

### Script to read the  indy_20160622_01.nwb
[code]

### Environment
- **Python Executable:** Conda
- **Python Version:** Python 3.6
- **Operating System:** Ubuntu 16.04
- **PyNWB Version:** 1.0.3.post0.dev26

## 2) Problem
### Error Log
[code]
### I can open the file with HDFView 3.1.0
### Could you please help me check the problem? Thank you very much.

[2019-08-25 22:46] bendichter commented on #1051
The description page says that the data is in 1.0.6 format. This package supports reading NWB:N version 2.0 and up

[2019-08-25 22:46] #1051 closed, assigned to nobody

[2019-08-26 04:08] rly commented on #1051
This tutorial may be useful for reading the NWB 1.0 data: https://smackesey.github.io/nwb_tutorial/assets/tutorial.html

[2019-08-26 04:17] KimUyen commented on #1051
Wow, thank you very much for helpful link.

[2019-08-26 18:58] jeffteeters commented on #1051
There is also documentation about the NWB 1.0 format at:
https://github.com/NeurodataWithoutBorders/specification_nwbn_1_0_x/tree/master/version_1.0.6
And at:
http://neurodatawithoutborders.github.io/api-python/build/html/index.html

[2019-08-26 19:33] yarikoptic opened #1052 "[idea] provide nwb-ls script to display basic details about a .nwb file"
Generic tools, such as `h5dump`, without NWB knowledge about data types etc are too crude hard to use.  pynwb provides nice pythonic interfaces...
I wondered if there could be a script/entrypoint provided by pynwb library, names e.g. `nwb-ls` which would per file provide very basic information about # of datasets, time series etc, and may be unique neuro datatypes etc present in the file.

E.g., a

[2019-08-26 22:29] rly commented on #1052
I would like such a tool as well. Just printing the `NWBFile` object gives some basic information. We could write a simple script that outputs just that:

<details>
<summary>Output from printing an NWBFile</summary>

[code]
</details>

I think that is pretty good, though the output reflects the organization of the PyNWB object and  types, not the schema organization. e.g. `experimenter` is part of

[2019-08-26 22:55] oruebel commented on #1052
Based on the original issue, I think this seems to be what this issue asking for. Diving into the HDF5 hierarchy itself, I think can be done with h5ls, h5dump, h5py, deepish etc., I think what would be most useful is a tool that knows about the NWB types and does ls for that. I think to a first degree, doing a print of NWBFile would be a good start and then things could evolve from there, e.g., di

[2019-08-26 22:56] oruebel commented on #1052
For a more interactive (rather than command-line-tool) option you can also look at  https://github.com/NeurodataWithoutBorders/nwb-jupyter-widgets

[2019-08-27 00:29] yarikoptic commented on #1052
NWBFile level of detail, may be even by default listing just number of devices, electrode groups, sounds indeed the level. If output structure  also gets 'file' field (first if ordered) , then
- --format  option could provide Python .format specification for custom set of fields if user is interested in specific set/formatting
- output could be fed into pyout for tabular rendering
- I even wondere

[2019-08-27 00:52] oruebel commented on #1052
To do diffs should probably be a separate tool. Also, doing diff will require additional development to compare NWBFile objects. While having functionality and tools to compare NWBFiles and do diffs will be useful, I think that should be a separate issue and tool.

[2019-08-27 03:50] yarikoptic commented on #1052
Yeap, for full blown diff comparing data - a separate tool (we have  nib-diff in nibabel). Here I meant literally post analysis of what pynwb-ls about you return, and removing fields with identical value. But feel free to ignore for now ;-)

[2019-08-28 16:24] rly opened #1053 "Clean up Retinotopy classes"
https://github.com/NeurodataWithoutBorders/pynwb/blob/dev/src/pynwb/retinotopy.py

- [ ] PyNWB requires a `unit` for the sign_map. unit is not part of the specification for sign_map.
- [ ] PyNWB requires a `focal_depth` for the vasculature_image. focal_depth is not part of the specification for vasculature_image
- [ ] AImage is not an informative class name
- [ ] AImage should extend GrayscaleImag

[2019-09-02 13:22] bendichter opened #1056 "soft clustering"
Beth Buffalo's lab made an interesting request for spike times representation. They use a spike sorter that does not make a hard classification for units, but a soft clustering where it assigns a probability to 1+ clusters for each spike. I've been trying to think through the different options for how to store this data and I'm interested in what the rest of you think. One approach (a) could be to