[2018-01-03 00:09] oruebel commented on #289
@lfrank it looks like the type gets written correctly on export but it seems that something is going wrong on import. Changing `str` to `text` works for me. Using `text` also has the advantage that it uses UTF instead of ASCII strings.

That being said, it looks like both `str` and `ascii` dtype do not show up after loading. @ajtritt I only took a quick look but I suspect the fix is that we simply

[2018-01-03 01:13] neuromusic opened #312 "enhanced repr"
## Feature Request

### Problem/Use Case
Constructing NWBFiles in interactive environments like Jupyter would be facilitated by a more comprehensive __repr__ which displays the values of the attributes saved in the file

for example, printing an xarray DataArray or Dataset displays important information about the dimensions and metadata associated with the data object

[code]

## Checklist

- [x]

[2018-01-03 01:17] ajtritt commented on #312
@neuromusic Good idea. Can you take a stab at this?

[2018-01-03 23:51] neuromusic commented on #146
ohhh I see. @ajtritt noted that "parent" objects will get written, but it appears that other relationships (like links) do not

[2018-01-04 21:07] nicain commented on #281
@cmartin-kavlifoundation This issue (#281) came up during our scrum today.  Can you please send me the graphic file when you have a chance?

[2018-01-09 19:22] nicain opened #315 "Move MotionCorrection (and CorrectedImageStack, a subgroup) from behavior to ophys"
Found with @ajtritt

[2018-01-10 02:58] mschachter opened #317 "spec.dtype: TypeError: argument of type 'NoneType' is not iterable"
### The Problem

For some reason, writing a SpikeEventSeries is failing when writing to HDF5.

It has something to do with the spec of something having a spec.dtype == None, and the code in map.py does not check for that (see last two lines of stack trace below). I have no idea why this is. If I modify map.py so that it takes care not to reference spec.dtype if it is None, everything goes fine and

[2018-01-10 03:22] mschachter opened #318 "reader for NWB files?"
I feel like an idiot for asking this question - but how does one read an .nwb file with pynwb? I've spent like a week getting my .nwb files written, and now I have no idea what to do.

I tried this code, which fails:

io = pynwb.NWBHDF5IO('/some/path.nwb')
something = io.read()

this is the error:

Exception: Could not construct SpikeEventSeries object
    incorrect type for 'electrodes' (got 'str

[2018-01-10 03:52] ajtritt commented on #318
How was the file written? NWB has undergone some significant changes. If you didn’t write your NWB file with PyNWB, you will have to use legacy read functionality, which is not yet documented or completed. Depending on what’s in your files though, it might work in the current state

[2018-01-10 03:54] nicain commented on #318
@mschachter How hard would it be for you to try and reproduce the exception (both the file-construction code, and the read code) you are seeing with a minimal piece of code (so not your full data writing script, just the smallest possible version that still illustrates the exception)?  This would help us figure out exactly what might be going wrong.

[2018-01-10 05:10] mschachter commented on #318
Thank you both @ajtritt and @nicain for your prompt responses!

Unfortunately I can't narrow it down, but I can share the actual data file that is causing the issue. It's around 900MB, I created it using pynwb:

https://drive.google.com/open?id=1W0w-7VtHWXv9LEIlYw7meInxvF2sYpv0

Note that I did have to modify the source code in order to create this file, as described in issue #317 .

[2018-01-10 07:42] #151 closed, assigned to nobody

[2018-01-10 18:57] ajtritt commented on #307
@neuromusic can you provide a gist of the code you used to write the file that causes this exception?

[2018-01-10 19:03] ajtritt commented on #146
@neuromusic  make sure you add the ImagingPlane to the NWBFile using [NWBFile.set_imaging_plane](http://pynwb.readthedocs.io/en/latest/pynwb.file.html#pynwb.file.NWBFile.set_imaging_plane). Alternatively, you can create the imaging plane on the NWBFile directly using [NWBFile.create_imaging_plane](http://pynwb.readthedocs.io/en/latest/pynwb.file.html#pynwb.file.NWBFile.create_imaging_plane)

[code

[2018-01-10 20:19] NileGraddis opened #320 "Directly assessing integration test coverage"
Currently, the scheme for reporting integration test coverage (i.e. which containers were run) relies on a decorator applied to the test case, which registers the tested class into a global variable. This variable is inspected by test.py and used to generate a report of the containers which are missing integration tests.

This scheme does not have a way to distinguish complete from incomplete test

[2018-01-10 21:26] neuromusic commented on #318
@mschachter can you provide a script for reproducing this error? it seems likely that the changes you introduced might be the culprit here.

[2018-01-11 04:54] mschachter commented on #318
Um I'll continue working on this if somebody would please tell me what is the standard way of reading an .nwb file that has been written with pynwb? The file has epochs, electrode table regions, spike event series and electrical series objects in it. Am I missing something obvious in the documentation? I've spent alot of time trying to convert a lab's data to .nwb and am getting frustrated! Happy

[2018-01-11 16:48] nicain commented on #318
Borrowing from https://github.com/NeurodataWithoutBorders/pynwb/blob/dev/docs/notebooks/read-Allen-Brain-Oservatory.ipynb, try something like:

[code]

EDIT: Oh, thats what you tried.  Sorry, I forgot; this is the standard way.

 Was your file (that you are trying to read with pynwb) written with the version of the API that you changed, or unmodified?

[2018-01-12 17:35] lfrank opened #323 "Allow extensions of other datatypes"
It would be very helpful if it were possible to extend the NWBTable and NWBTableRegion classes as well.
For example, we'd like to be able to do the following:

[code]

[2018-01-12 19:49] oruebel commented on #323
@lfrank ``'ElectrodeTableRegion`` is a dataset, not a group. You should be able to extend it like any other dataset. In your example, this would mean instead of defining a ``NWBGroupSpec`` you would need to define a ``NWBDatasetSpec`` instead. You can then add attributes etc. to the dataset. However, since it is a dataset you cannot add sub groups, datasets, or links. Similarly, ``ElectrodeTable``

[2018-01-12 21:22] ajtritt commented on #323
@lfrank I suggest you add valid times for ntrodes by extending ElectrodeGroup. This sounds like a property of an NTrode, rather than the subset of ElectrodeTable.

[code]

After doing this, you have two options. 1) Leave ElectrodeTableRegion alone, since the Ntrode Id should be accessible already in the NtrodeGroup referred to in the ElectrodeTable (ElectrodeTableRegion is just a subset of this).

[2018-01-13 00:23] lfrank opened #324 "Documentation refers to pre-release version"
Currently the documentation for NWBFile specifies things like

create_electrode_table_region(region, description, name='electrodes')

which doesn't exist in the release version of pynwb (as far as my efforts to use it even after reinstalling indicated).

Updating to the pre-release version solved that problem.

[2018-01-13 01:50] #317 closed, assigned to nobody

[2018-01-13 01:50] #318 closed, assigned to nobody

[2018-01-13 01:51] ajtritt commented on #318
@mschachter As @nicain has said, the two lines you shared look correct, but without being able to see what else your code is doing, and without knowing the state of the API (since you hacked it to get write to work), we can't offer you much help.

I was able to get the example you provided in #317 working. I suspect this issue is caused either the problems causing #317, or by the modifications you

[2018-01-13 03:02] #304 closed, assigned to jcfr, dorukozturk

[2018-01-13 21:50] lfrank commented on #323
@oruebel @ajtritt Thanks to both of you for the quick responses.

First question: how could I have figured out that ElectrodeTableRegion was a dataset?

Second, in terms of the best way to do this, the situation I am trying to address is as follows:  A given physical devices (say, a tetrode) has four electrodes which are part of an electrode group.  That device has a fixed ID value (so that could

[2018-01-14 18:24] mschachter commented on #318
Thank you @ajtritt , the code changes on the dev branch have fixed both my reading and writing problems! Thanks also to @nicain as well, your quick responses are much appreciated.

[2018-01-15 20:34] neuromusic opened #326 "Bug: "Could not construct ROI object""
## 1) Bug

Cannot read a file with ROI objects

### Steps to Reproduce
[code]

Throws an exception on `reader.read()`:

[code]

### Environment
Please describe your environment according to the following bullet points.
- **Python Executable:** Conda
- **Python Version:** Python 2.7
- **Operating System:** Linux
- **Pynwb Version:** https://github.com/NeurodataWithoutBorders/pynwb/pull/308

## Chec

[2018-01-16 17:22] ajtritt commented on #306
@neuromusic What do you think about creating an extension of [ProcessingModule](http://pynwb.readthedocs.io/en/latest/pynwb.base.html#pynwb.base.ProcessingModule) that handles the dependency issues?  Something like CaImagingModule, with setters that represent the workflow better and take care of the dependency structure.

We can make the required arguments in the relevant constructors optional if

[2018-01-16 19:05] ajtritt opened #327 "docval should check for extra arguments"
## 2) Feature Request
docval should catch extra arguments.

### Problem/Use Case
Methods and functions decorated with [docval](http://pynwb.readthedocs.io/en/latest/pynwb.form.utils.html#pynwb.form.utils.docval) do not raise an error if extra or unrecognized keyword arguments are provided. docval should raise an error if extra arguments have been provided.

## Checklist

- [ ] Have you ensured the

[2018-01-16 21:10] oruebel commented on #323
In terms of looking up the type, I'm not sure if we have a shorthand function for that right now. I typically just look at the spec either in YAML directly or by looking it up in the catalog:

[code]

@ajtritt is there a shorter (or more elegant) way of looking up the type (dataset, group, attribute etc.) of a neurodata_type?

Regarding your second question, I need to have a look at the ElectrodeT

[2018-01-17 00:21] #307 closed, assigned to nobody

[2018-01-17 00:21] #326 closed, assigned to nobody

[2018-01-17 00:37] ajtritt commented on #323
@lfrank The [schema documentation](http://nwb-schema.readthedocs.io/en/latest/format.html#sec-electrodetableregion) indicates that ElectrodeTableRegion is a dataset, and the [PyNWB documentation](http://pynwb.readthedocs.io/en/latest/example.html#dataset-specifications) says to use NWBDatasetSpec for extending these. If you think this is confusing, please let us know--any suggestions on making thi

[2018-01-17 01:12] ajtritt commented on #323
@lfrank I think you should keep the valid times off of the ElectrodeTableRegion since you may use the same region in multiple places. For example, you may want to filter some raw data and create multiple ElectricalSeries from (e.g. one for each band) from the recording of a single tetrode. In this case, you would end up with multiple ElectrodeTableRegions duplicating the same information about val

[2018-01-17 02:42] ajtritt commented on #127
@neuromusic I've made some changes since you created this issue. #314 should have fixed this. Do you still have problems running the validator?

[2018-01-17 04:42] neuromusic commented on #127
no, it's still borking.

here's one file...

[code]

on another I get another error...

[code]

note: these errors were on 2.7 fwiw

[2018-01-17 04:50] neuromusic commented on #127
if I try to validate something that should be invalid (e.g. a txt file or a ipynb file) I get the following...

[code]

[2018-01-17 17:56] ajtritt commented on #127
In the first instance it is failing to read in the file, and i think the same for the second instance. Dealing with the third instance, I will add a check for that.

Can you share the files (or the code that generated the files) you used in the first and second examples?

[2018-01-17 18:45] lfrank commented on #323
@ajtritt Thanks, that's helpful.

First, I didn't know to look in the schema documentation (although it seems fairly obvious in retrospect 8-).  It would be useful to add a notation to that effect in the documentation of the extensions at some point.

As for the actual extension, the queries are much more likely to want to find electrodes that are valid during a given time, so I think the table is

[2018-01-17 20:34] oruebel commented on #323
@lfrank @ajtritt I've updated the schema docs to explicitly list the base type for each type in the main overview (instead of just in the table) (see https://github.com/NeurodataWithoutBorders/nwb-schema/pull/107). I've also added a tip to the extension tutorial to point users to the schema docs (see #328). Hopefully that takes care of the documentation problem part of this issues.

[2018-01-17 21:44] oruebel opened #329 "Update description of format on software architecture docs"
## 1) Bug

The software architecture docs currently discuss the NWB:N format. This description is outdated (e.g,. it discusses Modules and Interfaces). These docs should also be updated and in parts moved to the schema docs. See http://pynwb.readthedocs.io/en/latest/overview.html#software-architecture sections NWB Format and NWBFile

## Checklist

- [X] Have you ensured the feature or change was n

[2018-01-17 22:11] bendichter opened #330 "missing attributes for SpatialSeries?"
When I am examining a SpatialSeries object, I don't see rate, resolution, and conversion.

### Steps to Reproduce
[code]

![image](https://user-images.githubusercontent.com/844306/35069764-0d3e6642-fb90-11e7-8302-f231411fe179.png)

(I get the same using h5py)

Are these fields stored in another location?

### Environment
Please describe your environment according to the following bullet points.
-

[2018-01-17 22:14] #330 closed, assigned to nobody

[2018-01-18 07:09] oruebel opened #332 "Add NWBRefSpec class"
## 2) Feature Request

For consistency, it would be good to add a ``NWBRefSpec` ` class just so that all the spec classes from form have a counterpart in ``pynwb.spec``.  Currently this class would not need to define Iany custom behavior so it would be just a primitive class:

[code]

### Problem/Use Case

The primary use-case is to simplify and improve consistency of imports needed when creating

[2018-01-18 13:23] #320 closed, assigned to nobody

[2018-01-18 18:39] ajtritt commented on #323
@lfrank The table for querying for electrodes that were valid at a given time sounds like a data structure we would need for a query interface. We can bring this up in the next TAB meeting.

[2018-01-22 23:53] #329 closed, assigned to oruebel

[2018-01-24 21:57] bendichter opened #333 "extension does not take np.ndarray argument"
[code]
gives the following error:

[code]
I can convert the ndarray into a list in this case and avoid the error, but I feel like this extension should be able to accept a list
### Environment
Please describe your environment according to the following bullet points.
- **Python Executable:** Conda
- **Python Version:** Python 3.6
- **Operating System:** macOS
- **Pynwb Version:** 0.2.0

[2018-01-24 22:29] bendichter commented on #333
also,

[code]

gives error

[code]

[2018-01-25 20:13] neuromusic commented on #333
hey @nicain is this similar to your population spike train extension?

[2018-01-25 20:53] nicain commented on #333
Could be: https://github.com/nicain/population_spike_train/blob/master/generate_extension.py

CCing for visibility @V0L1T10N @CellAssembly @kaeldai

@bendichter The above are Sergey, Kael, and Yazan (not necessarily in that order...) from Anton's group.

[2018-01-26 01:30] bendichter commented on #333
Thanks for showing me this @nicain. Does it store spike times in order in `timestamps` and gid in `data` of `TimeSeries`? Is the purpose of the extension just to constrain `data` to take only `int`s for the gid? If so, it seems very similar to the `Clustering` object, which isn't a `TimeSeries` but I think should be and I'm working with Andrew to change it

[2018-01-26 04:27] ajtritt commented on #333
should have closed with #334, but there was a typo in the PR message

[2018-01-26 04:27] #333 closed, assigned to nobody

[2018-01-29 19:38] bendichter opened #335 "error in examples for `NWBDtypeSpec`"
The following code is copy/pasted from the examples and throws an error:
[code]

The error is:
[code]

This error occurs on the release and on the latest dev branch.

[2018-01-29 19:42] bendichter opened #336 "duplication of code in docs"
pynwb/docs/source/example.rst Line 283 code is almost exactly the same as the above block. I think you intended to illustrate something else with that section.

[2018-01-29 21:06] bendichter opened #338 "`NWBDatasetSpec` should require arg `dtype`"
If trying to write to a `NWBDatasetSpec` extension where a `dtype` was not defined, an error occurs on `io.write`. It would be much more user-friendly if this error occurred at the `NWBDatasetSpec` call.

Here is example code:
[code]
(the missing `dtype` is in `CatCellInfo`:value)

[code]

[2018-01-29 21:38] bendichter commented on #338
I tried fixing this myself but it's harder than I thought it would be. Apparently in the initial loading of the namespace there's a NWBDataSpec with dtype = None

[2018-01-31 19:27] bendichter opened #340 "Compression broken"
Looking through the issues/PRs I found out how to do it (#319), but there's nothing in the documentation about it

[2018-01-31 19:33] bendichter commented on #340
It's also not very user-friendly. If I have this right, if I want to compress an `LFP` I have to
1) get my `data`
2) wrap it in `iodata = H5DataIO(data, compress=True)`
3) wrap that in `ts = TimeSeries(..., iodata)`
4) wrap that in `LFP(..., ts)`

I'd much rather have `compress` as an optional argument of `TimeSeries` and have `LFP` inherit from `TimeSeries` so you could just do `LFP(..., data, co

[2018-01-31 19:41] neuromusic commented on #340
note: developing this documentation is currently a proposed project for the April 3 hackathon:

## Tutorial Development: Data I/O

1. Writing large data iteratively
1. Writing data with compression
1. Create a new data store backend for FORM/NWB
1. Converting data from one store to another (There and back again)

https://github.com/orgs/NeurodataWithoutBorders/teams/hck04/discussions

[2018-01-31 19:45] bendichter commented on #340
@neuromusic ah ok that's great, thanks

[2018-01-31 19:50] neuromusic commented on #340
I don't know if anyone has taken the ownership of that project though... might want to leave this open until it happens :D

[2018-01-31 20:04] bendichter commented on #340
@neuromusic

actually, we have bigger issues. Compression doesn't even work.
[code]

[code]

I think it should be `this_data = data.data` on line 144 of `~/dev/pynwb/src/pynwb/base.py`

[2018-01-31 23:21] oruebel opened #347 "Extend H5DataIO to support additional I/O options"
## 2) Feature Request
### Problem/Use Case
Currently H5DataIO only allows compression to be toggled (true/false). Options should be added to define the compression type, compression parameters (e.g, aggression for gzip), as well as which chunk sizes to be used. Basically allow passing through of the various opitons that h5py.create_dataset supports.

## Checklist

- [X] Have you ensured the featur

[2018-01-31 23:23] #340 closed, assigned to nobody

[2018-01-31 23:54] bendichter opened #348 "LFP reading broken"
## Bug

If you are reporting a bug please provide the following:
### Steps to Reproduce
[code]
now try to read it:
[code]

[code]
### Environment
Please describe your environment according to the following bullet points.
- **Python Executable:** Conda
- **Python Version:** Python 3.6
- **Operating System:** macOS
- **Pynwb Version:** 0.2.0 and dev

Any idea what's going on here? Am I setting up th

[2018-02-01 20:04] #348 closed, assigned to nobody

[2018-02-01 20:11] bendichter commented on #306
I have a similar issue for ephys. What if we have placeholder objects used for mocking up and testing?

We could have a `MockImageSeries`, and a `MockPlaneSegmentation` that depends on it, and a `MockImageSegementation` that depends on that, etc. These mock objects could just inherit from their non-mock forms and have placeholder values

[2018-02-01 21:10] bendichter opened #350 "request: `nwbfile.create_electrode_table_region` should take type `range`"
Low priority, but this would be a nice little usability improvement.

When I try
[code]

I get

[code]

I can fix this by wrapping `range` in `list`, but it would be nice if `pynwb` handled this kind of thing.

[2018-02-01 21:25] oruebel commented on #350
@bendichter this I think at least in part a Python 2 vs. 3 issue. In Python 2 range is a list and in 3 its an iterator (i.e., what xrange is in Python2). Because of this it is not uncommon in Py3 that you have to do ``list(range(...))``.

[2018-02-01 21:27] bendichter commented on #350
Yeah that's true

[2018-02-01 21:30] neuromusic commented on #350
@oruebel would it be reasonable to request that it takes any iterable?

[2018-02-03 21:58] lfrank opened #353 "type error for UnitTimes"
(This is for the current development version)

[code]

produces the following error (and a warning which I'm currently ignoring):

[2018-02-06 02:47] #353 closed, assigned to ajtritt

[2018-02-07 21:04] bendichter opened #357 "error compressing extension datasets"
I get an error trying to compress datasets that are specified by an extension

[code]

[code]

without `H5DataIO` this code works as expected

[2018-02-08 00:21] bendichter commented on #357
@ajtritt thanks for working on this!

[2018-02-08 05:37] #357 closed, assigned to nobody

[2018-02-15 23:12] bendichter opened #362 "parallel io"
## Feature Request

The basic necessity is to add arguments to `NWBHDF5IO` and similar utilities to facilitate opening an NWB file with MPI and ensure that data can be read/written in parallel.

In addition, we would like to implement parallel reading/writing tools for NWB. We have developed similar tools in [neuroh5](https://bitbucket.org/ivan_raikov/neuroh5/src).

[2018-02-20 20:03] bendichter commented on #350
I'd also like NWB objects to accept `pandas.Series` objects. Again, I can get it in with `np.array(series)`, but it would be more usable if these objects accepted iterators.

[2018-02-20 20:33] neuromusic commented on #350
in general, broader support for duck typing in pynwb would make the package way more user friendly

[2018-02-20 21:12] bendichter opened #363 "NWBHDF5IO "with statement""
## Feature Request
I'd like`NWBHDF5IO` to also operate as a python context, i.e. with a "`with` statement." This would ensure that the hdf5 file is properly closed even if there is a exception in `io.write()`, and it's considered better practice when dealing with opening and closing files (`h5py` does this as well the python standard lib).

this:
[code]

would turn into this:
[code]

[2018-02-20 21:17] bendichter commented on #363
It looks like there was an attempt at this but it's not working:

[code]

[2018-02-20 21:41] bendichter opened #364 "naming channels"
## Feature Request
I have 64 channels of LFP and I'd like to assign a unique name to each channel. One way I could accomplish this might be to use the dimensional scales that are already part of hdf5. Is there support for using dimensional scales within NWB?

Alternatively, could I enter in one 64-channel electrical_series object and then define LFP objects for each channel using referencing withi

[2018-02-20 21:58] ajtritt commented on #364
@bendichter we do not provide a way to use HDF5 dimension scales.

Can you explain what you're trying to accomplish? ElectricalSeries.electrode provides a way of labelling the second dimension (i.e. channel dimension) of ElectricalSeries.data.

[2018-02-20 22:08] bendichter commented on #364
Yeah, that works, thanks.

[2018-02-20 22:54] #364 closed, assigned to nobody

[2018-02-20 22:56] bendichter opened #365 "cannot compress `num` argument of `Clustering` object"
error at line 298 of ecephys.py: `self.cluster_nums = list(set(num))`

[2018-02-21 00:28] ajtritt commented on #363
@bendichter can you provide a gist with the code that exposed this bug?

[2018-02-21 00:43] bendichter commented on #363
@ajtritt sure:

[code]

[2018-02-21 19:54] bendichter opened #366 "request: import extensions"
I'd like to change the extensions syntax from:

[code]
to...

[code]

Is this possible? Perhaps with a clever `__init__.py` file?

[2018-02-21 20:22] ajtritt commented on #366
Yes.... your \_\_init\_\_.py looks like this:

[code]

[2018-02-21 20:37] bendichter commented on #366
I was thinking creating an __init__.py dynamically from the .yaml file, but this could work too

[2018-02-21 20:49] #366 closed, assigned to nobody

[2018-02-21 23:18] ken-nakae opened #368 "Error in converting crcns-ret-1 to to NWB"
I run this example code for converting [the crcns-ret-1: Meister lab retina data](
https://github.com/NeurodataWithoutBorders/pynwb/blob/dev/docs/notebooks/convert-crcns-ret-1-meisterlab.ipynb). But I stop in Step 5.2: Convert all files. How can I run this step?

The code is
[code]
The error is as follows:
[code]

- **Python Executable:** Conda
- **Python Version:** Python 2.7 and Python 3.6 (I ch

[2018-02-21 23:50] oruebel commented on #368
It looks like the example broke due to changes in the API. I'll have a look at the notebook and update it.

[2018-02-22 00:18] #363 closed, assigned to nobody

[2018-02-22 01:23] bendichter opened #370 "bug using `NWBHDF5IO`"
[code]

error:
[code]

[code]

works though

[2018-02-22 01:42] oruebel commented on #368
@ken-nakae I just created a pull request #371 which fixes this bug. The following code:

[code]

was a "dirty" workaround to an old bug. I've updated the creation of the SpikeUnit objects to the proper way since that bug has been fixed a while ago.

[2018-02-22 02:06] ken-nakae commented on #368
Thanks! Now I finish this example completely.

[2018-02-22 02:06] #368 closed, assigned to oruebel

[2018-02-22 22:10] bendichter opened #374 "`io.read()` taking >10 min"
## Bug

I have an (admittedly pretty large) file with on the order of 100 datasets. It's taking forever for `io.read()` to run and I don't know why. It's been running for 10 minutes.

You can download the data here: https://www.dropbox.com/s/4qa1pblx9xhqwrl/yuta_data.nwb?dl=0

and I'm using this code:
[code]

[2018-02-22 23:03] ajtritt commented on #374
Looks like it's a problem with Clustering.cluster_nums. This dataset is computed by the constructor. It's counting the number of unique values in Clustering.nums.

This data type is another that would benefit from the same type of structure that you're using for spike trains. We should probably change this type. In the meantime, I will modify the constructor so that it doesn't need to compute this

[2018-02-23 00:09] #365 closed, assigned to nobody

[2018-02-23 00:09] #374 closed, assigned to nobody

[2018-02-23 00:10] #370 closed, assigned to nobody

[2018-02-26 20:32] bendichter opened #378 "read not working for me"
## 1) Bug

If you are reporting a bug please provide the following:
### Steps to Reproduce
[code]
output: {}
### Environment
Please describe your environment according to the following bullet points.
- **Python Executable:** Conda
- **Python Version:** Python 3.6
- **Operating System:** macOS
- **Pynwb Version:** Version of Pynwb used: a11f8e4edb84fa318b84035d0debe5c764bf7f31

## Checklist

- [ ]

[2018-02-26 21:09] bendichter commented on #378
@ajtritt can you reproduce this?

[2018-02-26 22:43] ajtritt commented on #378
Yeah I get the same problem. But, that's because this code is modifying NWBFile class definition.

deepcopy does not copy class attributes, so this line:
[code]
is actually overwriting the \_\_init\_\_ method that's defined in NWBFile. If you want a NWBFile instance with a modified constructor, just subclass NWBFile.

[2018-02-26 22:43] #378 closed, assigned to ajtritt

[2018-02-26 22:47] bendichter commented on #378
Ok thanks

On Feb 26, 2018 2:43 PM, "Andrew Tritt" <notifications@github.com> wrote:

[2018-02-26 23:16] bendichter opened #379 "`cache_spec` causes error on read"
## Bug

Reading a file that had `cache_spec` turned on causes an exception even if you are not using the cached spec.

### Steps to Reproduce

[code]
causes error:
[code]

It works as expected if `cache_spec` is set to `False`

### Environment
Please describe your environment according to the following bullet points.
- **Python Executable:** Conda
- **Python Version:** Python 3.6
- **Operating Sys

[2018-02-27 01:08] bendichter opened #380 "`nwbfile.create_ogen_site` device argument expects string"
the `device` argument of `nwbfile.create_ogen_site` takes a string that is the name of the device. I think it should also take the device object. This will make usage more consistent with `nwbfile.create_electrode_group` and `nwbfile.add_electrode` (with `electrode_group`) where the object is given, not the name of the object. Is there a reason the name of the device is used here?

[2018-02-27 01:14] ajtritt commented on #380
Good catch. Would you mind taking a stab at this?

[2018-02-27 01:15] bendichter commented on #380
Sure

On Feb 26, 2018 5:14 PM, "Andrew Tritt" <notifications@github.com> wrote:

[2018-02-27 01:43] bendichter commented on #380
@ajtritt `Device` is currently in `ecephys`. I can import it from there, but it seems like if we are going to use `Device` to represent both ephys and ophys, it might make sense to move it out of `ecephys`.

[2018-02-27 16:17] #380 closed, assigned to nobody

[2018-02-27 23:32] bendichter opened #384 "unable to append nwbfile"
## Bug

I cannot write new data to an nwbfile that already exists.

### Steps to Reproduce
[code]

error:
[code]

### Environment
Please describe your environment according to the following bullet points.
- **Python Executable:** Conda
- **Python Version:**  Python 3.6
- **Operating System:** macOS
- **Pynwb Version:** latest

## Checklist

- [x] Have you ensured the feature or change was not alre

[2018-02-27 23:57] bendichter commented on #384
I tried making the following adjustment to h5tools line 270, but it didn't work:
[code]

[2018-02-28 22:39] ajtritt opened #385 "fix miniconda builds"
## 1) Bug

Some miniconda builds have broken, miniconda27 and miniconda36.

https://circleci.com/gh/NeurodataWithoutBorders/pynwb/2044?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

https://circleci.com/gh/NeurodataWithoutBorders/pynwb/2040?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

All other tests pass. See #382 for det

[2018-03-01 01:43] bendichter opened #386 "`CatCellInfo` extension now broken"
## 1) Bug

This code works in works in a11f8e4edb84fa318b84035d0debe5c764bf7f31

### Steps to Reproduce
[code]

### Environment
Please describe your environment according to the following bullet points.
- **Python Executable:** Conda or Python
- **Python Version:**  Python 3.6
- **Operating System:** macOS
- **Pynwb Version:** latest

## Checklist

- [ ] Have you ensured the feature or change was

[2018-03-01 05:27] #386 closed, assigned to nobody

[2018-03-01 13:28] dorukozturk commented on #385
@ajtritt I am investigating.

[2018-03-01 17:05] #385 closed, assigned to jcfr, dorukozturk

[2018-03-03 20:13] bendichter opened #389 "problem with round trip for epochs"
[code]

[code]

- [x] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues/) ?
- [x] Have you included a brief and descriptive title?
- [x] Have you included a clear description of the problem you are trying to solve?
- [x] Have you included a minimal code snippet that reproduces the issue you are encountering?

[2018-03-08 22:03] bendichter opened #390 "request: enumerated types"
## Feature Request
I would like to store categorical data like cell type. It seems to be like the most natural way to store this in hdf5 would be enumerated data types. Oddly, enumerated data types are not supported in numpy, but are supported in hdf5. I'd like the ability to define an extension that expects an enumerated data type.

[2018-03-10 19:51] JFPerkins commented on #283
@nicain I don't think your round trip example was writing way more data than was in the original file. I was playing around with trying to convert a brain observatory nwb to 2.0, and noticed that all of the timestamps in the Allen nwbs are unique datasets; they aren't soft or hardlinks despite the data in many of them being identical. What I did notice is that the naive implementation of copy-on-w

[2018-03-12 14:01] flygirlPhD commented on #281
Let me check with David on the status of this.

[2018-03-12 15:56] nicain commented on #281
@flygirlPhD RE:

FYI the team member from communications I referred to here has left the Institute.

[2018-03-12 18:17] flygirlPhD commented on #281
![nwb-logo-hi-res](https://user-images.githubusercontent.com/37299638/37301833-20d9f078-2600-11e8-8089-e169d69091de.png)

[2018-03-12 18:18] flygirlPhD commented on #281
@nicain Let me know if that works, or if you need something different. Thanks!

[2018-03-13 14:52] dorukozturk opened #392 "Broken legacy extension for ROIs"
## Bug

#391 introduced this.

Sample file can be downloaded with:

[code]

### Steps to Reproduce
[code]

### Error Message
[code]

### Environment
Please describe your environment according to the following bullet points.
- **Python Executable:** Python
- **Python Version:** Python 2.7 or Python 3.6
- **Operating System:** Linux
- **Pynwb Version:** dev

[2018-03-14 16:01] AdamRTomkins opened #393 "Cannot reload example with epochs using io module."
## Cannot reload example with epochs

When following the Shire Example, I am unable to reload the NWB file when epochs are included. The following Error is encountered:

[code]

In this case the H5 file stores the epochs, but only the description and epoch name is recorded to file, and not the start and stop times.

### Steps to Reproduce
[code]

### Environment

- **Python Executable:** Python
-

[2018-03-14 17:17] bendichter commented on #393
Thanks for the report, Adam. It appears that some recent changes to the data structure caused issues for epoch builders. We're looking into a fix. In the meantime, would it be possible for you to hold off on using Epochs?

duplicate of #389

[2018-03-16 17:51] oruebel opened #395 "PyNWB Docs not building on ReadTheDocx"
## 1) Bug

The PyNWB docs are currently not building on ReadTheDocs. The culprit for the failing build seems to be that the PyNWB docs are being built with Sphinx 1.7.1. The other docs for NWB (e.g, the schema docs) seem to use Sphinx 1.6.5 instead and are still building. There is a current RTD GitHub issue for this here:

https://github.com/rtfd/readthedocs.org/issues/3769

I would say, lets just

[2018-03-16 19:01] #395 closed, assigned to jcfr, dorukozturk

[2018-03-20 16:30] dorukozturk opened #399 "Add nightly tests for read api"
### Enhancement

Add nightly tests for pynwb.

### Problem/Use Case
In order to avoid regressions with the read API, check diverse set of nwb files against pynwb dev branch.
I prefer not to slow down our test suite, that is why I am proposing nightly tests.

I am thinking:

1) We upload 5-10 diverse NWB files to a public server (hoping to collect different files from
different labs to cover as muc

[2018-03-20 17:06] bendichter commented on #399
What's the protocol if it reveals a bug in read?

[2018-03-20 17:23] dorukozturk commented on #399
@bendichter I can think of 2 cases and they have different solutions. Both cases require making the tests pass.

a) We unintentionally broke it, that means we have to revert part of the code which breaks the read API for the sake of backwards compatibility.

b) We intentionally change the read API, which means we have to fix the tests to reflect the new read API on tests and bump up the version of

[2018-03-20 17:24] oruebel commented on #399
Creating support for nightly tests to do longer-running tests sounds good. In addition to read, I think you would also want to have round-trip tests in there, i.e. write a file and read it back.

I'm adding @nclack as they have been looking at doing some of this for the MatNWB MatLab API as well and this issue seems relevant to the round-trip testing between PyNWB and MatNWB to test that the PyNWB

[2018-03-20 17:30] jcfr commented on #399
This could be setup as [TravisCI cron job](https://docs.travis-ci.com/user/cron-jobs/). [Here](https://github.com/Slicer/apidocs.slicer.org#squash-of-gh-pages-branch-using-travisci-cron-job) is an example of such job.

The script on the travis repo, could also trigger a parameterized CircleCi build (example of such trigger [here](https://github.com/Slicer/github-circleci-trigger/blob/1a2c13b259f3f

[2018-03-20 17:30] dorukozturk commented on #399
@oruebel Adding round trip tests sounds great. That kind of end to end testing is very valuable for
stability.

Circleci has a feature for setting up cron jobs (https://circleci.com/docs/2.0/workflows/#scheduling-a-workflow). I am planning to add a new workflow to our current circle config file which will trigger
certain tests at midnight. @oruebel How does that sound?

@jcfr do you see any obstac

[2018-03-20 17:43] oruebel commented on #399
Just FYI, here the pull request with the test-suite for the MatLab API: https://github.com/NeurodataWithoutBorders/matnwb/pull/23

I'm mainly adding this to make sure you are aware of what is going on that end. We probably want to run these tests separately for PyNWB as well, but I think these kind of tests may potentially be  a good basis for testing compatibility between the APIs.

@jcfr @doruko

[2018-03-20 17:53] dorukozturk commented on #399
I have 3 kinds of tests in mind:

1) Find sample files (hopefully from different labs) that are diverse enough so that I can just do simple .read() on them.
2) Round trip or end to end tests (I might need some help from you guys here)
3) Test code on documentation page. We have nice examples there but time to time they don't work so people cannot follow along. I want to cover those examples too.

[2018-03-20 18:02] oruebel commented on #399
@ajtritt is working on making the code as sphinx-galleries which should make this easier  https://github.com/NeurodataWithoutBorders/pynwb/tree/enh/sphinx_gallery

I think the base setup for this is here https://github.com/NeurodataWithoutBorders/pynwb/tree/dev/tests/integration

Generally speaking, I think most files can be "made" small, i.e., the bulk of the data is going to be in large arrays,

[2018-03-20 18:04] jcfr commented on #399
Neat. :+1:

Leveraging CircleCI for this kind of test makes perfect sense . The CircleCI caching mechanism can also be very useful to speedup testing by avoiding downloading of python packages and/or data.

[2018-03-20 18:17] mgrauer commented on #399
Would it make sense to also run these longer tests on merges to master?

[2018-03-20 18:22] bendichter commented on #399
This only makes sense for tests that will take a long time. For quick tests, it would be better to add them to the integration tests that are already in place. Do you have specific tests in mind that take a long time to run?

I have a conversion script for publicly available data from the Buzsaki Lab that takes a few minutes. I'm happy to contribute that as soon as I work out the last few remainin

[2018-03-20 18:25] bendichter commented on #399
@mgrauer We currently don't have a master branch, but I would be in favor of creating one and, as you suggest, running comprehensive integration tests on merge

[2018-03-20 18:28] mgrauer commented on #399
Sorry @bendichter, I meant `dev` branch in this repo. I believe we are currently doing this pre/post merge split of tests, where some CIs (OS platforms) are run on PRs and all are run after merges into `dev`. These tests (if they are long running) could also be added to the post merge tests.

@dorukozturk Can you confirm or correct me here?

[2018-03-20 18:57] dorukozturk commented on #399
@mgrauer That is correct. We run the macOS tests only after the merge. Some of the tests can go there.

@bendichter I have some NWB files that I downloaded from Allen Brain Atlas. Currently I can't read them and they average in ~300-350 MB range. I really want to add some of those and try to read them in tests. So the test itself won't take time at all, but the download will. I don't know limits o

[2018-03-20 19:01] oruebel commented on #399
note that these are most likely NWB 1.0.x and not NWB 2.0 files, i.e., for that you need to use the legacy read modules in PyNWB not the standard read. While testing the legacy read modules is good too, I think it is important that we cover the main read as that is what most folks will use.

[2018-03-20 19:07] dorukozturk commented on #399
@oruebel Yes, that was the case. I agree we should put more weight on 2.0 files. I am hoping to collect some during the hackathon.

[2018-03-21 03:46] bendichter commented on #399
@dorukozturk That sounds like a good application, and I agree the

integration tests < post merge tests < nightly tests

strategy sounds smart. I'm happy to give you my scripts, which are currently in my to_nwb repo, but aren't 100% working yet. If we add tests for 2.0 functionality, realize that the API does change intentionally fairly often, so we'll have to change the tests too.

[2018-03-21 14:54] nicain commented on #281
@flygirlPhD thanks, that is great.  As of now, I don't think there is anyone with any bandwith to work on an updated logo; Ill see if we get any traction at the upcoming hackathon in April.

[2018-03-21 18:44] ajtritt opened #401 "Add link to OpticalChannels to TwoPhotonSeries"
## 1) Feature Request
Add ability to specify which channel/emission wavelength a two-photon series image stack was generated from.

### Problem/Use Case
As the schema and API currently stand, there is no way to link emission channel between the ImagingPlane container and TwoPhotonSeries.

### Solution
Add dataset of object references that link to the optical channels that each image stack was reco

[2018-03-21 22:03] ajtritt opened #402 "Fix read the docs builds"
Read the docs is not building again.

[2018-03-22 00:11] jcfr commented on #402
While readthedocs doesn't try to [build the latest version of h5py from source](https://readthedocs.org/projects/pynwb/builds/6927062/), it now fails with the [following error](https://readthedocs.org/projects/pynwb/builds/6927653/):

[code]

[2018-03-22 00:30] jcfr commented on #402
We could also try to mock some of the dependencies. See http://read-the-docs.readthedocs.io/en/latest/faq.html#i-get-import-errors-on-libraries-that-depend-on-c-modules

[2018-03-22 02:11] jcfr commented on #402
Updating `python-dateutil` to `2.7.0` addressed this issue, documentation is now generated again.

[2018-03-22 02:11] #402 closed, assigned to jcfr

[2018-03-23 21:20] bendichter commented on #393
I think the best way to prevent this type of error in the future is to add `io.read()` statements in the demo code outside the blocks included in the documentation. @ajtritt what do you think?

[2018-03-23 23:10] ajtritt commented on #393
@bendichter  [already on it](https://github.com/NeurodataWithoutBorders/pynwb/blob/enh/sphinx_gallery/docs/gallery/examples/file.py) :)

@AdamRTomkins I had to do some refactoring of how epochs get stored. You will still use the `create_epoch` method, but it's change a little bit. See the documentation for details.

[2018-03-24 00:22] bendichter opened #406 "broken round trip for CatCellInfo extension"
this worked previously

[code]

[code]

error:
[code]

## Checklist

- [x] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues/) ?
- [x] Have you included a brief and descriptive title?
- [x] Have you included a clear description of the problem you are trying to solve?
- [x] Have you included a minimal code snippet that reproduc

[2018-03-24 03:04] bendichter opened #407 "epoch fails to write"
[code]

error:
[code]

[2018-03-24 03:23] ajtritt commented on #407
I can across and addressed the same error when working on documentation on enh/sphinx_gallery. This should be fixed when I merge that branch.

[2018-03-26 02:46] bendichter opened #408 "question: external dataset reference?"
Is it possible to use pynwb to reference a dataset from another hdf5 file?

[2018-03-26 20:38] oruebel commented on #408
Just in case I'm getting some of details wrong, let me CC @ajtritt here. I believe there are two options how this can work right now:

1) If you want to link against an object with a ``neurodata_type`` that has a corresponding container class in the PyNWB API, then what you would do is to simply open the file that has that container and add the container to your new file. On write, PyNWB will then

[2018-03-26 20:39] oruebel commented on #408
@bendichter is it Ok to close this issue for now and I'll add this to the work plan for Advanced I/O for the hackathon.

[2018-03-26 22:00] bendichter commented on #408
Thanks Oliver, that example is very helpful! Is there test coverage for this?

[2018-03-26 22:42] oruebel commented on #408
As far as I can tell those lines in the HDF5IO backend are not yet covered.

[2018-03-30 02:32] oruebel commented on #408
I've updated  #400 to now allow 1) setting the default behavior for whether h5py.Dataset are copied or linked to on write and 2) allow customization of this behavior via H5DataIO on a per-dataset basis. I've also added some tests to cover this behavior.

[2018-03-30 02:32] #408 closed, assigned to nobody

[2018-03-30 02:35] bendichter commented on #408
great, thanks for working on that! I'll test it out tomorrow.

[2018-03-30 16:17] bendichter opened #410 "roundtrip fail for data convert"
## 1) Bug

I am working on a conversion script for Losonczy Lab's data. I am able to write a file with the following script:

[code]

The write works without error, but the read gives the following error:
[code]

I get this error in the dev branch as well as the sphinx_gallery branch. I'm working on narrowing this down to minimal code to identify the specific issue. I'm just posting in here now in

[2018-03-30 16:37] #410 closed, assigned to nobody

[2018-03-30 16:40] bendichter commented on #410
whoops my mistake

[2018-03-31 20:36] bendichter opened #412 "ImagingPlane device argument should be link to device, not str"
https://github.com/NeurodataWithoutBorders/pynwb/blob/ddeaacc464e567f3fc123ca74a6d8cecbfbbce15/src/pynwb/ophys.py#L59

Correct me if I'm wrong, but I think for consistency with ephys, the device argument of ImagingPlane should expect a Device type, not a str.

[2018-04-01 01:42] ajtritt commented on #412
This was missed during conversion from 1.x, but it should be a Device, not a string

[2018-04-02 18:31] #407 closed, assigned to nobody

[2018-04-03 21:58] nicain opened #414 "ability to prototype sphinx-gallery examples"
## Feature Request

### Problem/Use Case
Prototype sphinx-gallery examples quickly, without having to build out the entire documentation to make a change.

[2018-04-03 22:00] nicain commented on #414
@oruebel This issue is to help track the integration of that executable I told you about.  Ill make a feature branch based on this issue so you can see my WIP.

[2018-04-03 22:40] ajtritt commented on #414
@nicain can you provide some more details on this?

Adding a gallery example requires adding a sphinx-gallery formatted Python script that to anywhere in docs/gallery, and then running `make htmldoc` to build the documentation.  If it's in there, the test suite will pick it up and execute it.

[2018-04-03 23:26] campagnola opened #416 "Round trip doesn't work for CurrentClampStimulusSeries"
Using a `dev` commit from today (b3f1034), I am running into an error when loading an NWB file that contains a CurrentClampStimulusSeries:

[code]

Debugging from map.py line 677 in the stack above, I have:
[code]
Possibly related to #406.

### Code to reproduce
[code]
### Environment
Please describe your environment according to the following bullet points.
- **Python Executable:** Conda or Pytho

[2018-04-03 23:33] ajtritt commented on #416
Try registering the IntracellularElectrode with your NWBFile.

You can do this with your example by inserting the following line after you create the IntracellularElectrode:

`nwbfile.add_ic_electrode(elec)`

You could also replace that line with a call to [NWBFile.create_ic_electrode](http://pynwb.readthedocs.io/en/latest/pynwb.file.html#pynwb.file.NWBFile.create_ic_electrode):

[code]

[2018-04-03 23:43] t-b commented on #416
@ajtritt If I do that I get

[code]

Could `add_stimulus` call `add_ic_electrode` implicitly`?

[2018-04-03 23:53] t-b commented on #412
Same issue applies to the `device` in intracellular ephys electrodes. This is still a string and should also be a device.

[2018-04-03 23:58] campagnola commented on #416
Thanks @ajtritt, I get the same as @t-b.
Seems like there are a couple of places where the code could be made more robust here:
* Ensuring that dependent objects are either automatically added to the nwb file or generate an error when the file is written
* In `ObjectMapper.construct`, ensure that `args` is constructed in a reasonable way--because the electrode was missing from the NWB file here, `

[2018-04-04 00:38] t-b commented on #47
@oruebel This is resolved according to my tests and looking at https://github.com/NeurodataWithoutBorders/pynwb/blob/67a3bca2c37c42cb963b2ea1509952567bdf35cd/src/pynwb/base.py#L173.

[2018-04-04 00:59] neuromusic opened #418 "add_roi requires redundant information"
after the ROI refactor in #391 ....

`plane_segmentation.add_roi` requires BOTH an img_mask and a pix_mask to define an ROI

these are two different ways of representing the same data & both should not be required.

if I were to be bold, I would suggest dropping the pix_mask entirely, but this is a legitimate way of representing this data that some people prefer.

[2018-04-04 01:12] neuromusic opened #419 "ophys.ImagingPlane has implicit relationship to "device""
ophys.ImagingPlane has a required "device" attribute.

[code]

Since a "device" is an NWB core object (a container?), this should be a reference to an actual device, no?

[2018-04-04 01:14] neuromusic commented on #419
woops. duplicate of #412

[2018-04-04 01:14] #419 closed, assigned to nobody

[2018-04-04 01:23] jcfr opened #420 "Convention to specify SIUnit"
While going through the [File tutorial](file:///home/jcfr/Projects/pynwb/docs/_build/html/tutorials/general/file.html#time-series-data), I noticed the `SIunit` placeholder was used few times.

Looking for examples, I read through the [TimeSeries class definition](https://github.com/NeurodataWithoutBorders/pynwb/blob/67a3bca2c37c42cb963b2ea1509952567bdf35cd/src/pynwb/base.py#L107) and also the [sch

[2018-04-04 02:13] neuromusic opened #421 "ROI refactor lost "name" for ROIs"
the refactor of the ROIs introduced some problems for referencing ROIs

- ROIs are now references based on their index in the ROI Table
- this index is determined by the order in which ROIs are added to the table, which is an unreliable way to reference the data
- ROIs no longer have a "name" attribute that allows for uniquely identifying ROIs independent of the order in which they were added to t

[2018-04-04 03:21] t-b commented on #420
How about we use the standard abbreviations for the units? Like `s` / `V` in their official casing?

[2018-04-04 04:04] neuromusic opened #422 "ImageSeries should not require timestamps"
this has come up before (e.g. #124) but image.ImageSeries should have timestamps as an optional attribute

in #124 @oruebel argued that ImageSeries does not need to support this, but this is clearly not the case from the documentation, e.g. for image.IndexSeries...

http://pynwb.readthedocs.io/en/latest/pynwb.image.html#pynwb.image.IndexSeries

The specific use-case here is that we have multiple s

[2018-04-04 04:42] neuromusic commented on #421
cc @nicain since this is a critical requirement for legacy Brain Observatory support, as well

[2018-04-04 05:19] ajtritt commented on #421
If we bring back “name” and have the table indexed by “name”,  will that work?

[2018-04-04 16:07] ajtritt commented on #422
I think we should create a new type, or modify IndexSeries to replace ImageSeries. ImageSeries is supposed to be a TimeSeries. If it has no field for time, then, to me, it doesn’t seem like this is really a time series.

I believe there is a type called “Images” that’s pretty barebones. I put it there as a placeholder for future development of image-related things. We could just add everything but

[2018-04-04 16:36] #47 closed, assigned to nobody

[2018-04-04 16:44] oruebel commented on #420
Personally I think "seconds" is more descriptive than "s", but that's just my personal feeling, but I'm fine with whatever makes most sense for neuroscientists. Once you decide, please add a short section to the format docs to describe it:

https://github.com/NeurodataWithoutBorders/nwb-schema/blob/dev/docs/format/source/format_description.rst

We should probably also have a dict somewhere in PyNW

[2018-04-04 16:59] mgrauer commented on #420
what about using something external that provides support for units already rather than writing it?

e.g. https://pypi.python.org/pypi/units/

[2018-04-04 17:07] jcfr commented on #420
Thanks everyone for the feedback

:+1:

:+1:

That would work (or also something like `pynwb.units.second`, ... ), at first I think we need to agree on what should be the convention for units and then come up with a technical solution.

I wonder how unit are currently stored in files. @NeurodataWithoutBorders/hck04 ?

That would be an option, but the unit package referenced uses single letter unit

[2018-04-04 17:08] ajtritt commented on #416
@t-b

It's possible. Code would have to make assumptions, and there might be more devils in the details. I'll poke around code and think about this. I think @campagnola's suggestion of checking will be simpler

@campagnola

This is less trivial than it may seem, but I agree that this check should happen. I'll have to think about how to best accomplish this.

We can just have `ObjectMapper.construc

[2018-04-04 17:12] ajtritt commented on #416
Working on https://github.com/NeurodataWithoutBorders/pynwb/tree/bug/ic_electrode to fix this.

[2018-04-04 17:18] waxlamp opened #423 "Run a coverage report without integration tests"
The coverage tests report too high a coverage value because the integration tests are inflating the value and hiding the actual coverage of unit tests.

[2018-04-04 17:18] neuromusic commented on #422
ImageSeries makes sense as a timeseries (e.g. we collect behavioral videos or present movies as stimuli).

Maybe the concern here is what IndexSeries should reference your new Images type.

e.g. the `indexed_timeseries` kwarg should become `indexed_image_stack` or something of the sort?

[2018-04-04 17:20] neuromusic commented on #421
I think so.... we should consult with @nicain to make sure that we don't lose ROI when reading in the legacy Brain Observatory files.

[2018-04-04 17:21] nicain commented on #421
I think this should be fine.

[2018-04-04 17:25] JFPerkins commented on #420
Some other inconsistencies with units:

- SpatialSeries is [hardcoded to meters](https://github.com/NeurodataWithoutBorders/pynwb/blob/dev/src/pynwb/behavior.py#L65) instead of just being the [default](https://nwb-schema.readthedocs.io/en/latest/format.html#sec-spatialseries)
- Unspecified default values are inconsistently defined ([None](https://github.com/NeurodataWithoutBorders/pynwb/blob/dev/s

[2018-04-04 17:54] neuromusic commented on #421
huzzah!

[2018-04-04 18:12] campagnola commented on #420
I think single-letter units are fine as long as we have a standard set of units and their single-letter equivalents. For visualization, we are much more likely to want the single-letter versions. Ideally, the API can give us access to both versions. I'd like to be able to do something like:
[code]

[2018-04-04 18:54] jcfr opened #425 "issue template: reference contributing guidline"
See https://github.com/NeurodataWithoutBorders/pynwb/blob/dev/docs/ISSUE_TEMPLATE.md

[2018-04-04 19:52] NileGraddis opened #427 "Generalize cluster quality metrics"
The [clustering container](https://pynwb.readthedocs.io/en/latest/pynwb.ecephys.html#pynwb.ecephys.Clustering) has a dataset called "peak_over_rms". This is a metric of the quality of clustered units. Such metrics will likely be produced by every extracellular ephys experiment, but will not necessarily be peak_over_rms.  The peak_over_rms field should probably be replaced by a more generic quality

[2018-04-04 20:00] neuromusic commented on #422
ok, with more discussion with others here, this is a core need....

- there should be an Image type that allows storing arbitrary n-dimensional images
- ImageIndexSeries should index into this type

[2018-04-04 20:16] davidsteuerman commented on #425
Is this the preferred fix?

https://blog.github.com/2012-09-17-contributing-guidelines/

[2018-04-04 20:33] oruebel commented on #425
I think maybe both, i.e., have it appear as a banner as well as have the check box in the template itself in the same way we have the check box in the pull request template.

[2018-04-04 22:22] NileGraddis commented on #427
from a conversation with @ajtritt and @tjd2002:

1. we should be using Unittimes rather than Clustering
2. The plan for cluster metrics is now to create a new dataset subclass called UnitMetric. This class will have a flexible tag (e.g. peak_over_rms) and description, as well as an nunits long array of data. Extension writers can produce specializations of this class which fix the tag and descript

[2018-04-04 23:17] #416 closed, assigned to nobody

[2018-04-05 00:37] t-b commented on #127
This is still broken.

On 613f738d0c635d419af1de8e427c906aa7bb90ea when I do

[code]

I get

[code]

[2018-04-05 16:38] nicain commented on #414
Closed in favor in of https://github.com/NeurodataWithoutBorders/nwb-docutils/issues/1

[2018-04-05 16:38] #414 closed, assigned to nicain

[2018-04-05 19:39] NileGraddis opened #431 "Associate cluster waveforms and electrode table regions with unit times"
UnitTimes provide a nice way to store event times associated with sorted units. There should be a way to associate mean/std waveforms (such as those in ClusterWaveforms) as well as electrodes (such as those in ElectrodeTableRegion) to the units defined by a UnitTimes container.

Since UnitTimes supports simulated data and ophys data as well as ephys data, the solution to this problem should probab

[2018-04-05 20:09] neuromusic commented on #148
bumping this issue

[code]

[2018-04-05 20:13] neuromusic commented on #148
to clarify one use case:

- I want to create an object with mocked out attributes, then fill in the actual fields later in the script.

[2018-04-05 20:47] ajtritt commented on #431
What about a type that maps between the different IDs? It could be a table with two columns. For example, in the ElectrodeTable to UnitTimes case, the first column would be an id from the electrode table and the second column would be an id from UnitTimes.unit_id.

[2018-04-05 20:52] nicain opened #433 "Typo in documentation: mode not explicit in writing-an-nwb-file"
## 1) Typo

In the pynwb documentation:
https://pynwb.readthedocs.io/en/latest/tutorials/general/file.html#writing-an-nwb-file

[code]

Should read:

[code]

- [x] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues/) ?
- [x] Have you included a brief and descriptive title?
- [x] Have you included a clear description of the prob

[2018-04-05 20:58] nicain commented on #433
CC @sborde

[2018-04-05 22:06] JFPerkins opened #434 "NWBNamespaceBuilder does not validate spec it is building/writing."
NWBNamespaceBuilder allows construction of specs that can't be loaded due to redefining types already defined in the spec. The problem isn't discovered until load time.

Example:

    from pynwb.spec import NWBGroupSpec, NWBNamespaceBuilder

    spec1 = NWBGroupSpec("This is my new group 1",
                         "Group1",
                         neurodata_type_inc="NWBDataInterface",

[2018-04-06 01:20] t-b commented on #420
A list of SI units can be found [here](https://www.nist.gov/pml/nist-guide-si-chapter-4-two-classes-si-units-and-si-prefixes).

[2018-04-06 01:23] #421 closed, assigned to nobody

[2018-04-06 02:35] jcfr opened #436 "Improve test installation of wheels and source distributions"
## 1) Bug

Tox is currently testing the installation of the wheels using `recreate --installpkg`.

https://github.com/NeurodataWithoutBorders/pynwb/blob/7a089be91fd72825f6209bcfb55b5c1cccfb82f1/.circleci/config.yml#L55-L59

The problem is that the requirements files are systematically installed and this approach currently  doesn't check the list associated with `install_requires` is correct.

http

[2018-04-06 16:14] mgrauer opened #440 "Add docs for creating a new round trip test"
We should make it easier to add a new round trip test, at least some documentation of the process and the point of adding a round trip test, and a pointer to an existing example (or ideally new example that is brought in at the same time as the docs to exercise the new docs).

[2018-04-06 16:19] NileGraddis opened #441 "Make setUpBuilder optional in test case"
Having to write out the builders manually makes writing roundtrip tests more cumbersome, though it is helpful for debugging new containers. It would be nice (and make contributing easier!) if this were optional. As far as I can tell, the relevant class is tests.integration.ui_write.base.TestMapNWBContainer - specifically the setUp and test_build methods.

thoughts?

[2018-04-06 17:19] t-b opened #443 "Device class used for ecephy, icephys and ophys but lives in ecephys.py"
The class `Device` is used for Intracellular Ephys and Extracellular Ephys. See https://github.com/NeurodataWithoutBorders/pynwb/blob/3afc38fce1cad67c54efa55068c01486ff15478f/src/pynwb/data/nwb.ecephys.yaml#L312 and https://github.com/NeurodataWithoutBorders/pynwb/blob/3afc38fce1cad67c54efa55068c01486ff15478f/src/pynwb/data/nwb.icephys.yaml#L194.

But it lives in https://github.com/NeurodataWithou

[2018-04-06 17:26] ajtritt commented on #443
relates to #412

[2018-04-06 17:27] ajtritt commented on #441
relates to #440

[2018-04-06 21:12] JFPerkins opened #444 "Coverage reports no longer generating for pull requests"
## 1) Bug

It looks like pull requests don't have coverage on codecov anymore.  No PRs in the last 15 days have [coverage reports](https://codecov.io/gh/NeurodataWithoutBorders/pynwb/pulls).

## Checklist

- [X] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues/) ?
- [X] Have you included a brief and descriptive title?
- [X] H

[2018-04-06 21:26] bendichter commented on #441
Agreed. Thanks for bringing this up, Nile!

[2018-04-06 22:11] NileGraddis opened #445 "Allow tabular data as TimeSeries.data"
@neuromusic and I would like to be able to assign an NWBTable as the data attribute of a TimeSeries. This would allow users to cleanly assign timestamps to elements of compound datasets.

[2018-04-06 22:35] JFPerkins opened #446 "Tests do not run with clean state of pynwb"
## 1) Bug

Changes to the global state that is tracked in the global state variables __TYPE_MAP and __NS_CATALOG persists across tests.  This means that any tests that run after other tests that change the state (such as extension tests) are running with those changes.

The changing state can be observed by inserting:

    import pynwb
    logging.info("loaded namespaces %s", pynwb.get_type_map().

[2018-04-06 23:50] mgrauer commented on #436
@bendichter

We thought we were testing pip package installs, but we were testing them with requirements instead of setup.py, so that does not reflect how it would install on your system. There very well could have been a bug with the pip installation and we wouldn't have known it with the current testing.

Thanks for bringing this to our attention and we will be notified of these problems in the

[2018-04-07 04:02] bendichter opened #447 "tool for creating partial nwb files"
## Feature Request

### Problem/Use Case
I have heard from several groups that they have the desire to store stimulus data in an external file and link to the file. This is important for them because they often play the exact same stimulus and do not want to duplicate the data for every NWB file. Sometimes the stimulus file is big (e.g. videos) and even when it is not that big it's a bad idea to d

[2018-04-08 18:47] #436 closed, assigned to dorukozturk

[2018-04-09 04:20] neuromusic commented on #129
the problem here is that "/" is not allowed in HDF5 group names.

one solution would be for pynwb to serialize & deserialize such names to HDF5 group names (perhaps using percent-encoding to be maximally generalizable)

[2018-04-09 18:19] oruebel commented on #129
Another solution would be to simply make it explicit in the docs that "/" is not allowed in object names and have PyNWB raise an error/warning when it encounters a name that contains a "/". Personally, I feel that this would be a reasonable restriction.

[2018-04-09 20:08] bendichter opened #449 "UnitTime roundtrip changes type returned by `get_unit_spike_times`"
## Bug

Before IO, `UnitTimes` returns spike times as a list. After IO, spike times are returned as a numpy array. I guess either is fine. I prefer np.arrays, but it should be consistent.

### Steps to Reproduce
[code]

[code]

(ContainerRoundTrip is in #450)
### Environment
Please describe your environment according to the following bullet points.
- **Python Executable:** Conda
- **Python Version

[2018-04-09 20:31] ajtritt commented on #449
Growing numpy arrays takes significantly longer than growing generic Python list. PyNWB uses generic lists during write for this reason.

h5py returns numpy arrays on read.

Is this consistency important enough to sacrifice performance and add code overhead?

[2018-04-09 21:09] bendichter commented on #449
Look at how I solved it. I'm not storing as a numpy array, I'm storing as a list and converting to numpy array on retrieval. Does this work for you?

[2018-04-10 11:59] #423 closed, assigned to nobody

[2018-04-10 16:16] #434 closed, assigned to JFPerkins

[2018-04-10 17:25] oruebel opened #452 "Port Allen Brain Observatory Notebook to Sphinx Gallery"
## 1) Enhancement

Now that we have Sphinx Gallery we should port the few Jupyter notebooks we have in the docs to  make the content more accessible and to simplify the documentation.

@nicain  can you port https://github.com/NeurodataWithoutBorders/pynwb/blob/dev/docs/notebooks/read-Allen-Brain-Oservatory.ipynb

## Checklist

- [X] Have you ensured the feature or change was not already [reported]

[2018-04-10 17:27] oruebel opened #453 "Port MeisterLab notebook to Sphinx Gallery"
## 1) Enhancement

Now that we have Sphinx Gallery we should port the few Jupyter notebooks we have in the docs to  make the content more accessible and to simplify the documentation.

@oruebel  can you port https://github.com/NeurodataWithoutBorders/pynwb/blob/dev/docs/notebooks/convert-crcns-ret-1-meisterlab.ipynb

## Checklist

- [X] Have you ensured the feature or change was not already [repor

[2018-04-10 18:27] oruebel commented on #452
@nicain after chatting with Andrew we decided to just leave these notebooks on the side because they are just too large and complicated to really run all the time with Sphinx Gallery. I'll close this issue.

[2018-04-10 18:27] #452 closed, assigned to nicain

[2018-04-10 18:28] oruebel commented on #453
After chatting with Andrew we decided to just leave these notebooks on the side because they are just too large and complicated to really run all the time with Sphinx Gallery

[2018-04-10 18:28] #453 closed, assigned to oruebel

[2018-04-10 20:22] #127 closed, assigned to nobody

[2018-04-11 00:50] #440 closed, assigned to ajtritt

[2018-04-11 00:53] ajtritt commented on #441
closed by #456

[2018-04-11 00:53] #441 closed, assigned to jcfr, dorukozturk

[2018-04-13 01:40] dorukozturk opened #459 "Broken available_namespaces method"
## 1) Bug

[This function](https://github.com/NeurodataWithoutBorders/pynwb/blob/dev/src/pynwb/__init__.py#L104-L106) is broken. There are 2 problems. The docval decorator is failing and  __NS_CATALOG.namespaces is already a tuple.

### Steps to Reproduce
[code]
### Environment
Please describe your environment according to the following bullet points.
- **Python Executable:** Python
- **Python Ver

[2018-04-13 19:11] dorukozturk opened #461 "Coverage patch threshold"
## Feature Request

Codecov has a feature which is used to set a coverage threshold for PRs. Here are the advantages and disadvantages for this feature:

### Pros
1) This will ensure PR's can only be merged with "some" testing. "some" is dependent on how we set up the threshold. If we set it up to 100%, that means every line that is newly added needs to be covered before getting merged. I recommen

[2018-04-13 21:42] bendichter commented on #461
This sounds like a very good idea to me. Can anyone think of a way that it might backfire?

[2018-04-13 21:49] mgrauer commented on #461
One problem is that the thresholds can be hard to get right or be too sensitive. Say you remove lines of code and the associated tests, your overall coverage can go down even though you haven't introduced any uncovered lines.

There is the Con that @dorukozturk pointed out where you now cannot add new lines of code without also covering them, which can be an impediment to development speed. Genera

[2018-04-13 22:21] bendichter commented on #461
Yeah removing code+tests and adding boilerplate code do sound like possible failure modes, but I agree the pros seem to outweigh the cons and we can override if we need to.

[2018-04-13 22:36] tjd2002 commented on #431
I support a separate class to represent Units (independent of UnitTimes/ClusterWaveforms).And NB we definitely want to refer to electrodetableregions and not just electrodeids.

What is the reason to separate this list of Units from the UnitMetrics class as proposed at PR #435? Are there cases where there will not be a 1:1 correspondence between UnitMetrics and Units?

[2018-04-13 23:03] NileGraddis commented on #431
The way that I am currently leaning towards implementing Units is as a group with two datasets:

1. a list of unit ids
2. a table of associations, with one column of unit ids and another of links, like this:
[code]

This would allow us to attach electrode groups, event times, waveforms and other data to units while preserving the type of the attached data. We could then units obtained from differe

[2018-04-13 23:13] bendichter commented on #431
These all sound like good solutions. I just want to make sure that whatever we pick can support, either by links or some other means, indicating the relationship between individual units and:

* average waveform
* continuous variable like mean firing rate
* categorical variable like cell type
* spike train
* tuning properties/receptive field (often described as a matrix, e.g. STRF, location prefer

[2018-04-13 23:35] NileGraddis commented on #431
@bendichter I think that [UnitwiseMetrics](https://github.com/NeurodataWithoutBorders/pynwb/pull/435) covers scalar values such as cell type and mean firing rate. The solution I propose above is flexible enough to support the others as long as we create types for the ones that are not currently in spec, such as receptive field.

If there are no objections, I will go ahead and implement this.

[2018-04-14 00:21] tjd2002 commented on #431
I like the fact that the proposed solution extends to other unit-wise data.

One question (perhaps for the core developers) is whether this solution is idiomatic (‘NWB-ish’). It seems to approach some of the proposals for composable extensions made at the Allen Hackathon by @campagnola et al. (I.e. no need to subclass Unit in order to associate new types of Unit-wise data via an extension). Perhap

[2018-04-14 00:46] tjd2002 commented on #431
For discussion of extensions see: https://github.com/NeurodataWithoutBorders/nwb-schema/issues/141

[2018-04-14 04:11] campagnola commented on #431
I like the solution proposed by @NileGraddis; it's simple, it solves the composition problem (and solves it in a way that makes sense when you are dealing with hundreds/thousands of units), and unlike #141 it does not require any changes to NWB.

Things to consider:

* There is a possibility that by making this part of the spec freely extendable, it will be difficult to handle by analysis tools. T

[2018-04-16 04:27] bendichter commented on #384
@oruebel and @ajtritt any ideas about how to progress on this issue? Having the ability to append new datasets and append data to an existing dataset is going to be very useful for several of the labs I'm working with.

[2018-04-16 22:38] ajtritt commented on #384
Builders probably need to be marked as written, so HDF5IO knows what to write.

[2018-04-16 23:38] oruebel commented on #384
For datasets I think this can be "hacked" right now because you can **1)** enforce that a dataset gets chunked and can be expanded by wrapping it with H5DataIO and setting the maxshape (and chunking) **2)** you have access to the h5py.Dataset after read. E.g., the following seems to work, although I think this might be more of a hack than an intended function:

[code]

[2018-04-17 01:06] bendichter commented on #384
Nice! At some point we might want to make a workflow that doesn't interface directly with the HDF5 objects to allow for other backends, but it's nice to know there's a way to hack it currently. That's one down... for now.

Now is there a way to add a dataset to a file? Andrew, was your comment about that issue?

[2018-04-17 06:32] ajtritt commented on #384
@bendichter No, my comment was regarding appending whole objects (e.g. a new TimeSeries) to a file.
This requires tracking of what was read and what's been written

I'm working on this on this branch https://github.com/NeurodataWithoutBorders/pynwb/tree/enh/append

[2018-04-17 06:35] bendichter commented on #384
Cool, thanks for working on this!

[2018-04-17 21:15] bendichter commented on #399
@dorukozturk OK, I have a conversion script ready to be added as a nightly test. The code is [here](https://github.com/bendichter/to_nwb/blob/master/Buzsaki/convert_yuta.py). What's the best way for me to send you the data? If you can use Globus Connect I can give you read permissions to a shared server space with the data.

[2018-04-17 23:56] bendichter opened #467 "change `subject.age` to `subject.dob` (date of birth)"
## Feature Request

I see that the age of the animal is currently stored as `subject.age`. I'd like to request the option to alternatively store this information as `subject.dob`. The reason is that I'd like to have the subject object change minimally from session to session. As long as `NWBFile.session_start_time` is correct, you should be able to easily recover the age of the animal. I have foun

[2018-04-17 23:59] bendichter commented on #467
I just realized this should really be in nwb-schema

[2018-04-17 23:59] #467 closed, assigned to nobody

[2018-04-20 18:13] bendichter opened #471 "Indicate what parameters are optional"
## Feature Request
It's not clear to me from the pynwb docs what arguments are required and what arguments are optional.

If I run:
[code]

I get the following error:
[code]
which tells me which arguments are required. If I then run:
[code]

no error, but what about the other arguments? The docs list many parameters:

session_description (str) – a description of the session where this data was gen

[2018-04-20 18:16] ajtritt commented on #471
keyword arguments are optional, positional arguments are required. You can see which arguments are keyword and which are positional by looking at the method signature.

[2018-04-20 18:41] bendichter commented on #471
Here's the code from `NWBFile.__init__`:
[code]

The difference I see is that the required arguments do not have a `'default'` key in the `docval` decorator. Is that what you mean?

[2018-04-20 18:42] bendichter commented on #471
class pynwb.file.NWBFile(source, session_description, identifier, session_start_time, file_create_date=None, experimenter=None, experiment_description=None, session_id=None, institution=None, lab=None, acquisition=None, stimulus=None, stimulus_template=None, epochs=None, epoch_tags=set(), modules=None, ec_electrodes=None, ec_electrode_groups=None, ic_electrodes=None, imaging_planes=None, ogen_site

[2018-04-20 18:48] bendichter commented on #471
I'm used to having the word "optional" after optional arguments as well e.g. https://docs.scipy.org/doc/scipy/reference/generated/scipy.signal.medfilt.html. I think it would be nice to add that so the documentation style is consistent with common python tools

[2018-04-20 19:14] bendichter opened #472 "workflow to add `Subject` deviates from pattern"
There seem to be two alternative workflows to add data to an `NWBFile` object. The first is to construct the file with the minimum required arguments:
[code]
and then add data as you build it. This is the strategy demonstrated in the tutorials. The second method is to build up the data first and then construct the `NWBFile` object later with the data as arguments. As far as I can tell, all of the

[2018-04-20 19:59] bendichter opened #473 "missing fields in "general""
there are several fields in nwb-schema that are not in `pynwb`, e.g. "related_publications." Most or all of these are `str` type. We should add them as optional arguments to the `NWBFile` constructor.

[2018-04-20 20:40] ajtritt commented on #471
If you want to add something "(optional)" to the arguments list in the documentation, you would need to modify [pynwb.form.utils.__googledoc](https://github.com/NeurodataWithoutBorders/pynwb/blob/dev/src/pynwb/form/utils.py#L416)

[2018-04-20 20:42] ajtritt commented on #472
[code]

[2018-04-20 20:42] #472 closed, assigned to nobody

[2018-04-20 20:53] bendichter commented on #471
got it, thanks!

[2018-04-20 21:15] bendichter commented on #473
Andrew says:

[2018-04-21 00:17] #473 closed, assigned to bendichter

[2018-04-21 18:45] bendichter commented on #140
deprecated syntax and this issue has been solved

[2018-04-21 18:45] #140 closed, assigned to nobody

[2018-04-23 16:32] bendichter opened #480 "dims check for auto-generated extension classes"
I would like classes that are auto-generated by extensions to automatically check that dimensions with the same label across datasets have the same length. If they do not, either throw an error or a warning. For example, in the code below, `dset1` and `dset2` are in `DimsTest` and both have a dimension named `'cells'`. I would like it to be enforced that the lengths of these datasets must be equal

[2018-04-23 16:55] bendichter commented on #480
It looks like the datasets are not passed into `NWBDataInterface.__init__`, so this would require a bit of a deeper change.

[2018-04-23 17:36] oruebel commented on #480
@bendichter I think the proper way to do this will be to add in the future the ability to express additional constrains on datasets in the specification language. The behavior you describe here would add implicit behavior to the API and specification language that may or may not apply in all cases. E.g., what should we do if two datasets have the same dimension names but are in subgroups of the sa

[2018-04-23 17:48] bendichter commented on #480
@oruebel Thanks for weighing in on this. I'd rather not make users create programming-language-specific checks for every extension class. Then they'd have to implement this behavior in every class * every language (python + MATLAB + ??).

I think this enforces good practice. You should not be naming dimensions the same thing if they mean something different. Could you elaborate on your counter-exa

[2018-04-23 19:39] oruebel commented on #480
My main concerns are that I don't like implicit behaviors and I also don't think that this can be handled via implicit rules. Basically any time a dimension refers to something of arbitrary lengths (e.g., time, voltage, m/z etc.) two datasets may not need to have the same shape. Also, it is unclear when the implicit rule would apply. E.g., what happens if two datasets share constraints that are in

[2018-04-23 19:48] #338 closed, assigned to nobody

[2018-04-23 19:52] bendichter commented on #480
OK fair enough, you might run into this issue with `'time'` if you had two different `TimeSeries` objects with different sampling rates in the same extension class. However I'd say it's a missing feature that the number of timestamps does not need to match the first dimensions of data in `'TimeSeries'` e.g.
[code]

I agree, if this requires changes to the schema language it's clearly a 2.x issue.

[2018-04-24 19:53] #150 closed, assigned to nobody

[2018-04-24 21:45] nicain opened #483 "Ophys brain observatory tutorial to sphinx-gallery"
Add a tutorial based on writing Allen Institute Brain Observatory data.

[2018-04-25 02:45] #483 closed, assigned to nicain

[2018-04-26 03:07] ajtritt opened #488 "sphinx not linking internally"
## 1) Bug

Sphinx is not building links to types defined within PyNWB, but it can link to other types found outside of PyNWB.

For example, on the TimeSeries API doc, the allowable types for the *data* argument don't provide links to anything defined within NWB e.g. AbstractDataChunkIterator, but it links to the h5py API docs for Dataset.
http://pynwb.readthedocs.io/en/latest/pynwb.base.html#pynwb

[2018-04-26 10:07] nicain opened #491 "flake8 config not ignoring gallery example"
In https://github.com/NeurodataWithoutBorders/pynwb/commit/72883b017b0eb0ae4fb3e37630db09b5c2082ab5 I added a line to ignore line-too-long (i.e. E501) to the flake8 circle build.  However, it looks like this ignore is not actually working, for some reason.  I had to force-merge PR https://github.com/NeurodataWithoutBorders/pynwb/pull/490 to get my changes for my tutorial through for the hackathon,

[2018-04-26 13:34] dorukozturk commented on #491
Yes, this is confusing. This is happening because the tool that checks styling (pep8speaks) is not running flake8 (even it is much better) but running pep8. That is why even if the flake8 tests are passing pep8speaks fails. If you run pep8 locally you can reproduce this error. Maybe it is time to say goodbye to pep8speaks and rely on circle running flake8. @jcfr @mgrauer @ajtritt What do you think

[2018-04-26 14:00] dorukozturk commented on #491
@nicain The correct syntax is https://github.com/NeurodataWithoutBorders/pynwb/blob/846c26d95ab05fe73f439e2c9c13c5d3aeeca6b0/.circleci/config.yml#L8

[2018-04-26 16:17] jcfr commented on #491
:+1:

Unless we contribute to pep8speaks and help address `https://github.com/OrkoHunter/pep8speaks/issues/56` , only maintaining falke8 validation seems reasonable.

[2018-04-26 16:37] dorukozturk commented on #491
I am leaning towards removing it. :smile:

[2018-04-26 18:32] #491 closed, assigned to nicain

[2018-04-26 22:51] elyall opened #494 "ophys.ImagingPlane.imaging_rate should be float for consistency"
Sampling frequencies are recorded in multiple locations. As far as I'm aware, in all but 1 of these locations it is referred to as "rate" and is specified as a float.

In [ophys.ImagingPlane](http://pynwb.readthedocs.io/en/latest/pynwb.ophys.html?highlight=opticalchannel#pynwb.ophys.ImagingPlane) the sampling frequency is specified under "imaging_rate" as a string.

I'd recommend changing the para

[2018-04-26 23:01] bendichter commented on #494
Great suggestion, @elyall. We are trying to separate development of the underlying schema from development of pynwb tools. Since this is a change to the schema, it would fit better in https://github.com/NeurodataWithoutBorders/nwb-schema. We have an open issue related to this at https://github.com/NeurodataWithoutBorders/nwb-schema/issues/136 but it does not mention the name change, which I think

[2018-04-26 23:32] elyall commented on #494
Ah yes, should've realized that. I'll add my suggestion over there and close this issue.

[2018-04-26 23:32] #494 closed, assigned to nobody

[2018-04-27 17:25] tjd2002 opened #497 "Write spec to nwb file by default (change `cache_spec` default to true)"
By default we should save the spec into the nwb file. Especially helpful if an nwb file includes custom extensions.

According to #379 pynwb errors on read if cache_spec is enabled.

## Checklist

- [x] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues/) ?
- [x] Have you included a brief and descriptive title?
- [ ] Have you i

[2018-04-27 17:46] bendichter commented on #379
@ajtritt nudge

[2018-04-27 18:01] bendichter opened #498 "how do I specify specific data_types for extensions instead of importing all of core?"

[2018-04-27 20:39] t-b opened #499 "Adding sweep based information"
# Current design

https://github.com/t-b/ipfx/blob/feature/sweep_table/sweeptables.md

# Old design

This is a POC design we've come up during the hackathon at the allen institute.

# Problem

In Icephys it is common to have sweeps (a group of PatchClampSeries belonging
together, were up to two TimeSeries are from one electrode, including
other TimeSeries not related to an electrode (aka TTL chann

[2018-04-27 21:18] kevinalexbrown opened #500 "BehavioralEvents does not write to hdf5 file"
Using minimal example below to create an nwb file and a BehavioralEvents time series, groups for the processing module and for the BehavioralEvents container are created. However, the data is missing from the hdf5 file after writing the data.

Can be fixed by changing 'timeseries' in BehavioralEvents attr to 'time_series'

    - ObjectMapper is reading from the wrong attribute.

### Steps to Repro

[2018-04-27 23:26] jeffteeters opened #502 "NWB Extensions tutorial has incorrect argument order in call to NWBAttributeSpec"
In the NWB Extensions tutorial, at:
https://pynwb.readthedocs.io/en/latest/tutorials/general/extensions.html#sphx-glr-tutorials-general-extensions-py

Parameters to NWBAttributeSpec should be:

`pynwb.spec.NWBAttributeSpec(name, doc, dtype, shape=None, dims=None, required=True, parent=None, value=None, default_value=None)`
(According to the API specification at:
http://pynwb.readthedocs.io/en/late

[2018-04-28 01:04] ajtritt opened #505 "end-to-end tutorial"
### Problem/Use Case
Write a tutorial that explains how to:
    1. define an extension
    2. define a Container class for the extension
    3. write instances of the Container class
    4. read the Container class(es) instances back in

## Checklist

- [ ] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues/) ?
- [ ] Have you i

[2018-04-28 15:15] bendichter commented on #505
See my pr on extensions. I think we can build off of that

[2018-04-30 18:38] #502 closed, assigned to jeffteeters

[2018-04-30 22:46] oruebel commented on #498
In the YAML itself, I think all you need to do is to add the  key``neurodata_types`` for the ``source`` or ``namespace``:

[code]

I'm not sure right now how this is specified in the API.

https://schema-language.readthedocs.io/en/latest/specification_language_description.html#schema

[2018-05-01 20:58] #500 closed, assigned to nobody

[2018-05-06 19:54] bendichter opened #512 "`ImageSeries.dimensions` should be `int`"
from the tutorial:
[code]

I think `dimensions` should be an `int`. It is `int` in [nwb-schema](https://github.com/NeurodataWithoutBorders/nwb-schema/blob/76fdcc0051568ed3ace184da751dc20d2d202407/core/nwb.image.yaml):

[code]

[2018-05-09 00:51] neurosutras opened #513 "Implementing a flexible ControlledVocabulary extension to label NWB data"
During the 2018 NWB Hackathon at LBNL, the Stanford/Soltesz Lab group looked into implementing an NWB extension that would allow users to specify a ControlledVocabulary as a container of Categories (lists of allowed labels).

https://neurodatawithoutborders.github.io/nwb_hackathons/HCK05_2018_Berkeley/projects/FilterReadByLabel/

This issue is a report of our findings and a placeholder for discuss

[2018-05-09 18:30] bendichter commented on #498
OK. @ajtritt is this possible using the python tools?

[2018-05-09 19:43] bendichter commented on #418
links to https://github.com/NeurodataWithoutBorders/nwb-schema/issues/60

[2018-05-09 19:50] bendichter opened #514 "doc for `PlaneSegmentation.add_roi` args are confusing"
the documentation says the following for PlaneSegmentation.add_roi says the following:

[code]

From the tutorial, this doesn't appear to be the case:
[code]

[2018-05-11 01:10] bendichter commented on #513
This is closely related to #15

[2018-05-18 18:28] oruebel commented on #389
See also #393

[2018-05-18 18:34] #315 closed, assigned to nicain

[2018-05-18 18:35] #312 closed, assigned to neuromusic

[2018-05-18 18:37] #293 closed, assigned to nobody

[2018-05-18 18:38] #290 closed, assigned to nobody

[2018-05-18 18:45] oruebel commented on #263
See http://pynwb.readthedocs.io/en/latest/pynwb.misc.html

[2018-05-21 07:38] #17 closed, assigned to nobody

[2018-05-21 17:54] t-b commented on #17
@nicain Do you know more about that?

[2018-05-21 18:12] oruebel commented on #17
@t-b I closed this issue, because it was an old ticket from early on in the project (even before we moved to GitHub). The legacy read support that @nicain added addressed this issue for the Allen data.

[2018-05-21 19:30] oruebel commented on #159
Closing. Was resolved in #160.

[2018-05-21 19:30] #159 closed, assigned to nobody

[2018-05-21 19:47] oruebel commented on #119
The FAQ page is available at https://neurodatawithoutborders.github.io/faq and there is also a getting started page here https://neurodatawithoutborders.github.io/gettingstarted . These pages are part of the https://github.com/NeurodataWithoutBorders/neurodatawithoutborders.github.io repo

[2018-05-21 19:47] #119 closed, assigned to neuromusic

[2018-05-21 19:49] oruebel commented on #81
Closing this issue. The tutorial on iterative data write is available at: http://pynwb.readthedocs.io/en/latest/tutorials/general/iterative_write.html#sphx-glr-tutorials-general-iterative-write-py

[2018-05-21 19:50] #81 closed, assigned to oruebel

[2018-05-21 19:55] oruebel commented on #162
Closing, this issue has been resolved in https://github.com/NeurodataWithoutBorders/pynwb/commit/5d44359c0c2ad6cbae7e329ba12181c0f4f91eb2 . See the ``__macros`` dict and ``docval_marcro`` function in ``pynwb/src/pynwb/form/utils.py``

[2018-05-21 19:55] #162 closed, assigned to nobody

[2018-05-21 19:58] oruebel commented on #31
Closing as this is an old issue and the backend does support this by now.

[2018-05-21 19:58] #31 closed, assigned to nobody

[2018-05-21 20:59] oruebel commented on #347
Closing. This enhancement was implemented in #400

[2018-05-21 20:59] #347 closed, assigned to umayaml, oruebel

[2018-05-21 21:00] oruebel commented on #275
@nicain can this issue be closed?

[2018-05-21 21:36] nicain commented on #275
Unfortunately not :)

[2018-05-21 21:59] oruebel opened #517 "Update extension docs to point to nwb-docutils"
## 1) Bug

The tutorial on creating extensions here

http://pynwb.readthedocs.io/en/latest/extensions.html#documenting-extensions

points to documentation tools in the nwb-schema repo. As these tools have moved to the [nwb-docutils](https://github.com/NeurodataWithoutBorders/nwb-docutils) repo the docs need to be updated accordingly.

## Checklist

- [X] Have you ensured the feature or change was

[2018-05-24 20:38] ajtritt commented on #498
Yes, see [NamespaceBuilder.include_type](http://pynwb.readthedocs.io/en/latest/pynwb.form.spec.write.html#pynwb.form.spec.write.NamespaceBuilder.include_type)

[2018-05-24 20:38] #498 closed, assigned to ajtritt

[2018-05-24 20:39] ajtritt commented on #445
Can you add a 1D array with a compound data type to at _data_ to TimeSeries?

[2018-05-24 20:56] #393 closed, assigned to ajtritt

[2018-05-24 20:57] ajtritt commented on #393
@AdamRTomkins `create_epoch` has changed. Please update your code to use the new method and let me know if you run into the same problem.

[2018-05-24 21:05] ajtritt commented on #389
@bendichter please update to the new `create_epoch` method call, and let me know if this problem still exists.

[2018-05-24 21:05] #389 closed, assigned to ajtritt

[2018-05-24 21:25] ajtritt commented on #384
@oruebel FYI, this is still causing an error:

[code]

[2018-05-24 23:19] #379 closed, assigned to ajtritt

[2018-05-26 13:19] bendichter opened #520 "trouble writing extensions with str type"
update:

[code]

error:
[code]

[2018-05-27 15:25] bendichter commented on #520
@ajtritt

[2018-05-27 15:50] #336 closed, assigned to bendichter

[2018-05-27 23:57] oruebel commented on #520
@bendichter try to change ``dtype='str'`` to ``dtype='text'``. I think ``str`` was removed when we cleaned up the specification language.

BTW, generally I would discourage using datasets to store single single strings and small fixed-size data in general. While it's perfectly Ok to it, in HDF5 Attributes are typically the better choice for this kind of small data.

[2018-05-28 01:20] bendichter commented on #520
Thanks!

On May 28, 2018 1:57 AM, "Oliver Ruebel" <notifications@github.com> wrote:

@bendichter <https://github.com/bendichter> try to change dtype='str' to
dtype='text'. I think str was removed when cleaned up the specification
language.

BTW, generally I would discourage using datasets to store single single
strings and small fixed-size data in general. While it's perfectly Ok to
it, in HDF5 At

[2018-05-28 11:01] bendichter commented on #520
changing to `'text'` didn't work.

[2018-05-28 11:07] bendichter opened #521 "NWBAttributeSpec dtype takes any string"
I looks like `NWBAttributeSpec` will accept any `str` as the dtype argument. `pynwb.spec.NWBAttributeSpec(name='my_name', dtype='sdfsd', doc='my doc')` should throw an error.

[2018-05-28 11:16] bendichter commented on #520
neither 'str' nor 'text' work for Datasets. For Attributes, both 'str' and 'text' work, as well as any other string, since there doesn't appear to be any checking of strings (#521)

[2018-05-29 18:24] oruebel commented on #520
`__get_type` in src/pynwb/form/build/map.py should be modified to check for scalars

[2018-05-29 21:33] bendichter opened #522 "get_class on extensions with nested groups"
I would like to write an extension with a group within a group and use `load_namespaces` to generate a class. When I do I get this error. I'm not sure how to do this so let me know if I am making an error in the code:

[code]

[code]

[2018-05-29 22:13] bendichter commented on #520
It appears from [the spec language docs on dtype](http://schema-language.readthedocs.io/en/latest/specification_language_description.html#dtype) that 'str' and 'text' and both acceptable

[2018-05-29 22:20] oruebel commented on #520
@bendichter the spec language docs are out of sync with PyNWB. I'm working on updating them right now.

The issue in your case is that the autogenerated classes don't recognize right now that``shape: null`` means scalar. To fix this ``__get_type`` in ``src/pynwb/form/build/map.py`` should be modified to check for scalars.

You could simply use ``test_type(str_type=['hello',])`` in your example as

[2018-05-29 23:53] ajtritt commented on #522
I think this is a problem with the constructor of the auto-generated class. It should be checking for a 'Group2' object rather than a list/tuple/dict/set

[2018-05-30 16:54] #521 closed, assigned to nobody

[2018-05-30 17:04] oruebel commented on #520
Just to update status on this. The following issues have been fixed:
* Validate dtype string when creating an Attribute/Dataset spec
* Updated specification language docs

The following items still require attention for this issue:
* ``__get_type`` in ``src/pynwb/form/build/map.py`` should be modified to check for scalars (i.e., attributes/datasets with shape: None)

[2018-05-31 14:56] #332 closed, assigned to oruebel

[2018-06-02 14:51] bendichter commented on #522
I think I may have narrowed it down to these lines:

https://github.com/NeurodataWithoutBorders/pynwb/blob/ffea9cc61c1a9bacd836266be62620d2199794a9/src/pynwb/form/build/map.py#L949-L954

I'm not sure what "name" is exactly. The name of the argument in the constructor? Then how could it be `None`? Maybe then it would default to the `neurodata_type_def` name?

[2018-06-05 18:07] oruebel commented on #283
@nicain https://github.com/NeurodataWithoutBorders/pynwb/pull/400 added the ``link_data`` flag to define the default behavior for how HDF5 datasets are treated on write, i.e., whether they should be linked to or copied. I.e., if you set ``link_data=False`` when calling ``HDF5IO.write()`` then the data should now be copied on write.

https://github.com/NeurodataWithoutBorders/pynwb/pull/400 also ex

[2018-06-05 18:07] #283 closed, assigned to oruebel

[2018-06-07 20:39] bendichter commented on #522
@ajtritt could you help me out here? What the logic behind these lines?

[2018-06-07 21:12] bendichter opened #527 "TwoPhotonSeries data warning"
TwoPhotonSeries should not throw warning`UserWarning: missing required attribute 'data' for 'object_name' warnings.warn("missing required attribute '%s' for '%s'" % (spec.name, builder.name))` when `format='external'`

[2018-06-07 21:25] bendichter opened #528 "ImageSeries dimension default arg"
The default value of `dimension` in `ImageSeries` in `[np.nan]`, however `dimension` is of type `int32`, so it gets saved as `-2147483648`. I suppose we could leave it like this, but it's a bit confusing. Maybe the default value should be `[-1]`?

[2018-06-08 17:21] oruebel commented on #443
The accompanying schema issue is here https://github.com/NeurodataWithoutBorders/nwb-schema/issues/166

[2018-06-12 14:52] bendichter opened #529 "get_class on arrays of text"
When an attibute is defined with `dtype='text'`, `get_class` always expects a `str`, even if `shape` is defined, e.g. `shape=(None,1)`. In that case it should take a list of strings.

[code]

runs without error, but if you replace the last line with:
[code]

[code]

[2018-06-12 16:36] bendichter opened #531 "how do I create custom classes for extensions?"
here's what I am trying:

[code]

I get this error:
[code]

what am I doing wrong?

[2018-06-12 17:17] ajtritt commented on #531
The constructor of TestObj is not setting `filler_data`. When you make the custom class, it's on you to set the fields.

[2018-06-13 11:53] bendichter commented on #531
ok so I just needed to add `self.filler_data = filler_data` to `__init__`

[2018-06-13 11:53] #531 closed, assigned to ajtritt

[2018-06-13 12:00] bendichter opened #533 "nwbfile.create_epoch timeseries arg"
If I input a list of `TimeSeries` objects as the `timeseries` arg of `nwb.create_epoch` and I look at the file with HDFView, the timeseries column says *unsupported*. Is this argument supposed to support a list of timeseries objects? An epoch rarely refers to a single timeseries. You'd use epochs to mark things like trials and experimental blocks, which apply to all of the synchronized TimeSeries

[2018-06-13 12:23] bendichter opened #534 "EpochTable vs EventTable"
What is the difference between an EpochTable and an EventTable? When would I use one vs the other?

[2018-06-13 12:38] bendichter commented on #534
It looks like EpochTable has a description field and EventTable does not? If that's the only distinction I don't really think that warrants two different classes.

[2018-06-13 12:50] bendichter opened #535 "argument `timeseries` of EpochTable takes type RegionSlicer"
https://github.com/NeurodataWithoutBorders/pynwb/blob/337d268178d89b070a241ad296edf929ac427bad/src/pynwb/epoch.py#L16

In all other cases, `electrical_series`, `spatial_series`, and `timeseries` arguments take the type of the same name. In this case, the `timeseries` argument expects a `RegionSlicer` object, which I think is confusing.

More broadly, if I want to create epochs, the most convenient

[2018-06-13 14:30] ajtritt commented on #535
Try Epochs.add_epoch

[2018-06-13 20:59] ajtritt commented on #533
The `timeseries` argument to [nwb.create_epoch](http://pynwb.readthedocs.io/en/latest/pynwb.file.html#pynwb.file.NWBFile.create_epoch) can take a list of TimeSeries object. Will that work?

[2018-06-18 16:40] ajtritt opened #537 "adding a new dependency breaks tests"
## Bug

I added a new dependency to requirements.txt, and it causes the CircleCI tests to break. The test suite runs fine, but the wheel test break.
See #536

[2018-06-18 16:59] dorukozturk commented on #537
@ajtritt Adding pandas to [here](https://github.com/NeurodataWithoutBorders/pynwb/blob/dev/setup.py#L27-L34) should do it. This is happening because during wheel installation we are not installing dependencies but we are just relying on dependencies declared in setup.py. (See [here](https://github.com/NeurodataWithoutBorders/pynwb/blob/dev/tox.ini#L70))

[2018-06-20 05:55] #433 closed, assigned to nicain

[2018-06-20 18:30] ajtritt commented on #537
Is there a solution that doesn't involve maintaining two lists of dependencies?

[2018-06-20 18:34] dorukozturk commented on #537
Some people parse requirements.txt from their setup.py but I think adding too much logic to the setup.py is not a good thing. Actually those 2 lists serve different purposes. [Here](https://caremad.io/posts/2013/07/setup-vs-requirement/) is a great article which talks about the differences and best practices.

[2018-06-22 21:12] bendichter opened #540 "method for TimeSeries: get_values"
I'd like a function for TimeSeries that gets me the data values that correspond to a specific start and end time. I'd like this to work whether the time is stored as starting_time and rate or as timestamps. Does this already exist?

[2018-06-22 21:47] ajtritt commented on #540
No, it doesn’t exist yet, but we’ve done a little work on internal infrastructure needed for doing this.

[2018-06-22 22:02] oruebel commented on #540
In addition to what Andrew mentioned. As a bit of a side-project, I started experimenting with how this might look in the special case of a TimeSeries on a branch but it's experimental at this point and I think the final solution will likely look different and will use some more of the general infrastructure that Andrew mentioned. I.e., I would not recommend to rely on what I'm describing next as

[2018-07-03 04:53] bendichter opened #541 "saving/loading cached spec"
Maybe I just don't know how to do it, but I am having trouble loading a cached spec in [this file](https://ucsf.box.com/s/po20z1x12rwqus5gl9vehe13ffjcbcjo).

I've tried:
[code]

and I get
[code]

But then if I define namespaces:
[code]

I get this error:
[code]

[2018-07-03 05:23] bendichter commented on #541
actually there may be an additional problem. nwbfile with cached spec constructed with the dev branch fail to read at all:

[code]

[code]

[2018-07-03 17:56] bendichter opened #542 "Have starting_time be 0.0 by default"
In my experience, the starting time of a `TimeSeries` is almost always `0.0`. Of course we should keep the flexibility to make it some other time if needed, but I think it's safe to assume if a user supplies a `rate` and no `timestamps` or `starting_time` that they mean `starting_time=0.0`. I propose that this be a default value for `TimeSeries` objects and all objects that inherit from `TimeSerie

[2018-07-03 20:37] oruebel commented on #542
I think this is something for the API side. The problem is that it is a conditional default, i.e, if you use rate instead of timestamps than the default for starting_time would be 0 otherwise it would be None. You could implement this logic in the __inti__ function of TimeSeries. I don't think we need to change the schema for this.

[2018-07-03 20:41] oruebel opened #543 "Issues with cutting a release"
## 2) Feature Request

We should make a release in order to get the new support for trials that was introduced in #536 accessible for end users. This will hopefully also help to address https://github.com/NeurodataWithoutBorders/nwb-schema/issues/174

@jcfr can you help with cutting the release?

## Checklist

- [X] Have you ensured the feature or change was not already [reported](https://github.c

[2018-07-03 21:07] bendichter commented on #543
not quite yet though. There's a bug #541 I think we should fix first

[2018-07-03 21:26] bendichter opened #544 "Calcium imaging tutorial causes seg fault in python2"
A segmentation fault occurs in my python2 env every time I try to call `io.write(nwbfile)` on an `nwbfile` that has an roi added with `PlaneSegmentation.add_roi()`. The [Calcium imaging tutorial](https://pynwb.readthedocs.io/en/latest/tutorials/domain/ophys.html#sphx-glr-tutorials-domain-ophys-py) is a pretty good minimal example. The code works just fine in python3. Can someone else try to replic

[2018-07-03 23:31] #535 closed, assigned to bendichter

[2018-07-04 00:46] #542 closed, assigned to bendichter

[2018-07-04 21:23] bendichter opened #546 "how to add an additional dynamic table"
I'd like to include data on sleep states. I want to use the same dynamic table structure that was used for trials. My code looks like this:

[code]

but I get the following error:

[code]

Is there a way for me to add an additional dynamic table to the file other than trials?

[2018-07-05 11:25] ageorgou opened #547 "Accessing /general/stimulus"
According to the [NWB schema](https://nwb-schema.readthedocs.io/en/latest/format.html#groups-general), there is a `stimulus` dataset in the `/general` group which optionally allows general descriptions of stimuli. However, I cannot see how to access this through the API. Setting it directly through the `stimulus` attribute of an `NWBFile`  (the same way as other datasets under `/general`, e.g. `ex

[2018-07-05 12:03] bendichter commented on #547
Try nwbfile.add_stimulus

[2018-07-05 12:41] ageorgou commented on #547
Thanks. This seems to be doing the same, i.e. adding a timeseries under `/stimulus`:

[code]

[2018-07-05 12:47] bendichter commented on #547
Oh I understand your issue now. Let me take a look

[2018-07-05 13:02] bendichter commented on #547
So the trickiness here is that there is a `/general/stimulus` as well as a `/stimulus`. If you use `nwbf.stimulus` or `nwbf.add_stimulus`, it is trying to add to `/stimulus`, which expects a `TimeSeries` and throws an error. It looks like the same will happen if you try to include a string as an arg to the `NWBFile` constructor. I don't see a way to set the field you want.

[2018-07-05 13:17] ageorgou commented on #547
Thanks for confirming @bendichter.

We are trying to see what metadata we should include in code that uses pyNWB, so I'm interested in people's views about this. Is this intended behaviour (perhaps `/stimulus` should be considered deprecated in NWB2)? Or is it something that should be addressed by the NWB schema, or by adding a new method to the API?

[2018-07-05 13:26] bendichter commented on #547
I think we should keep `/general/stimulus` because there might be descriptions of how the stimulus is presented that would go best there. It seems like this would be a pretty easy fix, we just need to decide how to change the API. Maybe we could call this "stimulus_description" instead to minimize confusion in the future

[2018-07-05 14:25] bendichter commented on #544
It's not you it's me

[2018-07-05 14:25] #544 closed, assigned to nicain

[2018-07-05 16:05] bendichter commented on #544
My python2 env had been using an hdf5 installation that was compiled for MPI. I think this may have caused the issue.

[2018-07-05 16:44] oruebel commented on #45
@ajtritt I think this issue is complete, but I wanted to confirm first that it can indeed be closed.

[2018-07-05 16:51] oruebel commented on #547
From what I can tell the issue is that ``/general/stimulus`` needs to be added to ``pynwb.file.NWBFile`` and we probably need to also update ``pynwb.io.file.NWBFileMap`` in this case to avoid name collision between ``/stimulus`` and ``/general/stimulus``.  I.e., this is an API issue not a schema issue.

[2018-07-05 17:07] ageorgou commented on #547
Thanks for the input @bendichter and @oruebel. Adding an extra field (with a different name) and udpating the mapping sounds like it'd solve the confusion. Does it make sense to work on a PR for that?

[2018-07-05 17:15] oruebel commented on #547
It looks like ``/general/data_collection`` is missing as well. I should have a PR ready to fix those items hopefully within the next 30min.

[2018-07-05 17:33] bendichter opened #549 "nwbfile.create_electrode_table_region length check"
`nwbfile.create_electrode_table_region` should check and make sure the indices provided do not exceed the length of the electrode table. The following script executes without an error, but it should throw an error because the table region goes to 6 and there are only 4 electrodes. Instead, the error is thrown during `io.write`, which makes it difficult to track down.

[code]

[2018-07-05 17:56] bendichter opened #550 "roi pixel mask shape"
The `pixel_mask` argument of `PlaneSegmentation.add_roi` is currently allowed to be (n, (x,y,v)) where n is the number of pixels, x and y are the coordinates of the pixel, and v is the value. If you try to make an roi that is 3D: (n, (x,y,z,v)), there will be an error during the `io.write` call. I would prefer if we allowed (n, (x,y,z,v)), since rois are sometimes defined in 3D and I think it will

[2018-07-05 18:25] oruebel commented on #547
#551 should fix the issue with the missing fields from ``/general``

[2018-07-05 18:39] oruebel commented on #546
I think there may be a bug. In the API DynamicTable inherits from NWBContainer

https://github.com/NeurodataWithoutBorders/pynwb/blob/9fe2e920e46bb641b05f2d25229094a7fd9edda5/src/pynwb/core.py#L749

whereas in the spec it inherits from NWBDataInterface:

https://github.com/NeurodataWithoutBorders/pynwb/blob/9fe2e920e46bb641b05f2d25229094a7fd9edda5/src/pynwb/data/nwb.base.yaml#L254-L255

I'm not 10

[2018-07-05 18:41] ageorgou commented on #547
Thanks @oruebel!

[2018-07-05 18:49] bendichter commented on #546
oh good catch! Let me give that a try

[2018-07-05 18:55] bendichter commented on #546
Yes that fixed the problem. Now I'm running tests to see if it broke anything

[2018-07-05 19:23] #546 closed, assigned to ajtritt

[2018-07-06 11:32] ageorgou opened #553 "Adding datasets to NWBFile through extensions"
This is a question rather than a bug report, so apologies in advance if it should be asked elsewhere.

I would like to store some additional information in an NWB file. In version 1.0 of the standard, we did this with custom datasets; from what I understand, in NWB v2.0 and pyNWB these have been removed in favour of extensions. My question is whether an extension can specify additions to the NWBFi

[2018-07-06 14:26] bendichter commented on #553
@ageorgou this is a good place to post your question and it's a good question. It looks like you got pretty far on your own. I've written extensions but never attempted to do exactly what you describe. I'll see if I can help.

We'd certainly welcome help with the documentation as well!

[2018-07-06 21:35] oruebel commented on #553
Could you post your full script for creating your extension and how you read/write the data. It's not clear to me how your extension integrates with the NWBFile schema. My guess is that when you do:

that this is just a "monkey patch" of the NWBFile object, i.e., you are simply creating a new attribute on the NWBFile object. Without having a place in the spec, ``nwbf.header`` won't map to an objec

[2018-07-09 02:28] bendichter commented on #522
@ajtritt where do you think I might start in debugging this?

[2018-07-09 10:26] ageorgou commented on #553
@oruebel Extending `NWBFile` itself was my first intention, but I couldn't find how -- as far as I can see, there is no `NWBFileSpec` (or `NWBContainerSpec`, etc), unless I'm missing something. Is it is possible to add fields to the schema directly? I thought this was not possible in pyNWB, but I may have misunderstood the extensions mechanism!

With NWB v1, this is what we were doing to add the e

[2018-07-09 10:52] ageorgou commented on #553
I've just come across the [Building API classes](http://pynwb.readthedocs.io/en/latest/building_api.html) which I may have missed before. That suggests that I'd need to:

1. define a subclass of `NWBFile` with appropriate `__nwbfields__`
2. define a new `ObjectMapper` (subclassing `NWBFileMap`) to handle the new field
3. register the map with the new subclass
4. register the new subclass with its

[2018-07-09 16:38] bendichter commented on #553
I think I'm struggling with the same issue. I do not know how to, for instance, write an extension to add an additional field to `Subject`. I know how to express this in YAML, but the problem occurs when I try to enter in this new data type into the `NWBFile` constructor. I cannot name my new subject class `Subject` because that would collide with `core.Subject` but the constructor requires that t

[2018-07-09 16:50] bendichter commented on #549
@oruebel warning or error here?

[2018-07-09 17:00] ageorgou commented on #553
@bendichter I imagine that it's not the name "Subject" that is checked, but whether the object has a compatible type. Here's my understanding of it, which maybe can help -- sorry if it's obvious:

Your new group must be declared to be extending `Subject`. I think this has to be done in two places:
- When writing the spec for it, using `neurodata_type_inc="Subject"`
- When loading the extension and

[2018-07-09 17:19] bendichter commented on #553
oh yeah, I think I got it! I have successfully written the nwb file. I'll post my script here in case any of it is helpful for you

[code]

[2018-07-09 17:41] ajtritt commented on #553
@ageorgou *NWBFile* is a neurodata_type, just like *NWBData*, *NWBContainer*, *TimeSeries*, etc, which means you can extend it in the same manner i.e. using the `neurodata_type_inc` argument.

After you create your new type *MyHeader*, you will need to extend *NWBFile* and add an instance of this new type.  Something like this:

[code]

From here, the options for creating the API class are as desc

[2018-07-09 18:15] ageorgou commented on #553
@bendichter Great, thanks for that, I see how I can do it now.

@ajtritt Thanks for clarifying that. The sticking point was not realising that `NWBGroupSpec` can be used to extend any `NWBContainer`, I thought it had to be a subclass of `NWBGroup` specifically. And yes, I hadn't managed to track down what gets passed to the `ObjectMapper` constructor and `map_spec`.

I will try this out tomorrow a

[2018-07-09 18:19] #547 closed, assigned to nobody

[2018-07-09 19:15] ajtritt opened #554 "Add support for 3D ROIs"
2) Feature Request

- [ ] Replace *manifold* with start coordinate + deltas
- [ ] Add ImagingRegion that supports 2D or 3D regions
- [ ] Add RegionSegmentation
        - can be a copy with PlaneSegmentation with ImagingRegion swapped for ImagingPlane
- [ ] add Pending deprecation to ImagingPlane and PlaneSegmentation
- [ ] add zero or more RegionSegmentation to ImageSegmentation
- [ ] Add 3 dimens

[2018-07-09 19:21] bendichter commented on #554
What's the purpose of having `ImageSegmentation` and `RegionSegmentation`? What if we just had ≥0 `ImageSegmentation` objects and did away with `RegionSegmentation`

[2018-07-09 19:22] bendichter commented on #554
also, are we including the idea that pixel mask is removed and rendered on the fly?

[2018-07-09 20:19] ajtritt commented on #554
For consistency with the current schema.

Lets keep pixel mask for now. We can add a function for autogenerating a pixel mask from an image mask to deal with the inconvenience.

[2018-07-09 21:36] bendichter opened #556 "writing to MultiContainerInterface extension results in orphaned container"
Am I doing this wrong? I may be doing this wrong. Here's the minimal example:

[code]

Using HDFView, there is no `elem`, and no `elem.data`. Same issue if I write the `Grouper` class myself.

[2018-07-10 12:53] ageorgou commented on #556
When I run this and open the file in HDFView (v. 2.14), I do see an `elem` inside the `group`, but it has no attributes. It seems that it is written as a soft link. Here is the output from `h5dump` (running `h5dump -g processing/module/group test_group.nwb`):

[code]

There are no other contents called `elem` in the file.

[2018-07-10 14:46] ageorgou commented on #553
@oruebel @ajtritt I'm running into some errors when extending `NWBFile`, but I think I've tracked down the reason. Here is a sample script, which doesn't do anything interesting (essentially just redefines `NWBFile`) but still causes a problem; for simplicity, I've put the `load_namespace` call in the same file as the spec definition:

[code]

The generated files look normal:
[code]

[code]

The e

[2018-07-10 16:54] ajtritt commented on #556
I see the same thing @ageorgou sees.

The autogenerated class *Grouper* is not making the *Elems* children (i.e. not setting parent), hence the OrphanContainerWarning. When the parent of a child (in our case None) does not match the container holding reference to said child, it is assumed to be an external child, so a link is set. In this case, a link is made to something that doesn't exist. The *

[2018-07-10 17:02] ajtritt commented on #556
The fix for this is to detect the inclusion of multiple *Elems* in *Grouper*, and set include `"child": True` in the `__nwbfields__` class attribute of the autogenerated class. You can see the note to myself to do this here:
https://github.com/NeurodataWithoutBorders/pynwb/blob/6d2cc9f8ed3ab1a67e2da2fb4fec77029aed2215/src/pynwb/form/build/map.py#L989

The "work around" would be to define your own

[2018-07-10 17:06] bendichter commented on #556
I get the same problem when I write the class myself modeling after LFP.
I'm not at my computer right now but I can give you that code later today

On Tue, Jul 10, 2018, 1:02 PM Andrew Tritt <notifications@github.com> wrote:

[2018-07-10 18:19] bendichter commented on #556
I was able to get it working by building my own class

[code]

I think the best approach here would be to correct `get_class` so it generates the class correctly. I know you prefer custom classes but in cases where it's a straightforward constructor I think the auto-generated classes make sense because that means the nwb file can be entirely self-contained, and no external python libraries need to

[2018-07-10 23:18] bendichter opened #558 "FilteredEphys error on read"
[code]

error:
[code]

if you take out `module_lfp.add_container(filt_ephys)` it runs as expected.

[2018-07-11 00:48] bendichter commented on #384
It looks like the "append" branch is now gone. What's the status of this?

[2018-07-12 21:28] bendichter commented on #558
@ajtritt I'm trying to fix this but could use some help figuring out what's causing the bug. What's a Proxy object in this context?

[2018-07-13 00:52] bendichter commented on #558
@ajtritt I've narrowed this down. The error occurs when I add 2 electrical_series objects to a processing module. If I add only one, no error. I believe this has to do with multiple links to the electrodes table.

This causes an error:
[code]

but if I change it to `for passband in ('theta',):`, no error

[2018-07-13 12:47] ageorgou opened #559 "Error when extending NWBFile"
This came out of #553. It seems that `load_namespaces` does not work if the namespace contains an extension of `NWBFile` (or, I am assuming, an extension of anything with pre-existing Groups).

I think this is because of how groups are registered during namespace loading. Looking at `SpecCatalog`, [`auto_register`](https://github.com/NeurodataWithoutBorders/pynwb/blob/dev/src/pynwb/form/spec/catal

[2018-07-14 15:29] afonsobspinto opened #560 "Programmatically find all the time series in any NWB file"
Hello everyone.
I've been using your API to develop my [GSoC project](https://summerofcode.withgoogle.com/projects/#6057925982814208) and one of my tasks was to find a way to programmatically find all the time series present in any NWB 2.x file.
I've tried to develop this as follows:
[code]
I believe this returns all the [TimeSeries objects](https://pynwb.readthedocs.io/en/latest/overview_nwbfile.

[2018-07-14 16:00] afonsobspinto opened #561 "Check existence of NWBDataInterfaces"
Hello everyone.
I'm designing a declarative way to specify requirements on an NWB 2.x file for a given plot.
The requirements are [NWBDataInterfaces](http://pynwb.readthedocs.io/en/latest/overview_nwbfile.html#processing-modules) provided by your API:
`  "requirements": ["DfOverT", "processing.<ProcessingModule>.DfOverF"]`
As you can see, they can be simple objects or a full path requirement.
My g

[2018-07-14 20:21] bendichter commented on #561
Hi @afonsobspinto, thanks for working on this stuff, and thanks for communicating what you are working on. I think this may overlap with the [validation module](https://pynwb.readthedocs.io/en/latest/validation.html). Check it out and see if that suits your needs.

[2018-07-14 20:23] bendichter commented on #560
Hi @afonsobspinto, thanks for working on this. I know @ajtritt has been working on query functionality that looks a lot like this, but it's not finished/supported/documented. He may be able to point you in the direction of these tools so you can use them for your own work. In the meantime, keep hacking away!

[2018-07-16 17:47] ajtritt commented on #560
hey @afonsobspinto, look at the __getitem__ implementation on LabelledDict. I apologize for the lack of documentation--as @bendichter said, it's not finished.

https://github.com/NeurodataWithoutBorders/pynwb/blob/6d2cc9f8ed3ab1a67e2da2fb4fec77029aed2215/src/pynwb/core.py#L43

[2018-07-17 10:49] jezekp commented on #560
@afonsobspinto.  Maybe The NWB query engine: https://github.com/jezekp/NwbQueryEngine could be useful too

[2018-07-17 15:35] afonsobspinto commented on #560
Thanks guys. I'll take a look. :+1:

[2018-07-17 15:45] afonsobspinto commented on #561
I had not thought of that. That seems very useful. Thanks @bendichter :+1:

[2018-07-18 17:44] #541 closed, assigned to ajtritt

[2018-07-19 19:15] oruebel commented on #543
@jcfr @dorukozturk could you help me out and cut a release for PyNWB today? Thanks

[2018-07-20 14:00] dorukozturk commented on #543
@oruebel We added step by step documentation on how to cut a release. It would be great if either you or @ajtritt exercises that. Keep me posted with any problems or confusion and I will clarify and help out. That way we can improve the documentation if something is confusing for a first time "releaser". Also having more developers who can cut a release is a good long term goal. We should also mak

[2018-07-22 18:47] afonsobspinto commented on #561
Hey @bendichter. Thanks for the quick reply. I took a look into it and if I understood correctly I should define an extension with the attributes I require and use the validation module to check if the nwb file meets them, correct?
But besides verifying if those fields exist I will also need to access them. What would you recommend for that?

[2018-07-22 20:04] mschachter opened #562 "stable version of pynwb breaks with most recent version of ruamel"
### Steps to Reproduce
[code]

### Steps to Fix
I had to downgrade ruamel from version 0.15.44 to 0.15.37. This kind of sucks for people who aren't expecting it. I installed pynwb from a conda environment.yml file that listed pynwb from the conda-forge channel. For some reason the explicit requirement of ruamel=0.15.37 was not taken into consideration when I created the conda environment.

### Env

[2018-07-22 22:33] mschachter opened #563 "builder 'images' does not have a data_type"
### Steps to Reproduce

I created an hdf5-based .nwb file. It has multi-electrode electrophys data in it, with both LFP and spike trains. I can't read the file I created. This is super depressing.

Download .nwb file from here (~820MB):

https://drive.google.com/file/d/1W0w-7VtHWXv9LEIlYw7meInxvF2sYpv0/view?usp=sharing

Run this code:

[code]

Get this error:

[code]

### Environment
Please descri

[2018-07-22 22:35] bendichter commented on #563
Can you try an earlier version of pynwb? I'll try to fix this but won't
have access for a few hours.

On Sun, Jul 22, 2018, 6:33 PM mschachter <notifications@github.com> wrote:

[2018-07-23 00:05] bendichter commented on #562
@mschachter Thank you very much for bringing this to our attention and for the thorough report. We want using `pynwb` to be easy, so we take these usability issues seriously.

It looks like the requirements.txt file correctly lists `ruamel=0.15.37`, but no version is specified in the [conda-forge upload](https://anaconda.org/conda-forge/pynwb/files) `info/recipe/meta.yaml`.

A `pip install pynwb`

[2018-07-23 00:11] bendichter commented on #563
Hey @mschachter I'm looking into this

[2018-07-23 00:21] bendichter commented on #563
@mschachter `pynwb` expects `/acquisition/images` and `/acquisition/timeseries` to have attributes and they don't. How did you create this file? Can you send me the script?

[2018-07-23 04:04] mschachter commented on #562
Thanks @bendichter! I'm not sure which yaml file is being parsed, all I have is the stack trace :)

[2018-07-23 04:13] mschachter commented on #563
Thanks again @bendichter it turns out I was doing some perverse things without knowing it. I was writing the files with python 2.7, an old version of pynwb, and reading them with python 3.6, with a newer version of pynwb. Now that I'm re-running the code that generates the nwb files with python 3.6, there are various keyword argument name changes that are throwing errors. I'm going to work through

[2018-07-23 04:26] mschachter commented on #563
I know this question is not quite related to the issue anymore - but I'm trying to use nwbfile.create_epoch, and it requires a timeseries as an argument. What if there are two electrode arrays, and as such, two timeseries objects that would correspond to an epoch? Should I aggregate the two electrode arrays into one ElectricalSeries object? Or should I have one epoch for each electrode array?

[2018-07-23 07:24] bendichter commented on #563
You can input a list of TimeSeries objects

On Mon, Jul 23, 2018, 12:26 AM mschachter <notifications@github.com> wrote:

[2018-07-24 01:43] mschachter commented on #563
Ok, I'm using the latest from github now, instead of 0.3.0. It fixes many problems I'm having. There are some new problems that I will post in another issue. Basically, this issue arose because I created an .nwb file in January, and a change in NWB between then and the 0.3.0 release broke backwards readability. I'm not sure if that was intentional or not, but regardless I'm moving foward! Any idea

[2018-07-24 01:43] #563 closed, assigned to nobody

[2018-07-24 01:45] bendichter commented on #563
Glad to hear you're moving forward and happy to help with the process! I agree we could use more frequent pynwb releases on pypi but no news when the next one will occur.

[2018-07-24 14:46] t-b opened #564 "Add method to attach the simulus/protocol name to PatchClampSeries"
### Problem

The NWB schema documentation does currently not provide a way to attach the stimulus/protocol name to a PatchClampSeries.

Some existing users of NWBv1, e.g. http://celltypes.brain-map.org/experiment/electrophysiology/474626527, use a text dataset named `aibs_stimulus_description` to store that name. This dataset is labeled as `neurodata_type = Custom` in order to keep the NWB files s

[2018-07-24 17:09] ajtritt commented on #564
@t-b A couple questions/comments... I'm just trying to understand what the need is.

1) What information are you trying to store? It sounds like the group name is okay as a unique identifier, but there is other information you want to store. What do you mean by "stimulus/protocol name"?
2) Since *PatchClampSeries* is a *TimeSeries*, it already has a *description* field. Could you store it here?

[2018-07-24 21:02] ajtritt opened #565 "wheel test failing"
## 1) Bug

ruamel chokes when importing pynwb installed from a wheel, but test suite runs fine.

https://circleci.com/gh/NeurodataWithoutBorders/pynwb/5534

## Checklist

- [ ] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues/) ?
- [ ] Have you included a brief and descriptive title?
- [ ] Have you included a clear descriptio

[2018-07-24 23:38] bendichter commented on #565
I suspect it's requirements.txt vs setup.py

On Tue, Jul 24, 2018, 5:02 PM Andrew Tritt <notifications@github.com> wrote:

[2018-07-25 18:50] bendichter opened #566 "creating custom MultiContainerInterface extensions"
I'm trying to make my own multicontainerinterfaces but I am finding that when I try to use them they are empty.

Here's the minimal code:

[code]

Here's the HDFView. Notice, no `'potato1'`:
![image](https://user-images.githubusercontent.com/844306/43221142-f7e4c524-9019-11e8-8834-470246a9447b.png)

Am I missing something?

[2018-07-25 19:13] ajtritt commented on #566
Your new types are not actually NWBDataInterfaces, so the autogenerated class stuff breaks down.
Add `neurodata_type_inc=NWBDataInterface` the *PotatoSack* spec

[2018-07-25 19:28] bendichter commented on #566
@ajtritt thanks for looking into this. I don't think that fixed it. I'm assuming you mean `neurodata_type_inc='NWBDataInterface'`.

[code]

same result.

[2018-07-25 21:04] bendichter commented on #562
The issue appears to be in `nwb.behavior.yaml`, `nwb.ecephys.yaml`, and `nwb.ophys.yaml`. If those are removed from namespace it resolves this error (and creates others due to now missing classes).

[2018-07-25 22:28] #565 closed, assigned to jcfr, dorukozturk

[2018-07-26 18:23] bendichter commented on #543
@dorukozturk or @jcfr I'm trying to follow the direction to cut a release. Can you please add documentation for how to get an API associated with nwb-bot?

https://github.com/NeurodataWithoutBorders/pynwb/blob/dev/docs/source/make_a_release.rst#prerequisites

[2018-07-26 18:32] jcfr commented on #543
I just sent you an encrypted email with the token. Note that the link to decrypt and access the message will expire in one hour.

[2018-07-26 19:36] bendichter commented on #543
[code]

error:
[code]

[2018-07-26 19:42] jcfr commented on #543
This would work:

Git clone git://github.com/NeurodataWithoutBorders/pynwb && cd pynwb

Then.

pushURL=https://$GITHUB_TOKEN@github.com/NeurodataWithoutBorders/pynwb

git config --add remote.origin.pushURL $pushURL

On Thu, Jul 26, 2018, 3:36 PM Ben Dichter <notifications@github.com> wrote:

[2018-07-26 19:47] bendichter commented on #543
`mkvirtualenv: command not found`

[2018-07-26 20:16] jcfr commented on #543
If you don't have virtualenv wrapper, you could do:

python -m venv /temp/venv
. /temp/venv/bin/activate

On Thu, Jul 26, 2018, 3:47 PM Ben Dichter <notifications@github.com> wrote:

[2018-07-26 20:20] bendichter commented on #543
`python -m venv /temp/venv`
error:`Error: [Errno 13] Permission denied: '/temp'`

also

`sudo python -m venv /temp/venv`
error:`Error: Command '['/temp/venv/bin/python', '-Im', 'ensurepip', '--upgrade', '--default-pip']' returned non-zero exit status 1.`

[2018-07-26 20:43] jcfr commented on #543
Choose a folder in your home directory then

On Thu, Jul 26, 2018, 4:20 PM Ben Dichter <notifications@github.com> wrote:

[2018-07-26 20:47] bendichter commented on #543
I end up with the other error:
`Error: Command '['/Users/bendichter/tmp/bin/python', '-Im', 'ensurepip', '--upgrade', '--default-pip']' returned non-zero exit status 1.`

[2018-07-26 20:57] jcfr commented on #543
Here is what I do on macOS using the default python version available on the system:

Make sure you use python 3.x

[code]

[2018-07-26 20:58] bendichter commented on #543
[code]

[2018-07-26 21:06] bendichter commented on #543
When I want to create a virtual environment I use `conda create`. I've also used `virtualenv`, but I guess `venv` is different and doesn't come with anaconda? Would it be OK if I used `conda create` instead?

[2018-07-26 21:16] jcfr commented on #543
venv comes with python3

virtualenv is available in both python 2 and python 3

Using conda, you could then do the following:

[code]

or you could do

[code]

and then

[code]
We do something similar in the CI: https://github.com/NeurodataWithoutBorders/pynwb/blob/dev/.circleci/config.yml#L63-L72

[2018-07-26 21:20] bendichter commented on #543
I think you missed `source activate pynwb-release`

[2018-07-26 21:25] bendichter commented on #543
[code]

tests passed. New error though:

[code]

I guess I need a py35 environment that tox can see? How do I set that up?

[2018-07-26 21:35] jcfr commented on #543
I suggest we streamline the process and have the wheel automatically uploaded on PyPI when a tag is pushed.

This discussion demonstrate that it is hard to have the right environment working locally.

[2018-07-26 21:36] bendichter commented on #543
that sounds fine to me

[2018-07-26 21:37] bendichter commented on #543
but I think I'm almost there? How would I install python35? Could I just create a new conda env for it?

[2018-07-26 21:56] jcfr commented on #543
I am not very familiar with conda, since I don't think you can install multiple python into the same conda env, you would have to create one conda env per version of python.

This is overkill here ... since we know the test pass on the CI

Assuming you:
* already **created the tag**,
* activated a python env (e.g pynwb-release)
instead, you could simply do this:

[code]

then

[code]

-> in your c

[2018-07-26 22:08] bendichter commented on #543
[code]

edit: resolved with `conda install unittest2`, but maybe that should be added to `requirements-dev.txt`?

[2018-07-26 22:16] jcfr commented on #543
It is already there:

https://github.com/NeurodataWithoutBorders/pynwb/blob/17fc799529b14c3bad5f0e0188c37743b678bc4f/requirements-dev.txt#L19

If you following the instruction above, it should install it. I suggest you use pip and not conda to install the dependency:

[code]

then

[code]

[2018-07-26 22:18] bendichter commented on #543
yeah I ran those lines.. not sure why unittest2 was missed

[2018-07-26 22:24] bendichter commented on #543
did you mean `pypitest` or `pypi`?

[2018-07-26 22:27] jcfr commented on #543
Try pypitest first, to see how the package look. Then, if it looks good .. upload to the regular pypi

[2018-07-26 22:31] bendichter commented on #543
HTTPError: 403 Client Error: The user 'bendichter' isn't allowed to upload to project 'pynwb'. See https://test.pypi.org/help/#project-name for more information. for url: https://test.pypi.org/legacy/

[2018-07-26 22:35] jcfr commented on #543
@ajtritt Could you add ben as a maintainer of pynwb on both test.pypi.org and pypi.org ?

As a owner, you are the only one who can grant us more power or add ben directly

![image](https://user-images.githubusercontent.com/219043/43292271-8b3aa74c-9102-11e8-8360-6a681fd8cd3f.png)

![image](https://user-images.githubusercontent.com/219043/43292300-a7b91e62-9102-11e8-8602-6cde86d96787.png)

[2018-07-27 00:22] jcfr commented on #543
Okay, I revised the release process so that pushing a tag of the form `X.Y.Z` is the only things required to have release published.

Currently being tested with https://github.com/NeurodataWithoutBorders/pynwb/commits/dev-test

If works as expected, anyone with push access should be able to create a new release.

[2018-07-27 00:27] mschachter opened #568 "AttributeError: 'Proxy' object has no attribute 'name'"
### Steps to Reproduce
There's code to produce the .nwb file at the bottom of this report, but you can download a sample file (~450k) from here:

https://drive.google.com/file/d/1_D6noYK2nBK3tP7rEHvkyHE-7s53UX_M/view?usp=sharing

Here's the code you need to run to reproduce the error:

    nwb_file = os.path.join('/tmp/bird_Site1.nwb')
    io = NWBHDF5IO(nwb_file, mode='r')
    nwb = _io.read()

[

[2018-07-27 00:30] jcfr commented on #543
When changes will be pushed to `dev` (currently `dev-test` for testing purpose), we will have the following workflow:

![image](https://user-images.githubusercontent.com/219043/43295418-bc092b40-9112-11e8-9b1e-f9e2973c582b.png)

[2018-07-27 01:10] jcfr opened #569 "pypi package: Fix rendering of project description"
See https://test.pypi.org/project/pynwb/ for result of test upload. It is version 0.0.1 only for test purpose

![image](https://user-images.githubusercontent.com/219043/43296260-59d1d6ec-9118-11e8-9ebe-b822637aa83e.png)

[2018-07-27 01:12] jcfr commented on #543
The (test) release process works great:

It allowed me to catch an issue with rendering of the description: #569

![image](https://user-images.githubusercontent.com/219043/43296199-f68a1af4-9117-11e8-91f8-04ea6acb3d27.png)

![image](https://user-images.githubusercontent.com/219043/43296209-04d79078-9118-11e8-9ef3-febe6fa33db2.png)

![image](https://user-images.githubusercontent.com/219043/43296224

[2018-07-27 01:12] jcfr commented on #543
There is still one issue with the upload of packages to GitHub when merged to master. Addressing this now, then we should be all set.

[2018-07-27 01:25] bendichter commented on #568
yes I can reproduce the bug. Let me dig into it a little

[2018-07-27 01:56] bendichter commented on #568
do you think you could whittle this down to a minimal example that has the same error? Here's a start:

[code]

[2018-07-27 02:22] ajtritt commented on #543
@bendichter is now a pynwb maintainer on pypi.org. I don't own or even see pynwb on test.pypi.org

[2018-07-27 02:28] jcfr commented on #543
:+1:

It is here: https://test.pypi.org/manage/project/pynwb

I just added @dorukozturk  and @bendichter

It looks like you do not have an account on test.pypi.org

[2018-07-27 03:48] mschachter commented on #568
Sure thing @bendichter ! In this simplified example, adding the SpikeEventSeries using nf.add_acquisition is what makes the hdf5 based nwb file unreadable:

[code]

[2018-07-27 06:07] jcfr commented on #569
In fact, I was looking at the wrong package ... during my test I uploaded `0.0.1` which is listed earlier that `0.2.0`.

I was looking at `0.2.0` which was uploaded as a test back in Nov 2017 ...

The description associated with my recent test upload looks great

[2018-07-27 06:07] #569 closed, assigned to jcfr

[2018-07-29 16:00] mschachter commented on #568
In the code that throws the error, it is calling the BuildManager.__get_proxy_container function, trying to find the 'name' attribute of an NWBFile container (container is the argument to that function), and that object does not have a property called 'name'. When I print out the container object, it looks like this:

{'source': '/tmp/bird_Site1.nwb', 'location': 'root', 'namespace': 'core', 'data

[2018-07-30 13:48] bendichter commented on #568
@mschachter Thanks for the detective work. It looks like the object that's causing a problem is the `NWBFile` dtype, the dtype that is the parent group for all the other types. That's odd, I'm still not sure what could be causing it. The smaller you can get that code while still getting the same error, the easier it will be for us to figure out what's causing the error and fix it.

Also here's a t

[2018-07-30 14:58] bendichter commented on #543
@jcfr

[code]

`release` is not defined in the conda setup guide. I think `$ release=X.Y.Z` should be moved outside of the pypi guide since it applies to both pypi and conda

[2018-07-30 15:00] bendichter commented on #543
@jcfr also, I get this error in conda step 3:

[code]

[2018-07-30 15:04] dorukozturk commented on #543
@bendichter You have to specify a release varialbe
[code]
so that release is available in your terminal.

As a check you can do
[code]

[2018-07-30 15:12] bendichter commented on #543
@dorukozturk yes but the instructions do not tell me to do that so they should be adjusted. Once I set that variable I get an error on the next line as well

[2018-07-30 15:56] dorukozturk commented on #543
Oh ok I see. While we were doing the release we did tye pypi and conda one after another. That explains why the variable release was defined in my case. I am checking the steps now and I will add the missing step.

[2018-07-30 16:44] dorukozturk commented on #543
@bendichter I tried to clarify some steps in the docs. https://github.com/NeurodataWithoutBorders/pynwb/pull/572. Please take a look and let me know if you have any trouble following.

[2018-07-30 16:50] bendichter commented on #543
[code]

[2018-07-30 16:51] bendichter commented on #543
ok working on it...

[2018-07-30 16:54] bendichter commented on #543
[code]

I think you still need to do steps 5 and 6 from Pypi

[2018-07-30 16:57] dorukozturk commented on #543
That is happening because release 0.4.0 is not published. Once you follow the PyPI: Step-by-step section in the docs and actually release pynwb 0.4.0 on pypi and github, 0.4.0 will be available [here](https://github.com/NeurodataWithoutBorders/pynwb/releases) and [here](https://pypi.org/project/pynwb/#history) that the rest will work. :)

[2018-07-30 17:00] bendichter commented on #543
Yes, but the instructions need to be corrected

[2018-07-30 17:02] ajtritt commented on #566
A few things:

1) *Potato* should have a *neurodata_type_inc* -- either *NWBContainer* or *NWBDataInterface*. I don't think this contributed anything to this problem, but you should always do this to avoid other problems.

2) The default ObjectMapper will look for *Potato* objects under *PotatoSack.**potatos*** not *PotatoSack.potato*. This is actually the cause of the problem.
    - There was no

[2018-07-30 17:15] bendichter commented on #566
It works!

[code]

The changes I made were:

[code]

[code]

[code]

[2018-07-30 17:15] #566 closed, assigned to bendichter

[2018-07-30 17:15] bendichter commented on #566
It works!

[code]

The changes I made were:

[code]

[code]

[code]

[2018-07-30 17:19] bendichter commented on #566
It works!

[code]

The changes I made were:

[code]

[code]

[code]

[2018-07-30 17:41] ajtritt commented on #566
For your reference, you can forgo
[code]
This part will do that for you:
[code]

[2018-07-30 17:43] ajtritt commented on #568
A work-around here is to create another *ElectrodeTableRegion* i.e. don't reuse `etable`. (This workaround applies to #558 )

I haven't figured out exactly why that causes the problem, but since *ElectrodeTableRegion* is a neurodata_type, it will be linked to by the *SpikeEventSeries*.  *Proxy* objects are created for appropriate link resolution. I suspect this problem is caused by an edge case I

[2018-07-30 17:45] bendichter commented on #566
OK good to know, thanks!

On Mon, Jul 30, 2018 at 1:41 PM Andrew Tritt <notifications@github.com>
wrote:

--
----------
Ben Dichter, PhD
Data Science Consultant

[2018-07-30 17:46] bendichter commented on #568
@ajtritt thanks for looking into this, that sounds like a pretty reasonable work-around for now

[2018-07-30 18:28] dorukozturk commented on #543
@bendichter I added a warning as part of the [pr](https://github.com/NeurodataWithoutBorders/pynwb/blob/f83a3afb03c8a2dd181ad645e47c74414d4b1b68/docs/source/make_a_release.rst). Is this clear enough or should we reword it?

[2018-07-30 21:17] #443 closed, assigned to t-b

[2018-07-30 21:33] bendichter commented on #559
@ageorgou thanks for the report. This will indeed be an issue whenever we need to extend a datatype that contains other datatypes.

Does anyone have ideas for the best way to deal with this?

[2018-07-30 22:08] #549 closed, assigned to nobody

[2018-07-30 22:09] bendichter commented on #540
analogous to https://github.com/NeurodataWithoutBorders/matnwb/pull/52

[2018-07-30 22:13] bendichter commented on #505
does https://github.com/NeurodataWithoutBorders/pynwb/pull/574 qualify?

[2018-07-30 22:15] bendichter commented on #14
@ajtritt close?

[2018-07-30 23:28] #562 closed, assigned to nobody

[2018-07-31 00:35] mschachter commented on #568
Thanks @bendichter for the tip! Thanks also @ajtritt , your suggestion to create a new electrode table for the spikes works. If what I was doing was an edge case, then it doesn't bother me much to just create a separate electrode table for the spikes.

[2018-07-31 00:35] #568 closed, assigned to nobody

[2018-07-31 01:04] #558 closed, assigned to nobody

[2018-07-31 01:25] bendichter commented on #568
@mschachter Andrew fixed this today and I just pushed it up to pypi :-)

[2018-07-31 11:23] t-b commented on #412
@bendichter Have you already started working on that? If not I'd volunteer to handle it.

[2018-07-31 11:26] t-b commented on #412
create_ic_electrode should then also accept a Device object.

[2018-07-31 13:59] bendichter commented on #412
I have not, please go ahead

[2018-07-31 14:10] bendichter commented on #412
@t-b I've been slow to fix these types of issues that cause schema changes because I'm not sure the best practice for breaking schema backwards compatibility. I'm dealing with this on another issue and I'm curious what your thoughts are. This change will break `read` for all previously saved ophys and icephys datasets. Do you think there should be a special way we announce this change? Should we k

[2018-07-31 14:13] bendichter commented on #412
Changes will need to be made to:

* schema yaml files
* container classes
* unit and integration tests
* test nwb files that are read during tests

[2018-07-31 14:55] t-b commented on #412
@bendichter

Thanks for getting back so quickly.

Yes we should mention that in the release notes of the schema and pynwb.

As we are still in the beta phase, from what I understand, we can break the compatibility any time.  So I would not add any support for reading the existing files. Would be nice to get more opinions, or even definite answers, here though.

[2018-07-31 15:06] t-b commented on #497
@tjd2002 Sounds like a good idea. #379 is already closed, so we can just flip the bit I guess.

[2018-07-31 15:20] t-b commented on #564
@ajtritt Don't hestitate to ask!

In intracellular elektrophysiology (I'm not a scientist though):
The protocol/stimset name is the name of the dataset used for stimulating the cell. This ranges from "Short Square" to "Ramp" or someting similiar.

Yes of course. But I would need to use some custom serialization, e.g. JSON, in case I want to store multiple additional entries. And with BASE64 encodi

[2018-07-31 16:11] jeffteeters commented on #564
@t-b I wonder if the abstractfeatureseries might help for this?
https://nwb-schema.readthedocs.io/en/latest/format.html#abstractfeatureseries
The abstractfeatureseries is a time series that specifies values of stimulus features over time.  The values of the features are stored in the "data" dataset of the timeseries.
Perhaps one of the columns in the "data" dataset (values of one of the features)

[2018-07-31 19:16] t-b commented on #488
@ajtritt @jcfr How would one start tackling that issue?

[2018-08-01 02:29] mschachter commented on #568
Thanks again  @bendichter  and @ajtritt , I can confirm that the latest version of pynwb on pypi fixes the ruamel issue and the proxy name issue.

[2018-08-01 10:02] lungsi opened #579 "pynwb.base.TimeSeries.starting_time & rate does not return the floats given in the argument"
## 1) Bug
I am able to create a TimeSeries object but while checking if the object was what I intended to create I noticed something weird.
If `ts = TimeSeries (...)` (as shown below), I can get the exact **float** values I gave in the argument for `ts.resolution` and `ts.conversion`.
But for `ts.starting_time` and `ts.rate`, they do not return floats instead they return **None**; which is the pyn

[2018-08-01 11:02] bendichter commented on #579
This is because you either enter timestamps or rate+starting_time, not all three. We should catch this and raise an error.

[2018-08-01 12:23] t-b commented on #564
@jeffteeters Thanks for the hint.
AbstractFeatureSeries sound interesting. Especially as you can store text well. But the main problem persists:

as this uses description in exactly the way I want to avoid.

[2018-08-04 18:50] jayrbolton commented on #550
Hi @bendichter, here is my reproduction of this problem (I think the add_roi func signature has changed recently): https://gist.github.com/jayrbolton/682c984f3f55255d11115f91fde37486. All boilerplate stuff until line 30. Throws an error only on `io.write` as you describe.

I'm assuming the spec here would need to change to support 3d: https://github.com/NeurodataWithoutBorders/nwb-schema/blob/dev/

[2018-08-04 19:41] #517 closed, assigned to jcfr, bendichter, oruebel

[2018-08-05 00:41] bendichter commented on #550
Yes @jayrbolton, it's being discussed here: #554. It would be great to have your input

[2018-08-06 20:37] bendichter opened #584 "MacOS build test failing"
## Bug

[MacOS badge on README](https://travis-ci.org/NeurodataWithoutBorders/pynwb/jobs/412157348) marks build as failing. It looks like it can't find `tox`? I think it's a problem with the server or test setup rather than `pynwb`. I'm out of my depth. Kitware people?

[2018-08-06 20:46] #449 closed, assigned to nobody

[2018-08-07 16:02] #584 closed, assigned to jcfr, dorukozturk

[2018-08-07 19:54] #412 closed, assigned to bendichter

[2018-08-07 21:00] #579 closed, assigned to nobody

[2018-08-08 14:26] bendichter opened #588 "The potato problem: pluralizing words in MultiContainerInterfaces"
`MultiContainerInterface` attempts to pluralize the term for the objects it contains, however it does not always do this correctly. As a result, a user must use the incorrect pluralization of some words in order to get a `MultiContainerInterface` extension to work. See [extensions tutorial](https://pynwb.readthedocs.io/en/latest/tutorials/general/extensions.html#creating-and-using-a-custom-multico

[2018-08-08 15:16] ajtritt commented on #588
This is actually behavior of `ObjectMapper`. The class method is here:
https://github.com/NeurodataWithoutBorders/pynwb/blob/a4fc53d80010075fc33623a8ede2fee99bf9c612/src/pynwb/form/build/map.py#L385

This change seems reasonable. My only request is existing classes that depend on this behavior do not change relevant attribute names to accommodate the change in the default behavior of `ObjectMapper

[2018-08-08 15:26] #528 closed, assigned to nobody

[2018-08-08 19:25] bendichter commented on #588
@ajtritt Could you please add comments to describe the intended transform of the name here? https://github.com/NeurodataWithoutBorders/pynwb/blob/a4fc53d80010075fc33623a8ede2fee99bf9c612/src/pynwb/form/build/map.py#L394-L395
I'm not up on my regular expressions syntax.

[2018-08-08 19:42] t-b commented on #588
@bendichter You can feed it into https://regex101.com/ as well.

[2018-08-08 20:52] bendichter commented on #588
@t-b Thanks that's very helpful

[2018-08-09 01:48] bendichter opened #589 "Extending Subject with a group results in Orphaned Group"
## Bug

### Steps to Reproduce
[code]

[code]

## Checklist

- [x] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues/) ?
- [x] Have you included a brief and descriptive title?
- [x] Have you included a clear description of the problem you are trying to solve?
- [x] Have you included a minimal code snippet that reproduces the i

[2018-08-09 05:22] ajtritt commented on #588
@bendichter that converts camel case to underscored eg TimeSeries to time_series

[2018-08-13 12:52] ageorgou commented on #559
@bendichter Thanks for the reply. It seems to me that checking whether the groups are inherited or not (as is done with datasets) would solve this, but I haven't tried it yet. I wanted to wait and see whether I'm missing something. Happy to try, though, and, if it works, submit a PR fixing it that way.

[2018-08-13 17:03] bendichter commented on #559
@ageorgou I don't know much about the design decisions for the extensions library, but it sounds like your proposed solution is worth a shot.

[2018-08-15 00:57] ajtritt commented on #559
As long as “inherited” is defined as a data_type that came from a nested type definition eg Device, and the containing type eg NWBFile matches appropriately, I think this should be fine. At a high level, this just means not registering nested definitions for extensions of included types.

[2018-08-16 20:20] bendichter opened #591 "miniconda36 build error: cannot find setuptools"
error:

[code]

[link](https://circleci.com/gh/NeurodataWithoutBorders/pynwb/7139?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link)

[2018-08-16 20:30] bendichter commented on #591
#590

[2018-08-17 02:42] bendichter opened #592 "IntervalSeries.data.conversion is stored as 'NaN'"
IntervalSeries.conversion returns `conversion = 1.0` before and after read:

[code]

[code]

However the data is actually stored as `'NaN'` (the string `'NaN'`, not a NaN float value):
[code]
[code]

This is causing issues for matnwb, which expects this value to follow the schema, which defines it to be a float. Is there a reason why it's stored this way?

[2018-08-17 02:51] bendichter commented on #592
There's also a discrepancy between the schema and pynwb.

The pynwb API accepts `float` or `str` for `conversion`:
https://pynwb.readthedocs.io/en/latest/pynwb.base.html#pynwb.base.TimeSeries

However the NWB schema only accepts `float`:
https://github.com/NeurodataWithoutBorders/pynwb/blob/631f6db9cf7fa1eda951094108c435bae7b2027b/src/pynwb/data/nwb.base.yaml#L113-L114

[2018-08-20 17:19] ajtritt opened #594 "add support for generic numeric dtype"
### Problem/Use Case
There is no way to specify numeric data types as either floating point or integer types i.e. users must specify one or the other. In 1.x, this was accomplished with `dtype: number`, but this has since been dropped.

HDF5IO needs to be updated to except `number`, and more generally, how to handle generic dtypes.  This should start somewhere around here:

https://github.com/Neur

[2018-08-20 20:36] #45 closed, assigned to nobody

[2018-08-20 20:37] #146 closed, assigned to nobody

[2018-08-20 20:38] #306 closed, assigned to ajtritt

[2018-08-20 20:39] #148 closed, assigned to nobody

[2018-08-20 20:45] #289 closed, assigned to ajtritt

[2018-08-20 20:46] #117 closed, assigned to nobody

[2018-08-20 20:48] #152 closed, assigned to nobody

[2018-08-20 20:49] #54 closed, assigned to nobody

[2018-08-20 20:51] #327 closed, assigned to ajtritt

[2018-08-20 23:20] #512 closed, assigned to nobody

[2018-08-22 17:07] ajtritt commented on #589
Change the following on line 36
[code]

to
[code]

[2018-08-22 17:07] #589 closed, assigned to ajtritt

[2018-08-22 18:37] bendichter commented on #589
@ajtritt thanks for this. I think I'm going to add some documentation about this. So to be clear, is it the case that you need to do this for any `NWBGroupSpec` that is within another `NWBGroupSpec`?

[2018-08-23 18:45] bendichter commented on #522
@ajtritt I ran into this bug again. It would be great if `get_class` worked in this role or at least passed a message the manual creating is necessary for nested groups.

[2018-08-23 19:04] bendichter commented on #522
here's a solution I've been working on:

[code]

[2018-08-23 20:39] ajtritt commented on #589
Almost... any NWBGroupSpec that has a *neurodata_type_def* or *neurodata_type_inc*.

The reason for this is to distinguish between subcontainers "owned" by a container and subcontainers linked to by a container. A subgroup that has no neurodata_type is treated as just another field/attribute of the container.

[2018-08-23 21:08] ajtritt commented on #522
Can you move this to a Gist or put this in a form that I can comment on?

[2018-08-23 23:05] bendichter commented on #522
yeah no problem

[2018-08-23 23:06] bendichter commented on #589
@ajtritt Can you give me a counterexample?

[2018-08-23 23:22] bendichter commented on #522
https://gist.github.com/bendichter/badc2158a053abb059258b8e7049556d

[2018-08-24 20:50] ajtritt commented on #589
For example, /acquisition is not a child of NWBFile. The TimeSeries defined in /acquisition/timeseries are children of NWBFile.

[2018-08-24 22:41] #268 closed, assigned to oruebel

[2018-08-27 15:32] #591 closed, assigned to jcfr, waxlamp, dorukozturk

[2018-08-28 18:10] ajtritt commented on #335
@bendichter this is expected behavior. Groups and Datasets need a name or a neurodata_type to be fit into framework.

Closing for now. If you reopen, please move it to Milestone "NWB 2.x" or "Future"

[2018-08-28 19:10] bendichter opened #602 "cannot input list of different lengths in DynamicTable"
error on `write`

[code]

[code]
### Environment
Please describe your environment according to the following bullet points.
- **Python Executable:** Conda or Python
- **Python Version:** Python 2.7 or Python 3.6
- **Operating System:** Windows, macOS or Linux
- **Pynwb Version:** Version of Pynwb used

## Checklist

- [x] Have you ensured the feature or change was not already [reported](https://gi

[2018-08-28 19:42] bendichter commented on #335
@ajtritt Then the bug is that the documentation is incorrect: https://pynwb.readthedocs.io/en/latest/extensions.html#using-datasets-to-specify-tables

[2018-08-28 20:59] #564 closed, assigned to nobody

[2018-08-28 21:40] #527 closed, assigned to nobody

[2018-08-30 01:39] bendichter commented on #384
@ajtritt

I was visiting the Bouchard lab today and this issue came up. Do you have any ideas for how this might be done? Perhaps a solution to put `container` into the `my_mod` group of  `'test_append.nwb'` might look like this:

[code]

[2018-09-05 23:30] bendichter opened #604 "Units unable to be read in matnwb"
https://github.com/NeurodataWithoutBorders/matnwb/issues/58#issuecomment-418893811

[2018-09-10 03:38] JesseLivezey commented on #592
@bendichter @ajtritt I tried to trace the `IntervalSeries` code to find where the `NaN` might get converted to a string, but couldn't figure out where attributes like `conversion` get written. I'm somewhat motivated to fix this since Ben suggested I use this for the dataset I'm converting to NWB. If either of you can give me some suggested places to look, I can try and find the problem and make a

[2018-09-10 03:43] bendichter commented on #592
@JesseLivezey Yes I think that's helpful! Probably that `NaN` is being interpreted as a string.

[2018-09-10 17:58] JesseLivezey commented on #592
Although it looks like this value is being used correctly up until some point
https://github.com/NeurodataWithoutBorders/pynwb/blob/c3a1bed686ff291bb0e523573b9b04ea073dcfc7/src/pynwb/base.py#L11
any idea where these type of attributes get written to the h5 file?

[2018-09-10 18:28] JesseLivezey commented on #592
It's 'NaN' already by this line.
https://github.com/NeurodataWithoutBorders/pynwb/blob/c3a1bed686ff291bb0e523573b9b04ea073dcfc7/src/pynwb/form/backends/hdf5/h5tools.py#L366

[2018-09-10 18:51] JesseLivezey commented on #592
Something happens here
https://github.com/NeurodataWithoutBorders/pynwb/blob/c3a1bed686ff291bb0e523573b9b04ea073dcfc7/src/pynwb/form/backends/io.py#L39

Both `conversion` and `resolution` become 'NaN' when they are both 1.0 in the preceding line.

[2018-09-10 20:05] bendichter commented on #592
tracked to here:
https://github.com/NeurodataWithoutBorders/pynwb/blob/c3a1bed686ff291bb0e523573b9b04ea073dcfc7/src/pynwb/form/build/map.py#L152

[2018-09-10 20:12] JesseLivezey commented on #592
@bendichter @ajtritt I think there are two problems

1) One problem is that there is no dtype check/conversion for non-string/text dtypes in this function
https://github.com/NeurodataWithoutBorders/pynwb/blob/c3a1bed686ff291bb0e523573b9b04ea073dcfc7/src/pynwb/form/build/map.py#L552
This is why 'NaN' is getting saved as a string and not a float.

2) A second problem is how default values are suppos

[2018-09-10 21:00] yarikoptic opened #607 "Please distribute tests/ within your source releases on PyPI"
ATM tarballs on pypi seems to lack `tests/`:
[code]
so redistributors (e.g. Debian) cannot assure correct operation of the pynwb, and would need to base their distribution on dumps of this git repository

[2018-09-10 21:20] bendichter commented on #592
@JesseLivezey `resolution` and `conversion` are meant for data that are measurements e.g. what is the resolution of a voltage recording and what's the conversion to get to volts. For IntervalSeries neither of these are really necessary or meaningful, since the data field is not a measurement, so any reasonable default float would work fine. Storing as a non-float breaks matnwb though. I'm not a bi

[2018-09-10 23:17] oruebel commented on #607
@dorukozturk @jcfr any thoughts on this?

[2018-09-10 23:42] yarikoptic opened #608 "test_roundtrip: "Member overlaps with another member" errors or segfaults on older Debian/Ubuntu"
## 1) Bug

### Steps to Reproduce

Running tests (using python -m unittest2) while building a backport package for Debian stretch (amd64), test_roundtrip in both tests.integration.ui_write.test_ophys.TestPlaneSegmentation and tests.integration.ui_write.test_ophys.TestRoiResponseSeriesIO  error out with

[code]

h5py there is 2.7.0-1.  This issue doesn't happen on newer Debian/Ubuntu's, and Ubuntu

[2018-09-11 00:32] bendichter commented on #608
Thanks for this report @yarikoptic. It's important for us to understand the limits of our OS support. I would think the issue is probably an HDF5 version problem. What are the HDF5 versions on the two systems? Is HDF5 version linked to h5py version in some way?

[2018-09-11 02:11] yarikoptic commented on #608
on that Debian one:
[code]

[2018-09-11 02:20] yarikoptic commented on #608
I would have said you are right that the cause is within the libhdf5 library itself, since upgrade to h5py 2.7.1 build didn't resolve the test failure :-/    **but** it is the same version of libhdf5-100 as on later Debians: https://packages.debian.org/search?keywords=libhdf5-100

[2018-09-11 02:27] yarikoptic commented on #608
he hey -- I was wrong!  I have missed that the failure after "upgrade" of h5py was in python3 run, and I've upgraded only python2 version.... confirming now that upgrade to h5py 2.7.1 resolves the failure there.
Unfortunately auto-backporting of 2.7.1 to ubuntu 16.04 fails (errors seems to point to absent linkage to libpython, but probably I will not mess with it ATM), so for now let's conclude th

[2018-09-11 13:04] yarikoptic opened #609 "RFC: upload 0.4.1+git41-gc3a1bed to (Neuro)Debian?"
I prepared a Debian package,  but did it on top of the current dev since had to generate a new tarball anyways (#607).  Any objections if I upload this snapshot to Debian (will take some time to get through NEW anyways) and NeuroDebian (backports for where it built/tested fine, #608)

[2018-09-11 16:17] oruebel commented on #608
Since you are using h5py 2.7 I am wondering whether this is related to the following issue in h5py which was reported after the 2.7 release:

https://github.com/h5py/h5py/issues/862

[2018-09-12 03:04] #592 closed, assigned to ajtritt

[2018-09-12 14:35] yarikoptic commented on #609
knock knock - if there would be no objections, I will upload later today ;-)

[2018-09-12 16:14] bendichter commented on #609
I'm going to cut a release of the latest dev branch. There have been some important fixes we need to get into the wild. Could you hold off until that's done? Should be 1 day max.

[2018-09-12 16:45] yarikoptic commented on #609
Sure!

[2018-09-12 16:48] ajtritt commented on #505
@bendichter yes

[2018-09-12 16:48] #505 closed, assigned to ajtritt

[2018-09-12 17:09] ajtritt commented on #206
I think this is obsolete. The gist is also not runnable, so it can't be tested.  Most of this functionality is taken care of elsewhere in the docs, so I will close for now.

[2018-09-12 17:09] #206 closed, assigned to ajtritt, oruebel

[2018-09-12 18:31] ajtritt commented on #291
This has been addressed here:

https://pynwb.readthedocs.io/en/latest/building_api.html
https://pynwb.readthedocs.io/en/latest/tutorials/general/extensions.html#sphx-glr-tutorials-general-extensions-py

[2018-09-12 18:31] #291 closed, assigned to ajtritt, oruebel

[2018-09-12 19:24] bendichter commented on #529
fixed on the entry point branch: 6a984671a7eab566d6311fec0d0e122aa1b88131

[code]
works

[2018-09-12 19:34] bendichter commented on #48
this is expected behavior.

[2018-09-12 19:34] #48 closed, assigned to bendichter, ajtritt

[2018-09-12 23:12] oruebel opened #614 "Avoid double write of spec"
## 1) Bug

``YAMLSpecWriter.write_spec`` currently writes the spec files and then reads/writes them again using ``reorder_yaml``.

[code]

Instead ``write_spec`` should sort and write the spec directly.

## Checklist

- [X] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues/) ?
- [X] Have you included a brief and descriptive ti

[2018-09-13 00:44] #384 closed, assigned to ajtritt, oruebel

[2018-09-13 04:48] bendichter commented on #609
technical difficulties but we should be cutting a release for 0.5.0 soon!

[2018-09-13 11:32] yarikoptic commented on #609
Thanks for the update. That is ok - I am not in a rush on this one. Just didn't want it to slip away from my attention

[2018-09-13 21:07] bendichter commented on #543
@dorukozturk @jcfr I'm having trouble cutting a release again. I followed the steps in the docs and I wa able to push version 0.5.0 to pynwb, but I think the release is not working because some of the tests are failing. I think these tests are failing because the Allen Institute server is not responding when we try to download the data for the conversion tests. I think I remember you guys talking

[2018-09-17 00:29] #543 closed, assigned to nobody

[2018-09-17 21:59] bendichter opened #619 "check shape in docval"
pynwb does not enforce that the shape of datasets matches the shape specification in the schema. matnwb expects datasets to follow the size rules specified by the schema, so this is causing a compatibility issue for files that are written in python and read in matlab. For example, it is possible to write a 1-D dataset to the variable `ecephys.`[WaveformClusters](https://github.com/NeurodataWithout

[2018-09-17 23:47] t-b commented on #619
Yes in general having a shape checker is a good thing to have.
I think in your case here you would even need to enforce a specific 2D array size or? If I read the spec correctly it says that you need `num_clusters` rows and `num_samples` columns.

[2018-09-18 00:21] oruebel commented on #619
From the specification language perspective the ``dims`` field is currently just naming/labeling dimensions, i.e., we currently don't yet have a way to express constraints that apply across datasets, e.g., to define that ``waveform_sd`` and ``waveform_mean`` must have the same shape. We have had discussion about how to express advanced constraints like this but so far this is still in the discussi

[2018-09-18 10:23] INF-Rene opened #621 "io.read() gives error on Allen NWB files"
## 1) Bug

When downloading NWB files through the AllenSDK I can't seem to read the files using the io.read() command after creating an NWBHDF5IO object. When I open the file with an external NWB reader there is no problem.

### Steps to Reproduce

I have obtained the nwb file using this code:

[code]
Then I navigate to the specimen folder where ephys.nwb is located and run the following code:
[co

[2018-09-18 16:16] oruebel commented on #621
@nicain can you respond to this issue?

[2018-09-18 16:37] nicain commented on #621
Thanks for the report, @INF-Rene!  Can you please give more detail about the external NWB reader that works successfully?  I am guessing that this is a NWB 1.x vs 2.0 issue, but I want to find the best way to route this information so that it can be addressed.  CC @sgratiy @dyf

[2018-09-18 22:58] bendichter commented on #619
@oruebel cool, thanks for pointing this out to me. However, importing `ShapeValidator` in form/utils causes a circular import. Any suggestions how we should resolve that?

[2018-09-18 23:06] oruebel commented on #619
I assume the circular import is due to docval. I think the cleanest solution here is to: 1) not use docval in ``ShapeValidator`` and to simply move the information to the docstring, 2) transplant ``ShapeValidator, ShapeValidatorResult, __get_shape_helper, get_shape`` into a new .py file. ``pynwb/form/validate/shapevalidator.py`` seems like it might be a good place. @ajtritt does that sound reasona

[2018-09-19 09:43] INF-Rene commented on #621
Thanks @nicain ! I'm sorry to say I was completely wrong about the external viewer. I mixed up with another file. I used HDFview 3.0.0, but the viewer said the file format is unsupported.

When I open the file in notepad I can see the file version in between the jibberish, which is NWB-1.0.5.

Hope this helps. If you want to try on the file you can download the file using the code in my opening po

[2018-09-19 19:31] bendichter commented on #619
OK. While I'm at it I'm de-classing `ShapeValidator`. It has no `__init__` and only static methods so I see no reason why it should be a class.

[2018-09-19 20:15] bendichter commented on #619
I separated ShapeValidator but I'm running into more import errors:

[code]

I'm not sure the most efficient way to re-organize in order to fix this cyclic import. `docval` is used quite extensively in `spec.spec`

[2018-09-19 20:34] oruebel commented on #619
Did you remove docval from shape validator? Are you making changes in ``spec.spec`` or this is a result of the refactor?

[2018-09-19 20:37] bendichter commented on #619
I did remove docval from shape validator. I have not made changes to spec.spec yet. I could if that's the best approach, but this is turning into a lot of docval -> docstring. I'm fine with doing that if it's the best approach, but I didn't want the PR to be a shock.

https://github.com/NeurodataWithoutBorders/pynwb/tree/shape_checker

[2018-09-19 20:47] oruebel commented on #619
Thanks for the pointer to the branch. It just wasn't clear to me what changes you made, i.e.,  I was not suggesting to change spec.spec . My schedule is crazy today so I don't have the chance to investigate in detail. From a quick look, I'd try to move ``from ..data_utils import DataChunkIterator`` in`` src/pynwb/form/validate/shapevalidator.py`` to make it a function-level import in ``get_data_sh

[2018-09-19 21:56] bendichter commented on #619
actually I putting `shapevalidator.py` in `src/pynwb/form/validate` might be causing an issue. It runs `src/pynwb/form/validate/__init__.py`, which attempts to import `form.utils`. I might be able to resolve this by moving `shapevalidator.py` somewhere else.

![image](https://user-images.githubusercontent.com/844306/45783833-eae50900-bc34-11e8-9cd1-181b4aa3cfb8.png)

[2018-09-19 22:00] oruebel commented on #619
@ajtritt do you thing ``pynwb/form/utils.py`` would be the right place for the shape validator?

[2018-09-19 23:57] ajtritt opened #623 "Make NWBFile/extracellular_ephys/electrodes a DynamicTable"
### Problem/Use Case
Currently, extracellular electrodes are stored in a table (i.e. a dataset with a compound type). The columns of the table are specified in the schema. This design requires users to make an extension to add additional metadata about electrodes to their file and limits users from adding new metadata to the electrode table after the file is written.

### Solution
1) Make NWBFile/

[2018-09-20 00:03] ajtritt commented on #619
If ShapeValidator is going to be used with docval, it should go in form.utils

[2018-09-20 02:07] yarikoptic commented on #609
I see the 0.5.1 tag, I guess time to update to that release and upload, right? ;)

[2018-09-20 03:48] bendichter commented on #609
Yes! Sorry the technical difficulties distracted me and I forgot to let you know. Please proceed with the upload when you have a chance

[2018-09-20 05:07] yarikoptic commented on #609
eh, will need to package from git anyways since #622 is not yet in, and 0.5.1 doesn't include tests.

[2018-09-20 13:52] yarikoptic opened #624 "older yaml. incompatibility with 0.5.1"
While building updated debian pkg across debian/ubuntus, on debian stable and similarly aged ubuntus got bombarded with multiple instances of similar error
[code]
due to recently introduced
[code]

on those systems python-ruamel.yaml (0.13.4-2), when recent ones have 0.15.34

I will quickly look into backporting that recent release for neurodebian but just wanted to bring to your attention since y

[2018-09-20 13:54] yarikoptic commented on #624
jesus... it was mercurial (hg) not git! so
[code]

[2018-09-20 15:35] bendichter commented on #624
OK so the story here is that "null" was originally used in the schema yamls, then I re-sorted the yamls to be more readable but in the process I accidentally deleted all the "null"s. I didn't notice because the yamls worked as expected, even without the "null"s, and all the tests passed. Still, this was an unplanned change to the schema language, so I added the above code so that the yamls would b

[2018-09-20 16:03] yarikoptic commented on #609
with the patch from #625 uploaded 0.5.1-1 into Debian proper (would take a while to get through NEW anyways) and NeuroDebian (should already be available from the main NH server, others will pick it up soon and page will get generated on the website).

[2018-09-20 16:03] #609 closed, assigned to nobody

[2018-09-20 16:08] #607 closed, assigned to nobody

[2018-09-20 16:20] bendichter commented on #619
@ajtritt

`get_data_shape` depends on `DataChunkIterator` and `DataChunkIterator` depends on `get_data_shape`, so moving just `get_data_shape` will cause an import error. Should I move `DataChunkIterator` as well?

[2018-09-20 16:32] oruebel commented on #619
I don't think ``DataChunkIterator`` should move. ``get_data_shape`` really just uses``DataChunkIterator`` to check for type.  in ``get_data_shape`` I think we can simply change the following code:

[code]

to

[code]

That should remove the dependence of the function on DataChunkIterator.

[2018-09-20 16:46] bendichter commented on #619
ok, good idea.

On Thu, Sep 20, 2018 at 12:32 PM Oliver Ruebel <notifications@github.com>
wrote:

--
----------
Ben Dichter, PhD
Data Science Consultant

[2018-09-20 17:05] oruebel opened #626 "dim scales: Enhance specification language and containers"
## 1) Feature Request

**Problem:** Currently the schema does not support direct association of datasets with dimensions of another datasets

**Proposed Solution**

**Part 1: Enhance the specification language:** Enhance the ``dims`` key in the specification language to not just allow a string to label a dimension but to provide a dict of the form

[code]

Here the ``scale`` key would refer to a d

[2018-09-20 17:56] #624 closed, assigned to nobody

[2018-09-20 20:24] bendichter commented on #626
If we are not going to yoke label with scale (which I'm fine with) I'd actually rather this go in 'shape'. I propose that you specify this by

[code]
Note that the current syntax of
[code]
is still valid. "null" (or blank) will be a special string that means "no scale matching." For all other non-int strings, dimensions of different datasets with matching string shape parameters must match.

How b

[2018-09-20 21:36] oruebel commented on #626
Just to clarify, this is an issue for 2.x and not something we are planing to do for the release. I only created the issue because it came up as a need for us and I want to create a record so I don't forget.

This should be limited to the scope of a Group/Dataset. This is in part to avoid having to support complex referencing of objects across the whole schema, and also for the purpose of "scales"

[2018-09-20 21:53] bendichter commented on #626
ah ok I was confused about what problem this was solving. Having scales is a good idea. In `TimeSeries` would `timestamps` be a scale of `data`?

For size matching, I think the solution I proposed above solves issue (3), but if we want to talk about that let's move it to another issue.

[2018-09-20 21:55] oruebel commented on #626
Yes

[2018-09-20 21:58] bendichter commented on #626
gotcha, OK. I think using scales will help us be more explicit about the data. Was there a specific motivating example that inspired this issue?

[2018-09-20 22:02] oruebel commented on #626
The motivation for this was the need for tools on top of PyNWB to be able to figure out dimensions programmatically.

[2018-09-20 22:03] bendichter commented on #626
You know HDF5 has a mechanism built exactly for this called

[2018-09-24 09:22] INF-Rene commented on #621
I just tried to open an NWB 2.0 file from the Allen institute and it gave me no problems. Is there any method to bulk convert NWB 1.x to 2.0 ?

[2018-09-24 11:16] t-b commented on #621
@INF-Rene Not that I'm aware of.

[2018-09-24 15:38] nicain commented on #621
@JFPerkins is working on some tooling to handle this for AIBS Brain Observatory files. Will that cover your needs? CC @sgratiy

[2018-09-25 11:22] lepmik opened #629 "New backend : Exdir"
Hi!

I'm considering adding an additional backend [exdir](https://www.frontiersin.org/articles/10.3389/fninf.2018.00016/full). Which should be one to one compatible with HDF5, so hopefully not to much work. I have spoken briefly about it with the NWB presenter at SfN 2017.

One issue, or question that comes up is how you determine attributes vs datasets. For example, `session_description`, `sesiso

[2018-09-25 11:38] INF-Rene commented on #621
That would be perfect! Thank you and let me know if there is anything I can do to help

[2018-09-25 14:09] ajtritt commented on #629
I don’t think they’re set in stone. Changing them to attributes wouldn’t effect PyNWB much, and I don’t think it would change the user-facing API.

I think, in general, we would be open to changing these if it would make an alternative backend easier to implement.

@oruebel, @bendichter what are your thoughts?

[2018-09-25 15:28] t-b commented on #629
@ajtritt @lepmik The dataset vs attribute discussion needs to take some intricacies of HDF5 into account. You can not compress attributes, can only read them in the whole and not change them an infinite number of times. See also https://github.com/NeurodataWithoutBorders/nwb-schema/issues/45#issue-253473032 for an earlier discussion on that topic.

[2018-09-25 16:21] oruebel commented on #629
@lepmik does exdir support links, object references, and region references? I played around with implementing a ZARR-based backend at some point and while dropping in ZARR for h5py worked fine, dealing properly with links and datasets of object and region references requires effort since they are not natively supported by ZARR.

From a backend perspective this is determined by the schema, i.e., th

[2018-09-26 07:14] lepmik commented on #629
@oruebel exdir does not support links, this is mainly to avoid cross platform issues e.g. symlinks in Windows vs Linux. However, object and region references should be trivial to implement as we are using `.npy` as dataset backend.

Are links absolutely necessary?

Sounds like we can edit the schema then to fit exdir more properly in terms of attributes vs datasets.

[2018-09-26 16:30] oruebel commented on #629
Changing the schema means changing the NWB format and as such effects everyone, not just exdir.

Ultimately a complete backend must implement all primitives of the specification language in some form, i.e., groups, attributes, datasets, links, all the various data types (including region/object references). Omitting a primitive means you cannot properly map the whole format.

I'm not sure this is

[2018-09-26 17:07] ajtritt commented on #629
Something like links is absolutely necessary. It is used to keep data normalized without implicit relationships. You could treat references and links the same, given that they are similar in spirit. As @oruebel said, references are treated as data, where as a link is treated as an object. References have the additional benefit of being "unbreakable". I can't think of instances where we rely on tha

[2018-09-26 17:22] NileGraddis opened #631 "feature: pandas interface for tables"
pandas is a widely-adopted and performant Python package for working with (and viewing!) tabular data. It would be useful if DynamicTable and NWBTable had methods for casting to and from pandas DataFrames.

I'm working on this [here](https://github.com/NileGraddis/pynwb/tree/feature/units-interface). If there are no objections, I'll keep going.

[2018-09-26 17:23] NileGraddis commented on #631
It might be reasonable to fold #623 into this work as well.

[2018-09-26 17:31] ajtritt commented on #631
As along as this is an optional feature, I have no objections.  Are you adding it as a property/method of DynamicTable?

[2018-09-26 17:37] bendichter commented on #631
Thanks @NileGraddis this is looking great!

[2018-09-26 17:43] NileGraddis commented on #631
@ajtritt I agree and am indeed implementing it that way
@bendichter Thanks!

[2018-09-26 18:13] ajtritt commented on #631
@NileGraddis one thing that might be problematic, and that you wouldn't know from the issue I created is that DynamicTable will eventually support *VectorData*/*VectorIndex*.

[2018-09-26 18:30] NileGraddis commented on #631
@ajtritt Thanks for the heads-up. My understanding from looking at the code is that IndexedVector implements an efficient store where data are concatenated into a vector (VectorData) and indices into that vector (VectorIndex) are used to recover individual items. Does this sound about right? When you say that DynamicTable will support this structure, do you mean that:
1. A column of a DynamicTable

[2018-09-26 21:40] ajtritt commented on #631
@NileGraddis  a VectorData-VectorIndex pair will be acceptable as column in the DynamicTable

[2018-09-27 19:55] NileGraddis commented on #631
@ajtritt What should be the return type of [:] (and of [i]) on a DynamicTableRegion? Currently for an NWBTableRegion, we get back a list of tuples (or one tuple in the singular case). This is easy to implement for DynamicTable, but has a couple disadvantages:
1. it makes users rely on order, rather than names
2. user code which works with entire tables requires special casing to also handle subset

[2018-09-27 20:14] ajtritt commented on #631
@NileGraddis returning something that behaves like a DataFrame would be preferable. I tried implementing \_\_getitem\_\_ so that it returned a [numpy structured array](https://docs.scipy.org/doc/numpy-1.10.1/user/basics.rec.html). I had to set it aside, but if I remember correctly, the crux was building *dtype*. You'll probably find my commented-out chunks of code, feel free to throw that out if i

[2018-09-27 22:22] ajtritt opened #632 "remove autodetection of dtype from HDF5IO"
### Problem/Use Case
HDF5IO has logic for automatically determining *dtype*. This leads to the risk of different dtype serialization for different backends. To avoid this, dtype should be detected in ObjectMapper and passed into FORMIO/HDF5IO through DatasetBuilder.

- [ ] Add *dtype* detection to ObjectMapper
- [ ] Establish keys that Builders accept and which FORMIO also understands. The keys cu

[2018-09-27 22:45] ajtritt opened #633 "pass neurodata_type_def refinements into ObjectMapper.build"
### Problem/Use Case
When using an existing *neurodata_type* (using `neurodata_type_inc`), you are allowed to further refine the *neurodata_type* specification without declaring a new *neurodata_type* (using `neurodata_type_def`).

Currently, the TypeMap and ObjectMappers do not know about these further refinements when building the Builder representation.

- [ ] modify BuildManager.build, TypeMap

[2018-09-28 17:00] ajtritt commented on #631
@NileGraddis I notice you made DynamicTableRegion an NWBDataInterface. This will be problematic, since in the schema, it extends NWBData (a dataset) and NWBDataInterface is a group. You might want to hold off until #634 gets merged so you can work on the DynamicTableRegion implementation I added

[2018-09-28 22:27] #335 closed, assigned to nobody

[2018-09-29 00:11] ajtritt commented on #631
#634 has been merged... I also started working on allowing VectorData/VectorIndex to go in DynamicTable. Part of that was moving IndexedVector functionality into VectorIndex, sorry about the moving target.

https://github.com/NeurodataWithoutBorders/pynwb/blob/f6ee7e6a0f7e9b250d25c6e992a178e33686924b/src/pynwb/core.py#L293

[2018-10-02 00:51] bendichter commented on #619
@ajtritt mentioned that getting the validator to run on write would solve this problem as well. That's a simpler solution, since it would not involve manually adding shape args to every dataset type. I still think this is valuable, but I agree with Andrew that the validator would solve this problem more quickly.

[2018-10-02 18:20] JFPerkins opened #636 "Wrapping data with H5DataIO results in different interfaces for accessing the numerical data when round-tripping"
## 1) Bug

When wrapping data in an H5DataIO object to support compression, the data interface when round-tripping is different. For example: when dealing with a TimeSeries, the TimeSeries for write has the actual data in TimeSeries.data.data, but the TimeSeries that is read in has the data in TimeSeries.data.

### Steps to Reproduce
[code]
### Environment
Please describe your environment accordin

[2018-10-02 21:46] oruebel commented on #636
Keeping the interface before write and after read exactly the same is challenging, in particular when we need to allow different variants for data as input for write (e.g., in this case for ``.data``). I agree that in an ideal world, the interfaces for write and read would always be the same, but I'm not sure this will always be possible. E.g., on write we may have a DataChunkIterator (or data str

[2018-10-03 01:09] oruebel commented on #636
If the main issue is that ```assert(np.allclose(ts_in.data, ts_out.data))``` then another simple solution would be to implement ``H5DataIO.__eq__``:
[code]

```H5DataIO.__eq__``` to just do ```ret

[2018-10-03 01:26] nicain commented on #636
Agreed, but this is critical, basic functionality, especially for a fundamental data structure like a Timeseries. In my opinion, if I can't take data and put it into a file and get the same data back out, the API is broken.  It would be like the json module allowing you marshal a dictionary to a string, but unmarshall to a list containing a dictionary.

What is the underlying source of this proble

[2018-10-03 02:39] bendichter commented on #636
I'm inclined to agree that data should be the same after a round trip (In
fact I made the exact same request when I found a discrepancy in UnitTimes)
however I think this requirement can be relaxed in specific situations.
Here we have a structure H5DataIO that adds important write features. This
class hold the data and instructions about how to store it e.g.
compression, iterative writing, chunkin

[2018-10-03 02:59] oruebel commented on #636
1. If you only use numpy arrays to define your array data then the API on read/write is the same.

2. Just to clarify the problem is not that the data you put in is not the same data you are getting back. The values you write are the values you get back. This is an interface issue not a data issue. What is different in this case is object representing the data.

3. The fundamental problem is that

[2018-10-03 15:03] ukos-git opened #638 "fix links in documentation"
Hello.
I am new to pynwb and was reading about the software architecture on readthedocs.

I noticed some broken links and some typos for example in [formio description](https://pynwb.readthedocs.io/en/latest/overview_software_architecture.html#formio)

I have collected my changes in a PR. Hope this will be a quick one, as it does not change (or add) anything functional.

[2018-10-03 17:31] ajtritt commented on #636
This issue is around getting *objects*--not data--when reading that are not identical to the objects used to write the data. Can someone explain why this feature is needed?

[2018-10-03 17:52] nicain commented on #636
OK, @JFPerkins @NileGraddis  and I just circled up about this.  My understanding now is that the DataIO wrapper base class provides an incomplete interface to the data that it wraps; it does expose its wrapped data as a property, but doesn't yet provide comparison or getitem methods to access the wrapped data in the same way. This is useful, but not required, for testing that the data assigned int

[2018-10-03 18:07] nicain commented on #636
Solving @JFPerkins issue/request:

[code]

[2018-10-03 18:20] ajtritt commented on #636
@nicain thanks for clarifying the use case. I'm okay with delegating attribute resolution down to `data`. I only ask that you include a comment to that code so we remember why we did that.

[2018-10-03 18:24] nicain commented on #636
@JFPerkins FYI I self assigned, and I will test functionality against your use case.

[2018-10-03 20:00] ajtritt opened #643 "Replace Epochs and ROITable with DynamicTable"
### Problem/Use Case
Making these structures DynamicTables will make it easier for users to add additional metadata. Currently, they must use an extension to include additional metadata.

This will have an impact on issues discussed in #637

## Checklist

- [X] Have you ensured the feature or change was not already [reported](https://github.com/NeurodataWithoutBorders/pynwb/issues/) ?
- [X] Have y

[2018-10-03 20:01] #631 closed, assigned to NileGraddis

[2018-10-03 20:37] ajtritt commented on #643
@neuromusic @bendichter @oruebel This change has a couple effects:

1) Pixel masks and image masks don't both need to be required. Are there any objections to allowing either or both?
2) ROIs get integer IDs, so they don't need a *name*.

IIRC, both of these were pain points, but I just wanted to double check. Is there anyone else that should weigh in on these?

[2018-10-03 21:21] oruebel commented on #643
If I recall previous discussion on this correctly (and may not) then at least one of pixel mask or image mask should always be required. I'm not sure if we can actually formally specify this in the current schema language (i.e., I think we can have both optional or both required but not an either/or). I think the "either or both " requirement is something we can currently only enforce on the API l

[2018-10-03 22:13] ajtritt commented on #643
@oruebel

That is correct. The API will enforce this.

[2018-10-03 22:27] mamelara opened #645 "Creating env with conda and requirements.txt shows dependency conflict"
## 1) Bug
When trying to create an environment based off of the requirements.txt, conda will throw an error
[code]
### Steps to Reproduce
[code]
### Environment
 **Python Executable:** Conda
**Python Version:**  Python 3.6
**Operating System:** macOS
**Pynwb Version:** git tag latest, branch dev

## Checklist

- [x] Have you ensured the feature or change was not already [reported](https://github.c

[2018-10-03 22:34] oruebel commented on #645
@NileGraddis #637 #631

[2018-10-04 00:39] nicain opened #646 "Epoch name appears to clobber other parts of file"
## 1) Bug

### Steps to Reproduce
[code]

output:
[code]
### Environment
Please describe your environment according to the following bullet points.
- **Python Executable:** Conda
- **Python Version:**Python 3.6
- **Operating System:** Linux
- **Pynwb Version:** git tag latest, branch dev

### Problem/Use Case
Briefly describe the needed feature as well as the reasoning behind it

It appears that t

[2018-10-04 00:50] bendichter commented on #643
I don't really care which one we use, but we should only require 1.

On Wed, Oct 3, 2018, 12:13 PM Andrew Tritt <notifications@github.com> wrote:

[2018-10-04 00:54] #636 closed, assigned to nicain

[2018-10-04 17:45] ajtritt commented on #646
#633 will address this. Right now, ObjectMapper doesn't see that the name is specified to be "epochs". When building the /epochs GroupBuilder, it only works off of the neurodata_type_def specification (i.e. from nwb.epochs.yaml) and doesn't see that NWBFile has set it's name to be "epochs".

[2018-10-04 23:49] nicain opened #647 "Documentation broken link: "Edit on github" on read-the-docs"
## 1) Bug

Documentation redirect link is broken; on https://pynwb.readthedocs.io/en/latest/index.html, the top-right "Edit on github" link points to:

[code]

which returns 404.

[2018-10-05 00:08] oruebel commented on #647
Just as an additional data point, this seems to be an issue of ``latest`` build  while for the ``stable`` build the links seem  to work. I.e., the links on https://pynwb.readthedocs.io/en/stable/ are ok and on https://pynwb.readthedocs.io/en/latest they are broken.

It seems like there are a bunch of issue tickets for this sort of problem on readthedocs, but I have not found the right solution for

[2018-10-05 14:06] ukos-git opened #649 "Software Architecture"
pynwb really gave me a hard time getting to know the class interactions.

_Originally posted by @t-b in https://github.com/NeurodataWithoutBorders/pynwb/pull/641#issuecomment-427126050_

But I don't think, I can do this alone because I'm new to pynwb, do not fully see all the interfaces and it will probably not be correct having limited time. So this graph is open for collaboration.

The goal is a

[2018-10-05 15:07] ajtritt commented on #649
Have you looked at this?

https://pynwb.readthedocs.io/en/latest/overview_software_architecture.html

[2018-10-05 15:41] ukos-git opened #650 "RuntimeWarning in numpy==1.15"
## minor (Warning) Bug

We currently only support numpy 1.14.2. This was the newest available in cbb3043f updated by  @dorukozturk  (2018-04-05 23:14:29 -0700)

newer versions of numpy add a warning, if the size of a dtype element changes. This is probably due to a programming error at data_type handling

### Steps to Reproduce
[code]
### Environment

- **Python Executable:** python
- **Python Ver

[2018-10-05 16:37] ukos-git opened #651 "python3.7 install numpy 1.14.2"
## 1) Bug

Can not install requirements for python 3.7 using pip

### Steps to Reproduce
[code]
### Environment
Please describe your environment according to the following bullet points.
- **Python Executable:** python
- **Python Version:** Python 3.7.1rc1
- **Operating System:**Ubuntu 18.04
- **Pynwb Version:** 430ae547afb1f454c6e7df636914ea082fc36fc2

### Problem/Use Case
There seem to be CPytho

[2018-10-05 16:42] ukos-git commented on #650
sorry. We do not support 3.7, right?

[2018-10-05 16:43] ukos-git commented on #651
sorry I just overlooked, that pynwb does not support 3.7, right? - I just tested and there are no problems on 3.6.

Probably closing this would be best, except if the package update is fine.

[2018-10-05 16:59] bendichter opened #653 "outdated dimension matching tests"
## 1) Bug

test_ephys is attempting to check for dimension matching here.

https://github.com/NeurodataWithoutBorders/pynwb/blob/4b0077c64e015ddfa05a3cb696dba32b92d05dd0/tests/unit/pynwb_tests/test_ephys.py#L198-L228

The tests pass, but for the wrong reason. The tests check that e.g. if `description` and `electrodes` don’t have matching length a `TypeError` is thrown. I was trying to change this

[2018-10-05 17:11] ukos-git commented on #649
I understand that it is hard to see any difference, but I was interested in the interfaces that connect the classes. There is no graph for this in the software architecture section. I wanted to have a base to talk about introduced changes in my PR https://github.com/NeurodataWithoutBorders/pynwb/pull/641

Other than that, the graphs are not built in an updatable manner. They seem a bit lost and do

[2018-10-05 18:09] oruebel commented on #649
@ukos-git the PowerPoint files with the current figures are in the folder [docs/source/figures](https://github.com/NeurodataWithoutBorders/pynwb/tree/dev/docs/source/figures). I agree that PowerPoint is not an ideal process but we simply have not had the chance yet to translate the figures into other tools, but at least it gives you editable sources to start from.

Writing documentation is a hard

[2018-10-06 00:25] ajtritt opened #654 "simplify NWBFile.create_electrode_table_region"
NWBFile.create_electrode_table_region should use self.electrodes.get_region instead of creating a DynamicTableRegion on its own.

[2018-10-06 00:57] ajtritt opened #655 "raise Error for orphaned containers"
### Problem/Use Case
Currently, orphaned containers i.e. containers with no parent result in a raised warning. This should raise an Error instead.

The relevant code is in pynwb.form.build.map.ObjectMapper.__add_containers:
https://github.com/NeurodataWithoutBorders/pynwb/blob/f671b8d7c8692e48fadd3e6314856ff3bd642421/src/pynwb/form/build/map.py#L777-L783

This will likely break some tests and will

[2018-10-08 17:54] NileGraddis opened #656 "possible to have multiple valid dtypes?"
This is an issue that @JFPerkins and I ran into with imagemasks. The dtype is [specified as float](https://github.com/NeurodataWithoutBorders/pynwb/blob/dev/src/pynwb/data/nwb.ophys.yaml#L4), which makes sense for representing a weighted mask. However, if we have an unweighted mask or one with a discrete enumeration of possible weights it would be more space efficient to store the roi masks as an

[2018-10-08 18:50] bendichter opened #657 "NWBFile.add_electrodes arguments"
The arguments include group and group_name. What is the purpose of having both of these? If the user is allowed to enter either, that should be documented.

Also, "description" is mentioned as a required argument in the docstring, but it is not even an optional argument (though it can of course be added)

[2018-10-08 18:56] ajtritt commented on #657
*group_name* for querying, since *group* is a reference. *group_name* probably shouldn't even be exposed to the user, and just be inferred in the API.

[2018-10-08 19:04] ukos-git commented on #650
**test installation from a wheel** on circleci uses numpy 15.2 anyway so this has to be addressed one time or another.

[code]

[2018-10-08 19:13] bendichter commented on #657
There's some funky stuff going on with `description` in the `electrodes` tables.

In the docs, it says that "description" is a required arg, but it is not even an optional arg.

If I write an electrodes table without adding `description` to the table, I get the following warning:
[code]
I attempted to add `description` to `electrodes` and I got the following error on write:
[code]